.page-zhimacredit-order-success{}
.page-zhimacredit-order-success .block{
    padding: .1rem;
}

.page-zhimacredit-order-success .block-order-success-info{
    text-align: center;
    background-color: #fff;
}
.page-zhimacredit-order-success .block-order-success-info .iconfont {
    line-height: 1.2;
    font-size: .6rem;
    color: #66cc99;
}
.page-zhimacredit-order-success .block-order-success-info .ok-tip{
    color: #6c9;
    font-size: .16rem;
}
.page-zhimacredit-order-success .block-order-success-info .ok-desc{
    padding: .08rem 0;
}

.page-zhimacredit-order-success .block-order-success-tips{
    background-color: #fff;
    color: #666;
}
.page-zhimacredit-order-success .block-order-success-tips ul{
    padding: .1rem 0 .1rem .4rem;
    list-style: decimal;
    color: #000;
}

.page-zhimacredit-order-success .block-order-success-order-info{
    background-color: #fff;
}
.page-zhimacredit-order-success .block-order-success-order-info .col-left-fixed{
    color: #999;
}

.page-zhimacredit-order-success .btn{
    border-radius: 0;
    font-size: .14rem;
}
.page-zhimacredit-order-success .btn-go-home-page{
    margin: 0 .05rem 0 .1rem;
    display: block;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color: #000;
    background-color: #fff;
}
.page-zhimacredit-order-success .btn-go-order-detail{
    margin: 0 .1rem 0 .05rem;
    display: block;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color: #fff;
    background-color: #6c9;
}

/**/
.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips{
    padding: .04rem .1rem;
    background-color: #fff;
}

.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips .col-left-fixed{
    width: 0.8444444444444444rem;
    height: 0.8444444444444444rem;
    background: url(https://p0.ssl.qhmsg.com/t017361a9de1284e83e.png) no-repeat center;
    background-size: contain;
}

.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips .col-right{
    padding-top: .2rem;
    font-size: .14rem;
}

.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips .col-right b{
    color: #ff4500;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips .row-shophs-shop-info{
    padding: .2rem 0;
    color: #666;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-success-tips .row-shophs-shop-info .col-12-5{
    text-align: right;
}
/**/

/**/
.page-zhimacredit-order-success .block-border-img {
    width: 100%;
    height: 0.07111111111111111rem;
    background: url(https://p3.ssl.qhmsg.com/t01d59cb5c4a160ef73.png) no-repeat center;
    background-size: cover;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info{
    padding: 0;
    background-color: #fff;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row{
    margin: 0 auto;
    width: 3rem;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row-express-tips{
    padding: .12rem 0;
    font-size: .14rem;
    text-align: center;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row-express-tips b{
    color: #ff4500;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row-pickup-address{
    padding: .12rem 0;
    color: #666;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row-pickup-address .col-left-fixed{
    padding-left: .25rem;
    width: 72%;
    background: url(https://p1.ssl.qhmsg.com/t01e337b2e2864abaa1.png) no-repeat 0 center;
    background-size: 0.24rem 0.24rem;
}
.page-zhimacredit-order-success .block-zhimacredit-shophs-schedule-express-info .row-pickup-address .col-right{
    text-align: right;
}
/**/

/*信用回收预付款信息*/
.page-zhimacredit-order-success .block-zhimacredit-prepay {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: #fff;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-overview {
    margin: 0 .1rem;
    padding: .1rem 0;
    line-height: 2;
    font-size: .14rem;
    color: #ff4500;
    border-bottom: 1px solid #e6e6e6;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail {
    border-top: 0;
    padding: .16rem .1rem;
    font-size: .12rem;
    line-height: 2;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail .row-desc {
    color: #999;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail .col-12-4 {
    width: 28%;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail .col-12-1 {
    width: 7%;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail .col-12-2 {
    width: 30%;
}

.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail b {
    font-size: .18rem;
}
.page-zhimacredit-order-success .block-zhimacredit-prepay .content-detail .final-price {
    color: #ff4500;
}
