.block-inner {
    width: 1200px;
    margin: 0 auto;
}

.page-hd-black-friday {
    background: #000;
}

.page-hd-black-friday .block1,
.page-hd-black-friday .block1-up {
    background: #000 url(https://p.ssl.qhimg.com/t010a04d761c4bb3b3c.jpg) no-repeat center 0;
}

.page-hd-black-friday .block1-up {
    /*padding-top: 416px;*/
    height: 416px;
}

.page-hd-black-friday .block1-down,
.page-hd-black-friday .block1-down .block-inner {
    background: #000 url(https://p.ssl.qhimg.com/t019508717c4f91d1a3.png) no-repeat center bottom;
}

.page-hd-black-friday .block1-down .block-inner {
    padding-bottom: 495px;
}

.page-hd-black-friday .block2 {
}
.page-hd-black-friday .block2 .brand-pic-list{
    margin-top: -410px;
    margin-bottom: 20px;
}

.page-hd-black-friday .block3 {
    padding-bottom: 20px;
}

.page-hd-black-friday .block4 {
    padding-bottom: 100px;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item,
.page-hd-black-friday .brand-pic-list .brand-pic-item:hover {
    float: left;
    display: block;
    width: 300px;
    height: 200px;
    font-size: 0;
    background-image: url(https://p.ssl.qhimg.com/t01435371c07709bab1.jpg);
    text-decoration: none;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-meizu {
    background-position: 0 0;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-le {
    background-position: -300px 0;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-oppo {
    background-position: -600px 0;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-vivo {
    background-position: -900px 0;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-huawei {
    background-position: 0 -200px;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-mi {
    background-position: -300px -200px;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-samsung {
    background-position: -600px -200px;
}

.page-hd-black-friday .brand-pic-list .brand-pic-item-apple {
    background-position: -900px -200px;
}

.page-hd-black-friday .pagination a {
    border-radius: 0;
    border: 1px solid #d6c179;
    color: #d6c179;
}
.page-hd-black-friday .pagination a:hover,
.page-hd-black-friday .pagination span {
    border: 1px solid #d6c179;
    background: #d6c179;
    color: #000;
}

/* 商品列表 */
.page-hd-black-friday .product-list{
    min-height: 335px;
}

.page-hd-black-friday .product-list .item {
    position: relative;
    float: left;
    background: #fff;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.page-hd-black-friday .product-list .item a {
    display: block;
    width: 179px;
    height: 275px;
    padding: 30px
}

.page-hd-black-friday .product-list .item a:hover {
    text-decoration: none;
}

.page-hd-black-friday .product-list .p-img {
    width: 110px;
    height: 110px;
    margin: 0px auto 10px;
}

.page-hd-black-friday .product-list .p-img img {
    width: 100%;
}

.page-hd-black-friday .product-list .p-tit {
    font-size: 14px;
    padding: 0px 0 4px;
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: 20px;
    height: 38px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.page-hd-black-friday .product-list .p-price-new {
    line-height: 100%;
    color: #999;
    font-size: 12px;
    padding: 25px 0 10px;
}

.page-hd-black-friday .product-list .p-price-new .price-tit { }

.page-hd-black-friday .product-list .p-price-new .price-cnt {
    text-decoration: line-through;
}

.page-hd-black-friday .product-list .p-price {
    font-size: 14px;
    color: #f30;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f30;
    border-radius: 15px;
    overflow: hidden;
}

.page-hd-black-friday .product-list .p-price .price-tit {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 68px;
    height: 30px;
    /*border-radius: 20px 0 0 20px;*/
    background: #f30;
    color: #fff;
}

.page-hd-black-friday .product-list .p-price .price-cnt {
    font-size: 18px;
    padding-left: 15px;
}

.page-hd-black-friday .product-list .btn-qiang {
    margin: 10px auto 0;
    display: none;
    width: 175px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fe4d4e;
    font-size: 16px;
    color: #fe4d4e;
    /*border: 2px solid #f43b3c;*/
    /*font-size: 18px;*/
    /*color: #f43b3c;*/
    text-align: center;
}

.page-hd-black-friday .product-list .item a:hover .btn-qiang {
    background: #fe4d4e;
    color: #fff;
}

.page-hd-black-friday .product-list .btn-disabled,
.page-hd-black-friday .product-list .item a:hover .btn-disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
}

.page-hd-black-friday .product-list .p-label {
    position: absolute;
    top: 0;
    left: 4px;
    width: 49px;
}

.page-hd-black-friday .product-list .offset-label {
    position: absolute;
    top: 0;
    left: 4px;
    padding: 8px 0;
    width: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background: #f53b3c;
}

.page-hd-black-friday .product-list .p-label-soldout {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    text-align: center;
    line-height: 200px;
}

.page-hd-black-friday .product-list .countdown{
    padding-top: 15px;
}
.page-hd-black-friday .product-list .countdown span{
    font-size: 14px;
    color: #ff3000;
    display: none;
    vertical-align: middle;
    line-height: 1;
}
.page-hd-black-friday .product-list .countdown .desc-txt,
.page-hd-black-friday .product-list .countdown .h-txt,
.page-hd-black-friday .product-list .countdown .m-txt{
    color: #333;
    display: inline;
}
.page-hd-black-friday .product-list .countdown .h-num,
.page-hd-black-friday .product-list .countdown .m-num,
.page-hd-black-friday .product-list .countdown .s-num{
    display: inline;
}

/* END 商品列表 */
