.page-zhimacredit-order{}

.page-zhimacredit-order #Main .main-inner{
    margin-bottom: .86rem;
}

/*芝麻信用预付款说明*/
.page-zhimacredit-order .block-zhimacredit-prepay-desc{
    padding: .12rem 0;
    background-color: #fff;
}
.page-zhimacredit-order .block-zhimacredit-prepay-desc .tit{
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    color: #fff;
    background-color: #66cc99;
}
.page-zhimacredit-order .block-zhimacredit-prepay-desc .tit-inner{
    padding-left: .26rem;
    display: inline-block;
    background: url(https://p1.ssl.qhmsg.com/t0115af6076a4be1d4d.jpg) no-repeat 0 center;
    background-size: .24rem .24rem;
}
.page-zhimacredit-order .block-zhimacredit-prepay-desc .block-table{
    margin: .1rem .16rem 0;
    text-align: center;
    line-height: 2.4;
}
.page-zhimacredit-order .block-zhimacredit-prepay-desc .block-table .table-row-head{
    background-color: #f4f4f4;
}
/* END 芝麻信用预付款说明*/

.page-zhimacredit-order .block-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
}

.page-zhimacredit-order .assess-report-section{
    position: fixed;
}
