a,a:hover{
    text-decoration: none;
}

.page-hd-huishou-suning-v {
    background:#fff;
    font-size: .12rem;
}

.page-hd-huishou-suning-v .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-huishou-suning-v .block {
    margin: 0 auto;
}

.page-hd-huishou-suning-v .block1{
    height: 2.3509333333333333rem;
    background: url("https://p5.ssl.qhimg.com/t019feafc3324da835a.jpg") no-repeat center 0;
    background-size: cover;
}
.page-hd-huishou-suning-v .block2{
    height: 1.2885333333333333rem;
    background: url("https://p5.ssl.qhimg.com/t01ae2e6bc1b687b84d.jpg") no-repeat center 0;
    background-size: cover;
}
.page-hd-huishou-suning-v .block2 a{
    width: 2.4rem;
    height: .36rem;
    position: absolute;
    left: .39rem;
    top: .18rem;
}
.page-hd-huishou-suning-v .block3{
    height: 2.0522666666666667rem;
    background: url("https://p0.ssl.qhimg.com/t01c9636acd15a18e28.jpg") no-repeat center 0;
    background-size: cover;
}
.page-hd-huishou-suning-v .block4{
    /*height: 1.1136rem;*/
    background: url("https://p5.ssl.qhimg.com/t01c2abbcf5cd34d25e.jpg") no-repeat center 0;
    background-size: contain;
}
.page-hd-huishou-suning-v .block4 .desc-cont{
    font-size: .1rem;
    color: #505050;
    line-height: 1.4;
    padding: .45rem .15rem .1rem;
}
.page-hd-huishou-suning-v .block4 .desc-cont p{
    padding-bottom: .05rem;
    display: flex;
}
.page-hd-huishou-suning-v .block4 .desc-cont p i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: .16rem;
    height: .16rem;
    border-radius: 999px;
    background-color: #c82d2b;
    color: #fff;
    margin-right: .03rem;
}
.page-hd-huishou-suning-v .block5{
    height: 2.0778666666666665rem;
    background: url("https://p5.ssl.qhimg.com/t017080d8ad99defe70.jpg") no-repeat center 0;
    background-size: cover;
}
.page-hd-huishou-suning-v .block5 a{
    width: 1.6rem;
    height: .24rem;
    position: absolute;
    left: .8rem;
    top: 1.8rem;
}















