/* amazon-mate9换新 */
.page-hd-huanxin-amazon-mate9 {
}

.page-hd-huanxin-amazon-mate9 .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
    background-color: #bab5b1;
    color: #333;
    font-size: .12rem;
}

.page-hd-huanxin-amazon-mate9 .block {
    width: 100%;
    text-align: center;
}

.page-hd-huanxin-amazon-mate9 .block1 {
    height: 2rem;
    background: url(https://p2.ssl.qhmsg.com/t011083d95006aded60.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-amazon-mate9 .block2 {
    height: 2rem;
    background: url(https://p1.ssl.qhmsg.com/t01ae245c90955d5423.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-amazon-mate9 .block3 {
    padding-top: 1px;
    height: 2rem;
    background: url(https://p4.ssl.qhmsg.com/t019529b64130487d62.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-amazon-mate9 .block3 .btn-liji-huanxin-trigger{
    margin: -0.2rem auto 0;
    display: block;
    width: 2.35rem;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: .24rem;
    color: #fff;
    background: #977635;
    font-weight: bold;
    text-align: center;
    border-radius: .08rem;
}

.page-hd-huanxin-amazon-mate9 .block5 {
    background: url(https://p1.ssl.qhmsg.com/t01d3704a5f0ce15031.jpg) no-repeat center .9rem;
    background-size: contain;
    font-size: .14rem;
}

.page-hd-huanxin-amazon-mate9 .block5 .support-city {
    margin-top: -.14rem;
}

.page-hd-huanxin-amazon-mate9 .block5 .post-address {
    margin-top: .2rem;
}

.page-hd-huanxin-amazon-mate9 .block4 {
    padding-top: .2rem;
    padding-bottom: .3rem;
    text-align: left;
}

.page-hd-huanxin-amazon-mate9 .block4 h3 {
    margin-bottom: .1rem;
    font-size: .24rem;
    text-align: center;
}

.page-hd-huanxin-amazon-mate9 .block4 ul{
    padding: 0 .12rem 0 .26rem;
    list-style-type: decimal;
}
.page-hd-huanxin-amazon-mate9 .block4 ul li{
    margin-bottom: .1rem;
}
.page-hd-huanxin-amazon-mate9 .block4 .tips {
    line-height: 3;
    /*font-size: .14rem;*/
    text-align: center;
}
.page-hd-huanxin-amazon-mate9 .block4 .contact-tel {
    line-height: 3;
    text-align: center;
    font-size: .18rem;
}
.page-hd-huanxin-amazon-mate9 .block4 .btn-details-dialog-trigger{
    color: #333;
    text-decoration: underline;
}

/*选择不同产品弹窗*/
.dialog-amazon-mate9-select-product-wrap{
    background-color: #fff;
    border: 0;
    border-radius: 0;
}
.dialog-amazon-mate9-select-product-wrap .dialog-close,
.dialog-amazon-mate9-select-product-wrap .dialog-close:hover{
    top: -.18rem;
    left: 50%;
    right: 50%;
    margin-left: -.18rem;
}
.dialog-amazon-mate9-select-product-wrap .dialog-inner{
    padding: .3rem 0 0.1rem;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list{ }
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .col-2-1,
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .col-2-1:hover{
    margin-bottom: .2rem;
    line-height: 1.4;
    color: #272928;
    font-size: .14rem;
    text-align: center;
    border-right: 1px solid #efefef;
    text-decoration: none;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .col-2-1:nth-child(2n){
    border: 0;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .p-figure {
    margin: 0 auto .05rem;
    width: 1.3rem;
    height: 1.3rem;
    background: transparent no-repeat center;
    background-size: cover;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .p-name {

}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .p-origin-price {
    color: #aaa;
    font-size: .12rem;
    line-height: 1.6;
    margin-top: .05rem;
    text-decoration: line-through;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .p-price {
    color: #b50d11;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .btn {
    margin: 0.08rem auto 0;
    display: block;
    width: 75%;
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem;
    background-color: #b50d11;
    color: #fff;
    border-radius: 999px;
}
.dialog-amazon-mate9-select-product-wrap .dialog-tips{
    font-size: .16rem;
    color: #b50d11;
    text-align: center;
    line-height: 1.4;
}
/*活动说明及条款*/
.page-hd-huanxin-amazon-mate9 .dialog-amazon-mate9-activity-details-wrap{
    background: #fff;
}
.page-hd-huanxin-amazon-mate9 .dialog-amazon-mate9-activity-details-wrap .dialog-inner{
    padding: .1rem;
}
.page-hd-huanxin-amazon-mate9 .dialog-amazon-mate9-activity-details-wrap h3{
    font-size: .14rem;
    font-weight: bold;
}
.page-hd-huanxin-amazon-mate9 .dialog-amazon-mate9-activity-details-wrap ol{
    padding: .1rem 0 .1rem .25rem;
    height: 3.2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: .12rem;
}
.page-hd-huanxin-amazon-mate9 .dialog-amazon-mate9-activity-details-wrap li{
    list-style-type: decimal;
}

