/* tmall kindle换新 */
.page-hd-huanxin-tmall-kindle {
}

.page-hd-huanxin-tmall-kindle .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
    /*background-color: #b50d11;*/
    /*color: #fff;*/
    background-color: #f5f5f4;
    color: #333333;
    font-size: .12rem;
}

.page-hd-huanxin-tmall-kindle .block {
    width: 100%;
    text-align: center;
}

.page-hd-huanxin-tmall-kindle .block1 {
    height: 1.6rem;
    /*background: url(https://p0.ssl.qhmsg.com/t010f63374998234069.jpg) no-repeat center;*/
    background: url(https://p1.ssl.qhmsg.com/t014df543f68e788db5.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-tmall-kindle .block2 {
    height: 1.6rem;
    /*background: url(https://p2.ssl.qhmsg.com/t01f5b588b593a41f8e.jpg) no-repeat center;*/
    background: url(https://p0.ssl.qhmsg.com/t0139eff22aba1b98dd.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-tmall-kindle .block3 {
    padding-top: 1px;
    /*height: 1.6rem;*/
    /*background: url(https://p4.ssl.qhmsg.com/t01f5f9a466bb81fa8d.jpg) no-repeat center;*/
    height: 1.3644444444444443rem;
    background: url(https://p2.ssl.qhmsg.com/t01a13517e6c1155ef5.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huanxin-tmall-kindle .block3 .btn-liji-huanxin-trigger{
    /*margin: .88rem auto 0 auto;*/
    /*display: block;*/
    /*width: 2.417777777777778rem;*/
    /*height: 0.4711111111111111rem;*/
    /*line-height: 0.4311111111111111rem;*/
    /*border: .02rem solid #fff;*/
    /*font-size: .24rem;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*border-radius: .08rem;*/
    margin: .55rem auto 0 auto;
    display: block;
    width: 2.6rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: .2rem;
    background: #fd6389;
    color: #fff;
    text-align: center;
    border-radius: 0;
}

.page-hd-huanxin-tmall-kindle .block4 {
    /*height: 1.6rem;*/
    /*background: url(https://p0.ssl.qhmsg.com/t01276c369f05f5b6b4.png) no-repeat center 0;*/
    height: 1.52rem;
    background: url(https://p0.ssl.qhmsg.com/t01b8d23d5f954b46c3.png) no-repeat center 0;
    background-size: contain;
    text-align: center;
}

.page-hd-huanxin-tmall-kindle .block4 h3 {
    display: none;
    font-size: .24rem;
    text-align: center;
}

.page-hd-huanxin-tmall-kindle .block4 ul {
    display: none;
    margin: .8rem .08rem 0 .08rem;
    font-size: .11rem;
}

.page-hd-huanxin-tmall-kindle .block5 {
    background: url(https://p1.ssl.qhmsg.com/t01d3704a5f0ce15031.jpg) no-repeat center .9rem;
    background-size: contain;
    font-size: .14rem;
}

.page-hd-huanxin-tmall-kindle .block5 .support-city {
    margin-top: -.14rem;
}

.page-hd-huanxin-tmall-kindle .block5 .post-address {
    margin-top: .2rem;
}

.page-hd-huanxin-tmall-kindle .block6 {
    /*margin-top: -.14rem;*/
    /*padding-top: .3rem;*/
    /*padding-bottom: .3rem;*/
    /*background: url(https://p4.ssl.qhmsg.com/t012ccdd91b7e3ed002.jpg) no-repeat center 0;*/
    /*background-size: contain;*/
    /*text-align: left;*/
    padding-bottom: .3rem;
    text-align: left;
}

.page-hd-huanxin-tmall-kindle .block6 h3 {
    /*margin-bottom: .1rem;*/
    /*font-size: .24rem;*/
    /*text-align: center;*/
    margin: .1rem 0 .05rem;
    font-size: .22rem;
    text-align: center;
}

.page-hd-huanxin-tmall-kindle .block6 ul{
    padding: 0 .12rem 0 .26rem;
    list-style-type: decimal;
}
.page-hd-huanxin-tmall-kindle .block6 ul li{
    margin-bottom: .1rem;
}
.page-hd-huanxin-tmall-kindle .block6 .tips {
    line-height: 3;
    /*font-size: .14rem;*/
    text-align: center;
}
.page-hd-huanxin-tmall-kindle .block6 .contact-tel {
    line-height: 3;
    text-align: center;
    font-size: .16rem;
}
.page-hd-huanxin-tmall-kindle .block6 .btn-details-dialog-trigger{
    /*color: #fff;*/
    color: #333333;
    text-decoration: underline;
}

/* 换新kindle列表 */
.huanxin-kindle-panel{
    background-color: #fff;
    border: 0;
    border-radius: 0;
}
.huanxin-kindle-panel .dialog-close,
.huanxin-kindle-panel .dialog-close:hover{
    top: -.18rem;
    left: 50%;
    right: 50%;
    margin-left: -.18rem;
}
.huanxin-kindle-panel .dialog-inner{
    padding: .3rem 0 0.1rem;
}
.huanxin-kindle-panel .kindle-list{ }
.huanxin-kindle-panel .kindle-list .col-2-1,
.huanxin-kindle-panel .kindle-list .col-2-1:hover{
    margin-bottom: .2rem;
    line-height: 1.4;
    color: #272928;
    font-size: .14rem;
    text-align: center;
    border-right: 1px solid #efefef;
    text-decoration: none;
}
.huanxin-kindle-panel .kindle-list .col-2-1:nth-child(2n){
    border: 0;
}
.huanxin-kindle-panel .kindle-list .p-figure {
    margin: 0 auto .05rem;
    width: 1.3rem;
    height: 1.3rem;
    background: transparent no-repeat center;
    background-size: contain;
}
.huanxin-kindle-panel .kindle-list .p-name {

}
.huanxin-kindle-panel .kindle-list .p-origin-price {
    color: #aaa;
    font-size: .12rem;
    line-height: 1.6;
    margin-top: .05rem;
    text-decoration: line-through;
}
.huanxin-kindle-panel .kindle-list .p-price {
    /*color: #b50d11;*/
    color: #fd6389;
}
.huanxin-kindle-panel .kindle-list .btn {
    margin: 0.08rem auto 0;
    display: block;
    width: 75%;
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem;
    /*background-color: #b50d11;*/
    background-color: #fd6389;
    color: #fff;
    border-radius: 999px;
}
.huanxin-kindle-panel .dialog-tips{
    font-size: .16rem;
    /*color: #b50d11;*/
    color: #fd6389;
    text-align: center;
    line-height: 1.4;
}
.huanxin-kindle-panel .dialog-tips span{
    font-size: .12rem;
    color: #333;
}

/*活动说明及条款*/
.page-hd-huanxin-tmall-kindle .dialog-kindle-activity-details-wrap{
    background: #fff;
}
.page-hd-huanxin-tmall-kindle .dialog-kindle-activity-details-wrap .dialog-inner{
    padding: .1rem;
}
.page-hd-huanxin-tmall-kindle .dialog-kindle-activity-details-wrap h3{
    font-size: .14rem;
    font-weight: bold;
}
.page-hd-huanxin-tmall-kindle .dialog-kindle-activity-details-wrap ol{
    padding: .1rem 0 .1rem .25rem;
    height: 3.2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: .12rem;
}
.page-hd-huanxin-tmall-kindle .dialog-kindle-activity-details-wrap li{
    list-style-type: decimal;
}


/* 放假通知 */
.block-big-rest-notice{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    margin: 0 auto;
    padding: .14rem 0;
    min-width: 320px;
    max-width: 1080px;
    background: #f63b4a url(https://p0.ssl.qhmsg.com/t018667f119a8e40c97.jpg) repeat-y 0 0;
    background-size: contain;
    color: #ffe9a3;
    text-align: center;
    font-size: .12rem;
}
.block-big-rest-notice .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: .36rem;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    font-size: .16rem;
    color: #ffe9a3;
}
.block-big-rest-notice h4{
    padding-bottom: .1rem;
    font-size: .16rem;
    line-height: 1;
}
.trigger-show-big-rest-notice{
    position: fixed;
    right: 0;
    bottom: 1rem;
    z-index: 999999;
    display: none;
    width: 0.72rem;
    height: 0.72rem;
    line-height: 1;
    text-align: center;
    font-size: 0;
    color: #ffe9a3;
    /*background: #f63b4a;*/
    background: url(https://p4.ssl.qhimg.com/t0168748deb32958386.png) no-repeat 0 0;
    background-size: cover;
}
/* END 放假通知 */
