/* START 物品信息 */
.page-xxg-order-detail-v2020 .block-order-product {
    padding: 0 .12rem;
    overflow: hidden;
    background-color: #fff;
}

.page-xxg-order-detail-v2020 .block-order-product .product-thumb {
    margin: .17rem .1rem .13rem 0;
    width: 0.7rem;
    height: 0.7rem;
    background: #f5f5f5 no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail-v2020 .block-order-product .product-label {
    margin: 0 auto;
    display: block;
    width: 0.53rem;
    height: 0.2rem;
    background: transparent no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail-v2020 .block-order-product .product-label.product-label-old {
    background-image: url(https://p3.ssl.qhmsg.com/t01c545abd2bb30047a.png);
}

.page-xxg-order-detail-v2020 .block-order-product .product-label.product-label-new {
    background-image: url(https://p0.ssl.qhmsg.com/t01ea4861b85cee464b.png);
}

.page-xxg-order-detail-v2020 .block-order-product .product-name {
    padding-top: .17rem;
    line-height: 1.68;
    color: #000;
}

.page-xxg-order-detail-v2020 .block-order-product .product-status {
    padding-left: .06rem;
    font-size: .11rem;
}

.page-xxg-order-detail-v2020 .block-order-product .product-price {
    align-items: flex-end;
    padding-bottom: .1rem;
}

.page-xxg-order-detail-v2020 .block-order-product .product-price-deal-done {
}

.page-xxg-order-detail-v2020 .block-order-product .block-price-info {
    margin: 0 -.12rem;
    padding: .12rem;
    color: #000;
}

.page-xxg-order-detail-v2020 .block-order-product .block-price-info .shrink {
    color: #999;
}

/* END 物品信息 */
