/* START 按钮行 */
.page-xxg-order-detail-v2020 .block-order-bottom-btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
    overflow: hidden;
    background-color: #fff;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn {
    padding: .1rem;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn {
    display: block;
    height: .4rem;
    line-height: .4rem;
    border-radius: 0.08rem;
    font-size: .14rem;
    white-space: nowrap;
    color: #fff;
    background-color: #f84;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-go-next {
    background-color: #16a654;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-go-next.btn-go-next-scan {
    padding: .12rem;
    height: auto;
    line-height: 1.4;
    background-color: #1373fb;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-go-next.btn-go-next-scan .btn-go-next-scan-ext {
    display: block;
    font-size: 0.1rem;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-go-next.btn-go-next-scan.btn-go-next-lock,
.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-go-next.btn-go-next-lock {
    background-color: #ddd;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-disabled {
    background-color: #ddd;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-cancel {
    background-color: #999;
}

.page-xxg-order-detail-v2020 .block-order-bottom-btn .row-btn .btn.btn-old-deal-cancel {
    background: #f5f5f5;
    border: thin solid #dadada;
    color: #000;
}

/* END 按钮行 */
