/* START 直接购买新机 */
.page-xxg-order-detail-v2020 .sf-fix-order-full-pay {
    padding: .1rem;
    overflow: hidden;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .title {
    line-height: 3;
    font-size: 0.17rem;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .product-thumb {
    margin: .17rem .1rem .13rem 0;
    width: 0.7rem;
    height: 0.7rem;
    background: #f5f5f5 no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .product-name {
    padding-top: .17rem;
    line-height: 1.68;
    color: #000;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .product-price {
    align-items: flex-end;
    padding-bottom: .1rem;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .block-price-info {
    margin: 0 -.12rem;
    padding: .12rem;
    color: #000;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .block-price-info .shrink {
    color: #999;
}

.page-xxg-order-detail-v2020 .sf-fix-order-full-pay .block-full-pay-bottom {
    margin-top: .2rem;
}

/* END 直接购买新机 */
