/* START 旧机评估 */

.page-xxg-order-detail .block-order-deal {
    padding: 0 .12rem .06rem;
    overflow: hidden;
    background-color: #fff;
    color: #000;
}

.page-xxg-order-detail .block-order-deal .assess-diff {
    color: #f55456 !important;
}

.page-xxg-order-detail .block-order-deal .assess-same {
    color: #17a654 !important;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail {
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .assess-item {
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .assess-item-title {
    width: .83rem;
    color: #333;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .assess-item-text {
    color: #000;
    font-weight: 500;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .assess-item .assess-item-info {
    font-size: .1rem;
    line-height: 2;
    color: #999;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .btn {
    margin: .1rem auto;
    display: flex;
    width: 1.17rem;
    color: #666;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .btn span {
    padding-right: .2rem;
    display: block;
}

.page-xxg-order-detail .block-order-deal .block-assess-detail .assess-item-same-tip .iconfont {
    margin-left: .02rem;
}

.page-xxg-order-detail .block-order-deal .block-title .assess-info .iconfont {
    margin-left: .02rem;
}

.page-xxg-order-detail .block-order-deal .block-order-base-info-extend {
    display: none;
    color: inherit;
}

.page-xxg-order-detail .block-order-deal .block-order-base-info-extend > .grid,
.page-xxg-order-detail .block-order-deal > .grid {
    padding-bottom: 1px;
}

.page-xxg-order-detail .block-order-deal .input-none-border input {
    background-color: transparent;
}

.page-xxg-order-detail .block-order-deal .btn-show-assess-options,
.page-xxg-order-detail .block-order-deal .btn-show-assess-sku {
    height: .36rem;
    line-height: .36rem;
    color: #000;
}

.page-xxg-order-detail .block-order-deal .btn-show-assess-options .iconfont,
.page-xxg-order-detail .block-order-deal .btn-show-assess-sku .iconfont {
    font-size: .12rem;
}

.page-xxg-order-detail .block-order-deal .btn-scan-qrcode {
    margin: .14rem 0;
    width: 100%;
    border-color: #16a654;
    color: #16a654;
}

.page-xxg-order-detail .block-order-deal .btn-scan-qrcode .iconfont {
    margin-right: .04rem;
}

.page-xxg-order-detail .block-order-deal .row-order-deal-price .input-none-border {
    min-width: .6rem;
}

.page-xxg-order-detail .block-order-deal .row-order-deal-price .price-structure-add-price {
    min-width: .8rem;
}

.page-xxg-order-detail .block-order-deal .row-order-deal-price .col-update-deal-price {
    width: .8rem;
}

.page-xxg-order-detail .block-order-deal .trigger-expand-n-collapse {
    display: block;
    width: 100%;
    color: #999;
}

.page-xxg-order-detail .block-order-deal .trigger-expand-n-collapse:hover {
    text-decoration: none;
}

.page-xxg-order-detail .block-order-deal .trigger-expand-n-collapse:active {
    background-color: rgba(204, 204, 204, 0.10);
}

.page-xxg-order-detail .block-order-deal .trigger-expand-n-collapse:after {
    right: 50%;
}

/* END 旧机评估 */

