/* kindle换新 */
.page-hd-huaxin-irobot {
}

.page-hd-huaxin-irobot .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
    background-color: #bb1013;
    color: #ffe8a0;
    font-size: .12rem;
}

.page-hd-huaxin-irobot .block {
    width: 100%;
    text-align: center;
}

.page-hd-huaxin-irobot .block1 {
    height: .8rem;
    background: url(https://p1.ssl.qhmsg.com/t0139b1009a6c156d03.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huaxin-irobot .block2 {
    height: .8rem;
    background: url(https://p3.ssl.qhmsg.com/t013c1b5cf0d1011399.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huaxin-irobot .block3 {
    height: .8rem;
    background: url(https://p2.ssl.qhmsg.com/t010a544c1c4f013dfb.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huaxin-irobot .block4 {
    height: .8rem;
    background: url(https://p4.ssl.qhmsg.com/t01c5b8a2afd7e9df9a.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huaxin-irobot .block5 {
    height: .8rem;
    background: url(https://p3.ssl.qhmsg.com/t011da403ef5f63aa13.jpg) no-repeat center;
    background-size: cover;
}

.page-hd-huaxin-irobot .block6 {
    padding-top: 1px;
    height: .8rem;
    background: url(https://p2.ssl.qhmsg.com/t01af47ea15db5f78dd.jpg) no-repeat center;
    background-size: cover;
}
.page-hd-huaxin-irobot .block7 {
    height: 1.6rem;
    background: url(https://p0.ssl.qhmsg.com/t01b665c204619295f0.jpg) no-repeat center;
    background-size: cover;
}
.page-hd-huaxin-irobot .block-tit{
    padding: .1rem 0;
}
.page-hd-huaxin-irobot .block8 {
    margin-top: -.1rem;
    text-align: left;
}

.page-hd-huaxin-irobot .block-tit{
    font-size: .24rem;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.page-hd-huaxin-irobot .block-huanxin-step {
    margin: .65rem .08rem 0 .08rem;
    font-size: .1rem;
}

.page-hd-huaxin-irobot .block-intro{
    padding: 0 .12rem 0 .12rem;
    counter-reset: list;
}
.page-hd-huaxin-irobot .block-intro li{
    padding: 0 0 .1rem .2rem;
    text-indent: -.24rem;
}
.page-hd-huaxin-irobot .block-intro li:before{
    margin-right: .04rem;
    display: inline-block;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    font-size: .14rem;
    color: #bb1013;
    background-color: #ffe8a0;
    border-radius: 999px;
    text-align: center;
    text-indent: 0;
    content: counter(list);
    counter-increment: list;
    vertical-align: middle;
}

.page-hd-huaxin-irobot .contact-tel {
    line-height: 3;
    text-align: center;
    font-size: .18rem;
}

.page-hd-huaxin-irobot .btn-liji-huanxin-trigger{
    margin: .3rem auto 0 auto;
    display: block;
    width: 2.417777777777778rem;
    height: 0.4711111111111111rem;
    line-height: 0.4311111111111111rem;
    border: 0;
    font-size: .24rem;
    color: #fff;
    text-align: center;
    border-radius: .08rem;
}


/* 换新kindle列表 */
.huanxin-irobot-panel{
    background-color: #fff;
    border: 0;
    border-radius: 0;
}
.huanxin-irobot-panel .dialog-close,
.huanxin-irobot-panel .dialog-close:hover{
    top: -.18rem;
    left: 50%;
    right: 50%;
    margin-left: -.18rem;
}
.huanxin-irobot-panel .dialog-inner{
    padding: .3rem 0 0 0;
}
.huanxin-irobot-panel .kindle-list{ }
.huanxin-irobot-panel .kindle-list .col-2-1,
.huanxin-irobot-panel .kindle-list .col-2-1:hover{
    margin-bottom: .2rem;
    line-height: 2.4;
    color: #272928;
    font-size: .14rem;
    text-align: center;
    border-right: 1px solid #efefef;
    text-decoration: none;
}
.huanxin-irobot-panel .kindle-list .col-2-1:nth-child(2n){
    border: 0;
}
.huanxin-irobot-panel .kindle-list .p-figure {
    margin: 0 auto .1rem auto;
    width: 1.4rem;
    height: 1.4rem;
    background: transparent no-repeat center;
    background-size: cover;
}
.huanxin-irobot-panel .kindle-list .p-name {
    line-height: 1.4;
}
.huanxin-irobot-panel .kindle-list .p-origin-price {
    margin-top: .08rem;
    font-size: .12rem;
    line-height: 1.6;
    text-decoration: line-through;
    color: #aaa;
}
.huanxin-irobot-panel .kindle-list .p-price {
    margin-bottom: .08rem;
    line-height: 1.6;
    color: #bb1013;
}
.huanxin-irobot-panel .kindle-list .btn {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem;
    background-color: #bb1013;
    color: #fff;
    border-radius: 999px;
}
