#header{
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    height: .44rem;
    line-height: .44rem;
}
.header-inner{
    position: relative;
    z-index: 6;
    display: block;
    width: 100%;
    min-width: 320px;
}
.header-inner .h-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.header-inner .h-left .iconfont-back{
    display: inline-block;
    width: .44rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    vertical-align: top;
    font-size: .16rem;
    color: #666;
}
/*.header-inner .h-left .iconfont-back:hover,*/
/*.header-inner .h-left .iconfont-back:active{background:#0e6d44;}*/
.header-inner .h-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.header-inner .h-center{
    width: 2.32rem;
    height: .44rem;
    position: absolute;
    left: 0.44rem;
    top: 0;
}
.header-inner .lp-logo{
    width: 1.32rem;
    height: 0.3688888888888889rem;
    /*width: 2.355294117647058rem;*/
    /*height:.44rem;*/
    margin: 0.06rem auto;
    background: url("https://p0.ssl.qhmsg.com/t016b1440b5e4810448.jpg") no-repeat center 0;
    background-size: cover;
    text-indent: -999px;
}
.header-inner .lp-logo a{
    display: block;
    height: 100%;
}
.header-inner .h-right .h-search-icon{
    display: block;
    width: .44rem;
    height: .44rem;
    line-height: .44rem;
    font-size: .20rem;
    text-align: center;
    color: #fff;
}
.header-inner .h-right .h-search-icon:hover{
    text-decoration: none;
    /*background: #0E6D44;*/
}
/*右部客户信息:我的订单、在线客服*/
.header-inner .h-right .h-user-info-wrap{
    position: relative;
    display: inline-block;
    font-size: 0;
}
.header-inner .h-right .h-user-info-enter,
.header-inner .h-right .h-user-info-enter:hover
.header-inner .h-right .h-user-info-enter:active,
.header-inner .h-right .h-user-info-enter:visited{
    background: transparent;
    color: #666;
    display: inline-block;
    width: .34rem;
    font-size: .24rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    text-decoration: none;
}
.header-inner .h-right .h-user-info-cont{
    display: none;
    position: absolute;
    right: .03rem;
    top: .44rem;
    width: .88rem;
    background-color: rgba(0,0,0,.8);
    border-radius: .04rem;
    z-index: 999;
}
.header-inner .h-right .h-user-info-cont .icon-jiantoushang ,
.header-inner .h-right .h-user-info-cont .icon-jiantoushang:before{
    color: rgba(0,0,0,.8);
    height: .12rem;
    font-size: .12rem;
    line-height: .12rem;
    position: absolute;
    right: .04rem;
    top: -.055rem;
}
.header-inner .h-right .h-user-info-cont .h-user-info-list li{
    height: .34rem;
    line-height: .34rem;
    color: #fff;
    text-align: center;
}
.header-inner .h-right .h-user-info-cont .h-user-info-list a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: .12rem;
}
.header-inner .h-right .h-user-info-cont .h-user-info-list .iconfont {
    padding-right: .04rem;
}