.product-list .item{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 .1rem .12rem;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-top: 1px solid transparent;
}
.product-list .item:nth-child(even){
    border-left: 1px solid transparent;
}
.product-list .item a{
    display: block;
}
.product-list .item a:hover{
    text-decoration: none;
}
.product-list .p-img{
    width: 1.2rem;
    height: 1.3rem;
    margin: 0.03rem auto;
}
.product-list .p-img img{
    width: 100%;
}
.product-list .p-tit{
    height: .32rem;
    font-size: .12rem;
    /*padding-top: .05rem;*/
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: .16rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.product-list .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: .1rem;
    padding-top: .08rem;
}
.product-list .p-price-new .price-tit{
}
.product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.product-list .p-price{
    line-height: 100%;
    padding-top: .05rem;
    font-size: .12rem;
    color: #ff3300;
}
.product-list .p-price .price-cnt{
    font-size: .15rem;
}

.product-list .btn-qiang{
    margin: .1rem auto 0;
    display: block;
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    background: #fe4d4e;
    font-size: .14rem;
    color: #fff;
    text-align: center;
}
.product-list .btn-disabled{
    background-color: #ddd;
}
.product-list .offset-label{
    position: absolute;
    top: 0;
    left: .04rem;
    padding: .08rem 0;
    width: .4rem;
    /*height: .6rem;*/
    text-align: center;
    font-size: .1rem;
    line-height: 1.4;
    color: #fff;
    background: #f53b3c;
}