.top-nav{
    height: .3rem;
}
.top-nav .top-nav-inner{
    display: flex;
}
.top-nav .top-nav-inner li{
    width: 100%;
    line-height: .3rem;
    text-align: center;
}
.top-nav .top-nav-inner a{
    color: #666;
    font-size: .12rem;
    padding: .04rem 0;
}
.top-nav .cur a,.top-nav a:hover,.top-nav a:active{
    color: #128855;
    border-bottom: .03rem solid #128855;
    text-decoration: none;
}
