/* 手机检测app专用样式 */
.m-huishou-detect {
}

.m-huishou-detect.page-index .block-model-list,
.m-huishou-detect.page-index .block-brand-list {
    top: .44rem;
}

/*partner detect qrcode*/
.m-huishou-detect .block-detect-partner-order-submit {
    padding: .1rem 0;
    text-align: center;
}

.m-huishou-detect .block-detect-partner-order-submit .tit {
    font-size: .14rem;
    line-height: 3;
    color: #333;
}

.m-huishou-detect .block-detect-partner-order-submit .qrcode {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
}
