/* 以旧换新专用样式 */
.m-huishou-huanxin {}

.block-top-huanxin {
    font-size: .12rem;
    background: #fff;
}

/* 首页 */
.m-huishou-huanxin.page-index .block-model-list,
.m-huishou-huanxin.page-index .block-brand-list {
    top: 1.79rem;
}

/* 评估页 */
.m-huishou-huanxin.page-assess .block-assess-model{
    height: 1.35rem;
}
.m-huishou-huanxin.page-assess .block-inner-page{
    padding-top: 1.35rem;
}

/* 评估结果下单页 */
.m-huishou-huanxin.page-order .row-top-tip,
.m-huishou-huanxin.page-order .row-bottom-tip{
    padding-bottom: .1rem;
    height: auto;
    line-height: 1.6;
}

/*换新商品列表*/
.m-huanxin-new-product-list-wrap{
    background-color: #fff;
}
.m-huanxin-new-product-list-wrap .dialog-inner{
    padding: .20rem 0 .10rem .10rem;
    height: 100%;
    overflow-y: auto;
}

.m-huanxin-new-product-list-wrap .new-p-list{}
.m-huanxin-new-product-list-wrap .new-p-list img{
    width: 100%;
}
.m-huanxin-new-product-list-wrap .new-p-list .p-tit{
    font-size: .12rem;
    line-height: 2;
    text-align: center;
    color: #202020;
    background: transparent;
}
.m-huanxin-new-product-list-wrap .new-p-list .p-price{
    color: #666;
    font-size: .14rem;
    text-align: center;
    line-height: 2.2;
}
.m-huanxin-new-product-list-wrap .new-p-list .item-btn-line{
    padding: .02rem;
    font-size: .12rem;
    color: #97020E;
    background: #fff;
    border: 1px solid #97020E;
    text-align: center;
}
.m-huanxin-new-product-list-wrap .new-p-list .item-btn-line .p{
    color: #97020E;
}
.m-huanxin-new-product-list-wrap .new-p-list .item-btn-line .p-price{
    padding-right: .02rem;
    color: #97020E;
}
.m-huanxin-new-product-list-wrap .new-p-list li{
    padding: 0 .10rem .10rem 0;
    display: inline-block;
    width: 50%;
    background: transparent;
}
.m-huanxin-new-product-list-wrap .new-p-list li a,
.m-huanxin-new-product-list-wrap .new-p-list li a:hover{
    display: block;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}


/*换新商品详情*/
.m-huanxin-new-product-detail-wrap{
    background-color: #fff;
}

.m-huanxin-new-product-detail-wrap .dialog-inner{
    padding: .10rem 0 .10rem .10rem;
    height: 100%;
    overflow-y: auto;
}

.m-huanxin-new-product-detail-wrap .product-info{
    position: relative;
    padding-bottom: .20rem;
}
.m-huanxin-new-product-detail-wrap .product-info .col-left-fixed{
    width: 30%;
}
.m-huanxin-new-product-detail-wrap .product-info .col-right{
    margin-left: 33%;
}
.m-huanxin-new-product-detail-wrap .product-info .p-img{
    width: 100%;
}
.m-huanxin-new-product-detail-wrap .product-info .desc{
    margin-bottom: .02rem;
    color: #8F8F8F;
}
.m-huanxin-new-product-detail-wrap .product-info .p-name{
    padding-bottom: .02rem;
    font-size: .16rem;
}
.m-huanxin-new-product-detail-wrap .product-info .p-price{
    padding-bottom: .02rem;
    font-size: .12rem;
    color: #999;
}
.m-huanxin-new-product-detail-wrap .product-info .p-price .show-price{
    padding-right: .15rem;
    font-size: .16rem;
    color: #FF3300;
}
.m-huanxin-new-product-detail-wrap .product-info .label{
    position: absolute;
    left: 30%;
    right: -.10rem;
}
.m-huanxin-new-product-detail-wrap .product-info .label span{
    float: left;
    margin-right: 4px;
    padding: 5px 8px;
    color: #019DDE;
    background: #E4F7FF;
    border-radius: 999px;
    font-size: 12px;
}
.m-huanxin-new-product-detail-wrap .product-attr{}
.m-huanxin-new-product-detail-wrap .product-attr .tit{
    margin-bottom: 4px;
    padding: 4px;
    color: #666;
}
.m-huanxin-new-product-detail-wrap .product-attr .tit span{
    margin-right: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 999px;
}
.m-huanxin-new-product-detail-wrap .product-attr .item{
    float: left;
    /*display: inline-block;*/
    display: block;
    width: 33.33333333333%;
}
.m-huanxin-new-product-detail-wrap .product-attr .item a{
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 0;
    display: block;
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: #fff;
}
.m-huanxin-new-product-detail-wrap .product-attr .item .cur{
    border: 1px solid #88CC11;
}
.m-huanxin-new-product-detail-wrap .product-attr .item .disabled{
    border: 1px dashed #B2B2B2;
}
.m-huanxin-new-product-detail-wrap .product-attr .item .disabled-hover{
    border: 1px dashed #B2B2B2;
}
.m-huanxin-new-product-detail-wrap .product-attr .item a img{
    width: 60%;
}
.m-huanxin-new-product-detail-wrap .product-attr .item a em{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    width: 12px;
    height: 12px;
    background: url(https://p.ssl.qhimg.com/t0189d9af70fa6d78c9.png) no-repeat center;
    background-size: 12px;
}
.m-huanxin-new-product-detail-wrap .product-attr .item .cur em{
    display: block;
}
.m-huanxin-new-product-detail-wrap .product-attr-line{
    margin-bottom: 8px;
}
.m-huanxin-new-product-detail-wrap .product-info-btn-line{
    margin: 0 10px 0 0;
    color: #666;
    line-height: 44px;
}
.m-huanxin-new-product-detail-wrap .product-info-btn-line .col-right{
    /*margin-left: 180px;*/
}
.m-huanxin-new-product-detail-wrap .goto-huanxinji-btn{
    margin: 0 auto;
    display: block;
    width: 60%;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #fff;
    background: #FFD800;
    text-align: center;
    border-radius: 4px;
}

