/*合作伙伴-江苏移动*/
.m-huishou-partner-jiangsu-yidong.m-huishou .btn-yellow {
    background-color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .btn-green {
    background: #97d7b9;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .block-assess_report-product .btn-show-assess-report,
.m-huishou-partner-jiangsu-yidong.m-huishou .block-assess_report-product .btn-reassess {
    background-color: #0087da;
    color: #fff;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .shipping-address-select-block .ctrl-item.ctrl-ok {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .huishou-protocol-panel-wrap .close-btn,
.m-huishou-partner-jiangsu-yidong.m-huishou .huishou-white-goods-protocol-panel-wrap .close-btn {
    background-color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .bang-ui-dialog .btn-box-alert .ui-btn {
    background-color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .ui-datetime .date-curr,
.m-huishou-partner-jiangsu-yidong.m-huishou .ui-datetime .time-curr {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .ui-datetime .ctrl-item.ctrl-ok {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .block-schedule-pickup .btn.btn-submit {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .block-schedule-pickup-success .btn {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.m-huishou .agree-protocol-label [type="checkbox"]:checked {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.page-index .block-recycle-cate-tab .item-selected .cate-name {
    color: #0087da;
    border-bottom: solid 3px #0087da;
}

.m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item.checked {
    color: #0087da;
    border-top: 1px solid #0087da;
    border-left: 3px solid #0087da;
}

.m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item.checked-next {
    border-top: 1px solid #0087da;
}

.m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item .item-inner {
    display: block;
    border-right: 1px solid #0087da;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item.checked-next,
    .m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item.checked {
        border-top: 0;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #0087da));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
    }

    .m-huishou-partner-jiangsu-yidong.page-index .block-brand-list .item .item-inner {
        border: 0;
        background-position: right top;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #0087da));
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
    }
}

.m-huishou-partner-jiangsu-yidong.page-index .block-brand-list.inner-col-3 .item .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-partner-jiangsu-yidong.page-index .block-brand-list.inner-col-3 .item .item-inner {
        border: 0;
        background-image: none;
    }
}


.page-index .block-brand-list .item.checked .item-inner {
    border-right: none;
    background-image: none;
}

.m-huishou-partner-jiangsu-yidong.page-assess .block-process-status-bar .block-inner {
    background-color: #b6e5ff;
}

.m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
    border: 1px solid #0087da;
    background-color: #b6e5ff;
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-box .option-item .icon-circle-solid-q {
    color: #0087da;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-box .option-item:before {
        border: 1px solid #f6f6f6;
    }

    .m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
        border: 0;
    }

    .m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected:before {
        border: 1px solid #0087da;
    }
}

.m-huishou-partner-jiangsu-yidong.page-assess .block-assess-info .block-option-group .row-option-selected .btn-action {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .block-trend-grid {
    background-color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .block-trend-grid .gird-pg {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .block-city .switch-city {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .shipping-address-select-block .i-item.selected {
    color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-hs-style-checked .icon-circle {
    display: none;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .block-order-form {
    color: #333;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row {
    height: auto;
    line-height: .36rem;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .block-sub-order-form .row {
    height: .44rem;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method {
    padding-top: .04rem;
    padding-bottom: .04rem;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .col-left-fixed {
    width: .24rem;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .col-right {
    margin-left: .24rem;
    /*margin-bottom: .08rem;*/
    line-height: 1.68;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .payout-method-radio {
    margin-top: .01rem;
    display: inline-block;
    vertical-align: top;
    width: .14rem;
    height: .14rem;
    border: 1px solid #999;
    border-radius: 999px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .payout-method-radio-inner {
    margin: .04rem auto;
    width: .06rem;
    height: .06rem;
    border-radius: 999px;
    background-color: transparent;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .payout-method-radio-checked {
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .payout-method-radio-checked .payout-method-radio-inner {
    background-color: #666;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .tit {
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method .desc {
    color: #f50;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method.row-jiangsu-yidong-payout-method-disabled {
    color: #d0d0d0;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-jiangsu-yidong-payout-method.row-jiangsu-yidong-payout-method-disabled .payout-method-radio {
    border: 1px solid #d0d0d0;
    background-color: #ebebeb;
}

.m-huishou-partner-jiangsu-yidong .block-trend-grid {
    background-image: url(https://p.ssl.qhimg.com/t01e82836e337de1d71.png);
}


.m-huishou-partner-jiangsu-yidong .page-order_submit .block-order-form .row-payout-method .payout-method-item.b-radius-green {
    color: #0087da;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-partner-jiangsu-yidong .b-radius-green:before {
        border: 1px solid #0087da;
    }
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .block-order-form .btn-send-vcode {
    color: #0087da;
    background-color: transparent;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row.row-use-promo {
    padding-top: .1rem;
}

.m-huishou-partner-jiangsu-yidong .page-order_submit .row-use-promo .use-promo-wrap .promo-selector,
.m-huishou-partner-jiangsu-yidong .page-order_submit .row-use-promo .use-promo-wrap .promo-code {
    width: 100%;
}

.m-huishou-partner-jiangsu-yidong .block-assess_report-product .btn-reassess {
    background-color: #0087da;
}

.m-huishou-partner-jiangsu-yidong .block-order-style .service-type-icon {
    color: #0087da;

}

.m-huishou-partner-jiangsu-yidong .page-order_submit .block-order-form .row-payout-method .payout-method-item.b-radius-green {
    background-color: #b6e5ff;
}

