/*合作伙伴-丰修*/
/*基础颜色 #000*/
/*浅色颜色 #555*/
/*显著颜色 #ee3142*/
/*渐变按钮浅色 #eb0028*/
/*渐变按钮深色 #ee3142*/
/*未选中背景色 #f6f6f6*/
/*已选中背景色 #ffecee*/
body {
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

.m-huishou-partner-fengxiu .b-top {
    border-top: 1px solid #f6f6f6;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-partner-fengxiu .b-top {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
    }
}

.m-huishou-partner-fengxiu.m-huishou .btn-yellow {
    display: block;
    width: 100%;
    /*height: .44rem;*/
    /*line-height: .44rem;*/
    background: #ee3142;
    background: -webkit-gradient(linear, left top, right top, from(#ee3142), to(#eb0028));
    box-shadow: 0 0.05rem 0.2rem #ee314233;
    color: #fff;
}

.m-huishou-partner-fengxiu.m-huishou .block-assess_report-product .btn-show-assess-report,
.m-huishou-partner-fengxiu.m-huishou .block-assess_report-product .btn-reassess {
    color: #fff;
    background: #ee3142;
    background: -webkit-gradient(linear, left top, right top, from(#ee3142), to(#eb0028));
}

.m-huishou-partner-fengxiu.m-huishou .shipping-address-select-block .ctrl-item.ctrl-ok,
.m-huishou-partner-fengxiu.m-huishou .shipping-address-select-block .i-item.selected {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.m-huishou .huishou-protocol-panel-wrap .close-btn,
.m-huishou-partner-fengxiu.m-huishou .huishou-white-goods-protocol-panel-wrap .close-btn {
    background: #ee3142;
    background: -webkit-gradient(linear, left top, right top, from(#ee3142), to(#eb0028));
}

.m-huishou-partner-fengxiu.m-huishou .bang-ui-dialog .btn-box-alert .ui-btn {
    background-color: #ee3142;
}

.m-huishou-partner-fengxiu.m-huishou .ui-datetime .date-curr,
.m-huishou-partner-fengxiu.m-huishou .ui-datetime .time-curr,
.m-huishou-partner-fengxiu.m-huishou .ui-datetime .ctrl-item.ctrl-ok {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.m-huishou .block-schedule-pickup .btn.btn-submit {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.m-huishou .block-schedule-pickup-success .cnt-inner .c2,
.m-huishou-partner-fengxiu.m-huishou .block-schedule-pickup-success .btn {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.m-huishou .agree-protocol-label [type="checkbox"]:checked {
    color: #ee3142;
}

/* START 首页 */
.m-huishou-partner-fengxiu.page-index .block-top {
    display: block !important;
}

.m-huishou-partner-fengxiu.page-index .block-top header {
    background: #fff;
}

.m-huishou-partner-fengxiu.page-index .block-top .block-top-banner {
    height: 1.3rem;
    /*background: transparent url(https://p5.ssl.qhimg.com/t01c6475f7f6166235b.png) no-repeat center;*/
    background: transparent url(//p0.ssl.qhimg.com/t01644997338bd1ad30.png) no-repeat center;
    background-size: cover;
}

.m-huishou-partner-fengxiu.page-index .block-recycle-cate-tab .item-selected .cate-name {
    color: #ee3142;
    border-bottom: solid 3px #ee3142;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item {
    color: #000;
}

.m-huishou-partner-fengxiu.page-index .block-model-list .item {
    color: #555;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item {
    background-color: #f6f6f6;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked {
    color: #ee3142;
    background-color: #fff;
    border-top: 1px solid #f6f6f6;
    border-left: 3px solid #ee3142;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked-next {
    border-top: 1px solid #f6f6f6;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item .item-inner {
    display: block;
    border-right: 1px solid #f6f6f6;
}

.m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked-next,
    .m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked {
        border-top: 0;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
    }

    .m-huishou-partner-fengxiu.page-index .block-brand-list .item .item-inner {
        border: 0;
        background-position: right top;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
    }

    .m-huishou-partner-fengxiu.page-index .block-brand-list .item.checked .item-inner {
        border-right: none;
        background-image: none;
    }
}

.m-huishou-partner-fengxiu.page-index .block-brand-list.inner-col-3 .item .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-partner-fengxiu.page-index .block-brand-list.inner-col-3 .item .item-inner {
        border: 0;
        background-image: none;
    }
}

/* END 首页 */

/* START 评估页 */
.m-huishou-partner-fengxiu.page-assess .block-process-status-bar .block-inner {
    background-color: #ee3142;
}

.m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-group-tit .icon-circle-solid-q {
    color: #ee3142 !important;
}

.m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item {
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}

.m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
    border: 1px solid #ee3142;
    background-color: #ffecee;
    color: #ee3142;
    font-weight: bolder;
}

.m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-selected .btn-action {
    color: #ee3142;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item {
        border: 0;
    }

    .m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item:before {
        border: 1px solid #f6f6f6;
    }

    .m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
        border: 0;
    }

    .m-huishou-partner-fengxiu.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected:before {
        border: 1px solid #ee3142;
    }
}

/* END 评估页 */

/* START 评估结果页 */
.m-huishou-partner-fengxiu .block-assess_report-product {
    padding: .1rem 0 0 0;
    background-color: transparent;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner {
    position: relative;
    margin: 0 auto;
    width: 2.98rem;
    /*height: 1.22rem;*/
    padding: .14rem .14rem .2rem .14rem;
    border-radius: 0.07rem;
    background: transparent url(//p3.ssl.qhmsg.com/t01afa2dfca99534434.png) no-repeat center;
    background-size: cover;
    color: #fff;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-model-name {
    margin-top: .04rem;
    font-size: 0.14rem;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-model-name .auto {
    max-width: 2.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-model-name .shrink {
    margin-left: .02rem;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-model-assess-price {
    padding: .06rem 0;
    font-size: 0.18rem;
    line-height: 1;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-model-assess-price .amount {
    font-size: 0.37rem;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-assess-price-subsidy {
    position: relative;
    padding: 0 .06rem;
    display: inline-flex;
    height: 0.15rem;
    font-size: 0.11rem;
    background: #fff;
    color: #f00;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-assess-price-subsidy .half-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: .04rem;
    height: .04rem;
    border-radius: 9999px;
    background: #fe4505;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-assess-price-subsidy .half-circle.half-circle-left {
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .product-assess-price-subsidy .half-circle.half-circle-right {
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .bottom-tips {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: .14rem;
    font-size: 0.11rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0.07rem 0.07rem;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .btn {
    position: absolute;
    top: initial;
    right: .14rem;
    bottom: .1rem;
    margin-bottom: .04rem;
    display: flex;
    width: auto;
    height: .28rem;
    background: transparent;
    border: 0;
}

.m-huishou-partner-fengxiu .block-assess_report-product .block-assess_report-product-inner .btn .iconfont {
    margin-left: .02rem;
    width: auto;
    height: auto;
    transform: rotate(180deg);
}


.m-huishou-partner-fengxiu .block-assess_report-product .p-price {
    color: #ee3142;
}

.m-huishou-partner-fengxiu .block-assess_report-product .bonus-label {
    padding: .04rem .14rem;
    display: inline-block;
    line-height: 1;
    border-radius: 9999px;
    background-color: #ffecee;
}

.m-huishou-partner-fengxiu .block-assess_report-product .bonus-label span {
    color: #ee3142;
}

.m-huishou-partner-fengxiu .block-assess_report-product .bonus-label-2 {
    display: inline-block;
    padding: 0 .06rem;
    height: 0.15rem;
    line-height: 0.15rem;
    font-size: .08rem;
    border-radius: 0.02rem;
    color: #ee3142;
    border: thin solid #db1d2b;
}

.m-huishou-partner-fengxiu .block-assess_report-product .desc {
    padding: 0 0 .15rem .15rem;
    font-size: .1rem;
    color: #666;
}

/*.m-huishou-partner-fengxiu .block-city {*/
/*display: none;*/
/*}*/

/*.m-huishou-partner-fengxiu .block-city {*/
/*display: block;*/
/*}*/

.m-huishou-partner-fengxiu .block-city .switch-city {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.page-order .block-order-style .service-type-icon {
    display: block !important;
    color: #ee3142;
}

.m-huishou-partner-fengxiu.page-order .block-order-style .row-hs-style-check .col-12-6 {
    float: right;
    text-align: right;
}

.m-huishou-partner-fengxiu.page-order .block-order-style .row-hs-style-check .col-12-1 {
    display: none;
}

.m-huishou-partner-fengxiu.page-order .block-btn .remove-lock {
    color: #ee3142;
}

.m-huishou-partner-fengxiu .page-order_submit .block-tit {
    /*padding-top: .12rem;*/
}

.m-huishou-partner-fengxiu .page-order_submit .row-hs-style-checked .icon-circle {
    color: #ee3142;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-submit-yundian-mini-no-service-support {
    padding: .6rem .1rem;
    text-align: center;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form {
    color: #000;
}

.m-huishou-partner-fengxiu .page-order_submit .block-sub-order-form .row {
    height: .44rem;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form .row-payout-method .payout-method-item.b-radius-green {
    border-color: #ee3142;
    color: #000;
    background-color: #ffecee;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-partner-fengxiu .b-radius-green:before {
        border: 1px solid #ee3142;
    }
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form .btn-send-vcode {
    border-color: #ee3142;
    color: #fff;
    background: #ee3142;
    background: -webkit-gradient(linear, left top, right top, from(#ee3142), to(#eb0028));
}

.m-huishou-partner-fengxiu .page-order_submit .row.row-use-promo {
    padding-top: .1rem;
}

.m-huishou-partner-fengxiu .page-order_submit .row-use-promo .use-promo-wrap .promo-selector,
.m-huishou-partner-fengxiu .page-order_submit .row-use-promo .use-promo-wrap .promo-code {
    width: 100%;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc {
    padding: .08rem .15rem;
    text-align: left;
    color: #999;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc .wechat-nickname {
    color: #000;
}

.m-huishou-partner-fengxiu .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc a {
    color: #ee3142;
}

/* END 评估结果页 */

/* START 下单成功页 */
.m-huishou-partner-fengxiu.page-order-succ .c-blue,
.m-huishou-partner-fengxiu.page-order-succ .wechat-saoyisao .col-right .cnt span {
    color: #ee3142;
}

.m-huishou-partner-fengxiu.page-order-succ h2 {
    color: #4ac312;
}

.m-huishou-partner-fengxiu.page-order-succ h2 .icon-circle-tick {
    display: inline-block;
    -webkit-text-stroke-width: 0;
    background: linear-gradient(to top, #47bf06, #59d612);
    background: -webkit-linear-gradient(bottom, #47bf06, #59d612);
    background-clip: content-box;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.m-huishou-partner-fengxiu.page-order-succ .contact-info .btn-style {
    background: #ee3142;
    background: -webkit-gradient(linear, left top, right top, from(#ee3142), to(#eb0028));
}

.m-huishou-partner-fengxiu.page-order-succ .hs-success-promo,
.m-huishou-partner-fengxiu.page-order-succ .interest-promo-service {
    display: none;
}

.m-huishou-partner-fengxiu.page-order-succ .wechat-saoyisao {
    display: none;
}

.m-huishou-partner-fengxiu.page-order-succ .hs-user-entry {
    display: block;
}

/* END 下单成功页 */

.m-huishou-partner-fengxiu .block-order > .block-inner {
    padding-top: 0.53rem;
    position: relative;
}

.m-huishou-partner-fengxiu .block-order-shangmen .row-hs-style-check {
    position: absolute;
    left: 0;
    top: 0;
    width: 52%;
    height: .53rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 0;
}

.m-huishou-partner-fengxiu .block-order-youji .row-hs-style-check {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: .53rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.m-huishou-partner-fengxiu .service-type-icon {
    height: 0 !important;
    width: 0 !important;
}

.m-huishou-partner-fengxiu .icon-youjihuishou:before {
    content: '';
}

.m-huishou-partner-fengxiu .icon-shangmenhuishou:before {
    content: '';
}

.m-huishou-partner-fengxiu .block-order-style .row-hs-style-check .col-12-4 {
    padding: 0;
}

.m-huishou-partner-fengxiu .block-order-shangmen .col-12-4,
.m-huishou-partner-fengxiu .block-order-youji .col-12-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .2rem;
    font-weight: 600;
}

.m-huishou-partner-fengxiu .block-order-shangmen .col-12-6,
.m-huishou-partner-fengxiu .block-order-youji .col-12-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .2rem;
}

.m-huishou-partner-fengxiu .block-order-shangmen .row-hs-style-checked,
.m-huishou-partner-fengxiu .block-order-youji .row-hs-style-checked {
    background-color: #fff;
    color: #f00;
}
