/*天机汇帮卖*/
/*基础颜色 #000*/
/*显著颜色 #de222c*/
/*渐变按钮浅色 #e94136*/
/*渐变按钮深色 #db1b2a*/
/*未选中背景色 #f6f6f6*/
/*已选中背景色 #ffe7e8*/
body {
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

.m-huishou-tjh-bangmai .b-top {
    border-top: 1px solid #f6f6f6;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-tjh-bangmai .b-top {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
    }
}

.m-huishou-tjh-bangmai.m-huishou .btn-yellow {
    display: block;
    width: 100%;
    /*height: .44rem;*/
    /*line-height: .44rem;*/
    background: #de222c;
    background: -webkit-gradient(linear, left top, right top, from(#db1b2a), to(#e94136));
    box-shadow: 0 0.05rem 0.2rem #de222c33;
    color: #fff;
}

.m-huishou-tjh-bangmai.m-huishou .block-assess_report-product .btn-show-assess-report,
.m-huishou-tjh-bangmai.m-huishou .block-assess_report-product .btn-reassess {
    color: #fff;
    background: #de222c;
    background: -webkit-gradient(linear, left top, right top, from(#db1b2a), to(#e94136));
}

.m-huishou-tjh-bangmai.m-huishou .shipping-address-select-block .ctrl-item.ctrl-ok,
.m-huishou-tjh-bangmai.m-huishou .shipping-address-select-block .i-item.selected {
    color: #de222c;
}

.m-huishou-tjh-bangmai.m-huishou .huishou-protocol-panel-wrap .close-btn,
.m-huishou-tjh-bangmai.m-huishou .huishou-white-goods-protocol-panel-wrap .close-btn {
    background: #de222c;
    background: -webkit-gradient(linear, left top, right top, from(#db1b2a), to(#e94136));
}

.m-huishou-tjh-bangmai.m-huishou .bang-ui-dialog .btn-box-alert .ui-btn {
    background-color: #de222c;
}

.m-huishou-tjh-bangmai.m-huishou .ui-datetime .date-curr,
.m-huishou-tjh-bangmai.m-huishou .ui-datetime .time-curr,
.m-huishou-tjh-bangmai.m-huishou .ui-datetime .ctrl-item.ctrl-ok {
    color: #de222c;
}

.m-huishou-tjh-bangmai.m-huishou .block-schedule-pickup .btn.btn-submit {
    color: #de222c;
}

.m-huishou-tjh-bangmai.m-huishou .block-schedule-pickup-success .cnt-inner .c2,
.m-huishou-tjh-bangmai.m-huishou .block-schedule-pickup-success .btn {
    color: #de222c;
}

.m-huishou-tjh-bangmai.m-huishou .agree-protocol-label [type="checkbox"]:checked {
    color: #de222c;
}

/* START 首页 */
.m-huishou-tjh-bangmai.page-index .block-top {
    display: block !important;
}

.m-huishou-tjh-bangmai.page-index .block-top header {
    background: #fff;
}

.m-huishou-tjh-bangmai.page-index .block-top .slide-shower-wrap {
    height: 0.9rem;
    background: transparent url(https://p3.ssl.qhimg.com/t017c1b7f732c39e04b.png) no-repeat center;
    background-size: cover;
}

.m-huishou-tjh-bangmai.page-index .block-recycle-cate-tab .item-selected .cate-name {
    color: #de222c;
    border-bottom: solid 3px #de222c;
}

.m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked {
    color: #de222c;
    background-color: #fff;
    border-top: 1px solid #f6f6f6;
    border-left: 3px solid #de222c;
}

.m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked-next {
    border-top: 1px solid #f6f6f6;
}

.m-huishou-tjh-bangmai.page-index .block-brand-list .item .item-inner {
    display: block;
    border-right: 1px solid #f6f6f6;
}

.m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked-next,
    .m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked {
        border-top: 0;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
    }

    .m-huishou-tjh-bangmai.page-index .block-brand-list .item .item-inner {
        border: 0;
        background-position: right top;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #f6f6f6));
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
    }

    .m-huishou-tjh-bangmai.page-index .block-brand-list .item.checked .item-inner {
        border-right: none;
        background-image: none;
    }
}

.m-huishou-tjh-bangmai.page-index .block-brand-list.inner-col-3 .item .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .m-huishou-tjh-bangmai.page-index .block-brand-list.inner-col-3 .item .item-inner {
        border: 0;
        background-image: none;
    }
}

/* END 首页 */

/* START 评估页 */
.m-huishou-tjh-bangmai.page-assess .block-process-status-bar .block-inner {
    background-color: #de222c;
}

.m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-group-tit .icon-circle-solid-q {
    color: #de222c !important;
}

.m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item {
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}

.m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
    border: 1px solid #de222c;
    background-color: #ffe7e8;
    color: #de222c;
    font-weight: bolder;
}

.m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-selected .btn-action {
    color: #de222c;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item {
        border: 0;
    }

    .m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item:before {
        border: 1px solid #f6f6f6;
    }

    .m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected {
        border: 0;
    }

    .m-huishou-tjh-bangmai.page-assess .block-assess-info .block-option-group .row-option-box .option-item.option-item-selected:before {
        border: 1px solid #de222c;
    }
}

/* END 评估页 */

/* START 评估结果页 */
.m-huishou-tjh-bangmai .block-assess_report-product .p-price {
    color: #de222c;
}

.m-huishou-tjh-bangmai .block-city {
    display: none;
}

.m-huishou-tjh-bangmai.page-order .block-order-style .service-type-icon {
    display: block !important;
    color: #de222c;
}

.m-huishou-tjh-bangmai.page-order .block-order-style .row-hs-style-check .col-12-6 {
    float: right;
    text-align: right;
}

.m-huishou-tjh-bangmai.page-order .block-order-style .row-hs-style-check .col-12-1 {
    display: none;
}

.m-huishou-tjh-bangmai.page-order .block-btn .remove-lock {
    color: #de222c;
}

.m-huishou-tjh-bangmai .page-order_submit .row-hs-style-checked .icon-circle {
    color: #de222c;
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form {
    color: #000;
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form .row-payout-method .payout-method-item.b-radius-green {
    border-color: #de222c;
    color: #000;
    background-color: #ffe7e8;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-huishou-tjh-bangmai .b-radius-green:before {
        border: 1px solid #de222c;
    }
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form .btn-send-vcode {
    border-color: #de222c;
    color: #fff;
    background: #de222c;
    background: -webkit-gradient(linear, left top, right top, from(#db1b2a), to(#e94136));
}

.m-huishou-tjh-bangmai .page-order_submit .row-use-promo {
    display: none;
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc {
    color: #999;
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc .wechat-nickname {
    color: #000;
}

.m-huishou-tjh-bangmai .page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc a {
    color: #de222c;
}

/* END 评估结果页 */

/* START 下单成功页 */
.m-huishou-tjh-bangmai.page-order-succ .c-blue,
.m-huishou-tjh-bangmai.page-order-succ .wechat-saoyisao .col-right .cnt span {
    color: #de222c;
}

.m-huishou-tjh-bangmai.page-order-succ h2 {
    color: #4ac312;
}

.m-huishou-tjh-bangmai.page-order-succ h2 .icon-circle-tick {
    display: inline-block;
    -webkit-text-stroke-width: 0;
    background: linear-gradient(to top, #47bf06, #59d612);
    background: -webkit-linear-gradient(bottom, #47bf06, #59d612);
    background-clip: content-box;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.m-huishou-tjh-bangmai.page-order-succ .contact-info .btn-style {
    background: #de222c;
    background: -webkit-gradient(linear, left top, right top, from(#db1b2a), to(#e94136));
}

.m-huishou-tjh-bangmai.page-order-succ .hs-success-promo,
.m-huishou-tjh-bangmai.page-order-succ .block-help-info,
.m-huishou-tjh-bangmai.page-order-succ .interest-promo-service,
.m-huishou-tjh-bangmai.page-order-succ .wechat-saoyisao {
    display: none;
}

/* END 下单成功页 */

/* START 预约快递取件 */
.m-huishou-tjh-bangmai .schedule-pickup-panel .trigger-select-province-city-area,
.m-huishou-tjh-bangmai .schedule-pickup-panel .trigger-select-province-city-area:hover {
    color: #000;
}

.m-huishou-tjh-bangmai .schedule-pickup-panel .trigger-select-province-city-area.default {
    color: #787878;
}

/* END 预约快递取件 */
