/*视频弹窗*/
.video-player-panel{
    border: 0;
}
.video-player-panel .dialog-inner{
    padding: 0;
    width: 800px;
    height: 460px;
    font-size: 0;
}
.video-player-panel .dialog-inner video,
.video-player-panel .dialog-inner object,
.video-player-panel .dialog-inner embed{
    width: 100%;
    height: 100%;
}