/* 不同的雪花类型 */
.snow-type-1,
.snow-type-2{
    position: absolute;
    top: 0;
    display: inline-block;
    opacity: 0.5;
    height: 7px;
    width: 7px;
    -webkit-transform-origin: left -20px;
    -webkit-animation: snowfalling 6.7s linear .5s infinite;
    -moz-animation: snowfalling 6.7s linear .5s infinite;
}
.snow-type-1{
    background: url(https://p.ssl.qhimg.com/t013fa05dacd53ab635.png) no-repeat center;
    background-size: contain;
}
.snow-type-2{
    background: url(https://p.ssl.qhimg.com/t01f6a927ef5d263163.png) no-repeat center;
    background-size: contain;
}

@-webkit-keyframes snowfalling{
    0% {
        -webkit-transform: translate3d(0,0,0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(0,1000px,0) rotate(360deg);
    }
}
@-moz-keyframes snowfalling{
    0% {
        -moz-transform: translate3d(0,0,0) rotate(0deg);
    }
    100% {
        -moz-transform: translate(0,1000px) rotate(360deg);
    }
}
@keyframes snowfalling{
    0% {
        transform: translate3d(0,0,0) rotate(0deg);
    }
    100% {
        transform: translate3d(0,1000px,0) rotate(360deg);
    }
}


/* 不同的尺寸 */
.snow-size-xxl{
    height:18px;
    width:18px;
    -webkit-transform-origin: left -30px;
    -moz-transform-origin: left -30px;
}
.snow-size-xl{
    height:16px;
    width:16px;
    -webkit-transform-origin: left -20px;
    -moz-transform-origin: left -20px;
}
.snow-size-l{
    height:14px;
    width:14px;
    -webkit-transform-origin: left 0;
    -moz-transform-origin: left 0;
}
.snow-size-m{
    height:11px;
    width:11px;
    -webkit-transform-origin: left -30px;
    -moz-transform-origin: left -30px;
}
.snow-size-s{
    height:9px;
    width:9px;
    -webkit-transform-origin: -20px 0;
    -moz-transform-origin: -20px 0;
}
.snow-size-xs{
    height:5px;
    width:5px;
    -webkit-transform-origin: -15px 0;
    -moz-transform-origin: -15px 0;
}
.snow-size-xxs{
    height:3px;
    width:3px;
    -webkit-transform-origin: -10px 0;
    -moz-transform-origin: -10px 0;
}
/* 不同的速度 */
.snow-speed-s{
    -webkit-animation-duration: 7.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: -10px -20px;
    -moz-animation-duration: 7.1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: -10px -20px;
}
.snow-speed-m{
    -webkit-animation-duration: 6.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: -10px -20px;
    -moz-animation-duration: 6.6s;
    -moz-animation-iteration-count: 12;
    -moz-transform-origin: -10px -20px;
}
.snow-speed-f {
    -webkit-animation-duration: 5.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: -10px -20px;
    -moz-animation-duration: 5.9s;
    -moz-animation-iteration-count: 12;
    -moz-transform-origin: -10px -20px;
}
/* 不同的透明度 */
.snow-opacity-faint{
    opacity: 0.1;
}
.snow-opacity-light{
    opacity: 0.3;
}
.snow-opacity-dark{
    opacity: 0.7;
}

/* 不同的延时 */
.snow-delay-1{
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
}
.snow-delay-2{
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.snow-delay-3{
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
}
.snow-delay-4{
    -webkit-animation-delay: 3.3s;
    -moz-animation-delay: 3.3s;
}
.snow-delay-5{
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
}
.snow-delay-6{
    -webkit-animation-delay: 4.1s;
    -moz-animation-delay: 4.1s;
}

/* playing with timing functions to make it a teeny bit more random like */
.snow-size-l.snow-delay-2 {
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
}
.snow-size-l.snow-delay-1 {
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
}

/* playing with opacity to make it a teeny bit more random like */
.snow-speed-m.snow-delay-2{opacity: 0.5}
.snow-speed-m.snow-delay-1{opacity: 0.3}
.snow-speed-f.snow-delay-2{opacity: 0.7}
.snow-speed-f.snow-delay-1{
    opacity: 0.6;
    -webkit-animation-timing-function:ease-in;
    -webkit-transform-origin: left 10px;
    -moz-animation-timing-function:ease-in;
    -moz-transform-origin: left 10px;
}
.snow-speed-s{opacity: 0.8}