/******* 基本&公共样式 *******//*html{*//*overflow-x: hidden;*//*}*//*body{background-color: #fff;}*/@font-face{font-family:'iconfont';src:url(https://s0.ssl.qhmsg.com/static/d32fb27ee55b5755/iconfont.eot);/* IE9*/src:url(https://s0.ssl.qhmsg.com/static/d32fb27ee55b5755/iconfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(https://s0.ssl.qhmsg.com/static/c4588991ccdf277d/iconfont.woff) format('woff'), /* chrome、firefox */
    url(https://s0.ssl.qhmsg.com/static/dad89d4d2f2c8bd0/iconfont.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url(https://s0.ssl.qhmsg.com/static/981402efe8dc8e37/iconfont.svg) format('svg');/* iOS 4.1- */}

/**import from `/resource/css/mobile/liangpin/common.css` **/
.iconfont{font-family:"iconfont"!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;text-decoration:none;}
.icon-zuojiantou:before{content:"\e600";}
.icon-xuanzeshangpinduigou:before{content:"\e60a";}
.icon-jiantouxia:before{content:"\e60c";}
.icon-jiantouyou:before{content:"\e601";}
.icon-shijian:before{content:"\e60b";}
.icon-fangdajing:before{content:"\e602";}
.icon-201:before{content:"\e603";}
.icon-cha:before,.icon-close:before{content:"\e604";}
.icon-star-solid:before{content:"\e605";}
.icon-jiantoushang:before{content:"\e606";}
.icon-jiantouxia1:before{content:"\e607";}
.icon-weibiaoti20:before{content:"\e608";}
.icon-comfirmyemiandagou:before{content:"\e609";}
.icon-user-center:before{content:"\e611";}

/**import from `/resource/css/mobile/liangpin/header.css` **/
#header{margin:0 auto;width:100%;min-width:320px;max-width:720px;height:.44rem;line-height:.44rem;}
.header-inner{position:relative;z-index:6;display:block;width:100%;min-width:320px;}
.header-inner .h-left{position:absolute;left:0;top:0;bottom:0;}
.header-inner .h-left .iconfont-back{display:inline-block;width:.44rem;height:.44rem;line-height:.44rem;text-align:center;vertical-align:top;font-size:.16rem;color:#666;}
/*.header-inner .h-left .iconfont-back:hover,*//*.header-inner .h-left .iconfont-back:active{background:#0e6d44;}*/.header-inner .h-right{position:absolute;right:0;top:0;bottom:0;}
.header-inner .h-center{width:2.32rem;height:.44rem;position:absolute;left:0.44rem;top:0;}
.header-inner .lp-logo{width:1.32rem;height:0.3688888888888889rem;/*width: 2.355294117647058rem;*//*height:.44rem;*/margin:0.06rem auto;background:url("https://p0.ssl.qhmsg.com/t016b1440b5e4810448.jpg") no-repeat center 0;background-size:cover;text-indent:-999px;}
.header-inner .lp-logo a{display:block;height:100%;}
.header-inner .h-right .h-search-icon{display:block;width:.44rem;height:.44rem;line-height:.44rem;font-size:.20rem;text-align:center;color:#fff;}
.header-inner .h-right .h-search-icon:hover{text-decoration:none;/*background: #0E6D44;*/}
/*右部客户信息:我的订单、在线客服*/.header-inner .h-right .h-user-info-wrap{position:relative;display:inline-block;font-size:0;}
.header-inner .h-right .h-user-info-enter,.header-inner .h-right .h-user-info-enter:hover .header-inner .h-right .h-user-info-enter:active,.header-inner .h-right .h-user-info-enter:visited{background:transparent;color:#666;display:inline-block;width:.34rem;font-size:.24rem;height:.44rem;line-height:.44rem;text-align:center;text-decoration:none;}
.header-inner .h-right .h-user-info-cont{display:none;position:absolute;right:.03rem;top:.44rem;width:.88rem;background-color:rgba(0,0,0,.8);border-radius:.04rem;z-index:999;}
.header-inner .h-right .h-user-info-cont .icon-jiantoushang,.header-inner .h-right .h-user-info-cont .icon-jiantoushang:before{color:rgba(0,0,0,.8);height:.12rem;font-size:.12rem;line-height:.12rem;position:absolute;right:.04rem;top:-.055rem;}
.header-inner .h-right .h-user-info-cont .h-user-info-list li{height:.34rem;line-height:.34rem;color:#fff;text-align:center;}
.header-inner .h-right .h-user-info-cont .h-user-info-list a{display:block;height:100%;text-decoration:none;color:#fff;font-size:.12rem;}
.header-inner .h-right .h-user-info-cont .h-user-info-list .iconfont{padding-right:.04rem;}

/**import from `/resource/css/mobile/liangpin/header2.css` **/
/* 优品通用header，包括 状态栏 和 导航栏 */header.header{margin:0 auto;width:100%;min-width:320px;max-width:720px;background:linear-gradient(to left, #fe401e, #fd7239);}
header.header.header-fixed{position:fixed;top:0;left:0;right:0;z-index:9999;}
header.header .header-status-bar{display:none;height:0;transition:height .1s;}
header.header.header-fixed .header-status-bar{display:block;}
header.header .header-nav-bar{position:relative;z-index:6;display:block;width:100%;min-width:320px;height:.36rem;transition:height .1s;}
header.header .header-nav-bar .header-inner{height:100%;}
header.header .header-nav-bar .header-inner .h-left{position:absolute;left:0;top:0;bottom:0;z-index:9;}
header.header .header-nav-bar .header-inner .h-left .icon-zuo{display:inline-block;width:.36rem;height:.36rem;line-height:.36rem;text-align:center;vertical-align:top;font-size:.15rem;color:#fff;}
header.header .header-nav-bar .header-inner .h-left .icon-zuo:hover,header.header .header-nav-bar .header-inner .h-left .icon-zuo:active{text-decoration:none;color:rgba(255, 255, 255, 0.4);}
header.header .header-nav-bar .header-inner .h-center{/*position: absolute;*//*left: 0;*//*top: 0;*//*width: 100%;*//*height: .36rem;*/font-size:.16rem;color:#fff;text-align:center;}
header.header .header-nav-bar .header-inner .h-right{position:absolute;right:0;top:0;bottom:0;z-index:9;}
header.header .header-nav-bar .header-inner .h-right .h-search-icon{display:block;width:.36rem;height:.36rem;line-height:.36rem;font-size:.15rem;text-align:center;color:#fff;}
header.header .header-nav-bar .header-inner .h-right .h-search-icon:hover{text-decoration:none;background:#0e6d44;}
header.header .header-nav-bar .header-inner .myorder-enter,header.header .header-nav-bar .header-inner .myorder-enter:hover,header.header .header-nav-bar .header-inner .myorder-enter:visited,header.header .header-nav-bar .header-inner .myorder-and-focus,header.header .header-nav-bar .header-inner .myorder-and-focus:hover,header.header .header-nav-bar .header-inner .myorder-and-focus:visited,header.header .header-nav-bar .header-inner .header-right-go-home,header.header .header-nav-bar .header-inner .header-right-go-home:hover,header.header .header-nav-bar .header-inner .header-right-go-home:visited{display:inline-block;width:.34rem;height:.36rem;line-height:.36rem;text-align:center;color:#fff;font-size:.24rem;background:transparent;text-decoration:none;position:relative;}
/*header placeholder*/.header-placeholder{font-size:0;}
.header-placeholder .header-status-bar-placeholder{height:0;transition:height .1s;}
.header-placeholder .header-nav-bar-placeholder{height:.36rem;transition:height .1s;}

/**import from `/resource/css/mobile/liangpin/top_nav.css` **/
.top-nav{height:.3rem;}
.top-nav .top-nav-inner{display:flex;}
.top-nav .top-nav-inner li{width:100%;line-height:.3rem;text-align:center;}
.top-nav .top-nav-inner a{color:#666;font-size:.12rem;padding:.04rem 0;}
.top-nav .cur a,.top-nav a:hover,.top-nav a:active{color:#128855;border-bottom:.03rem solid #128855;text-decoration:none;}
