
/**import from `/resource/css/mobile/special/inc/huanxin_brand_list.css` **/
.block-brand-list{width:100%;height:2.7066666666666666rem;background:url(https://p.ssl.qhimg.com/t01c342e979d9da60bf.png) no-repeat center 0;background-size:cover;position:relative;}
/*品牌选择*/.block-brand-list .br{position:absolute;top:0;left:.16rem;display:block;width:0.96rem;height:0.44rem;background:transparent;/*box-shadow: 0 0 6px #497fcc;*/}
.block-brand-list .br:hover{text-decoration:none;}
.block-brand-list .br:active{background:#D8A44B;opacity:.1;box-shadow:0 0 6px #497fcc;}
.block-brand-list .apple{}
.block-brand-list .samsung{left:1.128rem;}
.block-brand-list .honor{left:2.09rem;}
.block-brand-list .lenovo{left:.16rem;top:.45rem;}
.block-brand-list .blackberry{left:1.128rem;top:.45rem;}
.block-brand-list .lg{left:2.09rem;top:.45rem;}
.block-brand-list .meizu{left:.16rem;top:.89rem;}
.block-brand-list .xiaomi{left:1.128rem;top:.89rem;}
.block-brand-list .vivo{left:2.09rem;top:.89rem;}
.block-brand-list .nokia{left:.16rem;top:1.33rem;}
.block-brand-list .letv{left:1.128rem;top:1.33rem;}
.block-brand-list .motorola{left:2.09rem;top:1.33rem;}
.block-brand-list .yijia{left:.16rem;top:1.78rem;}
.block-brand-list .oppo{left:1.128rem;top:1.78rem;}
.block-brand-list .chuizi{left:2.09rem;top:1.78rem;}
.block-brand-list .htc{left:.16rem;top:2.23rem;}
.block-brand-list .sony{left:1.128rem;top:2.23rem;}
.block-brand-list .other{left:2.09rem;top:2.23rem;}

/**import from `/resource/css/mobile/special/huanxin_qiku3.css` **/
html{height:auto;background:#fff;}
.errorblink{border:1px solid #fb0909!important;}
.hide{display:none;}
.w100{width:100%;}
.f12{font-size:12px;}
/*行的基本模式*/.block,.row,.col-2-1,.col-4-1,.col-left-fixed,.col-left,.col-right,.col-right-fixed{display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.row:after{display:block;clear:both;visibility:hidden;height:0;content:'\20';}
.row{zoom:1;clear:both;}
.col-2-1,.col-4-1,.col-left-fixed{float:left;}
.col-2-1{width:50%;}
.col-4-1{width:25%;}
.col-right-fixed{float:right;}
/*END行的基本模式*//* 箭头 */.arrow-down,.arrow-right{position:relative;}
.arrow-right:after{content:"";display:block;position:absolute;width:8px;height:8px;right:6px;top:50%;margin-top:-7px;border-top:2px solid #CCCCCC;border-right:2px solid #CCCCCC;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.arrow-down:after{content:"";display:block;position:absolute;width:8px;height:8px;right:10px;top:50%;margin-top:-7px;border-top:2px solid #CCCCCC;border-right:2px solid #CCCCCC;-webkit-transform:rotate(135deg);transform:rotate(135deg);}
/* END箭头 */.page-hd-huanxin-360phone{margin:0;padding:0;background:#ededed;}
.page-hd-huanxin-360phone #mainbody{margin:0 auto;max-width:720px;min-width:320px;}
.page-hd-huanxin-360phone .mainbody-inner{margin:0;padding:0;}
.page-hd-huanxin-360phone .block-liji-huanxin{height:1.92rem;background:url(https://p.ssl.qhimg.com/t01db27ddba6e741b7d.png) no-repeat center 0;background-size:cover;}
.page-hd-huanxin-360phone .block-liji-huanxin .btn-liji-huanxin{position:absolute;top:1.48rem;left:0.088rem;display:block;width:1.4rem;height:0.21333333333333335rem;background:transparent;border-radius:999px;}
.page-hd-huanxin-360phone .block-liji-huanxin .btn-liji-huanxin:hover{text-decoration:none;}
.page-hd-huanxin-360phone .block-tit{line-height:1.2;text-align:center;font-size:.2rem;color:#333;padding:.1rem;}
.page-hd-huanxin-360phone .block-360-huanxin{}
.page-hd-huanxin-360phone .block-360-huanxin .huanxin-list{padding:0 .06rem;}
.page-hd-huanxin-360phone .block-360-huanxin .item{float:left;width:1.51rem;/*height: 2rem;*/padding:0 0 .1rem;margin-bottom:.06rem;text-decoration:none;text-align:center;background:#fff;}
.page-hd-huanxin-360phone .block-360-huanxin .item:nth-child(odd){margin-right:.06rem;}
.page-hd-huanxin-360phone .block-360-huanxin .item:hover{text-decoration:none;}
.page-hd-huanxin-360phone .block-360-huanxin .img{width:1.2rem;margin:.03rem auto;/*height: .92rem;*/}
.page-hd-huanxin-360phone .block-360-huanxin .tit{font-size:.14rem;color:#333;}
.page-hd-huanxin-360phone .block-360-huanxin .price{font-size:.12rem;color:#666;}
.page-hd-huanxin-360phone .block-360-huanxin .btn{margin-top:.02rem;width:1.25rem;height:.28rem;line-height:.28rem;text-align:center;font-size:.14rem;background:#ff2b0f;color:#fff;border-radius:999px;}
.page-hd-huanxin-360phone .block-360-huanxin .item:hover .btn{background:#ed0505;}
.page-hd-huanxin-360phone .block-360-huanxin .item:active .btn{background:#f00;}
.page-hd-huanxin-360phone .block-zhichi{}
.page-hd-huanxin-360phone .block-zhichi .btn-kankan-jiuji{width:2.8rem;height:0.4888888888888889rem;line-height:0.4888888888888889rem;text-align:center;background:#ff2b0f;color:#fff;display:block;margin:.15rem auto;border-radius:999px;font-size:.16rem;}
.page-hd-huanxin-360phone .block-zhichi .btn-kankan-jiuji:hover{text-decoration:none;}
.page-hd-huanxin-360phone .block-intro{height:2.7733333333333334rem;background:url(https://p.ssl.qhimg.com/t01ce67d8290650a93c.jpg) no-repeat center 0;background-size:cover;}
.page-hd-huanxin-360phone .block-desc-cont{color:#666;font-size:.14rem;padding:0 .1rem .2rem;}
.page-hd-huanxin-360phone .block-desc-cont p{line-height:1.4;padding-bottom:.08rem;}
.page-hd-huanxin-360phone .block-desc-cont .num{width:.2rem;height:.2rem;line-height:.2rem;text-align:center;color:#fff;background-color:#727171;border-radius:999px;float:left;}
.page-hd-huanxin-360phone .block-desc-cont .cont{float:left;width:2.8rem;padding-left:.06rem;}
.page-hd-huanxin-360phone .block-desc-cont .phone-num{font-size:.18rem;padding:.1rem;text-align:center;}
