.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1200px;
}
a:hover{
    text-decoration: none;
}
.page-hd-weixiu-shengji {
    background:#fff;
    min-width: 1200px;
}
.page-hd-weixiu-shengji .block1,
.page-hd-weixiu-shengji .block1 .block-inner{
    height: 614px;
    background: url(https://p4.ssl.qhmsg.com/t01af511f4d42a700b3.jpg) no-repeat center 0;
}
.page-hd-weixiu-shengji .block1 a{
    position: absolute;
    right: 157px;
    top: 498px;
    width: 200px;
    height: 50px;
}
.page-hd-weixiu-shengji .block2,
.page-hd-weixiu-shengji .block2 .block-inner{
    height: 614px;
    background: url(https://p3.ssl.qhmsg.com/t01d52c04b342717759.jpg) no-repeat center 0;
}
.page-hd-weixiu-shengji .block2 .desc{
    padding-top: 480px;
    text-align: center;
    font-size: 14px;
    color: #689bf1;
}
.page-hd-weixiu-shengji .block3,
.page-hd-weixiu-shengji .block3 .block-inner{
    height: 523px;
    background: url(https://p4.ssl.qhmsg.com/t01629c57a9b0158139.jpg) no-repeat center 0;
}
















