.block-brand-list{
    height: 103px;
    background: url(https://p.ssl.qhimg.com/t01531215c4667d0114.jpg) no-repeat center 0;
    position: relative;
}
.block-brand-list .br{
    position: absolute;
    top: 0px;
    left: 1px;
    display: block;
    width: 105px;
    height: 48px;
}
.block-brand-list .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.block-brand-list .apple{
    left: 1px;
}
.block-brand-list .samsung{
    left: 108px;
}
.block-brand-list .honor{
    left: 213px;
}
.block-brand-list .meizu{
    left: 320px;
}
.block-brand-list .xiaomi{
    left: 428px;
}
.block-brand-list .vivo{
    left: 534px;
}
.block-brand-list .yijia{
    left: 640px;
}
.block-brand-list .oppo{
    left: 748px;
}
.block-brand-list .chuizi{
    left: 854px;
}

.block-brand-list .lenovo{
    top: 52px;
    left:1px;
}
.block-brand-list .blackberry{
    top: 52px;
    left: 108px;
}
.block-brand-list .lg{
    top: 52px;
    left: 213px;
}
.block-brand-list .nokia{
    top: 52px;
    left: 320px;
}
.block-brand-list .letv{
    top: 52px;
    left: 428px;
}
.block-brand-list .motorola{
    top: 52px;
    left: 534px;
}
.block-brand-list .htc{
    top: 52px;
    left: 640px;
}
.block-brand-list .sony{
    top: 52px;
    left: 748px;
}
.block-brand-list .other{
    top: 52px;
    left: 854px;
}