/* 优品通用header，包括 状态栏 和 导航栏 */
header.header {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    background: linear-gradient(to left, #fe401e, #fd7239);
}

header.header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header.header .header-status-bar {
    display: none;
    height: 0;
    transition: height .1s;
}

header.header.header-fixed .header-status-bar {
    display: block;
}

header.header .header-nav-bar {
    position: relative;
    z-index: 6;
    display: block;
    width: 100%;
    min-width: 320px;
    height: .36rem;
    transition: height .1s;
}

header.header .header-nav-bar .header-inner {
    height: 100%;
}

header.header .header-nav-bar .header-inner .h-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

header.header .header-nav-bar .header-inner .h-left .icon-zuo {
    display: inline-block;
    width: .36rem;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    vertical-align: top;
    font-size: .15rem;
    color: #fff;
}

header.header .header-nav-bar .header-inner .h-left .icon-zuo:hover,
header.header .header-nav-bar .header-inner .h-left .icon-zuo:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

header.header .header-nav-bar .header-inner .h-center {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: .36rem;*/
    font-size: .16rem;
    color: #fff;
    text-align: center;
}

header.header .header-nav-bar .header-inner .h-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

header.header .header-nav-bar .header-inner .h-right .h-search-icon {
    display: block;
    width: .36rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .15rem;
    text-align: center;
    color: #fff;
}

header.header .header-nav-bar .header-inner .h-right .h-search-icon:hover {
    text-decoration: none;
    background: #0e6d44;
}

header.header .header-nav-bar .header-inner .myorder-enter,
header.header .header-nav-bar .header-inner .myorder-enter:hover,
header.header .header-nav-bar .header-inner .myorder-enter:visited,
header.header .header-nav-bar .header-inner .myorder-and-focus,
header.header .header-nav-bar .header-inner .myorder-and-focus:hover,
header.header .header-nav-bar .header-inner .myorder-and-focus:visited,
header.header .header-nav-bar .header-inner .header-right-go-home,
header.header .header-nav-bar .header-inner .header-right-go-home:hover,
header.header .header-nav-bar .header-inner .header-right-go-home:visited {
    display: inline-block;
    width: .34rem;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    color: #fff;
    font-size: .24rem;
    background: transparent;
    text-decoration: none;
    position: relative;
}

/*header placeholder*/
.header-placeholder {
    font-size: 0;
}

.header-placeholder .header-status-bar-placeholder {
    height: 0;
    transition: height .1s;
}

.header-placeholder .header-nav-bar-placeholder {
    height: .36rem;
    transition: height .1s;
}
