.block-brand-list{
    width: 100%;
    height: 2.7066666666666666rem;
    background: url(https://p.ssl.qhimg.com/t01c342e979d9da60bf.png) no-repeat center 0;
    background-size: cover;
    position: relative;
}
/*品牌选择*/
.block-brand-list .br{
    position: absolute;
    top: 0;
    left: .16rem;
    display: block;
    width: 0.96rem;
    height: 0.44rem;
    background: transparent;
    /*box-shadow: 0 0 6px #497fcc;*/
}
.block-brand-list .br:hover{
    text-decoration: none;
}
.block-brand-list .br:active{
    background: #D8A44B;
    opacity: .1;
    box-shadow: 0 0 6px #497fcc;
}
.block-brand-list .apple{}
.block-brand-list .samsung{
    left: 1.128rem;
}
.block-brand-list .honor{
    left: 2.09rem;
}

.block-brand-list .lenovo{
    left: .16rem;
    top: .45rem;
}
.block-brand-list .blackberry{
    left: 1.128rem;
    top: .45rem;
}
.block-brand-list .lg{
    left: 2.09rem;
    top: .45rem;
}

.block-brand-list .meizu{
    left: .16rem;
    top: .89rem;
}
.block-brand-list .xiaomi{
    left: 1.128rem;
    top: .89rem;
}
.block-brand-list .vivo{
    left: 2.09rem;
    top: .89rem;
}

.block-brand-list .nokia{
    left: .16rem;
    top: 1.33rem;
}
.block-brand-list .letv{
    left: 1.128rem;
    top: 1.33rem;
}
.block-brand-list .motorola{
    left: 2.09rem;
    top: 1.33rem;
}

.block-brand-list .yijia{
    left: .16rem;
    top: 1.78rem;
}
.block-brand-list .oppo{
    left: 1.128rem;
    top: 1.78rem;
}
.block-brand-list .chuizi{
    left: 2.09rem;
    top: 1.78rem;
}

.block-brand-list .htc{
    left: .16rem;
    top: 2.23rem;
}
.block-brand-list .sony{
    left: 1.128rem;
    top: 2.23rem;
}
.block-brand-list .other{
    left: 2.09rem;
    top: 2.23rem;
}