a:hover {
    text-decoration: none;
}

.page-hd-520 {
    background: #ff979e;
}

.page-hd-520 .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-520 .block {
    width: 100%;
}

.page-hd-520 .block1 {
    height: 1.6rem;
    background: url(https://p.ssl.qhimg.com/t015c4add5ea56a63c2.jpg) no-repeat center 0;
    background-size: cover;
}

.page-hd-520 .block2 {
    position: relative;
    padding-top: 1px;
    height: 2.2933333333333334rem;
    background: url(https://p.ssl.qhimg.com/t01902d9427869a09c4.jpg) no-repeat center 0;
    background-size: cover;
}

.page-hd-520 .block2 .pairing-list{
    position: absolute;
    top: 1.26rem;
    left: 0;
    width: 100%;
    height: .3rem;
    overflow: hidden;
}
.page-hd-520 .block2 .pairing-list .pairing-list-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.page-hd-520 .block2 .pairing-list .row{
    padding: .04rem 0;
}
.page-hd-520 .block2 .pairing-list .i-pink{
    margin-left: .2rem;
    /*margin-bottom: 6px;*/
    padding-left: .24rem;
    height: .22rem;
    line-height: .22rem;
    color: #fd6389;
    font-size: .16rem;
    background: url(https://p.ssl.qhimg.com/t014e5ce6d07f44ccbc.jpg) no-repeat 0 .02rem;
    background-size: .22rem auto;
}
.page-hd-520 .block2 .pairing-list .i-blue{
    margin-left: .34rem;
    padding-left: .24rem;
    height: .22rem;
    line-height: .22rem;
    color: #50bbeb;
    font-size: .16rem;
    background: url(https://p.ssl.qhimg.com/t014e5ce6d07f44ccbc.jpg) no-repeat 0 -.22rem;
    background-size: .22rem auto;
}

.page-hd-520 .block4 {
    height: 1.24rem;
    background: url(https://p.ssl.qhimg.com/t01f1f717b67721d0c2.jpg) no-repeat center 0;
    background-size: cover;
}

.page-hd-520 .trigger-play-video{
    display: block;
    width: 100%;
    height: 100%;
}

/*商品列表*/
.page-hd-520 .hd-product-list {
    font-size: 0;
}

.page-hd-520 .hd-product-list .item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 50%;
}

.page-hd-520 .hd-product-list .item a{
    padding-top: .32rem;
    padding-bottom: .2rem;
    display: block;
    border-right: 1px solid #f0eff4;
    border-bottom: 1px solid #f0eff4;
    color: #333;
    text-align: center;
    background: #fff;
    font-size: .16rem;
}

.page-hd-520 .hd-product-list .item.item-right a {
    border-right: 0;
}

.page-hd-520 .hd-product-list .p-figure {
    margin: 0 auto;
    width: 1.1rem;
    height: 1.1rem;
    overflow: hidden;
}

.page-hd-520 .hd-product-list .p-figure img {
    width: 100%;
}

.page-hd-520 .hd-product-list .p-name {
    padding: .02rem 0 0 0;
}

.page-hd-520 .hd-product-list .p-price-orig {
    font-size: .12rem;
    color: #999;
}

.page-hd-520 .hd-product-list .p-price-promo {
    /*padding-bottom: .10rem;*/
    color: #f30;
    font-size: .24rem;
}

.page-hd-520 .hd-product-list .p-price-promo .tit {
    font-size: .2rem;
}
.page-hd-520 .hd-product-list .p-price-promo .symbol {
    font-size: .12rem;
}

.page-hd-520 .hd-product-list .p-desc{
    color: #ff3300;
}
.page-hd-520 .hd-product-list .p-btn{
    margin: .02rem auto 0 auto;
    width: 1.2rem;
    height: .36rem;
    line-height: .36rem;
    background-color: #ff3300;
    color: #fff;
    border-radius: 6px;
}

/*服务介绍*/
.block-service-intro{
    margin: .1rem;
    padding: .1rem 0;
    background-color: #fff;
    border-radius: .06rem;
}
.block-service-intro .tit{
    margin: 0 auto;
    width: 1.635rem;
}
.block-service-intro .tit-under{
    margin: 0 auto;
    width: 1.56rem;
    height: .24rem;
    background: #ff5c81;
    border-radius: 999px;
}
.block-service-intro .tit-inner{
    margin-top: -.29rem;
    margin-left: -.06rem;
    width: 1.635rem;
    height: 0.34555772rem;
    background: url(https://p0.ssl.qhmsg.com/t0166374946eb81bd5a.png) no-repeat center;
    background-size: contain;
}
.block-service-intro .cnt{
    padding: .1rem 0;
    font-size: 0;
}
.block-service-intro .cnt .service-keyword{
    margin: .08rem .04rem .08rem .08rem;
    display: inline-block;
    height: .3rem;
    width: .3rem;
    line-height: .3rem;
    font-size: .2rem;
    border-radius: 999px;
    text-align: center;
    color: #fff;
    background-color: #ff5c81;
    vertical-align: middle;
}
.block-service-intro .cnt .col-2-1:nth-child(2n) .service-keyword{
    margin-left: 0;
}
.block-service-intro .cnt .service-desc{
    display: inline-block;
    font-size: .1rem;
    color: #ff5c81;
    vertical-align: middle;
    line-height: 1.2;
}
.block-service-intro .cnt .service-desc em{
    font-size: .14rem;
    color:#ff5c81 ;
}
.page-hd-520  .block-intro{
    padding-top: 0.2rem ;
}


/*视频播放*/
.video-player-panel{
    border: 0;
    border-radius: 0;
}

.video-player-panel.dialog-wrap .dialog-inner{
    position: relative;
    z-index: 11002;
    padding: 0;
    font-size: 0;
}

.video-player-panel.dialog-wrap .dialog-close,
.video-player-panel.dialog-wrap .dialog-close:hover {
    right: 0;
    top: -0.24rem;
    z-index: 11003;
    width: .24rem;
    height: .24rem;
    background-size: .24rem;
}


/*匹配弹窗*/
.pairing-panel{
    border: 0;
    background-color: transparent;
    color: #333333;
}
.pairing-panel .dialog-inner{
    padding: 0;
    /*width: 646px;*/
    /*height: 606px;*/
    overflow: hidden;
    border-radius: .2rem;
    background-color: #fafafa;
}
.pairing-panel .pairing-panel-cnt{
    position: relative;
    margin-top: .2rem;
    padding: .22rem;
    text-align: center;
    background: url(https://p.ssl.qhimg.com/t0111a6ba533f2f1dbf.jpg) no-repeat center 0;
    background-size: 2.2222222222222223rem 2.2222222222222223rem;
}

.pairing-panel .countdown-animation{
    margin: 0 auto;
    display: block;
    width: 1.6844444444444444rem;
    height: 1.6844444444444444rem;
    font-size: .34rem;
    color: #87d2af;
    text-align: center;
    background: url(https://p.ssl.qhimg.com/t01a807cfe5ec763c60.jpg) no-repeat center 0;
    background-size: contain;
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
    border-radius: 9999px;
}
.pairing-panel .countdown-of-second{
    position: absolute;
    top: .7rem;
    left: 0;
    right: 0;
    font-size: .6rem;
    color: #87d2af;
    line-height: 1;
}
.pairing-panel .countdown-of-second span{
    font-size: .2rem;
}
.pairing-panel .pairing-status{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.24rem;
    font-size: .18rem;
}
.pairing-panel .pairing-desc{
    margin-top: .2rem;
    font-size: .22rem;
}

.pairing-panel .pairing-success-panel-cnt{
    text-align: center;
}

.pairing-panel .pairing-success-panel-cnt .success-icon{
    margin: .3rem auto 0 auto;
    width: 1.288888888888889rem;
    height: 1.288888888888889rem;
    background: url(https://p.ssl.qhimg.com/t01aea322fe7e7c35f6.jpg) no-repeat center 0;
    background-size: contain;
}

.pairing-panel .pairing-success-panel-cnt .success-tips{
    font-size: .22rem;
    line-height: 1.68;
}

.pairing-panel .pairing-success-panel-cnt .success-tips .tips-sub{
    font-size: .14rem;
}

.pairing-panel .pairing-success-panel-cnt .btn-buy{
    margin: .2rem auto;
    display: block;
    width: 1.4rem;
    height: .44rem;
    line-height: .44rem;
    font-size: .2rem;
    background-color: #87d2af;
    color: #fff;
    border-radius: .06rem;
}
