.page-hd-mothers-day-promotion {
    background: #f5f3f4;
    font-size: .12rem;
}

.page-hd-mothers-day-promotion .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}
/*重置placeholder样式*/
input::-webkit-input-placeholder {
    color: #e9213d;
    font-size: .14rem;
}
input:-moz-placeholder{
    color:#e9213d;
    font-size: .14rem;
}
input::-moz-placeholder{
    color:#e9213d;
    font-size: .14rem;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#e9213d;
    font-size: .14rem;
}

.page-hd-mothers-day-promotion .block {
    width: 100%;
}

.page-hd-mothers-day-promotion .page-one,
.page-hd-mothers-day-promotion .page-two,
.page-hd-mothers-day-promotion .page-three{
    display: none;
}
/*母亲节送祝福引导页*/
.page-hd-mothers-day-promotion .page-one .block1{
    height: 1.4133333333333333rem;
    background: url(https://p1.ssl.qhmsg.com/t017437fadf3c702727.jpg) no-repeat center 0;
    background-size: cover;
}

.page-hd-mothers-day-promotion .page-one .block2 .trigger-play-video,
.page-hd-mothers-day-promotion .page-one .block2 .trigger-play-video:hover{
    margin: 0 auto;
    display: block;
    width: 2.862222222222222rem;
    height: 1.3911111111111112rem;
    background: url(https://p3.ssl.qhmsg.com/t012cfe8cef6be3c7c3.jpg) no-repeat center 0;
    background-size: cover;
    text-decoration: none;
}


.page-hd-mothers-day-promotion .page-one .block3{
    height: 2.3333333333333335rem;
    background: url(https://p3.ssl.qhmsg.com/t013ce341a574e9e7fa.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
}
.page-hd-mothers-day-promotion .page-one .btn-to-page-two{
    position: absolute;
    left: .26rem;
    top: 1.44rem;
    width: 2.71rem;
    height: .72rem;
    border-radius: 999px;
}

/*母亲节送祝福选择页*/
.page-hd-mothers-day-promotion .page-two .block1{
    height: 1.92rem;
    background: url(https://p2.ssl.qhmsg.com/t01b5d181dfa6074cc0.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-mothers-day-promotion .page-two .block2{
    height: 3.2177777777777776rem;
    background: url(https://p0.ssl.qhmsg.com/t01787464f618b2a8b1.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
}
.page-hd-mothers-day-promotion .page-two .btn-change-phone{
    position: absolute;
    left: .22rem;
    top: 0.07rem;
    width: 2.71rem;
    height: .72rem;
    border-radius: 999px;
}
.page-hd-mothers-day-promotion .page-two .btn-send-blessings{
    position: absolute;
    left: .22rem;
    top: .92rem;
    width: 2.71rem;
    height: .72rem;
    border-radius: 999px;
}

/*母亲节送祝福填写信息页*/
.page-hd-mothers-day-promotion .page-three .block1{
    height: .8rem;
    background: url(https://p2.ssl.qhmsg.com/t01f1b3acad15aeb9af.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-mothers-day-promotion .page-three .row{
    padding: .03rem .1rem;
}
.page-hd-mothers-day-promotion .page-three .textarea-radius{
    height: 1.1rem;
    background: #fff;
}

.page-hd-mothers-day-promotion .page-three .tit{
    height: .3rem;
    line-height: .35rem;
    margin:0 .1rem;
    color: #e9213d;
    font-size: .14rem;
    border-bottom: 1px solid #ffcbd9;
}
.page-hd-mothers-day-promotion .page-three .textarea-radius textarea{
    height: .8rem;
}
.page-hd-mothers-day-promotion .page-three .textarea-radius,
.page-hd-mothers-day-promotion .page-three .input-radius{
    border-color: #ffcbd9;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
    .textarea-radius:before,
    .input-radius:before{
        border-color: #ffcbd9;
    }
}
.page-hd-mothers-day-promotion .page-three .vcode-img{
    width: 100%;
    height: .36rem;
}
.page-hd-mothers-day-promotion .page-three .btn-order-confirm-submit{
    display: block;
    width: 2.1rem;
    height: .44rem;
    margin: .2rem auto 0;
    background: #fd6389;
    color: #fff;
    font-size: .2rem;
    border-radius: 999px;
}
.page-hd-mothers-day-promotion .page-three .desc{
    font-size: .1rem;
    text-align: center;
    color: #999;
}

.page-hd-mothers-day-promotion .page-three .block3{
    height: 1.4577777777777778rem;
    background: url(https://p1.ssl.qhmsg.com/t01e47db20b815f7628.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
}


.video-player-panel{
    border: 0;
    border-radius: 0;
}

.video-player-panel.dialog-wrap .dialog-inner{
    position: relative;
    z-index: 11002;
    padding: 0;
    font-size: 0;
}

.video-player-panel.dialog-wrap .dialog-close,
.video-player-panel.dialog-wrap .dialog-close:hover {
    right: 0;
    top: -0.24rem;
    z-index: 11003;
    width: .24rem;
    height: .24rem;
    background-size: .24rem;
}