a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

.inpt {
    width: 100%;
    height: .34rem;
    padding: 0 .08rem;
    line-height: normal;
    font-size: .12rem;
    font-family: inherit;
    border: 0;
    border-radius: .04rem;
    background-color: #b8e2ff;
    color: #08446d;
}

.page-hd-suning-s8 {
    background-color: #000c2a;
}

.page-hd-suning-s8 .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-suning-s8 .block {
    position: relative;
    padding: 0;
    height: 1.6rem;
    overflow: hidden;
    font-size: 0;
    background: #fff url(https://p.ssl.qhimg.com/t01a30049177795fcc3.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-suning-s8 .block2 {
    height:2.05rem;
}
.page-hd-suning-s8 .block3 {
    height: 2.0138666666666665rem;
}

.page-hd-suning-s8 .block6 {
    height: 2.4704rem;
}

.page-hd-suning-s8 .block9 {
    height: 2.3253333333333335rem;
}

.page-hd-suning-s8 .active-rule {
    color: #8d6f34;
    padding: .1rem;
}

.page-hd-suning-s8 .active-rule .title {
    display: block;
    padding: .1rem 0;
    text-align: center;
    font-size: .15rem;
    font-weight: 700;
}

.page-hd-suning-s8 .active-rule .title span {
    display: inline-block;
    padding: .02rem .18rem;
    border-radius: .15rem;
    background-color: #fff
}

.page-hd-suning-s8 .active-rule .content li {
    font-size: .12rem;
}

.page-hd-suning-s8 .applied-num {
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
    right: 1.14rem;
    font-size: .2rem;
    text-align: center;
    color: #0f527f;
}

.page-hd-suning-s8 .trigger-btn-apply,
.page-hd-suning-s8 .trigger-btn-get-more-about-new-product {
    position: absolute;
    top: 1.55rem;
    width: 1.2rem;
    height: .34rem;
    background-color: transparent;
    color: #fff;
    text-indent: -999px;
}

.page-hd-suning-s8 .trigger-btn-apply {
    left: .08rem;
}

.page-hd-suning-s8 .trigger-btn-get-more-about-new-product {
    right: .08rem;
}

.page-hd-suning-s8 .dialog-mask {
    z-index: 19997;
}

.page-hd-suning-s8 .suning-s8-apply-panel {
    z-index: 19999;
    border: 0;
    background: transparent;
}

.page-hd-suning-s8 .suning-s8-apply-panel .dialog-close,
.page-hd-suning-s8 .suning-s8-apply-panel .dialog-close:hover {
    background-image: url(https://p0.ssl.qhmsg.com/t0112bc7a538adbf7ad.png);
    background-size: contain;
}

.page-hd-suning-s8 .suning-s8-apply-panel .dialog-inner {
    padding: 0;
}

.page-hd-suning-s8 .suning-s8-apply-panel .panel-head {
}

.page-hd-suning-s8 .suning-s8-apply-panel .panel-body {
    padding: .06rem .16rem .5rem;
    background: url(https://p4.ssl.qhmsg.com/t010761be469deca54e.jpg) no-repeat center 0;
    /*background-size: contain;*/
    background-size: cover;
    border: 0;
}

.page-hd-suning-s8 .suning-s8-apply-panel .panel-bottom {
    background: url(https://p4.ssl.qhmsg.com/t018a751849da864e02.jpg) no-repeat center 0;
    background-size: contain;
    height: .1rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .row {
    margin-bottom: .08rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .col-left-fixed {
    width: 30%;
}

.page-hd-suning-s8 .suning-s8-apply-panel .col-left-fixed span {
    display: block;
    width: 90%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    background-color: #b8e2ff;
    color: #08446d;
    border-radius: .04rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .col-right {
    margin-left: 30%;
}

.page-hd-suning-s8 .suning-s8-apply-panel .vcode-img {
    margin: 0 0 0 6%;
    display: block;
    width: 94%;
    height: .34rem;
    border: 0;
    border-radius: .02rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .btn-get-secode {
    margin: 0 0 0 6%;
    display: block;
    width: 94%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    font-size: .12rem;
    border: 0;
    background: #fff;
    color: #08446d;
    border-radius: .02rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .btn-get-secode.btn-get-secode-disabled {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}

.page-hd-suning-s8 .suning-s8-apply-panel .btn-submit {
    display: block;
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    font-size: .12rem;
    background: #30a3f9;
    color: #fff;
    border-radius: .02rem;
    border: 0;
}

.page-hd-suning-s8 .suning-s8-apply-panel .succ-tit {
    /*padding: .1rem .2rem;*/
    padding: .47rem .2rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
}

.page-hd-suning-s8 .suning-s8-apply-panel .succ-desc {
    padding: 0 .2rem;
    font-size: .14rem;
    color: #999;

}

.page-hd-suning-s8 .suning-s8-apply-panel .succ-qrcode {
    margin: .14rem auto;
    width: 50%;
    border: 1px solid #dfd0a1;
    border-radius: .06rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .succ-qrcode img {
    border-radius: .06rem;
}

.page-hd-suning-s8 .suning-s8-apply-panel .trigger-select-province-city-area,
.page-hd-suning-s8 .suning-s8-apply-panel .trigger-select-province-city-area:hover {
    display: block;
    padding: 0 .08rem;
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    font-size: .12rem;
    font-family: inherit;
    border-radius: .02rem;
    background-color: #b8e2ff;
    color: #08446d;
}

.page-hd-suning-s8 .suning-s8-apply-panel .trigger-select-province-city-area.default {
    color: #649bbf;
}

.page-hd-suning-s8 .suning-s8-apply-panel .trigger-select-province-city-area.arrow-down:after {
    border-top-color: #649bbf;
    border-right-color: #649bbf;
}

.page-hd-suning-s8 .suning-s8-apply-panel .row-recycle-mobile .inpt {
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 82%;
    vertical-align: top;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*.page-hd-suning-s8 .suning-s8-apply-panel .row-recycle-mobile .select-recycle-mobile {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 2px;*/
    /*right: 2px;*/
    /*bottom: 2px;*/
    /*width: 96%;*/
    /*height: 80%;*/
    /*border: 0;*/
/*}*/

.page-hd-suning-s8 .suning-s8-apply-panel .row-recycle-mobile .trigger-select-recycle-mobile {
    display: inline-block;
    vertical-align: top;
    padding: 0 .08rem;
    width: 18%;
    height: .34rem;
    line-height: normal;
    font-size: .12rem;
    background-color: #b8e2ff;
    border-left: 1px solid #78b5dc;
    border-radius: .02rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-hd-suning-s8 .suning-s8-apply-panel .row-recycle-mobile .trigger-select-recycle-mobile.arrow-down:after {
    border-top-color: #649bbf;
    border-right-color: #649bbf;
}


.page-hd-suning-s8 .suning-s8-apply-panel .form-disabled .btn-submit {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}

.js-countdown-release-list {
    position: absolute;
    top: 0.21rem;
    left: 0.12rem;
    height: .42rem;
    line-height: .42rem;
    margin-left: .25rem;;
}

.js-countdown-release-list span {
    display: inline-block;
    margin-right: .1rem;
    width: .53rem;
    font-size: .38rem;
    color: #04d5fc;
    text-align: center;
}

.js-countdown-release-list .desc-txt,
.js-countdown-release-list .d-txt,
.js-countdown-release-list .h-txt,
.js-countdown-release-list .m-txt,
.js-countdown-release-list .s-txt {
    display: none;
}

.page-hd-suning-s8 .block-intro {
    height: 100vh;
    padding-bottom: .4rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-hd-suning-s8 .block-intro-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: .4rem;
}

.page-hd-suning-s8 .block-intro-btn .btn {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    border-radius: 999px;
}

.page-hd-suning-s8 .block-intro-btn .btn-apply {
    color: #fff;
    background: #3c9dfd;
}

.page-hd-suning-s8 .block-intro-btn .btn-go-back {
    color: #714500;
    background: #ffeb9d;
}

/*省/市/区县选择*/
.shipping-address-select-block {
    position: fixed;
    left: 0px;
    top: 100%;
    z-index: 9999;
    width: 100%;
    background: #f8f8f8;
    box-shadow: 0 0px 1px #ccc;
}

.shipping-address-select-block .dt-table {
    margin: 0 auto;
    display: table;
    width: 100%;
    max-width: 720px;
}

.shipping-address-select-block .dt-table .col {
    float: left;
    display: table-cell;
}

.shipping-address-select-block .dt-table-3-col .col {
    width: 33.33333333333333333%;
}

.shipping-address-select-block .dt-table-2-col .col {
    width: 50%;
}

.shipping-address-select-block .dt-table-1-col .col {
    width: 100%;
}

/*.shipping-address-select-block .col-3-1 {*/
/*width : 33.33333333333333333%;*/
/*}*/

.shipping-address-select-block .i-item {
    display: block;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    margin: 0 5%;
    font-size: .12rem;
    height: .4rem;
    line-height: .4rem;
    color: #666;
}

.shipping-address-select-block .i-item.selected {
    color: #00ae5d;
    font-weight: bold;
    font-size: .13rem;
}

.shipping-address-select-block .item-select {
    height: 1.2rem;
    overflow: hidden;
    position: relative;
}

.shipping-address-select-block .item-window {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAEsCAYAAAD+RfIfAAAAf0lEQVRo3u2XQQ6AIAwEUfj/jxF5gZ6sHRgSbpPZpoc2bWO+8vDa/AHARYhAGDJECIQBfY8augaOwSLtg612gKxtcDULBAOI6wBhyBDxChQBAQEBAQEBFHB8D5yECIQhQ4RAGFD3qKFq4Bgs0lbbBwfI2gZXs0AwgLgOEIa/I27P0oCs/+NGNQAAAABJRU5ErkJggg==") repeat-x 0 center;
    background-size: auto 100%;
    z-index: 10;
}

.shipping-address-select-block .item-list {
    margin: .4rem 0;
}

.shipping-address-select-block .i-w-line {
    display: block;
    height: 33%;
    margin: 0 .08rem;
    /*border-bottom : 1px solid #d0d0d0;*/
    border-bottom: 1px solid rgba(208, 208, 208, 0.3);
}

.shipping-address-select-block .ctrl-box {
    margin: 0 auto;
    max-width: 720px;
    border-top: 1px solid rgba(208, 208, 208, 0.3);
    background: #fff
}

.shipping-address-select-block .ctrl-item {
    display: inline-block;
    width: 50%;
    line-height: .4rem;
    font-size: .12rem;
    text-align: center;
    color: #778c82;
}

.shipping-address-select-block .ctrl-item:active {
    background-color: #f8f8f8;
}

.shipping-address-select-block .ctrl-item:first-child {
    box-shadow: -1px 0 0 rgba(208, 208, 208, 0.3) inset;
}