.block-copyright{
    height: 120px;
    font-size: 14px;
    background: #44aa77;
    color: #fff;
    text-align: center;
}
.block-copyright .block-copyright-inner{
    padding-top: 40px;
}
.block-copyright p{
    padding: 3px 0;
}
.block-copyright a{
    color: #fff;
}