/*红包*/
.block-hongbao{
    color: #333;
}
.block-hongbao a,
.block-hongbao a:hover,
.block-hongbao a:active{
    text-decoration: none;
}
.block-hongbao .block-hongbao-title{
    padding: 14px 0 0 40px;
}
.block-hongbao .block-hongbao-title .need-hongbao-checkable{
    cursor: pointer;
}
.block-hongbao .block-hongbao-title .need-hongbao-checkable .checkbox{
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
}
.block-hongbao .block-hongbao-title .need-hongbao-checkable .check-txt{
    font-size: 16px;
    line-height: 20px;
}
.block-hongbao .block-hongbao-title .need-hongbao-checked .checkbox{
    background: url(https://p.ssl.qhimg.com/t0166185e214fb9e498.jpg) no-repeat 0 0;
}
.block-hongbao .block-hongbao-title .hongbao-disabled,
.block-hongbao .block-hongbao-title .hongbao-vaild-txt{
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    color:red;
}
.block-hongbao .block-hongbao-cont-inner{
    padding: 15px 0 15px 70px;
    border-bottom: 1px dashed #ededed;
    font-size: 14px;
}

/*红包列表*/
.block-hongbao .hongbao-title{
    font-size: 16px;
    line-height: 20px;
}
.block-hongbao .hongbao-list .hongbao-item{
    float: left;
    width: 316px;
    height: 127px;
    text-align: center;
    font-size: 12px;
    background: url("https://p5.ssl.qhimg.com/t011343bdec1fe8930f.png") no-repeat center 0;
}
.block-hongbao .hongbao-list .hongbao-item.hongbao-item-disable{
    background-image: url("https://p5.ssl.qhimg.com/t018ca54edffbeb97d2.png");
}
.block-hongbao .hongbao-list .hongbao-item .col-left{
    float: left;
    width: 118px;
    color: #fff;
    line-height: 1.3;
}
.block-hongbao .hongbao-list .hongbao-item .col-right{
    margin-left: 118px;
}
.block-hongbao .hongbao-list .hongbao-item .hongbao-amount{
    padding-top: 20px;
}
.block-hongbao .hongbao-list .hongbao-item .hongbao-amount-symbol {
    font-size: 14px;
}
.block-hongbao .hongbao-list .hongbao-item .hongbao-amount-money {
    text-indent: -4px;
    font-size: 40px;
}
.block-hongbao .hongbao-list .hongbao-item .hongbao-time,
.block-hongbao .hongbao-list .hongbao-item .hongbao-desc{
    font-size: 10px;
}
.block-hongbao .hongbao-list .hongbao-item .hongbao-title{
    font-size: 20px;
    text-align: center;
    line-height: 127px;
    color: #6d6d6d;
}
.block-hongbao .hongbao-list .hongbao-item .icon-checked {
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 20px;
    height: 20px;
    background: url(https://p0.ssl.qhimg.com/t01a7fb3d1963cbdfe0.png) no-repeat center;
}
.block-hongbao .hongbao-list .hongbao-item.hongbao-item-checked .icon-checked{
    display: block;
}

