.user-mobile-check-order-panel-wrap {
    background: #fff;
}

.user-mobile-check-order-panel-wrap .ft {
    display: none;
    height: 0;
}

.user-mobile-check-order-panel {
    width: 700px;
    height: 290px;
    *height: 330px;
    color: #333;
    font-size: 12px;
    background: #fff;
}

.user-mobile-check-order-panel form {
    margin: 20px auto 30px;
    width: 320px;
}

.user-mobile-check-order-panel .inpt {
    margin: 0 3px 0 0;
    padding: 8px;
    width: 120px;
    vertical-align: top;
}

.user-mobile-check-order-panel .line {
    padding: 0;
    margin: 15px 0 5px 0;
    line-height: 34px;
    font-size: 0;
}

.user-mobile-check-order-panel .line-left,
.user-mobile-check-order-panel .line-right {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 12px;
}

.user-mobile-check-order-panel .line-left {
    padding-right: 4px;
    width: 80px;
    text-align: right;
}

.user-mobile-check-order-panel .line-mobile .inpt{
    width: 213px;
}

.user-mobile-check-order-panel h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 20px;
    text-align: center;
}

.user-mobile-check-order-panel-getsecode {
    /*padding: 0 10px;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 90px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background: red;
    vertical-align: top;
    text-align: center;
}

.user-mobile-check-order-panel-getsecode:hover {
    background: #ff3434;
    text-decoration: none;
}

.user-mobile-check-order-panel .vcode-img {
    width: 90px;
    height: 34px;
    vertical-align: top;
}

.user-mobile-check-order-panel-getsecode-disabled,
.user-mobile-check-order-panel-getsecode-disabled:hover {
    background: #ccc;
}

.user-mobile-check-order-panel .sub-btn {
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 0;
    color: #fff;
    background: #ff831f;
    cursor: pointer;
}

.user-mobile-check-order-panel .user-at-360-login {
    padding: 0 20px 0 0;
    text-align: right;
}

.user-mobile-check-order-panel .user-login {
}

