/* 排序 */
.page-liangpin .search-sort {
    height        : 50px;
    margin-top : 5px;
    font-size: 18px;
}

.page-liangpin .search-sort a{
    display      : block;
    line-height  : 50px;
    height       : 50px;
    float        : left;
    padding      : 0 20px;
    cursor       : pointer;
    color        : #333;
}

.page-liangpin .search-sort .sort-item:hover {
    text-decoration : none;
}

.page-liangpin .search-sort .sort-curr {
    color : #4a7;
}

