/* 过滤选项 */
.page-liangpin .search-filter{
    margin-bottom: 5px;
    padding-bottom: 9px;
    border: 1px solid #EAEAEA;
    border-top-color: #fff;
    background: #fff;
}
.page-liangpin .search-filter .filter-line{}
.page-liangpin .search-filter .filter-tit{
    font-size: 16px;
    color: #666;
    float: left;
    width: 80px;
    line-height: 30px;
    padding: 9px 0 0 20px;
}
.page-liangpin .search-filter .filter-choice{
    margin-left: 120px;
    padding: 9px 0 0 0;
}
.page-liangpin .search-filter .filter-item{
    display: inline-block;
    _zoom:1;
    line-height: 22px;
    padding: 0 5px;
    margin: 4px;
    color: #4088CB;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
}
.page-liangpin .search-filter .filter-curr{
    background: #4DAF7C;
    color: #fff;
    font-weight: bold;
}

.page-liangpin .search-filter .filter-item:hover{
    text-decoration: none;
    background: #4DAF7C;
    color: #fff;
}
.page-liangpin .filter-selected-line{
    margin: 0 0 0 10px;
    color: #4088CB;
}

.page-liangpin .filter-selected-line .filter-tit{
    padding-left: 10px;
    width: auto;
    line-height: 24px;
}
.page-liangpin .filter-selected-line .filter-choice{
    float: none;
    margin: 0;
    padding: 4px 0 7px 0;
    width: auto;
}
.page-liangpin .filter-selected-line .selected-item{
    margin: 5px 0 0 8px;
    padding: 0 2px 0 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    line-height: 22px;
    border: 1px solid #E0E0E0;
}
.page-liangpin .filter-selected-line .selected-item span{
    margin: 0 2px 0 5px;
    color: #185;
}
.page-liangpin .filter-selected-line .selected-item .del,
.page-liangpin .filter-selected-line .selected-item .del:hover{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    text-align: center;
    color: #8B8B8B;
    cursor: pointer;
    text-decoration: none;
}

/*8成新促销*/
.page-liangpin .search-filter .filter-item-8xin{
    background: url(https://p0.ssl.qhmsg.com/t01722610326209623e.png) no-repeat right center;
    color: #f50;
}
.page-liangpin .search-filter .filter-item-8xin i{
    color: #fff;
    padding-left: 8px;
}
