/*手机试用首页*/
.page-shiyong-index{

}
.page-shiyong-index .block{}
.page-shiyong-index .block-inner{
    margin: 0 auto;
}

.page-shiyong-index .block1,
.page-shiyong-index .block1 .block-inner{
}
.page-shiyong-index .block1 .liji-qiangzu-7,
.page-shiyong-index .block1 .liji-qiangzu-7:hover{
    position: relative;
    display: block;
    width: 100%;
    height: 1.551111111111111rem;
    text-decoration: none;
    background: url(https://p.ssl.qhimg.com/t01be8e4f68dc419506.png) no-repeat center;
    background-size: cover;
}
.page-shiyong-index .block1 .liji-qiangzu-7 .btn-rent-disabled{
    position: absolute;
    top: .96rem;
    left: 1.77rem;
    width: 1.15rem;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    font-size: .16rem;
    border-radius: .2rem;
    background: #e3e3e3;
    color: #fff;
}
.page-shiyong-index .logo{
    width: 1.03rem;
    height: .4rem;
    background: url("https://p.ssl.qhimg.com/t0119f4174667f5f2ee.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    text-indent: -999rem;
}
.page-shiyong-index .logo a{
    display: block;
    height: 100%;
}
.page-shiyong-index .block1 .tit{
    font-size: .16rem;
    height: .2rem;
    line-height: .2rem;
    color: #333;
    text-align: center;
}
.page-shiyong-index .block1 .cont{

}
.page-shiyong-index .block1 .item{
    width: 50%;
    float: left;
    padding: 0 0.1rem;
}
.page-shiyong-index .block1 .item .pic{
    height: 1.5rem;
    padding: 0.1rem 0;
}
.page-shiyong-index .block1 .item .info{
    padding-left: .15rem;
}
.page-shiyong-index .block1 .item .name{
    font-size: .16rem;
    color: #333;
    padding-bottom: .1rem;
}
.page-shiyong-index .block1 .item .price-buy{
    font-size: .12rem;
    color: #999;
    text-decoration: line-through;
    padding-bottom: .03rem;
}
.page-shiyong-index .item .price-rent{
    font-size: .12rem;
    color: #f60;
}
.page-shiyong-index .item .price-rent .cont-num{
    font-size: .14rem;
    padding-left: .08rem;
}
.page-shiyong-index .item .price-rent .num{
    font-size: .18rem;
}
.page-shiyong-index .item .price-rent i{
    color: #333;
}
.page-shiyong-index .item .btn-rent{
    width: 1.4rem;
    height: .34rem;
    background: #f50;
    text-align: center;
    line-height: .34rem;
    font-size: .16rem;
    color: #fff;
    margin: .1rem auto;
    border-radius: .2rem;
}
.page-shiyong-index .item .btn-rent.btn-rent-disabled{
    background: #e3e3e3;
    color: #fff;
}
.page-shiyong-index .block2,
.page-shiyong-index .block2 .block-inner{
    height: 1.05rem;
    background: url("https://p.ssl.qhimg.com/t01118f54a5f356bfb4.jpg") no-repeat center 0px;
    background-size: cover;
}
.page-shiyong-index .block3,
.page-shiyong-index .block3 .block-inner{
    height: 1.25rem;
    background: url("https://p.ssl.qhimg.com/t01f059504f86eb231a.jpg") no-repeat center 0px;
    background-size: cover;
}
.page-shiyong-index .btn-view-order-list{
    position: absolute;
    top: .1rem;
    right: .1rem;
    color: #666;
    font-size: .24rem;
    text-align: center;
}

.page-shiyong-index .mobile-experience-qa{
    padding: .02rem .1rem .30rem .1rem;
    line-height: 1.6;
    text-align: center;
}
.page-shiyong-index .mobile-experience-qa h3{
    font-size: .16rem;
    color: #333;
    padding: .1rem 0;
}
.page-shiyong-index .mobile-experience-qa dl{
    margin: 0;
    text-align: left;
    font-size: .10rem;
}
.page-shiyong-index .mobile-experience-qa dl dt{
    margin: 0;
    padding: .04rem 0 .1rem .3rem;
    color: #333;
    background: url("https://p.ssl.qhimg.com/t01995f61cc3127a378.png") no-repeat 0 0;
    background-size: .22rem;
}
.page-shiyong-index .mobile-experience-qa dl dd{
    margin: 0;
    padding: .04rem 0 .1rem .3rem;
    color: #999;
    background: url("https://p.ssl.qhimg.com/t01837f6956b0ed5883.png") no-repeat 0 0;
    background-size: .22rem;
}
.page-shiyong-index .mobile-experience-qa dd img{
    width: 100%;
}
/*试用停服公告*/
.page-shiyong-index .shiyong-tips-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
}
.page-shiyong-index .shiyong-tips-wrap .shiyong-tips-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: #000;
    opacity:0.5;
    filter:alpha(opacity:50);
}
.page-shiyong-index .shiyong-tips{
    width: 2.6rem;
    height: 1.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -1.3rem;
    margin-top: -0.8rem;
    padding: 0 .15rem;
    background: #fff;
    color: #333;
}
.page-shiyong-index .shiyong-tips .tips-con{
    font-size: .14rem;
    padding-top: .3rem;
}
.page-shiyong-index .shiyong-tips .tips-btn{
    text-decoration: none;
    display: block;
    width: 1.2rem;
    height: .36rem;
    margin: 0 auto;
    border: 1px solid #666;
    line-height: .36rem;
    text-align: center;
    font-size: .12rem;
    margin-top: .3rem;
    color: #333;
}
