/* ================订单详情页================== */
.page-shiyong-order-check-pay{
    font-size: .12rem;
    line-height: 1.6;
    overflow: hidden;
}
.page-shiyong-order-check-pay #mainbody{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    min-height: 100%;
    background: #fff;
}
.page-shiyong-order-check-pay .btn-pay-success{
    display: block;
    height: .44rem;
    line-height: .44rem;

}