/* 智能验机 */
.page-xxg-special-download-app-intelligent-assess .block .tit,
.page-xxg-special-download-app-intelligent-assess .block .sub-tit{
    padding: .1rem 0;
    line-height: 2;
    font-size: .16rem;
    font-weight: normal;
    text-align: center;
    color: #333;
}
.page-xxg-special-download-app-intelligent-assess .block .sub-tit {
    color: #999;
}

.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess{
    background-color: #fff;
}

.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-tab{
    margin: 0 auto .12rem auto;
    width: 50%;
    font-size: 0;
}
.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-tab li{
    display: inline-block;
    width: 50%;
    height: .28rem;
    line-height: .28rem;
    box-sizing: content-box;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-tab li.cur{
    border-bottom: 2px solid #185;
}
.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-tab .qrcode-tit{
    display: block;
    font-size: .14rem;
    font-weight: normal;
    color: #999;
    text-align: center;
}
.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-tab .qrcode-tit:hover{
    text-decoration: none;
}
.page-xxg-special-download-app-intelligent-assess .block-download-intelligent-assess .qrcode-img{
    margin: 0 auto;
    display: block;
    width: 40%;
}
/* END 智能验机 */

/*企业版APP*/
.page-xxg-special-download-app{
    background-color: #f5f5f5;
}

.page-xxg-special-download-app .block .tit,
.page-xxg-special-download-app .block .sub-tit{
    padding: .1rem 0;
    line-height: 2;
    font-size: .16rem;
    font-weight: normal;
    text-align: center;
    color: #333;
}
.page-xxg-special-download-app .block .sub-tit {
    color: #999;
}
.page-xxg-special-download-app .block-download-xxg-app .download-logo{
    margin: 0 auto 0 auto;
    display: block;
    width: .6rem;
    height: .6rem;
    border-radius: .05rem;
}
.page-xxg-special-download-app .block-download-xxg-app .row-download{
    padding: .1rem .3rem;
    text-align: center;
}
.page-xxg-special-download-app .block-download-xxg-app .row-download .col-12-6{
    padding: 0 .1rem;
}
.page-xxg-special-download-app .block-download-xxg-app .btn-download{
    margin: .15rem auto;
    display: block;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    box-sizing: content-box;
    border: 1px solid #185;
    border-radius: .05rem;
    color: #185;
    font-size: .12rem;
    text-align: center;
}

/* END 企业版APP */