.page-xxg-special-sf-fix-reward-list {
    line-height: 1;
}

.page-xxg-special-sf-fix-reward-list .block-top {
    padding: 0 .12rem;
    height: 1.85rem;
    background: url("https://p4.ssl.qhimg.com/t0184f7080572c3d957.png") no-repeat center bottom;
    background-size: 100%;
}

.page-xxg-special-sf-fix-reward-list .block-top .today {
    text-align: center;
}

.page-xxg-special-sf-fix-reward-list .block-top .tit {
    padding-top: .25rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.12rem;
}

.page-xxg-special-sf-fix-reward-list .block-top .today .num {
    padding-top: .2rem;
    color: #fff;
    font-size: .44rem;
    font-weight: 600;
}

.page-xxg-special-sf-fix-reward-list .block-top .bottom .tit {
    font-size: 0.11rem;
}

.page-xxg-special-sf-fix-reward-list .block-top .bottom .num {
    padding-top: .09rem;
    color: #fff;
    font-size: 0.18rem;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-date {
    padding: 0 .12rem;
    height: .32rem;
    line-height: .32rem;
    color: #363638;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list {
    padding: 0 .12rem;
    background-color: #fff;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list .item {
    height: .68rem;

}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list .date {
    color: #8c8c8c;
    font-size: 0.2rem;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list .month {
    color: #8c8c8c;
    font-size: 0.1rem;
}

.page-xxg-special-sf-fix-reward-list .block-list .model-name {
    text-align: right;
    font-size: 0.13rem;
    font-weight: 500;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward {
    padding-top: 0.04rem;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list .type {
    color: #999;
}

.page-xxg-special-sf-fix-reward-list .block-list .reward-list .num {
    color: #fe5800;
}

.page-xxg-special-sf-fix-reward-list .block-none {
    padding-top: 1.6rem;
    text-align: center;
}

.page-xxg-special-sf-fix-reward-list .block-none img {
    height: 1rem;
}

.page-xxg-special-sf-fix-reward-list .block-none .tit {
    padding-top: .2rem;
    font-size: 0.13rem;
}
