/*试用协议*/
.mobile-experience-agreement{
    line-height: 1.6;
}
.mobile-experience-agreement h3{
    padding-bottom: .1rem;
    font-size: .16rem;
    text-align: center;
    color: #222;
}
.mobile-experience-agreement dl{
    margin: .1rem 0 0 0;
}
.mobile-experience-agreement dl>dt{
    margin: 0 0 .04rem 0;
    color: #222;
}
.mobile-experience-agreement dl>dd{
    margin: 0 0 .1rem .1rem;
    color: #555;
}
.mobile-experience-agreement ul{}
.mobile-experience-agreement ul>li{
    margin-bottom: .06rem;
}
.mobile-experience-agreement .ul-sub,
.mobile-experience-agreement .ul-sub2{
    padding-left: .15rem;
}
.mobile-experience-agreement .ul-sub>li{
    list-style-type: disc;
}
.mobile-experience-agreement .ul-sub2>li{
    list-style-type: none;
}