html,body{
    background: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}
.w100{width: 100%;}
.fl{ float:left;}
.fr{ float:right;}

.block_inner{
    width:1200px;
    margin: 0 auto;
}
.page-hd-battery .mainbody{

}
.page-hd-battery .ewmbox{
    height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.page-hd-battery .ewm-inner{
    height: 0;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
.page-hd-battery .ewm{
    width: 248px;
    height: 298px;
    position: absolute;
    right: 0px;
    top: 296px;
    /*z-index: 2;*/
    /*background: url("https://p.ssl.qhimg.com/t014fa9365738f11f78.png") no-repeat 0 0;*/
    background: url("https://p.ssl.qhimg.com/t0124264b95f88abbe3.png") no-repeat 0 0;
}
.page-hd-battery .block1,.page-hd-battery .block1 .block_inner{
    height: 424px;
    background: url("https://p.ssl.qhimg.com/t010b4d8c3cd70102f0.png") no-repeat center 0;
}
.page-hd-battery .block1-bg{
    margin: 0 auto;
    width: 980px;
    height: 424px;
    background: url("https://p.ssl.qhimg.com/t01d1d8cb50d63dacbe.png") no-repeat center 30px;
}
.page-hd-battery .btn-box{
    width: 265px;
    height: 95px;
    position: absolute;
    left: 678px;
    top: 280px;
    text-align: center;
}
.page-hd-battery .ty-btn{
    width: 265px;
    height: 64px;
    display: block;
    background: url("https://p.ssl.qhimg.com/t010318264af02698e0.png") no-repeat -5px -4px;
}
.page-hd-battery .ty-btn:hover{
    background-position-y:-88px ;
}
.page-hd-battery .ty-btn:active{
    background-position-y:-172px ;
}
.page-hd-battery .tips-btn{
    color: #d92b25;
    font-size: 14px;
    font-weight: bold;
    padding-top: 14px;
}
.page-hd-battery .block2,.page-hd-battery .block2 .block_inner{
    height: 680px;
    background: url("https://p.ssl.qhimg.com/t010b4d8c3cd70102f0.png") no-repeat center -424px;
    text-align: center;
}
.page-hd-battery .block3,.page-hd-battery .block3 .block_inner{
    height: 391px;
    background: url("https://p.ssl.qhimg.com/t01a9c2f5b4e9783b9d.jpg") no-repeat center 0;
}
.page-hd-battery .block4,.page-hd-battery .block4 .block_inner{
    height: 280px;
    background: url("https://p.ssl.qhimg.com/t01bb86471db8fb4289.jpg") no-repeat center 0;
}
.page-hd-battery .block4 a{
    width: 300px;
    height: 220px;
    position: absolute;
    top:30px;
}
.page-hd-battery .block4 a:hover{
    background: rgba(0,0,0,0.1);
}
.page-hd-battery .shouji-hp{
    left: 128px;
}
.page-hd-battery .pad-hp{
    left: 463px;
}
.page-hd-battery .pjwx{
    left: 770px;
}
.page-hd-battery .block5,.page-hd-battery .block5 .block_inner{
    height: 233px;
    background: url("https://p.ssl.qhimg.com/t01c2f46580ff0f0359.jpg") no-repeat center 0;
}


.page-hd-battery .doc-ft{
    padding-bottom: 0;
    background: #494E51;
    border: 0;
}
.page-hd-battery .doc-ft .icon{
    background-image: url(https://p.ssl.qhimg.com/t0187eed48e2466bf92.png);
}
.page-hd-battery .doc-ft .icon-buy{
    background-position: 0 0;
}
.page-hd-battery .doc-ft .icon-pay{
    background-position: 0 -43px;
}
.page-hd-battery .doc-ft .icon-service{
    background-position: 0 -86px;
}
.page-hd-battery .doc-ft .icon-protect{
    background-position: 0 -129px;
}
.page-hd-battery .doc-ft .icon-company{
    background-position: 0 -172px;
}
.page-hd-battery .doc-ft a{
    color: #fff;
}
.page-hd-battery .doc-ft .footer-nav{
    border: 0;
}
.page-hd-battery .doc-ft .f-nav-box h3{
    color: #fff;
}
.page-hd-battery .doc-ft .copyright-info{
    padding: 10px 0 60px 0;
    background: #242C31;
}

.page-hd-battery .block6{
    background: #F1F1F1;
}
.page-hd-battery .block6 .tit{
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    color: #000;
}
.page-hd-battery .block6 .slide-wrap{
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 40px;
    width: 1100px;
    height: 275px;
    position: relative;
    background: transparent;
}
.page-hd-battery .block6 .slide-wrap .slide-go-left,
.page-hd-battery .block6 .slide-wrap .slide-go-right{
    width: 80px;
    height: 275px;
    line-height: 275px;
    position: absolute;
    font-size: 48px;
    color: #ccc;
    text-align: center;
    font-family: "宋体";
    cursor: pointer;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-hd-battery .block6 .slide-wrap .slide-go-left:hover,
.page-hd-battery .block6 .slide-wrap .slide-go-right:hover{
    background: #fff;
}
.page-hd-battery .block6 .slide-wrap .slide-go-left{
    left: 0;
}
.page-hd-battery .block6 .slide-wrap .slide-go-right{
    right: 0;
}

.page-hd-battery .block6 .slide-wrap .slide-inner{
    width: 940px;
    height: 275px;
    overflow: hidden;
    position: absolute;
    left: 80px;
}
.page-hd-battery .block6 .slide-wrap .slide-item{
    width: 235px;
    height: 275px;
    float: left;
    /*cursor: pointer;*/
    text-align: center;
}
