html,body{
    background: #f5f5f5;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 100%;
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}

.fl{ float:left;}
.fr{ float:right;}
.w1000 {
    width: 1000px;
    margin:0 auto
}

/*header部分*/
.hd-baiyuan-header-top,.hd-baiyuan-header .hd-baiyuan-header-img  {
    position: relative;
    height: 80px;
    background: url('https://p.ssl.qhimg.com/t01c300afa29034f3f2.png') center 0;
}
.hd-baiyuan-header .hd-baiyuan-banner {
    height: 200px;
    background-image: url('https://p.ssl.qhimg.com/t01d76e7b2dcc268798.jpg');
    background-size: 1000px 200px;
}
.hd-baiyuan-header .hd-baiyuan-header-back {
    width: 148px;
    height: 40px;
    position: absolute;
    top: 18px;
    left: 25px;
    border-radius: 20px;
    overflow: hidden;
}
.hd-baiyuan-header .hd-baiyuan-header-back a {
    display: block;
    width: 148px;
    height: 40px;

}

.hd-baiyuan-page .pagination .pages a {
    /*display: none;*/
    display: inline-block;
   padding-top: 9px;
   padding-bottom: 9px;
    background-color: #fff;

}
.hd-baiyuan-page .pagination .pages a:hover {
    background-color: #ff6600;
}
.hd-baiyuan-page .pagination .pages span {
    background-color: #ff6600;
    color:#ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
}




.search-result .item{
    position: relative;
    float: left;
    background: #fff;
    /*padding:0 0 20px;*/
    /*height: 290px;*/
    width: 200px;
}

.search-result .item a{
    display: block;
    width: 169px;
    height: 259px;
    padding: 0px 15px 18px 15px;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    /*margin-top: -1px;*/
}
.search-result .item:nth-child(5n) a {
    border-right: 0;
}
.search-result .item a:hover{
    text-decoration: none;
}
.search-reuslt .item .p-img img{
    margin: 8px auto;
}
.search-result .p-img img{
    margin:10px 0;
    /*width: 120px !important;*/
    height: 120px !important;

}
.search-result .p-tit{
    width: 167px;
    font-size: 14px;
    padding: 0px 0 4px;
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height:20px;
    height:38px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.search-result .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: 12px;
}
.search-result .p-price-new .price-tit{
}
.search-result .p-price-new .price-cnt{
    text-decoration: line-through;
}
.search-result .p-price{
    line-height: 100%;
    padding-top: 5px;
    font-size: 14px;
    color: #ff3300;
}
.search-result .p-price .price-cnt{
    font-size: 18px;
}

.search-result .btn-qiang{
    margin: 10px auto 0;
    display: block;
    width: 171px;
    height: 39px;
    line-height: 40px;
    /*border:1px solid #fe4d4e;*/
    /*font-size: 16px;*/
    /*color: #fe4d4e;*/
    border: 2px solid #f43b3c;
    font-size: 18px;
    color: #f43b3c;
    text-align: center;
}
.search-result .item a:hover .btn-qiang{
    background: #fe4d4e;
    color: #fff;
}
.search-result .btn-disabled,
.search-result .item a:hover .btn-disabled{
    background-color: #ddd;
    border-color:#ddd;
    color: #fff;
}

.search-result .offset-label{
    position: absolute;
    top: 0;
    left: 4px;
    padding: 8px 0;
    width: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background: #f53b3c;
}

.page-baiyuan .block6{
    margin-bottom: 0;
}

.page-baiyuan .for-more{
    padding-top: 20px;
}
.page-baiyuan .for-more a{
    float: left;
    margin-bottom: 16px;
}
.page-baiyuan .goto-qijian,.page-baiyuan .goto-zhuliu{
    margin-right: 12px;
}

.page-baiyuan .bottom-banner{
    padding-bottom: 30px;
}

