html,body{
    background: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}
.w100{width: 100%;}
.fl{ float:left;}
.fr{ float:right;}

.block_inner{
    width:1200px;
    margin: 0 auto;
}
.color_iphone .block1{
    height: 626px;
}
.color_iphone .block1 .top-banner{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 626px;
}
.color_iphone .block1 .top-banner .item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 626px;
}
.color_iphone .block1 .top-banner .item-inner{
    margin: 0 auto;
    width: 1200px;
    height: 626px;
}

.color_iphone .block1 .top-banner .item-0,
.color_iphone .block1 .top-banner .item-0 .item-inner{
    z-index: 1;
    background: url(https://p.ssl.qhimg.com/t010d665962dd6247f4.jpg) no-repeat center 0;/*梦想蓝*/
}
.color_iphone .block1 .top-banner .item-1,
.color_iphone .block1 .top-banner .item-1 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t019c51fbed892021ee.jpg) no-repeat center 0;/*科技黑*/
}
.color_iphone .block1 .top-banner .item-2,
.color_iphone .block1 .top-banner .item-2 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t017a614bac40527508.jpg) no-repeat center 0;/*激情红*/
}
.color_iphone .block1 .top-banner .item-3,
.color_iphone .block1 .top-banner .item-3 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t01e1727f8141ddbd2d.jpg) no-repeat center 0;/*苹果绿*/
}
.color_iphone .block1 .top-banner .item-4,
.color_iphone .block1 .top-banner .item-4 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t019b0b611e31c90e48.jpg) no-repeat center 0;/*丁香紫*/
}
.color_iphone .block1 .top-banner .item-5,
.color_iphone .block1 .top-banner .item-5 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t01b8eb2b57e03c5496.jpg) no-repeat center 0;/*玫瑰金*/
}
.color_iphone .block1 .top-banner .item-6,
.color_iphone .block1 .top-banner .item-6 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t0148a0e413de166315.jpg) no-repeat center 0;/*深空灰*/
}
.color_iphone .block1 .top-banner .item-7,
.color_iphone .block1 .top-banner .item-7 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t0166d2054f3c0291d3.jpg) no-repeat center 0;/*金属银*/
}
.color_iphone .block1 .top-banner .item-8,
.color_iphone .block1 .top-banner .item-8 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t01be3b637f6c006f90.jpg) no-repeat center 0;/*土豪金*/
}

.color_iphone .block1 .block_inner{
    position: relative;
    margin: 0 auto;
    z-index: 99;
}
.color_iphone .block1 .block_inner .show-cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 1200px;
    height: 626px;
    background: url(https://p.ssl.qhimg.com/t01e1ac8a917bd66128.png) no-repeat 566px 64px;
}
.color_iphone .block1 .btn-go{
    position: absolute;
    top: 292px;
    left: 573px;
    display: block;
    width: 381px;
    height: 66px;
    text-decoration: none;
    background: transparent;
    border-radius: 12px;
}
.color_iphone .block1 .btn-go:hover{
    text-decoration: none;
    background: rgba(102, 102, 102, 0.10);
}
.color_iphone .block1 .color-select-tip{
    position: absolute;
    top: 422px;
    left: 624px;
    display: block;
    width: 338px;
    height: 35px;
    background: url(https://p.ssl.qhimg.com/t01c88b0c25c6600e85.png) no-repeat -143px 3px;
}
.color_iphone .block1 .banner-nav{
    position: absolute;
    top: 473px;
    left: 481px;
    font-size: 0;
    text-align: center;
}
.color_iphone .block1 .banner-nav span{
    margin: 0 5px;
    display: inline-block;
    width: 52px;
    height: 82px;
    background: url(https://p.ssl.qhimg.com/t01c88b0c25c6600e85.png) no-repeat 0 -52px;
    cursor: pointer;
}
.color_iphone .block1 .banner-nav .cur{
    background: url(https://p.ssl.qhimg.com/t0157a0afdd59cfeafc.png) no-repeat 0 -52px;
}
.color_iphone .block1 .banner-nav .nav-0{
    background-position: 0 -52px;
}
.color_iphone .block1 .banner-nav .nav-1{
    background-position: -65px -52px;
}
.color_iphone .block1 .banner-nav .nav-2{
    background-position: -130px -52px;
}
.color_iphone .block1 .banner-nav .nav-3{
    background-position: -194px -52px;
}
.color_iphone .block1 .banner-nav .nav-4{
    background-position: -260px -52px;
}
.color_iphone .block1 .banner-nav .nav-5{
    background-position: -323px -52px;
}
.color_iphone .block1 .banner-nav .nav-6{
    background-position: -389px -52px;
}
.color_iphone .block1 .banner-nav .nav-7{
    background-position: -453px -52px;
}
.color_iphone .block1 .banner-nav .nav-8{
    background-position: -519px -52px;
}


.color_iphone .block2,.color_iphone .block2 .block_inner{
    background: #f8f8f8;
}
.color_iphone .com-question{
    padding: 50px 0;
    width: 960px;
    margin: 0 auto;
}
.color_iphone .com-question h3{
    text-align: center;
    font-size: 30px;
    color: #333;
    padding-bottom: 10px;
}
.color_iphone .com-question-con h4{
    font-size: 24px;
    color: #333;
    padding: 0px 0 22px 54px;
    background: url("https://p.ssl.qhimg.com/t01cffe8b0bece76afc.png") no-repeat 0 4px;
}
.color_iphone .com-question-con p{
    line-height: 28px;
    font-size: 18px;
    color: #666;
    padding: 2px 0 30px 54px;
    background: url("https://p.ssl.qhimg.com/t0184dfd24d0ba61ca9.png") no-repeat 0 0;
}
.color_iphone .block3,.color_iphone .block3 .block_inner{
    height: 391px;
    background: url("https://p.ssl.qhimg.com/t01a9c2f5b4e9783b9d.jpg") no-repeat center 0;
}
.color_iphone .block4,.color_iphone .block4 .block_inner{
    height: 280px;
    background: url("https://p.ssl.qhimg.com/t01bb86471db8fb4289.jpg") no-repeat center 0;
}
.color_iphone .block4 a{
    width: 300px;
    height: 220px;
    position: absolute;
    top:30px;
}
.color_iphone .block4 a:hover{
    background: rgba(0,0,0,0.1);
}
.color_iphone .shouji-hp{
    left: 128px;
}
.color_iphone .pad-hp{
    left: 463px;
}
.color_iphone .pjwx{
    left: 770px;
}
.color_iphone .block5,.color_iphone .block5 .block_inner{
    height: 233px;
    background: url("https://p.ssl.qhimg.com/t01c2f46580ff0f0359.jpg") no-repeat center 0;
}


.color_iphone .doc-ft{
    padding-bottom: 0;
    background: #494E51;
    border: 0;
}
.color_iphone .doc-ft .icon{
    background-image: url(https://p.ssl.qhimg.com/t0187eed48e2466bf92.png);
}
.color_iphone .doc-ft .icon-buy{
    background-position: 0 0;
}
.color_iphone .doc-ft .icon-pay{
    background-position: 0 -43px;
}
.color_iphone .doc-ft .icon-service{
    background-position: 0 -86px;
}
.color_iphone .doc-ft .icon-protect{
    background-position: 0 -129px;
}
.color_iphone .doc-ft .icon-company{
    background-position: 0 -172px;
}
.color_iphone .doc-ft a{
    color: #fff;
}
.color_iphone .doc-ft .footer-nav{
    border: 0;
}
.color_iphone .doc-ft .f-nav-box h3{
    color: #fff;
}
.color_iphone .doc-ft .copyright-info{
    padding: 10px 0 60px 0;
    background: #242C31;
}

.color_iphone .block6{
    background: #F1F1F1;
}
.color_iphone .block6 .tit{
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    color: #000;
}
.color_iphone .block6 .slide-wrap{
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 40px;
    width: 1100px;
    height: 275px;
    position: relative;
    background: transparent;
}
.color_iphone .block6 .slide-wrap .slide-go-left,
.color_iphone .block6 .slide-wrap .slide-go-right{
    width: 80px;
    height: 275px;
    line-height: 275px;
    position: absolute;
    font-size: 48px;
    color: #ccc;
    text-align: center;
    font-family: "宋体";
    cursor: pointer;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.color_iphone .block6 .slide-wrap .slide-go-left:hover,
.color_iphone .block6 .slide-wrap .slide-go-right:hover{
    background: #fff;
}
.color_iphone .block6 .slide-wrap .slide-go-left{
    left: 0;
}
.color_iphone .block6 .slide-wrap .slide-go-right{
    right: 0;
}

.color_iphone .block6 .slide-wrap .slide-inner{
    width: 940px;
    height: 275px;
    overflow: hidden;
    position: absolute;
    left: 80px;
}
.color_iphone .block6 .slide-wrap .slide-item{
    width: 235px;
    height: 275px;
    float: left;
    cursor: pointer;
    text-align: center;
}
