html,body{
    background: #f42c49;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    /*line-height: 100%;*/
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}
.w100{width: 100%;}
.fl{ float:left;}
.fr{ float:right;}

.page-hd-erhuojie_160922 .bottom-10{
    margin-bottom: 10px;
}

.block-inner{
    width:1200px;
    margin: 0 auto;
}
.page-hd-erhuojie_160922 .block{
    background: url("https://p.ssl.qhimg.com/t0148378c0e324d2fc1.jpg") no-repeat center 0;
}
.page-hd-erhuojie_160922 .block2,
.page-hd-erhuojie_160922 .block2 .block-inner{
    background-position: center -326px;
    padding-top: 30px;
}
.page-hd-erhuojie_160922 .block3,
.page-hd-erhuojie_160922 .block3 .block-inner{
    background-position: center -1120px;
}
.page-hd-erhuojie_160922 .block4,
.page-hd-erhuojie_160922 .block4 .block-inner{
    background-position: center -1842px;
}
.page-hd-erhuojie_160922 .block5,
.page-hd-erhuojie_160922 .block5 .block-inner{
    background-position: center -2544px;
}
.page-hd-erhuojie_160922 .block6,
.page-hd-erhuojie_160922 .block6 .block-inner{
    background-position: center -3246px;
}
.page-hd-erhuojie_160922 .block-ewm-bottom,
.page-hd-erhuojie_160922 .block-ewm-bottom .block-inner{
    background-position: center -3546px;
}
.page-hd-erhuojie_160922 .block1{
    position: relative;
    z-index: 999;
}

.page-hd-erhuojie_160922 .block1,
.page-hd-erhuojie_160922 .block1 .block-inner{
    height: 326px;
    background: url(https://p.ssl.qhimg.com/t013dbffef2d1be44a1.jpg) no-repeat center 0;
}
.page-hd-erhuojie_160922 .tab-box{
    height: 60px;
    z-index: 5;
    background: #fff;
}
.page-hd-erhuojie_160922 .abs{
    position: absolute;
    left: 0;
    top:326px;
}
.page-hd-erhuojie_160922 .fixed{
    position: fixed;
    left: 50%;
    margin-left: -600px;
    top:0;
}
.page-hd-erhuojie_160922 .tab-list li{
    float: left;
    width: 299px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff002;
    background: #fc9900;
    border-right: 1px solid #fff002;
    position: relative;
}
.page-hd-erhuojie_160922 .tab-list li.cur{
    color: #f83f61;
    background: #fff002;
}
.page-hd-erhuojie_160922 .tab-list .arrow{
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fb464d;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 0;
    display: none;
}
.page-hd-erhuojie_160922 .cur .arrow{
    display: block;
}
/*.page-hd-erhuojie_160922 .tab-list div{*/
    /*width: 300px;*/
    /*height: 54px;*/
    /*background: url("https://p.ssl.qhimg.com/t01095d8f4833e2c0d2.png") no-repeat 0 0;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .tab2{*/
    /*background-position: -299px 0;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .tab3{*/
    /*background-position: -599px 0;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .tab4{*/
    /*background-position: -901px 0;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .cur div{*/
    /*background: url("https://p.ssl.qhimg.com/t01e0904d9bd8d7a15f.png") no-repeat 0 -1px;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .cur .tab2{*/
    /*background-position: -299px 0px;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .cur .tab3{*/
    /*background-position: -599px 0px;*/
/*}*/
/*.page-hd-erhuojie_160922 .tab-list .cur .tab4{*/
    /*background-position: -901px 0px;*/
/*}*/
.page-hd-erhuojie_160922 .tab-placeholder{
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.page-hd-erhuojie_160922 .title{
    height: 90px;
    position: relative;
    color: #fff;
    text-align: center;
}
.page-hd-erhuojie_160922 .title h3{
    font-size: 32px;
    font-weight: bold;
}
.page-hd-erhuojie_160922 .title p{
    font-size: 16px;
}
.page-hd-erhuojie_160922 .block2 .title{
    background: url("https://p.ssl.qhimg.com/t01db5333054e70be53.png") no-repeat center 0;
}
.page-hd-erhuojie_160922 .block3 .title{
    background: url("https://p.ssl.qhimg.com/t01c8fdd488f388078f.png") no-repeat center 0;
}
.page-hd-erhuojie_160922 .block4 .title{
    background: url("https://p.ssl.qhimg.com/t010f968e0d07bc72c2.png") no-repeat center 0;
}
.page-hd-erhuojie_160922 .block5 .title{
    background: url("https://p.ssl.qhimg.com/t01ffc23502bdfd8cfe.png") no-repeat center 0;
}

.page-hd-erhuojie_160922 .title .more{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
}


.page-hd-erhuojie_160922 .product-tit-pic{
    float: left;
    width: 240px;
    height: 305px;
}
.page-hd-erhuojie_160922 .product-list .item{
    position: relative;
    float: left;
    background: #fff;
    padding:10px 30px 20px;
    height: 275px;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
.page-hd-erhuojie_160922 .product-list .item a{
    display: block;
    width: 179px;
    /*padding: 0px 30px;*/
}
.page-hd-erhuojie_160922 .product-list .item a:hover{
    text-decoration: none;
}
.page-hd-erhuojie_160922 .product-list .p-img{
    width: 120px;
    height: 120px;
    margin: 8px auto;
}
.page-hd-erhuojie_160922 .product-list .p-img img{
    width: 100%;
}
.page-hd-erhuojie_160922 .product-list .p-tit{
    font-size: 14px;
    padding: 0px 0 4px;
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height:20px;
    height:38px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.page-hd-erhuojie_160922 .product-list .p-price-new{
    line-height: 100%;
     color: #999;
     font-size: 12px;
}
.page-hd-erhuojie_160922 .product-list .p-price-new .price-tit{
}
.page-hd-erhuojie_160922 .product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.page-hd-erhuojie_160922 .product-list .p-price{
    line-height: 100%;
    padding-top: 5px;
    font-size: 14px;
    color: #ff3300;
}
.page-hd-erhuojie_160922 .product-list .p-price .price-cnt{
    font-size: 18px;
}

.page-hd-erhuojie_160922 .product-list .btn-qiang{
    margin: 10px auto 0;
    display: block;
    width: 175px;
    height: 40px;
    line-height: 40px;
    border:1px solid #fe4d4e;
    font-size: 16px;
    color: #fe4d4e;
    /*border: 2px solid #f43b3c;*/
    /*font-size: 18px;*/
    /*color: #f43b3c;*/
    text-align: center;
}
.page-hd-erhuojie_160922 .product-list .item a:hover .btn-qiang{
    background: #fe4d4e;
    color: #fff;
}
.page-hd-erhuojie_160922 .product-list .btn-disabled,
.page-hd-erhuojie_160922 .product-list .item a:hover .btn-disabled{
    background-color: #ddd;
    border-color:#ddd;
    color: #fff;
}
.page-hd-erhuojie_160922 .product-list .p-label{
    position: absolute;
    top: 0;
    left: 4px;
    width: 49px;
}
.page-hd-erhuojie_160922 .product-list .offset-label{
    position: absolute;
    top: 0;
    left: 4px;
    padding: 8px 0;
    width: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background: #f53b3c;
}
.page-hd-erhuojie_160922 .block6 .block-inner{
    padding: 25px 0 20px;
}

/* 底部关注同城帮微信*/
.page-hd-erhuojie_160922 .block-ewm-bottom{
    width: 1200px;
    margin: 0 auto;
    background: #3c9dfd;
    border-radius: 8px;
    border:1px solid #000764;
    text-align: center;
    margin-bottom: 40px;
}
.page-hd-erhuojie_160922 .block-ewm-bottom h3{
    font-size: 20px;
    padding: 25px 0 10px;
    color: #f9ed03;
}
.page-hd-erhuojie_160922 .block-ewm-bottom p{
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
}
.page-hd-erhuojie_160922 .block-ewm-bottom img{
    width: 164px;
    height: 164px;
    border-radius: 5px;
    padding-bottom: 15px;
}
