html{background: #fff !important;}
a:hover{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom: 1;
}
.relative{
    position: relative;
}
.page-hd-huanxin-apple{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/*.page-hd-huanxin-apple .block{*/
    /*width: 100%;*/
    /*border: 0;*/
/*}*/
.page-hd-huanxin-apple .block-inner{
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.page-hd-huanxin-apple .block1,.page-hd-huanxin-apple .block1 .block-inner{
    height:503px;
    background: url(https://p.ssl.qhimg.com/t010ba8d326d13301ad.jpg) no-repeat center 0;
}
.page-hd-huanxin-apple .block2,.page-hd-huanxin-apple .block2 .block-inner{
    height:257px;
    background: url(https://p.ssl.qhimg.com/t01845fdd7715858dde.jpg) no-repeat center 0;
}
.page-hd-huanxin-apple .block3,.page-hd-huanxin-apple .block3 .block-inner{
    height:324px;
    background: url(https://p.ssl.qhimg.com/t01371d518583596856.jpg) no-repeat center 0;
}
.page-hd-huanxin-apple .tit4,.page-hd-huanxin-apple .tit4 .block-inner{
    height: 137px;
    background: url(https://p.ssl.qhimg.com/t016588f3a5c5a018dd.jpg) center 0 no-repeat;
}
.page-hd-huanxin-apple .block4 .cont,.page-hd-huanxin-apple .block4 .cont .block-inner{
    height:99px;
    background: url(https://p.ssl.qhimg.com/t018c5910ef529f870d.jpg) center 0 no-repeat;
    position: relative;
}

.page-hd-huanxin-apple .block4 .br{
    position: absolute;
    top: 0px;
    left: 1px;
    display: block;
    width: 105px;
    height: 48px;
}
.page-hd-huanxin-apple .block4 .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-huanxin-apple .block4 .apple{
    left: 1px;
}
.page-hd-huanxin-apple .block4 .samsung{
    left: 108px;
}
.page-hd-huanxin-apple .block4 .honor{
    left: 213px;
}
.page-hd-huanxin-apple .block4 .meizu{
    left: 320px;
}
.page-hd-huanxin-apple .block4 .xiaomi{
    left: 424px;
}
.page-hd-huanxin-apple .block4 .vivo{
    left: 531px;
}
.page-hd-huanxin-apple .block4 .yijia{
    left: 637px;
}
.page-hd-huanxin-apple .block4 .oppo{
    left: 743px;
}
.page-hd-huanxin-apple .block4 .chuizi{
    left: 849px;
}

.page-hd-huanxin-apple .block4 .lenovo{
    top: 50px;
    left:1px;
}
.page-hd-huanxin-apple .block4 .blackberry{
    top: 50px;
    left: 108px;
}
.page-hd-huanxin-apple .block4 .lg{
    top: 50px;
    left: 213px;
}
.page-hd-huanxin-apple .block4 .nokia{
    top: 50px;
    left: 320px;
}
.page-hd-huanxin-apple .block4 .letv{
    top: 50px;
    left: 424px;
}
.page-hd-huanxin-apple .block4 .motorola{
    top: 50px;
    left: 531px;
}
.page-hd-huanxin-apple .block4 .htc{
    top: 50px;
    left: 637px;
}
.page-hd-huanxin-apple .block4 .sony{
    top: 50px;
    left: 743px;
}
.page-hd-huanxin-apple .block4 .other{
    top: 50px;
    left: 849px;
}
.page-hd-huanxin-apple .kankan-jiuji,.page-hd-huanxin-apple .kankan-jiuji .block-inner{
    height:152px;
    background: url(https://p.ssl.qhimg.com/t0149603ca825102aa7.jpg) center 0 no-repeat;
}
.page-hd-huanxin-apple .btn-kankan-jiuji{
    position: absolute;
    top: 28px;
    left: 275px;
    display: block;
    width: 409px;
    height: 71px;
    border-radius: 32px;
}
.page-hd-huanxin-apple .title{
    font-size: 34px;
    color:#666;
    text-align: center;
    line-height: 70px;
}
.page-hd-huanxin-apple .block6{
    /*background: #fafafa;*/
}
.page-hd-huanxin-apple .hd-desc .title{
    padding-bottom: 20px;
}
.page-hd-huanxin-apple .hd-desc{
    width: 960px;
    margin:0 auto;
    padding: 40px 0;
}
.hd-desc span{
    float: left;
}
.page-hd-huanxin-apple .hd-desc-r{
    width: 900px;
    padding-left: 26px;
}
.page-hd-huanxin-apple .hd-desc p{
    font-size: 18px;
    color: #8b8b8b;
    padding-bottom: 18px;
}
