html, body {
    background  : #fff;
    font-family : "Microsoft YaHei", "arial", "宋体";
}

.errorblink {
    border : 1px solid #fb0909 !important;
}

.relative {
    position : relative;
}

.f12 {
    font-size : 12px;
}

.w100 {
    width : 100%;
}

/*行的基本模式*/
.block, .row,
.col-2-1,
.col-4-1,
.col-left-fixed, .col-left,
.col-right, .col-right-fixed {
    display : block;
}

.row:after {
    display    : block;
    clear      : both;
    visibility : hidden;
    height     : 0;
    content    : '\20';
}

.row {
    zoom  : 1;
    clear : both;
}

.col-2-1,
.col-4-1,
.col-left-fixed {
    float : left;
}

.col-2-1 {
    width : 50%;
}

.col-4-1 {
    width : 25%;
}

.col-right-fixed {
    float : right;
}

/*END行的基本模式*/
/* 箭头 */
.arrow-down,
.arrow-right {
    position : relative;
}

.arrow-right:after {
    content           : "";
    display           : block;
    position          : absolute;
    width             : 8px;
    height            : 8px;
    right             : 6px;
    top               : 50%;
    margin-top        : -7px;
    border-top        : 2px solid #ccc;
    border-right      : 2px solid #ccc;
    -webkit-transform : rotate(45deg);
    transform         : rotate(45deg);
}

.arrow-down:after {
    content           : "";
    display           : block;
    position          : absolute;
    width             : 8px;
    height            : 8px;
    right             : 10px;
    top               : 50%;
    margin-top        : -7px;
    border-top        : 2px solid #ccc;
    border-right      : 2px solid #ccc;
    -webkit-transform : rotate(135deg);
    transform         : rotate(135deg);
}

/* END箭头 */

/*360手机以旧换新*/
.page-hd-huanxin-360phone{
    background-color: #ededed;
}
.page-hd-huanxin-360phone .block-inner{
    width: 960px;
    margin: 0 auto;
}
.page-hd-huanxin-360phone .block-liji-huanxin,
.page-hd-huanxin-360phone .block-liji-huanxin .block-inner{
    position : relative;
    height: 363px;
    background : url(https://p.ssl.qhimg.com/t0101333502f084e486.png) no-repeat center 0;
}

.page-hd-huanxin-360phone .block-liji-huanxin .btn-liji-huanxin {
    position: absolute;
    top: 272px;
    left: 30px;
    display: block;
    width: 320px;
    height: 50px;
    background    : transparent;
}

.page-hd-huanxin-360phone .block-liji-huanxin .btn-liji-huanxin:hover {
    text-decoration : none;
    background      : rgba(255, 118, 74, 0.10);
    *background     : transparent;
}

.page-hd-huanxin-360phone .block-liji-huanxin .btn-liji-huanxin:active {
    background  : rgba(255, 118, 74, 0.20);
    *background : transparent;
}

.page-hd-huanxin-360phone .block-tit{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: #333;
}

.page-hd-huanxin-360phone .block-360-huanxin{
    padding: 10px 0;
}
.page-hd-huanxin-360phone .block-360-huanxin .item {
    margin    :0 11px 10px 0;
    float           : left;
    display         : block;
    width           : 229px;
    /*height: 340px;*/
    padding-bottom: 20px;
    text-align      : center;
    text-decoration : none;
    color           : #727171;
    background: #fff;
}

.page-hd-huanxin-360phone .block-360-huanxin .item:hover {
    text-decoration : none;
}

.page-hd-huanxin-360phone .block-360-huanxin .img{
    width: 180px;
    margin: 10px auto;
}

.page-hd-huanxin-360phone .block-360-huanxin .tit {
    font-size : 18px;
    padding: 10px 0;
    color: #333;
}

.page-hd-huanxin-360phone .block-360-huanxin .price {
    font-size   : 14px;
    line-height : 1.8;
}

.page-hd-huanxin-360phone .block-360-huanxin .btn {
    margin-top    : 15px;
    width         : 150px;
    height        : 34px;
    line-height   : 34px;
    text-align    : center;
    font-size     : 16px;
    background    : #ff2b0f;
    color         : #fff;
    border-radius : 999px;
}

.page-hd-huanxin-360phone .block-360-huanxin .item:hover .btn {
    background : #ed0505;
}

.page-hd-huanxin-360phone .block-360-huanxin .item:active .btn {
    background : #f00;
}

.page-hd-huanxin-360phone .block-360-huanxin .item-last {
    margin-right : 0;
}

.page-hd-huanxin-360phone .block-zhichi,
.page-hd-huanxin-360phone .block-zhichi .block-inner{
    position    : relative;
    padding-top : 1px;
    height      : 336px;
    background  : url(https://p.ssl.qhimg.com/t01b32a8ac1975b5856.jpg) no-repeat center 0;
}

.page-hd-huanxin-360phone .block-zhichi .btn-kankan-jiuji {
    position      : absolute;
    left          : 277px;
    top           : 233px;
    display       : block;
    width         : 410px;
    height        : 72px;
    line-height   : 72px;
    font-size     : 26px;
    text-align    : center;
    color         : #fff;
    background    : transparent;
    border-radius : 999px;
    font-size     : 0;
}

.page-hd-huanxin-360phone .block-zhichi .btn-kankan-jiuji:hover {
    text-decoration : none;
    background      : transparent;
}

.page-hd-huanxin-360phone .block-zhichi .btn-kankan-jiuji:active {
    background : transparent;
}

.page-hd-huanxin-360phone .block-zhichi .br {
    position : absolute;
    top      : 103px;
    left     : 2px;
    display  : block;
    width    : 105px;
    height   : 55px;
}

.page-hd-huanxin-360phone .block-zhichi .br:hover {
    text-decoration : none;
    box-shadow      : 0 0 6px #497fcc;
}

.page-hd-huanxin-360phone .block-zhichi .apple {
    left : 2px;
}

.page-hd-huanxin-360phone .block-zhichi .samsung {
    left : 108px;
}

.page-hd-huanxin-360phone .block-zhichi .honor {
    left : 215px;
}

.page-hd-huanxin-360phone .block-zhichi .oppo {
    left : 320px;
}

.page-hd-huanxin-360phone .block-zhichi .jinli {
    left : 426px;
}

.page-hd-huanxin-360phone .block-zhichi .doov {
    left : 533px;
}

.page-hd-huanxin-360phone .block-zhichi .xiaomi {
    left : 638px;
}

.page-hd-huanxin-360phone .block-zhichi .htc {
    left : 745px;
}

.page-hd-huanxin-360phone .block-zhichi .sony {
    left : 851px;
}

.page-hd-huanxin-360phone .block-zhichi .motorola {
    top  : 154px;
    left : 2px;
}

.page-hd-huanxin-360phone .block-zhichi .blackberry {
    top  : 154px;
    left : 108px;
}

.page-hd-huanxin-360phone .block-zhichi .lg {
    top  : 154px;
    left : 215px;
}

.page-hd-huanxin-360phone .block-zhichi .nokia {
    top  : 154px;
    left : 320px;
}

.page-hd-huanxin-360phone .block-zhichi .lenovo {
    top  : 154px;
    left : 426px;
}

.page-hd-huanxin-360phone .block-zhichi .vivo {
    top  : 154px;
    left : 533px;
}

.page-hd-huanxin-360phone .block-zhichi .meizu {
    top  : 154px;
    left : 638px;
}

.page-hd-huanxin-360phone .block-zhichi .yijia {
    top  : 154px;
    left : 745px;
}

.page-hd-huanxin-360phone .block-zhichi .other {
    top  : 154px;
    left : 851px;
}

.page-hd-huanxin-360phone .block-intro {
    height     : 440px;
    background : url(https://p.ssl.qhimg.com/t01b31b96df1c5ace13.jpg) no-repeat center 0;
}

.page-hd-huanxin-360phone .block-desc-cont {
    color: #666;
    font-size: 16px;
    padding-bottom: 80px;
}
.page-hd-huanxin-360phone .block-desc-cont p{
    line-height: 1.6;
    padding-bottom: 8px;
}
.page-hd-huanxin-360phone .block-desc-cont .num{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background-color: #727171;
    border-radius: 999px;
    float: left;
}
.page-hd-huanxin-360phone .block-desc-cont .cont{
    float: left;
    width: 900px;
    padding-left: 10px;
}
.page-hd-huanxin-360phone .block-desc-cont .phone-num{
    font-size: 24px;
    padding: 10px 35px;
}

.page-hd-huanxin-360phone .returnToTop a {
    z-index : 999;
}


