html{background: #fff !important;}
.page-hd-htc{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.page-hd-htc .block{
    width: 100%;
}
.page-hd-htc .block-inner{
    position: relative;
    margin: 0 auto;
    width: 960px;
}
.page-hd-htc .block1,
.page-hd-htc .block1 .block-inner{
    height: 816px;
    background: url(https://p.ssl.qhimg.com/t0149b2da769c5bdebf.jpg) no-repeat center 0;
}
.page-hd-htc .block2,
.page-hd-htc .block2 .block-inner{
    height: 1531px;
    background: url(https://p.ssl.qhimg.com/t01d5eea6c0d98c9178.jpg) no-repeat center 0;
}
.page-hd-htc .block3,
.page-hd-htc .block3 .block-inner{
    height: 485px;
    background: url(https://p.ssl.qhimg.com/t012d83a79c616f961d.jpg) no-repeat center 0;
}

.page-hd-htc .block-liji-huanxin-wrap .slide-box{
    height: 433px;
    overflow: hidden;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic{
    float: left;
    width: 100%;
    height: 433px;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic-inner{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 433px;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic0{
    background: url(https://p.ssl.qhimg.com/t01c9cf134e4060d07c.jpg) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic1{
    background: url(https://p.ssl.qhimg.com/t011a7a17ec7ac8493e.jpg) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic0 .top-pic-inner{
    background: url(https://p.ssl.qhimg.com/t01c9cf134e4060d07c.jpg) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .top-pic1 .top-pic-inner{
    background: url(https://p.ssl.qhimg.com/t011a7a17ec7ac8493e.jpg) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .pic-ctrl-wrap{
    position: relative;
    margin: 0 auto;
    width: 960px;
    z-index: 998;
}
.page-hd-htc .block-liji-huanxin-wrap .pic-ctrl{
    position: absolute;
    top: -40px;
    left: 400px;
    z-index: 999;
}
.page-hd-htc .block-liji-huanxin-wrap .ctrl-item{
    float: left;
    margin-right: 20px;
    width: 14px;
    height: 14px;
    background: url(https://p.ssl.qhimg.com/t01b5af32a14743b06a.png) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .ctrl-item-curr{
    background: url(https://p.ssl.qhimg.com/t01c6032198bb881c2a.png) no-repeat center 0;
}
.page-hd-htc .block-liji-huanxin-wrap .btn-liji-huanxin{
    position: absolute;
    top: 300px;
    left: 0;
    width: 213px;
    height: 60px;
    border-radius: 999px;
    background: transparent;
}
.page-hd-htc .block-liji-huanxin-wrap .btn-liji-huanxin:hover{
    text-decoration: none;
}
.page-hd-htc .block-liji-huanxin-wrap .btn-chakan-detail{
    position: absolute;
    top: 372px;
    left: 14px;
    font-size: 16px;
    color: #000;
}


.page-hd-htc .block-zhichi .br{
    position: absolute;
    top: 133px;
    left: 0px;
    display: block;
    width: 105px;
    height: 48px;
}
.page-hd-htc .block-zhichi .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-htc .block-zhichi .apple{
    left: 0px;
}
.page-hd-htc .block-zhichi .samsung{
    left: 106px;
}
.page-hd-htc .block-zhichi .honor{
    left: 213px;
}
.page-hd-htc .block-zhichi .meizu{
    left: 318px;
}
.page-hd-htc .block-zhichi .xiaomi{
    left: 424px;
}
.page-hd-htc .block-zhichi .vivo{
    left: 531px;
}
.page-hd-htc .block-zhichi .yijia{
    left: 636px;
}
.page-hd-htc .block-zhichi .oppo{
    left: 743px;
}
.page-hd-htc .block-zhichi .chuizi{
    left: 849px;
}

.page-hd-htc .block-zhichi .htc{
    top: 182px;
    left: 0px;
}
.page-hd-htc .block-zhichi .blackberry{
    top: 182px;
    left: 106px;
}
.page-hd-htc .block-zhichi .lg{
    top: 182px;
    left: 213px;
}
.page-hd-htc .block-zhichi .nokia{
    top: 182px;
    left: 318px;
}
.page-hd-htc .block-zhichi .letv{
    top: 182px;
    left: 424px;
}
.page-hd-htc .block-zhichi .motorola{
    top: 182px;
    left: 531px;
}
.page-hd-htc .block-zhichi .lenovo{
    top: 182px;
    left: 636px;
}
.page-hd-htc .block-zhichi .sony{
    top: 182px;
    left: 743px;
}
.page-hd-htc .block-zhichi .other{
    top: 182px;
    left: 849px;
}

.page-hd-htc .block-zhichi .btn-kankan-jiuji{
    position: absolute;
    top: 265px;
    left: 275px;
    width: 409px;
    height: 72px;
    border-radius: 999px;
    background: transparent;
}
.page-hd-htc .block-zhichi .btn-kankan-jiuji:hover{
    text-decoration: none;
}

.page-hd-htc .gohtc-btn1,
.page-hd-htc .gohtc-btn2{
    position: absolute;
    top: 550px;
    left: 209px;
    width: 229px;
    height: 45px;
    border-radius: 999px;
    background: transparent;
}
.page-hd-htc .gohtc-btn2{
    left: 520px;
}
.page-hd-htc .gohtc-btn1:hover,
.page-hd-htc .gohtc-btn2:hover{
    text-decoration: none;
}
.page-hd-htc .gohtc-yinsi-detail{
    position: absolute;
    top: 309px;
    left: 409px;
    width: 100px;
    height: 22px;
    background: transparent;
}
.page-hd-htc .gohtc-yinsi-detail:hover{
    background: #E0E0E0;
    opacity: .5;
    filter:alpha(opacity=50);
    text-decoration: none;
}

/*htc商品详情*/
.page-hd-htc-detail{}
.page-hd-htc-detail #doc-topbar,
.page-hd-htc-detail #doc-topbar .user-info,
.page-hd-htc-detail #doc-footer{
    display: none !important;
}
.page-hd-htc-detail .block{
    width: 100%;
}
.page-hd-htc-detail .block-inner{
    margin: 0 auto;
    width: 960px;
    height: 200px;
}
.page-hd-htc-detail .block1,
.page-hd-htc-detail .block1 .block-inner{
    height: 500px;
    background: url(https://p.ssl.qhimg.com/t017a3c9c6d68c52b96.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block2,
.page-hd-htc-detail .block2 .block-inner{
    height: 400px;
    background: url(https://p.ssl.qhimg.com/t01e5c81ac605398f26.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block3,
.page-hd-htc-detail .block3 .block-inner{
    height: 500px;
    background: url(https://p.ssl.qhimg.com/t01fc3ba8785cfb8844.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block4,
.page-hd-htc-detail .block4 .block-inner{
    height: 592px;
    background: url(https://p.ssl.qhimg.com/t0110ad190599f80864.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block5,
.page-hd-htc-detail .block5 .block-inner{
    height: 826px;
    background: url(https://p.ssl.qhimg.com/t01b8294304de7f3622.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block6,
.page-hd-htc-detail .block6 .block-inner{
    height: 850px;
    background: url(https://p.ssl.qhimg.com/t0144c3456d16261016.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block7,
.page-hd-htc-detail .block7 .block-inner{
    height: 1000px;
    background: url(https://p.ssl.qhimg.com/t0195b6ec843007ef5d.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block8,
.page-hd-htc-detail .block8 .block-inner{
    height: 1412px;
    background: url(https://p.ssl.qhimg.com/t01560224d550ebeb18.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block9,
.page-hd-htc-detail .block9 .block-inner{
    height: 1569px;
    background: url(https://p.ssl.qhimg.com/t01b8962e2fde1bb247.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block10,
.page-hd-htc-detail .block10 .block-inner{
    height: 1552px;
    background: url(https://p.ssl.qhimg.com/t011b46ec06cd873326.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block11,
.page-hd-htc-detail .block11 .block-inner{
    height: 2511px;
    background: url(https://p.ssl.qhimg.com/t015043cbd4638f4a9e.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block12,
.page-hd-htc-detail .block12 .block-inner{
    height: 1537px;
    background: url(https://p.ssl.qhimg.com/t0164e55c9b618bc4b4.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block13,
.page-hd-htc-detail .block13 .block-inner{
    height: 1543px;
    background: url(https://p.ssl.qhimg.com/t01649edf12c11b6254.jpg) no-repeat center 0;
}
.page-hd-htc-detail .block14,
.page-hd-htc-detail .block14 .block-inner{
    height: 706px;
    background: #FAFAFA url(https://p.ssl.qhimg.com/t01511f1b6c59333406.png) no-repeat center 0;
}
