html,body{
    background: #fff;
    font-family: "Microsoft YaHei", "arial", "宋体";
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.relative{
    position: relative;
}
.f12{font-size: 12px;}
.w100{width: 100%;}
/*行的基本模式*/
.block,.row,
.col-2-1,
.col-4-1,
.col-left-fixed, .col-left,
.col-right,.col-right-fixed{
    display: block;
}
.row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.row{
    zoom: 1;
    clear: both;
}
.col-2-1,
.col-4-1,
.col-left-fixed{
    float: left;
}
.col-2-1{
    width: 50%;
}
.col-4-1{
    width: 25%;
}
.col-right-fixed{
    float: right;
}
/*END行的基本模式*/
/* 箭头 */
.arrow-down,
.arrow-right{
    position: relative;
}
.arrow-right:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-down:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/* END箭头 */


/*以旧换新*/
.page-hd-huanxin{
    background: #fff;
    font-family: "Microsoft YaHei", "arial", "宋体";
}
.page-hd-huanxin #mainbody{
    margin: 0 auto;
}
.page-hd-huanxin .top{
    width: 100%;
    height: 433px;
    /*background: url(https://p.ssl.qhimg.com/t0186c1b684fc224620.jpg) repeat-x;*/
    background: #73C42C url(https://p.ssl.qhimg.com/t0123fa98ab29389468.png) no-repeat center;
}
.page-hd-huanxin .top-inner{
    margin: 0 auto;
    position: relative;
    width: 960px;
    height: 433px;
    background: url(https://p.ssl.qhimg.com/t0123fa98ab29389468.png) no-repeat center;
}
.page-hd-huanxin .top .btn-liji-huanxin{
    display: none;
    position: absolute;
    top: 288px;
    left: 34px;
    width: 381px;
    height: 57px;
    line-height: 57px;
    background: transparent;
    color: #fff;
    font-size: 28px;
    border-radius: 0;
    text-align: center;
}

.page-hd-huanxin .bao{
    margin-bottom: 16px;
}
.page-hd-huanxin .bao-inner,.page-hd-huanxin .sc-users-inner{
    margin: 0 auto;
    width: 960px;
}
.page-hd-huanxin .bao-inner .tit{
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 2.0;
    color: #333;
}
.page-hd-huanxin .bao-inner img{width: 100%;}

.page-hd-huanxin .sc-users .tit{
    padding: 8px 0 20px 20px;
    font-size: 22px;
    line-height: 2.0;
    color: #333;
}

.page-hd-huanxin .sc-users ul{
    margin-right:-4px;
}
.page-hd-huanxin .sc-users li{
    float: left;
    margin-right: 4px;
}

.page-hd-huanxin .huodong-tips{
    margin: 18px 10px 50px 10px;
}
.page-hd-huanxin .huodong-tips-inner{
    margin: 0 auto;
    width: 890px;
    padding: 10px 35px;
    font-size: 14px;
    color: #333;
    background: #FFF8D6;
    border: 1px solid #ffe061;
    border-radius: 6px;
}
.page-hd-huanxin .huodong-tips .tit{
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 2.0;
    color: #333;
}
.page-hd-huanxin .huodong-tips .list{
    padding-left: 40px;
    line-height: 1.8;
}
.page-hd-huanxin .huodong-tips .list li{
    margin-bottom: 4px;
    list-style: decimal;
    list-style-position: outside;
}


.page-hd-huanxin .jia-huanxin{
    width: 100%;
    background: #fff;
    color: #333;
}
.page-hd-huanxin .jia-huanxin-inner{
    margin: 0 auto;
    width: 960px;
}
.page-hd-huanxin .jia-huanxin .tit{
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 2.0;
    color: #333;
}
.page-hd-huanxin .jia-huanxin .list{}
.page-hd-huanxin .jia-huanxin .list img{
    /*width: 100%;*/
}
.page-hd-huanxin .jia-huanxin .list .col-right{
    margin-left: 177px;
    padding-top: 36px;
    padding-left: 10px;
    text-align: left;
    line-height: 1.68;
    font-size: 24px;
}
.page-hd-huanxin .jia-huanxin .list .p-tit{
    color: #202020;
    background: transparent;
}
.page-hd-huanxin .jia-huanxin .list .p-price{
    color: #FF3301;
    line-height: 2.2;
}
.page-hd-huanxin .jia-huanxin .list li{
    padding: 0 10px 10px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.page-hd-huanxin .jia-huanxin .list li a,
.page-hd-huanxin .jia-huanxin .list li a:hover{
    display: block;
    width: 366px;
    border: 1px solid #ccc;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}


.page-hd-huanxin .jia-huanxin .list-3col{}
.page-hd-huanxin .jia-huanxin .list-3col img{
    width: 177px;
}
.page-hd-huanxin .jia-huanxin .list-3col .col-left-fixed{
    float: none;
}
.page-hd-huanxin .jia-huanxin .list-3col .col-right{
    padding: 20px 0 0 10px;
    text-align: center;
    line-height: 1.68;
    font-size: 24px;
}
.page-hd-huanxin .jia-huanxin .list-3col .p-tit{
    color: #202020;
    background: transparent;
}
.page-hd-huanxin .jia-huanxin .list-3col .p-price{
    color: #FF3301;
    line-height: 2.2;
}
.page-hd-huanxin .jia-huanxin .list-3col li{
    padding: 0 24px 10px 0;
    *padding: 0 22px 10px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
}
.page-hd-huanxin .jia-huanxin .list-3col .li-right{
    padding-right: 0;
}
.page-hd-huanxin .jia-huanxin .list-3col li a{
    display: block;
    width: 222px;
    border: 1px solid #EEE;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}
.page-hd-huanxin .jia-huanxin .list-3col li a:hover{
    border: 1px solid #ccc;
    text-decoration: none;
}


.page-hd-huanxin .jia-huanxin .list-4col{}
.page-hd-huanxin .jia-huanxin .list-4col img{
    width: 177px;
}
.page-hd-huanxin .jia-huanxin .list-4col .col-left-fixed{
    float: none;
}
.page-hd-huanxin .jia-huanxin .list-4col .col-right{
    padding: 20px 0 0 10px;
    text-align: center;
    line-height: 1.68;
    /*font-size: 24px;*/
    font-size: 20px;
}
.page-hd-huanxin .jia-huanxin .list-4col .p-tit{
    color: #202020;
    background: transparent;
}
.page-hd-huanxin .jia-huanxin .list-4col .p-price{
    color: #FF3301;
    line-height: 2.2;
}
.page-hd-huanxin .jia-huanxin .list-4col li{
    padding: 0 21px 10px 0;
    *padding: 0 20px 10px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    vertical-align: top;
}
.page-hd-huanxin .jia-huanxin .list-4col .li-right{
    padding-right: 0;
}
.page-hd-huanxin .jia-huanxin .list-4col li a{
    display: block;
    width: 222px;
    border: 1px solid #EEE;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}
.page-hd-huanxin .jia-huanxin .list-4col li a:hover{
    border: 1px solid #ccc;
    text-decoration: none;
}


.page-hd-huanxin .jia-huanxin .qrcode{
    margin-left: 760px;
    /*float: right;*/
    width: 200px;
    height: 290px;
    background: url(https://p.ssl.qhimg.com/t01d3b438783bfdc5fe.jpg) no-repeat 0 0;
}

.page-hd-huanxin .go-to-get-huanxin{
    margin: 10px 10px 20px 10px;
    padding: 10px;
    display: block;
    background: #fff;
    /*border: 1px solid #ccc;*/
}
.page-hd-huanxin .go-to-get-huanxin:hover{
    background: rgba(255, 255, 255, 0.9);
}


.page-hd-huanxin .chaozhi-fangan{
    padding: 10px;
}
.page-hd-huanxin .chaozhi-fangan-inner{
    margin: 0 auto;
    width: 960px;
}
.page-hd-huanxin .chaozhi-fangan .tit{
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 2.0;
    color: #333;
}
.page-hd-huanxin .chaozhi-fangan .list{
    border: 1px solid #eee;
    border-right: 0;
    border-bottom: 0;
    line-height: 2;
    color: #666;
    font-size: 18px;
}
.page-hd-huanxin .chaozhi-fangan .list li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 478px;
    height: 58px;
    line-height: 58px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.page-hd-huanxin .chaozhi-fangan .list a{
    display: block;
    text-decoration: none;
    color: #666;
}
.page-hd-huanxin .chaozhi-fangan .list a:hover{
    text-decoration: none;
    background: #f7f7f7;
}
.page-hd-huanxin .chaozhi-fangan .list .p-name{
    float: left;
    padding-left: 12px;
}
.page-hd-huanxin .chaozhi-fangan .list .p-price{
    float: right;
    padding-right: 12px;
    color: #FF3301;
}


/*.dialog-mask{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*z-index: 9997;*/
    /*background: #000;*/
    /*opacity: .6;*/
/*}*/
.dialog-wrap{
    width: 683px;
    border: 1px solid #B2B2B2;
    background: #fff;
    border-radius: 8px;
    overflow: visible;
}
.dialog-wrap .dialog-close,
.dialog-wrap .dialog-close:hover{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 51px;
    height: 51px;
    z-index: 9999;
    background: url(https://p.ssl.qhimg.com/t01e6f38f791fc974f7.png) no-repeat center;
    text-decoration: none;
    cursor: pointer;
}
.dialog-wrap .dialog-inner{
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #202020;
}
.dialog-wrap .product-info{
    position: relative;
    padding-bottom: 20px;
}
.dialog-wrap .product-info .col-left-fixed{
    width: 80px;
    width: 30%;
}
.dialog-wrap .product-info .col-right{
    margin-left: 84px;
    margin-left: 30%;
    padding-top: 20px;
    font-size: 18px;
}
.dialog-wrap .product-info .p-img{
    width: 100%;
}
.dialog-wrap .product-info .desc{
    margin-bottom: 2px;
    color: #8F8F8F;
}
.dialog-wrap .product-info .p-name{
    padding-bottom: 5px;
    font-size: 22px;
}
.dialog-wrap .product-info .p-price{
    padding-bottom: 6px;
    font-size: 14px;
    color: #999;
}
.dialog-wrap .product-info .p-price .show-price{
    padding-right: 15px;
    font-size: 22px;
    color: #FF3300;
}
.dialog-wrap .product-info .label{
    position: absolute;
    left: 84px;
    left: 30%;
    right: -10px;
    /*bottom: 10px;*/
}
.dialog-wrap .product-info .label span{
    float: left;
    margin-right: 4px;
    padding: 5px 8px;
    color: #019DDE;
    background: #E4F7FF;
    border-radius: 999px;
    font-size: 12px;
}
.dialog-wrap .product-attr{}
.dialog-wrap .product-attr .product-attr-line{
    /*padding: 4px 0 0 0;*/
}
.dialog-wrap .product-attr .tit{
    margin-bottom: 4px;
    padding: 4px;
    color: #666;
}
.dialog-wrap .product-attr .tit span{
    margin-right: 4px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 999px;
}
.dialog-wrap .product-attr .item{
    float: left;
    /**margin-top: 4px;*/
    /*display: inline-block;*/
    display: block;
    width: 33.33333333333%;
}
.dialog-wrap .product-attr .item a,
.dialog-wrap .product-attr .item a:hover{
    position: relative;
    margin-right: 8px;
    padding: 8px 0;
    display: block;
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: #fff;
    text-decoration: none;
}
.dialog-wrap .product-attr .item .cur{
    border: 1px solid #88CC11;
}
.dialog-wrap .product-attr .item .disabled{
    border: 1px dashed #B2B2B2;
}
.dialog-wrap .product-attr .item .disabled-hover{
    border: 1px dashed #B2B2B2;
}
.dialog-wrap .product-attr .item a img{
    /*width: 60%;*/
    width: 55px;
}
.dialog-wrap .product-attr .item a em{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    width: 28px;
    height: 26px;
    background: url(https://p.ssl.qhimg.com/t0141f1dac7e78423e5.png) no-repeat center;
}
.dialog-wrap .product-attr .item .cur em{
    display: block;
}
.dialog-wrap .product-attr-line{
    margin-bottom: 8px;
}
.dialog-wrap .btn-line{
    margin: 0 10px 0 0;
    color: #666;
    line-height: 44px;
}
.dialog-wrap .btn-line .col-right{
    margin-left: 180px;
}
.dialog-wrap .goto-huanxinji-btn,
.dialog-wrap .goto-huanxinji-btn:hover{
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #fff;
    background: #FFD800;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
/*END以旧换新*/

/*四川移动换新*/
.page-hd-sc-huanxin .top{
    height: 381px;
    /*background: #061B36 url(https://p.ssl.qhimg.com/t0105761ec9401efbd1.jpg) no-repeat center;*/
    background: #fff url(https://p.ssl.qhimg.com/t0105761ec9401efbd1.jpg) no-repeat center 0;
}
.page-hd-sc-huanxin .top-inner{
    height: 381px;
    background: url(https://p.ssl.qhimg.com/t0105761ec9401efbd1.jpg) no-repeat center 0;
}


/*doov*/
.page-hd-doov-huanxin{
    background: #FEF1F1;
}
.page-hd-doov-huanxin .top{
    height: 424px;
    background: url(https://p.ssl.qhimg.com/t015e1bfb74f5b8ee8e.jpg) no-repeat center 0;
}
.page-hd-doov-huanxin .top-inner{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 424px;
    background: url(https://p.ssl.qhimg.com/t015e1bfb74f5b8ee8e.jpg) no-repeat center 0;
}
.page-hd-doov-huanxin .btn-liji-huanxin{
    position: absolute;
    top: 276px;
    left: 280px;
    width: 199px;
    height: 54px;
    background: transparent;
    text-decoration: none;
    /*text-indent: -9999px;*/
}
.page-hd-doov-huanxin .btn-liji-huanxin:hover{text-decoration: none;}
.page-hd-doov-huanxin .liji-huanxin-anchor{
    position: absolute;
    top: 390px;
}

.page-hd-doov-huanxin .mainbody{
    height: 785px;
    background: url(https://p.ssl.qhimg.com/t0158c4cb2955196732.jpg) no-repeat center 0;
}
.page-hd-doov-huanxin .mainbody-inner{
    margin: 0 auto;
    width: 960px;
    height: 785px;
    background: url(https://p.ssl.qhimg.com/t0158c4cb2955196732.jpg) no-repeat center 0;
}

.page-hd-doov-huanxin .jia-huanxin{
}
.page-hd-doov-huanxin .jia-huanxin-inner{
    margin: 0 auto;
    width: 960px;
}
.page-hd-doov-huanxin .jia-huanxin-inner .cnt{
    margin-left: 20px;
    padding-top: 54px;
}
.page-hd-doov-huanxin .jia-huanxin-inner .cnt-ext{
    margin-left: 20px;
    width: 916px;
    background: url(https://p.ssl.qhimg.com/t01c5966dc9cd4ffead.jpg) repeat-y 0;
}
.page-hd-doov-huanxin .jia-huanxin-inner .cnt-ext-bottom{
    margin-top: 6px;
    width: 916px;
    height: 6px;
    background: url(https://p.ssl.qhimg.com/t012927115a541d0ce5.jpg) no-repeat 0;
}
.page-hd-doov-huanxin .jia-huanxin-inner .list{
    padding-left: 13px;
}
.page-hd-doov-huanxin .jia-huanxin-inner li{
    position: relative;
    margin-left: 30px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 258px;
    height: 400px;
    background: url(https://p.ssl.qhimg.com/t013e2a11e895ce0280.jpg) no-repeat 0;
    text-align: center;
}
.page-hd-doov-huanxin .jia-huanxin-inner li a{
    display: block;
    height: 376px;
    color: #F12473;
    font-size: 16px;
    font-weight: normal;
}
.page-hd-doov-huanxin .jia-huanxin-inner li a:hover{text-decoration: none;}
.page-hd-doov-huanxin .jia-huanxin-inner li .col-left-fixed{
    float: none;
    padding-top: 1px;
    /*text-align: center;*/
}
.page-hd-doov-huanxin .jia-huanxin-inner li .p-tit{
    color: #5A1D2D;
    font-size: 34px;
    line-height: 1.4;
}
.page-hd-doov-huanxin .jia-huanxin-inner li .price-orig{
    color: #A1A1A1;
}
.page-hd-doov-huanxin .jia-huanxin-inner li .price{}
.page-hd-doov-huanxin .jia-huanxin-inner li .price span{
    font-size: 22px;
}
.page-hd-doov-huanxin .jia-huanxin-inner li .p-price{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    height: 70px;
    line-height: 70px;
    font-size: 34px;
}

.page-hd-doov-huanxin .huodong-tips{
    margin: 0 auto;
    padding: 40px 0 180px 0;
}

/*奇酷以旧换新*/
.page-hd-qiku-huanxin .mainbody{
    /*height: 3012px;*/
    background: url(https://p.ssl.qhimg.com/t0137a88301fe7d8744.png) repeat-x 0 0;
}
.page-hd-qiku-huanxin .mainbody-inner{
    margin: 0 auto;
    width: 960px;
    /*height: 2580px;*/
    height: 1888px;
    background: url(https://p.ssl.qhimg.com/t0137a88301fe7d8744.png) repeat-x 0 -432px;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap{
    height: 432px;
    background: url(https://p.ssl.qhimg.com/t0137a88301fe7d8744.png) repeat-x 0 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .slide-box{
    height: 432px;
    overflow: hidden;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic{
    float: left;
    width: 100%;
    height: 432px;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic-inner{
    height: 432px;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic0{
    background: url(https://p.ssl.qhimg.com/t0137a88301fe7d8744.png) repeat-x 0 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic1{
    background: url(https://p.ssl.qhimg.com/t01dd34a6ba9b45f23f.png) repeat-x 0 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic2{
    background: url(https://p.ssl.qhimg.com/t019bf6f31916fd18e0.png) repeat-x 0 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic0 .top-pic-inner{
    background: url(https://p.ssl.qhimg.com/t01685b936690b9be1a.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic1 .top-pic-inner{
    background: url(https://p.ssl.qhimg.com/t01dbc1728484fee2ee.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .top-pic2 .top-pic-inner{
    background: url(https://p.ssl.qhimg.com/t01036f95086258add1.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .pic-ctrl-wrap{
    position: relative;
    margin: 0 auto;
    width: 960px;
    z-index: 998;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .pic-ctrl{
    position: absolute;
    top: -40px;
    left: 400px;
    z-index: 999;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .ctrl-item{
    float: left;
    margin-right: 20px;
    width: 14px;
    height: 14px;
    background: url(https://p.ssl.qhimg.com/t01b5af32a14743b06a.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin-wrap .ctrl-item-curr{
    background: url(https://p.ssl.qhimg.com/t01c6032198bb881c2a.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-liji-huanxin{
    position: relative;
    margin: 0 auto;
    width: 960px;
}
.page-hd-qiku-huanxin .block-liji-huanxin .btn-liji-huanxin{
    position: absolute;
    top: -130px;
    left: 36px;
    display: block;
    width: 220px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    border-radius: 999px;
    background: #FFC150;
}
.page-hd-qiku-huanxin .block-liji-huanxin .btn-liji-huanxin:hover{
    text-decoration: none;
    background: #ffcc58;
}
.page-hd-qiku-huanxin .block-liji-huanxin .btn-liji-huanxin:active{
    background: #ecb04d;
}
.page-hd-qiku-huanxin .block-liji-huanxin .btn-duojiu-huanxin{
    position: absolute;
    top: -62px;
    left: 39px;
    color: #fff;
    font-size: 16px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin{
    height: 450px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin h3{
    height: 104px;
    background: url(https://p.ssl.qhimg.com/t015756d5fde22b10cc.png) no-repeat center 1px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .fangan-list{
    padding-left: 6px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .item{
    margin-right: 11px;
    float: left;
    display: block;
    width: 229px;
    text-align: center;
    text-decoration: none;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .item:hover{
    text-decoration: none;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .tit{
    color: #fff;
    font-size: 26px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .price{
    color: #FFCC00;
    font-size: 18px;
    line-height: 1.8;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .btn{
    margin-top: 5px;
    width: 229px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    background: #FFC150;
    color: #fff;
    border-radius: 999px;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .item:hover .btn{
    background: #ffcc58;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .item:active .btn{
    background: #ecb04d;
}
.page-hd-qiku-huanxin .block-chaozhi-huanxin .item-last{
    margin-right: 0;
}
.page-hd-qiku-huanxin .block-zhichi{
    position: relative;
    padding-top: 1px;
    height: 390px;
    background: url(https://p.ssl.qhimg.com/t01b805f978561c69d6.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-zhichi .btn-kankan-jiuji{
    margin: 260px auto 0 auto;
    display: block;
    width: 410px;
    height: 72px;
    line-height: 72px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    background: #54BF8D;
    border-radius: 999px;
}
.page-hd-qiku-huanxin .block-zhichi .btn-kankan-jiuji:hover{
    text-decoration: none;
    background: #5ac592;
}
.page-hd-qiku-huanxin .block-zhichi .btn-kankan-jiuji:active{
    background: #52b080;
}
.page-hd-qiku-huanxin .block-zhichi .br{
    position: absolute;
    top: 134px;
    left: 2px;
    display: block;
    width: 105px;
    height: 48px;
}
.page-hd-qiku-huanxin .block-zhichi .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-qiku-huanxin .block-zhichi .apple{
    left: 2px;
}
.page-hd-qiku-huanxin .block-zhichi .samsung{
    left: 108px;
}
.page-hd-qiku-huanxin .block-zhichi .honor{
    left: 215px;
}
.page-hd-qiku-huanxin .block-zhichi .oppo{
    left: 320px;
}
.page-hd-qiku-huanxin .block-zhichi .jinli{
    left: 426px;
}
.page-hd-qiku-huanxin .block-zhichi .doov{
    left: 533px;
}
.page-hd-qiku-huanxin .block-zhichi .xiaomi{
    left: 638px;
}
.page-hd-qiku-huanxin .block-zhichi .htc{
    left: 745px;
}
.page-hd-qiku-huanxin .block-zhichi .sony{
    left: 851px;
}
.page-hd-qiku-huanxin .block-zhichi .motorola{
    top: 183px;
    left: 2px;
}
.page-hd-qiku-huanxin .block-zhichi .blackberry{
    top: 183px;
    left: 108px;
}
.page-hd-qiku-huanxin .block-zhichi .lg{
    top: 183px;
    left: 215px;
}
.page-hd-qiku-huanxin .block-zhichi .nokia{
    top: 183px;
    left: 320px;
}
.page-hd-qiku-huanxin .block-zhichi .lenovo{
    top: 183px;
    left: 426px;
}
.page-hd-qiku-huanxin .block-zhichi .vivo{
    top: 183px;
    left: 533px;
}
.page-hd-qiku-huanxin .block-zhichi .meizu{
    top: 183px;
    left: 638px;
}
.page-hd-qiku-huanxin .block-zhichi .yijia{
    top: 183px;
    left: 745px;
}
.page-hd-qiku-huanxin .block-zhichi .other{
    top: 183px;
    left: 851px;
}

.page-hd-qiku-huanxin .block-intro{
    height: 531px;
    background: url(https://p.ssl.qhimg.com/t01d704d92218723d1f.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-choujiang{
    position: relative;
    height: 692px;
    background: url(https://p.ssl.qhimg.com/t01f95e9c2ee4881124.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .block-choujiang .btn-lingqu-haoli{
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 410px;
    height: 72px;
    line-height: 72px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    background: #FFC150;
    border-radius: 999px;
}
.page-hd-qiku-huanxin .block-choujiang .btn-lingqu-haoli:hover{
    text-decoration: none;
    background: #ffcc58;
}
.page-hd-qiku-huanxin .block-choujiang .btn-lingqu-haoli:active{
    background: #ecb04d;
}
.page-hd-qiku-huanxin .block-tip{
    height: 516px;
    background: url(https://p.ssl.qhimg.com/t0135690e13e085073c.png) no-repeat center 0;
}
.page-hd-qiku-huanxin .returnToTop a{
    z-index: 999;
}

.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-wrap{
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
    width: 736px;
    height: 450px;
    background: #FFA00A;
    border-radius: 8px;
    border: 0;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-wrap .close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 46px;
    height: 47px;
    background: url(https://p.ssl.qhimg.com/t016057f8c6e5a701b5.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin{
    font-size: 16px;
    color: #fff;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .inpt{
    padding: 12px 20px;
    width: 320px;
    line-height: 20px;
    border: 1px solid #B2B2B2;
    background: #fff;
    border-radius: 4px;
    cursor: text;
    color: #000;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .inpt-default{
    color: #A9A9A9;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .inpt-secode{
    width: 150px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin h3{
    font-size: 34px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 2;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .row{
    margin: 0 0 14px 110px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .col-left-fixed{
    width: 75px;
    line-height: 46px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .col-right{
    margin-left: 75px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .btn-fapiao-upload{
    margin-left: 142px;
    display: block;
    width: 213px;
    height: 46px;
    background: url(https://p.ssl.qhimg.com/t016aae5455f2abec49.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .btn-fapiao-upload-inner{
    background: transparent;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .fapiao-upload-tips{
    display: none;
    position: absolute;
    top: 12px;
    left: 362px;
    color: #ff0011;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .btn-get-secode{
    margin-left: 10px;
    padding: 0 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 47px;
    line-height: 47px;
    color: #fff;
    background: #FFC150;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .btn-get-secode:hover{
    text-decoration: none;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .btn-get-secode-disabled{
    background: #D8D3D3;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .submit{
    margin-left: 126px;
    display: block;
    width: 240px;
    height: 56px;
    line-height: 56px;
    font-size: 28px;
    color: #fff;
    background: #F02A57;
    text-align: center;
    border: 0;
    border-radius: 999px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin .tip,
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .tip{
    position: absolute;
    bottom: 30px;
    margin-left: 194px;
    color: #9B4900;
    font-size: 14px;
    text-align: left;
}
.page-hd-qiku-huanxin .model-list{
    display: none;
    position: absolute;
    top: 132px;
    left: 185px;
    width: 360px;
    border: 1px solid #B2B2B2;
    background: #fff;
    color: #666;
}
.page-hd-qiku-huanxin .model-list .item{
    float: left;
    display: block;
    width: 50%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    text-decoration: none;
}
.page-hd-qiku-huanxin .model-list .item:hover{
    color: #000;
    background: #f0f0f0;
}

.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ{
    padding-top: 85px;
    font-size: 16px;
    color: #fff;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .col-left-fixed{
    padding: 10px;
    width: 96px;
    height: 92px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .col-right{
    margin-left: 116px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ h3{
    padding-top: 1px;
    font-size: 26px;
    line-height: 2;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .desc{}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .qrcode{
    margin: 0 auto;
    display: block;
}
.page-hd-qiku-huanxin .dialog-hdqiku-huanpin-succ .succ-info{
    margin-left: 112px;
    margin-bottom: 10px;
}

.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip-wrap{
    width: auto;
    height: auto;
    border: 0;
    background: transparent;
}
.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip-wrap .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip{
    width: 875px;
    height: 572px;
    background: url(https://p.ssl.qhimg.com/t0136418d9039a043d0.jpg) no-repeat center 0;
}
.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip .btn-liji-huanxin{
    position: absolute;
    top: 496px;
    left: 306px;
    display: block;
    width: 218px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    border-radius: 999px;
    background: #FFC150;
}
.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip .btn-liji-huanxin:hover{
    text-decoration: none;
    background: #ffcc58;
}
.page-hd-qiku-huanxin .dialog-duojiu-huanxin-tip .btn-liji-huanxin:active{
    background: #ecb04d;
}

.page-hd-qiku-huanxin .dialog-hdqiku-select-product-wrap{
    width: 875px;
    background: transparent;
    border: 0;
}
.page-hd-qiku-huanxin .dialog-hdqiku-select-product-wrap .close{
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 47px;
    height: 47px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-select-product{
    width: 875px;
    /*height: 520px;*/
    height: 490px;
    background: url(https://p.ssl.qhimg.com/t01f8b2d595f05b9ab6.jpg) no-repeat 0 0;
}
.page-hd-qiku-huanxin .dialog-hdqiku-select-product .goto-qingchunban{
    position: absolute;
    top: 416px;
    left: 92px;
    width: 222px;
    height: 56px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-select-product .goto-qijianban{
    position: absolute;
    top: 416px;
    left: 556px;
    width: 222px;
    height: 56px;
}
.page-hd-qiku-huanxin .dialog-hdqiku-select-product .qijianban-tips{
    display: none;
    position: absolute;
    top: 485px;
    /*left: 468px;*/
    left: 0;
    /*width: 400px;*/
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ff0011;
}

