/*html,body{
	overflow-x:visible;
}*/

.hd-luyouqi{
	width: 100%;
	margin:0 auto;
    background: url(https://p.ssl.qhimg.com/t01cd087c955aa156e3.jpg) repeat 0 0;
}


.hd-luyouqi .header{
    background: url(https://p.ssl.qhimg.com/t01df2c82e1b963388a.jpg) repeat-x 0 0;
    margin-bottom: 20px;
}

.hd-luyouqi .header .top-pic{
    width: 960px;
    height: 370px;
    margin: 0 auto;
    background: url(https://p.ssl.qhimg.com/t01eb77c51a2dfc81f2.jpg) no-repeat center 0;
    position: relative;
}
.hd-luyouqi .header .lyq-fangan-more{
    position: absolute;
    left: 250px;
    bottom: 8px;
    font-size: 14px;
}

.hd-luyouqi .mainbody{
    width: 960px;
    margin: 0 auto;
}

/*城市选择*/
.hd-luyouqi .city-selector-box{
    position: relative;
}
.hd-luyouqi .city-select,
.hd-luyouqi .shangquan-select{
    width: 104px;
    height: 34px;
    line-height: 34px;
    font-family: "微软雅黑",arial;
    cursor: pointer;
    background: url(https://p.ssl.qhimg.com/t01297b6120e0a311a9.jpg) no-repeat 0 0;
    display: inline-block;
    _zoom:1;
    margin: 0 10px 10px 0;
}

.hd-luyouqi .city-select .now-city,
.hd-luyouqi .shangquan-select .now-shangquan{
    font-size: 14px;
    color: #666;
    padding-left: 10px;
}
.hd-luyouqi .area-select-pannel{display:none;position: absolute;width: 460px;background: #FBFBFB;border: solid 1px #CFCFCF;left: 118px;top: 38px;padding: 8px 0;z-index: 999;}
.hd-luyouqi .area-select-pannel h3{ font-weight: normal;height: 20px; line-height: 20px; padding: 0 10px; position: relative;text-indent: 0;}
.hd-luyouqi .area-select-pannel h3 .close{background: url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor: pointer; display: block; height: 20px; line-height: 100px; overflow: hidden; position: absolute; right: 10px; top: 0; width: 55px;}
.hd-luyouqi .area-select-pannel .area-select-list{background: #FFFFFF;border: solid 1px #E8E8E8;margin: 12px 12px 3px; padding: 12px 12px 0;}
.hd-luyouqi .area-select-pannel .area-select-list a{color: #000000;display: inline-block; height: 18px; line-height: 18px; margin: 0 18px 5px 0;}

/*具体商品*/
.hd-luyouqi .icon-quan-blue,
.hd-luyouqi .icon-quan-green{
    width: 14px;
    height: 18px;
    background: url(https://p.ssl.qhimg.com/t01591ede54cfd13c9d.gif) no-repeat 0 0;
}
.hd-luyouqi .icon-quan-green{
    background-position: 0 -33px;
}

.hd-luyouqi .tit1{
    font-size: 16px;
    font-weight: bold;
    color: #25282c;
    line-height: 20px;    
    font-family: "微软雅黑";
    margin-bottom: 10px;
}
.hd-luyouqi .tit1 .kw{
    color: #DD0000;
}

.hd-luyouqi .dp-box-section{
    margin-bottom: 20px;
}
.hd-luyouqi .lyq-table{
    width: 100%;
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    background: #fff;    
}

.hd-luyouqi .lyq-table td{
    width: 25%;    
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;   
}
.hd-luyouqi .lyq-table td:hover{
    background: #f2f2f2;
    cursor: pointer;
}

.hd-luyouqi .lyq-table .td-inner{
    padding: 10px;
    height: 160px;
    position: relative;
}

.hd-luyouqi .lyq-table .avator{
    border: 1px solid #ECECEC;
    padding: 2px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
    background: #fff;
    border-radius: 3px;
}

.hd-luyouqi .lyq-table .top-info{
    margin-bottom: 10px;
}
.hd-luyouqi .lyq-table .ti-right{
    width: 130px;
    margin-left: 78px;
    line-height: 25px;
    color: #666666;
}

.hd-luyouqi .lyq-table .ti-right h2{
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    word-break:keep-all;
}
.hd-luyouqi .lyq-table .ti-right .shop-name{
    font-weight: normal;
}

.hd-luyouqi .lyq-table .btn-box{
    margin-bottom: 10px;
}
.hd-luyouqi .lyq-table .btn{
    height: 23px;
    line-height: 23px;
    text-align: center;
    display: inline-block;
    _zoom:1;
    vertical-align: middle;
    width: 62px;
    font-size: 12px;
    font-weight: normal;
}
.hd-luyouqi .lyq-table .btn:hover{
    text-decoration: none;
}
.hd-luyouqi .lyq-table .btn-green{    
    background: url(https://p.ssl.qhimg.com/t0176dfd7542990a218.png) no-repeat scroll center 0;
    color: #fff;
}
.hd-luyouqi .lyq-table .btn-silver{
    
    background: url(https://p.ssl.qhimg.com/t01b5c51dee3b5d2ea9.png) no-repeat scroll center 0;
    color: #666666;
}
.hd-luyouqi .lyq-table .btn-disable{
    background: url(https://p.ssl.qhimg.com/t01b5c51dee3b5d2ea9.png) no-repeat scroll center 0;
    color: #999;
}

.hd-luyouqi .lyq-table .cmt-box{
    color: #999999;
    line-height: 1.8;
}

.hd-luyouqi .go-more{
    display: block;
    text-align: center;
    font-size: 14px;    
    height: 40px;
    line-height: 40px;
    background: #FAFAFA;
    border: 1px solid #D2D2D0;
    border-top: 0;
}

.hd-luyouqi .router-range{
    border: 1px solid #E4E5E3;    
}

.hd-luyouqi .card-item-tuijian-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 39px;
    background: url(https://p.ssl.qhimg.com/t01ccca1c143e47a0c2.png) no-repeat scroll 0 0;
}


.pop-shop-info{
    font-size: 14px;
    padding: 10px 20px;
    color: #666;
}
.pop-shop-info .shop-line{
    line-height: 2;
}

.pop-shop-info .cf60{
    color: #f60;
}

.block-promoting-lp-flash-product-list .tg-small{
    margin: 0 auto;
}
.promo-618-banner,
.promo-618-banner a{
    height: 80px;
    background: #fff url(https://p1.ssl.qhmsg.com/t01c9d69801529028f9.png) no-repeat center;
}
.promo-618-banner a,
.promo-618-banner a:hover{
    margin: 0 auto;
    display: block;
    width: 1200px;
}
