/*html,body{
	overflow-x:visible;
}*/
.hd-qinghui-wrap0{
	width: 100%;
	margin:0 auto;
	background:#2EBB9B url(https://p.ssl.qhimg.com/t012d45a974ebaf9e1d.png) repeat-x center 0;
}
.hd-qinghui-wrap{
	width: 100%;
	margin:0 auto;
	background:url(https://p.ssl.qhimg.com/t0189c545859bc9597b.png) no-repeat center 0;
}
/*.hd-qinghui{
	width: 1440px;
	margin:0 auto;
	background:#A1D42D url(https://p.ssl.qhimg.com/t01c1f25a937e22774b.jpg) no-repeat center 0;
}
*/
.hd-qinghui .header,
.hd-qinghui .mainbody,
.hd-qinghui .footer{
	width: 962px;
	margin: 0 auto;
}

.hd-qinghui .header{
	height: 600px;
	position: relative;
}
.hd-qinghui .header h1,
.hd-qinghui .header h2,
.hd-qinghui .header h3,
.hd-qinghui .header p{
	text-indent: -9999px;
}
.hd-qinghui .header .ludashi{
	position: absolute;
	left:844px;
	top: 359px;
	width: 84px;
	height: 24px;
	text-indent: -9999px;
	/*background: url(https://p.ssl.qhimg.com/t01b42fbe22b2c8caf1.png) no-repeat 0 0;*/
}
/*.hd-qinghui .header .ludashi:hover{
	background-position: -70px 0;
}
.hd-qinghui .header .ludashi:active{
	background-position: -140px 0;
}*/
.hd-qinghui .header .tiwen{
	position: absolute;
	left:542px;
	top: 381px;
	width: 101px;
	height: 28px;
	text-indent: -9999px;
}
.hd-qinghui .header .qushouye{
	position: absolute;
	left:830px;
	top: 433px;
	width: 127px;
	height: 20px;
	text-indent: -9999px;
}


.hd-qinghui .mainbody{

}

.hd-qinghui .footer{

}

.hd-qinghui .mainbody .dp-box{

}

.hd-qinghui .dp-box-qh,
.hd-qinghui .dp-box-tj{
	margin-bottom: 10px;
}

.hd-qinghui .dp-box-qh .dp-top{
	height: 56px;
	background: url(https://p.ssl.qhimg.com/t0139ac6437df2d0446.png) no-repeat center 0;
	position: relative;
	z-index: 999;
}

.hd-qinghui .dp-box-qh .dp-main{
	background: url(https://p.ssl.qhimg.com/t0107c1996caf28dd3a.png) repeat center 0;
	padding: 8px 10px;
}

.hd-qinghui .dp-box-qh .dp-bottom{
	height: 14px;
	background: url(https://p.ssl.qhimg.com/t0139ac6437df2d0446.png) no-repeat center -160px;
}

.hd-qinghui .dp-box-tj .dp-top{
	height: 77px;
	background: url(https://p.ssl.qhimg.com/t0139ac6437df2d0446.png) no-repeat center -80px;
}

.hd-qinghui .dp-box-tj .dp-main{
	background: url(https://p.ssl.qhimg.com/t01ce0a46a8c216885f.png) repeat-y center 0;
	padding: 5px 10px;
}

.hd-qinghui .dp-box-tj .dp-bottom{
	height: 14px;
	background: url(https://p.ssl.qhimg.com/t0139ac6437df2d0446.png) no-repeat center -180px;
}

.hd-qinghui .dp-item{
	float: left;
	width: 294px;
	height: 337px;
	margin:10px;
	_display:inline;
}

.hd-qinghui .dp-item-inner{
	
}


.hd-qinghui .dp-item-inner .dp-infobox{
	padding: 1px 17px 0 17px;
	height: 270px;
	border-bottom: 1px solid #EDE8E6;
	background: #FFFFFF;
	position: relative;
}

.hd-qinghui .dp-item-inner .dp-img-box{
	display: block;
	width: 182px;
	height: 183px;
	margin: 34px auto 0 auto;
	text-align: center;
}
.hd-qinghui .dp-item-inner .dp-img{

	width: 180px;
	height: 180px;
	border:1px solid #EAEAEA;

}

.hd-qinghui .dp-item-inner .dp-score{
	position: absolute;
	z-index: 1;
	right: -15px;
	top: -15px;
	width: 56px;
	height: 68px;
	background: url(https://p.ssl.qhimg.com/t0147f0045d182ca43b.png) no-repeat 0 0;
}

.hd-qinghui .dp-score .score-num{
	font-size: 18px;
	font-family: "微软雅黑",arial;
	font-weight: bold;
	text-align: center;
	color: #571602;
	display: block;
	margin-top: 22px;
	cursor: default;
}

.hd-qinghui .dp-item-inner .dp-name{
	font-family: "微软雅黑";
	font-size: 14px;	
	height: 20px;
	margin:6px 0;
	width: 260px;
	overflow: hidden;
	text-align: center;	
}

.hd-qinghui .dp-item-inner .dp-name a{	
	color: #2e74d3;
	text-decoration: underline;
}

.hd-qinghui .dp-item-inner .dp-addr{
	color: #999999;
	text-align: center;
	width: 260px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hd-qinghui .dp-item-inner .dp-price{
	padding:0 17px;
	height: 64px;
	background: #FFFAF8;
	border-top: 1px solid #F2EDEB;
	position: relative;
}

.hd-qinghui .color-price{
	color: #ce4a21;
	font-family: "微软雅黑",arial;	
}

.hd-qinghui .f16{
	font-size: 14px;
	font-weight: bold;
}

.hd-qinghui .f14{
	font-size: 14px;	
}

.hd-qinghui .f24{
	font-size: 20px;
	font-weight: bold;
}

.hd-qinghui .btn-buy,
.hd-qinghui .btn-detail{
	width: 113px;
	height: 38px;
	display: inline-block;
	_zoom:1;
	
	background: url(https://p.ssl.qhimg.com/t01b42fbe22b2c8caf1.png) no-repeat 0 0;
	position: absolute;
	top: 13px;
}
.hd-qinghui .btn-buy{
	background-position:0 -58px;	
	right: 17px;
}

.hd-qinghui .btn-detail{
	background-position:0 -124px;
	right: 17px;
}

.hd-qinghui .btn-buy:hover{
	background-position:-113px -58px;
}

.hd-qinghui .btn-detail:hover{
	background-position:-113px -124px;
}

.hd-qinghui .btn-buy:active{
	background-position:-226px -58px;
}

.hd-qinghui .btn-detail:active{
	background-position:-226px -124px;
}

.hd-qinghui .xuzhi{
	font-family: "微软雅黑",arial;
	margin-bottom: 20px;
}

.hd-qinghui .xuzhi h2{
	color: #385600;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
}

.hd-qinghui .xuzhi p{
	font-size: 14px;
	line-height: 1.8;
	color: #17210A;
}

.hd-qinghui .city-select{
	width: 132px;
	height: 36px;
	position: absolute;
	top: 10px;
	left:18px;
	font-family: "微软雅黑",arial;
	cursor: pointer;
}
.hd-qinghui .city-select .now-city{
	font-size: 20px;
	color: #6B4500;
	position: absolute;
	left: 13px;
	top: 3px;
}
/*.hd-qinghui .city-select .city-change{
	color: #fff;
	cursor: pointer;
	margin-left: 4px;
}*/
.hd-qinghui .shangquan-select{
	width: 162px;
	height: 36px;
	position: absolute;
	top: 10px;
	left:161px;
	font-family: "微软雅黑",arial;
	cursor: pointer;
	background: url(https://p.ssl.qhimg.com/t01cc11470011a10cf7.png) no-repeat 0 0;
}
.hd-qinghui .shangquan-select .now-shangquan{
	font-size: 20px;
	color: #6B4500;
	position: absolute;
	left: 13px;
	top: 3px;
}


.hd-qinghui .prd-view{
	/*background: url(https://p.ssl.qhimg.com/t0147f0045d182ca43b.png) no-repeat 0 -69px;
	padding-left: 18px;*/
	display: inline-block;
	width: 105px;
	text-align: center;
	color: #333333;
	_zoom:1;
}

.hd-qinghui .dp-box-tj .prd-view{text-align: left;}

.hd-qinghui .play-video{
	position: absolute;
	left:10px;
	top:230px;
	width: 250px;
	height:140px;
	background: url(https://p.ssl.qhimg.com/t01e45a759210a3e7d4.png) no-repeat 0 0;
}
.hd-qinghui .play-video:hover{
	opacity: 0.9;
	*filter:alpha(opacity=90);
}
.hd-qinghui .play-video:active{
	opacity: 0.8;
	*filter:alpha(opacity=80);
}

/****************4列模式****************/
.list-gird4{}

.list-gird4 .dp-box-qh .dp-main,
.list-gird4 .dp-box-tj .dp-main{
	padding:8px 13px;
}

.list-gird4 .dp-item{
	margin:4px;
	box-shadow: 0 1px 1px #666666;
	width: 226px;
	height: 279px;
	cursor: pointer;
}

.list-gird4 .dp-item-inner .dp-img{
	width: 130px;
	height: 130px;
}

.list-gird4 .dp-item-inner .dp-img-box{
	width: 132px;
	height: 133px;
}

.list-gird4 .dp-item-inner .dp-name,
.list-gird4 .dp-item-inner .dp-addr{
	width: 190px
}

.list-gird4 .btn-buy,
.list-gird4 .btn-detail{
	right: 57px;
	top: 11px;
	width: 93px;
	height: 38px;
}

.list-gird4 .btn-buy{
	background-position:0 -268px;	
	left: 120px;
}

.list-gird4 .btn-detail{
	background-position:0 -330px;
	right: 17px;
}

.list-gird4 .btn-buy:hover{
	background-position:-93px -268px;
}

.list-gird4 .btn-detail:hover{
	background-position:-93px -330px;
}

.list-gird4 .btn-buy:active{
	background-position:-186px -268px;
}

.list-gird4 .btn-detail:active{
	background-position:-186px -330px;
}

.list-gird4 .dp-dinfo{
	position: absolute;
	top: 3px;
	left: 8px;
}

.list-gird4 .dp-item-inner .dp-img-box{
	margin:15px auto 0;
}

.list-gird4 .dp-item-inner .dp-infobox{
	height: 216px;
}

.list-gird4 .dp-item-inner .dp-price{
	height: 60px;
}

.list-gird4 .dp-item-inner .dp-score{
	position: absolute;
	z-index: 1;
	right: -8px;
	top: -6px;
	width: 46px;
	height: 58px;
	background: url(https://p.ssl.qhimg.com/t0193845b9ebb571af5.png) no-repeat 0 0;
}

.list-gird4 .dp-score .score-num{
	font-size: 16px;
	margin-top: 17px;
}

.area-select-pannel{display:none;position: absolute;width: 460px;background: #FBFBFB;border: solid 1px #CFCFCF;left: 161px;top: 51px;padding: 8px 0;z-index: 999;}
.area-select-pannel h3{ font-weight: normal;height: 20px; line-height: 20px; padding: 0 10px; position: relative;}
.area-select-pannel h3 .close{background: url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor: pointer; display: block; height: 20px; line-height: 100px; overflow: hidden; position: absolute; right: 10px; top: 0; width: 55px;}
.area-select-pannel .area-select-list{background: #FFFFFF;border: solid 1px #E8E8E8;margin: 12px 12px 3px; padding: 12px 12px 0;}
.area-select-pannel .area-select-list a{color: #000000;display: inline-block; height: 18px; line-height: 18px; margin: 0 18px 5px 0;}
