html,body{
    background: #6c41ac;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 100%;
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}
.w100{width: 100%;}
.fl{ float:left;}
.fr{ float:right;}

.block-inner{
    width:1000px;
    margin: 0 auto;
}

.page-hd-qixi .block1,.page-hd-qixi .block1 .block-inner{
    height: 406px;
    background: url("https://p.ssl.qhimg.com/t01566ce3d6437b5137.png") no-repeat center 0;
}
.page-hd-qixi .tab-box{
    height: 80px;
    z-index: 5;
}
.page-hd-qixi .abs{
    position: absolute;
    left: 0;
    top:326px;
}
.page-hd-qixi .fixed{
    position: fixed;
    left: 50%;
    margin-left: -500px;
    top:0;
}
.page-hd-qixi .tab-list li{
    width: 249px;
    height: 80px;
    float: left;
    background: #bf5aff;
    text-align: center;
    /*margin-right: 1px;*/
    border-right: 1px solid #5c1d67;
    position: relative;
    cursor: pointer;
}

.page-hd-qixi .tab-list h3{
    font-size: 22px;
    height: 22px;
    color: #fff003;
    margin:15px 0 6px;
    height:20px;
    line-height:20px;
}
.page-hd-qixi .tab-list p{
    font-size: 16px;
    color: #fff;
    line-height:20px;
}
.page-hd-qixi .tab-list .cur{
    background: #fff002;
}
.page-hd-qixi .tab-list .cur h3{
    color: #6d2faf;
}
.page-hd-qixi .tab-list .cur p{
    color: #333;
}
.page-hd-qixi .tab-placeholder{
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.page-hd-qixi .title{
    height: 56px;
    padding: 0 12px 0 20px;
}
.page-hd-qixi .title .tit-cont{
    font-size: 24px;
    color: #fff002;
    line-height: 56px;
    font-weight: bold;
}
.page-hd-qixi .title .tit-desc{
    font-size: 16px;
    color: #e2cd24;
    padding: 26px 0 0 30px;
}
.page-hd-qixi .title .more{
    font-size: 16px;
    color: #fff;
    padding-top: 26px;
}

.page-hd-qixi .block2,.page-hd-qixi .block2 .block-inner{
    background: url("https://p.ssl.qhimg.com/t014aa1dfdbc193bd10.png") repeat-x 0 0;
}

.page-hd-qixi .product-tit-pic{
    float: left;
    width: 200px;
}

.page-hd-qixi .product-list .item{
    position: relative;
    float: left;
    width: 175px;
    height: 270px;
    padding: 0px 12px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.page-hd-qixi .product-list .item a{
    display: block;
}
.page-hd-qixi .product-list .item a:hover{
    text-decoration: none;
}
.page-hd-qixi .product-list .p-img{
    width: 120px;
    height: 120px;
    margin: 8px auto;
}
.page-hd-qixi .product-list .p-img img{
    width: 100%;
}
.page-hd-qixi .product-list .p-tit{
    font-size: 14px;
    padding: 0px 0 4px;
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height:20px;
    height:38px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.page-hd-qixi .product-list .p-price-new{
    line-height: 100%;
     color: #999;
     font-size: 12px;
}
.page-hd-qixi .product-list .p-price-new .price-tit{
}
.page-hd-qixi .product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.page-hd-qixi .product-list .p-price{
    line-height: 100%;
    padding-top: 5px;
    font-size: 14px;
    color: #ff3300;
}
.page-hd-qixi .product-list .p-price .price-cnt{
    font-size: 18px;
}

.page-hd-qixi .product-list .btn-qiang{
    margin: 10px auto 0;
    display: block;
    width: 175px;
    height: 40px;
    line-height: 40px;
    border:1px solid #fe4d4e;
    font-size: 16px;
    color: #fe4d4e;
    text-align: center;
}
.page-hd-qixi .product-list .item a:hover .btn-qiang{
    background: #fe4d4e;
    color: #fff;
}
.page-hd-qixi .product-list .btn-disabled,
.page-hd-qixi .product-list .item a:hover .btn-disabled{
    background-color: #ddd;
    border:none;
    color: #fff;
}

.page-hd-qixi .block6 .product-list{
    margin-bottom: 0;
}

.page-hd-qixi .for-more{
    padding-top: 20px;
}
.page-hd-qixi .for-more a{
    float: left;
    margin-bottom: 16px;
}
.page-hd-qixi .goto-qijian,.page-hd-qixi .goto-zhuliu{
    margin-right: 12px;
}
.page-hd-qixi .product-cont{
    float: left;
    width: 800px;
}
.page-hd-qixi .product-cont .p-item{
    width: 400px;
    height: 200px;
    position: absolute;
}
.page-hd-qixi .product-cont .p-item1{
    left: 0px;
    top:0px;
}
.page-hd-qixi .product-cont .p-item2{
    left: 400px;
    top:0px;
}
.page-hd-qixi .product-cont .p-item3{
    left: 0px;
    top:200px;
}
.page-hd-qixi .product-cont .p-item4{
    left: 400px;
    top:200px;
}
.page-hd-qixi .product-cont .btn-liji{
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fe4d4e;
    font-size: 16px;
    border: 1px solid #fe4d4e;
    position: absolute;
    left: 186px;
    top:120px;
}
.page-hd-qixi .product-cont .p-item:hover .btn-liji{
    background: #fe4d4e;
    color: #fff;
}
.page-hd-qixi .bottom-banner{
    padding-bottom: 30px;
}
/* 活动说明 */
.page-hd-qixi .hd-desc-block{
}
.page-hd-qixi .hd-desc-block .block-inner{
    padding: 20px 0;
}
.page-hd-qixi .hd-desc{
    color: #fff;
    background: #3c9dfd;
    width: 940px;
    padding: 10px 20px 20px 40px;
    border-radius: 8px;

}
.page-hd-qixi .hd-desc-tit{
    font-size: 22px;
    padding: 25px 0 10px;
}
.page-hd-qixi .hd-desc-cont{
    font-size: 16px;
    line-height: 30px;
    text-indent: -14px;
}
.page-hd-qixi .ewm-tips{
    font-size: 16px;
    padding: 3px 0;
    text-align: center;
}
.page-hd-qixi .link-block .block-inner{
    padding-bottom: 20px;
}
.page-hd-qixi .link-tit{
    font-size: 22px;
    padding: 0 50px;
    color: #fff;
    line-height: 50px;
}
.page-hd-qixi .link-list img{
    float: left;
    margin-right: 50px;
}
/*回收列表*/
.page-hd-qixi .huishou-list{
    height:118px;
    background: url(https://p.ssl.qhimg.com/t0106640286adfc37e5.jpg) center 0 no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.page-hd-qixi .huishou-list .br{
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 112px;
    height: 57px;
}
.page-hd-qixi .huishou-list .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-qixi .huishou-list .apple{
    left: 1px;
}
.page-hd-qixi .huishou-list .samsung{
    left: 113px;
}
.page-hd-qixi .huishou-list .honor{
    left: 224px;
}
.page-hd-qixi .huishou-list .meizu{
    left: 335px;
}
.page-hd-qixi .huishou-list .xiaomi{
    left: 446px;
}
.page-hd-qixi .huishou-list .vivo{
    left: 557px;
}
.page-hd-qixi .huishou-list .yijia{
    left: 668px;
}
.page-hd-qixi .huishou-list .oppo{
    left: 779px;
}
.page-hd-qixi .huishou-list .chuizi{
    left: 890px;
}

.page-hd-qixi .huishou-list .lenovo{
    top: 59px;
    left:1px;
}
.page-hd-qixi .huishou-list .blackberry{
    top: 59px;
    left: 113px;
}
.page-hd-qixi .huishou-list .lg{
    top: 59px;
    left: 224px;
}
.page-hd-qixi .huishou-list .nokia{
    top: 59px;
    left: 335px;
}
.page-hd-qixi .huishou-list .letv{
    top: 59px;
    left: 446px;
}
.page-hd-qixi .huishou-list .motorola{
    top: 59px;
    left: 557px;
}
.page-hd-qixi .huishou-list .htc{
    top: 59px;
    left: 668px;
}
.page-hd-qixi .huishou-list .sony{
    top: 59px;
    left: 779px;
}
.page-hd-qixi .huishou-list .other{
    top: 59px;
    left: 890px;
}