/*html,body{
	overflow-x:visible;
}*/

.hd-shujuhuifu{
	width: 100%;
	margin:0 auto;
    /*background: #991629;*/
    background: #021118 url(https://p.ssl.qhimg.com/t018a7db949f102c33b.jpg) repeat center 0;
    padding-bottom: 0;
}
.hd-shujuhuifu .f12{
    font-size: 12px;
}
.hd-shujuhuifu .f14{
    font-size: 14px;
}
.hd-shujuhuifu .f20{
    font-size: 20px;
}
.hd-shujuhuifu .f24{
    font-size: 24px;
}
.hd-shujuhuifu .bold{
    font-weight: bold;
}
.hd-shujuhuifu .color1{
    color: #ce4a21;
}
.hd-shujuhuifu .color2{
    color: #666666;
}

.hd-shujuhuifu .header h1,
.hd-shujuhuifu .header h2,
.hd-shujuhuifu .header p{text-indent: -9999px;height: 0;}

.hd-shujuhuifu .header,
.hd-shujuhuifu .mainbody{
	width: 100%;
	margin: 0 auto;
}

.hd-shujuhuifu .header{
	/*height: 516px;
    background: url(https://p.ssl.qhimg.com/t0191aaf954d654cd7d.png) no-repeat center 0;*/
    height: 619px;
    background: url(https://p.ssl.qhimg.com/t01fb629fd847e3dd62.jpg) no-repeat center 0;
}
.hd-shujuhuifu .header .header-inner{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.hd-shujuhuifu .header-inner .ruanjian-anchor,
.hd-shujuhuifu .header-inner .yingjian-anchor,
.hd-shujuhuifu .header-inner .shouji-anchor{
    display: block;
    width: 317px;
    height: 145px;
    position: absolute;
    top: 358px;
}
.hd-shujuhuifu .header-inner .ruanjian-anchor{
    left: -1px;
}
.hd-shujuhuifu .header-inner .yingjian-anchor{
    left: 321px;
}
.hd-shujuhuifu .header-inner .shouji-anchor{
    left: 641px;
}
.hd-shujuhuifu .mainbody{
    background: url(https://p.ssl.qhimg.com/t01d1d481515529fef9.jpg) no-repeat center 0;
    padding-bottom: 60px;
}
.hd-shujuhuifu .mainbody .sub-mb{
    width: 960px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    /*position: relative;*/
}
.hd-shujuhuifu .dp-box-qh{
	width: 960px;
    position: relative;
}
.hd-shujuhuifu .dp-box-qh .dp-top-span{width:960px;height:64px;display:block;}
.hd-shujuhuifu .dp-box-qh .dp-top{
    width: 960px;
	height: 64px;
    /*background: url(https://p.ssl.qhimg.com/t013ba54b333e06b184.png) no-repeat center 0;*/
    background: url(https://p.ssl.qhimg.com/t01b50dcda5959f16bd.png) no-repeat center 0;
    position: relative;
    z-index: 999;
}
.hd-shujuhuifu .dp-box-qh .dp-main{
	padding: 8px 10px;
    /*background: #7A1726;*/
    background: url(https://p.ssl.qhimg.com/t016921814a787d1888.png) repeat center 0;
    box-shadow: 0 0 100px 3px #244F6A;
}
/**** 商品条目块的样式 ****/
.hd-shujuhuifu .dp-item-none{
    width: 100%;
    height: 249px;
    background: url(https://p.ssl.qhimg.com/t010f34fc42af61fb93.png) no-repeat center 0;
    text-indent: -9999px;
}
.hd-shujuhuifu .dp-item{
	float: left;
	width: 294px;
	height: 337px;
	margin:10px;
	_display:inline;
}
.hd-shujuhuifu .dp-item-inner .dp-infobox{
	padding: 1px 17px 0 17px;
	height: 270px;
	/*border-bottom: 1px solid #EDE8E6;*/
    background-color: #FFFFFF;
	position: relative;
}
.hd-shujuhuifu .dp-item-inner .dp-img-box{
	display: block;
	width: 182px;
	height: 183px;
	margin: 34px auto 0 auto;
	text-align: center;
}
.hd-shujuhuifu .dp-item-inner .dp-img{

	width: 180px;
	height: 180px;
	border:1px solid #EAEAEA;

}
.hd-shujuhuifu .dp-item-inner .dp-score{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 3px;
	width: 50px;
	height: 15px;
	background: url(https://p.ssl.qhimg.com/t01a89325b372c32201.png) no-repeat -5px -5px;
}
.hd-shujuhuifu .dp-score .score-num{
	font-size: 12px;
	text-align: left;
    text-indent: 5px;
    height: 15px;
    line-height: 15px;
	color: #FFFFFF;
	display: block;
	cursor: default;
}
.hd-shujuhuifu .dp-item-inner .dp-name{
	font-family: "微软雅黑";
	font-size: 14px;	
	height: 20px;
	margin:6px 0;
	width: 260px;
	overflow: hidden;
	text-align: center;	
}
.hd-shujuhuifu .dp-item-inner .dp-name a{	
	color: #2e74d3;
	text-decoration: underline;
}
.hd-shujuhuifu .dp-item-inner .dp-addr{
	color: #999999;
	text-align: center;
	width: 260px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hd-shujuhuifu .dp-item-inner .dp-price{
	padding:0 17px;
	height: 60px;
	background: #FFFAF8 url(https://p.ssl.qhimg.com/t010f22a274ec2859e4.png) no-repeat 0 0;
	position: relative;
    font-family: "微软雅黑";
}
.hd-shujuhuifu .dp-item-inner .dp-price .color1{
    color: #ce4a21;
}
/**** 商品条目块的样式 END****/

.hd-shujuhuifu .btn-buy,
.hd-shujuhuifu .btn-detail{
	width: 113px;
	height: 38px;
	display: inline-block;
	_zoom:1;
	background: url(https://p.ssl.qhimg.com/t01b42fbe22b2c8caf1.png) no-repeat 0 0;
	position: absolute;
	top: 13px;
}
.hd-shujuhuifu .btn-buy{
	background-position:0 -58px;	
	right: 17px;
}

.hd-shujuhuifu .btn-detail{
	background-position:0 -124px;
	right: 17px;
}

.hd-shujuhuifu .btn-buy:hover{
	background-position:-113px -58px;
}

.hd-shujuhuifu .btn-detail:hover{
	background-position:-113px -124px;
}

.hd-shujuhuifu .btn-buy:active{
	background-position:-226px -58px;
}

.hd-shujuhuifu .btn-detail:active{
	background-position:-226px -124px;
}

.hd-shujuhuifu .prd-view{
	display: inline-block;
	width: 92px;
	text-align: center;
	_zoom:1;
}

.hd-shujuhuifu .tabs{
    display: block;
    /*width: 687px;
    height: 62px;*/
    padding: 0;
    position: relative;
    /*text-indent: -9999px;*/
}
.hd-shujuhuifu .tabs a{
    display: block;
    width: 170px;
    height: 40px;
    font: 20px "微软雅黑";
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 19px;
    color: #FFFFFF;
    background: url(https://p.ssl.qhimg.com/t01b5b430ded3622a26.png) no-repeat -2px -90px;
    /*border: 1px solid #CFCFCF;*/
}
.hd-shujuhuifu .tabs .cur{
    /*background: #7A1726;*/
    background: url(https://p.ssl.qhimg.com/t01b5b430ded3622a26.png) no-repeat -2px -46px;
}
.hd-shujuhuifu .tabs .tab1{
    left: 0px;
}
.hd-shujuhuifu .tabs .tab2{
    left: 180px;
}
.hd-shujuhuifu .tabs .tab3{
    left: 360px;
}

/****************4列模式****************/
.list-gird4{}

.list-gird4 .dp-box-qh .dp-main{
	padding:20px 10px;
}
.list-gird4 .dp-item{
	margin: 12px 5px;
	box-shadow: 0 1px 1px #666666;
	width: 225px;
	height: 276px;
    cursor: pointer;
}
.list-gird4 .dp-item-inner .dp-img{
	width: 130px;
	height: 130px;
}
.list-gird4 .dp-item-inner .dp-img-box{
	width: 132px;
	height: 133px;
    margin:25px auto 0;
}
.list-gird4 .dp-item-inner .dp-name,
.list-gird4 .dp-item-inner .dp-addr{
	width: 190px
}

.list-gird4 .btn-buy,
.list-gird4 .btn-detail{
	right: 57px;
	top: 11px;
	width: 93px;
	height: 38px;
}

.list-gird4 .btn-buy{
	background-position:0 -268px;	
	left: 123px;
}

.list-gird4 .btn-detail{
	background-position:0 -330px;
	right: 17px;
}

.list-gird4 .btn-buy:hover{
	background-position:-93px -268px;
}

.list-gird4 .btn-detail:hover{
	background-position:-93px -330px;
}

.list-gird4 .btn-buy:active{
	background-position:-186px -268px;
}

.list-gird4 .btn-detail:active{
	background-position:-186px -330px;
}
.list-gird4 .dp-dinfo{
    position: absolute;
    top: 0px;
    left: 11px;
    color: #999999;
}
.list-gird4 .dp-item-inner .dp-infobox{
	height: 216px;
}

/****** 活动须知 *********/
.hd-shujuhuifu .mainbody .xuzhi{
    width: 910px;
    height: auto;
    /*background: #7A1726;*/
    /*background: url(https://p.ssl.qhimg.com/t016921814a787d1888.png) repeat center 0;*/
    margin: 0 auto;
    padding: 20px 0 20px 50px;
}
.hd-shujuhuifu .xuzhi h3,
.hd-shujuhuifu .xuzhi p{
    /*font-family: "微软雅黑";*/
    /*font-weight: bold;*/
    font-size: 12px;
    color: #FFFFFF;
    line-height: 2;
}
.hd-shujuhuifu .xuzhi h3{
    height: 30px;
}
.hd-shujuhuifu .xuzhi .shop-join{
    /*font-family: "微软雅黑";*/
    font-size: 12px;
    color: #FFFFFF;
    line-height: 50px;
}
.hd-shujuhuifu .xuzhi-list-num{
    padding-right: 14px;
}
/******* 区县选择 ************/
.hd-shujuhuifu .city-select,
.hd-shujuhuifu .shangquan-select{
    width: 150px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    font-family: "微软雅黑",arial;
    cursor: pointer;
    padding: 0 0 0 10px;
    /*background: url(https://p.ssl.qhimg.com/t011d69a0e4eea37cb5.png) no-repeat 0 0;*/
    background: url(https://p.ssl.qhimg.com/t01b5b430ded3622a26.png) no-repeat -2px -132px;
}
.hd-shujuhuifu .city-select{
    top: 16px;
    right: 210px;
}
.hd-shujuhuifu .non-shangquan-flag .city-select{
    top: 29px;
    /*right: 36px;*/
    right: 0px;
}
.hd-shujuhuifu .shangquan-select{
    top: 16px;
    right: 36px;
}
.hd-shujuhuifu .city-select .now-city,
.hd-shujuhuifu .shangquan-select .now-shangquan
{
    font-size: 16px;
    /*height: 36px;
    line-height: 36px;*/
    /*color: #A12727;*/
    color: #FFFFFF;
}

.hd-shujuhuifu .area-list{
    background: #FCD721;
    display: block;
    width: 915px;
    padding: 8px 0 0 15px;
    margin: 0 auto;
}
.hd-shujuhuifu .area-list .area-list1{
    width: 105px;
    display: inline-block;
    _zoom:1;
    vertical-align: top;
}
.hd-shujuhuifu .area-list .area-list2{
    width: 800px;
    display: inline-block;
    _zoom:1;
}
.hd-shujuhuifu .area-list .area-list1,
.hd-shujuhuifu .area-list .area-list2{
    *display:inline;
}
.hd-shujuhuifu .area-list .area-list1 a{
    margin: 0;
}
.hd-shujuhuifu .area-list a{
    color: #2E74D3;
    display: inline-block;
    padding: 0 6px;
    margin: 0 15px 10px 0;
    _zoom:1;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.hd-shujuhuifu .area-list .cur{
    color: #FFFFFF;
    font-weight: bold;
    background: #2E74D3;
}
.hd-shujuhuifu .area-select-pannel{display:none;position: absolute;width: 460px;background: #FBFBFB;border: solid 1px #CFCFCF;left: 452px;top: 59px;padding: 8px 0;z-index: 999;}
.hd-shujuhuifu .area-select-pannel h3{ font-weight: normal;height: 20px; line-height: 20px; padding: 0 10px; position: relative;text-indent: 0;}
.hd-shujuhuifu .area-select-pannel h3 .close{background: url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor: pointer; display: block; height: 20px; line-height: 100px; overflow: hidden; position: absolute; right: 10px; top: 0; width: 55px;}
.hd-shujuhuifu .area-select-pannel .area-select-list{background: #FFFFFF;border: solid 1px #E8E8E8;margin: 12px 12px 3px; padding: 12px 12px 0;}
.hd-shujuhuifu .area-select-pannel .area-select-list a{color: #000000;display: inline-block; height: 18px; line-height: 18px; margin: 0 18px 5px 0;}

/***** 活动icon **************/
.hd-icon-zhuanye{
    width: 36px;
    height: 36px;
    background: url(https://p.ssl.qhimg.com/t01a89325b372c32201.png) no-repeat;
    background-position: -5px -24px;
    text-indent: -9999px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.hd-icon-yuancheng,
.hd-icon-yuancheng2{
    width: 36px;
    height: 36px;
    background: url(https://p.ssl.qhimg.com/t01a89325b372c32201.png) no-repeat;
    background-position: -5px -64px;
    text-indent: -9999px;
    position: absolute;
}
.hd-icon-yuancheng{
    right: 2px;
    top: 40px;
}
.hd-icon-yuancheng2{
    right: 2px;
    top: 2px;
}
.download-360jphf-recovery{
    display: block;
    width: 132px;
    height: 40px;
    position: absolute;
    bottom: 18px;
    right: 24px;
    background: url(https://p.ssl.qhimg.com/t01b5b430ded3622a26.png) no-repeat -2px -2px;
    text-decoration: none;
}
.download-360jphf-recovery:hover{
    text-decoration: none;
}
.download-360jphf-recovery-tipbtn{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 69px;
    right: 6px;
    background: url(https://p.ssl.qhimg.com/t01b5b430ded3622a26.png) no-repeat -142px -2px;
    text-decoration: none;
}
.download-360jphf-recovery-tipbtn:hover{
    text-decoration: none;
}
.download-360jphf-recovery-tip{
    display: block;
    width: 346px;
    height: 122px;
    position: absolute;
    bottom: 88px;
    right: 23px;
    background: url(https://p.ssl.qhimg.com/t01decc014b5ff1b1ab.png) no-repeat 0 0;
}
