html{background: #fff !important;}
.page-hd-suning{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.page-hd-suning .block{
    width: 100%;
    border: 0;
}
.page-hd-suning .block-inner{
    position: relative;
    margin: 0 auto;
    width: 960px;
}
.page-hd-suning .block1,
.page-hd-suning .block1 .block-inner{
    height: 479px;
    background: url(https://p.ssl.qhimg.com/t01717b0057a8b87cd6.jpg) no-repeat center 0;
}
.page-hd-suning .btn-jiuji-guzhi{
    position: absolute;
    top: 350px;
    left: 0;
    display: block;
    width: 256px;
    height: 63px;
    background: url(https://p.ssl.qhimg.com/t01d799d48339355706.jpg) no-repeat center 0;
}
.page-hd-suning .btn-jiuji-guzhi:hover{
    text-decoration: none;
}
.page-hd-suning .block2,
.page-hd-suning .block2 .block-inner{
    height: 390px;
    background: url(https://p.ssl.qhimg.com/t01524d8e46771838fe.jpg) no-repeat center 0;
}
.page-hd-suning .block3,
.page-hd-suning .block3 .block-inner{
    height: 842px;
    background: url(https://p.ssl.qhimg.com/t0187160df3aa34c390.png) no-repeat center 0;
}
.page-hd-suning .block4{
    height: 110px;
    text-align: center;
}
.page-hd-suning .block4 .block-inner{
    padding-top: 30px;
}
.page-hd-suning .block4 .goto-more-store{
    font-size: 16px;
}
.page-hd-suning .block5,
.page-hd-suning .block5 .block-inner{
    height: 123px;
    background: url(https://p.ssl.qhimg.com/t01a2e81694111b5724.jpg) no-repeat center 0;
}
.page-hd-suning .block6,
.page-hd-suning .block6 .block-inner{
    height: 689px;
    background: url(https://p.ssl.qhimg.com/t01c77b38104df542e1.jpg) no-repeat center 0;
}

.page-hd-suning .block6 .block-inner{
    position: relative;
}
.page-hd-suning .block6 .br{
    position: absolute;
    top: 1px;
    left: 0px;
    display: block;
    width: 105px;
    height: 48px;
}
.page-hd-suning .block6 .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-suning .block6 .apple{
    left: 0px;
}
.page-hd-suning .block6 .samsung{
    left: 107px;
}
.page-hd-suning .block6 .honor{
    left: 214px;
}
.page-hd-suning .block6 .meizu{
    left: 319px;
}
.page-hd-suning .block6 .xiaomi{
    left: 426px;
}
.page-hd-suning .block6 .vivo{
    left: 533px;
}
.page-hd-suning .block6 .yijia{
    left: 640px;
}
.page-hd-suning .block6 .oppo{
    left: 747px;
}
.page-hd-suning .block6 .chuizi{
    left: 855px;
}

.page-hd-suning .block6 .htc{
    top: 50px;
    left: 0px;
}
.page-hd-suning .block6 .blackberry{
    top: 50px;
    left: 107px;
}
.page-hd-suning .block6 .lg{
    top: 50px;
    left: 214px;
}
.page-hd-suning .block6 .nokia{
    top: 50px;
    left: 319px;
}
.page-hd-suning .block6 .letv{
    top: 50px;
    left: 426px;
}
.page-hd-suning .block6 .motorola{
    top: 50px;
    left: 533px;
}
.page-hd-suning .block6 .lenovo{
    top: 50px;
    left: 640px;
}
.page-hd-suning .block6 .sony{
    top: 50px;
    left: 747px;
}
.page-hd-suning .block6 .other{
    top: 50px;
    left: 855px;
}

.page-hd-suning .block6 .btn-kankan-jiuji{
    position: absolute;
    top: 329px;
    left: 213px;
    width: 533px;
    height: 78px;
    border-radius: 999px;
    background: transparent;
}
.page-hd-suning .block6 .btn-kankan-jiuji:hover{
    text-decoration: none;
}


.page-hd-suning .block7,
.page-hd-suning .block7 .block-inner{
    height: 400px;
    background: url(https://p.ssl.qhimg.com/t018125524f7a899932.jpg) no-repeat center 0;
}
.page-hd-suning .block7 .goto-liangpin{
    position: absolute;
    top: 315px;
    left: 368px;
    width: 148px;
    height: 24px;
}
.page-hd-suning .block7 .goto-liangpin:hover{
    background: #E0E0E0;
    opacity: .4;
    filter: alpha(opacity=40);
    text-decoration: none;
}
