html,body{
    background: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom:1;
}
.w100{width: 100%;}
.fl{ float:left;}
.fr{ float:right;}

.block_inner{
    width:1200px;
    margin: 0 auto;
}
.shine_iphone .block1,.shine_iphone .block1 .block_inner{
    height: 396px;
    background: url("https://p.ssl.qhimg.com/t01834bbddd0255d0fd.jpg") no-repeat center 0;
}
.shine_iphone .ty-btn{
    width: 305px;
    height: 56px;
    position: absolute;
    left: 262px;
    top: 208px;
}
.shine_iphone .block2,.shine_iphone .block2 .block_inner{
    height: 407px;
    background: url("https://p.ssl.qhimg.com/t019318733d67d163a3.jpg") no-repeat center 0;
}
.shine_iphone .block3,.shine_iphone .block3 .block_inner{
    height: 398px;
    background: url("https://p.ssl.qhimg.com/t0173be50a44aad9721.jpg") no-repeat center 0;
}
.shine_iphone .block4,.shine_iphone .block4 .block_inner{
    height: 302px;
    background: url("https://p.ssl.qhimg.com/t0125fb2ebddd1c3aae.jpg") no-repeat center 0;
}
.shine_iphone .block5,.shine_iphone .block5 .block_inner{
    background: #f8f8f8;
}
.shine_iphone .com-question{
    padding: 50px 0;
    width: 882px;
    margin: 0 auto;
}
.shine_iphone .com-question h3{
    text-align: center;
    font-size: 30px;
    color: #333;
    padding-bottom: 10px;
}
.shine_iphone .com-question-con h4{
    font-size: 24px;
    color: #333;
    padding: 0px 0 22px 54px;
    background: url("https://p.ssl.qhimg.com/t01cffe8b0bece76afc.png") no-repeat 0 4px;
}
.shine_iphone .com-question-con p{
    line-height: 28px;
    font-size: 18px;
    color: #666;
    padding: 2px 0 30px 54px;
    background: url("https://p.ssl.qhimg.com/t0184dfd24d0ba61ca9.png") no-repeat 0 0;
}
.shine_iphone .block6,.shine_iphone .block6 .block_inner{
    height: 348px;
    background: url("https://p.ssl.qhimg.com/t014aaaf4d94a9644f1.jpg") no-repeat center 0;
}
.shine_iphone .block6 a{
    width: 300px;
    height: 200px;
    position: absolute;
    top:116px;
}
.shine_iphone .block6 a:hover{
    background: rgba(0,0,0,0.1);
}
.shine_iphone .huanping{
    left: 128px;
}
.shine_iphone .huandianchi{
    left: 450px;
}
.shine_iphone .pjwx{
    left: 770px;
}
.shine_iphone .block7,.shine_iphone .block7 .block_inner{
    height: 320px;
    background: url("https://p.ssl.qhimg.com/t01c2f46580ff0f0359.jpg") no-repeat center 0;
}

.shine_iphone .block8,
.shine_iphone .block8 .block_inner{
    height: 355px;
    background: url("https://p.ssl.qhimg.com/t01bfde6b9225165be6.jpg") no-repeat center 0;
}
