html{background: #fff !important;}
a:hover{
    text-decoration: none;
}
.page-hd-suning2{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.page-hd-suning2 .block_inner{
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.page-hd-suning2 .block1,.page-hd-suning2 .block1 .block_inner{
    z-index: 99;
}
.page-hd-suning2 .block1 a{
    position: absolute;
    top:368px;
    width: 248px;
    height:74px;
}
.page-hd-suning2 .block1 .logo{
    position: absolute;
    top: 0;
    left: 20px;
    width: 337px;
    height: 64px;
    background: url(https://p.ssl.qhimg.com/t019004f90757f0fe8a.jpg) center;
}
.page-hd-suning2 .block1 .btn-ddhx{
    left: 20px;
    background: url(https://p.ssl.qhimg.com/t0125b5cd2e9f1b72b6.jpg) center;
}
.page-hd-suning2 .block1 .btn-yjhx{
    left: 299px;
    background: url(https://p.ssl.qhimg.com/t01af9df7d9d55c9438.jpg) center;
}

.page-hd-suning2  .block2 .block_inner{
    height:250px;
    background: url(https://p.ssl.qhimg.com/t01193dedfb014f4104.jpg) center 0;
    margin-top: 45px;
}

.page-hd-suning2 .block3 .title{
    height: 122px;
    background: url("https://p.ssl.qhimg.com/t010cce8d4e2199a50d.jpg") center 0;
}
.page-hd-suning2 .block3 th,.page-hd-suning2 .block3 td {
    border:1px solid #cfcfcf;
}
.page-hd-suning2 .block3 .table{
    border-collapse:collapse;
    font-size: 16px;
    color:#8b8b8b;
    width: 960px;
    table-layout: fixed;
}
.page-hd-suning2 .block3 .tr1{
    background: #f4f4f4;
}
.page-hd-suning2 .block3 .td1{
    width: 134px;
    height:42px;
    text-align: center;
    font-size: 18px;
}
.page-hd-suning2 .block3 .td2{
    width: 196px;
    height:42px;
    padding-left: 20px;
}
.page-hd-suning2 .block3 .td3{
    width: 570px;
    height:42px;
    padding-left: 20px;
}
.page-hd-suning2 .block3 .more-stores{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.page-hd-suning2 .block3 .more-stores a{
    color: #46bff8;
}
.page-hd-suning2 .block4 .title{
    height: 111px;
    background: url("https://p.ssl.qhimg.com/t0110f1a5587d95739b.jpg") center 0;
}
.page-hd-suning2 .samsung_list li{
    float: left;
    position: relative;
    width:228px;
    height: 305px;
    margin: 0 5px 25px;
    padding: 30px 0 10px;
    background: #fff;
    font-size:16px;
    text-align: center;
    color: #000;
    font-weight: bold;
    line-height: 100%;
    border:1px solid #a6e0fb;
    border-radius:5px;
}
.page-hd-suning2 .samsung_list a{
    color: #000;
}
.page-hd-suning2 .samsung_list .p_img{
    height: 180px;
}
.page-hd-suning2 .samsung_list .p_img img{
    height: 100%;
}
.page-hd-suning2 .samsung_list .p_tit{
    padding: 22px 0 12px;
}
.page-hd-suning2 .samsung_list .btn_jhx{
    width: 210px;
    height: 42px;
    display: block;
    margin: 12px auto 0;
    color: #fff;
    text-align: center;
    line-height: 42px;
    background: #08aaf5;
    border-radius: 2px;
}
.page-hd-suning2 .samsung_list .last-img{
    padding-top: 20px;
    height: 140px;
}
.page-hd-suning2 .samsung_list .last-tit{
    color: #0d0d0d;
    font-size: 18px;
    line-height: 30px;
    padding-top: 35px;
}
.page-hd-suning2 .block5 .block_inner{
    height:365px;
    background: url("https://p.ssl.qhimg.com/t01d2f06be9ea18f28a.jpg") no-repeat center 22px;
    position: relative;
    margin-top: 30px;
}

.page-hd-suning2 .block5 .br{
    position: absolute;
    top: 97px;
    left: 0px;
    display: block;
    width: 105px;
    height: 48px;
}
.page-hd-suning2 .block5 .br:hover{
    text-decoration: none;
    box-shadow: 0 0 6px #497fcc;
}
.page-hd-suning2 .block5 .apple{
    left: 0px;
}
.page-hd-suning2 .block5 .samsung{
    left: 107px;
}
.page-hd-suning2 .block5 .honor{
    left: 214px;
}
.page-hd-suning2 .block5 .meizu{
    left: 320px;
}
.page-hd-suning2 .block5 .xiaomi{
    left: 426px;
}
.page-hd-suning2 .block5 .vivo{
    left: 533px;
}
.page-hd-suning2 .block5 .yijia{
    left: 640px;
}
.page-hd-suning2 .block5 .oppo{
    left: 747px;
}
.page-hd-suning2 .block5 .chuizi{
    left: 855px;
}

.page-hd-suning2 .block5 .htc{
    top: 146px;
    left:0;
}
.page-hd-suning2 .block5 .blackberry{
    top: 146px;
    left: 107px;
}
.page-hd-suning2 .block5 .lg{
    top: 146px;
    left: 214px;
}
.page-hd-suning2 .block5 .nokia{
    top: 146px;
    left: 320px;
}
.page-hd-suning2 .block5 .letv{
    top: 146px;
    left: 426px;
}
.page-hd-suning2 .block5 .motorola{
    top: 146px;
    left: 533px;
}
.page-hd-suning2 .block5 .lenovo{
    top: 146px;
    left: 640px;
}
.page-hd-suning2 .block5 .sony{
    top: 146px;
    left: 747px;
}
.page-hd-suning2 .block5 .other{
    top: 146px;
    left: 855px;
}
.page-hd-suning2 .btn_kankan_jiuji{
    position: absolute;
    top: 23px;
    left: 180px;
    display: block;
    width: 534px;
    height: 78px;
    border-radius: 42px;
}
.page-hd-suning2 .block6 .block_inner{
    height:150px;
    background:url("https://p.ssl.qhimg.com/t01a58731a670b6c4ae.jpg") no-repeat center 0;
}
.page-hd-suning2 .erweima{
    height: 180px;
    background: url("https://p.ssl.qhimg.com/t016fbdc9b6691a5f2a.jpg") no-repeat center 0;
}
.page-hd-suning2 .block7{
    /*background: #fafafa;*/
}
.page-hd-suning2 .hd_tips .title{
    padding-left: 42px;
    margin-bottom: 20px;
    height: 46px;
    line-height: 46px;
    border-left: 8px solid #231b18;
    font-size: 26px;
}
.page-hd-suning2 .hd_tips{
    width: 820px;
    margin:0 auto;
    padding: 40px 0;
    color: #333;
}
.page-hd-suning2 .hd_tips span{
    float: left;
}
.page-hd-suning2 .hd_tips .num{
    width: 50px;
}
.page-hd-suning2 .hd_tips_r{
    width: 770px;
}
.page-hd-suning2 .hd_tips p{
    font-size: 18px;
    padding-bottom: 18px;
}


/*顶部轮播项目*/
.page-hd-suning2 .top-banner{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 494px;
}
.page-hd-suning2 .top-banner .item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 494px;
}
.page-hd-suning2 .top-banner .item-inner{
    margin: 0 auto;
    width: 960px;
    height: 494px;
}

.page-hd-suning2 .top-banner .item-0,
.page-hd-suning2 .top-banner .item-0 .item-inner{
    z-index: 1;
    background: url(https://p.ssl.qhimg.com/t010d6ba873a798409d.jpg) no-repeat center 0;/* S7 */
}
.page-hd-suning2 .top-banner .item-1,
.page-hd-suning2 .top-banner .item-1 .item-inner{
    z-index: 0;
    background: url(https://p.ssl.qhimg.com/t0158b9637212df3a2a.jpg) no-repeat center 0;/* A9 */
}


/*弹层选机型*/
.page-hd-suning2 .dialog-suning2-select-product-wrap{
    background: transparent;
}
.page-hd-suning2 .dialog-suning2-select-product{
    width: 900px;
    height: 493px;
    background: url(https://p.ssl.qhimg.com/t01a44d70b282ee6f05.jpg) no-repeat center 0;
}
.page-hd-suning2 .dialog-suning2-select-product a{
    width: 300px;
    float: left;
    height: 100%;
}