.page-liangpin-huanxin{
    background: #F7F7F7;
}
.page-liangpin-huanxin .liangpin-head{display: none;}
.page-liangpin-huanxin .fixed-banner{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 94px;
    background: #303533;
}
.page-liangpin-huanxin .fixed-banner-inner{
    margin: 0 auto;
    width: 1200px;
}
.page-liangpin-huanxin .fixed-banner .btn-liji-huanxin,
.page-liangpin-huanxin .fixed-banner .btn-liji-huanxin:hover{
    position: static;
    float: left;
    margin: 17px 0 0 30px;
    display: block;
    width: 319px;
    height: 58px;
    line-height: 58px;
}
.page-liangpin-huanxin .fixed-banner .huanxin-price{
    float: left;
    margin-left: 40px;
    color: #fff;
    font-size: 24px;
    height: 94px;
    line-height: 94px;
}
.page-liangpin-huanxin .fixed-banner .huanxin-price span{
    font-size: 16px;
}
.page-liangpin-huanxin .fixed-banner .huanxin-price .price{
    font-size: 32px;
    color: #FFD800;
}
.page-liangpin-huanxin .fixed-banner .huanxin-price .price em{
    font-size: 14px;
}
.page-liangpin-huanxin .fixed-banner .bao2-desc{
    margin-right: 40px;
    float: right;
    width: 323px;
    height: 94px;
    background: url(https://p.ssl.qhimg.com/t01d1f5b949da4694ac.jpg) no-repeat center;
}
.page-liangpin-huanxin .fixed-banner2{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 94px;
    background: #fff url(https://p.ssl.qhimg.com/t01129021fcd9fad626.jpg) no-repeat center -589px;
    border-bottom: 1px solid #F0F0F0;
}
.page-liangpin-huanxin .fixed-banner2-inner{
    margin: 0 auto;
    width: 1200px;
    background: #fff url(https://p.ssl.qhimg.com/t01129021fcd9fad626.jpg) no-repeat center -589px;
}

.page-liangpin-huanxin .top-banner{
    margin-bottom: 20px;
    height: 693px;
    background: #5830DA url(https://p.ssl.qhimg.com/t01129021fcd9fad626.jpg) no-repeat center;
    border-bottom: 1px solid #F0F0F0;
}
.page-liangpin-huanxin .top-banner-inner{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 693px;
    background: #5830DA url(https://p.ssl.qhimg.com/t01129021fcd9fad626.jpg) no-repeat center;
}
.page-liangpin-huanxin .btn-liji-huanxin,
.page-liangpin-huanxin .btn-liji-huanxin:hover{
    position: absolute;
    top: 410px;
    left: 473px;
    display: block;
    width: 219px;
    height: 57px;
    line-height: 57px;
    background: #FFD800;
    border: 1px solid #470453;
    text-align: center;
    font-size: 32px;
    color: #470453;
    text-decoration: none;
}
.page-liangpin-huanxin .top-banner-inner .yidikou-list{
    position: absolute;
    top: 518px;
    left: 454px;
    width: 320px;
    height: 28px;
    line-height: 28px;
    color: #666;
    overflow: hidden;
}
.page-liangpin-huanxin .top-banner-inner .yidikou-list-inner{
    position: absolute;
}
.page-liangpin-huanxin .top-banner-inner .yidikou-list2{
    left: 800px;
}
.page-liangpin-huanxin .jia-qian-huan{
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    background: #fff;
}
.page-liangpin-huanxin .jia-qian-huan .tit{
    padding: 0 0 0 20px;
    line-height: 3;
    font-size: 24px;
    color: #28012F;
}
.page-liangpin-huanxin .jia-qian-huan .list{
    padding-left: 10px;
}
.page-liangpin-huanxin .jia-qian-huan .list li{
    margin: 0 7px 20px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    cursor: pointer;
}
.page-liangpin-huanxin .jia-qian-huan .list .l-tit{
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    color: #202020;
}
.page-liangpin-huanxin .jia-qian-huan .list .for-price{
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #999;
}
.page-liangpin-huanxin .jia-qian-huan .list .btn-huan,
.page-liangpin-huanxin .jia-qian-huan .list .btn-huan:hover{
    margin: 10px auto;
    display: block;
    width: 198px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #D0D0D0;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}
.page-liangpin-huanxin .jia-qian-huan .list .btn-huan:hover{
    background: rgba(0, 0, 0, 0.03);
}
.page-liangpin-huanxin .jia-qian-huan .list .btn-huan span{
    margin-right: 4px;
    color: #FF3300;
    font-size: 16px;
}
.page-liangpin-huanxin .bao-desc{
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    background: #fff;
}

.page-liangpin-huanxin .iphone6-desc{
    position: relative;
    margin-bottom: 20px;
    width: 1198px;
    height: 635px;
    border: 1px solid #E5E5E5;
    background: #fff;
}
.page-liangpin-huanxin .iphone6-desc .slide-go-left,
.page-liangpin-huanxin .iphone6-desc .slide-go-right{
    position: absolute;
    top: 45%;
    z-index: 9998;
    width: 40px;
    height: 170px;
    line-height: 170px;
    font-size: 28px;
    color: #ccc;
    text-align: center;
    font-family: "宋体";
    cursor: pointer;
    background: #fafafa;
}
.page-liangpin-huanxin .iphone6-desc .slide-go-left:hover,
.page-liangpin-huanxin .iphone6-desc .slide-go-right:hover{
    background: #f2f2f2;
}
.page-liangpin-huanxin .iphone6-desc .slide-go-left{
    left: 0;
}
.page-liangpin-huanxin .iphone6-desc .slide-go-right{
    right: 0;
}
.page-liangpin-huanxin .iphone6-desc .slide-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 1198px;
    height: 635px;
    overflow: hidden;
}
.page-liangpin-huanxin .iphone6-desc .slide-item{
    /*width: 266px;*/
    /*height: 170px;*/
    float: left;
}

.page-liangpin-huanxin .go-to-get-huanxin{
    float: right;
    margin-right: 10px;
    font-size: 14px;
}
