a:hover {
    text-decoration: none;
}

/***** page *****/
.page-hd-celebrate {
    background-color: #8023a8;
    min-width: 1200px;
}

.page-hd-celebrate .block-tit{
    height: 190px;
    /*background: url(https://p0.ssl.qhmsg.com/t01ff5de11838b06d1c.png) no-repeat center 0px;*/
    background:  no-repeat center 0;
    /*text-indent: -99999px;*/
}
.page-hd-celebrate .block-tit .tit-cont{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 20px #0943fb;
    line-height: 118px;
    text-indent: -33px;
}

.page-hd-celebrate .block-top {

}
.page-hd-celebrate .block-top,
.page-hd-celebrate .block-top .block-inner {
    height: 424px;
    background: url(https://p2.ssl.qhmsg.com/t01124cf10eeb1c0ed3.jpg) no-repeat center;
}

.page-hd-celebrate .block-sub,
.page-hd-celebrate .block-sub .block-inner {
    height: 337px;
    background: url(https://p1.ssl.qhmsg.com/t015996ef7bc51cc2e8.jpg) no-repeat center;
}

.page-hd-celebrate .block-iPhone7,
.page-hd-celebrate .block-iPhone7 .block-inner {
    height: 685px;
    background: url(https://p0.ssl.qhmsg.com/t01eb748804f6b35499.jpg) no-repeat center;
}
.page-hd-celebrate .block-iPhone7 .col-2-1{
    height: 300px;
    margin-top: 383px;
}

.page-hd-celebrate .block-price-range{
    margin-top: 20px;
}
.page-hd-celebrate .block-price-range .tab-item{
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #712097;
    padding: 8px 0;
}
.page-hd-celebrate .block-price-range .tab-item.cur{
    background: #9730c6;
}

.page-hd-celebrate .block-price-range .more{
    display: block;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

    /*活动商品列表样式*/
.page-hd-celebrate .ui-sp-product-list-1{
    min-height: 350px;
}
/*四个一排*/
.page-hd-celebrate .ui-sp-product-list-1 .p-item{
    /*margin: 5px;*/
    width: 298px;
    height: 350px;
}
.page-hd-celebrate .ui-sp-product-list-1 .p-item .p-tit{
    font-size: 14px;
}
.page-hd-celebrate .ui-sp-product-list-1 .p-item .p-pic{
    height: 150px;
    padding-top: 50px;
}
.page-hd-celebrate .ui-sp-product-list-1 .p-item .p-pic img {
    height: 115px;
}
.page-hd-celebrate .ui-sp-product-list-1 .p-item .p-desc{
    -webkit-line-clamp: 2;
    padding: 0 15px;
}

.page-hd-celebrate .ui-sp-product-list-1 .p-item .p-sold-out{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
}
.page-hd-celebrate .block-price-range .list-tit{
    text-align: center;
    font-size: 30px;
    color: #581d00;
}
/*活动商品列表样式 end*/

/*页码*/
.page-hd-celebrate .pagination {
    padding:15px 0 20px;
}
.page-hd-celebrate .pagination a {
    font-size: 16px;
    border: 1px solid #581d00;
    color: #581d00;
}
.page-hd-celebrate .pagination span {
    font-size: 18px;
    color: #fff;
    background: #581d00;
    border-radius: 3px;
}
.pagination a:hover, .inner-pagination a:hover{
    color: #fff;
    background: #581d00;
}
/*页码 end*/

/*服务介绍*/
.page-hd-celebrate .block-service-intro,
.page-hd-celebrate .block-service-intro .block-inner {
    background: url(https://p1.ssl.qhmsg.com/t0100255eada33dda79.jpg) no-repeat center;
}

.page-hd-celebrate .block-service-intro .block-inner {
    height: 265px;
    margin: 20px auto 0;
}

/*二维码扫一扫*/
.page-hd-celebrate .block-qrcode-info,
.page-hd-celebrate .block-qrcode-info .block-inner {
    background: url(https://p3.ssl.qhmsg.com/t01f5bab3c013a4c4aa.jpg) no-repeat center 0;
}

.page-hd-celebrate .block-qrcode-info .block-inner {
    height: 265px;
    margin: 0 auto 30px;
}

/*合作伙伴*/
.page-hd-celebrate .block-partner,
.page-hd-celebrate .block-partner .block-inner {
    background: url(https://p2.ssl.qhmsg.com/t017faae02f2c797b97.jpg) no-repeat center 0;
}

.page-hd-celebrate .block-partner .block-inner {
    height: 470px;
    margin: 0 auto 60px;
}
