.w100 {
    width: 100%;
}

.relative {
    position: relative;
}

.block-inner {
    margin: 0 auto;
    width: 1200px;
}

a:hover {
    text-decoration: none;
}

/***** page *****/
.page-hd-newterm-1709 {
    background-color: #fde9c8;
    min-width: 1200px;
}

.page-hd-newterm-1709 .block-apple,
.page-hd-newterm-1709 .block-apple .block-inner{
    background: url(https://p3.ssl.qhmsg.com/t01d389772ad6156c6b.jpg) no-repeat center 0px;
}
.page-hd-newterm-1709 .block-tit{
    height: 95px;
    /*background: url(https://p0.ssl.qhmsg.com/t01ff5de11838b06d1c.png) no-repeat center 0px;*/
    background:  no-repeat center 0;
    /*text-indent: -99999px;*/
}
.page-hd-newterm-1709 .block-tit .tit-cont{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 20px #0943fb;
    line-height: 118px;
    text-indent: -33px;
}
.page-hd-newterm-1709 .block-apple .block-tit{
    height: 219px;
}
.page-hd-newterm-1709 .block-letv .block-tit{
    height: 166px;
    margin: 30px 0 0;
}
.page-hd-newterm-1709 .block-ipad .block-tit{
    margin: 30px 0 20px;
}
.page-hd-newterm-1709 .block-price-range .block-tit{
    background-image: url("https://p0.ssl.qhmsg.com/t01d790bff2de3e1fbf.jpg");
    margin: 30px 0 10px;
}

.page-hd-newterm-1709 .block-top {

}
.page-hd-newterm-1709 .block-top,
.page-hd-newterm-1709 .block-top .block-inner {
    height: 589px;
    background: url(https://p4.ssl.qhmsg.com/t013560960082c34df0.jpg) no-repeat center;
}

.page-hd-newterm-1709 .block-sub,
.page-hd-newterm-1709 .block-sub .block-inner {
    height: 330px;
    background: url(https://p2.ssl.qhmsg.com/t01ddbd97e8b933bded.jpg) no-repeat center;
}

/*活动商品列表样式*/
.page-hd-newterm-1709 .ui-sp-product-list-1{
    min-height: 350px;
}
/*四个一排*/
.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item{
    /*margin: 5px;*/
    width: 298px;
    height: 350px;
}
.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item .p-tit{
    font-size: 14px;
}
.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item .p-pic{
    height: 150px;
    padding-top: 50px;
}
.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item .p-pic img {
    height: 115px;
}
.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item .p-desc{
    -webkit-line-clamp: 2;
    padding: 0 15px;
}

.page-hd-newterm-1709 .ui-sp-product-list-1 .p-item .p-sold-out{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
}
.page-hd-newterm-1709 .block-price-range .list-tit{
    text-align: center;
    font-size: 30px;
    color: #581d00;
}
/*活动商品列表样式 end*/

/*页码*/
.page-hd-newterm-1709 .pagination {
    padding:15px 0 20px;
}
.page-hd-newterm-1709 .pagination a {
    font-size: 16px;
    border: 1px solid #581d00;
    color: #581d00;
}
.page-hd-newterm-1709 .pagination span {
    font-size: 18px;
    color: #fff;
    background: #581d00;
    border-radius: 3px;
}
.pagination a:hover, .inner-pagination a:hover{
    color: #fff;
    background: #581d00;
}
/*页码 end*/

/*服务介绍*/
.page-hd-newterm-1709 .block-service-intro,
.page-hd-newterm-1709 .block-service-intro .block-inner {
    background: url(https://p2.ssl.qhmsg.com/t01bd4304161e7df662.jpg) no-repeat center;
}

.page-hd-newterm-1709 .block-service-intro .block-inner {
    height: 265px;
    margin: 20px auto;
}

/*二维码扫一扫*/
.page-hd-newterm-1709 .block-qrcode-info,
.page-hd-newterm-1709 .block-qrcode-info .block-inner {
    background: url(https://p0.ssl.qhmsg.com/t01d4ea89487f39e0f8.jpg) no-repeat center 0;
}

.page-hd-newterm-1709 .block-qrcode-info .block-inner {
    height: 265px;
    margin: 0 auto 30px;
}

/*合作伙伴*/
.page-hd-newterm-1709 .block-partner,
.page-hd-newterm-1709 .block-partner .block-inner {
    background: url(https://p0.ssl.qhmsg.com/t010f01091665c98ba9.jpg) no-repeat center 0;
}

.page-hd-newterm-1709 .block-partner .block-inner {
    height: 470px;
    margin: 0 auto 60px;
}
