/* START 公共样式 */
.page-xxg-order-detail.page-xxg-order-detail-sf-fix {
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .gutter-line {
    margin: 0 -.12rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .c999 {
    color: #999;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bg-dark {
    background-color: #f5f5f5;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .marked {
    /*color: #fe5800;*/
    color: #f84;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .marked-second {
    color: #16a654;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .text-right {
    text-align: right;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .text-center {
    text-align: center;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .underline {
    text-decoration: underline;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .mainbody-inner {
    margin-bottom: .94rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog {
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .dialog-content {
    margin: auto;
    padding: .2rem 0 0 0;
    max-width: 1080px;
    font-size: .14rem;
    color: #000;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .alert-title {
    font-size: .14rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-alert .ui-btn {
    width: 100%;
    font-size: .14rem;
    background-color: #fff;
    color: #16a654;
    box-shadow: none;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-alert .ui-btn.ui-btn-disabled {
    color: #ccc;
    opacity: .8;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-confirm .ui-btn {
    width: 50%;
    font-size: .14rem;
    background-color: #fff;
    box-shadow: none;
}
.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-confirm .ui-btn:first-child {
    margin-right: 0;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-confirm .ui-btn.ui-btn-succ {
    color: #16a654;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .bang-ui-dialog .btn-box-confirm .ui-btn.ui-btn-succ.ui-btn-disabled {
    color: #ccc;
    opacity: .8;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix {
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .dialog-wrap.dialog-wrap-from-bottom {
    padding: .1rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .dialog-wrap .btn {
    background-color: #16a654;
    color: #fff;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .dialog-wrap .dialog-close,
.page-xxg-order-detail.page-xxg-order-detail-sf-fix .dialog-wrap .dialog-close:hover {
    position: absolute;
    top: 0.08rem;
    right: 0.08rem;
    z-index: 9999;
    width: .24rem;
    height: .24rem;
    line-height: .24rem;
    font-size: .18rem;
    text-align: center;
    cursor: pointer;
    background: none;
    text-decoration: none;
    color: #999;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .dialog-wrap .dialog-close:before {
    /*content: "\e67a";*/
    content: "\e603";
}

/* 按钮 */
.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn {
    padding: 0 .1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: .22rem;
    font-size: 0.11rem;
    border-radius: 0;
    border: thin solid #e1e1e1;
    color: #000;
    background: #fff;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn:hover,
.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn:active {
    text-decoration: none;
    opacity: .8;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-bigger {
    height: .42rem;
    font-size: 0.15rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-big {
    height: .32rem;
    font-size: 0.13rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-mini {
    height: .18rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-radius {
    border-radius: .08rem;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-circle {
    border-radius: 9999px;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-none-border {
    border: 0;
}

.page-xxg-order-detail.page-xxg-order-detail-sf-fix .btn.btn-gradient {
    border: 0;
    background: linear-gradient(to left, #ff5200, #ff8900);
    color: #fff;
}

/* 按钮 END */

/* END 公共样式 */


.page-xxg-order-detail .block-order-sf-fix-order {
    overflow: hidden;
    line-height: .3rem;
    /*color: #666;*/
    color: #232323;
}

.page-xxg-order-detail .block-order-sf-fix-order .block-title {
    margin: 0 -.12rem;
    padding: 0 .12rem;
    height: .38rem;
    line-height: .38rem;
    color: #232323;
}

.page-xxg-order-detail .block-order-sf-fix-order .block-title .auto {
    color: #232323;
}

/* START 订单状态 */
.page-xxg-order-detail .block-order-sf-fix-order-status {
    padding: 0 .12rem .12rem;
    overflow: hidden;
    background-color: #fff;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .tips-text {
    padding: .34rem 0;
    text-align: center;
    font-size: .2rem;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info {
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info .input-radius {
    background-color: #f3f3f3;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info .input-radius input {
    background-color: transparent;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info .input-radius:after {
    display: none;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info .input-radius .iconfont {
    width: .3rem;
    text-align: center;
    color: #666;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info .btn-edit-express-confirm {
    margin-left: .06rem;
    width: 0.95rem;
    height: 100%;
    background-color: #16a654;
    color: #fff;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info-detail {
    position: relative;
    padding: .08rem .12rem;
    line-height: 1.68;
    border-radius: 0.08rem;
    background: #f2f2f2;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .shipping-info-detail .btn-copy {
    position: absolute;
    top: .1rem;
    right: .1rem;
    /*padding: .04rem;*/
    /*line-height: 1;*/
    /*font-size: 0.11rem;*/
    /*border-radius: 0.02rem;*/
    /*background: #fff;*/
    /*color: #333;*/
}

.page-xxg-order-detail .block-order-sf-fix-order-status .icon-dizhi,
.page-xxg-order-detail .block-order-sf-fix-order-status .icon-time-hint {
    margin: 0 .1rem 0 0;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .address-info-name {
    font-size: 0.13rem;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .address-info-name-name {
    margin-right: .1rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-status .address-info-address {
    line-height: 1.6;
    color: #999;
}

/* END 订单状态 */


/* START 物品信息 */
.page-xxg-order-detail .block-order-sf-fix-order-product {
    padding: 0 .12rem;
    overflow: hidden;
    background-color: #fff;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-thumb {
    margin: .17rem .1rem .13rem 0;
    width: 0.7rem;
    height: 0.7rem;
    background: #f5f5f5 no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-label {
    margin: 0 auto;
    display: block;
    width: 0.53rem;
    height: 0.2rem;
    background: transparent no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-label.product-label-old {
    background-image: url(https://p3.ssl.qhmsg.com/t01c545abd2bb30047a.png);
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-label.product-label-new {
    background-image: url(https://p0.ssl.qhmsg.com/t01ea4861b85cee464b.png);
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-name {
    padding-top: .17rem;
    line-height: 1.68;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-status {
    padding-left: .06rem;
    font-size: .11rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-price {
    align-items: flex-end;
    padding-bottom: .1rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .product-price-deal-done {
}

.page-xxg-order-detail .block-order-sf-fix-order-product .block-price-info {
    margin: 0 -.12rem;
    padding: .12rem;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-product .block-price-info .shrink {
    color: #999;
}

/* END 物品信息 */


/* START 旧机评估 */

.page-xxg-order-detail .block-order-sf-fix-order-deal {
    padding: 0 .12rem .06rem;
    overflow: hidden;
    background-color: #fff;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .assess-diff {
    color: #f55456 !important;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .assess-same {
    color: #17a654 !important;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail {
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .assess-item {
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .assess-item-title {
    width: .83rem;
    color: #333;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .assess-item-text {
    color: #000;
    font-weight: 500;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .assess-item .assess-item-info {
    font-size: .1rem;
    line-height: 2;
    color: #999;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .btn {
    margin: .1rem auto;
    display: flex;
    width: 1.17rem;
    color: #666;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .btn span {
    padding-right: .2rem;
    display: block;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-assess-detail .assess-item-same-tip .iconfont {
    margin-left: .02rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-title .assess-info .iconfont {
    margin-left: .02rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-order-base-info-extend {
    display: none;
    color: inherit;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .block-order-base-info-extend > .grid,
.page-xxg-order-detail .block-order-sf-fix-order-deal > .grid {
    padding-bottom: 1px;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .input-none-border input {
    background-color: transparent;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-show-assess-options,
.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-show-assess-sku {
    height: .36rem;
    line-height: .36rem;
    color: #000;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-show-assess-options .iconfont,
.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-show-assess-sku .iconfont {
    font-size: .12rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-scan-qrcode {
    margin: .14rem 0;
    width: 100%;
    border-color: #16a654;
    color: #16a654;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .btn-scan-qrcode .iconfont {
    margin-right: .04rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .row-order-deal-price .input-none-border {
    min-width: .6rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .row-order-deal-price .price-structure-add-price {
    min-width: .8rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .row-order-deal-price .col-update-deal-price {
    width: .8rem;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .trigger-expand-n-collapse {
    /*margin-top: .1rem;*/
    display: block;
    width: 100%;
    /*height: .28rem;*/
    color: #999;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .trigger-expand-n-collapse:hover {
    text-decoration: none;
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .trigger-expand-n-collapse:active {
    background-color: rgba(204, 204, 204, 0.10);
}

.page-xxg-order-detail .block-order-sf-fix-order-deal .trigger-expand-n-collapse:after {
    right: 50%;
}

/* END 旧机评估 */


/* START 订单信息 */

.page-xxg-order-detail .block-order-sf-fix-order-info {
    padding: 0 .12rem .06rem;
    overflow: hidden;
    background-color: #fff;
    color: #000;
}

/*.page-xxg-order-detail .block-order-sf-fix-order-info .grid .auto {*/
/*color: #999;*/
/*}*/

/* END 订单信息 */

/* START 按钮行 */
.page-xxg-order-detail .block-order-bottom-btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
    overflow: hidden;
    background-color: #fff;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn {
    padding: .1rem;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn .btn {
    display: block;
    height: .4rem;
    line-height: .4rem;
    border-radius: 0.08rem;
    font-size: .14rem;
    color: #fff;
    background-color: #f84;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn .btn.btn-go-next {
    background-color: #16a654;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn .btn.btn-disabled {
    background-color: #ddd;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn .btn.btn-cancel {
    background-color: #999;
}

.page-xxg-order-detail .block-order-bottom-btn .row-btn .btn.btn-old-deal-cancel {
    background: #f5f5f5;
    border: thin solid #dadada;
    color: #000;
}

/* END 按钮行 */

/* START 直接购买新机 */
.page-xxg-order-detail .sf-fix-order-full-pay {
    overflow: hidden;
}

.page-xxg-order-detail .sf-fix-order-full-pay .title {
    line-height: 3;
    font-size: 0.17rem;
}

.page-xxg-order-detail .sf-fix-order-full-pay .product-thumb {
    margin: .17rem .1rem .13rem 0;
    width: 0.7rem;
    height: 0.7rem;
    background: #f5f5f5 no-repeat center;
    background-size: contain;
}

.page-xxg-order-detail .sf-fix-order-full-pay .product-name {
    padding-top: .17rem;
    line-height: 1.68;
    color: #000;
}

.page-xxg-order-detail .sf-fix-order-full-pay .product-price {
    align-items: flex-end;
    padding-bottom: .1rem;
}

.page-xxg-order-detail .sf-fix-order-full-pay .block-price-info {
    margin: 0 -.12rem;
    padding: .12rem;
    color: #000;
}

.page-xxg-order-detail .sf-fix-order-full-pay .block-price-info .shrink {
    color: #999;
}

.page-xxg-order-detail .sf-fix-order-full-pay .block-full-pay-bottom {
    margin-top: .2rem;
}

/* END 直接购买新机 */

/* START 督导信息弹窗 */
.page-xxg-order-detail .business-sf-fix-dialog-city-manager {
    text-align: center;
}

.page-xxg-order-detail .business-sf-fix-dialog-city-manager .title {
    font-size: 0.14rem;
    font-weight: bold;
}

.page-xxg-order-detail .business-sf-fix-dialog-city-manager .name {
    padding-top: 0.2rem;
    font-size: 0.14rem;
}

.page-xxg-order-detail .business-sf-fix-dialog-city-manager .mobile {
    font-size: 0.12rem;
    color: #999;
}

.page-xxg-order-detail .dialog-wrap .business-sf-fix-dialog-city-manager .btn {
    display: flex;
    width: 60%;
    margin: 0.15rem auto 0;
}

.page-xxg-order-detail .dialog-wrap .business-sf-fix-dialog-city-manager .btn-cancel {
    color: #16a654;
}

/* END 督导信息弹窗 */


