a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

.inpt {
    width: 100%;
    height: .34rem;
    padding: 0 .08rem;
    line-height: normal;
    font-size: .12rem;
    font-family: inherit;
    border: 0;
    color: #999;
}

.page-hd-suning-vivo-x20 {
    background-color: #fff;
}

.page-hd-suning-vivo-x20 .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-suning-vivo-x20 .block {
    position: relative;
    padding: 0;
    height: 1.6rem;
    overflow: hidden;
    font-size: 0;
    background: #fff url(https://p.ssl.qhimg.com/t01a30049177795fcc3.jpg) no-repeat center 0;
    background-size: contain;
}

.page-hd-suning-vivo-x20 .block2 {
    height: 1.791111111111111rem;
}
.page-hd-suning-vivo-x20 .block3{
    height: 1.9422222222222223rem;
    margin-top: .32rem;
}

.page-hd-suning-vivo-x20 .trigger-btn-apply {
    position: absolute;
    top: 1.18rem;
    left: .85rem;
    width: 1.5rem;
    height: .34rem;
    background-color: transparent;
    color: #fff;
    text-indent: -999px;
}

.page-hd-suning-vivo-x20 .dialog-mask {
    z-index: 19997;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel {
    z-index: 19999;
    border: 0;
    background: #fff;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .dialog-inner {
    padding: 0;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .panel-head {
    color: #444;
    font-size: .2rem;
    text-align: center;
    padding: .15rem 0 .1rem;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .panel-body {
    padding: .06rem .16rem .5rem;
    border: 0;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .row {
    margin-bottom: .08rem;
    border-bottom:1px solid #ededed;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .col-left-fixed {
    width: 30%;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .col-left-fixed span {
    display: block;
    /*width: 90%;*/
    height: .34rem;
    line-height: .34rem;
    color: #999;
    padding: 0 .08rem;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .col-right {
    margin-left: 30%;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .vcode-img {
    margin: 0 0 5% 9%;
    display: block;
    width: 85%;
    height: .34rem;
    border: 0;
    border-radius: .02rem;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .btn-get-secode {
    margin: 0 0 5% 9%;
    display: block;
    width: 85%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    font-size: .12rem;
    border: 1px solid #f1b762;
    background: #fff;
    color: #f1b762;
    border-radius: .02rem;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .btn-get-secode.btn-get-secode-disabled {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .btn-submit {
    display: block;
    width: 60%;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    font-size: .16rem;
    background: #f1ba65;
    color: #790b0a;
    border-radius: .04rem;
    border: 0;
    margin: 0 auto;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .trigger-select-province-city-area,
.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .trigger-select-province-city-area:hover {
    display: block;
    padding: 0 .08rem;
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    font-size: .12rem;
    font-family: inherit;
    color: #999;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .trigger-select-province-city-area.default {
    color: #cbcbcb;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .trigger-select-province-city-area.arrow-down:after {
    /*border-top-color: #649bbf;*/
    /*border-right-color: #649bbf;*/
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .row-recycle-mobile .inpt {
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 82%;
    vertical-align: top;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-hd-suning-vivo-x20 .suning-vivo-x20-apply-panel .form-disabled .btn-submit {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}


/*省/市/区县选择*/
.shipping-address-select-block {
    position: fixed;
    left: 0px;
    top: 100%;
    z-index: 9999;
    width: 100%;
    background: #f8f8f8;
    box-shadow: 0 0px 1px #ccc;
}

.shipping-address-select-block .dt-table {
    margin: 0 auto;
    display: table;
    width: 100%;
    max-width: 720px;
}

.shipping-address-select-block .dt-table .col {
    float: left;
    display: table-cell;
}

.shipping-address-select-block .dt-table-3-col .col {
    width: 33.33333333333333333%;
}

.shipping-address-select-block .dt-table-2-col .col {
    width: 50%;
}

.shipping-address-select-block .dt-table-1-col .col {
    width: 100%;
}

/*.shipping-address-select-block .col-3-1 {*/
/*width : 33.33333333333333333%;*/
/*}*/

.shipping-address-select-block .i-item {
    display: block;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    margin: 0 5%;
    font-size: .12rem;
    height: .4rem;
    line-height: .4rem;
    color: #666;
}

.shipping-address-select-block .i-item.selected {
    color: #00ae5d;
    font-weight: bold;
    font-size: .13rem;
}

.shipping-address-select-block .item-select {
    height: 1.2rem;
    overflow: hidden;
    position: relative;
}

.shipping-address-select-block .item-window {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAEsCAYAAAD+RfIfAAAAf0lEQVRo3u2XQQ6AIAwEUfj/jxF5gZ6sHRgSbpPZpoc2bWO+8vDa/AHARYhAGDJECIQBfY8augaOwSLtg612gKxtcDULBAOI6wBhyBDxChQBAQEBAQEBFHB8D5yECIQhQ4RAGFD3qKFq4Bgs0lbbBwfI2gZXs0AwgLgOEIa/I27P0oCs/+NGNQAAAABJRU5ErkJggg==") repeat-x 0 center;
    background-size: auto 100%;
    z-index: 10;
}

.shipping-address-select-block .item-list {
    margin: .4rem 0;
}

.shipping-address-select-block .i-w-line {
    display: block;
    height: 33%;
    margin: 0 .08rem;
    /*border-bottom : 1px solid #d0d0d0;*/
    border-bottom: 1px solid rgba(208, 208, 208, 0.3);
}

.shipping-address-select-block .ctrl-box {
    margin: 0 auto;
    max-width: 720px;
    border-top: 1px solid rgba(208, 208, 208, 0.3);
    background: #fff
}

.shipping-address-select-block .ctrl-item {
    display: inline-block;
    width: 50%;
    line-height: .4rem;
    font-size: .12rem;
    text-align: center;
    color: #778c82;
}

.shipping-address-select-block .ctrl-item:active {
    background-color: #f8f8f8;
}

.shipping-address-select-block .ctrl-item:first-child {
    box-shadow: -1px 0 0 rgba(208, 208, 208, 0.3) inset;
}