.w100 {
    width: 100%;
}

.relative {
    position: relative;
}

.block-inner {
    margin: 0 auto;
    width: 1200px;
}

a:hover {
    text-decoration: none;
}
/* 旋转 */
@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.page-hd-520 {
    background: #f5f5f5;
}

.page-hd-520 .mainbody {
    padding-bottom: 60px;
}

.page-hd-520 .block1,
.page-hd-520 .block1 .block-inner {
    height: 450px;
    background: #ffb2bc url(https://p.ssl.qhimg.com/t014c3eae9f08f5a410.jpg) no-repeat center 0;
}

.page-hd-520 .block2,
.page-hd-520 .block2 .block-inner {
    height: 387px;
    background: #ffa0a8 url(https://p.ssl.qhimg.com/t01c8c41457230b7328.jpg) no-repeat center 0;
}
.page-hd-520 .block2 .block-inner{
    position: relative;
}

.page-hd-520 .block2 .pairing-list{
    position: absolute;
    top: 136px;
    left: 0;
    width: 1200px;
    height: 66px;
    overflow: hidden;
}
.page-hd-520 .block2 .pairing-list .pairing-list-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.page-hd-520 .block2 .pairing-list .i-pink{
    margin-left: 310px;
    margin-bottom: 6px;
    padding-left: 38px;
    height: 30px;
    line-height: 30px;
    color: #fd6389;
    font-size: 26px;
    background: url(https://p.ssl.qhimg.com/t014e5ce6d07f44ccbc.jpg) no-repeat 0 0;
}
.page-hd-520 .block2 .pairing-list .i-blue{
    margin-left: 310px;
    padding-left: 38px;
    height: 30px;
    line-height: 30px;
    color: #50bbeb;
    font-size: 26px;
    background: url(https://p.ssl.qhimg.com/t014e5ce6d07f44ccbc.jpg) no-repeat 0 -40px;
}

.page-hd-520 .block3,
.page-hd-520 .block3 .block-inner {
    position: relative;
}

.page-hd-520 .block3 .hd-product-list {
    margin-top: -40px;
    font-size: 0;
}

.page-hd-520 .block3 .hd-product-list .item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 25%;
}

.page-hd-520 .block3 .hd-product-list .item a,
.page-hd-520 .block3 .hd-product-list .item a:hover {
    padding-top: 40px;
    padding-bottom: 20px;
    display: block;
    border-right: 1px solid #f0eff4;
    border-bottom: 1px solid #f0eff4;
    color: #333;
    text-align: center;
    background: #fff;
    font-size: 18px;
    text-decoration: none;
}

.page-hd-520 .block3 .hd-product-list .item.item-right a {
    border-right: 0;
}

.page-hd-520 .block3 .hd-product-list .p-figure {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.page-hd-520 .block3 .hd-product-list .p-figure img {
    width: 100%;
}

.page-hd-520 .block3 .hd-product-list .p-name {
    padding: 10px 0 0 0;
}

.page-hd-520 .block3 .hd-product-list .p-price-orig {
    font-size: 14px;
    color: #999;
}

.page-hd-520 .block3 .hd-product-list .p-price-promo {
    color: #f30;
    font-size: 28px;
}

.page-hd-520 .block3 .hd-product-list .p-price-promo .tit {
    font-size: 22px;
}
.page-hd-520 .block3 .hd-product-list .p-price-promo .symbol {
    font-size: 16px;
}

.page-hd-520 .block3 .hd-product-list .p-desc{
    color: #ff3300;
}
.page-hd-520 .block3 .hd-product-list .p-btn{
    margin: 10px auto 0 auto;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: #ff3300;
    color: #fff;
    border-radius: 6px;
}

.page-hd-520 .block4 {
    margin: 20px 0;
}

.page-hd-520 .block4 .block-inner {
    height: 240px;
    background: url(https://p.ssl.qhimg.com/t01235d9be1f76bcd63.jpg) no-repeat center 0;
}

.page-hd-520 .block4 .trigger-show-video,
.page-hd-520 .block4 .trigger-show-video:hover{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/*服务介绍*/
.page-hd-520 .block-service-intro,
.page-hd-520 .block-service-intro .block-inner {
    height: 266px;
    background: url(https://p.ssl.qhimg.com/t01d71bc623087b2071.jpg) no-repeat center 0;
    margin-top: 20px;
}

/*视频弹窗*/
.video-player-panel{
    border: 0;
}
.video-player-panel .dialog-inner{
    padding: 0;
    width: 800px;
    height: 460px;
    font-size: 0;
}
.video-player-panel .dialog-inner video,
.video-player-panel .dialog-inner object,
.video-player-panel .dialog-inner embed{
    width: 100%;
    height: 100%;
}


.pairing-panel{
    border: 0;
    background-color: transparent;
    color: #333333;
}
.pairing-panel .dialog-inner{
    padding: 0;
    width: 646px;
    height: 606px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fafafa;
}
.pairing-panel .pairing-panel-cnt{
    position: relative;
    margin-top: 20px;
    padding: 49px;
    background: url(https://p.ssl.qhimg.com/t0111a6ba533f2f1dbf.jpg) no-repeat center 0;
    text-align: center;
}

.pairing-panel .countdown-animation{
    margin: 0 auto;
    display: block;
    width: 379px;
    height: 379px;
    background: url(https://p.ssl.qhimg.com/t01a807cfe5ec763c60.jpg) no-repeat center 0;
    font-size: 40px;
    color: #87d2af;
    text-align: center;
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
    border-radius: 9999px;
}
.pairing-panel .countdown-of-second{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    font-size: 120px;
    color: #87d2af;
}
.pairing-panel .countdown-of-second span{
    font-size: 30px;
}
.pairing-panel .pairing-status{
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    font-size: 30px;
}
.pairing-panel .pairing-desc{
    margin-top: 30px;
    font-size: 36px;
}

.pairing-panel .pairing-success-panel-cnt{
    text-align: center;
}

.pairing-panel .pairing-success-panel-cnt .success-icon{
    margin: 40px auto 0 auto;
    width: 290px;
    height: 290px;
    background: url(https://p.ssl.qhimg.com/t01aea322fe7e7c35f6.jpg) no-repeat center 0;
}

.pairing-panel .pairing-success-panel-cnt .success-tips{
    font-size: 36px;
    line-height: 1.8;
}

.pairing-panel .pairing-success-panel-cnt .success-tips .tips-sub{
    font-size: 28px;
}

.pairing-panel .pairing-success-panel-cnt .btn-buy{
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    background-color: #87d2af;
    color: #fff;
    border-radius: 6px;
}

