.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    width: 1000px;
    margin: 0 auto;
    padding-top: 1px;
}
a:hover{
    text-decoration: none;
}

.page-hd-mothers-day {
    background:#f5f3f4;
}
.page-hd-mothers-day .topbar .in{
    width: 1000px;
}

.page-hd-mothers-day .block-tit{
    /*margin: 45px 0 10px;*/
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    background: url("https://p2.ssl.qhmsg.com/t014c0fbb96062f44e5.png") no-repeat center;
}
.page-hd-mothers-day .block-tit .tit-cont{
    font-weight: bold;
    font-size: 46px;
    color: #ff6a8a;
}
.page-hd-mothers-day .block2 .block-tit{
    /*background: url("https://p4.ssl.qhmsg.com/t014bff05dacbe405c2.jpg") no-repeat center;*/
}
.page-hd-mothers-day .block3 .block-tit{
    /*background: url("https://p3.ssl.qhmsg.com/t012cc6c521f6cc9fbd.jpg") no-repeat center;*/
}
.page-hd-mothers-day .block4 .block-tit{
    /*background: url("https://p0.ssl.qhmsg.com/t01a30a7d2c54d3f3be.jpg") no-repeat center;*/
}
.page-hd-mothers-day .block5 .block-tit{
    /*background: url("https://p2.ssl.qhmsg.com/t016355ab22171ce18a.jpg") no-repeat center;*/
}
.page-hd-mothers-day .block-tit .more{
    position: absolute;
    top: 35px;
    right: 0px;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    /*background: #79b01e;*/
    color: #ff5c81;
    /*box-shadow: 1px 2px 10px 1px #ff5a80;*/
    border:3px solid #ffcbd9;
    border-radius: 999px;
}
.page-hd-mothers-day .block1,
.page-hd-mothers-day .block1 .block-inner {
    height: 366px;
    /*background: #eae9ea url(https://p1.ssl.qhmsg.com/t01beb41c6973451d8d.jpg) no-repeat center 0;*/
    position: relative;

    background: #eae9ea;
    background: url(https://p1.ssl.qhmsg.com/t01beb41c6973451d8d.jpg) no-repeat center 0,-moz-linear-gradient(top,  #eae9ea 0%, #f5f3f4 100%);
    background: url(https://p1.ssl.qhmsg.com/t01beb41c6973451d8d.jpg) no-repeat center 0,-webkit-linear-gradient(top,  #eae9ea 0%,#f5f3f4 100%);
    background: url(https://p1.ssl.qhmsg.com/t01beb41c6973451d8d.jpg) no-repeat center 0,linear-gradient(to bottom,  #eae9ea 0%,#f5f3f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae9ea', endColorstr='#f5f3f4',GradientType=0 );
}
.page-hd-mothers-day .block1 .back{
    position: absolute;
    top: 12px;
    left: 40px;
    font-size: 16px;
    color: #ffe386;
    text-decoration: none;
}

.page-hd-mothers-day .block1 .trigger-play-video{
    position: absolute;
    top: 230px;
    left: 69px;
    width: 268px;
    height: 130px;
    background: url(https://p4.ssl.qhmsg.com/t01408ac04535dddd1f.jpg) no-repeat center 0;
    background-size: cover;
}

.page-hd-mothers-day .block-flash{
    background: #307eed;
}

.page-hd-mothers-day .block-flash .ui-sp-product-list-1{
    min-height: 332px;
}

.page-hd-mothers-day .block-flash .p-item{
    height: 320px;
}

.page-hd-mothers-day .block-sub,
.page-hd-mothers-day .block-sub .block-inner{
    height: 187px;
    background: url(https://p0.ssl.qhmsg.com/t0114ec643694a4b8be.jpg) no-repeat center;
}
/*4个一排商品列表样式*/
.page-hd-mothers-day .ui-sp-product-list-1{
    min-height: 600px;
}
.page-hd-mothers-day .ui-sp-product-list-1 .p-item{
    margin: 5px;
}
/*4个一排商品列表样式 end*/

/*母亲节商品列表样式*/
.page-hd-mothers-day .ui-sp-product-list-1 .p-item{
    border-color: #fff;
}
/*母亲节商品列表样式 end*/

/*母亲专用大屏手机*/
.page-hd-mothers-day .block-large-screen,
.page-hd-mothers-day .block-large-screen .block-inner {
    height: 376px;
    background:url(https://p2.ssl.qhmsg.com/t01307e0a4ffee1cb46.jpg) no-repeat center 0;
    position: relative;
}
.page-hd-mothers-day .large-screen-product-list{
    width: 900px;
    margin: 100px auto 0;
}
.page-hd-mothers-day .large-screen-product-list .item{
    float: left;
    text-align: center;
    width: 200px;
    margin: 0 50px;
}
.page-hd-mothers-day .large-screen-product-list .item a{
    display: block;
    height: 100%;
}
.page-hd-mothers-day .large-screen-product-list .p-pic{
    width: 140px;
    height: 164px;
    margin: 0 auto;
}
.page-hd-mothers-day .large-screen-product-list .p-pic img{
    height: 100%;
}
.page-hd-mothers-day .large-screen-product-list .p-tit{
    font-size: 16px;
    color: #333;
    padding-top: 8px;
}
.page-hd-mothers-day .large-screen-product-list .p-price{
    font-size: 16px;
    color: #ff3300;
}
.page-hd-mothers-day .large-screen-product-list .p-price-num{
    font-size: 26px;
}

/*回收引导*/
.page-hd-mothers-day .block-huishou-intro,
.page-hd-mothers-day .block-huishou-intro .block-inner{
    height: 169px;
    background: url(https://p1.ssl.qhmsg.com/t016e5b51f2c82be406.jpg) no-repeat center;
    position: relative;
    margin-top: 10px;
}
.page-hd-mothers-day .block-huishou-intro .cont-l{
    width: 300px;
    height: 90px;
    position: absolute;
    left: 40px;
    top:45px;
    color: #ffadc0;
    font-size: 28px;
}
.page-hd-mothers-day .block-huishou-intro .cont-l p{
    font-size: 42px;
    line-height: 1;
}
.page-hd-mothers-day .block-huishou-intro .btn-liji-huishou{
    width: 142px;
    height: 32px;
    position: absolute;
    left: 430px;
    top:103px;
}
.page-hd-mothers-day .block-huishou-intro .cont-r{
    width: 240px;
    height: 100%;
    position: absolute;
    right: 50px;
    top:45px;
    color: #fd6086;
    font-size: 14px;
}

/*品牌推荐*/
.page-hd-mothers-day .block-brand-recommend .block-tit{
    background: url("https://p0.ssl.qhmsg.com/t010459a8d5faa896a5.png") no-repeat center;
}
.page-hd-mothers-day .brand-recommend-list .brand-recommend-item,
.page-hd-mothers-day .brand-recommend-list .brand-recommend-item:hover {
    float: left;
    display: block;
    width: 300px;
    height: 200px;
    font-size: 0;
    background-image: url(https://p.ssl.qhimg.com/t01435371c07709bab1.jpg);
    text-decoration: none;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-meizu {
    background-position: 0 0;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-le {
    background-position: -300px 0;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-oppo {
    background-position: -600px 0;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-vivo {
    background-position: -900px 0;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-huawei {
    background-position: 0 -200px;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-mi {
    background-position: -300px -200px;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-samsung {
    background-position: -600px -200px;
}

.page-hd-mothers-day .brand-recommend-list .brand-recommend-item-apple {
    background-position: -900px -200px;
}

/*服务介绍*/
.page-hd-mothers-day .block-service-intro,
.page-hd-mothers-day .block-service-intro .block-inner {
    height: 266px;
    background:url(https://p3.ssl.qhmsg.com/t01be8d7c72c48b2a71.jpg) no-repeat center 0;
    margin-top: 20px;
}
/*二维码扫一扫*/
.page-hd-mothers-day .block-qrcode-info,
.page-hd-mothers-day .block-qrcode-info .block-inner {
    height: 266px;
    background:url(https://p1.ssl.qhmsg.com/t0166e835eb428aae1e.jpg) no-repeat center 0;
    margin: 20px auto 10px;
}
/*活动说明*/
.page-hd-mothers-day .block-desc{
    color: #fd6086;
    margin-bottom: 80px;
}
.page-hd-mothers-day .block-desc .block-desc-cont{
    color: #fd6086;
    padding: 15px 0 0;
}
.page-hd-mothers-day .block-desc .block-desc-cont h3{
    font-weight: bold;
    font-size: 22px;
}
.page-hd-mothers-day .block-desc .block-desc-cont p{
    font-size: 16px;
}

.page-hd-mothers-day .surprise-qrcode{
    position: absolute;
    right: 62px;
    top: 200px;
    width: 131px;
    height: 132px;
    background: url(https://p0.ssl.qhmsg.com/t01c56e547603c645d2.png) no-repeat center;
}

/*视频播放弹窗*/
.video-player-panel.dialog-wrap .dialog-inner{
    padding: 0;
    width: 800px;
    height: 448px;
    font-size: 0;
}

.video-player-panel.dialog-wrap .dialog-inner video,
.video-player-panel.dialog-wrap .dialog-inner object,
.video-player-panel.dialog-wrap .dialog-inner embed{
    width: 100%;
    height: 100%;
}

