.page-special-error2 .header-placeholder {
    display: none;
}

.page-special-error2 .mainbody {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    height: 100vh;
    background: #f5f5f5;
}

.page-special-error2 .block-pic {
    padding: 1rem .2rem .2rem;
}

.page-special-error2 .block-pic img {
    min-height: 1.6rem;
}

.page-special-error2 .block-tips {
    text-align: center;
    color: #999;
}

.page-special-error2 .block-btn {
    margin: .4rem auto 0;
    width: 1.42rem;
    height: 0.35rem;
    font-size: 0.14rem;
    font-weight: 600;
    color: #fff;
    border-radius: 0.07rem;
    background: linear-gradient(to right, #16a654, #16a654);
    box-shadow: 0 0.03rem 0.05rem 0 rgba(22, 166, 84, 0.3);
}

.page-special-error2.page-error-zhejiang-yidong-miniapp .block-btn {
    background: linear-gradient(to right, #eb0028, #ee3142);
    box-shadow: 0 0.03rem 0.05rem 0 rgba(197, 0, 32, 0.3);
}

.page-special-error2.page-error-zhejiang-yidong-app .block-btn {
    background: linear-gradient(to right, #16a654, #16a654);
    box-shadow: 0 0.03rem 0.05rem 0 rgba(22, 166, 84, 0.3);
}
