.page-hd-huanxin-amazon-combo {
    margin: 0 auto;
    max-width: 720px;
    min-width: 320px;
    background-color: #ededed;
    color: #666;
}

.page-hd-huanxin-amazon-combo .block-tit {
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .24rem;
    color: #444;
}

.page-hd-huanxin-amazon-combo .block1{
    height: 1.6rem;
    background: #b1ede3 url(https://p.ssl.qhimg.com/t01c19da4483e18eeed.png) no-repeat center 0;
    background-size: cover;
}

.page-hd-huanxin-amazon-combo .block2{
    height: 1.3555555555555556rem;
    background: #b1ede3 url(https://p3.ssl.qhmsg.com/t017bd3508153f7239e.png) no-repeat center 0;
    background-size: cover;
}

.page-hd-huanxin-amazon-combo .block3 .block-tit {
    height: 0.6133333333333333rem;
    background: url(https://p.ssl.qhimg.com/t01c28606c8f1f71e19.png) no-repeat center 0;
    background-size: cover;
    text-align: left;
    text-indent: -9999px;
}

.page-hd-huanxin-amazon-combo .block4 .row-process-desc {
    padding: .64rem .08rem .2rem;
    background: url(https://p.ssl.qhimg.com/t01ec01e28a927df65e.png) no-repeat center 0;
    background-size: contain;
    font-size: .11rem;
    text-align: center;
}


.page-hd-huanxin-amazon-combo .block5 ul {
    padding: 0 .12rem 0 .26rem;
    list-style-type: decimal;
}

.page-hd-huanxin-amazon-combo .block5 ul li {
    margin-bottom: .1rem;
}

.page-hd-huanxin-amazon-combo .block5 .tips {
    line-height: 3;
    text-align: center;
}

.page-hd-huanxin-amazon-combo .block5 .btn-details-dialog-trigger {
    text-decoration: underline;
}

.page-hd-huanxin-amazon-combo .block5 .contact-tel {
    padding: .1rem 0 .3rem;
    text-align: center;
}



.huanxin-product-list {
    padding: 0 .08rem .1rem;
}

.huanxin-product-list .item {
    margin: 0 2% 2% 0;
    float: left;
    display: block;
    width: 49%;
    height: 2.11rem;
    padding-bottom: .1rem;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #666;
}

.huanxin-product-list .item:hover {
    text-decoration: none;
}

.huanxin-product-list .img {
    margin: .12rem auto .08rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
}

.huanxin-product-list .tit {
    font-size: .16rem;
}

.huanxin-product-list .desc {
    font-size: .12rem;
    line-height: 1.8;
    color: #ff7a71;
}

.huanxin-product-list .btn {
    margin: .02rem auto .02rem;
    width: 1rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .12rem;
    background: #ff7a71;
    color: #fff;
    border-radius: 999px;
}

.huanxin-product-list .item:hover .btn {
    background: #ff8075;
}

.huanxin-product-list .item:active .btn {
    background: #ff7a71;
}

.huanxin-product-list .item-last {
    margin-right: 0;
}

.huanxin-product-list .item-more {

}
.huanxin-product-list .item-more .img{
    margin-top: .5rem;
    width: 0.5244444444444445rem;
    height: 0.8177777777777778rem;
}
.huanxin-product-list .item-more .desc{
    color: #666;
    font-size: .14rem;
}

/*活动说明及条款*/
.dialog-amazon-combo-activity-details-wrap {
    background: #fff;
}

.dialog-amazon-combo-activity-details-wrap .dialog-inner {
    padding: .1rem;
}

.dialog-amazon-combo-activity-details-wrap h3 {
    font-size: .14rem;
    font-weight: bold;
}

.dialog-amazon-combo-activity-details-wrap ol {
    padding: .1rem 0 .1rem .25rem;
    height: 3.2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: .12rem;
}

.dialog-amazon-combo-activity-details-wrap li {
    padding-bottom: .08rem;
    list-style-type: decimal;
}
