.panel-tom01 .hd h3{
    cursor: move;
}
.c1{color: #FF6600;}
.inline-block{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: top;
}
.block{
    padding: 0px 8px;
    border-bottom: 1px solid #E5E5E5;
}
.block-bottom{
    padding: 0px 8px;
}
.a-block{
    display: block;
}
.a-block:hover{
    /*background: #EEEEEE;*/
    text-decoration: none;
}
.shop-phone-view-pannel{
    margin: 30px 24px;
    font-size: 14px;
    color: #333;
}
.shop-phone-view-pannel .line{
    padding: 5px 0;
}
.shop-phone-view-pannel .lc1{color: #62A52A;}
.shop-phone-view-pannel .lc2{color: #FF5706;}
/******************/
.doc-bd{font-size: 12px;color: #666666;}
.header-content{
    height: 76px;
    border: 1px solid #E9F0F5;
    margin: 8px 0 20px 0;
    background: #F2F7FB;
    background: -moz-linear-gradient(top, #F2F7FB, #FFFFFF);
    background: -webkit-linear-gradient(top, #F2F7FB, #FFFFFF);
    background: linear-gradient(top, #F2F7FB, #FFFFFF);
}
.header-content h1{
    height: 76px;
    line-height: 76px;
    color: #333333;
    font-size: 20px;
    font-weight: 800;
    padding: 0 20px;
    /*width: 150px;*/
    text-align: center;
    vertical-align: middle;
}
.header-content p{
    width: 700px;
    color: #474747;
    vertical-align: middle;
}
.doc-bd .mainbody{}
.mb-left, .mb-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
.mb-left{
    float: left;
    width: 258px;
    height: 100%;
    border: 1px solid #E8E8E8;
    border-bottom: none;
}
.mb-right{
    width: 691px;
    height: auto;
    float: right;
}
.top-nav{
    height: 36px;
    background: #F7F7F7;
    position: relative;
}
.top-nav h2{
    color: #333333;
    font-size: 14px;
    font-weight: 800;
    line-height: 36px;
    padding-left: 10px;
}
.top-nav a{
    position: absolute;
    right: 10px;
    top: 10px;
}/*************/
.mb-left h3{
    line-height: 28px;
    margin-top: 15px;
    color: #666666;
    font-weight: 800;
}
.mb-left .c1{
    color: #FF6600;
}
.mb-left p{
    line-height: 22px;
    margin-bottom: 30px;
}

.mb-right .top-nav{
    width: 691px;
    background: url(https://p.ssl.qhimg.com/t011ac43691867d42e2.png) no-repeat scroll center 0;
}
.mb-right .top-nav h2{
    color: #FFFFFF;
    padding-left: 25px;
}
.mb-right .top-nav a{
    color: #FFFFFF;
    left: 140px;
    right: initial;
    top: 8px;
    font-size: 14px;
}
.top-tab{
    height: 42px;
    border: 1px solid #D7D7D7;
    border-top: none;
    position: relative;
    background: #FAFAFA;
}
.top-tab-list li{
    margin-left: 20px;
    width: 80px;
    height: 28px;
    float: left;
    text-align: center;
    padding-top: 14px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}
.top-tab-list .cur{
    color: #128422;
    font-weight: 800;
}
.top-tab-underline{
    height: 0px;
    width: 80px;
    border-bottom: 4px solid #2ECE02;
    position: absolute;
    left: 20px;
    bottom: -1px;
}
.problem-desc{
    padding: 20px;
    color: #999999;
}
.problem-desc span{
    color: #666666;
}
.card-list{
    border: 1px solid #D7D7D7;
    /*border-bottom: none;*/
    /*padding-bottom: 20px;*/
}
.card-list .card-item,
.card-list .card-item-right,
.card-list .card-item-bottom{
    float: left;
    width: 220px;
    padding: 15px 0 12px 9px;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}
.card-list  .card-item-nomore{
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #D7D7D7;
}
.card-list .card-item-right{
    border-right: none;
}
.card-list .card-item-bottom{
    border-bottom: none;
}
.card-item-pic, .card-item-baseinfo{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: top;
}
.card-item-pic{
    border: 1px solid #DCDCDC;
    width: 72px;
    height: 72px;
    border-radius: 6px;
    position: relative;
    margin-right: 5px;
}
.card-item-pic img{
    width: 66px;
    height: 66px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
}
.card-item-baseinfo{}
.card-item-baseinfo .line{
    margin-bottom: 5px;
}
.card-item-baseinfo .bi-name{
    font-size: 14px;
    font-weight: 800;
}
.card-item-baseinfo .bi-name a{
    color: #666666;
}
.card-item-baseinfo .bi-name a:hover{
    text-decoration: none;
}
.card-item-baseinfo .bi-solve{}
.card-item-baseinfo .bi-solve span{
    padding-right: 5px;
}
.card-item-baseinfo .bi-score{}
.card-item-baseinfo .bi-score span{
    padding-right: 5px;
}
.card-item-baseinfo .bi-price{
    color: #999999;
}
.card-item-baseinfo .bi-price span{
    
}
.card-item-zixun,
.card-item-chakan{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width: 62px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}
.card-item-zixun:hover,
.card-item-chakan:hover{
    text-decoration: none;
}
.card-item-zixun{
    color: #FFFFFF;
    background: url(https://p.ssl.qhimg.com/t0176dfd7542990a218.png) no-repeat scroll center 0;
    margin-right: 5px;
}
.card-item-chakan{
    color: #666666;
    background: url(https://p.ssl.qhimg.com/t01b5c51dee3b5d2ea9.png) no-repeat scroll center 0;
    margin-right: 5px;
}
.card-item-comment{
    overflow: hidden;
    height: 82px;
    position: relative;
}
.card-comment-item-wrap{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.card-comment-item{
    height: 82px;
}
.card-comment-item p{
    color: #666666;
}
.cm-title{
    font-weight: 600;
}
.cm-content{
    margin-bottom: 10px;
    height: 36px;
    overflow: hidden;
}
.cm-date{
    color: #999999;
    float: left;
}
.cm-name{
    color: #999999;
    float: right;
    padding-right: 12px;
}

/***** zt-type2 (专题的第二种布局格式) ******************/
    .zt-type2{margin-top: -13px;}
    .zt-type2 .header-top{
        position: relative;
        width: 100%;
        height: 43px;
    }
    .zt-type2 .header-content{
        height: 60px;
        margin-top: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: 5px solid #EEEDED;
    }
    .zt-type2 .header-content h1{
        height: 60px;
        line-height: 60px;
    }
    .zt-type2 .problem-desc{
        position: relative;
    }
    .zt-type2 .problem-desc a{
        position: absolute;
        top: 18px;
        right: 10px;
    }
    .zt-type2 .mb-left{
        width: 691px;
        height: auto;
        border: none;
    }
    .zt-type2 .mb-right{
        width: 258px;
        height: 100%;
        border: 1px solid #E8E8E8;
        border-bottom: none;
    }
    .zt-type2 .mb-right .top-nav{
        width: 100%;
        background: #FFFFFF;
        border-bottom: 1px solid #E5E5E5;
    }
    .zt-type2 .mb-right .top-nav h2{
        color: #333333;
    }
    .zt-type2 .video-area{
        padding-top: 10px;
        text-align: center;
    }
    .zt-type2 .video-area img{
        width: 240px;
    }
    .zt-type2 .video-area .line{
        text-align: center;
        padding: 15px 0;
    }
    .zt-type2 .video-area .line a{
        color: #999999;
    }
    .order-list{
        margin: 15px 0 30px 0;
    }
    .order-item{
        line-height: 30px;
    }
    .order-item-name{
        margin-left: 8px;
        width: 86px;
        height: 30px;
        overflow: hidden;
    }
    .order-item-time{
        margin-left: 8px;
    }
    .order-item-status{
        margin-left: 10px;
        float: right;
    }
    .card-item-button{
        margin: 6px 0 15px 0;
    }
    .zt-type2 .cm-title{
        font-weight: 600;
        margin-bottom: 3px;
    }
    .zt-type2 .cm-content{
        margin-bottom: 6px;
        height: auto;
        line-height: 18px;
        overflow: hidden;
    }
    .zt-type2 .cm-date{
        color: #999999;
        float: none;
    }
    .zt-type2 .cm-name{
        color: #999999;
        float: none;
        padding: 0;
        margin-right: 6px;
    }
    .zt-type2 .video-area-pic:hover{
        opacity: 0.5;
        filter:alpha(opacity=50);
    }

/****** shengyin *************/
    .zt-shengyin .header-top{
        background: url(https://p.ssl.qhimg.com/t016b4b535bb6645f39.png) no-repeat scroll center 0;
    }
    .zt-shengyin .header-content{
        margin-bottom: 0;
    }

/****** zhuangxiu *****************/
    .zt-zhuangxiu .header-top{
        background: url(https://p.ssl.qhimg.com/t014cbe02a3cb02ccf7.png) no-repeat scroll center 0;
    }
    .zt-zhuangxiu .header-content{
        margin-bottom: 0;
    }
    .zt-zhuangxiu .mb-left{
        float: none;
        display: block;
        width: 921px;
        margin: 0 auto;
    }

/****** ps *****************/
    .zt-ps .header-top{
        background: url(https://p.ssl.qhimg.com/t014cbe02a3cb02ccf7.png) no-repeat scroll center 0;
    }
    .zt-ps .header-content{
        margin-bottom: 0;
    }
    /*.zt-ps .mb-left{
        float: none;
        display: block;
        width: 921px;
        margin: 0 auto;
    }*/

/****** yuancheng *****************/
    .yuancheng-page .header-top{
        background: url(https://p.ssl.qhimg.com/t014cbe02a3cb02ccf7.png) no-repeat scroll center 0;
    }
    .yuancheng-page .mb-left{
        float: none;
        display: block;
        width: 957px;
        margin: 0 auto;
    }
    .yuancheng-page .card-list .card-item,
    .yuancheng-page .card-list .card-item-right,
    .yuancheng-page .card-list .card-item-bottom{
        position: relative;
        width: 229px;
        padding-bottom: 20px;
        background: #FAFAFA;
    }
    .yuancheng-page .card-list-sort{
        /*margin: 5px 0;*/
        line-height: 36px;
        /*text-align: right;*/
        text-align: left;
        border-right: 1px solid #DFDFE1; 
        border-top: 2px solid #4BAC20;
        background: #F7F7F7;
    }
    .yuancheng-page .card-list-sort a,
    .yuancheng-page .card-list-sort label{
        float: left;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 0 24px 0 12px;
        color: #474747;
        border-left: 1px solid #DFDFE1;
    }
    .yuancheng-page .card-list-sort a:hover{
        text-decoration: none;
    }
    /*.yuancheng-page .card-list-sort span{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 0 24px 0 12px;
        color: #474747;
        border-left: 1px solid #DFDFE1;
    }*/
    .yuancheng-page .card-list-sort .icon{
        float: left;
        margin-right: 5px;
        margin-top: 10px;
    }
    .yuancheng-page .card-list-sort .cur{
        color: #118F2C;
        /*font-weight: bold;*/
        background: #EFEFEF;
    }
    .yuancheng-page .card-list-sort .card-sort-defaults{
        padding-right: 12px;
    }
    .yuancheng-page .card-list-sort .card-sort-chengjiao,
    .yuancheng-page .card-list-sort .card-sort-haoping{
        background: url(https://p.ssl.qhimg.com/t01141e961c896abe2c.png) no-repeat scroll 86px 15px;
    }
    .yuancheng-page .card-list-sort .card-sort-chengjiao-active,
    .yuancheng-page .card-list-sort .card-sort-haoping-active{
        background: #EFEFEF url(https://p.ssl.qhimg.com/t01e52ad150eaf87ca5.png) no-repeat scroll 86px 15px;
    }
    .yuancheng-page .card-list-sort .split_icon{
        width: 0;
        height: 30px;
        padding: 0 0 0 1px;
        background: url(https://p.ssl.qhimg.com/t01ede7a55665399994.png) no-repeat scroll center 0;
    }
    .yuancheng-page .card-list-sort .sort-zonghe{
        padding-right: 12px;
    }

    .yuancheng-page .doc-sub-menu .menu-list{
        margin-bottom: 0;
    }
    .yuancheng-page .top-pic{
        /*height: 166px;*/
        height: 125px;
        background: url(https://p.ssl.qhimg.com/t01517b989d96b5f879.jpg) no-repeat center 0;
    }

    .yuancheng-page .tit1{
        color: #252525;
        font: bold 16px/36px "微软雅黑";
        border-bottom: 3px solid #42BA10;
        display: inline-block;
        _zoom:1;
    }

    .yuancheng-page .tit1-box{
        padding-left: 10px;
        padding-right: 80px;
        border-bottom: 1px solid #DEDEDE;
        float: left;
    }

    .yuancheng-page .tit2{
        font: bold 14px/20px "宋体";
        color: #333333;
    }

    .yuancheng-page .repair-problem{
        padding: 10px 0 20px;
        position: relative;
    }
    .repair-problem-search-wrap{
        position: absolute;
        top: 82px;
        right: 52px;
    }
    .repair-problem-search-ipt{
        padding: 4px 10px;
        margin: 0 5px 0 0;
        width: 190px;
        line-height: 18px;
    }
    .repair-problem-search-sub{
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #A4A4A4;
        background: #fff;
        cursor: pointer;
    }
    .repair-problem-search-sub:hover{background: #f0f0f0;}
    .yuancheng-page .problem-group{
        width: 300px;
        float: left;
        padding: 10px 0 0 10px;
    }

    .yuancheng-page .problem-group dt{
        width: 70px;
        float: left;
    }

    .yuancheng-page .problem-group dd{
        margin-left: 70px;
    }

    .yuancheng-page .problem-item{
        float: left;
        padding: 2px 8px;

    }

    .yuancheng-page .problem-item a{
        color: #666666;
        word-break: keep-all;
        white-space: nowrap;
    }
    .yuancheng-page .problem-item .hot{
        color: #ff5500;
    }

    .yuancheng-page .cf30{
        color: #f30;
    }

    .yuancheng-page .refresh-box{
        width: 70px;
        margin-left: 890px;        
        padding-top: 18px;
    }
    .yuancheng-page .refresh{
        background: url(https://p.ssl.qhimg.com/t01858bfa6a135cd819.png) no-repeat 0 0;
        padding-left: 20px;

        display: none;
    }

    .yuancheng-page .card-list{
        margin-top: 16px;
        margin-bottom:10px;
    }

    .yuancheng-page .tit3{
        font:bold 16px/36px "微软雅黑";
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .yuancheng-page .bang-top-box{
        border-bottom: 1px solid #E6E5E5;
        margin-bottom: 24px;
        background: #fafafa;
    }
    .yuancheng-page .bang-top{
        height: auto;
    }
    .yuancheng-page .bang-top-box .doc-sub-menu .menu-list{padding-left: 0}
    .yuancheng-page .card-item-shanchang{ padding-right: 9px;}
    .yuancheng-page .card-item-tuijian-icon{position: absolute;top: 0;left: 0;width: 41px;height: 39px;background: url(https://p.ssl.qhimg.com/t01ccca1c143e47a0c2.png) no-repeat scroll 0 0;}

    .yuancheng-page .top-hd-area{display: block;}

    /*.sort-xiaoliang-h2l{
        background: url(https://p.ssl.qhimg.com/t01e52ad150eaf87ca5.png) no-repeat scroll 40px 5px;
    }
    .sort-xiaoliang-l2h{
        background: url(https://p.ssl.qhimg.com/t01d2e7ba57303d0649.png) no-repeat scroll 40px 5px;
    }
    .sort-haoping-h2l{
        background: url(https://p.ssl.qhimg.com/t01e52ad150eaf87ca5.png) no-repeat scroll 52px 5px;
    }
    .sort-haoping-l2h{
        background: url(https://p.ssl.qhimg.com/t01d2e7ba57303d0649.png) no-repeat scroll 52px 5px;
    }
    .sort-jiage-h2l{
        background: url(https://p.ssl.qhimg.com/t01e52ad150eaf87ca5.png) no-repeat scroll 40px 5px;
    }
    .sort-jiage-l2h{
        background: url(https://p.ssl.qhimg.com/t01d2e7ba57303d0649.png) no-repeat scroll 40px 5px;
    }*/
    /*.card-list-filter{
        font-size: 14px;
        background: #FAFAFA;
    }
    .card-list-filter a:hover{
        text-decoration: none;
    }
    .card-list-filter span{
        display: block;
        float: left;
        padding: 0 22px;
        height: 36px;
        line-height: 36px;
        border-top: 2px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        color: #333333;
    }
    .card-list-filter .cur{
        border-top: 2px solid #2FAF14;
        border-bottom: 0;
        background: #FFFFFF;
        color: #128422;
        font-weight: bold;
    }
    .card-list-filter .cur-right{
        background: url(https://p.ssl.qhimg.com/t01c93fd13003777725.png) no-repeat scroll 0px 0px;
    }
    .card-list-filter .cur-left{
        background: url(https://p.ssl.qhimg.com/t01791b76cf2e3132ec.png) no-repeat scroll right 0px;
    }*/
    .weixiu-leibie{
        position: relative;
        margin: 20px auto;
        height: 52px;
        line-height: 52px;
        border: 1px solid #E8E8E8;
    }
    .weixiu-leibie span{
        color: #999999;
        padding: 0 20px 0 30px;
    }
    .weixiu-leibie a{
        margin-right: 30px;
        padding: 2px 10px;
    }
    .weixiu-leibie a:hover{
        text-decoration: none;
    }
    .weixiu-leibie .cur{
        background: #1D7AD9;
        color: #FFFFFF;
    }
    .weixiu-leibie .whats-yuancheng{
        position: absolute;
        right: 10px;
        top: 11px;
        /*display: inline-block;*/
        padding: 0;
        margin: 0;
        line-height: 30px;
    }
    .weixiu-leibie .whats-yuancheng:hover{
        text-decoration: underline;
    }
    .card-item-shanchang{
        height: 66px;
        line-height: 22px;
        overflow: hidden;
        color: #999999;
        text-overflow: ellipsis;
    }
    .card-item-shanchang .card-item-shanchang-content-shanchang{
        font-weight: bold;
    }
    .card-item-shanchang-cover{
        position: absolute;
        display: none;
        padding: 0 0 20px 9px;
        border: 1px solid #D7D7D7;
        border-top: 0;
        line-height: 22px;
        color: #999999;
        background: #FFFFFF;
    }
    .card-item-shanchang-cover .card-item-shanchang-content-shanchang{
        font-weight: bold;
    }

/****** shuju *********************/
    .top-hd-area .hd-area-info div{display: none;}
    .top-hd-area .hd-area-info .top-hd-solagn{display: block;}

    .zt-site-x{}
    .zt-site-x .mb-left h3{
        margin-top: 2px;
    }
    .zt-site-x .mb-left p{
        margin-bottom: 10px;
        line-height: 20px;
    }
    .zt-site-x .mb-left .for-tab{padding-bottom: 7px;}
    .zt-site-x .header-big-img{
        width: 960px;
        height: 120px;
        margin-bottom: 15px;
        background: url(https://p.ssl.qhimg.com/t018e3406dc3c234f55.png) no-repeat scroll center 0;
    }
    .zt-site-x .mb-left{
        width: 178px;
    }
    .zt-site-x .mb-right{
        width: 765px;
    }

    .mb-right-a{
        float: left;
        width: 510px;
    }
    .mb-right-b{
        float: right;
        width: 240px;
    }
    .mb-right-a-topnav{
        position: relative;
        width: 510px;
        height: 42px;
        background: url(https://p.ssl.qhimg.com/t01c51e50413ad0b8ee.png) no-repeat scroll center 0;
    }
    .mb-right-b-topnav{
        width: 240px;
        height: 42px;
        background: url(https://p.ssl.qhimg.com/t018862cc310ddb0799.png) no-repeat scroll center 0;
    }
    .mb-right-a .card-list, .mb-right-b .card-list{
        border-top: 0;
    }
    .mb-right-a .card-item, .mb-right-a .card-item-bottom{
        width: 244px;
    }
    .mb-right-a .card-item-right{
        width: 245px;
    }
    .mb-right-b .card-item-right{
        width: 230px;
    }
    .zt-site-x .card-item-pic{
        text-align: center;
    }
    .zt-site-x .card-item-pic img{
        position: static;
        margin-top: 3px;
        margin-left: 3px;
    }
    .zt-site-x .card-item-pic-name-line{
        height: 30px;
        overflow: hidden;
    }
    .zt-site-x .card-item-pic span{
        line-height: 30px;
    }
    .zt-site-x .bi-service-name{
        width: 160px;
        height: 22px;
        overflow: hidden;
        font-size: 14px;
    }
    .zt-site-x .bi-address{
        width: 160px;
        height: 18px;
        overflow: hidden;
    }
    .zt-site-x .bi-btn{
        margin-top: 2px;
    }
    .zt-site-x .address-search-form{
        position: absolute;
        top: 8px;
        right: 10px;
    }
    .zt-site-x .address-search-form input{
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    .zt-site-x .address-search-form-ipt{
        width: 168px;
        height: 19px;
        line-height: 19px;
        padding: 4px 12px;
        border: 0;
        background: transparent;
    }
    .zt-site-x .address-search-form-btn{
        width: 73px;
        height: 27px;
        border: 0;
        background: transparent;
        cursor: pointer;
    }
    .zt-site-x .mb-right-b .bi-service-name, .zt-site-x .mb-right-b .bi-desc{
        width: 146px;
        height: 22px;
        overflow: hidden;
    }
    .zt-site-x .mb-right-b .bi-desc{
        height: 18px;
    }
    .footer-top{
        margin-top: 20px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #DFDFE1;
        background: #F7F7F7;
    }
    .footer-top span{
        margin-left: 20px;
        font-size: 14px;
        font-weight: bold;
        color: #444444;
    }
    .zt-site-x .inactived{
        color: #999999;
    }

    .zt-site-x .video-area{
        padding-top: 10px;
        text-align: center;
    }
    .zt-site-x .video-area img{
        width: 100%;
    }
    .zt-site-x .video-area .line{
        text-align: center;
        padding: 15px 0;
    }
    .zt-site-x .video-area .line a{
        color: #999999;
    }
    .zt-site-x .video-area-pic:hover{
        opacity: 0.5;
        filter:alpha(opacity=50);
    }

    .zt-site-e{margin-top: -13px;}
    .zt-site-e .header-top{
        position: relative;
        width: 100%;
        height: 43px;
    }
    .zt-site-e .header-content{
        height: 60px;
        margin-top: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: 5px solid #EEEDED;
    }
    .zt-site-e .header-content h1{
        height: 60px;
        line-height: 60px;
    }

/**** 用户评论 */
    #userComment{
        margin-bottom: 20px;
        border: 1px solid #DFDFE1;
        border-top: 0;
    }
    #userComment .figure-h{
        padding: 12px 0 4px 0;
        border-bottom: 1px solid #EBEBEB;
    }
    #userComment .figure-h .pic{
        height: 85px;
        width: 110px;
        margin: 6px 0 0 0;
        border: none;
        text-align: center;
    }
    #userComment .figure-h .pic div{
        margin: 0 0 7px 0;
    }
    #userComment .figure-h .pic a{
        color: #999;
    }
    #userComment .figure-h .pic a:hover{
        color: #2E74D3;
    }
    #userComment .hd-unit .rating{
        margin-left: 0;
    }
    #userComment .hd-unit .no{
        float: right;
    }
    #userComment .figure-h .cont{margin-right: 5px;}
    #userComment .figure-h .comment-content{font-size: 14px; margin-bottom:7px;}
    #userComment .figure-h .comment-baseinfo{color:#999;}
    #userComment .figure-h .comment-baseinfo img{width: 30px;height: 30px;}
    #userComment .figure-h .comment-baseinfo a{color: #999;margin-right: 5px;}
    #userComment .figure-h .comment-baseinfo a:hover{color: #2E74D3;}
    #userComment .figure-h .comment-baseinfo span{margin-right: 5px;}
    #userComment .figure-h .comment-content .comment-content-more{
        zoom:1;
        margin-left: 1em;
        padding-right: 1em;
        background: url(https://p.ssl.qhimg.com/t01ebc35f5eb4c26a06.png) no-repeat 2.1em -16px;
        white-space: nowrap;
    }

    #userComment .sub-cmt{
        margin-left: 110px;
        margin-right: 20px;
    }
    #userComment .sub-cmt .top-arrow{
        height: 7px;
        line-height: 7px;
        font-size: 0;
        background: url(https://p.ssl.qhimg.com/t0133e02263d9dc5123.jpg) no-repeat 40px 0;
        margin-bottom: -1px;
        position: relative;
        z-index: 1;
    }

    #userComment .sub-cmt .sub-cmt-content{
        padding: 10px;
        border: 1px solid #EBEBEB;
        color: #666666;
    }

    #userComment .cmt-reply,
    #userComment .subcmt-reply{
        background: #FAFAFA;
        color: #B66318;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    #userComment .cmt-time{
        font-weight: bold;
    }
    /***** 刷机 ******/
    .zt-shuaji .header-top{
        width: 960px;
        height: 120px;
        background: url(https://p.ssl.qhimg.com/t010809e482a414d740.png) no-repeat scroll center 0;
    }
    .zt-shuaji .header-top a{
        display: block;
        width: 100%;
        height: 100%;
    }

    /***** 远程 ******/
    .zt-yuancheng .header-top{
        width: 960px;
        height: 120px;
        background: url(https://p.ssl.qhimg.com/t010809e482a414d740.png) no-repeat scroll center 0;
    }
    .zt-yuancheng .header-top a{
        display: block;
        width: 100%;
        height: 100%;
    }

/*图标区域*/
.iconv{background:url(https://p.ssl.qhimg.com/t01eb026ec9429a622e.png) no-repeat;width:22px;display:inline-block;*zoom:1;*display:inline-block;vertical-align:middle;}
.iconv-v{height:20px;background-position:0px -3px;}
.iconv-renzheng{background-position:0 -28px;height:20px;}
/*0=灰,1=黄,2=蓝*/
.iconv-v0{background-position:0 -95px;height:20px;}
.iconv-v1{background-position:0 -129px;height:20px;}
.iconv-v2{background-position:0 -65px;height:20px;}

/*************************/
.site-shuju-wrap{
    color: #999999;
}
.site-c1{color: #339900;}
.site-top{
    width: 100%;
    /*height: 90px;*/
    height: 78px;
    /*background: #51C61F url(https://p.ssl.qhimg.com/t01e828c7c7a8aa22e3.png) no-repeat scroll center 0;*/
    background: url(https://p.ssl.qhimg.com/t01271fbc48f0dce3c8.png) repeat-x scroll center 0;
}
.site-top-inner{
    position: relative;
    /*width: 940px;*/
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background: url(https://p.ssl.qhimg.com/t014bda8dff093252d6.png) no-repeat scroll center 0;
}
.site-top-logo{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 236px;*/
    /*width: 200px;*/
    width: 135px;
    /*height: 90px;*/
    height: 78px;
    /*background: url(https://p.ssl.qhimg.com/t014bda8dff093252d6.png) no-repeat scroll center 0;*/
}
.site-top-logo-a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.site-top-logo-a:hover{text-decoration: none;}
.site-top-tip{
    position: absolute;
    top: 36px;
    right: 0px;
    width: 307px;
    height: 18px;
    /*background: url(https://p.ssl.qhimg.com/t0132fc6a03eebdb186.png) no-repeat scroll center 0;*/
}
.site-top-tip-a{display: block;width: 100%;height: 100%;text-decoration: none;}
.site-top-tip-a:hover{text-decoration: none;}

.site-h2{
    margin: 15px 0;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    color: #339900;
    /*font-size: 18px;*/
    font-size: 16px;
    font-weight: bold;
    font-family: "微软雅黑";
    border-left: 2px solid #339900;
}
.site-h2 span{color: #999999;}
.site-shuju-main{
    position: relative;
    width: 940px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 14px;
}
.site-left-nav{
    position: absolute;
    right: -70px;
    top: 30px;
    width: 58px;
    height: 178px;
}
.site-left-nav-ul{
    width: 100%;
    height: 100%;
}
.site-left-nav-ul li{
    padding-top: 1px;
    width: 58px;
    height: 39px;
    background: url(https://p.ssl.qhimg.com/t014a66edd4f78286d9.png) no-repeat scroll 0 0;
}
.site-left-nav-ul a{
    display: block;
    margin: 0 auto;
    width: 56px;
    height: 30px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #615D5D;
}
.site-left-nav-ul a:hover, .site-left-nav-ul .cur{
    text-decoration: none;
    background: #F4FFF2;
    color: #339900;
}
.site-left-nav-ul .site-left-nav-li5{
    /*margin-top: -5px;*/
    padding: 0;
    width: 56px;
    /*height: 43px;*/
    height: 30px;
    border: 1px solid #E3E3E3;
    /*background: url(https://p.ssl.qhimg.com/t01325760127d44b7a7.png) no-repeat scroll 0px -5px;*/
    background: transparent;
}
.site-left-nav-ul .site-left-nav-li5 a{width: 100%;height: 100%;line-height: 30px;padding: 0;margin: 0;text-align: center;}
.site-left-nav-ul .site-left-nav-li5 a:hover{
    background: transparent;
}
.site-left-nav-icon{
    margin-left: 5px;
    padding-left: 20px;
    line-height: 30px;
    background: url(https://p.ssl.qhimg.com/t01e2953ce23b12a438.png) no-repeat scroll -5px -5px;
}
.icon-fenxi{
    background-position: -5px -5px;
}
.icon-gonglue{
    background-position: -5px -23px;
}
.icon-zhuanjia{
    background-position: -5px -43px;
}
.icon-mendian{
    background-position: -5px -65px;
}

.site-shuju-jieshao{padding: 15px 0 25px 0;border-bottom: 2px solid #3EAF0E;}
.site-shuju-jieshao-left, .site-shuju-jieshao-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 20px;
    vertical-align: top;
}
.site-shuju-jieshao-left{
    width: 649px;
    border-right: 1px solid #EFEFEF;
}
.site-shuju-jieshao-right{
    width: 246px;
    font-size: 12px;
}
.site-shuju-jieshao-left-content-span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 470px;
    vertical-align: top;
    padding-left: 10px;
}
.site-shuju-jieshao-right-content-yuanyin{
    width: 170px;
}
.site-shuju-gonglue{
    padding: 26px 0 0 0;
    background: url(https://p.ssl.qhimg.com/t01b1c708bb7384fd09.png) no-repeat scroll center 0;
    line-height: 2.0;
}
.site-shuju-gonglue-inner{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #DFDFDF;
}
.site-shuju-gonglue-kuaisujiejue-btn{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 180px;
    height: 42px;
    background: url(https://p.ssl.qhimg.com/t01672bba70501db8d1.png) no-repeat scroll center 0;
}
.site-shuju-zhuanjia{
    padding-top: 10px;
}
.site-shuju-zhuanjia-inner{
    border: 1px solid #DFDFDF;
    /*border-bottom: 2px solid #3EAF0E;*/
    border-bottom: 1px solid #DFDFDF;
}
.site-shuju-zhuanjia-top{
    position: relative;
    padding: 10px 20px 5px 20px;
    /*border-bottom: 4px solid #3EAF0E;*/
    border-bottom: 2px solid #3EAF0E;
}
.site-shuju-zhuanjia-tip{margin-left: 10px;font-size: 12px;font-weight: normal;}
.site-shuju-zhuanjia-more{
    position: absolute;
    top: 36px;
    right: 10px;
    font-size: 12px;
}
.site-shuju-mendian{
    padding: 26px 0 0 0;
    background: url(https://p.ssl.qhimg.com/t01b1c708bb7384fd09.png) no-repeat scroll center 0;
}
.site-shuju-mendian-inner{
    border: 1px solid #DFDFDF;
    /*border-bottom: 2px solid #3EAF0E;*/
    border-bottom: 1px solid #DFDFDF;
}
.site-shuju-mendian-top{
    position: relative;
    padding: 10px 20px 5px 20px;
    /*border-bottom: 4px solid #3EAF0E;*/
    border-bottom: 2px solid #3EAF0E;
}
.site-shuju-mendian-city-wrap{
    position: absolute;
    top: 25px;
    left: 330px;
}
.site-shuju-mendian-tip{
    position: absolute;
    top: 28px;
    left: 470px;
    font-size: 12px;
}
.site-shuju-mendian-more{
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 12px;
}
.site-shuju-pd1{
    padding: 50px 0 0 0;
    background: url(https://p.ssl.qhimg.com/t01b1c708bb7384fd09.png) no-repeat scroll center 0;
}

.site-list{
    padding: 10px;
    font-size: 12px;
}
.site-list-item, .site-list-item-right, .site-list-item-bottom{
    float: left;
    width: 215px;
    padding: 15px 0px 12px 13px;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    color: #999999;
}
.site-list-item-right{border-right: none;}
.site-list-item-bottom{border-bottom: none;}
.site-list-item-pic, .site-list-item-baseinfo{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: top;
}
.site-list-item-pic{
    /*border: 1px solid #DCDCDC;*/
    width: 70px;
    height: 70px;
    border-radius: 6px;
    position: relative;
    margin-right: 5px;
}
.site-list-item-pic img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.site-list-item-baseinfo{line-height: 1.5;width: 120px;}
.site-list-item-baseinfo .line{
    /*margin-bottom: 5px;*/
    margin-bottom: 1px;
}
/*.site-list-item-baseinfo .bi-name{
    font-size: 14px;
    font-weight: 800;
}
.site-list-item-baseinfo .bi-name a{
    color: #666666;
}*/
.site-list-item-baseinfo .bi-name .user-name{font-size: 14px;font-weight: bold;}
.site-list-item-baseinfo .bi-name a:hover{
    text-decoration: none;
}
.site-list-item-baseinfo .bi-solve{}
.site-list-item-baseinfo .bi-solve span{
    padding-right: 5px;
}
.site-list-item-baseinfo .bi-score{}
.site-list-item-baseinfo .bi-score span{
    padding-right: 5px;
}
.site-list-item-baseinfo .bi-price{
    color: #999999;
}
.site-list-item-baseinfo .bi-price span{
    
}
.site-list-item-button{margin-top: 4px;font-size: 14px;font-family: "微软雅黑";}
.site-list-item-zixun,
.site-list-item-chakan{
    display:inline-block;
    *display:inline;
    *zoom:1;
    /*width: 90px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    width: 84px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
}
.site-list-item-zixun{
    color: #FFFFFF;
    background: url(https://p.ssl.qhimg.com/t01a8be62fa3c1bcb31.png) no-repeat scroll center 0;
    margin-right: 5px;
}
.site-list-item-chakan{
    color: #615D5D;
    background: url(https://p.ssl.qhimg.com/t015b6a1c3a33c8c50f.png) no-repeat scroll center 0;
    margin-right: 5px;
}
.site-list-item-zixun:hover{
    text-decoration: none;
    color: #615D5D;
    background: url(https://p.ssl.qhimg.com/t015b6a1c3a33c8c50f.png) no-repeat scroll center 0;
}
.site-list-item-chakan:hover{
    text-decoration: none;
    color: #FFFFFF;
    background: url(https://p.ssl.qhimg.com/t01a8be62fa3c1bcb31.png) no-repeat scroll center 0;
}

.site-list-item-comment{
    overflow: hidden;
    /*height: 82px;*/
    /*height: 60px;*/
    height: 50px;
    position: relative;
}
.site-list-comment-item-wrap{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.site-list-comment-item{
    /*height: 82px;*/
    /*font-size: 14px;*/
    font-size: 12px;
}
/*.site-list-comment-item p{
    color: #666666;
}*/
.site-list-comment-item .cm-title{
    font-weight: 600;
}
.site-list-comment-item .cm-content{
    margin: 10px 0px 4px 0;
    /*height: 44px;*/
    /*height: 22px;*/
    height: 18px;
    overflow: hidden;
    /*font-size: 14px;*/
    font-size: 12px;
}
.site-list-comment-item .cm-date{
    color: #999999;
    float: right;
    margin-right: 10px;
}
.site-list-comment-item .cm-name{
    color: #999999;
    float: left;
    padding-right: 12px;
}

.site-list-noitem{
    margin: 10px auto;
    padding-left: 130px;
    width: 300px;
    height: 164px;
    /*line-height: 164px;*/
    background: url(https://p.ssl.qhimg.com/t01a32244c3f2581b41.png) no-repeat 0 0;
    vertical-align: middle;
}
.site-list-noitem span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 60px;
}
.site-list-noitem em{font-weight: bold;}

.site-shuju-mendian-list .site-list-item-baseinfo{
    width: auto;
    height: 76px;
}
