.block-order-remote-check-success-diff {
    padding: 0 .1rem;
    background-color: #fff;
    color: #666;
}

.block-order-remote-check-success-diff .title {
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
}

.block-order-remote-check-success-diff .title .icon-zhifuchenggong {
    color: #16a654;
}

.block-order-remote-check-success-diff .row-options {
    padding: .06rem 0;
    color: #999;
}

.block-order-remote-check-success-diff .row-options .col-12-3 {
    width: 23%;
}

.block-order-remote-check-success-diff .row-options .col-12-9 {
    width: 77%;
}

.block-order-remote-check-success-diff .row-picture {
}

.block-order-remote-check-success-diff .row-picture .col-2-1 {
    text-align: center;
    font-size: 0;
}

.block-order-remote-check-success-diff .row-picture .col-2-1 .pic {
    margin: 2%;
    width: 96%;
    height: 96%;
}

.block-order-remote-check-success-diff .row-picture .thumbnail-shower {
    width: 100%;
    height: 100%;
}

.block-order-remote-check-success-diff .tips {
    padding: .08rem 0;
}

