/*评估报告弹层样式*/
.assess-report-section {
    background-color: #f5f5f5;
}

.assess-report-section .block-assess_report-product .p-price {
    width: 1.5rem;
}
.assess-report-section .block-assess_report-product .btn-reassess{
    position: relative;
    margin-top: 0;
    margin-right: .08rem;
    right: 0;
}

.assess-report-section .block-assess_report-product {
    padding: .2rem 0 0 0;
}

.assess-report-section .block-assess_report-cont .block-inner {}

.assess-report-section .block-assess_report-cont .icon-option {
    margin-right: .02rem;
}

.assess-report-section .block-assess_report-cont .tb1 .td-tt{
    width: 50%;
}

.assess-report-section .block-assess_report-cont .tb2 td:nth-child(n){
    width: 50%;
}
.assess-report-section .block-assess_report-cont .tb2 td:nth-child(2n){
    width: 50%;
}

@media screen and (min-width: 480px){
    .assess-report-section .block-assess_report-cont .block-inner{
        padding: 0 .3rem;
    }
}
