@keyframes scale {
    0% {transform: scale(1)}
    50% {transform: scale(2)}
    100% {transform: scale(1)}
}
.block-assess_report-product{
    background-color: #fff;
}
.block-assess_report-product .p-img{
    margin: .1rem;
    width: .55rem;
    height: .55rem;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.block-assess_report-product .p-info{
    position: relative;
    width: 2.43rem;
    padding: .1rem 0;
}
.block-assess_report-product .p-name{
    margin-right: .9rem;
    /*height: .24rem;*/
    line-height: .24rem;
    font-size: .14rem;
    overflow: hidden;
}

.block-assess_report-product .p-price{
    position: relative;
    display: block;
    width: 100%;
    font-size: .12rem;
    color: #FB8903;
}
.block-assess_report-product .p-price .p-num{
    font-size: .18rem;
}
.block-assess_report-product .tip-redpack-line{
    color: #FB8903;
    display: inline-block;
    text-decoration: underline;
}
.block-assess_report-product .tip-redpack-line .icon-redpack{
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url(https://p0.ssl.qhmsg.com/t0113854e2a0e7814bc.png) no-repeat center/100% 100%;
    vertical-align: middle;
    animation: scale 1s 3 ;
    -webkit-animation: scale 1s 3 ;
}
.block-assess_report-product .tip-tmall-redpack-line{
    color: #FB8903;
    display: block;
    text-decoration: underline;
}
.block-assess_report-product .tip-tmall-redpack-line .icon-tmall-redpack{
    margin-left: .06rem;
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url(//p.ssl.qhimg.com/t01a97db2450924ae9f.png) no-repeat center/100% 100%;
    vertical-align: middle;
    animation: scale 1s 3 ;
    -webkit-animation: scale 1s 3 ;
}

.block-assess_report-product .p-btn{
    position: absolute;
    right: .04rem;
    top: 0;
    bottom: 0;
    display:flex ;
    flex-direction: column;
    justify-content: center;;
}
.block-assess_report-product .btn-reassess{
    position: absolute;
    /*margin-top: -.15rem;*/
    margin-top: -.03rem;
    right: .04rem;
    top: 50%;
    background-color: #0b7;
    color: #fff;
}

.block-assess_report-product .btn-show-assess-report{
    margin-bottom: .04rem;
    background-color: #0b7;
    color: #fff;
}
.block-assess_report-product .btn-xxg-goto-feedback-assess,
.block-assess_report-product .btn-xxg-apply-good-price{
    display: block;
    width: .68rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .12rem;
    border-radius: .04rem;
    background-color: #0b7;
    color: #fff;
}

.block-assess_report-product .added-price-tile {
    position: absolute;
    top: 0;
    right: .88rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: .5rem;
}

.block-assess_report-product .added-price-tile-inner {
    width: .8rem;
    color: #FB8903;
    border: 1px solid #FB8903;
    text-align: center;
    border-radius: .06rem;
}

.block-assess_report-product .added-price-tile span {
    display: block;
    line-height: .18rem;
    font-size: .10rem;
}

.block-assess_report-product .added-price-tile .added-price-tile-cnt {
    line-height: .2rem;
    font-size: .11rem;
    border-radius: 0 0 .04rem .04rem;
    background-color: #FB8903;
    color: #fff;
}

.main-inner-fuwudao .block-assess_report-product .p-price {
    width: 1.5rem;
}
.main-inner-fuwudao .block-assess_report-product .btn-reassess{
    position: relative;
    margin-top: 0;
    margin-right: .08rem;
    right: 0;
}
.main-inner-fuwudao .block-assess_report-cont .tb1 .td-tt{
    width: 50%;
}

.main-inner-fuwudao .block-assess_report-cont .tb2 td:nth-child(n){
    width: 50%;
}
.main-inner-fuwudao .block-assess_report-cont .tb2 td:nth-child(2n){
    width: 50%;
}
