/* 换新商品展示 */
.block-huanxin-product {
    background-color: #fff;
}

.block-huanxin-product .product-item,
.block-huanxin-product .product-item:hover {
    padding: 0 .1rem;
    color: #303030;
    text-decoration: none;
    overflow: hidden;
}

.block-huanxin-product .product-item .col-left-fixed {
    position: relative;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}

.block-huanxin-product .product-item .col-right {
    margin-left: .8rem;
    padding-top: .06rem;
    height: .8rem;
}

.block-huanxin-product .product-item .col-left-fixed .the-img {
    margin: .15rem;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.block-huanxin-product .product-item .tit {
    line-height: 1.44;
    color: #333;
    font-size: .12rem;
    font-weight: normal;
}

.block-huanxin-product .product-item .price {
    text-align: right;
    color: #999;
}

.block-huanxin-product .product-item .xinji-tab {
    position: absolute;
    top: 1px;
    left: 0;
    width: .2rem;
    height: .2rem;
    background: url(https://p.ssl.qhimg.com/t01fad08ed3fe527bfb.png) no-repeat 0 0;
    background-size: .2rem;
}

.block-huanxin-product .product-item .jiu-tab {
    position: absolute;
    top: 1px;
    left: 0;
    width: .16rem;
    height: .18rem;
    background: url(https://p.ssl.qhimg.com/t0156ec0737e69ff87f.png) no-repeat 0 0;
    background-size: .16rem;
}

.block-huanxin-product .product-item-new { }

.block-huanxin-product .product-item-old,
.block-huanxin-product .product-item-old:hover {
    position: relative;
    padding-right: .40rem;
}

.block-huanxin-product .product-item-old .tit { }

.block-huanxin-product .product-item-old .price {
    color: #ff781f;
}

.block-huanxin-product .product-item-old-del {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: .36rem;
    font-size: .16rem;
    text-align: center;
    color: #ccc;
    line-height: .8rem;
}

.block-huanxin-product .product-item-old-del:hover {
    background: #f0f0f0;
}

.block-huanxin-product .btn-add-more {
    display: block;
    text-align: center;
    height: .36rem;
    line-height: .36rem;
    text-decoration: none;
    font-size: .12rem;
    color: #08f;
}

/* END 换新商品展示 */


/*三星以旧换新*/
.block-huanxin-product .product-item .samsung-butie {
    text-align: right;
    color: #666;
}

.block-huanxin-product .samsung-butie span {
    color: #f00;
}


/* 换新价格 */
.block-huanxin-assess-price{
    padding: 0;
    background-color: #fff;
    color: #030303;
    font-size: .12rem;
    text-align: center;
}
.block-huanxin-assess-price .final-price-desc{
    display: block;
    height: .36rem;
    line-height: .36rem;
}
/*.block-huanxin-assess-price .price{*/
    /*color: #FF781F;*/
    /*font-size: .16rem;*/
/*}*/
/*.block-huanxin-assess-price .tip-label{*/
    /*margin-right: 4px;*/
    /*display: inline-block;*/
    /*padding: 0 5px;*/
    /*height: 18px;*/
    /*color: #fff;*/
    /*background-color: #CA0000;*/
    /*text-align: center;*/
/*}*/
.block-huanxin-assess-price .change-newproduct,
.block-huanxin-assess-price .change-newproduct:hover {
    display: block;
    height: .36rem;
    line-height: .36rem;
    color: #08f;
    font-size: .12rem;
    text-align: center;
    text-decoration: none;
}
