.block-model-suning-spread-assess-result{
    padding-top: 1px;;
    background-color: #fff;
    text-align: center;
}
.block-model-suning-spread-assess-result .p-img{
    margin: .1rem auto;
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.block-model-suning-spread-assess-result .p-info{
    position: relative;
    padding: .1rem;
}
.block-model-suning-spread-assess-result .p-name{
    height: .24rem;
    line-height: .24rem;
    font-size: .14rem;
    overflow: hidden;
}

.block-model-suning-spread-assess-result .p-price{
    font-size: .12rem;
    color: #f50;
}
.block-model-suning-spread-assess-result .p-price .p-num{
    font-size: .2rem;
}

.block-model-suning-spread-assess-result .desc{
    color: #666;
}
