.block-tcb-protocol {
}

.block-tcb-protocol h2 {
    padding: 8px 0;
    font-size: 18px;
    color: #000;
}

.block-tcb-protocol h3 {
    padding-bottom: 5px;
    font-size: 16px !important;
    color: #333;
}

.block-tcb-protocol h4 {
    padding-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.block-tcb-protocol p {
    padding-bottom: 10px;
    text-indent: 28px;
    font-size: 14px;
    line-height: 1.68;
    color: #666;
}

.block-tcb-protocol img {
    margin: 10px;
    max-width: 90%;
}

.block-tcb-protocol ol {
    padding-left: 36px;
}

.block-tcb-protocol ol li {
    padding-bottom: 15px;
    font-size: 14px;
    color: #666;
    list-style-type: decimal;
}

.block-tcb-protocol ul li {
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
    font-size: 14px;
    color: #666;
}

.block-tcb-protocol ul,
.block-tcb-protocol ol {
    padding-top: 8px;
}

.block-tcb-protocol ul li p,
.block-tcb-protocol ol li p {
    padding-bottom: 4px;
}

.block-tcb-protocol b,
.block-tcb-protocol strong {
    font-weight: bold;
    color: #333;
}

.block-tcb-protocol em,
.block-tcb-protocol i {
    font-style: italic;
}

.block-tcb-protocol th {
    font-style: initial;
    font-weight: initial;
}


.block-huishou-trade-rules ol li{
    padding-left: 0;
}

.block-tcb-platform-service-agreement {
}
