/* 按钮 */
.btn {
    font-size: .14rem;
    color: #fff;
    border-radius: .04rem;
}

.btn-green {
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background: #97d7b9;
    /*background: -webkit-gradient(linear, 0% 75%, 0% 0%, from(#82cfab), to(#97d7b9), color-stop(0.0, #69c59b));*/
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#69c59b), to(#97d7b9), color-stop(0.75, #82cfab));
    box-shadow: 0 .05rem .2rem rgba(130, 207, 171, 0.4);
}

.btn-yellow {
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background: #0b7;
    /*background: #ff9c64;*/
    /*background: -webkit-gradient(linear, 0% 75%, 0% 0%, from(#ff8743), to(#ff9c64), color-stop(0.0, #ff6e1b));*/
    /*background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ff6e1b), to(#ff9c64), color-stop(0.75, #ff8743));*/
    /*box-shadow: 0 .05rem .2rem rgba(255, 156, 100, 0.4);*/
}

.btn-disabled {
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background: #ddd;
    box-shadow: none;
}

.btn-reassess,
.btn-show-assess-report {
    display: block;
    width: .68rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .12rem;
    color: #666;
    margin-top: .02rem;
}

/* END 按钮 */
