.dialog-suning-spread-zhimacredit-auth {
    background-color: #fff;
    border: 0;
    text-align: center;
    color: #666;
}

.dialog-suning-spread-zhimacredit-auth .dialog-inner {
    padding-top: .3rem;
    padding-bottom: .2rem;
}

.dialog-suning-spread-zhimacredit-auth .dialog-close {
    top: .1rem;
    right: .1rem;
    background: url(https://p2.ssl.qhmsg.com/t01a852b0cb718e06d3.jpg) no-repeat center 0;
    background-size: 0.2048rem 0.2048rem;
}

.dialog-suning-spread-zhimacredit-auth .suning-spread-zhimacredit-auth-tit {
    padding-top: .7rem;
    font-size: .20rem;
    background: url(https://p2.ssl.qhmsg.com/t0118bd38151d492c5f.jpg) no-repeat center 0;
    background-size: 0.8533333333333334rem 0.64rem;
    color: #000;
}

.dialog-suning-spread-zhimacredit-auth .suning-spread-zhimacredit-auth-desc {
    padding: .1rem;
    font-size: .14rem;
}

.dialog-suning-spread-zhimacredit-auth .btn-suning-spread-zhimacredit-auth {
    margin: .1rem .1rem;
    display: block;
    height: .44rem;
    line-height: .44rem;
    border-radius: .04rem;
    background-color: #ffcd32;
    color: #000;
}

.dialog-suning-spread-zhimacredit-auth .go-order-direct {
    color: #999;
    text-decoration: underline;
}