.page-order_submit .block-inner {
    background-color: #fff;
}

.page-order_submit .row {
    height: .44rem;
    line-height: .44rem;
    padding: 0 .15rem;
}

.page-order_submit .block-tit {
    color: #999;
}

/*.page-order_submit .arrow-right {*/
/*padding-left: .2rem;*/
/*}*/

.page-order_submit .arrow-right:after {
    width: .1rem;
    height: .1rem;
    color: #999;
}

.page-order_submit .block-order-form .row-bao h3 {
    font-size: .12rem;
    padding-bottom: .05rem;
}

.page-order_submit .block-order-form .vcode-img {
    width: 100%;
    height: .36rem;
    vertical-align: top;
}

.page-order_submit .block-order-form .b-radius {
    height: .36rem;
}

/*下单方式*/
.page-order_submit .row-hs-style-check .icon-circle {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    vertical-align: middle;
}

.page-order_submit .row-hs-style-checked .icon-circle {
    color: #0b7;
    line-height: .7;
    font-size: .22rem;
    background: none;
    /*background: url("https://p.ssl.qhimg.com/t01d6f10c710e86b410.png") no-repeat center;*/
    /*background-size: .22rem;*/
    border: none;
}

/*---订单信息---*/
.page-order_submit .block-order-form {
    color: #999;
    font-size: .12rem;
    padding-bottom: .1rem;
}

.page-order_submit .block-order-form .row {
    /*margin-left: .15rem;*/
    padding-right: .15rem;
}

/*.page-order_submit .block-order-form .ipt-txt{*/
/*height: .36rem;*/
/*line-height: .36rem;*/
/*line-height: normal;*/
/*border: 1px solid #ddd;*/
/*border-radius: 6px;*/
/*padding: 0 .08rem;*/
/*width: 100%;*/
/*}*/
.page-order_submit .block-order-form .row-use-promo {
    padding: .04rem .15rem;
}

.page-order_submit .block-order-form .btn-send-vcode {
    display: inline-block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    vertical-align: top;
    background-color: #0b7;
    color: #fff;
    text-align: center;
}

.page-order_submit .block-order-form .btn-send-vcode.hsbtn-vcode-dis {
    border: 1px solid #eee;
    color: #999;
    background: #f2f2f2;
    background-clip: padding-box;
}

.page-order_submit .block-order-form .btn-send-vcode.hsbtn-vcode-dis:before {
    display: none;
}

.page-order_submit .block-order-form .order-tips {
    height: .28rem;
    line-height: .28rem;
    font-size: .1rem;
    color: #999;
}

/*上门回收*/
.page-order_submit .block-order-form .row-bao {
    padding-top: .1rem;
    line-height: .16rem;
    height: .7rem;
}

.page-order_submit .block-order-form .user_address {
    display: block;
    height: .4rem;
    line-height: .4rem;
    padding-left: .08rem;
    border: 1px solid #eee;
    border-radius: .04rem;
    text-decoration: none;
    color: #999;
}

/*扫码回收*/
.page-order_submit .block-order-code .code {
    margin: .2rem auto;
    padding-top: 1px;
    width: 1.44rem;
    height: 2.48rem;
    background: url(https://p.ssl.qhimg.com/t01098794bbd4011e8a.jpg) no-repeat 0 0;
    background-size: cover;
}

.page-order_submit .block-order-code .code img {
    margin: 1.2rem auto 0 auto;
    display: block;
    width: 82%;
}

/* 回收方式选择栏 */
.block-order-style .row-hs-style-check {
    color: #333;
}

.block-order-style .row-hs-style-check > div {
    height: .44rem;
}

.block-order-style .row-hs-style-check .col-12-4 {
    padding-left: .06rem;
}

.block-order-style .service-type-icon {
    /*font-size: 0;*/
    color: #0b7;
}

.page-order_submit .trigger-select-city.disabled,
.page-order_submit .trigger-select-city.disabled .city-name,
.page-order_submit .trigger-select-city.disabled .switch-city,
.page-order_submit .trigger-select-city.disabled .switch-city:after {
    color: #e3e3e3;
    border-color: #e3e3e3;
}

/*没有支持的服务*/
.page-order_submit .block-order-no-service-support {
    color: #666;
    text-align: center;
    font-size: .12rem;
    padding: .1rem 0 .2rem;
}

.page-order_submit .block-order-no-service-support .row-hs-style-check {
    display: none;
}

.page-order_submit .block-order-no-service-support img {
    width: 100%;
}

/*.block-order-youji .service-type-icon {*/
/*background: transparent url(https://p2.ssl.qhimg.com/t01260805f587953dc4.png) no-repeat center;*/
/*background-size: 80%;*/
/*}*/

/*.block-order-shangmen .service-type-icon {*/
/*background: transparent url(https://p0.ssl.qhimg.com/t01a95e8a2c8d464514.png) no-repeat center;*/
/*background-size: 80%;*/
/*}*/

/*.block-order-daodian .service-type-icon {*/
/*background: transparent url(https://p4.ssl.qhimg.com/t0164d422c23e3b1bec.png) no-repeat center;*/
/*background-size: 80%;*/
/*}*/

/*.block-order-code .service-type-icon {*/
/*background: transparent url(https://p.ssl.qhimg.com/t01146c216430c8f676.png) no-repeat center;*/
/*background-size: 80%;*/
/*}*/

/*.block-order-daodian-budan .service-type-icon {*/
/*background: transparent url(https://p.ssl.qhimg.com/t01b1f5b1ec1025a080.png) no-repeat center;*/
/*background-size: 80%;*/
/*}*/

/*金牌修修哥*/
.page-order_submit .block-order-form .icon-qian {
    color: #f84;
}

.page-order_submit .block-order-form .agree-protocol-label .icon-jinpai {
    position: absolute;
    right: .15rem;
    top: 0;
    color: #ffc107;
    font-size: .24rem;
    width: .3rem;
    text-align: right;
}
