/*邮寄回收*/

/* 收款方式选择tab样式，默认两列样式，三列样式显示声明 */
.page-order_submit .block-order-form .row-payout-method .payout-method-item {
    margin-right: .05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: .36rem;
    line-height: .36rem;
    padding: 0 0 0 .12rem;
    font-size: 0;
    color: #333;
    /*overflow: hidden;*/
}

.page-order_submit .block-order-form .row-payout-method .col-2-1:last-child .payout-method-item {
    margin-right: 0;
    margin-left: .05rem;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item.b-radius-green {
    /*color: #0b7;*/
    background-color: #e0fff4;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .txt {
    font-size: .12rem;
    vertical-align: middle;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item img {
    margin-right: .1rem;
    width: .24rem;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .iconfont {
    margin-right: .04rem;
    font-size: .14rem;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .iconfont.icon-payment-weixin {
    color: #1bad18;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .iconfont.icon-payment-alipay {
    color: #05aaea;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .iconfont.icon-payment-bank {
    color: #0b7;
}

/* 3列 */
.page-order_submit .block-order-form .row-payout-method .col-3-1 {
}

.page-order_submit .block-order-form .row-payout-method .col-3-1 .payout-method-item {
    margin: 0 .015rem;
    padding-left: .06rem;
}

.page-order_submit .block-order-form .row-payout-method .col-3-1:first-child .payout-method-item {
    margin-left: 0;
    margin-right: .03rem;
}

.page-order_submit .block-order-form .row-payout-method .col-3-1:last-child .payout-method-item {
    margin-right: 0;
    margin-left: .03rem;
}

.page-order_submit .block-order-form .row-payout-method .col-3-1 .payout-method-item img {
    margin-right: .04rem;
    width: .14rem;
}

.page-order_submit .block-order-form .row-payout-method .col-3-1 .payout-method-item .txt {
    font-size: .1rem;
}

/*.page-order_submit .block-order-form .row-payout-method .payout-method-wechat{*/
/*padding-left: 0;*/
/*text-align: center;*/
/*}*/
.page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc {
    padding: .15rem;
    font-size: .12rem;
    text-align: center;
}

.page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc a {
    color: #08f;
    line-height: 2;
    text-decoration: underline;
}

.page-order_submit .block-order-form .block-pay-info .block-pay-info-wechat-desc .wechat-nickname {
    color: #f01;
}

.page-order_submit .block-order-form .block-pay-info .pay-info-wechat-qrcode {
    text-align: center;
}

.page-order_submit .block-order-form .block-pay-info .pay-info-wechat-qrcode-tit {
    font-size: .12rem;
    line-height: 2;
    color: #333;
}

.page-order_submit .block-order-form .block-pay-info .pay-info-wechat-qrcode img {
    margin: 0 auto;
    display: block;
    width: 50%;
    min-height: 1.6rem;
}

.page-order_submit .block-order-form .block-pay-info .pay-info-wechat-qrcode a {
    color: #08f;
    line-height: 2;
    text-decoration: underline;
}

/* 4列的时候的样式 */
.page-order_submit .block-order-form .row-payout-method .col-4-1 .payout-method-item {
    padding-left: 0;
}

.page-order_submit .block-order-form .row-payout-method .col-4-1 .payout-method-item img {
    margin-right: .02rem;
}

/* 推荐文字 */
.page-order_submit .block-order-form .row-payout-method .payout-method-item .tuijian {
    position: absolute;
    left: 0;
    top: 0;
    font-size: .08rem;
    height: .14rem;
    line-height: .10rem;
    padding-left: .02rem;
    color: #fff;
    z-index: 1;
}

.page-order_submit .block-order-form .row-payout-method .payout-method-item .tuijian:before {
    content: '';
    position: absolute;
    top: -.08rem;
    left: -.18rem;
    width: .4rem;
    height: .2rem;
    transform: rotate(-40deg);
    background-color: #0b7;
    z-index: -1;
}
.m-show-offline-payout{
    display: none;
}
