.block-sn-xd-912j {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    min-width: 320px;
    background: #fd1b20 url(https://p2.ssl.qhimg.com/t010726f82dd9fdfff5.jpg) no-repeat center;
    background-size: cover;
}

.block-sn-xd-912j-top {
    margin: 0 auto;
    width: 62.685185%;
    padding-top: 76.759259%;
    background: transparent url(https://p1.ssl.qhimg.com/t01b032b95734b45417.png) no-repeat center;
    background-size: contain;
}

.block-sn-xd-912j-btn .btn-sn-xd-912j-go-hs {
    margin-top: .6rem;
    display: block;
    width: 2.002962962962963rem;
    height: 0.5155555555555555rem;
    background: transparent url(https://p2.ssl.qhimg.com/t0100f8433109ce1a73.png) no-repeat center;
    background-size: contain;
}
