.block-crazy-coupon{
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.block-crazy-coupon .crazy-coupon-tit{
    width: 100%;
    height: .4rem;
    background: #fff url(https://p.ssl.qhimg.com/t01aead65c93724b2a3.png) no-repeat 0 0;
    background-size: 3.2rem 1.2577777777777779rem;
    /*background: #fff url(https://p.ssl.qhimg.com/t01da94e1197887a94e.png) no-repeat 0 0;*/
    /*background-size: 3.5555555555555554rem 1rem;*/
}
.block-crazy-coupon .crazy-coupon-inner{
    padding-top: 1px;
    width: 100%;
    height: .8577777777777779rem;
    background: #fff url(https://p.ssl.qhimg.com/t01aead65c93724b2a3.png) no-repeat 0 -.4rem;
    background-size: 3.2rem 1.2577777777777779rem;
    /*width: 3.5555555555555554rem;*/
    /*height: .7rem;*/
    /*background: #fff url(https://p.ssl.qhimg.com/t01da94e1197887a94e.png) no-repeat 0 -.3rem;*/
    /*background-size: 3.5555555555555554rem 1rem;*/
}
.block-crazy-coupon .crazy-coupon-inner a,
.block-crazy-coupon .crazy-coupon-inner a:hover{
    display: block;
    height: .8rem;
    width: 100%;
    text-decoration: none;
}

.ui-dialog-crazy-coupon{
    width: 2.6844444444444444rem;
    height: 3.2577777777777777rem;
    border: 0;
}
.ui-dialog-crazy-coupon .dialog-inner{
    background: url(https://p.ssl.qhimg.com/t01617802de24e1dd95.png) no-repeat center;
    background-size: contain;
}