/* 品牌、机型列表*/
.block-model-list,
.block-brand-list {
    position: absolute;
    top: 1.71rem;
    right: 0;
    left: auto;
    bottom: 0;
    width: 80%;
    overflow: hidden;
}

.block-brand-list {
    left: 0;
    right: auto;
    width: 20%;
}

.block-brand-list .block-brand-list-inner {
    visibility: hidden;
}

.block-model-list .item,
.block-brand-list .item {
    display: block;
    height: .44rem;
    line-height: .44rem;
    color: #666;
    background-color: #fff;
}

.block-model-list .item {
    padding-left: .16rem;
    text-align: left;
    overflow: hidden;
}

.block-model-list .item:active {
    background: #f5f5f5;
}

.block-brand-list .item {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    overflow: hidden;
}

.block-model-list .item,
.block-brand-list .item:hover {
    text-decoration: none;
}

.block-brand-list .item.checked {
    background-color: #fff;
    color: #0b7;
    border-top: 1px solid #0b7;
    border-left: 3px solid #0b7;
}

.block-brand-list .item.checked-next {
    border-top: 1px solid #0b7;
}

.block-brand-list .item .item-inner {
    display: block;
    border-right: 1px solid #0b7;
}

.block-brand-list .item.checked .item-inner {
    border-right: none;
    background-image: none;
}

.model-list-no-result {
    padding: .4rem 0;
    text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .block-brand-list .item.checked-next,
    .block-brand-list .item.checked {
        border-top: 0;
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #0b7));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
    }

    .block-brand-list .item .item-inner {
        border: 0;
        background-position: right top;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #0b7));
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
    }
}

/* 品牌选择初始状态，三列品牌 */
.block-brand-list.inner-col-3 {
    font-size: 0;
}

.block-brand-list.inner-col-3 .item {
    margin-right: 0.5%;
    display: inline-block;
    width: 33%;
    font-size: .12rem;
    background-color: #fff;
    -webkit-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    -ms-transition: width .5s ease-out;
    transition: width .5s ease-out;
}

.block-brand-list.inner-col-3 .item:nth-child(3n) {
    margin-right: 0;
}

.block-brand-list.inner-col-3 .item .item-inner {
    border-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .block-brand-list.inner-col-3 .item .item-inner {
        border: 0;
        background-image: none;
    }
}
