.page-index .block-hot-model-wrap{
    /*display: none!important;*/
}
.page-index .block-hot-model-wrap .hot-model-tit {
    height: .3rem;
    line-height: .3rem;
    font-size: .14rem;
    padding: 0 .05rem;
}
.page-index .block-hot-model-wrap .hot-model-tit .hs-rules-btn{
    float: left;
    color: #444;
}
.page-index .block-hot-model-wrap .hot-model-tit .hs-rules-btn i{
    color:#0b7;
    font-size: .16rem;
    margin-left: .03rem;
}

.page-index .block-hot-model-wrap .hot-model-tit .countdown{
    float: right;
    font-size: 0;
}
.page-index .block-hot-model-wrap .hot-model-tit .countdown span{
    padding: .02rem .04rem;
    background: #444;
    border-radius: .02rem;
    color: #fff;
    font-size: .12rem;
}
.page-index .block-hot-model-wrap .hot-model-tit .countdown .desc-txt-before{
    color: #f50;
    background: transparent;
}
.page-index .block-hot-model-wrap .hot-model-tit .countdown .h-txt,
.page-index .block-hot-model-wrap .hot-model-tit .countdown .m-txt,
.page-index .block-hot-model-wrap .hot-model-tit .countdown .s-txt{
    background: transparent;
    color: #444;
}
.page-index .block-hot-model-wrap .hot-model-tit .countdown .d-num,
.page-index .block-hot-model-wrap .hot-model-tit .countdown .d-txt,
.page-index .block-hot-model-wrap .hot-model-tit .countdown .desc-txt-behind{
    display: none;
}

.page-index .block-hot-model{
    padding-top: .1rem;
    /*width: 3.2rem;*/
    width: 100%;
    overflow: hidden;
}
.page-index .block-hot-model .model-item {
    display: inline-block;
    width: 1.2rem;
    height: 1.65rem;
    float: left;
    position: relative;
    padding-bottom:.1rem;
    background: #fff;
    color: #444;
    text-align: center;
    margin-right:.03rem;
    text-decoration: none;
}
.page-index .block-hot-model .model-item:last-child {
    margin-right: 0;
}
.page-index .block-hot-model .model-item.hidden{
    display: none;
}

.page-index .block-hot-model .add-price-flag{
    position: absolute;
    top: -.11rem;
    left: .06rem;
    width: .4rem;
    height: 0.4rem;
    font-size: .12rem;
    /*background: url(https://p4.ssl.qhmsg.com/t01de8e3278e94aee1f.png) no-repeat center center/100% 100%;*/
    background: url(https://p.ssl.qhimg.com/t0122a4319677dcfed4.png) no-repeat center;
    background-size: contain;
    padding-top: .07rem;
    color: #fff;
    line-height: .12rem;
}
.page-index .block-hot-model .img{
    height: 1rem;
    overflow: hidden;
}
.page-index .block-hot-model img{
    height: 100%;
}
.page-index .block-hot-model .phone-name{
    font-size: .14rem;
}
.page-index .block-hot-model .aver-price{
    color: #f00;
    font-size: .14rem;
}
.page-index .block-hot-model .added-price{
    text-decoration: line-through;
    color: #999;
}
.page-index .dialog-hs-rules{
    border: none;
}
.page-index .dialog-hs-rules .dialog-inner{
    padding: 0;
    font-size: .14rem;
    color: #444;
    background: #fff;
    width: 2rem;
    margin: 0 auto;
    text-align: justify;
    border-radius: .1rem;
    overflow: hidden;
}
.page-index .dialog-hs-rules .dialog-inner .rule-ctn{
    padding: .1rem;
}
.page-index .dialog-hs-rules .dialog-inner .close-btn{
    display: block;
    height: .38rem;
    line-height: .38rem;
    background-color: #0b7;
    text-align: center;
    color: #fff;
    font-size: .14rem;
}
.page-index .dialog-hs-rules .dialog-close{
    display: none;
}
