.w100 {
    width: 100%;
}

.relative {
    position: relative;
}

.block-inner {
    margin: 0 auto;
    width: 1200px;
}

a:hover {
    text-decoration: none;
}

/***** page *****/
.page-hd-818 {
    background-color: #f62a4d;
    min-width: 1225px;
}

.page-hd-818 .ui-sp-product-list-1 {
    padding-bottom: 30px;
}

.page-hd-818 .ui-sp-product-list-1 .p-item {
    width: 298px;
}
.page-hd-818 .ui-sp-product-list-1 .p-item .p-sold-out{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
}

.page-hd-818 .ui-sp-product-list-1 .p-item .p-pic {
    padding-top: 30px;
    height: 160px;
}

.page-hd-818 .ui-sp-product-list-1 .p-item .p-pic img {
    height: 150px;
}

.page-hd-818 .ui-sp-product-list-1 .p-item .p-price-orig {
    width: auto;
}

.page-hd-818 .pagination {
    padding-bottom: 20px;
}

.page-hd-818 .pagination a {
    font-size: 16px;
    border: 1px solid #ffe896;
    color: #fff;
}

.page-hd-818 .pagination span {
    font-size: 18px;
    color: #ffe100;
}

.page-hd-818 .block-top {

}

.page-hd-818 .block-top,
.page-hd-818 .block-top .block-inner {
    height: 275px;
    background: url(https://p4.ssl.qhmsg.com/t01d55a8e4f611863e9.jpg) no-repeat center;
}

.page-hd-818 .block-sub,
.page-hd-818 .block-sub .block-inner {
    height: 330px;
    background: url(https://p2.ssl.qhmsg.com/t01ddbd97e8b933bded.jpg) no-repeat center;
}

.page-hd-818 .block-countdown {
    position: absolute;
    top: 185px;
    left: 304px;
    width: 589px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: #a73ee7;
    font-size: 20px;
    font-weight: bold;
}

.page-hd-818 .block-countdown .countdown {
    display: inline-block;
}

.page-hd-818 .block-countdown .d-num,
.page-hd-818 .block-countdown .h-num,
.page-hd-818 .block-countdown .m-num,
.page-hd-818 .block-countdown .s-num {
    padding: 0 2px;
    color: #f62a4d;
}

.page-hd-818 .block-1,
.page-hd-818 .block-1 .block-inner {

}

.page-hd-818 .block-1 .block-inner {
    margin-top: -70px;
}

.page-hd-818 .block-2,
.page-hd-818 .block-2 .block-inner {
    background: url(https://p4.ssl.qhmsg.com/t01d56ee03d6d0a61e9.jpg) no-repeat center 0;
}

.page-hd-818 .block-2 .block-inner {
    padding-top: 80px;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item {
    height: 312px;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row {
    margin: 10px;
    display: block;
    border: 1px solid #f62a4d;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .col-left-fixed {
    width: 168px;
    padding-left: 10px;
    text-align: left;
}
.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .row-price {
    line-height: 1.4;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .p-price-cur {
    vertical-align: baseline;
    color: #f62a4d;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .p-price-orig {
    display: inline-block;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .row-process {
    display: block;
    line-height: 1;
    color: #999;
    font-size: 0;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .process-txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .process-graphic {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 9px;
    background-color: #bbb;
}
.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .process-graphic-inner {
    display: block;
    width: 80%;
    height: 9px;
    background-color: #f62a4d;
}

.page-hd-818 .block-2 .ui-sp-product-list-1 .p-item .p-price-row .col-right {
    margin-left: 178px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #f62a4d;
}

.page-hd-818 .block-3,
.page-hd-818 .block-3 .block-inner {
    background: url(https://p1.ssl.qhmsg.com/t01deab2ff1b447b658.jpg) no-repeat center 0;
}

.page-hd-818 .block-3 .block-inner {
    padding-top: 377px;
}

.page-hd-818 .block-3 .tab-price-range {
    padding-bottom: 20px;
}

.page-hd-818 .block-3 .tab-price-range a {
    display: block;
    width: 293px;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
    text-align: center;
    background: url(https://p4.ssl.qhmsg.com/t01f9b15679d70a20ea.png) no-repeat center;
    color: #fff;
}

.page-hd-818 .block-3 .tab-price-range .selected {
    background: url(https://p4.ssl.qhmsg.com/t017a34729f6daab086.png) no-repeat center;
    color: #df0429;
}

.page-hd-818 .block-3 .tab-price-range .last {
    float: right;
}

/*服务介绍*/
.page-hd-818 .block-service-intro,
.page-hd-818 .block-service-intro .block-inner {
    background: url(https://p3.ssl.qhmsg.com/t0156610050bd1c2e78.jpg) no-repeat center;
}

.page-hd-818 .block-service-intro .block-inner {
    height: 256px;
    margin: 20px auto 0;
}

/*二维码扫一扫*/
.page-hd-818 .block-qrcode-info,
.page-hd-818 .block-qrcode-info .block-inner {
    background: url(https://p0.ssl.qhmsg.com/t01540a80f7fc31c991.jpg) no-repeat center 0;
}

.page-hd-818 .block-qrcode-info .block-inner {
    height: 267px;
    margin: 0 auto 30px;
}

/*合作伙伴*/
.page-hd-818 .block-partner,
.page-hd-818 .block-partner .block-inner {
    background: url(https://p1.ssl.qhmsg.com/t0187dda0b06a5f9f22.jpg) no-repeat center 0;
}

.page-hd-818 .block-partner .block-inner {
    height: 393px;
    margin: 0 auto 60px;
}
