.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1225px;
}
a:hover{
    text-decoration: none;
}

.page-hd-fathers-day {
    background:#e53d22;
    min-width: 1225px;
}
.page-hd-fathers-day .topbar .in{
    /*width: 1000px;*/
}

.page-hd-fathers-day .block-tit{
    height: 100px;
    /*line-height: 120px;*/
    background: url(https://p2.ssl.qhmsg.com/t01dd5a8c7ea5997c01.jpg) no-repeat center bottom;
    /*background:  no-repeat center 0;*/
    text-indent: -99999px;
}
.page-hd-fathers-day .block-tit .tit-cont{
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    text-align: center;
}
.page-hd-fathers-day .block-tit .more{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #aa242f;
    background: #fbd743;
    border-radius: 999px;
    text-indent: 0;
}

.page-hd-fathers-day .block-top,
.page-hd-fathers-day .block-top .block-inner{
    height: 348px;
    background: url(https://p2.ssl.qhmsg.com/t01acf4d9538835eeaf.jpg) no-repeat center;
}

.page-hd-fathers-day .block-sub,
.page-hd-fathers-day .block-sub .block-inner{
    height: 202px;
    background: url(https://p0.ssl.qhmsg.com/t011871489b71a20399.jpg) no-repeat center;
}
.page-hd-fathers-day .block-sub .block-coupon{
    position: absolute;
    left: 275px;
    top:50px;
    width: 920px;
    height: 110px;
    font-size: 0;
}
.page-hd-fathers-day .block-sub .block-coupon .coupon-item{
    display: inline-block;
    width: 230px;
    color: #fff;
    text-align: center;
    line-height: 1;
}
.page-hd-fathers-day .block-sub .block-coupon .money-symbol{
    font-size: 20px;
}
.page-hd-fathers-day .block-sub .block-coupon .money-num{
    font-size: 70px;
}
.page-hd-fathers-day .block-sub .block-coupon .coupon-item-desc{
    font-size: 24px;
    padding-top: 8px;
}

.page-hd-fathers-day .block-shishang,
.page-hd-fathers-day .block-shishang .block-inner{
    background: url(https://p3.ssl.qhmsg.com/t016734bf49bf5342d7.jpg) no-repeat center 0;
}

/*活动商品列表样式*/
.page-hd-fathers-day .ui-sp-product-list-1{
    min-height: 350px;
    padding: 9px;
    border: 3px solid #ffd43d;
}
/*四个一排*/
.page-hd-fathers-day .ui-sp-product-list-1 .p-item{
    /*margin: 5px;*/
    width: 298px;
    height: 350px;
}
.page-hd-fathers-day .ui-sp-product-list-1 .p-item .p-tit{
    font-size: 14px;
}
.page-hd-fathers-day .ui-sp-product-list-1 .p-item .p-pic{
    height: 150px;
    padding-top: 50px;
}
.page-hd-fathers-day .ui-sp-product-list-1 .p-item .p-pic img {
    height: 115px;
}
.page-hd-fathers-day .ui-sp-product-list-1 .p-item .p-desc{
    -webkit-line-clamp: 2;
    padding: 0 15px;
}
/*活动商品列表样式 end*/

/*服务介绍*/
.page-hd-fathers-day .block-service-intro,
.page-hd-fathers-day .block-service-intro .block-inner {
    background: url(https://p1.ssl.qhmsg.com/t015df810ace5c6794f.jpg) no-repeat center;
}
.page-hd-fathers-day .block-service-intro .block-inner{
    height: 286px;
    margin: 20px auto 0;
}
/*二维码扫一扫*/
.page-hd-fathers-day .block-qrcode-info,
.page-hd-fathers-day .block-qrcode-info .block-inner {
    background:url(https://p2.ssl.qhmsg.com/t01110294de2d33ca23.jpg) no-repeat center 0;
}
.page-hd-fathers-day .block-qrcode-info .block-inner{
    height: 251px;
    margin: 0 auto 30px;
}

/*合作伙伴*/
.page-hd-fathers-day .block-partner,
.page-hd-fathers-day .block-partner .block-inner {
    background:url(https://p0.ssl.qhmsg.com/t01c2dd45d1afbc72ca.jpg) no-repeat center 0;
}
.page-hd-fathers-day .block-partner .block-inner{
    height: 399px;
    margin: 0 auto 60px;
}

/*活动说明*/
.page-hd-fathers-day .block-desc{
    color: #aa242f;
}
.page-hd-fathers-day .block-desc .block-inner{
    padding: 20px 0 80px 0;
}
.page-hd-fathers-day .block-desc .block-desc-cont{
    color: #aa242f;
    /*padding: 15px 0 0;*/
    background-color: #fbd743;
    /*text-align: center;*/
    /*border-radius: 5px;*/
    padding: 10px 20px 20px;
}
.page-hd-fathers-day .block-desc .block-desc-cont h3{
    font-weight: bold;
    font-size: 22px;
}
.page-hd-fathers-day .block-desc .block-desc-cont p{
    font-size: 16px;
}
