.page-xxg-order-detail .block-order-deal-info{
    padding: 0 .1rem;
    background-color: #fff;
    border-radius: .08rem .08rem 0 0;
}
.page-xxg-order-detail .block-order-deal-info .row{
    padding: 1px .06rem;
    line-height: .3rem;
}
.page-xxg-order-detail .block-order-deal-info .btn{
    padding: 0 .06rem;
    display: inline-block;
    vertical-align: middle;
    line-height: .22rem;
    font-size: .12rem;
    border-radius: .06rem;
    color: #fff;
    background-color: #ff8844;
    text-align: center;
}
/*.page-xxg-order-detail .block-order-deal-info .btn-disabled{*/
    /*height: .22rem;*/
    /*width: auto;*/
    /*background-color: #999;*/
/*}*/
.page-xxg-order-detail .block-order-deal-info .btn.btn-disabled{
    width: auto;
    height: auto;
    background-color: #ddd;
}
.page-xxg-order-detail .block-order-deal-info .align-right{
    font-size: 0;
}
.page-xxg-order-detail .block-order-deal-info .input-none-border{
    height: .3rem;
}
.page-xxg-order-detail .block-order-deal-info .textarea-none-border{
    height: .44rem;
}
.page-xxg-order-detail .block-order-deal-info .input-none-border input,
.page-xxg-order-detail .block-order-deal-info .textarea-none-border textarea{
    background-color: transparent;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title,
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title a{
    color: #333;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title a:hover{
    text-decoration: none;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title.row-order-deal-title-tab {
    text-align: center;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title.row-order-deal-title-tab .tab-item {
    margin: 0 auto;
    display: block;
    width: 90%;
    border-bottom: 2px solid #fff;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-title.row-order-deal-title-tab .tab-item.tab-item-checked {
    color: #16a654;
    border-bottom: 2px solid #16a654;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-view-btn{}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-view-btn .col-12-6{
    padding: .1rem .06rem;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-view-btn .btn{
    display: block;
    line-height: .3rem;
    color: #ff8844;
    background-color: #fff;
    font-size: .12rem;
    text-align: center;
}

.page-xxg-order-detail .block-order-deal-info .row-order-deal-customer-id-num{}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-customer-id-num .col-12-6{
    width: 45%;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-customer-id-num .col-12-3:last-child{
    width: 30%;
}
/* 新增加顾客姓名显示,所以写了这个样式 */
.page-xxg-order-detail .block-order-deal-info .row-customer-name-id {
    min-height: .3rem;
    display: flex;
}
.page-xxg-order-detail .block-order-deal-info .row-customer-name-id .customer-info-title{
    width: .72rem;
    height: .3rem;
}
.page-xxg-order-detail .block-order-deal-info .row-customer-name-id .customer-info {
    width: 1.7rem;
    padding: 0 .08rem;
}
.page-xxg-order-detail .block-order-deal-info .row-customer-name-id .customer-info-right {
    height: .3rem;
    align-self: center;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-reassess-price{
    color: #ff8844;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-memo{}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-memo .col-12-7{
    padding-top: .06rem;
    line-height: 1.8;
}
.page-xxg-order-detail .block-order-deal-info{}

.page-xxg-order-detail .dialog-order-detail-picture{
    height: 9rem;
}

.page-xxg-order-detail .block-order-deal-info .row-checked-end{
    padding-top: .12rem;
    padding-bottom: .12rem;
    line-height: 1.5;
    text-align: center;
    color: #16a654;
}

/* 圆形圆角全边框 */
.page-xxg-order-detail .block-order-deal-info .b-radius-circle-orange {
    border: 1px solid #ff8844;
    border-radius: 9999px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .page-xxg-order-detail .block-order-deal-info .b-radius-circle-orange {
        position: relative;
        border: 0;
    }

    .page-xxg-order-detail .block-order-deal-info .b-radius-circle-orange:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ff8844;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 19998px;
        pointer-events: none;
    }
}

/*带单人员*/
.page-xxg-order-detail .block-order-deal-info .row-order-deal-daidan-staff{
    color: #333;
}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-daidan-staff .icon-gengduo{
    font-size: .1rem;
}


/*苏宁礼品卡*/
.page-xxg-order-detail .block-order-deal-info .row-order-deal-suning_gift_card{}
.page-xxg-order-detail .block-order-deal-info .row-order-deal-suning_gift_card .col-12-7{
    color: #999;
}
