.dialog-xxg-manager-check-reject{
    position: absolute;
    top: .2rem;
    left: .1rem;
    right: .1rem;
    z-index: 99998;
    margin: 0 auto;
    max-width: 700px;
    padding: .3rem .1rem .25rem;
    border-radius: .04rem;
    border: 0;
    background-color: #fff;
    text-align: center;
}
.dialog-xxg-manager-check-reject .dialog-inner{
    padding: .05rem;
    height: 100%;
    overflow: auto;
    font-size: .12rem;
    color: #202020;
}
.dialog-xxg-manager-check-reject .title{
    padding: .1rem;
    font-size: .24rem;
}
.dialog-xxg-manager-check-reject .content{
    padding: .1rem .1rem .2rem;
}
.dialog-xxg-manager-check-reject .bottom{
    text-align: right;
}

.dialog-xxg-manager-check-reject-mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99997;
    background: #000;
    opacity: .6;
}