/* 订单详情底部按钮 */
.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0 auto;
    padding: .1rem;
    max-width: 1080px;
    min-width: 320px;
    background-color: #fff;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .col-12-5,
.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .col-10 {
    padding: 0 .1rem 0 0;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .btn {
    display: block;
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
    border-radius: 9999px;
    color: #fff;
    background-color: #f84;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .btn.btn-disabled,
.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .btn.btn-cancel {
    background-color: #999;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .btn.btn-green-plain {
    background-color: #16a654;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn .btn.btn-go-next-lock {
    opacity: .5;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn-suning-one-stop-order {
    display: none;
}

.page-xxg-order-detail .block-order-deal-info-bottom-btn .row-btn-sf-fix-order {
    display: none;
}

