/*横向状态进度条*/
.page-xxg-order-detail .process-align{
    position: relative;
    display: block;
    margin: .1rem .2rem .25rem;
    font-size: .12rem;
    color: #999;
}
.page-xxg-order-detail .process-align .label{
    display: inline-block;
    width: .24rem;
    height: .24rem;
    line-height: .24rem;
    border-radius: 9999px;
    text-align: center;
    background: #CCC;
    color: #fff;
    vertical-align: top;
}
.page-xxg-order-detail .process-align .process-step-last{
    float: right;
    width: .24rem;
}
.page-xxg-order-detail .process-align .process-step{
    margin-top: .12rem;
    float: left;
    width: 33.3333333333%;
}
.page-xxg-order-detail .process-align .process-step .inner-line{
    height: 2px;
    background: #ccc;
}
.page-xxg-order-detail .process-align .process-step .label{
    float: left;
    margin-top: -.12rem;
}
.page-xxg-order-detail .process-align .process-step-actived{
    color: #185;
}
.page-xxg-order-detail .process-align .process-line-txt{
    position: relative;
    padding-top: .26rem;
}
.page-xxg-order-detail .process-align .process-step-last-txt{
    position: absolute;
    right: -6px;
}
.page-xxg-order-detail .process-align .process-step-prev-txt{
    position: absolute;
    left: 0;
    right: .2rem;
}
.page-xxg-order-detail .process-align .process-step-txt{
    float: left;
    width: 33.3333333333%;
    text-indent: -.08rem;
}

.page-xxg-order-detail .process-align .process-step-first{
    float: left;
    width: .24rem;
}
.page-xxg-order-detail .process-align .process-step-next{
    margin-left: .24rem;
}
.page-xxg-order-detail .process-align .process-step-next .label{
    float: right;
}
.page-xxg-order-detail .process-align .process-step-next .inner-line{
    background: #ccc;
}
.page-xxg-order-detail .process-align .process-step-actived .label,
.page-xxg-order-detail .process-align .process-step-actived .inner-line{
    background: #185;
}

.page-xxg-order-detail .block-order-status .order-btn-line{
    text-align: center;
    padding-bottom: .1rem;
    font-size: .14rem;
}
.page-xxg-order-detail .block-order-status .btn{
    line-height: 1;
    padding: .08rem .2rem;
    font-size: .14rem;
    color: #fff;
    background-color: #f50;
}
.page-xxg-order-detail .block-order-status .btn-disabled{
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ddd;
}
/*END横向状态进度条*/
