.swipe-section.swipe-page-customer-service-complete {
    position: fixed;
}

.swipe-section.swipe-page-customer-service-complete .icon-close {
    display: none;
}

.swipe-page-customer-service-complete .swipe-main-content {
    position: absolute;
    top: .44rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.swipe-page-customer-service-complete .block-service-complete {
    text-align: center;
}

.swipe-page-customer-service-complete .block-service-complete .icon-circle-tick {
    margin: .4rem 0 0;
    font-size: .7rem;
    line-height: 1;
    color: #16a654;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-desc {
    font-size: .14rem;
    line-height: .34rem;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-info {
    font-size: .14rem;
    line-height: .4rem;
    color: #f50;
    margin: 5%;
}

.swipe-page-customer-service-complete .block-service-complete svg {
    max-width: 100%
}

/*操作按钮*/
.swipe-page-customer-service-complete .block-service-complete .service-complete-btn {
    margin-top: .8rem;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-btn .btn {
    padding: 0 .1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: .28rem;
    font-size: 0.11rem;
    border-radius: 0;
    border: thin solid #e1e1e1;
    color: #000;
    background: #fff;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-btn .btn {
    width: 70%;
}
.swipe-page-customer-service-complete .block-service-complete .service-complete-btn .btn.btn-none-border {
    border: 0;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-btn .btn.btn-circle {
    border-radius: 9999px;
}

.swipe-page-customer-service-complete .block-service-complete .service-complete-btn .btn.btn-primary {
    color: #fff;
    background-color: #16a654;
}

