.page-in-app-xxg .swipe-page-customer-signature .swipe-main-content {
    top: 0;
}

.swipe-section.swipe-page-customer-signature {
    position: fixed;
}

.swipe-section.swipe-page-customer-signature .icon-close {
    display: none;
}

.swipe-page-customer-signature .swipe-main-content {
    position: absolute;
    top: .44rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 2.06rem;
    background-color: #f5f5f5;
}

.swipe-page-customer-signature .block-customer-agreement {
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 0 0 .08rem .08rem;
    color: #666;
}

.swipe-page-customer-signature .block-customer-agreement .tit {
    line-height: .42rem;
    text-align: center;
    font-size: .14rem;
    color: #333;
}

.swipe-page-customer-signature .block-customer-agreement-content {
    position: absolute;
    top: .52rem;
    left: 0;
    right: 0;
    bottom: .1rem;
    padding: 0 .1rem;
    overflow: auto;
    line-height: 1.5;
}

/*.swipe-page-customer-signature .block-customer-agreement-content ul {*/
    /*padding-left: .2rem;*/
/*}*/
/*.swipe-page-customer-signature .block-customer-agreement-content li {*/
    /*list-style: decimal;*/
    /*padding-bottom: .06rem;*/
/*}*/

.swipe-page-customer-signature .block-customer-signature {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .56rem;
    padding: .1rem;
    background-color: #fff;
    border-radius: .08rem .08rem 0 0;
}
.swipe-page-customer-signature .block-customer-signature .tit {
    line-height: .42rem;
    font-size: .14rem;
    color: #333;
    text-align: center;
}

.swipe-page-customer-signature .block-customer-signature-area {
    margin: .10rem auto;
    display: block;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    background-color: #cbcbcb;
    color: #fff;
    text-align: center;
}
.swipe-page-customer-signature .block-customer-signature-area .trigger-active-customer-signature,
.swipe-page-customer-signature .block-customer-signature-area .trigger-active-customer-signature:hover {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: .16rem;
    text-align: center;
    text-decoration: none;
    background: transparent no-repeat center;
    background-size: contain;
}

.swipe-page-customer-signature .swipe-block-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .1rem .1rem .1rem .1rem;
    background-color: #fff;
}

.swipe-page-customer-signature .btn-submit {
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
    border-radius: 9999px;
    color: #fff;
    background-color: #f84;
}

.swipe-page-customer-signature .btn-submit:active {
    background-color: rgba(255, 136, 68, 0.7);
}
.swipe-page-customer-signature .btn-submit.btn-disabled {
    background-color: #999;
}

.swipe-page-customer-signature .customer-signature-pad-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    overflow: hidden;
    background-color: #fff;
}
.swipe-page-customer-signature .customer-signature-pad { }
.swipe-page-customer-signature .customer-signature-pad-btn {
    position: absolute;
    top: 50%;
    margin-top: -.22rem;
    width: 100%;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
}
.swipe-page-customer-signature .customer-signature-pad-btn .btn {
    display: inline-block;
    height: .32rem;
    line-height: .32rem;
    width: 1.4rem;
    font-size: .14rem;
    color: #fff;
}
.swipe-page-customer-signature .customer-signature-pad-btn .btn.btn-signature-clear {
    background-color: #999;
}
.swipe-page-customer-signature .customer-signature-pad-btn .btn.btn-signature-clear:active {
    background-color: rgba(153, 153, 153, 0.7);
}
.swipe-page-customer-signature .customer-signature-pad-btn .btn.btn-signature-confirm {
    background-color: #f84;
}
.swipe-page-customer-signature .customer-signature-pad-btn .btn.btn-signature-confirm:active {
    background-color: rgba(255, 136, 68, 0.7);
}
.swipe-page-customer-signature .customer-signature-pad-close,
.swipe-page-customer-signature .customer-signature-pad-close:hover{
    position: absolute;
    top: .1rem;
    left: .1rem;
    z-index: 99999;
    width: .3rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .16rem;
    color: #333;
    text-decoration: none;
}
