.swipe-page-locked-tips .swipe-section-close {
    display: none;
}

.swipe-page-locked-tips .unlock-iphone-tips {
    /*position: relative;*/
    display: block;
    width: 100%;
    /*height: 14.01rem;*/
    /*background: url(https://p2.ssl.qhimg.com/t01dff8ac053077eb0c.jpg) no-repeat center;*/
    /*background-size: cover;*/

}

.swipe-page-locked-tips .unlock-iphone-tips-top {
    position: relative;
    padding: .2rem 0;
    text-align: center;
    color: #fff;
    background-color: #16a553;
}

.swipe-page-locked-tips .unlock-iphone-tips-bottom {
    display: block;
    width: 100%;
    height: 12.435rem;
    background: url(https://p2.ssl.qhimg.com/t01c015fe6d4e14aff2.jpg) no-repeat center;
    background-size: cover;
}

.swipe-page-locked-tips .unlock-iphone-tips-top .title {
    font-size: .2rem;
}

.swipe-page-locked-tips .unlock-iphone-tips-top .desc {
    font-size: .12rem;
}

.swipe-page-locked-tips .unlock-iphone-tips-top .tips {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .1rem 0;
    font-size: .10rem;
    color: #00ff6e;
}

.swipe-page-locked-tips .btn-locked-tips-show-service-complete,
.swipe-page-locked-tips .btn-locked-tips-show-service-complete:hover {
    /*position: absolute;*/
    /*top: 0.87rem;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
    /*width: 1.5rem;*/
    /*height: .4rem;*/
    margin: .2rem auto .36rem;
    padding: .06rem .1rem;
    display: inline-block;
    font-size: .15rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: .06rem;
    color: #fff;
    /*background-color: #000;*/
}

.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown span {
    display: none;
}

.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown .m-num,
.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown .m-txt,
.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown .s-num {
    display: inline-block;
    vertical-align: middle;
    font-size: .15rem;
}

.swipe-page-locked-tips .btn-locked-tips-show-service-complete .check-lock-countdown .m-txt {
    padding: 0 .02rem;
}

.cover-locked-tips {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover-locked-tips-inner {
    padding: .1rem;
    background-color: #fff;
}
