.block-assess-model {
    position: absolute;
    /*top: .44rem;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    /*height: .75rem;*/
    min-width: 320px;
    /*max-width: 720px;*/
    max-width: 1080px;
    width: 100%;
    background-color: #fff;
}

.block-assess-model .pre-assess-sku-list {
    padding: .04rem 0 .04rem .12rem;
    color: #f50;
}
.block-assess-model .row-assess-model-info { }

.block-assess-model .the-img {
    margin: .1rem;
    /*padding: .1rem;*/
    /*width: .75rem;*/
    /*height: .75rem;*/
    width: .55rem;
    height: .55rem;
    line-height: .55rem;
    background-color: transparent;
    /*background-image: url(https://p.ssl.qhimg.com/t01078047308a85471c.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*.block-assess-model .the-img img{*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*max-width: .55rem;*/
    /*max-height: .55rem;*/
    /*-webkit-transition: width .5s ease-out, height .5s ease-out;*/
    /*-o-transition: width .5s ease-out, height .5s ease-out;*/
    /*-ms-transition: width .5s ease-out, height .5s ease-out;*/
    /*transition: width .5s ease-out, height .5s ease-out;*/
/*}*/

.block-assess-model .the-name {
    max-width: 2.2rem;
}

.block-assess-model .average-price {
    color: #f50;
    font-size: .14rem;
}
