.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1200px;
}
a:hover{
    text-decoration: none;
}

.page-hd-nianhuojie {
    background:#eb2317 url("https://p0.ssl.qhmsg.com/t019fc50f9c16c80d05.png") repeat center 150px;
    min-width: 1200px;
}
.page-hd-nianhuojie .dialog-inner{
    padding: 0;
}
.page-hd-nianhuojie .topbar .in{
    /*width: 1000px;*/
}

.page-hd-nianhuojie .block-tit{
    height: 210px;
    background: no-repeat center 0px;
}
.page-hd-nianhuojie .block-tit .tit-cont{
    font-weight: bold;
    font-size: 40px;
    color: #f3df7a;
    /*line-height: 120px;*/
    text-align: center;
    text-indent: -9999px;
    /*text-shadow: 0 5px 10px #f4e5ad;*/
    background-image: -webkit-linear-gradient(top, #f4e5ad 60%, #a37529 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    text-fill-color: #f3df7a;
    -webkit-text-fill-color: transparent;
}

/*头图*/
.page-hd-nianhuojie .block-top,
.page-hd-nianhuojie .block-top .block-inner{
    height: 653px;
    background: url(https://p4.ssl.qhmsg.com/t01276b6a4c23fc90f2.jpg) no-repeat center 0;
}
/*头图end*/
/*banner*/
.page-hd-nianhuojie .block-sub,
.page-hd-nianhuojie .block-sub .block-inner{
    height: 476px;
    background: url(https://p3.ssl.qhmsg.com/t018824b637449f0d82.jpg) no-repeat center 0;
}
/*banner end*/

/*神券*/
.page-hd-nianhuojie .block-shenquan,
.page-hd-nianhuojie .block-shenquan .block-inner{
    height: 580px;
    background: url(https://p4.ssl.qhmsg.com/t01462244f67879a029.jpg) no-repeat center 0;
    position: relative;
}
.page-hd-nianhuojie .block-shenquan .btn-shenquan{
    position: absolute;
    right: 200px;
    bottom: 54px;
    width: 164px;
    height: 164px;
}
.page-hd-nianhuojie .block-shenquan .btn-shenquan.btn-start{
    background: url(https://p2.ssl.qhmsg.com/t016e78402bb039129b.png) no-repeat center;
}
.page-hd-nianhuojie .block-shenquan .btn-shenquan.btn-not-start{
    background: url(https://p0.ssl.qhmsg.com/t01975b3c672b7064fc.png) no-repeat center;
    cursor: default;
}
.page-hd-nianhuojie .block-shenquan .btn-shenquan.btn-end{
    background: url(https://p0.ssl.qhmsg.com/t0145d7191f549aa4e3.png) no-repeat center;
    cursor: default;
}
/*神券 end*/

/*尾货专区*/
.page-hd-nianhuojie .block-weihuo .block-cont{
    height: 373px;
    background: url(https://p0.ssl.qhmsg.com/t01c80d3deaa2d9bce9.jpg) no-repeat center 0;
    position: relative;
}
.page-hd-nianhuojie .block-weihuo .block-cont .ewm{
    position: absolute;
    left: 515px;
    top: 45px;
    width: 200px;
    height: 200px;
}
/*尾货专区 end*/

/*活动商品列表样式*/
.page-hd-nianhuojie .ui-sp-product-list-1{
    min-height: 350px;
    background-color: #ad0101;
    padding: 0 24px 20px;
}

.page-hd-nianhuojie .ui-sp-product-list-1 .p-item{
    margin:0 2px;
    /*width: 298px;*/
    width: 284px;
    height: 350px;
    background: url(https://p4.ssl.qhmsg.com/t01e504ee8edcd3e78a.png) no-repeat center;
    border:none;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-tit{
    font-size: 14px;
    color: #fff;
    padding-top: 22px;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-pic{
    height: 150px;
    padding-top: 50px;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-price{
    padding: 0;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-price-cur{
    color: #ffc737;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item  .p-price-orig {
    width: auto;
    color: #fff;
    font-size: 14px;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-pic img {
    height: 115px;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .btn{
    color: #ad0101;
    font-size: 14px;
    background: #fff;
    width: 130px;
    padding: 5px;
    border-radius: 9999px;
}
.page-hd-nianhuojie .ui-sp-product-list-1 .p-item .p-sold-out{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
}
.page-hd-nianhuojie .more{
    display: block;
    margin: 10px auto;
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: #201d1d;
    border:1px solid #fedd91;
    border-radius: 999px;
    color: #fdee9a;
    background-image: -webkit-linear-gradient(top, #f4e5ad 30%, #a37529 100%);
    background-clip: content-box;
    -webkit-background-clip: text !important;
    text-fill-color: #f3df7a;
    -webkit-text-fill-color: transparent;
}
/*活动商品列表样式 end*/

/*服务介绍*/
.page-hd-nianhuojie .block-service-intro,
.page-hd-nianhuojie .block-service-intro .block-inner {
    background: url(https://p0.ssl.qhmsg.com/t0145b0f9c9382fb6fc.jpg) no-repeat center;
}
.page-hd-nianhuojie .block-service-intro .block-inner{
    height: 268px;
    margin: 20px auto;
}
/*二维码扫一扫*/
.page-hd-nianhuojie .block-qrcode-info,
.page-hd-nianhuojie .block-qrcode-info .block-inner {
    background:url(https://p2.ssl.qhmsg.com/t01546ef631a962c3cc.jpg) no-repeat center 0;
}
.page-hd-nianhuojie .block-qrcode-info .block-inner {
    height: 268px;
    margin: 0px auto 0px;
}

/*合作伙伴*/
.page-hd-nianhuojie .block-partner,
.page-hd-nianhuojie .block-partner .block-inner {
    background:url(https://p3.ssl.qhmsg.com/t01a43a9c52a30e9f55.jpg) no-repeat center 0;
}
.page-hd-nianhuojie .block-partner .block-inner {
    height: 470px;
    margin: 0px auto 60px;
}

/*登录面板*/
.nianhuojie-login-panel {
    width: 500px;
    background: #fff;
    border-radius: 6px;
}
.nianhuojie-login-panel .dialog-inner{
    color: #666;
    font-size: 12px;
}
.nianhuojie-login-panel form {
    margin: 25px auto;
    width: 350px;
}
.nianhuojie-login-panel .tit{
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.nianhuojie-login-panel .row{
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.nianhuojie-login-panel .col-left-fixed{
    width: 85px;
    text-align: right;
}
.nianhuojie-login-panel .col-right{
    margin-left: 90px;
    font-size: 0;
}
.nianhuojie-login-panel .inpt{
    height: 38px;
    padding: 0 10px;
    margin-right: 4px;
    width: 144px;
    border:1px solid #e3e3e3;
    border-radius: 3px;
    font-size: 12px;
}
.nianhuojie-login-panel .row-mobile .inpt{
    width: 238px;
}
.nianhuojie-login-panel .btn-get-secode {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 88px;
    height: 36px;
    line-height: 36px;
    color: #4a7;
    border:1px solid #4a7;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

.nianhuojie-login-panel .btn-get-secode:hover {
    text-decoration: none;
}
.nianhuojie-login-panel .btn-get-secode-disabled,
.nianhuojie-login-panel .btn-get-secode-disabled:hover {
    background: #ddd;
}
.nianhuojie-login-panel .vcode-img {
    width: 90px;
    height: 38px;
    vertical-align: middle;
}
.nianhuojie-login-panel .btn-order-confirm-submit {
    display: block;
    width: 150px;
    height: 34px;
    margin: 30px auto 0;
    line-height: 34px;
    border: 0;
    color: #fff;
    font-size: 14px;
    background: #4a7;
    cursor: pointer;
}

/*抢神券面板*/
.nianhuojie-shenquan-panel{
    background: transparent;
    border: none;
}
.nianhuojie-shenquan-panel .dialog-close,
.nianhuojie-shenquan-panel .dialog-close:hover{
    top: 15px;
    right: 15px;
}
.nianhuojie-shenquan-panel .shenquan-cont{
    width: 790px;
    height: 322px;
    background: url(https://p3.ssl.qhmsg.com/t01ee6f66917826c2a2.png) no-repeat center 0;
}
.nianhuojie-shenquan-panel .shenquan-cont2{
    width: 790px;
    height: 322px;
    background: url(https://p0.ssl.qhmsg.com/t0197749ab919b18f1c.png) no-repeat center 0;
}
.nianhuojie-shenquan-panel .shenquan-btn{
    position: absolute;
    left: 292px;
    top: 218px;
    width: 210px;
    height: 55px;
}

/*抽奖抽奖抽奖抽奖抽奖*/
/*奖品图*/
.page-hd-nianhuojie .block-lottery,
.page-hd-nianhuojie .block-lottery .block-inner{
    height: 800px;
    background: url(https://p2.ssl.qhmsg.com/t01e4474a2e7d902568.jpg) no-repeat center 0;
    position: relative;
}
.page-hd-nianhuojie .block-lottery .ewm {
    position: absolute;
    bottom: 29px;
    right: 231px;
    width: 230px;
    height: 230px;
    border-radius: 4px;
    overflow: hidden;
}
/*滚动中奖名单*/
.page-hd-nianhuojie .block-lottery .lottery-user{}
.page-hd-nianhuojie .block-lottery .lottery-user-list {
    position: absolute;
    top: 280px;
    right: 30px;
    width: 470px;
    height: 200px;
    overflow: hidden;
}

.page-hd-nianhuojie .block-lottery .lottery-user-list-inner {
    position: absolute;
    left: 0;
    top: 0;
}
.page-hd-nianhuojie .block-lottery .lottery-user-list .lottery-item{
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
}
.page-hd-nianhuojie .block-lottery .lottery-user-list .lottery-item-inner{
    padding-left: 32px;
    position: relative;
}
.page-hd-nianhuojie .block-lottery .lottery-user-list .lottery-item i{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 13px;
    border-radius: 999px;
    background: #fff;
}
/*抽奖抽奖抽奖抽奖抽奖 end*/








