.page-zhimacredit-order-detail-transaction-list {
}

.page-zhimacredit-order-detail-transaction-list .block-transaction-list{
    padding: 0 .1rem;
    background-color: #fff;
}
.page-zhimacredit-order-detail-transaction-list .block-transaction-list .row{
    padding: .1rem 0;
}
.page-zhimacredit-order-detail-transaction-list .block-transaction-list .col-12-4{
    text-align: right;
}
