.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    width: 1200px;
    margin: 0 auto;
}
a:hover{
    text-decoration: none;
}

.page-hd-huanxin-s7edge {
    background: #f4f4f3 url("https://p3.ssl.qhmsg.com/t01900643a8ed2331d9.png") repeat-y center 0;
    min-width: 1200px;
}
.page-hd-huanxin-s7edge .block1,
.page-hd-huanxin-s7edge .block1 .block-inner {
    height: 411px;
    background:url(https://p0.ssl.qhmsg.com/t01fa765ac683e54082.jpg) no-repeat center 0;
}
.page-hd-huanxin-s7edge .block1 .btn-liji-huanxin{
    width: 190px;
    height: 46px;
    position: absolute;
    right: 440px;
    top:285px;
    background: #543700;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
}
.page-hd-huanxin-s7edge .block2,
.page-hd-huanxin-s7edge .block2 .block-inner {
    height: 290px;
    background:url(https://p3.ssl.qhmsg.com/t01796152e2a829ddc6.jpg) no-repeat center 0;
}

.page-hd-huanxin-s7edge .block-desc .block-tit{
    font-size: 36px;
    color: #977635;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.page-hd-huanxin-s7edge .block-desc,
.page-hd-huanxin-s7edge .block-desc .block-inner{

}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont{
    width: 880px;
    margin: 0 auto;
    color: #333;
    font-size: 18px;
    padding-bottom: 80px;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont p{
    line-height: 1.6;
    padding-bottom: 8px;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .num{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    color: #b69350;
    background-color: #e0dcd5;
    border-radius: 999px;
    float: left;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .cont{
    float: left;
    width: 840px;
    padding-left: 10px;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .goto-liangpin{
    color: #fff;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .phone-num{
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .tips{
    font-size: 22px;
    padding: 10px 0;
}
.page-hd-huanxin-s7edge .block-desc .block-desc-cont .btn-details-dialog-trigger{
    color: #333;
    text-decoration: underline;
}
/*选择不同产品弹窗*/
.dialog-amazon-mate9-select-product-wrap{
    width: 1200px;
    height: 490px;
}
.dialog-amazon-mate9-select-product-wrap .dialog-close,
.dialog-amazon-mate9-select-product-wrap .dialog-close:hover{
    width: 60px;
    height: 60px;
    left: 50%;
    right: 0;
    top: -30px;
    margin-left: -30px;
    background-size: 60px;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item{
    width: 290px;
    float: left;
    text-align: center;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item a{
    padding: 45px 20px 0;
    display: block;
    height: 100%;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-line{
    position: absolute;
    right: 0px;
    top:40px;
    height: 365px;
    width: 1px;
    background: #f2f2f2;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .dialog-pic{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .dialog-pic img{
    height: 100%;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .dialog-tit{
    font-size: 22px;
    padding-top: 15px;
    color: #666;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .dialog-origin-price {
    color: #999;
    font-size: 18px;
    padding-top: 5px;
    text-decoration: line-through;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .dialog-price{
    padding-top: 5px;
    font-size: 22px;
    color: #b50d11;
}
.dialog-amazon-mate9-select-product-wrap .dialog-product-list .dialog-item .btn-huanxin{
    display: inline-block;
    width: 184px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    margin-top: 10px;
    background: #b50d11;
    color: #fff;
    border-radius: 999px;
}
.dialog-amazon-mate9-select-product-wrap .dialog-tips{
    font-size: 26px;
    color: #b50d11;
    text-align: center;
    padding-top: 26px;
}



