/*修修哥河南移动*/
.page-xxg-special-henan-yidong-register {
    line-height: 1;

}

.page-xxg-special-henan-yidong-register a:hover {
    outline: none;
}

.page-xxg-special-henan-yidong-register .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #17a654;
    box-shadow: 0 0.02rem 0.05rem 0.005rem rgba(9, 143, 66, 0.4);
}

.page-xxg-special-henan-yidong-register .form-cont {
    margin: .09rem;
    background-color: #fff;
    border-radius: .07rem;
    color: #000;
}

.page-xxg-special-henan-yidong-register .form-cont .form-tit {
    padding: .17rem 0;
    font-size: .15rem;
    font-weight: 600;
    text-align: center;
}

.page-xxg-special-henan-yidong-register .form-cont .form-tit .tit-sub {
    padding-top: 0.08rem;
    font-size: .11rem;
    font-weight: 400;
}

.page-xxg-special-henan-yidong-register label.grid {
    height: .44rem;
    padding: 0 .14rem;
}

.page-xxg-special-henan-yidong-register .grid .tit {
    width: .74rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .page-xxg-special-henan-yidong-register .input:after {
        display: none;
    }
}

.page-xxg-special-henan-yidong-register .trigger-select-province-city-area,
.page-xxg-special-henan-yidong-register .trigger-select-bank-name {
    height: 0.36rem;
}

.page-xxg-special-henan-yidong-register .trigger-select-province-city-area,
.page-xxg-special-henan-yidong-register .trigger-select-province-city-area:hover,
.page-xxg-special-henan-yidong-register .trigger-select-bank-name,
.page-xxg-special-henan-yidong-register .trigger-select-bank-name:hover {
    color: #000;
}

.page-xxg-special-henan-yidong-register .trigger-select-province-city-area.default {
    color: #666;
}

.page-xxg-special-henan-yidong-register .block-shop-register .trigger-select-province-city-area {
    padding-left: 0.08rem;
}


.page-xxg-special-henan-yidong-register .shipping-address-select-block.shipping-address-select-block-shop-register .col {
    width: 50%;
}

.page-xxg-special-henan-yidong-register .shipping-address-select-block.shipping-address-select-block-shop-register .col:first-child {
    display: none;
}

.page-xxg-special-henan-yidong-register .icon-you {
    font-size: .12rem;
    color: #000;
}

.page-xxg-special-henan-yidong-register .btn-get-sms-code,
.page-xxg-special-henan-yidong-register .vcode-img {
    width: 0.76rem;
    height: 0.26rem;
    font-size: .1rem;
    margin-left: .05rem;
}

.page-xxg-special-henan-yidong-register .btn-get-sms-code-disabled {
    color: #999;
    background: #f2f2f2;
    box-shadow: 0 0.02rem 0.03rem 0 rgba(102, 102, 102, 0.3);
}

.page-xxg-special-henan-yidong-register .block-xxg-register input:disabled {
    color: #000;
}

.page-xxg-special-henan-yidong-register .block-platform-sign input:disabled {
    color: #17a654;
}

.page-xxg-special-henan-yidong-register .form-btn {
    margin: .35rem auto 0;
    width: 1.58rem;
    height: 0.35rem;
    border-radius: 0.07rem;
}

.page-xxg-special-henan-yidong-register .block-success .icon-circle-tick {
    padding: 1rem 0 .2rem;
    font-size: .55rem;
    color: #12a553;
}

.page-xxg-special-henan-yidong-register .agree-protocol-label {
    margin: 0 0.09rem;
}

.swipe-section-register-protocol .swipe-section-close {
    display: none;
}

.swipe-section-register-protocol .cont {
    padding: 0.12rem;
    line-height: 1.68;
    color: #333;
    font-size: 0.12rem;
}

.swipe-section-register-protocol h3 {
    font-weight: bold;
    font-size: 0.14rem;
    padding-top: 0.1rem;
    padding-bottom: 0.05rem;
    color: #000;
}

.swipe-section-register-protocol p {
    text-indent: 2em;
}

.swipe-section-register-protocol li {
    padding-bottom: 0.06rem;
}

.swipe-section-register-protocol strong {
    font-weight: bold;
    color: #000;
}

.swipe-section-register-protocol .btn {
    margin: 0 .1rem .2rem;
    height: .3rem;
}

/*修修哥河南移动 end*/

