a, a:hover {
    text-decoration: none;
}

.page-hd-huanxin-kindle-lottery {
    background: #ee324b;
    font-size: .12rem;
}

.page-hd-huanxin-kindle-lottery .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-huanxin-kindle-lottery .block {
    width: 100%;
}


.page-hd-huanxin-kindle-lottery .block-top {
    height: 1.728888888888889rem;
    background: url(https://p3.ssl.qhmsg.com/t0174876c5a5a8b3db3.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-huanxin-kindle-lottery .block-lottery-bg {
    /*height: 0.6222222222222222rem;*/
    background: url(https://p0.ssl.qhmsg.com/t01855690e1b2a716ec.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-huanxin-kindle-lottery .block-desc{
    background: #fff;
    margin: .1rem;
    border-radius: .03rem;
    padding: .15rem .1rem;
}
.page-hd-huanxin-kindle-lottery .block-desc .desc-title{
    width: 1rem;
    height: .33rem;
    text-align: center;
    line-height: .33rem;
    font-size: .16rem;
    color: #fff;
    background-color: #ee324b;
    border-radius: 9999px;
    margin: 0 auto .1rem;
}
.page-hd-huanxin-kindle-lottery .block-desc .row{
    padding: .02rem 0;
}
.page-hd-huanxin-kindle-lottery .block-desc .col-left-fixed{
    width: 0.16444444444444445rem;
    height: 0.15555555555555556rem;
    text-align: center;
    line-height: 0.15555555555555556rem;
    background: url("https://p1.ssl.qhmsg.com/t01a44f9270dc106df7.png");
    background-size: cover;
    color: #fff;
    font-size: .1rem;
    margin-top: .03rem;
}
.page-hd-huanxin-kindle-lottery .block-desc .col-right{
    margin-left: .2rem;
}

/* 抽奖 */
.page-hd-huanxin-kindle-lottery .block-lottery-2 {
    position: relative;
    margin: 0 auto;
    padding: .05rem 0;
    width: 3.022222222222222rem;
    height: 2.6355555555555554rem;
    background: url("https://p0.ssl.qhmsg.com/t01feacf25092a37f28.png");
    background-size: cover;
    border-radius: .06rem;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .lottery-cell-list .cell{
    background-color: #ffe49c;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .lottery-cell-list .cell.cur{
    background-color: #fff;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .lottery-cell-list,
.page-hd-huanxin-kindle-lottery .block-lottery-2 .canvas-lottery-bonus{
    position: absolute;
    left: .01rem;
    right: 0;
    top: .24rem;
    margin: 0 auto;
    width: 2.5rem;
    height: 2.111111111111111rem;
    font-size: 0;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck{
    position: absolute;
    top: .96rem;
    left: 1.108rem;
    right: 1.108rem;
    bottom: 1rem;
    display: block;
    background: #f22a09 url(https://p2.ssl.qhmsg.com/t01d48cbc72176528b3.png) no-repeat center 0.1rem;
    background-size: .25rem;
    border-radius: .06rem;
    font-size: 0;
    text-align: center;
    padding: .04rem .04rem .06rem;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck:hover{
    text-decoration: none;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck-inner{
    border:1px solid #fff;
    border-radius: .06rem;
    width: 100%;
    height: 100%;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck .txt{
    display: inline-block;
    font-size: .15rem;
    color: #faec8a;
    vertical-align: middle;
    padding-top: .3rem;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck .sim-shadow {
    display: inline-block;
    width: .36rem;
    height: .36rem;
    font-size: 0;
    line-height: 0;
    background-color: #ffb3d7;
    border-radius: 999px;
    vertical-align: middle;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck .sim{
    display: inline-block;
    width: .36rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .16rem;
    vertical-align: middle;
    color: #fd6389;
    background: #f8e7c7;
    /*color: #cf1e24;*/
    border-radius: 999px;
    /*-webkit-transform: translate3d(0, -.03rem, 0);*/
    /*transform: translate3d(0, -.03rem, 0);*/
    -webkit-animation: button-clicking .8s ease 1s infinite;
    -moz-animation: button-clicking .8s ease 1s infinite;
    animation: button-clicking .8s ease 1s infinite;
}
.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck .sim-inner{
    margin: .02rem;
    display: block;
    width: .32rem;
    height: .32rem;
    line-height: .28rem;
    /*border: #cf1e24 .02rem solid;*/
    border: #fd3f99 .02rem solid;
    border-radius: 999px;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck.disabled{
    background-color: #eee;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck.disabled .sim{
    background-color: #ddd;
    color: #d0d0d0;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
    -webkit-animation: button-clicking-stop .8s ease 1;
    -moz-animation: button-clicking-stop .8s ease 1;
    animation: button-clicking-stop .8s ease 1;
}

.page-hd-huanxin-kindle-lottery .block-lottery-2 .btn-get-my-luck.disabled .sim-inner{
    border-color: #d0d0d0;
}
/* 抽奖 end */

/* 滚动中奖名单 */
.page-hd-huanxin-kindle-lottery .block-lottery-bingo{
    height: .6rem;
}
.page-hd-huanxin-kindle-lottery .block-lottery-bingo .block-lottery-bingo-list{
    position: absolute;
    top: 0.1rem;
    left: .25rem;
    right: .25rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    color: #fff;
    font-size: .14rem;
    background: #f26175;
    border-radius: .1rem;
    overflow: hidden;
}
.page-hd-huanxin-kindle-lottery .block-lottery-bingo .block-lottery-bingo-list .inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.page-hd-huanxin-kindle-lottery .block-lottery-bingo .block-lottery-bingo-list .item {
    display: block;
}
.page-hd-huanxin-kindle-lottery .block-lottery-bingo .block-lottery-bingo-list .item span{
    padding-right: .04rem;
    font-size: .16rem;
}
/* 滚动中奖名单 end */

/* 弹层 */
.erhuojie-panel{
    left: 0!important;
    right: 0!important;
    padding-bottom: .25rem;
    border: 0;
}
.erhuojie-panel .erhuojie-panel-bottom{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    background: url(https://p.ssl.qhimg.com/t01b3587e89cd3fc400.png) no-repeat center bottom;
    background-size: contain;
    background-position-y: -.05rem;
}
.erhuojie-panel .dialog-inner{
    margin: 0 .2rem;
    padding: 0 .14rem .3rem .14rem;
    display: block;
    background-color: #ee324b;
    border-radius: .06rem;
    color: #fff;
    font-size: .12rem;
}
.erhuojie-panel .dialog-close,
.erhuojie-panel .dialog-close:hover{
    top: -0.18rem;
    right: 0.04rem;
    width: .4rem;
    height: .4rem;
    background-image: url(https://p.ssl.qhimg.com/t01deb9471fcdd55a10.png);
    background-size: .4rem;
}

/* 登录弹层 */
.erhuojie-login-panel{ }
.erhuojie-login-panel .dialog-inner{
    text-align: center;
}
.erhuojie-login-panel .tit{
    padding: .1rem 0;
    color: #fff;
    font-size: .24rem;
}

.erhuojie-login-panel .row{
    padding-bottom: .08rem;
}
.erhuojie-login-panel .btn{
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background-color: #ffe49c;
    color: #ee324b;
    border-radius: 999px;
    font-size: .18rem;
}
.erhuojie-login-panel .vcode-img{
    width: 100%;
    height: .36rem;
}
.erhuojie-login-panel .btn-get-sms-code{
    font-size: .12rem;
    border-radius: .06rem;
}
.erhuojie-login-panel .btn-get-sms-code-disabled{
    color: #999;
    background: #f2f2f2;
}
.erhuojie-login-panel .desc{
    padding-top: .05rem;
    padding-bottom: .1rem;
    line-height: 2;
}

/* 中奖弹窗 */
.erhuojie-bingo-panel{
    text-align: center;
}
.erhuojie-bingo-panel .dialog-close{
    display: none;
}
.erhuojie-bingo-panel .dialog-inner{
    width: 2.4044444444444446rem;
    height: 3.3022222222222224rem;
    background: url("https://p1.ssl.qhmsg.com/t01a5bfade049dd180b.png") no-repeat center 0;
    background-size: cover;
    padding: .8rem 0 0;
    margin: 0 auto;
}
.erhuojie-bingo-panel .bingo-tit{
    height: .6rem;
    line-height: .6rem;
    font-size: .22rem;
}
.erhuojie-bingo-panel .bingo-cont{
    width: 1.96rem;
    height: .75rem;
    margin: .2rem auto 0;
}
.erhuojie-bingo-panel .bingo-name{
    font-size: .24rem;
}
.erhuojie-bingo-panel .bingo-time{
    color: #333;
    font-size: .1rem;
}
.erhuojie-bingo-panel .btn{
    display: block;
    width: 70%;
    height: .28rem;
    line-height: .28rem;
    background-color: #ee324b;
    color: #fff;
    border-radius: 999px;
    font-size: .13rem;
    margin: .04rem auto 0;
}
.erhuojie-bingo-panel .btn.btn-share-and-roll{
    background-color: #ffe49c;
    color: #ee324b;
}

/* 抽奖次数用光 */
.erhuojie-roll-empty-panel{
    text-align: center;
}

.erhuojie-roll-empty-panel .dialog-inner{
    padding-top: .15rem;
    padding-bottom: .7rem;
}
.erhuojie-roll-empty-panel .cnt{
    margin: .2rem auto;
    padding-top: .14rem;
    width: 2.5733333333333333rem;
    height: 0.5555555555555556rem;
    line-height: 1.2;
    background: url(https://p3.ssl.qhmsg.com/t01de39a38fda89b3b1.png) no-repeat center;
    background-size: cover;
    color: #cf1e24;
    font-size: .18rem;
}
.erhuojie-roll-empty-panel .btn{
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background-color: #ffe49c;
    color: #ee324b;
    border-radius: 999px;
    font-size: .18rem;
}

