
.blur{
    filter: blur(5px);
}
a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

.inpt {
    width: 100%;
    height: .34rem;
    padding: 0 .08rem;
    line-height: normal;
    font-size: .12rem;
    font-family: inherit;
    border: 0;
    border-radius: .04rem;
    background-color: #fff;
    color: #666;
}

.page-hd-suning-iphone8 {
    background-color: #fafafa;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.page-hd-suning-iphone8 .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-suning-iphone8 .block {
    position: relative;
    padding: 0;
    height: 1.6rem;
    overflow: hidden;
    font-size: 0;
    background: #fff url(https://p.ssl.qhimg.com/t01a30049177795fcc3.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-suning-iphone8 .coupon-dialog {
    width: 2.27rem;
    height: 2.66rem;
    border: none;
    background: url("https://p0.ssl.qhmsg.com/t01b2bae243c3669051.png") no-repeat center center/100% 100%;
}
.page-hd-suning-iphone8 .coupon-dialog .close-coupon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: .14rem;
    width: 2rem;
    height: .36rem;
}
.page-hd-suning-iphone8 .block-active-arrange{
    color: #898989;
    text-align: center;
}
.page-hd-suning-iphone8 .block-active-arrange .line {
    background: url("https://p4.ssl.qhmsg.com/t01e41d104710ae9930.png") no-repeat center center/100% 100%;
    height: .21rem;
}
.page-hd-suning-iphone8 .block-active-arrange .arrange-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .1rem;
}
.page-hd-suning-iphone8  .block-active-rule{
    color: #898989;
    padding: 0 .1rem;
    position: relative;
    background-color: #fff;
    margin-bottom: .3rem;
}
.page-hd-suning-iphone8  .block-active-rule .tit {
    text-align: center;
    font-size: .15rem;
    padding: .15rem 0;
}
.page-hd-suning-iphone8  .block-active-rule .rule-detail{
    width: 2rem;

}
.page-hd-suning-iphone8  .block-active-rule .rule-detail i {
    width: .17rem;
    height: .17rem;
    display: inline-block;
    background-color: #666666;
    text-align: center;
    line-height: .18rem;
    border-radius: 1rem;
    color: #fff;
    margin-right: .05rem;
}
.page-hd-suning-iphone8  .block-active-rule .show-coupon{
    position: absolute;
    top: 1.5rem;
    right: .1rem;
    width: .8rem;
    height: 1rem;
    background:url("https://p0.ssl.qhmsg.com/t01af9b18c5d8db7686.png") no-repeat center center/100% 100%;
}
/*-----------------index page----------------------*/
.page-hd-suning-iphone8-index .block1 {
    height: 3.7rem;
}
.page-hd-suning-iphone8-index .block4 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    margin: 0rem auto;
    color: #fff;
    text-align: center;
    font-size: .16rem;
}
.page-hd-suning-iphone8-index .block5{
    color: #999999;
    font-size: .12rem;
    text-align: center;
}
.page-hd-suning-iphone8-index .block5 .limit-num {
    padding: .2rem 0;
}
.page-hd-suning-iphone8-index .block5 .reward-list {
    position: relative;
    width: 3.05rem;
    height: .325rem;
    line-height: .325rem;
    margin: 0 auto;
    border-radius:.05rem;
    background-color: #f2f2f2;
    overflow: hidden;
}
.page-hd-suning-iphone8-index .block5 .reward-list .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.page-hd-suning-iphone8-index .block6 {
    /*height: 1.37rem;*/
}
.page-hd-suning-iphone8-index .block7 {

}
.page-hd-suning-iphone8-index .block7 .show-coupon{

}

/*-----------------after-share page----------------------*/
.page-hd-suning-iphone8-after-share .block1{
    height: 0.3rem;
}
.page-hd-suning-iphone8-after-share .block2{
    padding: 0 .1rem;
    font-size: .24rem;
    font-weight: 700;
    line-height: 1;
}
.page-hd-suning-iphone8-after-share .block2 p {
    padding-bottom: .03rem;
}
.page-hd-suning-iphone8-after-share .block3 {
    padding: .1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-hd-suning-iphone8-after-share .block3 span {
    display: inline-block;
    width: .41rem;
    height: .71rem;
    vertical-align: middle;
    position: relative;
}
.page-hd-suning-iphone8-after-share .block3 .shizi {
    background: url("https://p3.ssl.qhmsg.com/t01aeeb0d0d1aa74b96.png") no-repeat center center/100% 100%;
}
.page-hd-suning-iphone8-after-share .block3 .shizi:before {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: .03rem;
    left: .23rem;
    width: .5rem;
    height: .03rem;
    background-color: #0070C9;
}
.page-hd-suning-iphone8-after-share .block3 .kong {
     background: url("https://p3.ssl.qhmsg.com/t01631fa233f6fcec09.png") no-repeat center center/100% 100%;
 }
.page-hd-suning-iphone8-after-share .block3 .kong:before {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: .03rem;
    left: .23rem;
    width: .5rem;
    height: .03rem;
    background-color: #999999;
}
.page-hd-suning-iphone8-after-share .block3 .last {
    background: url("https://p2.ssl.qhmsg.com/t019141392b696b0866.png") no-repeat center center/100% 100%;
}
.page-hd-suning-iphone8-after-share .block3 .last span {
    line-height: 1;
    text-align: center;
    color: #fff;
    padding-top: .05rem;
}

.page-hd-suning-iphone8-after-share .block4 {
    height:1.03rem;
}
.page-hd-suning-iphone8-after-share .block5 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    margin: .2rem auto;
    color: #fff;
    text-align: center;
    font-size: .16rem
}
.page-hd-suning-iphone8-after-share .block6{
    color: #999999;
    font-size: .12rem;
    text-align: center;
}
.page-hd-suning-iphone8-after-share .block6 .limit-num {
    padding: .2rem 0;
}
.page-hd-suning-iphone8-after-share .block6 .reward-list {
    position: relative;
    width: 3.05rem;
    height: .325rem;
    line-height: .325rem;
    margin: 0 auto;
    border-radius:.05rem;
    background-color: #f2f2f2;
    overflow: hidden;
}
.page-hd-suning-iphone8-after-share .block6 .reward-list .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.page-hd-suning-iphone8-after-share .block7 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    margin: .2rem auto;
    color: #fff;
    text-align: center;
    font-size: .16rem
}
.page-hd-suning-iphone8-after-share .block8 {
    height: 1.56rem;
    margin-bottom: .3rem;
}
.page-hd-suning-iphone8-after-share .block8 .show-coupon{
    position: absolute;
    top: .5rem;
    right: .1rem;
    width: .8rem;
    height: 1rem;
}

.page-hd-suning-iphone8-after-share .dialog-mask {
    /*z-index: 19997;*/
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel {
    z-index: 19999;
    border: 0;
    background: transparent;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .dialog-close,
.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .dialog-close:hover {
    background-image: url(https://p1.ssl.qhmsg.com/t01996359aa355dd298.png);
    background-size: contain;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .dialog-inner {
    padding: 0;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .panel-head {
    text-align: center;
    padding:.1rem 0 ;
    font-size: .19rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .panel-body {
    padding: .6rem .16rem .5rem;
    background-color: #fafafa;
    border-radius: .05rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .panel-bottom {
    background: url(https://p4.ssl.qhmsg.com/t018a751849da864e02.jpg) no-repeat center 0;
    background-size: contain;
    height: .1rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .row {
    margin-bottom: .08rem;
    border: .01rem solid #aaa;
    border-radius: .05rem;
    overflow: hidden
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .col-left-fixed {
    width: 30%;
    background-color: #fff;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .col-left-fixed span {
    display: block;
    width: 90%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    background-color: #fff;
    color: #666;
    border-right: .01rem solid #999;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .col-right {
    margin-left: 30%;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .vcode-img {
    margin: 0 0 0 6%;
    display: block;
    width: 94%;
    height: .34rem;
    border: 0;
    border-radius: .02rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .btn-get-secode {
    margin: 0 0 0 6%;
    display: block;
    width: 94%;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    font-size: .12rem;
    border: 0;
    background: #fff;
    color: #666;
    border-radius: .02rem;
    border-left: .01rem solid #999;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .btn-get-secode.btn-get-secode-disabled {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .btn-submit {
    display: block;
    width: 60%;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    font-size: .14rem;
    background: #0070c9;
    color: #fff;
    border:1px solid #0070c9;
    border-radius: .04rem;
    /*border: 0;*/
    margin: 0 auto;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .succ-tit {
    padding: .1rem .2rem;
    /*padding: .47rem .2rem;*/
    font-size: .24rem;
    color: #fff;
    text-align: center;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .succ-desc {
    padding: 0 .2rem;
    font-size: .14rem;
    color: #999;

}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .succ-qrcode {
    margin: .14rem auto;
    width: 50%;
    border: 1px solid #dfd0a1;
    border-radius: .06rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .succ-qrcode img {
    border-radius: .06rem;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .trigger-select-province-city-area,
.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .trigger-select-province-city-area:hover {
    display: block;
    padding: 0 .08rem;
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    font-size: .12rem;
    font-family: inherit;
    border-radius: .02rem;
    background-color: #fff;
    color: #666;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .trigger-select-province-city-area.default {
    color: #666666;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .trigger-select-province-city-area.arrow-down:after {
    border-top-color: #666666;
    border-right-color: #666666;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .row-recycle-mobile .inpt {
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 82%;
    vertical-align: top;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .row-recycle-mobile .select-recycle-mobile {*/
/*position: absolute;*/
/*top: 2px;*/
/*left: 2px;*/
/*right: 2px;*/
/*bottom: 2px;*/
/*width: 96%;*/
/*height: 80%;*/
/*border: 0;*/
/*}*/

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .row-recycle-mobile .trigger-select-recycle-mobile {
    display: inline-block;
    vertical-align: top;
    padding: 0 .08rem;
    width: 18%;
    height: .34rem;
    line-height: normal;
    font-size: .12rem;
    background-color: #fff;
    border-left: 1px solid #666;
    border-radius: .02rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .row-recycle-mobile .trigger-select-recycle-mobile.arrow-down:after {
    border-top-color: #666666;
    border-right-color: #666666;
}


.page-hd-suning-iphone8-after-share .suning-iphone8-apply-panel .form-disabled .btn-submit {
    color: #fff;
    background: #e0e0e0;
    border: #ccc;
}

/*-----------------success page---------------------------*/

.page-hd-suning-iphone8-yy-succ .block1{
    height:2.14rem;
}
.page-hd-suning-iphone8-yy-succ .block2 {
    padding: .18rem 0;
    color: #ff5500;
    font-size: .135rem;
    text-align: center;
}
.page-hd-suning-iphone8-yy-succ .block3 {
    height: 1.1rem;
}
.page-hd-suning-iphone8-yy-succ .block4{
    font-size: .12rem;
    text-align: center;
    padding-top: .2rem;
}
.page-hd-suning-iphone8-yy-succ .block4.line-top {

}
.page-hd-suning-iphone8-yy-succ .block5 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    margin: .2rem auto;
    color: #fff;
    text-align: center;
    font-size: .16rem
}
.page-hd-suning-iphone8-yy-succ .block6 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    margin: .2rem auto;
    color: #fff;
    text-align: center;
    font-size: .16rem
}
/*---------------------for-friends-page-----------------------------*/
.page-hd-suning-iphone8-for-friends .block1 {
     height:3.2rem;
}
.page-hd-suning-iphone8-for-friends.btn-kan {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #0070c9;
    border-radius: .05rem;
    color: #fff;
    text-align: center;
    font-size: .16rem;
    margin: 0 auto;
}
.page-hd-suning-iphone8-for-friends .block2 {
    display: block;
    width: 2.385rem;
    height: .39rem;
    line-height: .39rem;
    background-color: #56a8eb;
    border-radius: .05rem;
    margin: .1rem auto 0;
    color: #fff;
    text-align: center;
    font-size: .16rem
}
.page-hd-suning-iphone8-for-friends .block3{
    color: #999999;
    font-size: .12rem;
    text-align: center;
}
.page-hd-suning-iphone8-for-friends .block3 .limit-num {
    padding: .2rem 0;
}
.page-hd-suning-iphone8-for-friends .block3 .reward-list {
    position: relative;
    width: 3.05rem;
    height: .325rem;
    line-height: .325rem;
    margin: 0 auto;
    border-radius:.05rem;
    background-color: #f2f2f2;
    overflow: hidden;
}
.page-hd-suning-iphone8-for-friends .block3 .reward-list .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.page-hd-suning-iphone8-for-friends .block4 {
    height: 1.37rem;
}
.page-hd-suning-iphone8-for-friends .block5 {
    height: 1.56rem;
    margin-bottom: .3rem;
}
.page-hd-suning-iphone8-for-friends .block5 .show-coupon{
    position: absolute;
    top: .5rem;
    right: .1rem;
    width: .8rem;
    height: 1rem;
}
