.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1000px;
}
a:hover{
    text-decoration: none;
}

.page-hd-kaixueji {
    background :#db1424;
    min-width: 1000px;
}
.page-hd-kaixueji .dialog-inner{
    /*padding: 0;*/
}
.page-hd-kaixueji .topbar .in{
    width: 1000px;
}
.page-hd-kaixueji .mainbody{
    padding-bottom: 50px;
}

/*活动商品列表样式*/
.page-hd-kaixueji .ui-sp-product-list-1{
    min-height: 310px;
    background-color: #c20e1d;
    padding: 10px 15px 0;
    border-radius: 6px 6px 0 0;
}

.page-hd-kaixueji .ui-sp-product-list-1 .p-item{
    margin:0 10px 10px 0;
    width: 235px;
    height: 316px;
    border:none;
    border-radius: 5px;
    overflow: hidden;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item.p-item-last{
    margin-right: 0;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-tit{
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    word-break: break-all;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-tit-sub{
    padding-top: 0;
    font-size: 14px;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-pic{
    height: 166px;
    padding-top: 30px;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-pic img {
    height: 156px;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-price{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 25px 0 0;
    height: 53px;
    line-height: 53px;
    text-align: right;
    background: url("https://p4.ssl.qhimg.com/t01de94b3cc6c8f9bb9.png") no-repeat center;
    overflow: hidden;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-price-cur{
    font-size: 16px;
    color: #f00;
}
.page-hd-kaixueji .ui-sp-product-list-1 .p-item .p-price-cur .p-price-num{
    font-size: 30px;
}
/*活动商品列表样式 end*/

/*更多*/
.page-hd-kaixueji .more{
    padding: 10px 0 15px;
    background-color: #c20e1d;
    border-radius: 0 0 6px 6px;
    text-align: center;
}
.page-hd-kaixueji .more a{
    padding-right: 30px;
    color: #fbebbc;
    font-size: 22px;
    background: url(https://p3.ssl.qhimg.com/t017f79af07850565f3.png) no-repeat right;
}
/*更多 end*/

/*头图*/
.page-hd-kaixueji .block-top,
.page-hd-kaixueji .block-top .block-inner{
    height: 586px;
    background: url(https://p3.ssl.qhimg.com/t01218f530a4b14e463.jpg) no-repeat center 0;
}
/*头图 end*/

/*标题*/
.page-hd-kaixueji .block-tit{
    height: 128px;
    background: url(https://p2.ssl.qhimg.com/t012a10a96195b6ffa3.png) no-repeat center;
    color: #a82900;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    position: relative;
    margin-top: 20px;
}
.page-hd-kaixueji .block-tit-sub{
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    line-height: 1;
}
/*标题 end*/

/*优惠券*/
.page-hd-kaixueji .block-coupon,
.page-hd-kaixueji .block-coupon .block-inner{
    height: 367px;
    background: url(https://p2.ssl.qhimg.com/t0193d948aae33ee463.jpg) no-repeat center 0px;
}
.page-hd-kaixueji .block-coupon .block-inner{
    padding-top: 1px;
}
.page-hd-kaixueji .block-coupon .coupon-list{
    width: 868px;
    margin: 140px auto 0;
}
.page-hd-kaixueji .block-coupon .coupon-item{
    float: left;
    width: 175px;
    height: 198px;
    margin-right: 56px;
    position: relative;
    background: url("https://p3.ssl.qhimg.com/t018c8f9c2341bbba86.png") no-repeat center;
    color: #fff;
    text-align: center;
    line-height: 1;
}
.page-hd-kaixueji .block-coupon .coupon-item.coupon-item-received{
    cursor: default;
}
.page-hd-kaixueji .block-coupon .coupon-item.coupon-item-received .coupon-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("https://p4.ssl.qhimg.com/t0129f1a6c80abe9fb4.png") no-repeat center;
    z-index: 2;
}
.page-hd-kaixueji .block-coupon .coupon-item4{
    margin-right: 0;
}
.page-hd-kaixueji .block-coupon .coupon-item .coupon-tit{
    font-size: 18px;
    padding-top: 10px;
}
.page-hd-kaixueji .block-coupon .coupon-item .coupon-amount{
    font-size: 88px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -5px;
}
.page-hd-kaixueji .block-coupon .coupon-item .coupon-desc{
    font-size: 16px;
}
/*优惠券 end*/

/*今日爆款*/
.page-hd-kaixueji .block-baokuan,
.page-hd-kaixueji .block-baokuan .block-inner{
    height: 460px;
    background: url(https://p2.ssl.qhimg.com/t0193d948aae33ee463.jpg) no-repeat center -710px;
    padding-top: 1px;
}
.page-hd-kaixueji .block-baokuan .baokuan-product{
    display: block;
    padding: 0 100px;
    margin-top: 125px;
    height: 325px;
    position: relative;
    background: url(https://p3.ssl.qhimg.com/t01fe5b47b64a3162da.png) no-repeat center 0;
}
.page-hd-kaixueji .block-baokuan .label-reduce{
    position: absolute;
    top: 10px;
    left: 120px;
    width: 70px;
    height: 62px;
    padding-top: 8px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    background: #df2f1b;
    border-radius: 0 0 999px 999px;
}
.page-hd-kaixueji .block-baokuan .p-pic{
    float: left;
    width: 230px;
    height: 230px;
    text-align: center;
    padding-top: 50px;
}
.page-hd-kaixueji .block-baokuan .p-pic img{
    height: 100%;
}
.page-hd-kaixueji .block-baokuan .p-info{
    float: left;
    width: 570px;
    text-align: center;
    padding-top: 60px;
}
.page-hd-kaixueji .block-baokuan .p-tit{
    font-size: 40px;
    color: #101010;
}
.page-hd-kaixueji .block-baokuan .p-reduce{
    font-size: 28px;
    color: #ff1200;
    padding-bottom: 20px;
}
.page-hd-kaixueji .block-baokuan .p-btn-price{
    margin: 0 auto;
    width: 388px;
    height: 62px;
    line-height: 62px;
    background: url("https://p1.ssl.qhimg.com/t01bafc2f90e0ad5dc2.png") no-repeat center;
}
.page-hd-kaixueji .block-baokuan .p-btn{
    width: 140px;
    color: #333;
    font-size: 22px;
    padding-left: 20px;
}
.page-hd-kaixueji .block-baokuan .p-price{
    margin-left: 160px;
    color: #fff;
    font-size: 20px;
}
.page-hd-kaixueji .block-baokuan .p-price .p-price-label{
    font-size: 16px;
    vertical-align: top;
    padding-left: 20px;
}
.page-hd-kaixueji .block-baokuan .p-price .p-price-num{
    font-size: 38px;
    vertical-align: top;
    padding: 0 4px;
}
/*今日爆款 end*/

/*折上折*/
.page-hd-kaixueji .block-zheshangzhe-product .zheshangzhe-banner{
    height: 189px;
    background: url(https://p5.ssl.qhimg.com/t018f14be4058a73558.png) no-repeat center 0;
    position: relative;
    margin-bottom: 10px;
}
/*折上折 end*/

/*活动说明*/
.page-hd-kaixueji .block-desc,
.page-hd-kaixueji .block-desc .block-inner{
    height: 731px;
    background: url("https://p5.ssl.qhimg.com/t01aac7d46c2f4f0ed1.jpg") no-repeat center 0;
}
.page-hd-kaixueji .block-desc .desc-cont{
    font-size: 18px;
    color: #cd1121;
    padding-top: 120px;
}
.page-hd-kaixueji .block-desc .desc-cont p{
    padding: 30px 0 0 40px;
}
.page-hd-kaixueji .block-desc .desc-cont i{
    color: #cd1121;
    padding-right: 20px;
}
/*活动说明 end*/

/*plus会员banner*/
.page-hd-kaixueji .block-plus-vip,
.page-hd-kaixueji .block-plus-vip .block-inner{
    height: 342px;
    background: url(https://p2.ssl.qhimg.com/t0193d948aae33ee463.jpg) no-repeat center -367px;
}
.page-hd-kaixueji .block-plus-vip .block-inner{
    padding-top: 157px;
}
.page-hd-kaixueji .block-plus-vip a{
    display: block;
    height: 184px;
}
/*plus会员banner end*/

















