.block-promoting-lp-hot-notice-faker{
    display: none;
    position: fixed;
    z-index: 999999;
    /*width: 300px;*/
    right: 10px;
    bottom: 5px;
    _position: absolute;
    _top: expression(documentElement.scrollTop+documentElement.clientHeight - this.offsetHeight -5+"px");
}
.block-promoting-lp-hot-notice-faker .block-promoting-lp-hot-notice-faker-inner{
    position: absolute;
    top: 0;
    /*top: -340px;*/
    right: 0;
    width: 300px;
    height: 340px;
    border: 1px solid #eff0f0;
    background-color: #fff;
}
.block-promoting-lp-hot-notice-faker .block-title{
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
    background-color: #3eac0b;
    color: #fff;
    text-align: left;
}
.block-promoting-lp-hot-notice-faker .btn-close,
.block-promoting-lp-hot-notice-faker .btn-close:hover{
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.block-promoting-lp-hot-notice-faker .block-main .row{
    margin: 0 10px;
    padding: 10px 0;
    border-top: 1px solid #eff0f0;
    font-size: 0;
    color: #000;
}
.block-promoting-lp-hot-notice-faker .block-main .row:hover{
    text-decoration: none;
    color: #f50;
}
.block-promoting-lp-hot-notice-faker .block-main .row-first{
    border-top: 0;
}
.block-promoting-lp-hot-notice-faker .block-main .item-title{
    /*padding-right: 6px;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 190px;
    font-size: 14px;
    vertical-align: text-top;
}
.block-promoting-lp-hot-notice-faker .block-main .item-figure{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 89px;
    height: 63px;
    vertical-align: text-top;
    transition: all 0.5s ease-out;
}
.block-promoting-lp-hot-notice-faker .block-main .row-first .item-title{
    padding-bottom: 10px;
    display: block;
    width: auto;
}
.block-promoting-lp-hot-notice-faker .block-main .row-first .item-figure {
    margin-right: 8px;
    width: 84px;
    height: 62px;
}
.block-promoting-lp-hot-notice-faker .block-main .row-first .item-figure-last {
    margin-left: 0;
}
