a,a:hover{
    text-decoration: none;
}

.page-hd-chiji {
    background:#0c0d0e;
    font-size: .12rem;
}

.page-hd-chiji .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-chiji .block {
    margin: 0 auto;
}

/*公用的block-title样式start*/
.page-hd-chiji .block-tit{
    height: .44rem;
    background: url(https://p2.ssl.qhmsg.com/t0177bfe71cb35f1514.png) no-repeat center 0;
    background-size: contain;
}
.page-hd-chiji .block-tit .tit-cont{
    font-weight: bold;
    font-size: .18rem;
    color: #f3df7a;
    text-align: center;
    text-indent: -999px;
    padding-top: .15rem;
    /*text-shadow: 0 5px 10px #f4e5ad;*/
    background-image: -webkit-linear-gradient(top, #f4e5ad 50%, #a37529 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    text-fill-color: #f3df7a;
    -webkit-text-fill-color: transparent;
}
/*公用的block-title样式end*/

/*头图*/
.page-hd-chiji .block-top1{
    height: 1.3466666666666667rem;
    background: url(https://p4.ssl.qhmsg.com/t01fc43a1aa7a95753e.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-chiji .block-top2{
    height: 1.3466666666666667rem;
    background: url(https://p1.ssl.qhmsg.com/t011ed718bcca10bda0.jpg) no-repeat center 0;
    background-size: cover;
}
/*头图 end*/

/*优惠券*/
.page-hd-chiji .block-coupon,
.page-hd-chiji .block-coupon .block-inner{
    height: 1.9377777777777778rem;
    background: url(https://p2.ssl.qhmsg.com/t01b40cac51f75b9f65.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-chiji .block-coupon .btn-coupon{
    position: absolute;
    top: 1.53rem;
    width: .53rem;
    height: .16rem;
    background: url("https://p1.ssl.qhmsg.com/t01c266138fd703bb8b.png") no-repeat center;
    background-size: cover;
}
.page-hd-chiji .block-coupon .btn-coupon1{
    left: 1.32rem;
}
.page-hd-chiji .block-coupon .btn-coupon2{
    left: 2.32rem;
}
.page-hd-chiji .block-coupon .btn-coupon.btn-disabled{
    background-image: url("https://p0.ssl.qhmsg.com/t01101cc28a1075134a.png");
    cursor: default;
}
/*优惠券 end*/

/* 更多 */
.page-hd-chiji .more{}
.page-hd-chiji .more a{
    margin: .1rem auto;
    display: block;
    width: .72rem;
    height: .26rem;
    background: url("https://p1.ssl.qhmsg.com/t01f92e59b339bc8030.png") no-repeat center 0;
    background-size: cover;
}
/* END 更多 */

.page-hd-chiji .block-xuanji{
    height: 4.075555555555556rem;
    background: url(https://p0.ssl.qhmsg.com/t01ff6265d4e0e1c846.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-chiji .block-daping{
    height: 4.075555555555556rem;
    background: url(https://p2.ssl.qhmsg.com/t01d7b446a461b22cbc.jpg) no-repeat center 0;
    background-size: cover;
}
.page-hd-chiji .block-tuijian{
    height: 4.395555555555555rem;
    background: url(https://p0.ssl.qhmsg.com/t0103e3efc18aad0fc5.jpg) no-repeat center 0;
    background-size: cover;
}

/*活动商品列表样式*/
.page-hd-chiji .ui-sp-product-list-1 {
    min-height: 2.6rem;
    padding: .76rem .1rem 0;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item{
    /*width: 49%;*/
    /*margin: 0.5%;*/
    height: 1.58rem;
    border:none;
    background: url(https://p3.ssl.qhmsg.com/t01800d411dc8898c0c.png) no-repeat center .1rem;
    background-size: 60%;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-pic{
    padding-top: .15rem;
    height: 1rem;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-pic img{
    height: 100%;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-tit{
    color: #fff;
    font-size: .14rem;
    text-shadow: 0px 1px 0.1rem #1220f9;
    padding-top: .03rem;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-price{
    line-height: 1;
    position: absolute;
    left: .15rem;
    bottom: .1rem;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-price-cur{
    color: #ffea00;
    font-size: .1rem;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-price-cur .p-price-num{
    font-size: .18rem;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item  .p-price-orig {
    width: auto;
    color: #fff;
    /*font-size: .1rem;*/
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .btn{
    position: absolute;
    right: .15rem;
    bottom: .1rem;
    width: .51rem;
    height: .16rem;
    background: url("https://p0.ssl.qhmsg.com/t01f7e742c5d5b1f0ad.png") no-repeat center;
    background-size: cover;
}
.page-hd-chiji .ui-sp-product-list-1 .p-item .p-sold-out {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
    background-size: cover;
}
/*活动商品列表样式 end*/


/*服务介绍*/
.block-service-intro,
.block-qrcode-info{
    /*margin:0 .1rem;*/
}
/* 合作商 */
.block-partner{
    /*margin: .1rem .1rem .3rem;*/
}
.block-service-intro img,
.block-qrcode-info img,
.block-partner img{
    width: 100%;
    /*border-radius: .06rem;*/
}








