a,a:hover{
    text-decoration: none;
}

.page-hd-weixiu-shengji {
    background:#fff;
    font-size: .12rem;
}

.page-hd-weixiu-shengji .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-weixiu-shengji .block1,
.page-hd-weixiu-shengji .block2,
.page-hd-weixiu-shengji .block3,
.page-hd-weixiu-shengji .block4{
    height: 2.1422222222222222rem;
    background: no-repeat center 0/cover;
}
.page-hd-weixiu-shengji .block1{
    background-image: url(https://p1.ssl.qhmsg.com/t01a82adc7e67701d0a.jpg);
}
.page-hd-weixiu-shengji .block2{
    background-image: url(https://p3.ssl.qhmsg.com/t012b00fbaddc439d8d.jpg);
}
.page-hd-weixiu-shengji .block3{
    background-image: url(https://p0.ssl.qhmsg.com/t01e325217ca294a54b.jpg);
}
.page-hd-weixiu-shengji .block4{
    background-image: url(https://p1.ssl.qhmsg.com/t0150f84f8ea57bd730.jpg);
}
.page-hd-weixiu-shengji .block1 a{
    position: absolute;
    left: 1.04rem;
    top: 1.76rem;
    width: 1.14rem;
    height: .32rem;
}
.page-hd-weixiu-shengji .block4 .desc{
    color: #689bf1;
    padding: 1rem .3rem 0;
    font-size: .12rem;
    line-height: 2;
}
.page-hd-weixiu-shengji .block5{
    height: 2.328888888888889rem;
    background: url("https://p2.ssl.qhmsg.com/t018125e777ee267391.jpg") no-repeat center 0/cover;
}










