.fl {
    float: left;
}
.page-portable-charger {
    min-width: 1200px;
}
.page-portable-charger .block1,
.page-portable-charger .block1 .block-inner
{
    height: 430px;
    background: url("https://p0.ssl.qhmsg.com/t01605a998e42dad58f.png") no-repeat center 0;
    position: relative;
}
.page-portable-charger .block1 .btn-chose{
    display: none;
    position: absolute;
    top: 315px;
    right: 280px;

    border-radius: 30px;
    text-decoration: none;
    padding: 10px 65px;
    background-color: #e12b36;
    font-size: 24px;
    color: #fff;
}
.page-portable-charger .block1 .active-end {
    display: none;
    position: absolute;
    top: 239px;
    right: 238px;
}
.page-portable-charger .block1 .desc {
    color: red;
    font-size: 14px;
    padding-top: 5px;
}
.page-portable-charger .block1 .ewm{
    width: 150px;
    margin:0 auto;
}
.page-portable-charger .block1 .ewm img {
    width: 100%;
}
.page-portable-charger .block2 .dec {
    width: 630px;
    margin: 0 auto;
    color: #b50d11;
    font-size: 18px;

}
.page-portable-charger .block2 .dec-title {
    text-align: center;
    font-size: 30px;

}
.page-portable-charger .block2 .dec-content p {
    padding-top: 10px;
    position: relative;
}
.page-portable-charger .block2 .dec-content .num{
    position: absolute;
    top: 9px;
    left: -40px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height:30px;
    text-align: center;
    background-color: #b50d11;
    color: #fff;
    border-radius: 50%;
}
.page-portable-charger .dec .phone-num {
    font-size: 24px;
    text-align: center;
    padding: 27px 0;
}
.page-portable-charger .select-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .6);

    display: none;
}
.page-portable-charger .inner-panel {
    position: relative;
    background-color: #fff;
    margin: 100px auto 0;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
}
.page-portable-charger .width-select{
    width: 900px;
}
.page-portable-charger .inner-panel .close-btn {
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -18px;
    display: inline-block;
    content: '';
    width: 36px;
    height: 36px;
    background: url("https://p.ssl.qhimg.com/t01a22268e647e8b152.png") no-repeat center center;
    background-size: cover;
}
.page-portable-charger .inner-panel .single-item {
    width: 33%;
    border-right:1px solid #f2f2f2;
}
.page-portable-charger .inner-panel .single-item:last-child{
    border: none;
}
.page-portable-charger .inner-panel .select-panel-title {
    margin: 40px 0 52px;
}
.page-portable-charger .inner-panel .select-panel-btn{
    display: inline-block;
    padding: 5px 50px;
    color: #fff;
    background-color: #b50d11;
    text-decoration: none;
    border-radius: 25px;
    cursor:pointer;
}
.page-portable-charger .success-panel{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .6);

    display: none;
}
.page-portable-charger .width-success{
    width: 550px;
    height: 300px;
    font-size: 16px;
    /*padding: 20px;*/
    background: url("https://p1.ssl.qhmsg.com/t01b5c6f3ab6371bc01.png") no-repeat center center;
    background-size: contain;
}
.page-portable-charger .success-panel .tit {
    font-size: 30px;
    color:#fff;
}
.page-portable-charger .success-panel .photo {
    width: 175px;
    height: 175px;
    margin: 70px auto 0;
}
.page-portable-charger .success-panel .photo img {
    width: 100%;
    height: 100%;
}

.dialog-inner {
    width: 480px;
    height: 320px;

}
.dialog-inner .line {
    margin-top: 10px;
    position: relative;
}
.dialog-inner .line div{
    display: inline-block;
    height: 35px;
    line-height: 35px;
}
.dialog-inner .tit {
padding-top: 15px;
text-align: center;
font-size: 24px;
line-height: 2;
}
.dialog-inner .line-left {
    width: 80px;
    text-align: right;
    font-size: 10px;
    margin-left: 40px;
}
.dialog-inner .line-right input,
.dialog-inner  .short-message
{
    padding: 5px;
    border: 1px solid #aaa;
}
.dialog-inner .line-right {
    position: relative;
}

.dialog-inner .line-btn{
    text-align: center;
}
.dialog-inner .vcode-img{
    margin-left: 19px;
}
.dialog-inner .btn-get-sms-code {
    background: #E12B36;
    color: #fff;
    margin-left: 19px;
    padding: 7px 8px;
    display: inline-block;
    vertical-align: middle;

}
.dialog-inner .line-btn .btn {
    background: #E12B36;
    padding: 8px 35px;
    color: #fff;
    margin-top: 25px;
}
