.swipe-section-block-long-text-help{
    position: fixed;
}
.swipe-section-block-long-text-help .icon-close{
    position: fixed;
    z-index: 999;
}
.swipe-section-block-long-text-help .swipe-section-inner{
    height: 100%;
    overflow-y: auto;
}
.block-long-text-help {
    padding: .1rem;
}

.block-long-text-help h3 {
    line-height: 3;
    font-size: .16rem;
    text-align: center;
}
.block-long-text-help h4 {
    line-height: 2.8;
    font-size: .14rem;
    text-align: left;
}

.block-long-text-help dl {
    padding-bottom: .1rem;
}

.block-long-text-help dl dt {
    padding-bottom: .03rem;
}

.block-long-text-help dl dd {
    text-indent: .2rem;
    color: #666;
}

.block-long-text-help ul {
    padding-left: .08rem;
}

.block-long-text-help ul li {
}