/*通用标题*/
.block-zhimacredit-title{
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    background-color: #fff;
    padding-top: .05rem;
}
.block-zhimacredit-title .tit-cont{
    display: inline-block;
    padding: 0 .15rem;
    background-color: #fff;
    font-size: .16rem;
    color: #333;
}
.block-zhimacredit-title .line-middle{
    border-bottom: 1px solid #eaeaea;
    margin-top: -.25rem;
}