/*商家总包括*/
.shangjiacontainer {
    font-size: 12px;
    line-height: 1.5;
    font-family: "微软雅黑";
}
/*商家顶部高*/
.shangjia_top {
    height: 81px;
    border-bottom: solid 3px #329900;
    overflow: hidden;
}
/*logo*/
.shangjialogo {
    width: 225px;
    height: 68px;
    float: left;
    background: url(https://p.ssl.qhimg.com/t018923cd666517b496.png) no-repeat;
    margin-top: 12px;
}
.shanjiazx_txt {
    margin: 15px 0 0 15px;
    height: 58px;
    line-height: 58px;
    font-size: 28px;
    color: #666666;
    font-family: '微软雅黑';
}
.height10 {
    height: 10px;
    clear: both;
    overflow: hidden;
}
.height40 {
    height: 20px;
    clear: both;
    overflow: hidden;
}
.height15 {
    height: 15px;
    clear: both;
    overflow: hidden;
}
.height5 {
    height: 5px;
    clear: both;
    overflow: hidden;
}
/*商家管理左侧*/
.shangjia_left {
    width: 140px;
    border-right: solid 1px #DEDEDE;
    float: left;
    height: 530px;
}
.shangjia_menulist {
}
.shangjia_menulist li {
    width: 140px;
    height: 34px;
    line-height: 34px;
    color: #666;
    text-align: center;
    margin-bottom: 5px;
}
.shangjia_menulist li.cursel {
    background: #2AC200;
    font-weight: bold;
    color: #fff;
}
.shangjia_menulist li a {
    color: #666;
    text-decoration: none;
    display: block;
    width: 140px;
    height: 34px;
}
.shangjia_menulist li.cursel a {
    color: #fff;
    font-weight: bold;
}
/*商家管理右侧*/
.shangjia_right {
    width: 85%;
    float: left;
}
.shangjia_right a {
    color: #0099FF;
}
.shangjia_pad4 {
    padding: 15px 0 0 30px;
    font-size: 14px;
}
.shangjia_nav_title {
    font: bold 14px/1.5 '微软雅黑';
    color: #666666;
}
/*table*/
.tables {
    border: solid 1px #ccc;
    margin: 8px 0 0 0;
}
.tables a {
    color: #0099FF;
}
.tables a:visited{
    color: #800080;
}
.tables td{
    padding: 0 2px;
}
.tables.wd,
.border4s.wd {
    width: 100%;
}
.colorf6 {
    color: #39F;
}
.tables.nomar {
    margin: 0;
}
.tables th,
.tables td {
    height: 40px;
    background: #F7F7F7;
    border-right: dashed 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: center;
    font-size: 12px;
}
.tables.font14 th {
    font: bold 12px/1.5 "微软雅黑";
    text-align: center;
    color: #666;
}

.tables td {
    background: #fff;
}

.mer-dingdan-info  td {
     padding:17px;
}
.tables.noborder,
.tables.noborder th,
.tables.noborder td {
    border: none;
    text-align: left;
    height: auto;
    background: #fff;
    padding:5px;
    padding-bottom: 8px;
}
.tables.pad4 th,
.tables.pad4 td {
    padding-bottom: 10px;
}
.tables th.padd,
.tables td.padd {
    color: #666666;
    padding-left: 9px;
}
.tables th.noapd,
.tables td.noapd {
    color: #666666;
}
.tables td.wds {
    width: 61px;
}
.tables td.vertical {
    vertical-align: top;
}
.tables td.padd-left{
    width: 120px;
    text-align: right;
    color: #666;
    padding-right: 10px;
}
.tables.ftcolr6 td {
    color: #666;
}
.tables .textarea{
    width: 300px;
    height: 80px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px #E6E6E6 inset;
    padding: 4px;
}
.tables .refund-btn-submit{

}
.tables .shanpintxt {
    width: 270px;
    padding-left:5px; 
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    color: #000;
    word-wrap:break-word;
    word-break:break-all;
}
.mer-table td{
    padding:10px 0px;
}
.fabuchanpin {
    margin: 10px 10px;
}
.fabuchanpin.ft12 td {
    font-size: 12px;
}
.fabuchanpin.color6 td {
    color: #666;
    vertical-align: middle;
}
.fabuchanpin td input.colc,
.fabuchanpin td select.colc,
.fabuchanpin td textarea.colc {
    color: #ccc;
}
.fabuchanpin td input,
.fabuchanpin td select,
.fabuchanpin td textarea {
    border: solid 1px #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px #EDEDED inset;
    vertical-align: middle;
    -moz-box-shadow: 2px 2px 3px #EDEDED inset;
    box-shadow: 2px 2px 3px #EDEDED inset;
    height: 22px;
    padding: 4px;
    line-height: 22px;
    background:#fff;
}
.fabuchanpin td {
    padding-bottom: 10px;
}
.fabuchanpin td select {
    margin: 0;
    padding: 0;
}
.fabuchanpin td input.wd242,
select.wd242,
textarea.wd242 {
    width: 232px;
}
.fabuchanpin td input.wd132,
select.wd132,
textarea.wd132 {
    width: 122px;
}
.fabuchanpin td input.wd102 {
    width: 102px;
}
.fabuchanpin td input.hei30 {
    height: 30px;
}
.fabuchanpin td select.hei24 {
    height: 24px;
}
.fabuchanpin td select.hei30 {
    height: 30px;
}
.fabuchanpin td textarea.hei93 {
    height: 83px;
    padding-top: 8px;
}
.fabuchanpin td input.lijifabu {
    width: 70px;
    height: 26px;
    background: url(https://p.ssl.qhimg.com/t01803f69817043dd95.png) no-repeat;
    border: none;
    box-shadow: none;
    font-size:12px;
    line-height:18px;
    text-align:center;
    color:#fff;
}
.fabuchanpin td input.chaxunbtn {
    width: 109px;
    height: 33px;
    background: url(https://p.ssl.qhimg.com/t0169bb48b3b6d0f8c8.png) no-repeat;
    border: none;
    box-shadow: none;
}
.fabuchanpin td select.color6,
.fabuchanpin td input.color6 {
    color: 666;
}
.fabuchanpin em.tip {
    color: red;
}
/***/
.shangjia_right .esmer-quchongzhi-btn{
    /*margin-left: 200px;*/
    display: block;
    /*padding: 0 30px;*/
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #4CA127;
    border: 1px solid #329900;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.shangjia_right .esmer-quchongzhi-btn:hover{background: #54B22B;text-decoration: none;}

/***/
.page-esmer-login{

}
.esmer-login-banner{
    width: 960px;
    /*height: 187px;*/
    height: 100px;
    margin: 0 auto;
    background: url(https://p.ssl.qhimg.com/t01bb61741a89a61b07.jpg) no-repeat center 0;
}
.esmer-login-main{
    width: 960px;
    height: 400px;
    margin: 0 auto;
}
.esmer-login-main-top{
    width: 332px;
    height: 140px;
    margin: 0 auto;
    background: url(https://p.ssl.qhimg.com/t01a3b0880ca75ade06.png) no-repeat center 0;
}
.esmer-login-wrap{
    width: 500px;
    margin: 0px 0 30px 280px;
}
.esmer-login-main .mod-qiuser-pop .reg-new-account{display: none;}

/*****/
.esmer-fill{

}
.esmer-line{
    padding: 5px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}
.esmer-line-title{}
.esmer-line-content{}
.esmer-label{
    padding-right: 20px;
}
.esmer-fill-form{
    margin: 20px 50px;
}
.esmer-fill-input{
    width: 200px;
    padding: 5px 8px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #EDEDED inset;
}
.esmer-fill-sub{
    margin-left: 120px;
    padding: 0 30px;
    /*width: 90px;*/
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #4CA127;
    border: 1px solid #329900;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.esmer-fill-sub:hover{
    background: #54B22B;
}
.esmer-sub-line{
    /*text-align: right;*/
}
.input-non-actived{
    color: #999;
}

.esmer-fill-success-main{
    /*width: 960px;*/
    font-family: "微软雅黑";
}
.esmer-fill-success-list{}
.esmer-fill-success-list .esmer-button{
    margin-left: 100px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 30px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #4CA127;
    border: 1px solid #329900;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.esmer-fill-success-list .esmer-button:hover{
    background: #54B22B;text-decoration: none;
}


.esmer-sta-table{
    width: 100%;
    table-layout: fixed;
}
.esmer-sta-table td{
    vertical-align: top;
    padding: 7px 5px;
    color: #666;
}
.esmer-sta-table .esmer-i-modify{
    color: #f00;
}

.esmer-sta-table .btn-modify,
.esmer-sta-table .btn-save,
.esmer-sta-table .btn-cancle{
    background-color: #5CB314;
    border:1px solid #4EA00A;
    color: #fff;
    padding: 0 5px;
    height: 26px;
    cursor: pointer;
}
.esmer-sta-table .btn-save{
    background-color: #FF8703;
    border-color: #E87900;
}
.esmer-sta-table .btn-cancle{
    background-color: #eee;
    border-color: #ddd;
    color: #888;
}

/*btn*/
.adm-btn1{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 126px !important;
    height: 41px !important;
    line-height: 41px !important;
    border: 0 !important;
    background: url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat 0 -95px !important;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #FFF;
    vertical-align: middle;
    text-align: center;
}
.adm-btn1:hover{
    background-position: 0 -137px;
}
.adm-btn1:active{
    background-position: 0 -179px;
}
.adm-btn2{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 95px !important;
    height: 31px !important;
    line-height: 31px !important;
    border: 0 !important;
    background: url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat 0 0 !important;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #FFF;
    vertical-align: middle;
    text-align: center;
}
.adm-btn2:hover{
    background-position: 0 -31px;
}
.adm-btn2:active{
    background-position: 0 -62px;
}
.overflow-visible{
    overflow: visible;
}
