html, body{margin: 0;padding: 0;overflow: hidden;border:0;}
.page-client .loading-content{
    text-align: center;
    padding: 50px;
}
.page-client .icon-loading{
    background: url(https://p.ssl.qhimg.com/t017ee3be501e423c98.gif) no-repeat -90px -36px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    font-size: 14px;
    color: #666;
}

.page-client-sjzj{overflow: hidden;}
.page-client-sjzj .c1{
    color: #118F2C !important;
}
.page-client-sjzj .c2{
    color: #FF6600 !important;
}
.bd-sjzj-wrap{padding: 0;margin: 0;width:100%;overflow: hidden;}
.sjzj-container{
    position: relative;
    margin: 0 auto;
    padding: 86px 0 0 0;
    width: 719px;
    height: 483px;
    font-family: "微软雅黑";
    background: #E9E6E2 url(https://p.ssl.qhimg.com/t0101936f1a5d5fc333.png) no-repeat 0 0;
}
.sjzj-container2{
    background: #E9E6E2 url(https://p.ssl.qhimg.com/t01d47ffb59a563ba11.png) no-repeat 0 0;
}
.sjzj-special-enter-btn{
    position: absolute;
    top: 8px;
    right: 79px;
    display: block;
    width: 127px;
    height: 20px;
    text-decoration: none;
    cursor: pointer;
}
.sjzj-special-enter-btn:hover{text-decoration: none;}
.sjzj-content{
    position: relative;
    margin-right: 4px;
    height: 470px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sjzj-content-line{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    margin: 1px 0 1px 4px;
    width: 344px;
    *width: 342px;
    height: 144px;
    background: url(https://p.ssl.qhimg.com/t01278de9f7aa8535ff.png) no-repeat center 0;
    cursor: default;
}
.sjzj-content-line-left,
.sjzj-content-line-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
.sjzj-content-line-left{
    /*margin-right: 10px;
    padding: 12px;*/
    padding: 16px 10px 0 16px;
}
.sjzj-content-line-right{
    /*width: 536px;*/
    width: 222px;
}
.sjzj-content-waiting{
    /*display: inline-block;
    *display: inline;
    *zoom: 1;*/
    width: 120px;
    height: 120px;
    background: url(https://p.ssl.qhimg.com/t0131d230ea0be84319.png) no-repeat 0 0;
    vertical-align: middle;
    text-align: center;
}
.sjzj-content-waiting-time{
    display: block;
    padding-top: 33px;
    padding-bottom: 4px;
    line-height: 16px;
    font-size: 16px;
    color: #065512;
    font-weight: bold;
}
.sjzj-content-waiting-desc{
    font-size: 14px;
    color: #757F71;
    font-weight: bold;
}
.sjzj-jiejue-waiting-tip{
    margin-top: 18px;
    padding-left: 40px;
    width: 209px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background: url(https://p.ssl.qhimg.com/t01f42d64e45585ec21.png) no-repeat 0 0;
}
.sjzj-zixun{
    position: relative;
    display: block;
    /*margin: 12px;*/
    /*width: 120px;
    height: 120px;*/
    width: 88px;
    height: 121px;
}
.sjzj-zixun:hover{
    text-decoration: none;
    opacity: .8;
    filter:alpha(opacity=80);
}
.sjzj-zixun img{width: 100%;}
.sjzj-zixun-bottom{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    /*width: 120px;*/
    width: 88px;
    height: 33px;
    background: #000;
    opacity: .2;
    filter:alpha(opacity=20);
    cursor: pointer;
}
.sjzj-zixun-button{
    position: absolute;
    /*left: 24px;*/
    left: 8px;
    bottom: 0;
    margin: 5px auto;
    display: block;
    width: 72px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: url(https://p.ssl.qhimg.com/t01307b27e8ba5c3b92.png) no-repeat 0 0;
    color: #FFF;
    cursor: pointer;
}
.sjzj-zixun:hover .sjzj-zixun-button{
    opacity: .8;
    filter:alpha(opacity=80);
}
.sjzj-jiejue-h3{
    /*display: inline-block;
    *display: inline;
    *zoom: 1;*/
    margin-top: 10px;
    line-height: 1.8;
    font-size: 16px;
    color: #333;
    text-align: center;
}
.sjzj-jiejue-h3 a{
    /*color: #333;*/
    color: #118F2C;
}
.sjzj-jiejue-h3 span{
    font-size: 12px;
}
.sjzj-jiejue-desc{
    line-height: 2;
    font-size: 12px;
    color: #999;
}
.sjzj-jiejue-desc a{color: #999; text-decoration: none; cursor: default; }
.sjzj-jiejue-desc a:hover{text-decoration: none;}
.sjzj-jiejue-list{
    margin-top: 4px;
    color: #333;
}
.sjzj-jiejue-list li{
    float: left;
    padding-left: 10px;
    /*width: 165px;*/
    width: 100px;
    height: 22px;
    line-height: 22px;
    /*list-style: inside disc;*/
    background: url(https://p.ssl.qhimg.com/t010d8f318f0977e85b.png) no-repeat 0px 8px;
}
.sjzj-jiejue-list a{
    color: #333;
}
/****sjzj-list****/
.bd-sjzj-list-wrap{width: 100%;padding: 0;}
.sjzj-list-container{
    margin: 0 auto;
    padding: 0;
    width: 719px;
    height: 569px;
    font-family: "微软雅黑";
    background: #FAFAFA url(https://p.ssl.qhimg.com/t01faf5217d2bbae47a.png) no-repeat 0 0;
}
.sjzj-list-head{
    position: relative;
    width: 100%;
    height: 40px;
}
/*.sjzj-list-back-btn{
    position: absolute;
    top: 7px;
    left: 12px;
    display: block;
    width: 61px;
    height: 26px;
    background: #FAFAFA url(https://p.ssl.qhimg.com/t01f4c06284bcf99424.png) no-repeat 0 0;
}*/
.sjzj-list-back-btn{
    position: absolute;
    top: 7px;
    left: 12px;
    display: block;
    width: 28px;
    height: 28px;
    background: url(https://p.ssl.qhimg.com/t016b9adc967e733ef2.png) no-repeat 0 0;
}
.sjzj-list-back-btn:hover{
    background: url(https://p.ssl.qhimg.com/t01f2e7f44fb53525b6.png) no-repeat 0 0;
}
.sjzj-list-back-btn:active{
    background: url(https://p.ssl.qhimg.com/t011dbc8ec47a4a4f6c.png) no-repeat 0 0;
}

.sjzj-list-content{

}
.sjzj-list-content-top{
    width: 100%;
    height: 125px;
    background: #FFFFFF url(https://p.ssl.qhimg.com/t01cbe48f3451f6a4f5.png) no-repeat 0 0;
}
.sjzj-list-content-tab{
    width: 100%;
}
.sjzj-list-content-tab li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    height: 37px;
    /*line-height: 37px;*/
    color: #474747;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
}
.sjzj-list-content-tab .cur{
    height: 33px;
    /*line-height: 33px;*/
    border-top: 2px solid #41B910;
    border-bottom: 2px solid #FFF;
    border-right: 1px solid #D1D1D1;
    color: #118F2C;
    background: #FFF;
    cursor: default;
}
.sjzj-list-content-tab li span{
    display: block;
    *display: inline-block;
    *zoom: 1;
    margin: 5px 0;
    /*padding: 0 16px;*/
    padding: 0 12px;
    height: 27px;
    line-height: 27px;
    border-right: 1px solid #D1D1D1;
}
.sjzj-list-content-tab .cur span{
    margin: 3px 0;
    border-right: 1px solid #FFF;
}
.sjzj-list-content-tab-for{
    position: relative;
}
.sjzj-list-content-tab-for-logo3{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -188px 0;
}
.sjzj-list-content-tab-for-logo1{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat 0 0;
}
.sjzj-list-content-tab-for-logo2{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -96px 0;
}
.sjzj-list-content-tab-for-logo4{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat 0 -89px;
}
.sjzj-list-content-tab-for-logo5{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -96px -89px;
}
.sjzj-list-content-tab-for-logo6{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -188px -89px;
}
.sjzj-list-content-tab-for-logo7{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -1px -182px;
}
.sjzj-list-content-tab-for-logo8{
    position: absolute;
    top: 0;
    left: 20px;
    width: 83px;
    height: 83px;
    background: url(https://p.ssl.qhimg.com/t012406171ad9db008d.png) no-repeat -96px -182px;
}

.sjzj-list-content-tab-for-title{
    margin: 0 0 0 120px;
    padding: 7px 0 4px 0;
    line-height: 24px;
    color: #333333;
    font-weight: 600;
}
.sjzj-list-content-tab-for-list{
    margin: 0 0 0 120px;
    color: #8D8D8D;
    /*font-weight: 600;*/
}
.sjzj-list-content-tab-for-list li{
    float: left;
    padding-left: 10px;
    width: 120px;
    height: 22px;
    line-height: 22px;
    background: url(https://p.ssl.qhimg.com/t010d8f318f0977e85b.png) no-repeat 0px 8px;
}
.sjzj-list-content-tab-for-list .w190{
    width: 190px;
}
html,body{background: #333;}
.sjzj-list-content-main{
    width: 100%;
    height: 404px;
    background: url(https://p.ssl.qhimg.com/t016d34b353299e196d.png) no-repeat 0 0;
}
.sjzj-list-content-main-top{
    position: relative;
    height: 50px;
    line-height: 50px;
}
.sjzj-list-content-main-title{
    padding-left: 14px;
    font-size: 16px;
    color: #444444;
}
.sjzj-list-content-main-title span{
    padding: 0 2px;
    color: #CC0000;
}
.sjzj-list-content-main-title2{
    padding-left: 14px;
    font-size: 14px;
    color: #CC0000;
}
.sjzj-list-content-main-kuai-btn{
    position: absolute;
    top: 11px;
    right: 125px;
    display: block;
    width: 92px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #C0C0C0;
    background: #E7E7E7;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.sjzj-list-content-main-yuyue-btn{
    position: absolute;
    top: 11px;
    right: 20px;
    display: block;
    width: 92px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #63B404;
    background: #6AC010;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.sjzj-list-content-main-top a{text-decoration: none;}
.sjzj-list-content-main-list-wrap{
    display: block;
    margin: 0 3px 0 0;
    padding: 0 3px 0 8px;
    *padding-right: 18px;
    height: 346px;
    clear: both;
    overflow-x: hidden;
    overflow-y: scroll;
    /*overflow: hidden;*/
}
.sjzj-list-content-main-list{
    width: 100%;
    /*position: relative;*/
}
.sjzj-list-content-main-list .item-hover{
    border-top: 1px solid #9EDB21 !important;
    border-left: 1px solid #9EDB21 !important;
    background: #E2F4D5;
}
.sjzj-list-content-main-list .right-item-hover{
    border-right: 1px solid #9EDB21 !important;
}
.sjzj-list-content-main-list .bottom-item-hover{
    border-bottom: 1px solid #9EDB21 !important;
}
.prev-hover{
    border-left: 1px solid #9EDB21 !important;
}
.top-hover{
    border-top: 1px solid #9EDB21 !important;
}
.sjzj-list-content-main-item{
    /*position: relative;*/
    float: left;
    width: 228px;
    height: 104px;
    border: 0;
    border-top: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    cursor: default;
}
.sjzj-list-content-main-list .right-item{
    border-right: 1px solid #E3E3E3;
}
.sjzj-list-content-main-list .bottom-item{
    border-bottom: 1px solid #E3E3E3;
}
.item-pic{
    float: left;
    margin: 15px 0 0 10px;
    /*position: absolute;
    top: 15px;
    left: 10px;*/
    padding: 1px;
    width: 70px;
    height: 70px;
    border: 1px solid #D2D2D2;
}
.item-pic img{width: 70px;height: 70px;}
.item-info{
    margin: 17px 0 0 94px;
}
.item-info .line-name{
    margin-bottom: 4px;
    font-size: 14px;
    color: #333333;
}
.line-desc{
    margin-bottom: 4px;
    font-size: 12px;
    color: #666;
}
.line-btn a{
    text-decoration: none;
}
.sjzj-zixun-btn{
    margin-right: 6px;
    float: left;
    display: block;
    width: 62px;
    height: 23px;
    background: url(https://p.ssl.qhimg.com/t01bb236fb0bc8b9acf.png) no-repeat 0 0;
}
.sjzj-pingjia-btn{
    float: left;
    display: block;
    width: 62px;
    height: 23px;
    background: url(https://p.ssl.qhimg.com/t01384d3ec0fc0953a3.png) no-repeat 0 0;
}
.sjzj-icon-onfree{
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    background: url(https://p.ssl.qhimg.com/t01819386b4940935cc.png) no-repeat 0 0;
    *vertical-align: middle;
}
.sjzj-icon-onbusy{
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    background: url(https://p.ssl.qhimg.com/t0122baa62a00d9f6de.png) no-repeat 0 0;
    *vertical-align: middle;
}
