.search-nav-bar{font-size:13px;height:25px;color:#666;line-height:25px;margin-bottom:8px;}
.search-nav-bar b{font-weight:bold;}
.pct-o9{width:9%;float:left;}
.search-bd-area{background:#F7F7F7;margin-bottom:10px;}
.search-bd-area .md .bd{background:none;}
.search-bd-area .service-area .area-list{background:none;}
.mod-box4{border-top:solid 2px #4BAC20;border-right:solid 1px #DFDFE1;border-left:solid 1px #DFDFE1;border-bottom:solid 1px #DFDFE1;overflow:auto;background:#F7F7F7;z-index:99;}
.mod-box4 ul{width:220px;float:left;}
.mod-box4 ul li{width:99px;border-right:solid 1px #E3E3E5;float:left;text-align:center;height:35px;line-height:35px;cursor: pointer;}
.mod-box4 ul li.curr{background:#E4E4E4;}
.mod-box4 .icobg{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;background:url(https://p.ssl.qhimg.com/t01e20b917dba79da57.png) no-repeat;}
.mod-box4 .icon-up{width:7px;height:8px;overflow:hidden;margin-left:5px;}
.ie6 .mod-box4 ul span{position: relative;top:12px;}
.mod-box4 .icon-down{width:7px;height:8px;overflow:hidden;margin-left:5px;background-position:-15px 0;}
.mod-search-page{width:100px;float:right;height:35px;line-height:35px;color:#666;padding-right:10px;text-align:right;}
.mod-search-page b{color:#168F06;font-weight:bold;}
.mod-search-page .icon-pre,
.mod-search-page .icon-pre:hover,
.mod-search-page .icon-pre-disabled,
.mod-search-page .icon-next,
.mod-search-page .icon-next:hover,
.mod-search-page .icon-next-disabled{
	width:22px;height:22px;
}
.mod-search-page .icon-pre{background-position:0 -88px;margin-right:2px;margin-left:6px;}
.mod-search-page .icon-pre:hover{background-position:0 -59px;}
.mod-search-page .icon-pre-disabled{background-position:0 -31px;cursor: default;}
.mod-search-page .icon-next{background-position:0 -179px;}
.mod-search-page .icon-next:hover{background-position:0 -150px;}
.mod-search-page .icon-next-disabled{background-position:0 -122px;cursor: default;}
.ie6 .mod-search-page label,
.ie6 .mod-search-page input
.ie7 .mod-search-page label,
.ie7 .mod-search-page input{vertical-align: middle;}
.ie6 .mod-search-page .inner-wrap{position: relative;top:6px;display: inline-block;height: 24px;}
.mod-search-txt{width:200px;float:left;text-align:left;}
.mod-search-txt .mod-ie6-txt{ white-space: nowrap; word-break: keep-all; }
.ie6 .mod-search-txt .mod-ie6-txt{margin-top:6px;}
.mod-search-marb{margin-bottom:10px;}
.search-msg-info{margin-top:10px;}
.msg-info-yellow{position: relative;
	color:#000;
	background: #FFC000;
	margin: 14px 10px 3px 10px;
	padding: 6px 10px 6px 70px;
}
.msg-info-yellow .stip-img{
	position: absolute;
	bottom: 0;
	left:14px;
	width: 62px;
	height: 37px;
	background: url(https://p.ssl.qhimg.com/t01e42b1793300f5e8f.gif) no-repeat center;
}
.red-font{color:#FF2900;}
.yellow-font{color:#FF7800;}
.search-res-list{}
.search-list-pad{padding:15px;border-bottom:solid 1px #DFDFE1;color:#999;}
.search-res-list .tab-td1{width:72px;}
.search-res-list .tab-td1 img{width:70px;height:70px; border:solid 1px #DEDEE0;}
.search-res-list .tab-td2,
.search-res-list .tab-td3,
.search-res-list .tab-td4,
.search-res-list .tab-td4-1,
.search-res-list .tab-td5{
	border: solid 1px #FFFFFF;
}
.search-res-list .tab-td2{/*width:400px;*/padding-left:10px;vertical-align:top; }
.search-res-list .tab-td3{width:0;text-align:center;}
.search-res-list .tab-td4{width:140px; overflow:hidden;padding:0 5px;}
.search-res-list .tab-td4-1{width:140px; text-align: center;}
.search-res-list .tab-td5{width:140px; text-align: right;}
.search-res-list .td-hei68 a{color:#2E74D3;font-size:14px;}
.search-res-list .td-hei68 a em{color:#FF2900;}
.search-res-list .td-hei68{height:68px;overflow:hidden;}
.search-res-list .td-hei26{height:24px;line-height:24px;overflow:hidden;}
.search-res-list .td-hei26 a{color:#666;}
.search-res-list .search-link{white-space: nowrap;}
.search-res-list .search-dplink{text-decoration: underline; color: #999999;}
.search-res-list .p-price,
.search-res-list .p-xxpf{ font-family: "微软雅黑"; text-align: center; width: 130px;  height: 24px; line-height: 24px;}
.search-res-list .price{
	color: #FF9100;
	font-size: 16px;	
}
.search-res-list .mianfu{background: url(https://p.ssl.qhimg.com/t0125c574e8ce6c237c.png) no-repeat;
	height:19px;
	width:19px;
	display: inline-block;
	vertical-align:bottom;
}
.search-res-list .tab-td4-1 .orange{ font-size: 20px; }
.search-res-list .font-17{font:17px/1.5 "微软雅黑";color:#999;}
.search-res-list .font17b{color:#FF6600;font-weight:bold;}

.search-res-list .tab-td4 .tab-td-icons{text-align:right;}
.search-res-list .tab-td4 .tab-td-icons span{margin-right:8px;}
.search-mod-hd .extra{float: right; margin: 6px 10px 0 0;}
/* .search-res-list .btn-view{background:url(https://p.ssl.qhimg.com/t0137e47817b890de3f.png) no-repeat 0 -46px;width:78px;height:28px;display:block;margin-top:5px;} */
.search-res-list .btn-view{background:url(https://p.ssl.qhimg.com/t01dd9d395cb04df24d.png) no-repeat 0 -46px;width:78px;height:28px;display:none;margin-top:5px;}
.search-res-list .btn-view:hover{background-position:-78px -46px;}
.search-res-list .btn-view:active{background-position:-156px -46px;}

.search-res-list .btn-buy{background:url(https://p.ssl.qhimg.com/t0137e47817b890de3f.png) no-repeat;width:78px;height:28px;display:block;}
.search-res-list .btn-buy:hover{background-position:-78px 0px;}
.search-res-list .btn-buy:active{background-position:-156px 0px;}

.search-res-list .btn-detail{background:url(https://p.ssl.qhimg.com/t01dd9d395cb04df24d.png) no-repeat;width:78px;height:28px;display:block; float: right; }
.search-res-list .btn-detail:hover{background-position:-78px 0px;}
.search-res-list .btn-detail:active{background-position:-156px 0px;}

.search-res-list .btn-product{
	color: #fff;
	text-align: center;
	background: url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat 0 0;
	width: 95px;
	height: 31px;
	line-height: 31px;
	display: block;
	float: right;
	font-weight: bold;
}

.search-res-list .btn-product:hover{
	text-decoration: none;
	background-position: 0px -31px;
}

.search-res-list .btn-product:active{
	background-position: 0px -62px;
}
/*没有找到相关信息*/
.search-no-foundmsg{border:solid 1px #DFDFE1;overflow:auto;margin-top:10px;}
.search-no-foundmsg .noleft{width:260px;float:left;background:url(https://p.ssl.qhimg.com/t01a32244c3f2581b41.png) no-repeat 100px 20px;height:213px;}
.search-no-foundmsg .noright{width:500px;float:left;padding-top:40px;padding-bottom:10px;}
.search-no-foundmsg .noright .font-14b{font-size:14px;font-weight:bold;color:#666;}
.search-no-foundmsg .noright .font-13b{font-size:13px;font-weight:bold;color:#666;padding-top:20px;}
.search-no-foundmsg .noright .font-12b{font-size:12px;font-weight:bold;color:#12811B;}
.search-no-foundmsg .noright .nobd-cont{color:#666;line-height:30px;}
.search-no-foundmsg .noright .btn-go{width:81px;height:30px;margin-left:10px;background:url(https://p.ssl.qhimg.com/t016779a315fe809d81.png) no-repeat;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;cursor:pointer;}
.search-no-foundmsg .noright .btn-go-disable{width:81px;height:30px;margin-left:10px;background:url(https://p.ssl.qhimg.com/t01923a2040ca1c337c.png);display:inline-block;*display:inline;*zoom:1;vertical-align:middle;cursor:pointer;}
/*搜索页城市列表区域*/
/* 服务商区 */
.search-service-area{margin-bottom:10px;padding-bottom:5px;}
.search-service-area .hd .subtit{margin:7px 0 0 19px;}
.ie6 .search-service-area .hd .subtit{margin-left:10px}
.search-service-area .hd .subtit strong{font-size:14px;font-weight:bold;color:#666;}
.search-service-area .bd{padding:0 0 5px;}
.search-service-area .area-list a{text-decoration:none;}
.search-service-area .area-list{/* min-height:74px;border-bottom:1px dashed #E1E1E3; */padding:7px 9px 0px 0px;}
.search-service-area .no-sub{text-align:center;line-height:82px;color:#999;height:81px;border-bottom:1px dashed #E1E1E3;}
.search-service-area .bd-md-2{padding-bottom:0px;}
.search-service-area .area-tit82{width:70px;float:left;}

.search-bd-area .mt5 {line-height: 100%;padding-top: 14px;height: 20px;line-height: 20px;}
.search-bd-area .mt5 .has-first a{font-weight:bold;}

.icon-360{width:17px;height:19px;background:url(https://p.ssl.qhimg.com/t01c3af3c4158cf1ef2.png) no-repeat;}
.mod-box4 .icon-window{margin-right:5px;}
.ie6 .mod-box4 .icon-window{margin-right:5px;margin-top:-3px;}
.mod-box4 .icon-dl{margin-right:2px;margin-top:-3px;}
.mod-box4 .icon-thumb{margin-right:5px;margin-top:-4px;}
.ie6 .mod-box4 .icon-thumb{margin-right:5px;width:15px;height:16px;background-position: -94px -60px;}
.mod-box4 .icon-price{margin-right:5px;}

.search-res-list .dianpu-product{
	color: #474747;
	line-height:24px;
	height: 24px;
	overflow:hidden;
}

.search-res-list .dianpu-detail,
.search-res-list .dianpu-dianpu{
	color:#999;
	line-height:24px;
	height: 24px;
	overflow:hidden;
}

.search-res-list a.btn-ask,
.search-res-list a.btn-ask-disabled{
	margin-left: 0px;
}

.search-res-list .tab-td5 .recomand-prd,
.search-res-list .shop-distance{
	clear:both;
	padding-top: 8px;
}

.search-res-list .shop-distance .juli{
	color: #FE8417;
}

.search-res-list .shop-distance .see-map{
	cursor: pointer;
}

#js-search-result .no-valid-warn{
	background: #FFFCE8;
	border: solid 1px #F8EDB2;
	color: #333333;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 20px;
	margin: 10px 20px;
}
#js-search-result .no-valid-warn .ico-alert{
	background: url(https://p.ssl.qhimg.com/t01424dea83211756f8.png) no-repeat 0px 0px;
	width: 24px;
	height: 19px;
	vertical-align:middle;
	*zoom:1;
	display: inline-block;
}
#js-search-result .no-valid-txt{
	color: #C0C0C0;
	font-size: 12px;
	font-weight: normal;
	padding-left: 7px;
}

.search-res-list .srv-area{
    width: 130px;
    text-align: center; 
}
.search-res-list .dp-area-base{
    display: block;
    border: 1px solid #FAFAFA;
    height: 24px;
    line-height: 24px;
}
.search-res-list .dp-area-list{
    display: none;
}
.search-res-list .dp-area-base .more-area{
    cursor: default;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
#AreaDetailTip{
    position: absolute;
    top:200px;
    left:100px;
    z-index: 10;
    color: #999999;
}
#AreaDetailTip .srv-area{
    line-height: 24px;
    width: 130px;
    text-align: center; 
}
#AreaDetailTip .dp-area-base{
    display: block;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #fff;
}
#AreaDetailTip .dp-area-base .more-area{
    cursor: default;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
#AreaDetailTip .dp-area-list{
    display: block;
    width: 128px;
    position: absolute; 
    left:0;
    top:20px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
}
#AreaDetailTip .dp-area-list .dp-area-item{
    display: block;
}
.icon-infoarrow2{
    width: 16px;
    height: 16px;
    background: url(https://p.ssl.qhimg.com/t010813d9ce48a42705.png) no-repeat -92px -64px;
    cursor: pointer;
}

.search-rel-projects{
	
	position: relative;
	z-index: 1;
	background: #FFF9D6;
	border: 1px solid #FFDB84;
	line-height: 24px;
	padding: 10px 20px;
	margin-bottom: -1px;
}
.search-rel-projects h2{
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}
.search-rel-projects h2 em{
	font-weight: bold;
}
.search-rel-projects .see-pt-prj{
	position: absolute;
	right: 20px;
	top:5px;
	color: #666666;
}
.search-rel-projects .see-pt-prj:hover{
	color: #f00;
}
.search-rel-projects .s-projects-opr{
	position: absolute;
	right: 20px;
	top:29px;
	display: none;
}
.s-projects-box{
	/*height: 24px;
	overflow: hidden;*/
}
.search-rel-projects .tag-item{
	float: left;
	margin-right: 18px;
	white-space: nowrap;
	word-break: keep-all;
	
	cursor: pointer;
}

.search-rel-projects .curr{
	color: #000000;
	cursor: default;
}
.search-rel-projects .tag-item:hover{
	color: #f00;
}
.search-rel-projects .curr:hover{
	text-decoration: none;
	color: #000;
}

.area-wrap .quxian-list{
	width: 884px;
}

.area-wrap .sub-area-list{
	border: 1px solid #F0F0F0;
	background: #FAFAFA;
	padding: 10px;
	margin-right: 16px;
}

.area-wrap .sub-area-list span,
.area-wrap .sub-area-list a{
	margin-right: 2px;
	margin-top: 2px;
	line-height: 1.64;
}

.area-wrap .sub-area-list a{
	padding: 0px 5px;
	text-decoration: none;
	display: inline-block;	
	_zoom:1;
}

.area-wrap .sub-area-list .alp-index{
	color: #FF7800;
	margin-right: 0;
}

/*区县列表*/
.search-bd-area,
.search-bd-area .area-wrap{
	background: #fff;
}

.area-list .has-sub .item-hd{
	padding: 0 6px;
}

.area-wrap .sub-area-list .currsub,
.area-wrap .sub-area-list .shangquan:hover{
	background-color: #2E74D3;
	color: #fff;	
	border-radius: 3px;			
}

.area-list .item{
	margin-right: 8px;
}

.addr-search-box{	
	height: 29px;
	background: url(https://p.ssl.qhimg.com/t01db96650f6b2fafcb.jpg) no-repeat 0 0;
	margin: 10px 0 5px 70px;	
}
.addr-search-box form{
	width: 307px;
}
.addr-search-box .addr-ipt{
	height: 19px;
	line-height: 19px;
	width: 205px;
	padding: 5px 5px 5px 24px;
	border: 0;
	background: transparent;
	float: left;
	color: #666;
}
.addr-search-box .addr-btn{
	width: 72px;
	height: 29px;
	border: 0;
	background: transparent;
	text-indent: -9999px;
	float: left;
	cursor: pointer;
}

.addr-search-box .default{
	color: #999;
}

#showBigMap{
	width: 695px;
	height: 480px;
}
.addr-search-err{
	display: none;
	color:#f00;
	float: left;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;	
}
.pinpai-logo-box{
    position: absolute;
    right: 0;
    top: 0;
    width: 172px;
}
.pinpai-logo-box .gu-item img{
	width: 170px;
	margin-bottom: 10px;
}
.pinpai-logo-box .pinpai-logo-title{
    color: #666666;
}
.pinpai-logo-box .pinpai-logo-title h2{
    font-size: 14px;
    line-height: 36px;
    font-weight: bold;
}
.pinpai-logo-box .pinpai-logo-head{

}
.pinpai-logo-box .pinpai-logo-tab{
    color: #787878;
    text-align: center;
}
.pinpai-logo-box .pinpai-logo-tab li{
    border: 1px solid #E8E8E8;
    border-right: none;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    width: 84px;
    cursor: pointer;
}
.pinpai-logo-box .pinpai-logo-tab .pinpai-logo-tab-cur{
    color: #4BAC20;
    font-weight: bold;
    border-top: 2px solid #4BAC20;
    border-bottom: none;
    background: #FAFAFA;
    cursor: default;
}
.pinpai-logo-box .pinpai-logo-content{
    border: 1px solid #E8E8E8;
    border-top: none;
    background: #FAFAFA;
    padding-bottom: 20px;
}
.pinpai-logo-box .pinpai-logo-item{
    display: block;
    width: 76px;
    height: 34px;
    background: url(https://p.ssl.qhimg.com/t01489d0901a9bfdbc2.png) no-repeat;
    text-indent: -9999px;
    margin: 8px 0 0 6px;
    float: left;
}
.pinpai-logo-box .logo-dell{
    background-position: -2px -2px;
}
.pinpai-logo-box .logo-dell:hover{
    background-position: -162px -2px;
}
.pinpai-logo-box .logo-thinkpad{
    background-position: -82px -2px;
}
.pinpai-logo-box .logo-thinkpad:hover{
    background-position: -242px -2px;
}
.pinpai-logo-box .logo-lenovo{
    /*background-position: -2px -45px;*/
    background: #FFFFFF;
    text-indent: 0;
    text-align: center;
    width: 74px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #666;
    border:1px solid #E9E9E9;
}
.pinpai-logo-box .logo-lenovo:hover{
    /*background-position: -162px -45px;*/
    background: #FFFFFF;
    text-indent: 0;
    text-align: center;
    width: 74px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #666;
    border:1px solid #E9E9E9;
}
.pinpai-logo-box .logo-apple{
    background-position: -82px -45px;
}
.pinpai-logo-box .logo-apple:hover{
    background-position: -242px -45px;
}
.pinpai-logo-box .logo-acer{
    background-position: -2px -89px;
}
.pinpai-logo-box .logo-acer:hover{
    background-position: -162px -89px;
}
.pinpai-logo-box .logo-hp{
    background-position: -82px -89px;
}
.pinpai-logo-box .logo-hp:hover{
    background-position: -242px -89px;
}
.pinpai-logo-box .logo-asus{
    background-position: -2px -132px;
}
.pinpai-logo-box .logo-asus:hover{
    background-position: -162px -132px;
}
.pinpai-logo-box .logo-hasee{
    background-position: -82px -132px;
}
.pinpai-logo-box .logo-hasee:hover{
    background-position: -242px -132px;
}
.pinpai-logo-box .logo-sony{
    background-position: -2px -176px;
}
.pinpai-logo-box .logo-sony:hover{
    background-position: -162px -176px;
}
.pinpai-logo-box .logo-benq{
    background-position: -82px -176px;
}
.pinpai-logo-box .logo-benq:hover{
    background-position: -242px -176px;
}
.pinpai-logo-box .logo-samsung{
    background-position: -2px -220px;
}
.pinpai-logo-box .logo-samsung:hover{
    background-position: -162px -220px;
}
.pinpai-logo-box .logo-tongfang{
    background-position: -82px -220px;
}
.pinpai-logo-box .logo-tongfang:hover{
    background-position: -242px -220px;
}
.pinpai-logo-box .logo-fujitsu{
    background-position: -2px -264px;
}
.pinpai-logo-box .logo-fujitsu:hover{
    background-position: -162px -264px;
}
.pinpai-logo-box .logo-toshiba{
    background-position: -82px -264px;
}
.pinpai-logo-box .logo-toshiba:hover{
    background-position: -242px -264px;
}
.pinpai-logo-box .logo-haier{
    background-position: -2px -307px;
}
.pinpai-logo-box .logo-haier:hover{
    background-position: -162px -307px;
}
.pinpai-logo-box .logo-msi{
    background-position: -82px -307px;
}
.pinpai-logo-box .logo-msi:hover{
    background-position: -242px -307px;
}
.pinpai-logo-box .logo-lg{
    background-position: -2px -351px;
}
.pinpai-logo-box .logo-lg:hover{
    background-position: -162px -351px;
}
.pinpai-logo-box .logo-greatwall{
    background-position: -82px -351px;
}
.pinpai-logo-box .logo-greatwall:hover{
    background-position: -242px -351px;
}
.pinpai-logo-box .logo-alienware{
    background-position: -2px -394px;
}
.pinpai-logo-box .logo-alienware:hover{
    background-position: -162px -394px;
}
.pinpai-logo-box .logo-founder{
    background-position: -82px -394px;
}
.pinpai-logo-box .logo-founder:hover{
    background-position: -242px -394px;
}
.pinpai-logo-box .logo-gateway{
    background-position: -2px -438px;
}
.pinpai-logo-box .logo-gateway:hover{
    background-position: -162px -438px;
}

.pinpai-logo-box .logo-huawei{
    background-position: -402px -45px;
}
.pinpai-logo-box .logo-huawei:hover{
    background-position: -562px -45px;
}
.pinpai-logo-box .logo-zte{
    background-position: -322px -89px;
}
.pinpai-logo-box .logo-zte:hover{
    background-position: -482px -89px;
}
.pinpai-logo-box .logo-nokia{
    background-position: -402px -89px;
}
.pinpai-logo-box .logo-nokia:hover{
    background-position: -562px -89px;
}
.pinpai-logo-box .logo-coolpad{
    background-position: -322px -132px;
}
.pinpai-logo-box .logo-coolpad:hover{
    background-position: -482px -132px;
}
.pinpai-logo-box .logo-htc{
    background-position: -402px -132px;
}
.pinpai-logo-box .logo-htc:hover{
    background-position: -562px -132px;
}
.pinpai-logo-box .logo-xiaomi{
    background-position: -322px -176px;
}
.pinpai-logo-box .logo-xiaomi:hover{
    background-position: -482px -176px;
}
.pinpai-logo-box .logo-meizu{
    background-position: -402px -176px;
}
.pinpai-logo-box .logo-meizu:hover{
    background-position: -562px -176px;
}
.pinpai-logo-box .logo-moto{
    background-position: -322px -220px;
}
.pinpai-logo-box .logo-moto:hover{
    background-position: -482px -220px;
}
.pinpai-logo-box .logo-oppo{
    background-position: -402px -220px;
}
.pinpai-logo-box .logo-oppo:hover{
    background-position: -562px -220px;
}
.pinpai-logo-box .logo-ktouch{
    background-position: -322px -264px;
}
.pinpai-logo-box .logo-ktouch:hover{
    background-position: -482px -264px;
}
.pinpai-logo-box .logo-vivo{
    background-position: -402px -264px;
}
.pinpai-logo-box .logo-vivo:hover{
    background-position: -562px -264px;
}
.pinpai-logo-box .logo-doov{
    background-position: -402px -307px;
}
.pinpai-logo-box .logo-doov:hover{
    background-position: -562px -307px;
}
.pinpai-logo-box .logo-amoi{
    background-position: -402px -351px;
}
.pinpai-logo-box .logo-amoi:hover{
    background-position: -562px -351px;
}
.pinpai-logo-box .logo-hisense{
    background-position: -322px -394px;
}
.pinpai-logo-box .logo-hisense:hover{
    background-position: -482px -394px;
}
.pinpai-logo-box .logo-gionee{
    background-position: -402px -394px;
}
.pinpai-logo-box .logo-gionee:hover{
    background-position: -562px -394px;
}
.pinpai-logo-box .logo-greenorange{
    background-position: -322px -437px;
}
.pinpai-logo-box .logo-greenorange:hover{
    background-position: -482px -437px;
}
.pinpai-logo-box .logo-konka{
    background-position: -402px -437px;
}
.pinpai-logo-box .logo-konka:hover{
    background-position: -562px -437px;
}
.pinpai-logo-box .logo-philips{
    background-position: -322px -481px;
}
.pinpai-logo-box .logo-philips:hover{
    background-position: -482px -481px;
}
.pinpai-logo-box .logo-bird{
    background-position: -402px -481px;
}
.pinpai-logo-box .logo-bird:hover{
    background-position: -562px -481px;
}

.right-liangpin-enter{
    position: fixed;    
    z-index: 1000;
    width: 110px;
    height: 242px;
    top: 296px;
    right: 0;

    _position:absolute;
    _top:expression(  documentElement.scrollTop + 296 +'px' );
}
.right-liangpin-enter .enter-xiu{
    display: block;
    width: 110px;
    height: 120px;
    background: url(https://p.ssl.qhimg.com/t017913ad8dfa783fa1.png) no-repeat 0 0;
    text-decoration: none;
}
.right-liangpin-enter .enter-xiu:hover{
    text-decoration: none;
}
.right-liangpin-enter .enter-liangpin{
    display: block;
    width: 110px;
    height: 121px;
    background: url(https://p.ssl.qhimg.com/t0135703b1a0ef9877b.png) no-repeat 0 0;
    text-decoration: none;
}
.right-liangpin-enter .enter-liangpin:hover{
    text-decoration: none;
}
