/***** 基本通用样式 */
.ht5 {height: 5px; clear: both; overflow: hidden; }
.ht10 {height: 10px; clear: both; overflow: hidden; }
.ht15 {height: 15px; clear: both; overflow: hidden; }
.ht40 {height: 40px; clear: both; overflow: hidden; }
.wd68{width: 68px;}
.wd102{width: 102px;}
.wd132{width: 132px;}
.wd200{width: 200px;}
.wd1000{width: 1000px;}
.fleft{float: left;}
.fright{float: right;}
.inpt,
.xiu-my-inpt{border: solid 1px #ccc; border-radius: 3px; -webkit-box-shadow: 2px 2px 3px #EDEDED inset; vertical-align: middle; -moz-box-shadow: 2px 2px 3px #EDEDED inset; box-shadow: 2px 2px 3px #EDEDED inset; height: 22px; padding: 0 4px; line-height: 22px; background:#fff; }
.xiu-my-selt{border: solid 1px #ccc; border-radius: 3px; -webkit-box-shadow: 2px 2px 3px #EDEDED inset; vertical-align: middle; -moz-box-shadow: 2px 2px 3px #EDEDED inset; box-shadow: 2px 2px 3px #EDEDED inset; height: 26px; padding: 0 4px; line-height: 26px; background:#fff; }
.xiu-my-selt2{border: solid 1px #ccc; border-radius: 3px; -webkit-box-shadow: 2px 2px 3px #EDEDED inset; vertical-align: middle; -moz-box-shadow: 2px 2px 3px #EDEDED inset; box-shadow: 2px 2px 3px #EDEDED inset; padding: 5px; line-height: 26px; background:#fff; }
.tare,
.xiu-my-tare{border: solid 1px #ccc; border-radius: 3px; -webkit-box-shadow: 2px 2px 3px #EDEDED inset; vertical-align: middle; -moz-box-shadow: 2px 2px 3px #EDEDED inset; box-shadow: 2px 2px 3px #EDEDED inset; height: 90px; padding: 5px; line-height: 26px; background:#fff; }
.xiu-my-btn-cx{width: 109px; height: 33px; background: url(https://p.ssl.qhimg.com/t0169bb48b3b6d0f8c8.png) no-repeat; border: none; box-shadow: none; cursor: pointer;}
.vtop{vertical-align: top;}
.mt20{margin-top: 20px;}
.mt75{margin-top: 75px;}
.mb60{margin-bottom: 60px;}
.mauto{margin: 0 auto;}
.ml30{margin-left: 30px;}
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}
.xiu-my-table{}
.xiu-my-table td{padding: 4px 5px 4px 0;}
.p100{width: 100%;}
.tablefixd{table-layout: fixed;}
.c1{color: red;}
.c2{color: #FF7A0E;}
.c3{color: #0096FF;}
.c4{color: #666666;}
.c5{color: #32A506;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.fbold{font-weight: bold;}
button{padding: 8px 12px;text-align: center;border: 1px solid #ccc;color: #333;background: #fff;cursor: pointer;}
button:hover{background: #eee;}
button:active{background: #ddd;}
.disabled{background: #f0f0f0;}
.disabled:hover{background: #f0f0f0;}
.disabled:hover{background: #f0f0f0;}
.upload-btn-wrap{display: inline-block; *display: inline; *zoom: 1; width: 80px; height: 30px; border: 1px solid #ccc; }
.errorblink{border: 1px solid #FF7A0E !important;}
.iblock{display: inline-block;*display: inline;*zoom: 1;}
.center{text-align: center;}
.xiu-confirm-pay-btn{display: inline-block;*display: inline;*zoom: 1;width: 141px;height: 33px;background:  url(https://p.ssl.qhimg.com/t01a681f5810e4643cc.png) no-repeat 0 0;}

.page-xiu{background: #F9F9F9 url(https://p.ssl.qhimg.com/t011e5a1bffb3719de5.jpg) repeat-x 0 0; }

/***** 商家顶部高 */
.topbanner {height: 81px; border-bottom: solid 3px #329900; overflow: hidden; }
.topbanner_logo {width: 225px; height: 68px; float: left; background: url(https://p.ssl.qhimg.com/t018923cd666517b496.png) no-repeat; margin-top: 12px; }
 
.page-xiu .hd-content{margin: 0 auto;height: 50px;position: relative; font-family: "微软雅黑";}
.page-xiu .logo{position: absolute; left: 0; top: 0; }
.page-xiu .hd-right{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.page-xiu .top-menu .menu-item{
    display: inline-block;
    _zoom:1;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    cursor: pointer;
    color: #999;
}
.page-xiu .wechat-heixiuge{
    position: relative;
}

.page-xiu .wechat-qrcode{
    display: none;
    position: absolute;
    left: -30px;
    top: 50px;
    z-index: 1000;
}
.page-xiu .wechat-heixiuge:hover .wechat-qrcode{
    display: block;
}


.page-xiu .icon-wechat{
    width: 18px;
    height: 18px;
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat -344px -141px;
}
.page-xiu .icon-fxcenter{
    width: 18px;
    height: 18px;
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat -392px -141px;
}
.page-xiu .icon-favor{
    width: 18px;
    height: 18px;
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat -369px -141px;
}
/********首页*************/
.page-xiu-index{}
.page-xiu-index .doc-bd{ width: auto;}
.page-xiu-index .start-bg{
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1000px;
    min-height: 640px;
}
.page-xiu-index .start-bg img{
    width: 100%;
}
 .page-xiu-index .start-content{
    position: relative;
    z-index: 10;
 }

.page-xiu-index .s-box{
    padding-top: 280px;
    font-family: "微软雅黑";
    color: #DEDFE0;
    background: url(https://p.ssl.qhimg.com/t0188cf44a0e943a4ce.png) no-repeat center 0;
}

.page-xiu-index .brand-list{

}
.page-xiu-index .brand-list .brand-item{
    display: block;
    margin: 20px auto;
    width: 260px;
    height: 50px;
    text-indent: -9999px;
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat 0 0;
}

.page-xiu-index .brand-list .brand-apple{
    background-position: 0 0;
}
.page-xiu-index .brand-list .brand-samsung{
    background-position: 0 -70px;
}

.page-xiu-index .brand-list .brand-apple:hover{
    background-position: -290px 0;
}
.page-xiu-index .brand-list .brand-samsung:hover{
    background-position: -290px -70px;
}

/******* page-admin-wx 维修管理页面 *******/
.page-xiu-my{
    font-family: "微软雅黑";
}
.xiu-my-nav-title{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.xiu-my-search-block{
    padding: 15px 12px;
    border: 1px solid #E1E1E1;
}

.xiu-my-detail-nav{
    border-bottom: 1px solid #ccc;
}
.xiu-my-detail-nav a{
    display: block;
    /*color: #333;*/
    color: #337D39;
    text-decoration: none;
}
.xiu-my-detail-nav a:hover{text-decoration: none;}
.xiu-my-detail-nav li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    color: #ccc;
}
.xiu-my-detail-nav .cur{
    height: 38px;
    border-bottom: 3px solid #329900;
}

.xiu-my-detail-cont{
    padding: 16px 5px 0 5px;
    margin: 0 auto;
    /*width: 700px;*/
}
.xiu-my-detail-cont-left, .xiu-my-detail-cont-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 50%;
    vertical-align: top;
}
.cont-line{
    padding: 5px 0;
    margin-bottom: 5px;
}
.cont-line .line-left{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-right: 5px;
    width: 120px;
    text-align: right;
    /*vertical-align: top;*/
}
.cont-line .line-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.cont-line .line-both{
    /*text-align: center;*/
}
.cont-line textarea{
    padding: 5px;
    width: 300px;
    height: 90px;
}
.cont-line .sub-line{
    padding: 5px 0;
    margin-bottom: 5px;
    line-height: 26px;
}

.xiu-my-wxpplist-selt{
    width: 200px;
    margin-left: 8px;
}
.xiu-my-wxxhlist-selt{
    width: 200px;
    margin-left: 8px;
}
.xiu-my-wxfalist-selt, .xiu-my-wxfalist-selt-selected{
    width: 232px;
}
.line-right-pl{
    margin-right: 20px;
}
.line-right-pr{

}
.xiu-my-wxfa-sub{
    margin-top: 100px;
}
.xiu-my-shebei-imglist{
    margin-top: 5px;
}
.xiu-my-shebei-imglist li{
    float: left;
    margin-right: 8px;
    width: 82px;
    height: 98px;
    text-align: center;
}
.xiu-my-shebei-imglist li span{
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #ccc;
    background: #E1E1E1;
}
.jx-order-list{}
.jx-order-list th{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.jx-order-list td{
    padding: 12px 5px 0 5px;
}
.jx-order-list .th-orderid{width: 160px; }
.jx-order-list .th-brand{width: 90px; }
.jx-order-list .th-model{width: 110px; }
.jx-order-list .th-createtime{width: 150px; }
.jx-order-list .th-faultdesc{/*width: 180px;*/ }
.jx-order-list .th-status{width: 90px; }
.jx-order-list .th-yjreceiver{width: 80px; }
.jx-order-list .th-yjmobile{width: 100px; }
.jx-order-list .th-caozuo{width: 60px; }
.jx-order-list .td-yjmobile,
.jx-order-list .td-caozuo{text-align: center;}


/*进度条*/
.xiu-process-bar-block{
    margin: 45px 0 25px 0;
}
.xiu-process-bar a,
.xiu-process-bar span,
.xiu-process-bar .cur{float: left; display: block; width: 103px; height: 46px; background: url(https://p.ssl.qhimg.com/t01b4105e987a20277a.png) no-repeat;}
.xiu-process-bar a{cursor: pointer;}
.xiu-process-bar span{cursor: default;}
.xiu-process-bar a:hover{text-decoration: none;}
.xiu-process-bar-1 span{background-position: 0 0;}
.xiu-process-bar-1 a{background-position: 0 -90px;}
.xiu-process-bar-1 .cur{background-position: 0 -200px;}
.xiu-process-bar-2 span{background-position: -103px 0;}
.xiu-process-bar-2 a{background-position: -103px -90px;}
.xiu-process-bar-2 .cur{background-position: -103px -200px;}
.xiu-process-bar-3 span{background-position: -206px 0;}
.xiu-process-bar-3 a{background-position: -206px -90px;}
.xiu-process-bar-3 .cur{background-position: -206px -200px;}
.xiu-process-bar-4 span{background-position: -309px 0;}
.xiu-process-bar-4 a{background-position: -309px -90px;}
.xiu-process-bar-4 .cur{background-position: -309px -200px;}
.xiu-process-bar-5 span{background-position: -412px 0;}
.xiu-process-bar-5 a{background-position: -412px -90px;}
.xiu-process-bar-5 .cur{background-position: -412px -200px;}
.xiu-process-bar-6 span{background-position: -515px 0;}
.xiu-process-bar-6 a{background-position: -515px -90px;}
.xiu-process-bar-6 .cur{background-position: -515px -200px;}
.xiu-process-bar-7 span{background-position: -618px 0;}
.xiu-process-bar-7 a{background-position: -618px -90px;}
.xiu-process-bar-7 .cur{background-position: -618px -200px;}
.xiu-process-bar-8 span{background-position: -721px 0;}
.xiu-process-bar-8 a{background-position: -721px -90px;}
.xiu-process-bar-8 .cur{background-position: -721px -200px;}
.xiu-process-bar-6-2 span{background-position: -814px 0;}
.xiu-process-bar-6-2 a{background-position: -814px -90px;}
.xiu-process-bar-6-2 .cur{background-position: -814px -200px;}


/****/
.xiu-detail-cont{
    margin: 0 auto; width: 880px; color: #666;
}
.xiu-detail-cont-left, .xiu-detail-cont-right{display: inline-block; *display: inline; *zoom: 1; width: 50%; vertical-align: top;}
.xiu-process-3 .xiu-detail-cont-left,
.xiu-process-4 .xiu-detail-cont-left,
.xiu-process-5 .xiu-detail-cont-left{background: url(https://p.ssl.qhimg.com/t0197ed163c7d054766.png) no-repeat right top; }

.line{margin-top: 10px;}
.line .line-left{ display: inline-block; *display: inline; *zoom: 1; padding-right: 5px; width: 120px; text-align: right;}
.line .line-right{display: inline-block; *display: inline; *zoom: 1; }
.line .line-both{ /*text-align: center;*/ }
.line textarea{padding: 5px; width: 300px; height: 90px; }
.line .sub-line{padding: 5px 0; margin-bottom: 5px; line-height: 26px; }



/*** 免费预约 ***/
.tit3{line-height: 2;}

.xiu-process-2{margin: 0 auto; width: 880px; color: #666;}
.xiu-process-2 .line{margin-top: 10px;}
.xiu-process-2 .xiu-detail-cont-left{width: 60%;}
.xiu-process-2 .xiu-detail-cont-left .line{width: 90%;}
.xiu-process-2 .xiu-detail-cont-right{width: 40%;}
.xiu-brand-apple{width: 280px; height: 360px; background: url(https://p.ssl.qhimg.com/t01acb82f99cb8fe6ab.png) no-repeat; }
.xiu-brand-samsung{width: 280px; height: 360px; background: url(https://p.ssl.qhimg.com/t0126540903ddd171f1.png) no-repeat; }
.xiu-btn-xiadan{margin-top: 40px; margin-bottom: 10px; display: block; width: 141px; height: 32px; background: url(https://p.ssl.qhimg.com/t010fb07c46d27758e0.png) no-repeat -5px -5px; }
.xiu-btn-xiadan:hover{background-position: -151px -5px; }
.xiu-process-2 .model-list,
.xiu-process-2 .issue-list{padding: 6px 0; margin-bottom: 10px; }
.xiu-process-2 .xiu-mobile-line{padding: 12px 0 6px 0; margin-bottom: 10px; }
.xiu-btn-yanzheng{margin: 0 30px 0 8px;padding: 0 8px;display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;/*width: 78px;*/ height: 24px;line-height: 24px;color: #FFF;background: #FF7A0E;text-align: center;}
.xiu-btn-yanzheng:hover{text-decoration: none;}
.btn-vcode-disabled{background: #e0e0e0; color: #aaa; cursor: default;}

/*** 收货信息 ***/
.xiu-process-3{padding-top: 40px;}
.xiu-process-3-intro{margin: 0 auto; width: 304px; height: 316px; background: url(https://p.ssl.qhimg.com/t014c57fb39360b0b8f.png) no-repeat;}
.page-xiu .select-type{
    height: 24px;    
    display: inline-block;
    vertical-align: middle;
    _display:inline;
    _zoom:1;
    padding-bottom: 5px;
}
.page-xiu  .area-sel {
    background: #f8f8f8;
    border: 1px solid #D8D8D8;
    color: #666;
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 4px;
    position: relative;
    z-index: 101;
}
.page-xiu .mr-10 {
    margin-right: 4px;
}
.page-xiu .icon-arrow {
    background: url(https://p.ssl.qhimg.com/t010d71e7b045cd4e73.png) no-repeat scroll  5px -30px;
    height: 22px;
    width: 20px;
}
.page-xiu .select-pannel{display:none;position: absolute;width: 340px;background: #FBFBFB;border: solid 1px #CFCFCF;left: -1px;top: 28px;padding: 8px 0;z-index: 10001;}
.page-xiu .select-pannel h3{ font-weight: normal;height: 20px; line-height: 20px; padding: 0 10px; position: relative;}
.page-xiu .select-pannel h3 .close{background: url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor: pointer; display: block; height: 20px; line-height: 100px; overflow: hidden; position: absolute; right: 10px; top: 0; width: 55px;}
.page-xiu .select-pannel .select-list{background: #FFFFFF;border: solid 1px #E8E8E8;margin: 12px 12px 3px; padding: 12px 12px 0;}
.page-xiu .select-pannel .select-list a{color: #000000;display: inline-block; height: 18px; line-height: 18px; margin: 0 18px 5px 0;}



/*** 等待发货 ***/
.xiu-process-4{padding-top: 40px;color: #999;}
.xiu-process-4 h3{font-size: 16px;color: #666;line-height: 1.8;}
.xiu-process-4 .desc-info{font-size: 14px;line-height: 1.6;}
.xiu-process-4 .xiu-detail-cont-left .line{padding-bottom: 30px; width: 90%; }
.xiu-process-4 .addr-line,
.xiu-process-4 .tip-line{padding-left: 55px; padding-bottom: 30px; line-height: 1.8; }
.xiu-process-4 .addr-detail{font-size: 16px;line-height: 2.2;}
.xiu-chakan-xiaozhitiao{text-decoration: underline;}

/*** 收到手机 ***/
.xiu-process-5{padding-top: 40px;color: #999;font-size: 14px;}
.xiu-process-5 h3{font-size: 16px;color: #666;line-height: 1.8;}
.xiu-process-5 .xiu-detail-cont-left{height: 350px;}
.xiu-process-5 .xiu-detail-cont-left .line{padding-bottom: 30px; width: 90%; }
.xiu-mobile-img{float: left;margin-right: 8px;position: relative;padding: 5px;width: 80px;height: 80px;cursor: pointer;}
.xiu-mobile-img-bigger{padding: 0;width: 90px;height: 90px;}
.xiu-mobile-img img{width: 100%;height: 100%;}
.xiu-mobile-img-cover{position: absolute; top: 5px; left: 5px; width: 80px; height: 80px; background: url(https://p.ssl.qhimg.com/t01949da1b3e5cecdf6.png) no-repeat -13px -13px; }
.xiu-mobile-img-cover-bigger{position: absolute; top: 0px; left: 0px; width: 90px; height: 90px; background: url(https://p.ssl.qhimg.com/t017a06804596e817a5.png) no-repeat -8px -8px; }
.xiu-process-5-panel .close{background: url(https://p.ssl.qhimg.com/t012db39b497c50fd27.png) no-repeat; width: 11px; height: 11px; position: absolute; top: 11px; right: 13px; cursor: pointer; }

/*** 在线支付 ***/
.xiu-process-6{padding-top: 40px;color: #999;font-size: 12px;}
.xiu-weixiu-fangan{
    padding-top: 20px;
}
.xiu-weixiu-fangan table{
    width: 600px;
    table-layout: fixed;
}
.xiu-weixiu-fangan th{height: 30px;line-height: 30px;border-bottom: 1px solid #D6D6D6;}
.xiu-weixiu-fangan td{height: 36px;line-height: 36px;}
.xiu-weixiu-fangan .count-total-tr td{border-top: 1px solid #D6D6D6;}

/*** 取消维修 ***/
.xiu-process-6-2{padding-top: 40px;color: #999;}
.xiu-process-6-2 .xiu-detail-cont-left{width: 300px;}
.xiu-process-6-2 .xiu-detail-cont-right{padding-top: 160px;width: 580px;}
.xiu-process-6-2-intro{margin: 0 auto; width: 220px; height: 350px; background: url(https://p.ssl.qhimg.com/t012864a6972e07820c.png) no-repeat 0 0; }


/****/

.page-xiu .check-item{float: left; margin: 5px 10px 5px 0; padding: 0 8px; min-width: 16px; _width: 16px; height: 32px; line-height: 32px; border: 1px solid #C0C0C0; font-size: 14px; color: #999; text-align: center; cursor: pointer; border-radius: 8px; }
.page-xiu .check-item-curr{background: #0096FF; border-color: #0096FF; color: #fff; }

.page-xiu .model-item{
    
}

.page-xiu .model-list-samsung .check-item{
    border-radius: 8px;
}
.page-xiu .issue-list .check-item{
    border-radius: 8px;
    font-size: 12px;
}

.page-xiu .evaluate-table{
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-xiu .evaluate-table th{
    height: 30px;   
    color: #999;
    border-bottom: 1px solid #DADCDD;
}

.page-xiu .evaluate-table td{
    height: 26px;
    color: #666;
}

.page-xiu .evaluate-table .money{
    color: #ff7a0e;
}

.page-xiu .mb10{
    margin-bottom: 10px;
}
.page-xiu .btn-buy{
    vertical-align: middle;
    display: inline-block;
    _zoom:1;
    width: 142px;
    height: 42px;
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat 0 -129px;
    text-indent: -9999px;
}
.page-xiu .btn-buy:hover{
    background-position: -172px -129px;
}
.page-xiu .submit-box{
    padding: 10px 0;
}

.page-xiu .buy-addition{
    color: #ff7e15;
    font-weight: bold;
    margin-left: 14px;
}

.page-xiu .sub-btn{
    background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat scroll 0 -218px;
    width: 121px;
    height: 32px;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    margin-top: 10px;
}
.page-xiu .sub-btn:hover{
    background-position: -124px -218px;
}


/*用户订单*/
.page-xiu .repair-thumb,
.page-xiu .no-th-pic{
    border: 1px solid #FFFFFF;
    width: 180px;
    height: 136px;
}
.page-xiu .no-th-pic{
    display: inline-block;
    _zoom:1;
    line-height: 136px;
    text-align: center;
    font-size: 20px;
    color: #666;   
    background: #fff;
    border-color: #B4E0FC;
    text-shadow: 2px 2px 3px #ccc;
}
.page-xiu .my-order-list{
    width: 100%;
    table-layout: fixed;
    margin-bottom: 30px;
}

.page-xiu .my-order-list td{
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #D6D6D6;
    color: #666;
    vertical-align: middle;    
}
.page-xiu .my-order-list .desc{
    line-height: 2.4;
}

.page-xiu .my-order-list .see-order-detail{
    display: inline-block;
    _zoom:1;
    background: #FF7A0E;
    width: 140px;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    color: #fff;
    text-align: center;        
    border-radius: 2px;
}
.page-xiu .my-order-list .see-order-detail:hover{
    text-decoration: none;
    background: #FC892C;
}

/*维修报告*/
.page-xiu .repair-report{
    padding: 10px 0;
}
.page-xiu .repair-report .report-tit1{
    color:#0096ff;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}
.page-xiu .repair-report .report-tit2{
    color:#0096ff;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #0096FF;
}

.page-xiu .repair-report .report-table{
    width: 100%;        
    table-layout: fixed;
}
.page-xiu .repair-report .report-table td{
    padding: 30px 0 30px 80px;
    vertical-align: middle;
    line-height: 2.4;
    color: #666;
    font-size: 14px;
}
.page-xiu .repair-report .report-table .check-items{
    font-size: 12px;
}
.page-xiu .repair-report .report-table .fangan-list{
    display: inline-block;
    _zoom:1;
    width: 300px;
    vertical-align: top;
}
.page-xiu .repair-report .report-table .fangan-item{
    display: block;
}
.page-xiu .repair-report .report-table .price{
    color: #f60;
    margin-left: 20px;
}
