/**
 *	首页
 */
/* 服务商区 */
.service-area{margin-bottom:10px;padding-bottom:5px; /****先不显示了****/display: none;}
.service-area .hd .subtit{margin:7px 0 0 19px;}
.ie6 .service-area .hd .subtit{margin-left:10px}
.service-area .hd .subtit strong{font-size:14px;font-weight:bold;color:#666;}
.service-area .bd{padding:0 0 5px;}
.service-area .area-list{min-height:74px;background:#fff;border-bottom:1px dashed #E1E1E3;padding:7px 9px 0 0;}
.service-area .no-sub{text-align:center;line-height:82px;color:#999;height:81px;border-bottom:1px dashed #E1E1E3;}
.service-area .bd-md-2{padding-bottom:0px;}
.service-area .area-tit82{width:82px;float:left;}

/* 商家维修信息 */
.repair-info .hd .extra{margin-top:6px;}
.repair-info .bd{padding:0;margin: 0}
.repair-info .list-2 li{*padding-top:5px;_padding-bottom:9px;}

/* 商家好评 */
.positive-comments .bd{padding:0;height:559px;padding:0;_height:561px;}
.positive-comments .comments li{margin:0 15px;padding:8px 0;/*padding-top:10px\9;padding-bottom:10px\9;*/}
.positive-comments .comments .name{/*font-weight:bold;*/color:#2e74d3;margin-right:10px;}
.positive-comments .comments .no{float:right;}
.positive-comments .comments .date-time{float:right;margin-left: 25px;}
.positive-comments .comments .btn-ask,
.positive-comments .comments .btn-ask-disabled{margin-left:10px;}
.positive-comments .comments .comment-content{font-size: 14px;height: 44px;margin-bottom:7px;}
.positive-comments .comments .comment-baseinfo{color:#999;}
.positive-comments .comments .comment-baseinfo img{width: 30px;height: 30px;}
.positive-comments .comments .comment-baseinfo a{color: #999;margin-right: 5px;}
.positive-comments .comments .comment-baseinfo a:hover{color: #2E74D3;}
.positive-comments .comments .comment-baseinfo span{margin-right: 5px;}

/* 申请加盟 */
/* 申请加盟 */
.application{background:#F8FFF9 url(https://p.ssl.qhimg.com/t016d6a991007ce44f2.png) no-repeat;border:1px solid #dfdfe1;padding:10px 20px 13px;}
.application .hd{border:none;height:30px;overflow:hidden;}
.application .hd .tit{font-size:16px;font-weight:bold;color:#444;}
.application .bd{background:#f8f8f8;color:#666;padding:0;}
.application li{line-height:28px;}
.application li .orange{font-size:18px;}
.application p{line-height:22px;}
.application .p-btn{text-align:center;line-height:0;}
.application .btn{margin-top:7px;}
.application .hd-2nd{border-top:1px dashed #e0e0e0;margin-top:14px;padding-top:8px;*padding-top:12px;_margin-top:14px;}
.application.pic{padding:0; /****先不显示了****/display: none;}

.application a{position: absolute;height:32px;width:90px;background-image:url(about:blank);left:0px;}

.application a.c2{top:46px;}
.application a.c3{top:92px;}


.ie6 .chkbox{position:relative;top:-3px;}
.recomm-dianpu{height:90px;background:#FFFAE4;text-align:center;border-bottom:1px solid #d4d4d4;}

.img-navigation{height:207px;width:230px;position:absolute;top:0px;}

.repair-info .no-data-merrepair{height:51px;text-align: center;padding-top: 30px;background: #FFFAE4;margin:0 0px;z-index:1;overflow:hidden;}


/*调整首页右侧宽度*/
.module-index .col-1{width:772px;}
.module-index .col-2{width:180px;overflow:hidden;}


.module-index .md-index-right{padding:9px 5px 9px 5px;}
.module-index .md-index-right2{padding:9px 5px 9px 5px;}
.module-index .md-index-right2 .figure-h .cont{width:134px;overflow:hidden;float:left;}
.module-index .md-index-right2 .list-rank h3{width:143px;}
.module-index .md-index-right2 .list-rank .sep{margin:0 3px;}
.module-index .md-index-right2 .list-rank li{padding: 9px 5px 9px 10px;}
.smodule-index .list-2 .into-shop{width:94px;height:29px;background:url(https://p.ssl.qhimg.com/t010374b4f75138e1c3.png) no-repeat;overflow:hidden;right:5px;}
.module-index .mt5{line-height:100%;padding-top:14px;height:25px;}
.module-index .mt5 a{padding:4px 5px 4px 5px;}
.module-index .mt5 .has-first a{font-weight:bold;}
.module-index .btn_zj_disable,.module-index .application .btn_zj_disable{width:89px;height:32px;background:url(https://p.ssl.qhimg.com/t01d9f05073def4bdf7.png) no-repeat;position:absolute;}
.module-index .application a{width:89px;height:32px;background:url(https://p.ssl.qhimg.com/t015a87599043152969.png) no-repeat;position:absolute;top:79px;left:34px;}
.module-index .application a:hover{background-position:-89px 0;}
.module-index .application a:active{background-position:-178px 0;}
/* 首页立即聊天按钮 */
.module-index .btn-ask,
.module-index .btn-ask-disabled{
	position: static;
	margin-left: 0px;
}

.module-index .into-shop{
	right: 5px;
	top:31px;
	/* top:32px; */
	background: url(https://p.ssl.qhimg.com/t01335de9ea77220d24.gif) no-repeat;
	text-indent: -9999px;
	width: 95px;
	height:28px;
}

.module-index .into-shop:hover{
	background-position: 0 -28px;
}

.module-index .into-shop:active{
	background-position: 0 -56px;
}
.module-index .into-shop-n{
	position: absolute;
	right: 5px;
	top:31px;
	color: #fff;
	text-align: center;
	background: url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat 0 0;
	width: 95px;
	height: 31px;
	line-height: 31px;
	display: block;
	float: right;
	font-weight: bold;
}

.module-index .into-shop-n:hover{
	text-decoration: none;
	background-position: 0px -31px;
}

.module-index .into-shop-n:active{
	background-position: 0px -62px;
}

.module-index .shop-score{
	position: absolute;
	top:6px;
	right: 120px;
	width: 160px;
	text-align: center;
	line-height: 26px;
}

.module-index .shop-score strong{
	font-weight: bold;
}
.module-index .shop-score .f-w-b{
	font-size: 20px;
	font-weight: normal;
}

.module-index .list-2 .desc,
.module-index .list-2 .addr
{
	display: block;
	width: 370px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.module-index .dl-area-wrap{border-bottom: 1px dashed #E1E1E3;}
.module-index .dl-area-wrap dt,.module-index .dl-area-wrap dd{float:left;}
.module-index .dl-area-wrap dt{width:36px;margin-top:16px;}
.module-index .dl-area-wrap dd{width:600px;}
.module-index .dl-area-wrap dt a{text-decoration:none;}
.module-index .dl-area-wrap dt.has-first  a span {
    border-radius: 3px 3px 3px 3px;
    color: #2E74D3;
    padding: 3px 5px;
    font-weight: bold;
}
.module-index .dl-area-wrap dt.has-first  a.curr span,.module-index .dl-area-wrap dt.has-first  a:hover span {
    background-color: #2E74D3;
    color: #FFFFFF;
    font-weight: bold;
}
.module-index .dl-area-wrap dd .area-list{border-bottom:none;}



.inline-block{display: inline-block;*zoom: 1;}

.search-click-here{display: block;}

/* 首页右侧问卷 */
.index-right-wenjuan{
	display: block;
	position: fixed;
	z-index: 1000;
	bottom: 140px;
	background: url(https://p.ssl.qhimg.com/t0140f2640435dd93be.png) no-repeat 0 0;

	width: 27px;
	height: 86px;

	_position: absolute;
	_top: expression(documentElement.scrollTop + ( documentElement.clientHeight -140 - 86) + 'px');
}

.index-right-wenjuan:hover{
	background-position: -27px 0;
}

/*** 首页顶部： 问题分类+广告栏 ***/
.bang-top-box{ background: #F5F5F5; border-top: 3px solid #4BAC20; margin-top: -13px; margin-bottom: 10px;}
.bang-top-box .doc-sub-menu .menu-list{ padding-left: 220px; }
.bang-top-box .doc-sub-menu{margin-top: 0;}
.bang-top{width: 960px; height: 328px;margin:0 auto; margin-top: -3px;*margin-top: -3px;}
.bang-top-left{/*width: 192px;*/  float: left;}
.bang-top-rr{float: right;/*width: 170px; margin-left: 10px;*/width: 173px;margin-left: 8px;}
.bang-top-right{width: 550px;  float: right; margin-top: -1px;}
.bang-top .top-yuyue{
	background: url(https://p.ssl.qhimg.com/t01de284aad7fd3d428.png) no-repeat 0 -46px;
	width: 178px;
	height: 142px;
	position: relative;
	border: 1px solid #CAD1C6;
	margin-bottom: 10px;
}
.bang-top .mobile-app{
	background: url(https://p.ssl.qhimg.com/t01de284aad7fd3d428.png) no-repeat -180px -46px;
	width: 178px;
	height: 110px;
	border: 1px solid #CAD1C6;
}
.bang-top .top-yuyue .subscribe-service{display: block; position: absolute; left: 40px; top:94px; width: 80px; height: 34px;}
.bang-top-left .cate-wrap{width: 220px;position: relative;z-index: 101;margin: -52px 0 0 0; background: #fff;}
.cate-wrap h2.cate-title{padding-left: 20px;height: 42px;line-height: 42px;background: #4BAC20; font-size: 16px; font-family: "微软雅黑"; color: #fff;position: relative;}
.cate-wrap ul.cate-top{display: block;border: solid 1px #D9DCDA;border-top: none; border-bottom: none; _position: absolute;}
.cate-wrap ul.cate-top li{float:left;height: 92px;width: 210px;*width: 209px;margin-bottom: 0; padding-left: 10px; /*background: url(https://p.ssl.qhimg.com/t01fecb6a4299d251f8.gif) no-repeat right 30px;*/ border-bottom: 1px solid #DDDAD9;}
.cate-wrap ul.cate-top .last{ background-position: right -74px; }
.cate-wrap h2.cate-title .icon-arrow-up{display: block;width: 18px;height: 18px;position: absolute;left: 203px;top: 10px;background: url(https://p.ssl.qhimg.com/t0175b0677307b2a1af.png) no-repeat -35px -14px;}
.cate-wrap h2.cate-title .icon-arrow-down{display: block;width: 18px;height: 18px;position: absolute;left: 203px;top: 10px;background: url(https://p.ssl.qhimg.com/t0175b0677307b2a1af.png) no-repeat -14px -14px;}

/*.cate-wrap ul.cate-top .green{background:#71C02D url(https://p.ssl.qhimg.com/t0164aada9ab28e385d.png) no-repeat right -35px;  color: #fff;
_background-color:#71C02D !important; 
}*/
.cate-wrap .cate-sub{position: absolute;top: 0;left: 219px;display: none;width:420px;height: 275px;overflow: hidden;border: solid 1px #C1C1C1;background: #FFFFFF; padding: 20px 10px;}
.cate-wrap .cate-sub ul{display: block;}

.cate-wrap .cate-name{ font-weight: bold; height: 36px; line-height: 36px; }
.cate-wrap .sub-key a{ color: #666666; display: block; float: left; margin-right: 8px; line-height: 24px; _display:inline; word-break:keep-all; white-space: nowrap;}
.cate-wrap .sub-key .hot{ color: #FA7600;}
.cate-wrap .i-icon{
	display: inline-block;
	_zoom:1;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 6px;
	background: url(https://p.ssl.qhimg.com/t0129afb19f95888f9b.gif) no-repeat 0 0;
}
.cate-wrap .icon-pc{
	background-position: -1px -1px;
}
.cate-wrap .icon-mo{
	background-position: -21px -1px;
}
.cate-wrap .icon-ot{
	background-position: -41px -2px;
}


.bang-top-right .top-area{width: 730px;height: 36px;line-height: 36px;background: #71C02D;margin: -3px 0 0 0;color: #FFFFFF;_zoom:1;_position:relative; z-index: 99;}
.bang-top-right .top-tuig{width: 550px;height: 160px;background: #FFFFFF;overflow: hidden;}
.bang-top-right .top-ask{width: 534px;height: 115px;border: solid 1px #DFDFDF; padding-left: 15px;padding-right: 15px;position: relative;}
.bang-top-right .top-slide-bot{  height:108px; border: 1px solid #D9DCDA; position: relative;  background: #fff;}
.bang-top-right .top-slide-bot .s-btn-prev,
.bang-top-right .top-slide-bot .s-btn-next{
	display: block;
	position: absolute;
	width: 23px;
	height: 108px;
	top:0;
	background: #fff url(https://p.ssl.qhimg.com/t0129afb19f95888f9b.gif) no-repeat 0 0;
}
.bang-top-right .top-slide-bot .s-btn-prev{
	left: 0;
	background-position: -56px center;
}
.bang-top-right .top-slide-bot .s-btn-next{
	right: 0;
	background-position: -78px center;
}
.bang-top-right .top-slide-bot .s-btn-prev:hover,
.bang-top-right .top-slide-bot .s-btn-next:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.bang-top-right .top-slide-bot .slide-bot-inner{
	width: 504px;
	height: 108px;
	margin: 0 auto;
	overflow: hidden;
}
.bang-top-right .slide-bot-inner li{
	width: 167px;
	float: left;
	border-right: 1px solid #E1E1E1;
}
.bang-top-right .slide-bot-inner .first{
	border-left:  1px solid #E1E1E1;
}

.top-area .area-list{display: block;overflow: hidden;width: 630px;float: left;cursor: pointer;height: 36px;}
.top-area .area-list .item{display: block;float: left;margin: 0px;}
.top-area .area-list .actived{background: #3A9113;}
.top-area .area-list .item a{display: inline-block;_zoom:1;height: 36px;line-height: 36px;padding: 0 18px;color: #FFFFFF;font: 14px/36px "微软雅黑";text-decoration: none;}
.top-area .area-list .item a:hover{background: #3A9113;}
.top-area .area-list-more{display: block;width: 99px;border-left: solid 1px #5A9B20;float: right;background: #64AD24;position: relative;cursor: pointer;z-index: 110;}
.top-area .area-list-more .more-txt{display: block;margin: 0 12px;height: 36px;line-height: 36px;font: 14px/36px "微软雅黑";}
.top-area .area-list-more .more-txt .icon-arrow-down{display: block;width: 13px;height: 13px;float: right;background: url(https://p.ssl.qhimg.com/t0175b0677307b2a1af.png) no-repeat -68px -14px;margin: 11px 0 0;position: absolute;top:0;right: 18px;}
.top-area .area-list-more .more-txt .icon-arrow-up{display: block;width: 13px;height: 13px;float: right;background: url(https://p.ssl.qhimg.com/t0175b0677307b2a1af.png) no-repeat -83px -14px;margin: 11px 0 0;position: absolute;top:0;right: 18px;}
.top-area .area-list-more ul{position: absolute;display: block;width: 240px;right: 0;background: #64AD24;z-index: 1;}
.top-area .area-list-more ul li{display: block;min-width: 80px;height: 36px;float: left;padding: 0;margin: 0;}
.top-area .area-list-more ul li.actived{background: #3A9113;}
.top-area .area-list-more ul li a{display: block;overflow: hidden;min-width: 70px;height: 36px;line-height: 36px;margin: 0;padding: 0 5px;text-align: center;color: #FFFFFF;font: 14px/36px "\5fae\8f6f\96c5\9ed1";text-decoration: none;}
.top-area .area-list-more ul li a:hover{background: #3A9113;}
.top-ask .list{display: block;height: 80px;position: relative;}
.top-ask .list a{display: block;padding:0 5px; line-height: 28px;position: absolute;}
.top-ask .list a:hover{text-decoration: none; 
	z-index: 10;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s  ease-in;
	-ms-transition:all 0.3s  ease-in;
	transition:all 0.3s  ease-in;
}
.top-ask .list a.tip1{left: 325px;top: 35px}
.top-ask .list a.tip2{left: 321px;top: 27px}
.top-ask .list a.tip3{left: 327px;top: 29px}
.top-ask .list a.tip4{left: 323px;top: 38px}
.top-ask .list a.tip5{left: 324px;top: 33px}
.top-ask .list a.tip6{left: 332px;top: 35px}
.top-ask .list a.tip7{left: 326px;top: 37px}
.top-ask .list a.tip8{left: 333px;top: 39px}
.top-ask .list a.tip9{left: 322px;top: 38px}
.top-ask .list a.tip10{left: 329px;top: 36px}
.top-ask .list a.tip11{left: 329px;top: 36px}
.top-ask .list a.tip12{left: 329px;top: 36px}
.top-ask .list a.tip13{left: 329px;top: 36px}
/*.top-ask .list a.tip1{left: 0px;top: 0px}
.top-ask .list a.tip2{left: 146px;top: 0px}
.top-ask .list a.tip3{left: 220px;top: 0px}
.top-ask .list a.tip4{left: 305px;top: 0px}
.top-ask .list a.tip5{left: 440px;top: 0px}
.top-ask .list a.tip6{left: 530px;top: 0px}
.top-ask .list a.tip7{left: 0px;top: 42px}
.top-ask .list a.tip8{left: 174px;top: 42px}
.top-ask .list a.tip9{left: 325px;top: 42px}
.top-ask .list a.tip10{left: 400px;top: 42px}
*/
/*.tip1 .tip2 .tip3 .tip4 .tip5 .tip6 .tip7 .tip8 .tip9 .tip10{}
.top-ask .tip1{background-position: 0px 0px; color: #19631f; border:1px solid #19631f; background-color:#E7F2D5; }
.top-ask .tip2{background-position: 0px 0px; color: #801e2a; border:1px solid #801e2a; background-color:#F9E3E5;}
.top-ask .tip3{background-position: 0px 0px; color: #536200; border:1px solid #536200; background-color:#F1F6D8;}
.top-ask .tip4{background-position: 0px 0px; color: #8b4620; border:1px solid #8b4620; background-color:#FAE6DC;}
.top-ask .tip5{background-position: 0px 0px; color: #015e08; border:1px solid #015e08; background-color:#EEFBE7;}
.top-ask .tip6{background-position: 0px 0px; color: #3b3b3b; border:1px solid #3b3b3b; background-color:#F1F1F1;}
.top-ask .tip7{background-position: 0px 0px; color: #805603; border:1px solid #805603; background-color:#F7EEDC;}
.top-ask .tip8{background-position: 0px 0px; color: #395f7a; border:1px solid #395f7a; background-color:#E1EDF6;}
.top-ask .tip9{background-position: 0px 0px; color: #03623f; border:1px solid #03623f; background-color:#E3FDF4;}
.top-ask .tip10{background-position: 0px 0px; color: #146670; border:1px solid #146670; background-color:#E6F7F9;}*/
.top-ask h2{font-size: 14px; font-weight: bold; color: #474747; line-height: 34px;}
.top-ask .top-ask-change{position: absolute;top: 4px;right: 10px;}

.cate-sub li{
	border-bottom: 1px solid #EEEEEE;
	line-height: 36px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.cate-sub li h3{
	font-weight: bold;
	color: #337D39;
	width: 60px;
	float: left;
	text-align: right;
	line-height: 24px;
	white-space: nowrap;
}

.cate-sub li .cate-sub-cnt{
	float: right;
	width: 340px;
	line-height: 24px;
}

.cate-sub li a{
	color: #666666;
	margin-right: 12px;
	white-space: nowrap;
	float: left;
}
.cate-sub li a:hover{
	color: #4BAC20;
	text-decoration: none;
}
.cate-sub li a.gr-font{
	color: #4BAC20;
}
.cate-sub li a.rd-font{
	color: #FF0000;
}

.index-search-tip{
	position: relative;
	color:#000;
	display:none;
	background: #FFC000;
	margin: 14px 10px 3px 10px;
	padding: 6px 10px 6px 70px;
}

.index-search-tip .stip-img{
	position: absolute;
	bottom: 0;
	left:14px;
	width: 62px;
	height: 37px;
	background: url(https://p.ssl.qhimg.com/t01e42b1793300f5e8f.gif) no-repeat center;
}
.slide-wrap{display: block;position: relative;}
.slide-wrap .slide-nav{position: absolute;top: 130px; right: 20px;}
.slide-wrap .slide-nav li{display: block;width: 20px;height: 20px;float: left;margin:0 5px;background: url(https://p.ssl.qhimg.com/t010882da8c0a9ef949.png) no-repeat -15px 3px;cursor: pointer;text-indent: -9999px;}
.slide-wrap .slide-nav li.cur{background-position:3px 3px;}


.repair-info .location-select{
	position: absolute;
	z-index: 100;
	left:310px;
	top:8px;

	height: 16px;
	cursor: pointer;
	border: 1px solid #BBB;
	color: #666;
	padding:1px 20px 1px 2px;
}

.repair-info .arrow-box{
	position: absolute;
	right: 0;
	top: 1px;
	height: 16px;
	width: 15px;
	border-left: 1px solid #CCC;
	z-index: 100;
}

.repair-info .arrow-down{
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	left: 49%;
	margin-left: -4px;
	top: 50%;
	margin-top: -1px;
	border-color: #a6a6a6 #f3f3f3 white #f3f3f3;
	border-width: 4px 4px 0 4px;
	border-style: solid dashed dashed dashed;
}

.repair-info .location-list{
	display: none;
	position: absolute;
	top:18px;
	left:-1px;
	width: 160px;
	z-index: 10;
	background: #fff;
	border:1px solid #ccc;
	padding: 3px;
}

.repair-info .location-list a{
	line-height: 1.6;
	background: transparent;
	margin:2px;
	white-space: nowrap;
}

.repair-info .location-list a:hover,
.repair-info .location-list .curr{
	background: #ddd;
}


/* =========区县子页面========= */
/*.page-index-subarea .module-index .col-1{
	width: 710px;
}

.page-index-subarea .module-index .col-2{
	width: 240px;
}

.page-index-subarea .module-index .list-rank .figure-h .cont{
	width: 120px;
}*/

.page-index-subarea .repair-info .hd .extra{
	display: none;
}

.page-index-subarea .map{
	
	padding: 5px;
	border:1px solid #DFDFE1;
	margin-bottom: 10px;
	background: #fff;
}

.page-index-subarea .map #shopMiniMap{
	width: 166px;
	height: 166px;
	border: 1px solid #CDCDCD;
}

.page-index-subarea .map #viewBigMap{
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

/*** 区域页面 **/
.bang-top.area-page-flag{height: auto;}
.area-page-flag .bang-top-left,
.area-page-flag .bang-top-right{height: 36px;}
.area-page-flag .bang-top-bottom{clear: both;}
.area-page-flag .bang-top-left .cate-wrap{z-index: 110;}
.area-page-flag .cate-wrap ul.cate-top{background: #FFFFFF;}
.bang-top-bottom .city-nav{height: 40px;line-height: 40px;font-family: "\5fae\8f6f\96c5\9ed1";}
.bang-top-bottom .city-nav .city{font: 14px "\5fae\8f6f\96c5\9ed1";}

.color1{color: #B1B1B1;}

#mode_list .list-2 .no-valid-warn{
	background: #FFFCE8;
	border: solid 1px #F8EDB2;
	color: #333333;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 20px;
	margin: 10px 20px;
}
#mode_list .list-2 .no-valid-warn .ico-alert{
	background: url(https://p.ssl.qhimg.com/t01424dea83211756f8.png) no-repeat 0px 0px;
	width: 24px;
	height: 19px;
	vertical-align:middle;
	*zoom:1;
	display: inline-block;
}
#mode_list .list-2 .no-valid-txt{
	color: #C0C0C0;
	font-size: 12px;
	font-weight: normal;
}

/*区县列表*/
.search-bd-area,
.search-bd-area .area-wrap{
	background: #fff;
}

.area-list .has-sub .item-hd{
	padding: 0 6px;
}

.area-wrap .sub-area-list .currsub,
.area-wrap .sub-area-list .shangquan:hover{
	background-color: #2E74D3;
	color: #fff;	
	border-radius: 3px;			
}

.area-list .item{
	margin-right: 8px;
}
.search-service-area{margin-bottom:10px;padding-bottom:5px;}
.search-service-area .hd .subtit{margin:7px 0 0 19px;}
.ie6 .search-service-area .hd .subtit{margin-left:10px}
.search-service-area .hd .subtit strong{font-size:14px;font-weight:bold;color:#666;}
.search-service-area .bd{padding:0 0 5px;}
.search-service-area .area-list a{text-decoration:none;}
.search-service-area .area-list{/* min-height:74px;border-bottom:1px dashed #E1E1E3; */padding:7px 9px 0px 0px;}
.search-service-area .no-sub{text-align:center;line-height:82px;color:#999;height:81px;border-bottom:1px dashed #E1E1E3;}
.search-service-area .bd-md-2{padding-bottom:0px;}
.search-service-area .area-tit82{width:70px;float:left;}

.search-bd-area .mt5 {line-height: 100%;padding-top: 14px;height: 20px;line-height: 20px;}
.search-bd-area .mt5 .has-first a{font-weight:bold;}

.area-wrap .quxian-list{
	width: 884px;
}
.page-index .area-wrap .quxian-list{
	width: 690px;
}

.area-wrap .sub-area-list{
	border: 1px solid #F0F0F0;
	background: #FAFAFA;
	padding: 10px;
	margin-right: 16px;
}

.area-wrap .sub-area-list span,
.area-wrap .sub-area-list a{
	margin-right: 2px;
	margin-top: 2px;
	line-height: 1.64;
}

.area-wrap .sub-area-list a{
	padding: 0px 5px;
	text-decoration: none;
	display: inline-block;	
	_zoom:1;
}

.area-wrap .sub-area-list .alp-index{
	color: #FF7800;
	margin-right: 0;
}
.addr-search-box{	
	height: 29px;
	background: url(https://p.ssl.qhimg.com/t01db96650f6b2fafcb.jpg) no-repeat 0 0;
	margin: 10px 0 5px 70px;	
}
.addr-search-box form{
	width: 307px;
}
.addr-search-box .addr-ipt{
	height: 19px;
	line-height: 19px;
	width: 205px;
	padding: 5px 5px 5px 24px;
	border: 0;
	background: transparent;
	float: left;
	color: #666;
}
.addr-search-box .addr-btn{
	width: 72px;
	height: 29px;
	border: 0;
	background: transparent;
	text-indent: -9999px;
	float: left;
	cursor: pointer;
}

.addr-search-box .default{
	color: #999;
}
.addr-search-err{
	display: none;
	color:#f00;
	float: left;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;	
}

/*新首页样式调整*/
.shop-list-filter{
	background:#f7f7f7;
	border:1px solid #DFDFE1;
	border-top: 2px solid #4BAC20;
}
.shop-list-filter ul{width:320px;float:left;}
.shop-list-filter ul li{width:99px;border-right:solid 1px #E3E3E5;float:left;text-align:center;height:35px;line-height:35px;cursor: pointer;}
.shop-list-filter ul li.active{background:#E4E4E4;}
.shop-list-filter li a{ color: #000000; text-decoration: none; display: block;}
.shop-list-filter li a:hover{ text-decoration: none;}
.shop-list-filter .extra{
	float: right;
	margin: 5px 10px 0 0;
}

.list-2 li{
	margin: 0;
}

.index-search-tip{
	margin: 14px 0 3px;
}

.pagination{
	margin-top: 10px;
}

.filter-check{
	float: left;
    text-align: left;
    width: 260px;
    line-height: 35px;
}
.filter-check label{
	margin-right: 10px;
}

.md-index-right .figure-h .pic{
	float: none;
	margin: 0 auto;
	width: 70px;
}

.module-index .list-rank .cont{
	float: none;
	width: auto;
}

#js-shop-rank .list-rank h3{
	width: 100%;
	height: auto;
	text-align: center;
}

.list-rank .sale-cont{
	text-align: center;
	color: #FF6600;
}
.module-index .shop-grade{
	/*margin-bottom: 10px;*/
}
.module-index .shop-grade .icon-dj{
	margin-right: 0px;
}

#js-repair-info{
	border: 0;
}

.module-index .md-index-right2 .list-rank li{
	padding: 10px 0;
}

.module-index .md-index-right2 .figure-h .cont,
.module-index .md-index-right2 .list-rank h3{
	width: 90px;
}
.module-index .md-index-right2 .s-num{
	color: #999999;
	width: 20px;
	padding: 0 5px;
	float: left;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
}
.module-index .md-index-right2 .s-num-red{
	color: #f00;
}


/*brand css, copy from front.search.css*/
.bang-top-rr .pinpai-logo-box{
    width: 170px;
    position: relative;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-title{
    color: #666666;
    position: absolute;
    border-bottom: 1px solid #E8E8E8;
    width: 66px;
    left: 0;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-title h2{
    font-size: 14px;
    line-height: 36px;
    font-weight: bold;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-head{
	margin-left:66px;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-tab{
    color: #787878;
    text-align: center;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-tab li{
    border: 1px solid #E8E8E8;
    border-right: none;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    width: 50px;
    cursor: pointer;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-tab .pinpai-logo-tab-cur{
    color: #4BAC20;
    font-weight: bold;
    border-top: 2px solid #4BAC20;
    border-bottom: none;
    background: #FAFAFA;
    cursor: default;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-content{
    border: 1px solid #E8E8E8;
    border-top: none;
    background: #FAFAFA;
    
    position: relative;
    /*z-index: 110;*/
    z-index: 109;

    height: 231px;
}
.bang-top-rr .pinpai-logo-box .pinpai-logo-item{
    display: block;
    width: 76px;
    height: 34px;
    background: url(https://p.ssl.qhimg.com/t01489d0901a9bfdbc2.png) no-repeat;
    text-indent: -9999px;
    margin: 8px 0 0 6px;
    float: left;
    _display:inline;
}
.bang-top-rr .pinpai-logo-box .logo-dell{
    background-position: -2px -2px;
}
.bang-top-rr .pinpai-logo-box .logo-dell:hover{
    background-position: -162px -2px;
}
.bang-top-rr .pinpai-logo-box .logo-thinkpad{
    background-position: -82px -2px;
}
.bang-top-rr .pinpai-logo-box .logo-thinkpad:hover{
    background-position: -242px -2px;
}
.bang-top-rr .pinpai-logo-box .logo-lenovo{
    /*background-position: -2px -45px;*/
    background: #FFFFFF;
    text-indent: 0;
    text-align: center;
    width: 74px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #666;
    border:1px solid #E9E9E9;
}
.bang-top-rr .pinpai-logo-box .logo-lenovo:hover{
    /*background-position: -162px -45px;*/
    background: #FFFFFF;
    text-indent: 0;
    text-align: center;
    width: 74px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #666;
    border:1px solid #E9E9E9;
}
.bang-top-rr .pinpai-logo-box .logo-apple{
    background-position: -82px -45px;
}
.bang-top-rr .pinpai-logo-box .logo-apple:hover{
    background-position: -242px -45px;
}
.bang-top-rr .pinpai-logo-box .logo-acer{
    background-position: -2px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-acer:hover{
    background-position: -162px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-hp{
    background-position: -82px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-hp:hover{
    background-position: -242px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-asus{
    background-position: -2px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-asus:hover{
    background-position: -162px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-hasee{
    background-position: -82px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-hasee:hover{
    background-position: -242px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-sony{
    background-position: -2px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-sony:hover{
    background-position: -162px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-benq{
    background-position: -82px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-benq:hover{
    background-position: -242px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-samsung{
    background-position: -2px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-samsung:hover{
    background-position: -162px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-tongfang{
    background-position: -82px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-tongfang:hover{
    background-position: -242px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-fujitsu{
    background-position: -2px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-fujitsu:hover{
    background-position: -162px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-toshiba{
    background-position: -82px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-toshiba:hover{
    background-position: -242px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-haier{
    background-position: -2px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-haier:hover{
    background-position: -162px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-msi{
    background-position: -82px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-msi:hover{
    background-position: -242px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-lg{
    background-position: -2px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-lg:hover{
    background-position: -162px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-greatwall{
    background-position: -82px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-greatwall:hover{
    background-position: -242px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-alienware{
    background-position: -2px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-alienware:hover{
    background-position: -162px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-founder{
    background-position: -82px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-founder:hover{
    background-position: -242px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-gateway{
    background-position: -2px -438px;
}
.bang-top-rr .pinpai-logo-box .logo-gateway:hover{
    background-position: -162px -438px;
}

.bang-top-rr .pinpai-logo-box .logo-huawei{
    background-position: -402px -45px;
}
.bang-top-rr .pinpai-logo-box .logo-huawei:hover{
    background-position: -562px -45px;
}
.bang-top-rr .pinpai-logo-box .logo-zte{
    background-position: -322px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-zte:hover{
    background-position: -482px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-nokia{
    background-position: -402px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-nokia:hover{
    background-position: -562px -89px;
}
.bang-top-rr .pinpai-logo-box .logo-coolpad{
    background-position: -322px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-coolpad:hover{
    background-position: -482px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-htc{
    background-position: -402px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-htc:hover{
    background-position: -562px -132px;
}
.bang-top-rr .pinpai-logo-box .logo-xiaomi{
    background-position: -322px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-xiaomi:hover{
    background-position: -482px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-meizu{
    background-position: -402px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-meizu:hover{
    background-position: -562px -176px;
}
.bang-top-rr .pinpai-logo-box .logo-moto{
    background-position: -322px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-moto:hover{
    background-position: -482px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-oppo{
    background-position: -402px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-oppo:hover{
    background-position: -562px -220px;
}
.bang-top-rr .pinpai-logo-box .logo-ktouch{
    background-position: -322px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-ktouch:hover{
    background-position: -482px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-vivo{
    background-position: -402px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-vivo:hover{
    background-position: -562px -264px;
}
.bang-top-rr .pinpai-logo-box .logo-doov{
    background-position: -402px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-doov:hover{
    background-position: -562px -307px;
}
.bang-top-rr .pinpai-logo-box .logo-amoi{
    background-position: -402px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-amoi:hover{
    background-position: -562px -351px;
}
.bang-top-rr .pinpai-logo-box .logo-hisense{
    background-position: -322px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-hisense:hover{
    background-position: -482px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-gionee{
    background-position: -402px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-gionee:hover{
    background-position: -562px -394px;
}
.bang-top-rr .pinpai-logo-box .logo-greenorange{
    background-position: -322px -437px;
}
.bang-top-rr .pinpai-logo-box .logo-greenorange:hover{
    background-position: -482px -437px;
}
.bang-top-rr .pinpai-logo-box .logo-konka{
    background-position: -402px -437px;
}
.bang-top-rr .pinpai-logo-box .logo-konka:hover{
    background-position: -562px -437px;
}
.bang-top-rr .pinpai-logo-box .logo-philips{
    background-position: -322px -481px;
}
.bang-top-rr .pinpai-logo-box .logo-philips:hover{
    background-position: -482px -481px;
}
.bang-top-rr .pinpai-logo-box .logo-bird{
    background-position: -402px -481px;
}
.bang-top-rr .pinpai-logo-box .logo-bird:hover{
    background-position: -562px -481px;
}

.bang-top-rr .pinpai-logo-box .logo-ctr-more,
.bang-top-rr .pinpai-logo-box .logo-ctr-less{
	background: none;
	text-indent: 0;
	text-align: center;
	width: 74px;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	color: #666;
	border:1px solid #E9E9E9;
}

.bang-top-rr .pinpai-logo-box .pinpai-logo-content1-full,
.bang-top-rr .pinpai-logo-box .pinpai-logo-content2-full{
	position: absolute;
	background: #FAFAFA;
	z-index: 110;
	border:1px solid #E8E8E8;
	padding-bottom: 5px;

	display: none;

	left:-1px;
	top:-1px;
}
