body {
font: 12px/1.5 arial,SimSun,georgia,verdana,helvetica,sans-serif;
color: black;
}
.doc-hd .in, .doc-bd {width: 960px;}
.doc-hd {height: 121px;margin-bottom: 15px;}
.doc-hd .in {margin: 0 auto;position: relative;}
.doc-hd .logo, .doc-hd .slogan {color: #35891E;float: left;text-indent: -9999px;}
.doc-hd .logo 
{

margin-top: 14px;

}
.doc-hd .slogan 
{
font-family: "Microsoft Yahei";
font-size: 36px;
height: 44px;
margin: 22px 0 0 15px;
width: 429px;
}
.doc-hd .slogan{background:url(https://p.ssl.qhimg.com/t0148ce9af42d53e158.png) no-repeat;}
.doc-hd 
{
background: url(https://p.ssl.qhimg.com/t010855e2d64d79496c.png) repeat-x 0 100%;
height: 90px;
margin-bottom: 15px;
}
.doc-bd {padding-top:15px;padding-bottom: 10px;}
.doc-hd, .doc-bd {margin: 0 auto;}
.asidemenu{width:230px;float:left;font-family:"Microsoft Yahei"; }
.asidemenu .mod,.asidecont .mod {border: 1px solid #D8D8D8;padding: 0 10px;background: #FFF;}
.asidemenu a{color:#2E74D3;}
.cat-tree .mod-hd {border-color: #999999;}
.mod-hd {border-bottom: 1px solid #D8D8D8;height: 29px;line-height: 29px;}
.mod-hd h2 {float: left;font: bold 14px/29px "Microsoft Yahei";}
.mod-bd {padding: 5px 0;}
.cat {border-bottom: 1px solid #EAEAEA;position: relative;}
.cat h3 {font-size: 14px;font-weight: normal;height: 29px;line-height: 29px;padding-left: 15px;}
.cat-hx {background:url(https://p.ssl.qhimg.com/t018cce19e02794e9c4.png) 0 -20px;display: block;height: 9px;overflow: hidden;position: absolute;text-indent: -9999em;top: 10px;width: 9px;}
.cat.close .cat-hx{}
.cat.close .cat-content{display: none;}
.cat.open .cat-hx{background-position: 0 -49px;}
.cat.open .cat-content {display: block;}
.cat-content {border-top: 1px solid #EAEAEA;line-height: 26px;overflow: hidden;padding: 5px 0 5px 15px;}
.cat-content li {background:url(https://p.ssl.qhimg.com/t018cce19e02794e9c4.png) no-repeat 5px -69px;padding-left: 15px;}
#menu-tree a.current {color: #000;font-family: 700;}
.asidecont{width:720px;float:left;margin-left:10px;}
.asidecont .mod-hd {border-bottom: 1px solid #D8D8D8;height: 29px;line-height: 29px;}
.asidecont .path span {margin: 0 3px;}
.asidecont .mod-bd{padding: 5px 0;}
.asidecont p{line-height:23px;}
.asidecont h2{font-weight:bold;}
.question-title{display: none}
.question-content {color: #666666;display: none}
.question-content h2 {color: #333333;font-size: 14px;height: 40px;line-height: 40px;text-align: center;font-family: "Î¢ÈíÑÅºÚ";font-weight:bold;}
.question-content p,.ke-post p {line-height:23px;}
.question-content .ke-post a{color:#0000EF;}
.question-content .docpad{background:url(https://p.ssl.qhimg.com/t011e2127ce6b9f391b.png) no-repeat 0 10px;padding-left:25px;}

.question-content p.indent2 {
text-indent: 2em;
}
.question-content p.padleft {
padding-left:2em;
}
.question-content p.font14
{
	font-size:14px;font-weight:bold;	
}


.area1 {clear: both;overflow: hidden;zoom: 1;}
.aside {
float: left;
width: 180px;
}
.aside a{
color: #666;
}
.mod-cate {
border-top: 1px #d5d5d5 solid;
border-width: 1px 0;
}
.aside .hd
{
background-color: #fdfdfd;
border-bottom: 1px #d5d5d5 solid;
border-left: 1px #d5d5d5 solid;
border-right: 1px #d5d5d5 solid;
font-size: 14px;
padding: 6px 10px 5px;	
}
.aside .hd h3 {
color: #666;
font-size: 14px;
font-weight: bold;
font-family: "Microsoft YaHei";
}
.mod-cate li {
border: 1px #e0e0e0 solid;
line-height: 20px;
margin-top: -1px;
padding: 8px 3px 8px 10px;
}
.aside1{width:770px;float:left;}
.side1content {
padding: 1px 10px 15px 20px;
line-height: 23px;
}
.side1content p {
text-indent: 0em;
padding: 3px 0;
}
.side1content p.indent2 {
text-indent: 2em;
}
.side1content p.padleft {
padding-left:2em;
}
.side1content p.font14
{
	font-size:14px;font-weight:bold;	
}

.ie6 .question-content p.padleft img{
	position:relative;
	margin-left:-10px;
}
