/*** 品牌页 *****************/
/*举报*/
#JuBaoPanel .hd,
#JuBaoPanel2 .hd{
    display: none;
}
#JuBaoPanel .ft,
#JuBaoPanel2 .ft{
    display: none;
}
#JuBaoPanel .panel-content{width: 577px;}
#JuBaoPanel2 .panel-content{width: 268px;}
#JuBaoPanel .close,
#JuBaoPanel2 .close{right: 18px;top: 20px;}
.jubao-panel{
    width: 537px;
    height: 342px;
    padding: 45px 20px 5px;
    background: url(https://p.ssl.qhimg.com/t019b6917996cba0e0e.png) no-repeat;
}
.jubao-panel table{
    margin: 10px 0 0 5px;
}
.jubao-panel td{
    padding: 5px 0 10px;
    color: #333333;
}
.jubao-panel .unactived{
    color: #cdcdcd;
}
.jubao-panel .tit{
    vertical-align: text-top;
    text-align: right;
    padding: 10px 5px 5px;
    color: #909090;
}
.jubao-panel .tit span{vertical-align: inherit;}
.jubao-panel .tit .color1{color: #FF0055;}
.jubao-panel ul li{
    line-height: 28px;
}
.jubao-panel ul li label{margin-right: 15px;}
.jubao-panel ul li [type="radio"]{
    margin: 0 3px 0 0;
}
.jubao-panel textarea{
    width: 386px;
    height: 101px;
    padding: 5px 8px;
    border: none;
    background: url(https://p.ssl.qhimg.com/t0191323ac91275f0fd.png) no-repeat;
}
.jubao-panel .link_phone{
    width: 186px;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    margin: 0 5px 0 0;
    border: none;
    background: url(https://p.ssl.qhimg.com/t01546853d9fb7eac21.png) no-repeat;
}
.jubao-panel .link_phone_tip{
    color: #909090;
}
.jubao-panel .sub_jubao{
    width: 78px;
    height: 28px;
    background: url(https://p.ssl.qhimg.com/t0194b2668bf7247fc2.png) no-repeat;
}
.jubao-panel2{
    width: 228px;
    height: 62px;
    padding: 90px 0 0 40px;
    background: url(https://p.ssl.qhimg.com/t019b29cf97d317074c.png) no-repeat;
}
.jubao-panel2 .tips{color: #474747;}

.pinpai-page{}
.pinpai-page .btn-send2phone{background:url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat;width:96px;height:31px;display:block; color: #fff; font-size: 14px; line-height: 31px; font-weight: bold; border: 0; margin-left: 0;  cursor: pointer; margin-left: 20px;}
.pinpai-page .btn-send2phone:hover{background-position:0 -31px; text-decoration: none;}
.pinpai-page .btn-send2phone:active{background-position:0px -62px;}

.pinpai-page  .icon-tel,
.pinpai-page .icon-jubao,
.pinpai-page .icon-phone,
.pinpai-page .icon-share{
    background: url(https://p.ssl.qhimg.com/t01a1211a9e1859c837.png) no-repeat 0 -1px;
    width: 26px;
    height: 26px;
}

.pinpai-page .icon-jubao{
    background-position: -32px -1px;    
}

.pinpai-page .icon-phone{
    background-position: -64px -1px;    
}

.pinpai-page .line{
    margin: 8px 0;
}
.pinpai-page .light1{
    color: #DD0000;
}
.pinpai-page .light2{
    color: #FE8417;
}
.pinpai-page .actived{
    color: #FFFFFF;
    background: #1D7AD9;
}
.pinpai-page .actived a{
    color: #FFFFFF;
    /*background: #1D7AD9;*/
}
.pinpai-page .bold{
    font-weight: bold;
}
.pinpai-page .shop-short-tel{
    margin-right: 14px;
}
.pinpai-page .shop-map{
    margin-left: 10px;
    color: #999999;
}
.icon-arrow{
    background: url("https://p.ssl.qhimg.com/t010813d9ce48a42705.png") no-repeat scroll -92px -64px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.pinpai-page .shop-name{
    font-size: 14px;
}
.pinpai-page .pinpai-breadcrumb{
    line-height: 30px;
    color: #666666;
}
    .pinpai-breadcrumb a,
    .pinpai-breadcrumb span{
        margin-right: 5px;
    }
.pinpai-page .pinpai-head{
    border: 1px solid #E9F0F5;
    border-bottom: none;
    height: 160px;
    background: #F0F6FB;
    position: relative;
}
.pinpai-page .pinpai-head .shop-logo{
    width: 120px;
    height: 120px;
    border: 1px solid #D8D8D8;
    margin: 19px;
    float: left;
}
    .pinpai-head .shop-logo img{
        width: 120px;
        height: 120px;
    }
.pinpai-page .pinpai-head .shop-maininfo{
    float: left;
    color: #474747;
}
    .pinpai-head .shop-maininfo .shop-name{
        font-size: 16px;
        font-weight: bold;
        font-family: "微软雅黑";
        color: #333333;
        line-height: 30px;
        padding-top: 5px;
    }
    .pinpai-head .shop-maininfo .wx-item{
        margin: 0 5px;
    }
.pinpai-page .pinpai-head .shop-ditu{
    width: 241px;
    height: 203px;
    background: url(https://p.ssl.qhimg.com/t01839254e033d3599e.png) no-repeat 0 0;
    position: absolute;
    top: -12px;
    right: 20px;
    font-size: 14px;
}
    .pinpai-head .shop-ditu .shop-ditu-wrap{
        width: 211px;
        height: 160px;
        position: absolute;
        top: 11px;
        left: 20px;
    }
    .pinpai-head .shop-ditu a{
        position: absolute;
        bottom: 7px;
        left: 90px;
        padding: 0 0 0 20px;
    }
.pinpai-page .pinpai-search{
    border: 1px solid #E8E8E8;
}
.pinpai-page .pinpai-search .pinpai-search-title{
    color: #999999;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 60px;
    margin-right: 15px;
    text-align: right;
    vertical-align: top;
}
.pinpai-page .pinpai-search .pinpai-search-cate,
.pinpai-page .pinpai-search .pinpai-search-area{
    margin: 20px 20px 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCCCCC;
}
    .pinpai-search .pinpai-search-cate ul,
    .pinpai-search .pinpai-search-area ul{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 830px;
    }
    .pinpai-search .pinpai-search-cate li,
    .pinpai-search .pinpai-search-area li{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 1px 5px;
        margin-bottom: 5px;
    }
    .pinpai-search .pinpai-search-point{   
        height: 29px;
        background: url(https://p.ssl.qhimg.com/t01db96650f6b2fafcb.jpg) no-repeat 0 0;
        margin: 20px 0 20px 97px;    
    }
    .pinpai-search .pinpai-search-point form{
        width: 307px;
    }
    .pinpai-search .pinpai-search-point .addr-ipt{
        height: 19px;
        line-height: 19px;
        width: 205px;
        padding: 5px 5px 5px 24px;
        border: 0;
        background: transparent;
        float: left;
        color: #666;
    }
    .pinpai-search .pinpai-search-point .addr-btn{
        width: 72px;
        height: 29px;
        border: 0;
        background: transparent;
        text-indent: -9999px;
        float: left;
        cursor: pointer;
    }
    .pinpai-search .pinpai-search-point .default{
        color: #999;
    }
    .pinpai-search .pinpai-search-point .addr-search-err{
        display: none;
        color:#f00;
        float: left;
        height: 29px;
        line-height: 29px;
        margin-left: 10px;  
    }

.pinpai-page .pinpai-dianpu-list{

}
    .pinpai-dianpu-list h3{
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        margin: 20px 0 0 10px;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-head{
        border: 1px solid #DFDFE1;
        border-left: none;
        border-top: 2px solid #4BAC20;
        background: #F7F7F7;
        height: 35px;
        line-height: 35px;
        color: #666666;
        font-size: 0;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-head span{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        border-left: 1px solid #DFDFE1;
        text-align: center;
        font-size: 12px;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-head .list-name-span{
        width: 379px;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-head .list-tel-span{
        width: 219px;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-head .list-addr-span{
        width: 349px;
    }
    .pinpai-dianpu-list .pinpai-non-dianpu{
        line-height: 80px;
        font-size: 16px;
        color: #666666;
        text-align: center;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item{
        color: #999999;
        border-bottom: 1px solid #EFEFEF;
        background: #FAFAFA;
        height: 65px;
        font-size: 0;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item.hover{
        background: #FFFFFF;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-name-block,
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-tel-block,
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-addr-block{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
        font-size: 12px;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-name-block{
        width: 360px;
        padding: 0 0 0 20px;
        text-align: left;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-tel-block{
        width: 220px;
        text-align: center;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .list-addr-block{
        width: 330px;
        padding: 0 20px 0 0;
        text-align: right;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .shop-addr-detail{
        width: 290px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        overflow: hidden;
        float: left;
    }
    .pinpai-dianpu-list .pinpai-dianpu-list-item .shop-map{
        width: 35px;
        height: 20px;
        line-height: 20px;
        margin: 0;
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

.pinpai-page .pinpai-nearby{

}
.pinpai-page .pinpai-nearby .pinpai-nearby-head{
    height: 35px;
    line-height: 35px;
    border: 1px solid #FFDB84;
    background: #FFF9D6;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 0 0 20px;
    color: #333333;
}
.pinpai-page .pinpai-nearby .pinpai-nearby-list{
    padding: 0 20px;
}
    .pinpai-nearby .pinpai-nearby-list .pinpai-nearby-item{
        color: #999999;
        border-bottom: 1px solid #DFDFE1;
        padding: 5px 0;
        font-size: 0;
    }
    .pinpai-nearby .pinpai-nearby-list .col{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
        font-size: 12px;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col1{
        width: 70px;
        margin-right: 10px;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col1 .shop-logo{
        border: 1px solid #DFDFE1;
        width: 68px;
        height: 68px;
        margin: 10px 0;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col2{
        width: 510px;
        text-align: left;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col3{
        width: 200px;
        text-align: center;
    }

    .pinpai-nearby .pinpai-nearby-list .item-col3 .shop-area{
        width: 130px;
        margin: 0 auto;
        position: relative;
    }
    .pinpai-nearby .shop-area-base{
        display: block;
        border: 1px solid #fff;
        border-bottom: 0;
        height: 22px;
        line-height: 22px;
    }
    .pinpai-nearby .shop-area-list{
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 22px;
        left: 0;
        width: 128px;
        background: #fff;
        border:1px solid #ddd;
        border-top: 0;
    }
    .pinpai-nearby .shop-area-hover .shop-area-base{
        border:1px solid #ddd;
        border-bottom: 0;
    }
    .pinpai-nearby .shop-area-hover .shop-area-list{
        visibility: visible;
    }
    .pinpai-nearby .shop-area-list .shop-area-item{
        display: block;
        text-align: center;
        line-height: 22px;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col3 .shop-area-base .shop-area-more{
        cursor: default;
        opacity: 0.3;
        filter:alpha(opacity=30);
    }
    .pinpai-nearby .pinpai-nearby-list .item-col4{
        width: 120px;
        text-align: right;
    }
    .pinpai-nearby .pinpai-nearby-list .item-col4 .shop-enter{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 76px;
        height: 26px;
        line-height: 26px;
        background: url(https://p.ssl.qhimg.com/t01da43d37f48951779.png) no-repeat 0 0;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
    }

#AreaDetailTip{
    position: absolute;
    top:200px;
    left:100px;
    z-index: 10;
    color: #999999;
}
#AreaDetailTip .shop-area{
    line-height: 22px;
    width: 130px;
    text-align: center; 
}
#AreaDetailTip .shop-area-base{
    display: block;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #fff;
}
#AreaDetailTip .shop-area-base .shop-area-more{
    cursor: default;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
#AreaDetailTip .shop-area-list{
    display: block;
    width: 128px;
    position: absolute; 
    left:0;
    top:20px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
}
#AreaDetailTip .shop-area-list .shop-area-item{
    display: block;
}

/**** 品牌详情页 *******************/
.pinpai-detail-page{}
.pinpai-detail-page .pinpai-head{
    height: 106px;
    border: 1px solid #E9F0F5;
    background: #FAFCFE;
}
.pinpai-detail-page .pinpai-head .shop-logo{
    width: 85px;
    height: 85px;
    margin: 10px 20px 10px 10px;
}
.pinpai-detail-page .pinpai-head .shop-logo img{
    width: 85px;
    height: 85px;
}
.pinpai-detail-page .pinpai-head .shop-share{
    /*width: 300px;*/
    vertical-align: middle;
    text-align: right;
    position: absolute;
    right: 40px;
    top: 8px;
    color: #333333;
}
.pinpai-detail-page .pinpai-head .shop-share .line{
    margin: 12px 0;
}
.pinpai-detail-page .pinpai-head .shop-share .func-item{
    margin-right: 10px;
}
.pinpai-detail-page .pinpai-head .shop-share a{
    color: #666666;
}
.pinpai-detail-page .pinpai-head .shop-share .wx-item{
    color: #666666;
}
.pinpai-detail-page .pinpai-head .shop-maininfo .shop-map{
    margin: 0;
    color: #1D7AD9;
}
.pinpai-detail-page .grid-2c1 .col-1{
    width: 760px;
}
.pinpai-detail-page .grid-2c1 .col-2{
    width: 190px;
}
.pinpai-detail-page .pinpai-content{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 70px;
}
.pinpai-detail-page .pinpai-content h3{
    width: 80px;
    line-height: 32px;
    font-weight: bold;
    color: #128422;
    border-bottom: 4px solid #2ECE02;
    text-align: center;
    margin-left: 20px;
}
.pinpai-detail-page .pinpai-content .line{
    padding-left: 20px;
}
.pinpai-detail-page .pinpai-content .first-line{
    margin: 0;
    padding-top: 15px;
    border-top: 1px solid #EAEAEA;
}
.pinpai-detail-page .detail-shop-ditu{
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.pinpai-detail-page .detail-shop-ditu .detail-shop-ditu-wrap{
    width: 180px;
    height: 205px;
    margin: 0 auto;
    border: 1px solid #CDCDCD;
}
.pinpai-detail-page .detail-shop-ditu a{
    line-height: 30px;
}
.pinpai-detail-page .detail-shop-ditu-cover{
    width: 182px;
    height: 207px;
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    margin: 0;
}
.pinpai-detail-page .pinpai-nearby .pinpai-nearby-list .item-col2{
    width: 380px;
}
.pinpai-detail-page .pinpai-nearby .pinpai-nearby-list .item-col3{
    width: 130px;
}
.pinpai-detail-page .pinpai-head .shop-maininfo .shop-name{
    padding-top: 12px;
}
