.cancel-apply-refund-btn {
    display: block;
    width: 150px;
    height: 40px;
    color: #fff;
    background: #f94600;
}

/*系统维护 page-liangpin-sysupdate*/
html {
    height: 100%;
}

.page-liangpin .right-float-shangmen-618-inner {
    width: 1200px;
}

.page-liangpin .right-float-shangmen-618-inner a {
    top: 198px;
}

.index-right-shangmen-618 {
    display: block;
    background: url(https://p.ssl.qhimg.com/t0191896604e1afc376.png) no-repeat 0 0;
    width: 112px;
    height: 220px;
}

.page-liangpin .use-promo-wrap .promo-code {
    width: 120px;
}

.page-liangpin .use-promo-wrap .promo-sel-list {
    width: 150px;
}


/*换新产品页面，嵌入iframe*/
.page-liangpin-product-iframe .topbar,
.page-liangpin-product-iframe .liangpin-head,
.page-liangpin-product-iframe .doc-ft,
.page-liangpin-product-iframe .main-content .right-300 {
    display: none !important;
}

.page-liangpin-product-iframe .main-content .left-880 {
    width: 100%;
}

/*优品下单页停服公告*/
.page-liangpin-tinfo .tinfo-tips {
    font-size: 14px;
    color: red;
    line-height: 20px;
    width: 670px;
    margin-top: 10px;
    float: left;
}



