html,body{overflow: hidden;}
.cpage-liangpin{
    position: relative;
    margin: 0 auto;
    width: 719px;
    height: 569px;
    color: #666;
    font-size: 12px;
    overflow: hidden;
    background-color: #f5f5f5;
}
.cpage-liangpin .mt100{
    margin-top: 100px;
}
.cpage-liangpin .tcenter{
    text-align: center;
}
.cpage-liangpin .row,
.cpage-liangpin .col-left-fixed,
.cpage-liangpin .col-left,
.cpage-liangpin .col-right,
.cpage-liangpin .col-right-fixed{
    display: block;
    /*box-sizing:border-box;*/
    /*-moz-box-sizing:border-box;*/
    /*-webkit-box-sizing:border-box;*/
}
.cpage-liangpin .row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.cpage-liangpin .row{
    zoom: 1;
    clear: both;
}
.cpage-liangpin .col-left-fixed{
    float: left;
}
.cpage-liangpin .col-right-fixed{
    float: right;
}
.cpage-liangpin .foot-line{
    height: 26px;
    line-height: 26px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    text-align: right;
}
.cpage-liangpin .foot-line a{
    margin-right: 10px;
    color: #666;
}
.cpage-liangpin .foot-line .tel{
    margin-right: 10px;
    color: #4a7;
    font-style: normal;
}
.cpage-liangpin .product-list{
    padding-bottom: 10px;
    background: transparent;
}
.cpage-liangpin .product-list .item{
    float: left;
    margin: 0 0px 10px 10px;
    padding: 10px;
    display: block;
    width: 198px;
    background: #fff;
    color: #7F7F7F;
    border: 1px solid #E0E0E0;
}
.cpage-liangpin .product-list .item-last-wish{
    padding: 0;
    width: 220px;
    border: 0 !important;
    display: none;
}
.cpage-liangpin .product-list .item-last-wish .wish{
    margin: 0;
    padding: 0;
    /*border: 0;*/
}
.cpage-liangpin .product-list .item a,
.cpage-liangpin .product-list .item a:hover{text-decoration: none;}
.cpage-liangpin .product-list .item .img{
    width: 198px;
    height: 198px;
    line-height: 198px;
    overflow: hidden;
}
.cpage-liangpin .product-list .item .img img{
    width: 100%;
}
.cpage-liangpin .product-list .item h3{
    margin: 10px 0 6px 0;
    height: 63px;
    overflow: hidden;
    color: #101010;
    font-size: 14px;
}
.cpage-liangpin .product-list .item .sale-price{
    color: #f30;
}
.cpage-liangpin .product-list .item .sale-price span{
    font-size: 22px;
}
.cpage-liangpin .product-list .item .mer{
    /*display: none;*/
    float: right;
    line-height: 33px;
}
.cpage-liangpin .product-list .item .btn-buy{
    display: none;
    /*position: absolute;*/
    /*right: 10px;*/
    /*bottom: 12px;*/
    float: right;
    /*display: block;*/
    width: 96px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #FC6621;
}
.cpage-liangpin .product-list .item .cur{
    border: 1px solid #FC6621;
}
.cpage-liangpin .product-list .item .cur .btn-buy{
    display: block;
}
.cpage-liangpin .product-list .item .cur .mer{
    display: none;
}
/*没商品*/
.cpage-liangpin .search-rs-none{
    font-size: 14px;
    text-align: center;
    padding: 30px 20px;
    color: #666;
    background: #fff;
    margin-bottom: 20px;
}
.cpage-liangpin .nors-left{
    width: 310px;
    float: left;
}
.cpage-liangpin .nors-right{
    width: 300px;
    float: right;
}
.cpage-liangpin .nors-txt{
    padding-bottom: 240px;
    background: url(https://p.ssl.qhimg.com/t01ec28c4c2bd1a4bba.jpg) no-repeat center bottom;
}
.cpage-liangpin .nors-txt a{
    margin-right: 10px;
}

/* 愿望 */
.cpage-liangpin .wish{
    position: relative;
    width: 218px;
    height: 330px;
    border: 1px solid #EBEBEB;
    background: #fff;
    margin: 0 0 10px 10px;
}
.cpage-liangpin .wish .tit{
    padding: 28px 0;
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    text-align: center;
}
.cpage-liangpin .wish .tit-sub{
    color: #4a7;
}
.cpage-liangpin .wish .tit span{
    font-size: 12px;
    float: right;
    color: #929A9E;
}
.cpage-liangpin .wish-box{
    padding:0 10px;
    background: #FAFAFA;
    border-top: 1px solid #EAEAEA;
    font-size: 12px;
}
.cpage-liangpin .wish-box .row{
    /*padding: 10px 0;*/
    margin: 10px 0;
    color: #999;
}
.cpage-liangpin .wish-box .row .col-left-fixed{
    width: 60px;
    line-height: 30px;
}
.cpage-liangpin .wish-box .row .col-right{
    margin-left: 60px;
}
.cpage-liangpin .wish-box .row .wish-phone-tit{
    line-height: 32px;
}
.cpage-liangpin .wish-box .p-item{
    margin: 0 0 5px 5px;
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1;*/
    display: block;
    width: 120px;
    line-height: 28px;
    background: #E8E8E8;
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
.cpage-liangpin .wish-box .p-item-cur{
    border: 2px solid #4BB07B;
    background: #C9E7D7;
    cursor: default;
}
.cpage-liangpin .wish-box .ipt-text{
    margin-right: 3px;
    padding: 6px 4px;
    width: 80px;
    line-height:normal;
    border: 1px solid #DDD;
}
.cpage-liangpin .wish-box .ipt-sub,
.cpage-liangpin .wish-qrcode-wrap .wish-again{
    background: #4FAF7C;
    padding: 5px 20px;
    color: #fff;
    /*font-weight: bold;*/
    /*height: 30px;*/
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.cpage-liangpin .wish-qrcode-wrap .wish-again,
.cpage-liangpin .wish-qrcode-wrap .wish-again:hover{
    margin-top: 5px;
    text-decoration: none;
}
.cpage-liangpin .wish-model-select-wrap{
    background: #fff;
    border: 1px solid #EAEAEA;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
}
.cpage-liangpin .wish-model-select-wrap li{
    /*float: left;*/
    display: block;
    /*width: 33.333333%;*/
    /*width: 50%;*/
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.cpage-liangpin .wish-model-select-wrap li:hover{
    background: #E0E0E0;
}
.cpage-liangpin .wish-model-select-wrap .tit2,
.cpage-liangpin .wish-model-select-wrap .tit2:hover{
    float: none;
    padding-left: 20px;
    width: auto;
    background: #f4f4f4;
    text-align: left;
}
.cpage-liangpin .wish-qrcode-wrap{
    /*padding-bottom: 5px;*/
    background: #fff;
    border: 1px solid #EAEAEA;
    color: #999;
    overflow: hidden;
    font-size: 12px;
}
.cpage-liangpin .wish-qrcode-wrap .row{
    /*margin: 10px 0;*/
}
.cpage-liangpin .wish-qrcode-wrap img{
    margin-top: 20px;
    width: 100%;
}
.cpage-liangpin .wish-qrcode-wrap .tip{
    color: #009966;
    font-size: 16px;
    font-weight: bolder;
    padding: 15px 0;
}


/****** cpage-liangpin-index 客户端liangpin首页 ******/
.cpage-liangpin-index{}
.cpage-liangpin-index .liangpin-head{
    width: 700px;
    /*background: #fff url(https://p.ssl.qhimg.com/t0176a0fc28664642ae.jpg) no-repeat 0 bottom;*/
}
.cpage-liangpin-index .liangpin-main{
    position: relative;
    zoom: 1;
    /*height: 320px;*/
    /*height: 278px;*/
    /*height: 715px;*/
    /*margin-top: 10px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*overflow-y: scroll;*/
}
.cpage-liangpin-index .head-slide{
    /*width: 719px;*/
    width: 700px;
    height: 123px;
    position: relative;
    background: #fff;
}
.cpage-liangpin-index .head-slide .slide-inner{
    /*width: 719px;*/
    width: 700px;
    height: 123px;
    overflow: hidden;
}
.cpage-liangpin-index .head-slide .slide-item{
    /*width: 719px;*/
    width: 700px;
    height: 123px;
    float: left;
}
/*.cpage-liangpin-index .head-slide .slide-ctrl{*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: 10px;*/
/*}*/
/*.cpage-liangpin-index .head-slide .ctrl-item{*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom:1;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*background: #fff;*/
    /*margin: 0 4px;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/
/*}*/
/*.cpage-liangpin-index .head-slide .ctrl-curr{*/
    /*background: #FF9600;*/
/*}*/
.cpage-liangpin-index .head-slide .slide-ctrl {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: 0 auto;
    padding: 0;
    width: 690px;
    text-align: right;
    height: 18px;
}

.cpage-liangpin-index .head-slide .ctrl-item {
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: solid 1px #333;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.cpage-liangpin-index .head-slide:hover .ctrl-item {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.cpage-liangpin-index .head-slide .ctrl-curr {
    background-color: #333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border: solid 1px #fff;
}

.cpage-liangpin-index .head-search{
    height: 62px;
    background: #fff;
}
.cpage-liangpin-index .head-search-left{
    width: 150px;
    height: 62px;
    float: left;
}
.cpage-liangpin-index .head-search-middle{
    height: 62px;
    float: left;
}
.cpage-liangpin-index .head-search-right{
    position: relative;
    width: 130px;
    height: 62px;
    float: right;
}
.cpage-liangpin-index .head-search-left .logo{
    display: block;
    width: 150px;
    height: 62px;
    background: url(https://p.ssl.qhimg.com/t0173d56e74c077818c.jpg) no-repeat 14px center;
}
.cpage-liangpin-index .top-search{
    margin-top: 6px;
    position: relative;
}
.cpage-liangpin-index .searchbox .search-txt{
    padding: 7px 5px;
    height: 14px;
    line-height: 14px;
    border: 2px solid #4a7;
    width: 280px;
    float: left;
    color: #333;
}
.cpage-liangpin-index .searchbox .default{
    color: #c8c8c8;
}
.cpage-liangpin-index .searchbox .search-sub{
    width: 72px;
    height: 32px;
    color: #fff;
    background: #4a7;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    float: left;
}
.cpage-liangpin-index .searchbox .hot-words{
    color: #666;
}
.cpage-liangpin-index .searchbox .hot-words a{
    color: #666;
    margin-right: 6px;
}
.cpage-liangpin-index .head-search-right .user-center-menu{
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 9999;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #EAEAEA;
    background: #fff;
    overflow: hidden;
}
.cpage-liangpin-index .head-search-right .user-center-menu a{
    display: block;
    color: #444;
    text-decoration: none;
}
.cpage-liangpin-index .head-search-right .user-center-menu a:hover{
    text-decoration: none;
    background: #eee;
}
.cpage-liangpin-index .brand-list{
    /*margin: 0 10px;*/
}
.cpage-liangpin-index .brand-list .tit{
    color: #8B8B8B;
    float: left;
    line-height: 22px;
    padding: 7px 0 7px 6px;
}
.cpage-liangpin-index .brand-list .choice{
    font-size: 0;
    /*float: left;*/
    display: table;
    margin-top: 10px;
    height:48px;
}
/*.cpage-liangpin-index .brand-list .item{*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom:1;*/
    /*line-height: 24px;*/
    /*padding: 0 12px;*/
    /*margin: 0 4px;*/
    /*color: #101010;*/
    /*font-size: 12px;*/
    /*cursor: pointer;*/
    /*white-space: nowrap;*/
    /*word-break: keep-all;*/
    /*border-radius: 999px;*/
/*}*/
/*.cpage-liangpin-index .brand-list .item:hover{*/
    /*text-decoration: none;*/
    /*background: #4a7;*/
    /*color: #fff;*/
/*}*/
.cpage-liangpin-index .brand-list .item {
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 85px;
    height: 48px;
    line-height: 48px;
    *line-height: 48px;
    border-top:2px solid transparent;
    font-size: 12px;

}
.cpage-liangpin-index .brand-list .item.cur {
    background-color: #fff;
    width: 100px;
    border-top:2px solid #44aa77;
}
.cpage-liangpin-index .brand-list .item i {
    display: inline-block;
    background: url("https://p3.ssl.qhmsg.com/t012e9d458ac94925da.png") no-repeat ;
    background-size: 565px 196px;
}
.cpage-liangpin-index .brand-list .item i.iphone {
    width: 27px;
    height: 27px;
    margin-top:8px;
    background-position: -10px -50px;
}
.cpage-liangpin-index .brand-list .item i.samsung{
    width: 70px;
    height: 27px;
    margin-top:10px;
    background-position: -66px -3px;
}
.cpage-liangpin-index .brand-list .item i.xiaomi{
    width: 27px;
    height: 27px;
    margin-top:10px;
    /*margin-left:12px;*/
    background-position: -165px -3px;
}
.cpage-liangpin-index .brand-list .item i.huawei{
    width: 40px;
    height: 25px;
    margin-top:9px;
    background-position: -366px -3px;
}
.cpage-liangpin-index .brand-list .item i.meizu{
    width: 70px;
    height: 18px;
    margin-top:15px;
    background-position: -420px -8px;
}
.cpage-liangpin-index .brand-list .item i.oppo{
    width: 75px;
    height: 12px;
    margin-top:18px;
    background-position: -6px -123px;
}
.cpage-liangpin-index .brand-list .item em{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #8e8e8e;
    display: inline-block;
    margin: 22px 2px 0;
}
.cpage-liangpin-index .brand-list .curr{
    background: #4a7;
    color: #fff;
    font-weight: bold;
}
.cpage-liangpin-index .product-list{
    /*padding-top: 10px;*/
    padding-left: 10px;
    background-color: #fff;
}
.cpage-liangpin-index .recommend{
    padding: 30px;
    text-align: center;
    background-color: #fff;
    /*margin-top: 10px;*/
}
.cpage-liangpin-index .recommend h3 {
    font-size: 26px;
    font-weight: 700;
    color:#4a7;
}
.cpage-liangpin-index .recommend p {
    font-size: 18px;
    color:#8e8e8e;
}
.cpage-liangpin-index .brand-product-list{
    /*padding-left: 10px;*/
    background-color: #fff;
}
.cpage-liangpin-index .brand-product-list .p-item{
    height: 205px;
    position   : relative;
    width      : 165px;
    float      : left;
    margin     : 0 2px 2px 0;
    background : #fff;
    text-align: center;
}
.cpage-liangpin-index .brand-product-list .p-price-num{
    display: inline-block;
    color: #f50;
    font-size: 24px;
    line-height: 1;
    padding-top: 13px;
}
.cpage-liangpin-index .brand-product-list .p-price-old{
    font-size: 16px;
    color: #FF4400;
}


/**** 商品列表样式 ****/
.cpage-liangpin .product-list .p-item a,
.cpage-liangpin .brand-product-list .p-item a{
    display: block;
    height: 100%;
    padding: 0 4%;
    cursor: pointer;
}
.cpage-liangpin .product-list .p-item a:hover ,
.cpage-liangpin .brand-product-list .p-item a:hover {
    text-decoration : none;
}

.cpage-liangpin .product-list .p-item {
    position   : relative;
    width      : 165px;
    height     : 230px;
    float      : left;
    margin     : 0 10px 10px 0;
    background : #fff;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.cpage-liangpin .product-list .p-item-last ,
.cpage-liangpin .brand-product-list .p-item-last {
    margin-right : 0;
}

.cpage-liangpin .product-list .p-item .p-pic ,
.cpage-liangpin .brand-product-list .p-item .p-pic {
    position    : relative;
    width       : 100%;
    height      : 110px;
    overflow    : hidden;
}
.cpage-liangpin .product-list .p-item .p-tit,
.cpage-liangpin .brand-product-list .p-item .p-tit{
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.cpage-liangpin .product-list .p-item .p-tit-sub,
.cpage-liangpin .brand-product-list .p-item .p-tit-sub{
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.cpage-liangpin .product-list .p-item .p-price ,
.cpage-liangpin .brand-product-list .p-item .p-price {
    /*padding: 6px 0;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    font-size: 0;
}
.cpage-liangpin .product-list .p-item .p-price-cur,
.cpage-liangpin .brand-product-list .p-item .p-price-cur{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #f50;
    font-size: 12px;
}
.cpage-liangpin .product-list .p-item .p-price-cur .p-price-num{
    font-size : 28px;
}
.cpage-liangpin .product-list .p-item .p-price-r,
.cpage-liangpin .brand-product-list .p-item .p-price-r{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-top: 8px;
    font-size: 12px;
}
.cpage-liangpin .product-list .p-item .p-price-off ,
.cpage-liangpin .brand-product-list .p-item .p-price-off {
    display: block;
    padding-left : 7px;
    width        : 34px;
    height       : 16px;
    line-height  : 16px;
    text-align   : center;
    color        : #fff;
    background   : url(https://p.ssl.qhimg.com/t01e7d33b82039e5dab.png) no-repeat 0 0;
    font-size    : 12px;
}
.cpage-liangpin .product-list .p-item .p-price-orig ,
.cpage-liangpin .brand-product-list .p-item .p-price-orig {
    display: block;
    width       : 40px;
    font-size   : 12px;
    line-height : 1.2;
    color       : #999;
}

.cpage-liangpin .product-list .p-item .p-desc,
.cpage-liangpin .brand-product-list .p-item .p-desc{
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.cpage-liangpin .product-list .p-item-sold .sold-label ,
.cpage-liangpin .brand-product-list .p-item-sold .sold-label {
    position   : absolute;
    top        : 0;
    left       : 10px;
    display    : block;
    width      : 45px;
    height     : 84px;
    background : url(https://p.ssl.qhimg.com/t01a32f098f4d058141.png) no-repeat 0 0;
}
.cpage-liangpin .product-list .p-item .xinjin-label ,
.cpage-liangpin .brand-product-list .p-item .xinjin-label {
    position   : absolute;
    top        : 0;
    left       : 0;
    display    : block;
    width      : 65px;
    height     : 66px;
    background : url(https://p.ssl.qhimg.com/t0108a5765756454b2d.png) no-repeat 0 0;
}

/*鼠标放上*/
.cpage-liangpin .product-list .p-item-hover {
    z-index: 2;
    -webkit-box-shadow    : 0px 6px 35px -10px rgba(0,0,0,0.5);
    box-shadow    : 0px 6px 35px -10px rgba(0,0,0,0.5);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    /*-webkit-transition-duration:.3s;*/
    /*transition-duration:.3s;*/
}


/*202007微信扫码获取最低价*/
.cpage-liangpin .product-list .p-item-hover .scan-get-price-wrap{
    /*display: block;*/
}
.cpage-liangpin .scan-get-price-wrap{
    display: none;
    padding: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 1;
}
.cpage-liangpin .scan-get-price-wrap img{
    width: 100%;
}
.cpage-liangpin .scan-get-price-wrap .scan-tit{
    color: #999;
    padding-top: 10px;
}
.cpage-liangpin .scan-get-price-wrap .scan-desc{
    color: #ff4d00;
}
/**** END 商品列表样式 ****/


/* 精选/秒杀商品 jx-selling：精选 xsq-selling：秒杀*/
.cpage-liangpin-index .tg-small {
    margin: 5px auto;
    /*width: 699px;*/
    width: 680px;
    height: 120px;
    position: relative;
    background: #fff;
}

.cpage-liangpin-index .tg-small .slide-go-left,
.cpage-liangpin-index .tg-small .slide-go-right {
    position: absolute;
    top: 46px;
    z-index: 3;
    width: 23px;
    height: 23px;
    font-size: 0;
    cursor: pointer;
    background: transparent url(https://p.ssl.qhimg.com/t01bb593a9750fcd65e.png) no-repeat 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cpage-liangpin-index .tg-small .slide-go-left {
    left: -10px;
    background-position: 0 0;
}
.cpage-liangpin-index .tg-small .slide-go-right {
    right: -10px;
    background-position: -24px 0;
}
.cpage-liangpin-index .tg-small .slide-go-left.disabled,
.cpage-liangpin-index .tg-small .slide-go-left.disabled:hover{
    background-position: 0 -49px;
}
.cpage-liangpin-index .tg-small .slide-go-right.disabled,
.cpage-liangpin-index .tg-small .slide-go-right.disabled:hover{
    background-position: -24px -49px;
}
.cpage-liangpin-index .tg-small .slide-go-left:hover{
    text-decoration: none;
    background-position: 0 -25px;
}
.cpage-liangpin-index .tg-small .slide-go-right:hover {
    text-decoration: none;
    background-position: -24px -25px;
}

.cpage-liangpin-index .tg-small .slide-inner {
    position: absolute;
    top: -10px;
    left: -1px;
    z-index: 2;
    /*width: 699px;*/
    width: 680px;
    height: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cpage-liangpin-index .tg-small .slide-item {
    /*width: 233px;*/
    width: 226px;
    height: 118px;
    float: left;
    cursor: pointer;
    border-right:solid 1px #ececec;
}
.cpage-liangpin-index .hot-product-list {
    padding-top: 10px;
    color: #333;
}

.cpage-liangpin-index .hot-product-list .slide-img {
    float: left;
    width: 80px;
    height: 118px;
    line-height: 118px;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.cpage-liangpin-index .hot-product-list .slide-img a {
    width: 80px;
    height: 148px;
    overflow: hidden;
}

.cpage-liangpin-index .hot-product-list .slide-img a:hover {
    text-decoration: none;
}

.cpage-liangpin-index .hot-product-list .slide-img img {
    height: 70px;
}
.cpage-liangpin-index .hot-product-list .slide-txt {
    position: relative;
    float: left;
    padding-top:5px;
    height: 118px;
    /*width:153px;*/
    width:146px;
}

.cpage-liangpin-index .hot-product-list .p-tit {
    line-height: 1.3;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.cpage-liangpin-index .hot-product-list .p-tit-sub{
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.cpage-liangpin-index .hot-product-list .p-price {
    line-height: 1;
    /*font-size: 16px;*/
    color: #f50;
}

.cpage-liangpin-index .hot-product-list .p-price-orig{
    position: relative;
    height: 18px;
    font-size: 12px;
    color: #999;
    padding-top: 4px;
}

.cpage-liangpin-index .hot-product-list .p-price-off {
    position: absolute;
    top: 0px;
    left: 44px;
    padding-left: 7px;
    width: 34px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: url(https://p.ssl.qhimg.com/t01e7d33b82039e5dab.png) no-repeat 0 0;
}

.cpage-liangpin-index .hot-product-list .p-price-num {
    font-size: 24px;
}
.cpage-liangpin-index .hot-product-list .p-buy {
    position: absolute;
    bottom: 8px;
    display: block;
    width: 92px;
    height: 26px;
    line-height: 26px;
    background: #f50;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.cpage-liangpin-index .hot-product-list .p-buy:hover {
    background: #fc6621;
}

.cpage-liangpin-index .hot-product-list .p-buy-disabled,
.cpage-liangpin-index .hot-product-list .p-buy-disabled:hover {
    color: #fff;
    background: #d8d3d0;
}

.cpage-liangpin-index .hot-product-list .lab-jx {
    position: absolute;
    top:0;
    left: -80px;
    display: block;
    width: 40px;
    height: 20px;
    background: #f50;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

.cpage-liangpin-index .hot-product-list .lab-xsq {
    position: absolute;
    top: 11px;
    left : -120px;
    display: block;
    width: 46px;
    height: 20px;
    background: #f50;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .p-buy {
    display: none;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .p-buy-disabled {
    display: block;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .p-buy-not-start {
    display: none;
}

.cpage-liangpin-index .hot-product-list .seckill{
    position:absolute;
    left:0;
    bottom:8px;
    color: #f50;
    font-size:14px;
    width:30px;
}
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown {
    position: absolute;
    bottom: 3px;
    left:30px;
    text-align: center;
    font-size: 0;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .countdown span {
    margin-right: 4px;
    font-size: 14px;
    line-height: 2.2;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .d-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .h-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .m-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .s-num {
    padding: 0 1px;
    color: #f50;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .d-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown .d-txt {
    display: none;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-end-next {
    color: #999;
}

.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .d-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .h-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .m-num,
.cpage-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .s-num {
    color: #999;
}

.cpage-liangpin-index .hot-product-list .slide-item-hover {
    position: relative;
    z-index: 9;
    box-shadow: 0 0 35px -10px #333;
}

.cpage-liangpin-index .hot-product-list .slide-item-hover .p-buy {
    display: block;
}

.cpage-liangpin-index .hot-product-list .slide-item-hover .countdown {
    display: none;
}
.cpage-liangpin-index .hot-product-list .slide-item-hover .seckill{
    display: none;
}
/* END 精选/秒杀商品 jx-selling：精选 xsq-selling：秒杀*/



/****** cpage-liangpin-search 客户端liangpin搜索页 ******/
.cpage-liangpin-search{

}
.cpage-liangpin-search .liangpin-head{
    height: 52px;
    background: #fff url(https://p.ssl.qhimg.com/t0176a0fc28664642ae.jpg) no-repeat center bottom;
}
.cpage-liangpin-search .head-search{
    height: 48px;
    /*background: #fff;*/
}
.cpage-liangpin-search .head-search-left{
    width: 150px;
    height: 48px;
    float: left;
}
.cpage-liangpin-search .head-search-middle{
    height: 48px;
    float: left;
}
.cpage-liangpin-search .head-search-right{
    position: relative;
    width: 130px;
    height: 48px;
    float: right;
}
.cpage-liangpin-search .head-search-left .go-back-home{
    margin: 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 64px;
    height: 30px;
    border: 1px solid #D4D4D4;
    background: #F9F9F9 url(https://p.ssl.qhimg.com/t0122aa0fcf950fc08d.png) no-repeat 5px 8px;
    /*background: #F9F9F9;*/
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #706E6E;
}
.cpage-liangpin-search .head-search-left .go-back-home:hover{
    background: #EFEFEF url(https://p.ssl.qhimg.com/t0122aa0fcf950fc08d.png) no-repeat 5px 8px;
    text-decoration: none;
}
.cpage-liangpin-search .top-search{
    margin-top: 8px;
    position: relative;
}
.cpage-liangpin-search .searchbox .search-txt{
    padding: 7px 5px;
    height: 14px;
    line-height: 14px;
    border: 2px solid #4a7;
    width: 280px;
    float: left;
    color: #333;
}
.cpage-liangpin-search .searchbox .default{
    color: #c8c8c8;
}
.cpage-liangpin-search .searchbox .search-sub{
    width: 72px;
    height: 32px;
    color: #fff;
    background: #4a7;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    float: left;
}
.cpage-liangpin-search .head-search-right .user-center-menu{
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 9999;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #EAEAEA;
    background: #fff;
    overflow: hidden;
}
.cpage-liangpin-search .head-search-right .user-center-menu a{
    display: block;
    color: #444;
    text-decoration: none;
}
.cpage-liangpin-search .head-search-right .user-center-menu a:hover{
    text-decoration: none;
    background: #eee;
}
.cpage-liangpin-search .liangpin-main{
    position: relative;
    /*height: 493px;*/
    height: 489px;
    overflow-x: hidden;
    overflow-y: scroll;
    zoom: 1;
    /*background: #fff url(https://p.ssl.qhimg.com/t0176a0fc28664642ae.jpg) no-repeat 0 0;*/
}
/* 过滤选项 */
.cpage-liangpin-search .search-filter{
    /*margin-bottom: 10px;*/
}
.cpage-liangpin-search .search-filter .filter-line{
    margin: 0 10px;
    border-bottom: 1px solid #EAEAEA;
}
.cpage-liangpin-search .search-filter .filter-tit{
    color: #8B8B8B;
    float: left;
    /*width: 80px;*/
    line-height: 22px;
    padding: 7px 0 7px 0px;
}
.cpage-liangpin-search .search-filter .filter-choice{
    margin: 0 0 0 60px;
    padding: 7px 0;
}
.cpage-liangpin-search .search-filter .filter-item{
    display: inline-block;
    *display: inline;
    *zoom:1;
    line-height: 22px;
    padding: 0 5px;
    margin: 0 4px;
    color: #101010;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
}
.cpage-liangpin-search .search-filter .filter-item:hover{
    text-decoration: none;
    background: #4a7;
    color: #fff;
}
.cpage-liangpin-search .search-filter .filter-curr{
    background: #4a7;
    color: #fff;
    font-weight: bold;
}
.cpage-liangpin-search .filter-selected-line{
    margin: 0 0 0 10px;
    color: #8B8B8B;
}
.cpage-liangpin-search .filter-selected-line .filter-tit{
    width: auto;
    line-height: 22px;
}
.cpage-liangpin-search .filter-selected-line .filter-choice{
    /*position: relative;*/
    margin: 0;
    padding: 2px 0 7px 0;
}
.cpage-liangpin-search .filter-selected-line .selected-item{
    margin: 5px 0 0 8px;
    padding: 0 2px 0 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 20px;
    line-height: 20px;
    border: 1px solid #E0E0E0;
    vertical-align: middle;
}
.cpage-liangpin-search .filter-selected-line .selected-item span{
    margin: 0 2px 0 5px;
    color: #4a7;
}
.cpage-liangpin-search .filter-selected-line .selected-item .del{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    text-align: center;
    color: #8B8B8B;
    cursor: pointer;
}
.cpage-liangpin-search .total-count{
    padding-right: 20px;
    text-align: right;
    line-height: 2.4;
}
.cpage-liangpin-search .total-count span{
    font-size: 14px;
    color: #f30;
}


.cpage-liangpin .c-main{
    width: 719px;
    height: 569px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

/*新用户优惠券*/
.cpage-liangpin-index .coupon-ewm{
    position: absolute;
    z-index: 9999;
    top: 250px;
    right: 20px;
    height: 40px;
    padding-right: 5px;
}
.cpage-liangpin-index .coupon-ewm img{
    height: 100%;
}
.cpage-liangpin-index .panel-coupon-ewm{
    background: transparent;
    overflow: visible;
}
.cpage-liangpin-index .panel-coupon-ewm .coupon-ewm-img{
    width: 222px;
    height: 261px;
}
.cpage-liangpin-index .panel-coupon-ewm span.close{
    background: url(https://p3.ssl.qhmsg.com/t01f77be3222808a50b.png) no-repeat center;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -8px;
    text-decoration: none;
    top: -8px;
    width: 30px;
    z-index: 9999;
}
.cpage-liangpin-index .panel-coupon-ewm .ft{
    display: none;
}
/* END 新用户优惠券*/


.cpage-liangpin-index .enter-to-more-liangpin,
.cpage-liangpin-index .enter-to-more-liangpin:hover{
    margin: 40px auto;
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #4a7;
    color: #4a7;
    text-align: center;
}

/*关注我们*/
.cpage-liangpin-index .block-follow-us{
    margin: 10px auto 80px auto;
    width: 383px;
    font-size: 16px;
    color: #333;
}
.cpage-liangpin-index .block-follow-us .follow-us-cont{
    width: 390px;
    /*height: 332px;*/
    /*background: #fff;*/
}
.cpage-liangpin-index .block-follow-us .follow-us-cont-inner{
    padding: 0px 20px;
}
.cpage-liangpin-index .block-follow-us .row{
    border-bottom: 1px dashed #DDD;
}
.cpage-liangpin-index .block-follow-us .row-last{
    border-bottom: 0;
}
.cpage-liangpin-index .block-follow-us .row-qrcode{
    padding: 15px 0;
}
.cpage-liangpin-index .block-follow-us .row-qrcode .col-left-fixed{
    width: 117px;
}
.cpage-liangpin-index .block-follow-us .row-qrcode .col-left-fixed img{
    width: 100%;
}
.cpage-liangpin-index .block-follow-us .row-qrcode .col-right{
    margin-left: 135px;
    *margin-left: 18px;
}
.cpage-liangpin-index .block-follow-us .row-qrcode-mq{
    color: #4a7;
    font-size: 24px;
    font-weight: bold;
}
.cpage-liangpin-index .block-follow-us .row-qrcode-tq{
    color: #333;
}
.cpage-liangpin-index .block-follow-us .row-qrcode-zkf{
    margin-top: 24px;
    color: #4a7;
    font-size: 20px;
    font-weight: bold;
}
/* END 关注我们 */

/*限时抢*/
.cpage-liangpin-index .block-promo-product{

}
.cpage-liangpin-index .block-promo-product .promo-product-cont{
    padding: 30px 0 0 0;
    height: 200px;
}
.cpage-liangpin-index .block-promo-product .btn-switch{
    width: 97px;
}
.cpage-liangpin-index .block-promo-product .index-title{
    display: none;
}
.cpage-liangpin-index .block-promo-product .roundabout_box{
    width: 700px;
    height: 170px;
}
.cpage-liangpin-index .block-promo-product .roundabout-holder{
    position: relative;
    width: 500px;
    height: 200px;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item{
    width: 500px;
    height: 200px;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item{
    position: absolute;
    margin-top: -15px;
    /*margin-top: 0;*/
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item .p-pic{
    width: 120px;
    /*height: 120px;*/
    height: 100%;
    margin-left: 10px;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item .p-pic img{
    height: auto;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item .p-cont{
    margin-left: 140px;
    *margin-left: 0;
    padding-top: 10px;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item .tit-cont{
    font-size: 16px;
}
.cpage-liangpin-index .block-promo-product .roundabout-moveable-item .p-desc{
    font-size: 12px;
}
