.page-repair{
	background: #EEF0F1 url(https://p.ssl.qhimg.com/t011e5a1bffb3719de5.jpg) repeat-x 0 0;
}

.page-repair .tiemo-box a{
	color: #0096ff;
}
.page-repair .center{
	text-align: center;
}
.page-repair .f20{
	font-size: 20px;
}
.page-repair .f18{
	font-size: 18px;
}
.page-repair .f16{
	font-size: 16px;
}
.page-repair .f14{
	font-size: 14px;
}
.page-repair .f12{
	font-size: 12px;
}
.page-repair .cfff{
	color: #fff;
}
.page-repair .cddd{
	color: #ddd;
}
.page-repair .cccc{
	color: #ccc;
}
.page-repair .c999{
	color: #999;
}
.page-repair .c666{
	color: #666;
}
.page-repair .c333{
	color: #333;
}

.page-repair .cf72{
	color: #ff7722;
}

.page-repair .icon-wechat{
	width: 32px;
	height: 26px;
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat -342px -138px;
}
.page-repair .icon-fxcenter{
	width: 24px;
	height: 26px;
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat -378px -138px;
}
.page-repair #doc-topbar{
	display: none;	
}
.page-repair .returnToTop{
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.page-repair .returnToTop a{
	position: absolute;
}


.page-repair .w1000{
	width: 1000px;
	margin: 0 auto;
}

.page-repair .hd-content{
	height: 50px;
	position: relative;
	font-family: "微软雅黑";
}
.page-repair .logo{
	position: absolute;
	left: 0;
	top: 0;
}

.page-repair .hd-right{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}

.page-repair .top-menu .menu-item{
	display: inline-block;
	_zoom:1;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	cursor: pointer;
}

.page-repair .wechat-heixiuge{
	color: #70c128;
	position: relative;
}
.page-repair .repair-center{
	color: #999999;
}
.page-repair .wechat-qrcode{
	display: none;
	position: absolute;
	left: -30px;
	top: 50px;
}
.page-repair .wechat-heixiuge:hover .wechat-qrcode{
	display: block;
}
.page-repair .repair-form-content{
	font-family: "微软雅黑";
}

.page-repair .repair-form-content .r-f-ok{
	padding: 0 30px;
}
.page-repair .repair-form-content .youji-tip{
	height: 180px;
	background: url(https://p.ssl.qhimg.com/t01bc9fa6d254499b84.jpg) no-repeat center;
}
/*起始页*/
.page-repair .start-bg{
	position: absolute;
	z-index: 1;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 1000px;
	min-height: 640px;
}
.page-repair .start-bg img{
	width: 100%;
}
 .page-repair .start-content{
 	position: relative;
 	z-index: 10;
 }

.page-repair .s-box{
    padding-top: 300px;
	font-family: "微软雅黑";
}

.page-repair .brand-list{

}
.page-repair .brand-list .brand-item{
	display: block;
	margin: 20px auto;
	width: 260px;
	height: 50px;
	text-indent: -9999px;
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat 0 0;
}

.page-repair .brand-list .brand-apple{
	background-position: 0 0;
}
.page-repair .brand-list .brand-samsung{
	background-position: 0 -70px;
}

.page-repair .brand-list .brand-apple:hover{
	background-position: -290px 0;
}
.page-repair .brand-list .brand-samsung:hover{
	background-position: -290px -70px;
}

/*手机情况*/
.page-repair .phone-brand{
	padding: 40px 0;
	font-family: "微软雅黑";
}

.page-repair .phone-brand .curr-brand{
	width: 219px;
	height: 27px;
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat 0 -177px;
	margin-bottom: 20px;
}

.page-repair .phone-brand .curr-brand-1{
	background-position: -250px -177px;
}
.page-repair .phone-brand .curr-brand-2{
	background-position: 0 -177px;
}

.page-repair .phone-brand .curr-brand .b-item{
	float: left;
	display: block;
	height: 27px;
}
.page-repair .phone-brand .curr-brand .b-apple{
	width: 103px;
}
.page-repair .phone-brand .curr-brand .b-samsung{
	width: 116px;
}

.page-repair .phone-brand .b-c-pic{
	width: 440px;
	height: 500px;
	float: left;
}
.page-repair .phone-brand .b-c-choice{
	width: 550px;
	float: right;
}
.page-repair .phone-brand .b-p-apple{
	background: url(https://p.ssl.qhimg.com/t015c2a6e78498d4df5.jpg) no-repeat center 80px;
}
.page-repair .phone-brand .b-p-samsung{
	background: url(https://p.ssl.qhimg.com/t0103db54a22f4ca6a0.jpg) no-repeat center 80px;
}

.page-repair .phone-brand .tit2{
	color: #aaa;
	line-height: 2;
}

.page-repair .phone-brand .check-item{
	float: left;	
	margin: 5px 10px 5px 0;
	padding: 0 8px;
	min-width: 16px;
	_width: 16px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #C0C0C0;
	font-size: 14px;
	color: #999;
	text-align: center;
	cursor: pointer;

	border-radius: 8px;
}

.page-repair .phone-brand .check-item-curr{
	background: #0096FF;
	border-color: #0096FF;
	color: #fff;	
}

.page-repair .phone-brand .model-list,
.page-repair .phone-brand .issue-list{
	padding: 6px 0;
	margin-bottom: 10px;
}
.page-repair .phone-brand .model-item{
	
}

.page-repair .model-list-samsung .check-item{
	border-radius: 8px;
}
.page-repair .issue-list .check-item{
	border-radius: 8px;
	font-size: 12px;
}

.page-repair .evaluate-table{
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
}

.page-repair .evaluate-table th{
	height: 30px;	
	color: #999;
	border-bottom: 1px solid #DADCDD;
}

.page-repair .evaluate-table td{
	height: 26px;
	color: #666;
}

.page-repair .evaluate-table .money{
	color: #ff7a0e;
}

.page-repair .mb10{
	margin-bottom: 10px;
}
.page-repair .btn-buy{
	vertical-align: middle;
	display: inline-block;
	_zoom:1;
	width: 142px;
	height: 42px;
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat 0 -129px;
	text-indent: -9999px;
}
.page-repair .btn-buy:hover{
	background-position: -172px -129px;
}
.page-repair .phone-brand .submit-box{
	padding: 10px 0;
}

.page-repair .phone-brand .buy-addition{
	color: #ff7e15;
	font-weight: bold;
	margin-left: 14px;
}

.page-repair .sub-btn{
	background: url(https://p.ssl.qhimg.com/t0149c9ac0dbc5238bc.png) no-repeat scroll 0 -218px;
	width: 121px;
	height: 32px;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
	margin-top: 10px;
}
.page-repair .sub-btn:hover{
	background-position: -124px -218px;
}
.page-repair .repair-form{
	color: #666;
	font-family: "微软雅黑";
}
.page-repair .repair-form dl{
	height: 24px;
	line-height: 24px;
	padding: 5px 0;
}
.page-repair .repair-form dt{	
	float: left;
	width: 90px;
	text-align: right;
}
.page-repair .repair-form dd{
	float: left;
	width: 270px;
}
.page-repair .repair-form .ipt-txt{
	border: 1px solid #BCBCBC;
	width: 120px;
	padding: 0 6px;
	height: 22px;
	line-height: 22px;
	border-radius: 2px;
}
.page-repair .repair-form .ipt-txt2{
	width: 210px;
	height: 64px;
}
.page-repair .repair-form .sendcode{
	height: 24px;
	line-height: 24px;
	color: #ffffff;
	background: #FF8019;
	border: 0;
	padding: 0 8px;
	cursor: pointer;
}
.page-repair .repair-form .btn-vcode-disabled{
	background: #e0e0e0;
	color: #aaa;
	cursor: default;
}
.page-repair .r-f-title{
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	font-family: "微软雅黑";
}
.page-repair .r-f-left{
	float: left;
	width: 380px;
}
.page-repair .r-f-right{
	float: right;
	width: 370px;
}
.page-repair .tiemo-box{
	padding: 0 20px;
}
.page-repair .tiemo-box .tm-pic{
	width: 326px;
	height: 250px;
	background: url(https://p.ssl.qhimg.com/t01df08b390dba1ef2c.jpg) no-repeat center;
}
.page-repair .tiemo-box .tm-tip{
	color: #ff8019;
	line-height: 1.8;
}
.page-repair .tiemo-box .tm-left{
	width: 150px;
	float: left;
}
.page-repair .tiemo-box .tm-right{
	width: 150px;
	float: right;
	text-align: right;
}
/*城市选择*/
.page-repair .select-type{
    height: 24px;    
    display: inline-block;
    vertical-align: middle;
    _display:inline;
    _zoom:1;
    padding-bottom: 5px;
}

.page-repair  .area-sel {
    background: #f8f8f8;
    border: 1px solid #D8D8D8;
    color: #666;
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 4px;
    position: relative;
    z-index: 101;
}

.page-repair .mr-10 {
    margin-right: 4px;
}

.page-repair .icon-arrow {
    background: url(https://p.ssl.qhimg.com/t010d71e7b045cd4e73.png) no-repeat scroll  5px -30px;
    height: 22px;
    width: 20px;
}

.page-repair .select-pannel{display:none;position: absolute;width: 340px;background: #FBFBFB;border: solid 1px #CFCFCF;left: -1px;top: 28px;padding: 8px 0;z-index: 10001;}
.page-repair .select-pannel h3{ font-weight: normal;height: 20px; line-height: 20px; padding: 0 10px; position: relative;}
.page-repair .select-pannel h3 .close{background: url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor: pointer; display: block; height: 20px; line-height: 100px; overflow: hidden; position: absolute; right: 10px; top: 0; width: 55px;}
.page-repair .select-pannel .select-list{background: #FFFFFF;border: solid 1px #E8E8E8;margin: 12px 12px 3px; padding: 12px 12px 0;}
.page-repair .select-pannel .select-list a{color: #000000;display: inline-block; height: 18px; line-height: 18px; margin: 0 18px 5px 0;}


.page-repair .border8-panel{
	overflow:visible;
}
/*进度条*/
.jixiu-process-bar a,
.jixiu-process-bar span,
.jixiu-process-bar .cur{float: left; display: block; width: 103px; height: 46px; background: url(https://p.ssl.qhimg.com/t01b4105e987a20277a.png) no-repeat;}
.jixiu-process-bar a{cursor: pointer;}
.jixiu-process-bar span{cursor: default;}
.jixiu-process-bar a:hover{text-decoration: none;}
.jixiu-process-bar-1 span{background-position: 0 0;}
.jixiu-process-bar-1 a{background-position: 0 -90px;}
.jixiu-process-bar-1 .cur{background-position: 0 -200px;}
.jixiu-process-bar-2 span{background-position: -103px 0;}
.jixiu-process-bar-2 a{background-position: -103px -90px;}
.jixiu-process-bar-2 .cur{background-position: -103px -200px;}
.jixiu-process-bar-3 span{background-position: -206px 0;}
.jixiu-process-bar-3 a{background-position: -206px -90px;}
.jixiu-process-bar-3 .cur{background-position: -206px -200px;}
.jixiu-process-bar-4 span{background-position: -309px 0;}
.jixiu-process-bar-4 a{background-position: -309px -90px;}
.jixiu-process-bar-4 .cur{background-position: -309px -200px;}
.jixiu-process-bar-5 span{background-position: -412px 0;}
.jixiu-process-bar-5 a{background-position: -412px -90px;}
.jixiu-process-bar-5 .cur{background-position: -412px -200px;}
.jixiu-process-bar-6 span{background-position: -515px 0;}
.jixiu-process-bar-6 a{background-position: -515px -90px;}
.jixiu-process-bar-6 .cur{background-position: -515px -200px;}
.jixiu-process-bar-7 span{background-position: -618px 0;}
.jixiu-process-bar-7 a{background-position: -618px -90px;}
.jixiu-process-bar-7 .cur{background-position: -618px -200px;}
.jixiu-process-bar-8 span{background-position: -721px 0;}
.jixiu-process-bar-8 a{background-position: -721px -90px;}
.jixiu-process-bar-8 .cur{background-position: -721px -200px;}
.jixiu-process-bar-6-2 span{background-position: -824px 0;}
.jixiu-process-bar-6-2 a{background-position: -824px -90px;}
.jixiu-process-bar-6-2 .cur{background-position: -824px -200px;}

.jixiu-detail-cont{

}
.jixiu-detail-cont-left, .jixiu-detail-cont-right{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 50%;
    vertical-align: top;
}

.jixiu-process-2{
    
}
