/*修改宽度*/
.shop-pc .col-1{
    width: 760px;
    position: relative;
}

.shop-pc .col-2{
    width: 180px;
}

.shop-pc .tab-2{
    border:1px solid #CEDDC5;
    background: #F8FFF3;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    position: relative;
}

.shop-pc .u-comments .tab-2{
    margin: 10px;
}

.shop-pc .amap-logo,
.shop-pc .amap-copyright{
    display: none;
}
.shop-pc .bor{
    border: 1px solid #DFDFE1;
}

.shop-pc .hd2{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #DFDFE1;
    background: #F7F7F7;
    font-size: 14px;
    font-weight: bold;
    padding-left: 16px;
    color: #444444;
}
.shop-pc .hd3{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 16px;
    color: #444444;
    border: 0;
}

/* 商家信息 */
.co-info{margin-bottom:35px;}
.co-info .pic{margin-right:20px;height:180px;width:180px}
.co-info .cont{position:relative;overflow:hidden;*zoom:1;color:#666;}
.co-info h3{font:bold 16px "Microsoft Yahei";color:#333;}
.co-info p{padding:3px 0;}
.co-info label{color:#666;}
.co-info .price span{font-size:24px;font-family:"Microsoft Yahei";color:#999;}
.co-info .price strong{font:bold 24px "Microsoft Yahei";color:#e24d4d;}
.co-info .cert{color:#666;}
.co-info .contact strong{color:#e24e4c;font-weight:bold;font-size:14px;}
.co-info .contact a{font-family:"SimSun";}
.co-info .detail{background:#fffced;color:#e34d4e;border:1px solid #ffc000;font-size:14px;font-weight:bold;padding:4px 10px;}
.co-info .detail span{display:inline-block;}
.co-info .addr{color:#666;}
.co-info .agreement{color:#666;}
.co-info .agreement .bao{
    color: #666666;
    padding: 10px 0 10px 28px;
    background: url(https://p.ssl.qhimg.com/t01b84fbccd823c8486.png) no-repeat 0 3px;
    margin: 0 10px;
}

/*修改部分*/
.doc-bd .co-info-new{ border:1px solid #E9F0F5; background: url(https://p.ssl.qhimg.com/t01d0546edaac460c11.jpg) repeat-x 0 0; padding: 20px; margin-bottom: 10px;}
.co-info-new .pic{ height:110px;width:110px; padding: 4px; border: 1px solid #D8D8D8; background: #fff;}
.co-info-new .cont{position:relative;overflow:hidden;*zoom:1;color:#666; float: right; width: 770px; }
.co-info-new .price span{font-size:24px;font-family:"Microsoft Yahei";color:#999;}
.co-info-new .contact strong{color:#e24e4c; font-size: 12px; font-weight: normal;}

.co-info-new .rating-box{
    _zoom:1;
}
.co-info-new .rating-unit{
    float: right;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: middle;
}

.co-info-new .rating,
.co-info-new .grade{
    float: left;
    color: #FF9000;
}

.co-info-new .rating, 
.co-info-new .rating span{
    width: 80px;
    height: 16px;
    position: relative;
    background: url(https://p.ssl.qhimg.com/t010813d9ce48a42705.png) no-repeat -110px -20px;
    float: left;
    margin-right: 5px;
}
.co-info-new .rating span{
    background-position: -110px -40px;
}

.co-info-new .rating{
    margin-top: 7px;
}


.co-info-new h3 {
    float: left;
    font: bold 16px "Microsoft Yahei";
    position: relative;
    width: 520px;
    z-index: 10;
}
.co-info-new .func{
    float: right;
    text-align: right;
    width: 240px;
}

.co-info-new .func .func-item{
    margin-left: 10px;
}
.co-info-new .func a{
    color: #666666;
}

.co-info-new  .icon-tel,
.co-info-new .icon-jubao,
.co-info-new .icon-phone,
.co-info-new .icon-share,
.shop-notice .icon-laba{
    background: url(https://p.ssl.qhimg.com/t01a1211a9e1859c837.png) no-repeat 0 -1px;
    width: 26px;
    height: 26px;
}

.co-info-new .icon-jubao{
    background-position: -32px -1px;    
}

.co-info-new .icon-phone{
    background-position: -64px -1px;    
}
.shop-notice .icon-laba{
    width: 20px;
    height: 16px;
    background-position: -100px 0;       
}

.co-info-new .cont-top{
    line-height: 2.4;
    margin-bottom: 4px;
}
.co-info-new .cont-content{
    line-height: 2.4;
}
.co-info-new .cont-left{
    width: 500px;
    float: left;
    
}

.co-info-new .cont-right{
    width: 250px;
    float: right;
    text-align: right;
}
.co-info-new .cert{
    color: #999999;
}

.shop-notice{
    color: #666666;
    height: 34px;
    line-height: 34px;
    border: 1px solid #F0F0F0;
    padding: 0 0 0 20px;
    margin: 0 0 14px 0;
}
.shop-notice .notice-tit{
    width: 100px;
    float: left;
    _padding-top:10px;
}
.shop-notice .notice-list{
    width: 835px;
    float: left;
}
.shop-notice .notice-list .nc-item{
    margin-right: 20px;
    max-width: 261px;
    _width: 261px;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow:ellipsis;*/
    display: block;
    float: left;
}
.shop-notice .notice-list .last{
    margin-right: 0;
}
.shop-notice strong{
    font-weight: bold;
    margin-left: 6px;
}

/*子菜单*/
.shop-sub-menu{
    position: absolute;
    height: 40px;
    line-height: 40px;
    z-index: 999;
    width: 760px;
    top: 0;    
    padding-bottom: 3px;
    background: #fff url(https://p.ssl.qhimg.com/t01303a0b54e6f68ddc.png) repeat-x 0 bottom;
}
.shop-sub-menu-holder{
    height: 40px;
    margin-bottom: 10px;
}
.shop-sub-menu .m-item{
    float: left;
    padding: 0 10px;
    margin: 0 16px;
    _display: inline;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #666;
}
.shop-sub-menu .curr{
    font-weight: bold;
    color: #128422;
    background: url(https://p.ssl.qhimg.com/t01195d1d1383cce7b9.png) repeat-x 0 bottom;
    cursor: default;
}

/*商家信息*/
.shop-intro{
    width: 100%;    
    line-height: 1.8;
}

.shop-intro th{
    background: #EDEDED;
    width: 80px;
    color: #333333;
    text-align: right;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 3px solid #fff;
}
.shop-intro th.last{
    border-bottom: 0;   
}
.shop-intro td{
    padding: 10px;
    background: #FCFCFC;
    color: #999999;
}
.shop-intro .srv-quan{
    border: 1px solid #BADD98;
    padding: 1px 10px;
    background: #F5FFEB;
    margin-right: 10px;
    color: #337D39;
    white-space: nowrap;
    word-break:keep-all;
}
.shop-section .baozhang-w{
    margin: 10px 40px 30px 40px;
}

/*快速预约*/
.fast-yuyue{ color: #999999;}
.fast-yuyue label{ display: block; margin-top: 6px;}
.fast-yuyue textarea{
    display: block;
    height: 60px;
    padding: 5px;
    border: 1px solid #E7E5E2;
    border-radius: 5px;
    width: 148px;
}
.fast-yuyue .mobile{
    height: 20px;
    line-height: 20px;
    border: 1px solid #E7E5E2;
    border-radius: 5px;
    width: 148px;
    padding: 5px;
}
.fast-yuyue .submit{
    margin-top: 6px;
    height: 34px;
    width: 160px;
    border: 0;
    background: url(https://p.ssl.qhimg.com/t01a1211a9e1859c837.png) no-repeat 0 -29px;
    text-align: center;
    font-weight: bold;
    color: #7E95B3;
    cursor: pointer;
}
.fast-yuyue .submit:hover{
    background-position: 0 -63px;
}
.fast-yuyue .submit:active{
    background-position: 0 -96px;
}

/*站内搜索*/
.shop-search{float: left; padding-top: 8px;}
.shop-search .search{background:url(https://p.ssl.qhimg.com/t01ab3ae39d5dcb93f3.png) no-repeat;width:211px;height:22px;margin-left:19px;position: relative;}
.shop-search .search .t{border:none;background:none;width:135px;float:left;margin:3px 0 0 25px;padding:1px 0 1px 0;*margin-left:5px;}
.shop-search .search .b{background:none;border:none;width:47px;height:20px;float:right;cursor:pointer;margin:1px 1px 0 0;}
.shop-search .ele4phtips{ line-height: 18px;}
/* 服务项目 */
.service-item .bd{padding:0;}

/* 用户评论 */
.u-comments .bd{padding:0;}

/* 边栏 */
.shop-pc .sidebar{
    /*margin-top: 40px;*/
}

/* 举报商家 */
.report-co{text-align:right;margin:-20px 15px 10px 0;}
.report-co a{color:#999;}

/* 查看地图 */
.map{text-align:center; padding-bottom:16px;}
.map .thumb{width:178px;height:178px;border:1px solid #CDCDCD;margin-bottom: 6px;}

/* 服务流程 */
.service-procedure{margin-bottom:0;}
.service-procedure .hd{background:#FAFAFA;border:1px solid #DFDFE1; padding-top:10px;}
.service-procedure .hd .tit{font:bold 16px "Microsoft Yahei";color:#666;padding-left:15px;}
.service-procedure .bd{background:none;   border:1px solid #DFDFE1; border-top: 0;}

#showBigMap{
    width: 695px;
    height: 480px;
}

.sidebar .map{
    position: relative;
}
.view-big-map2{
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0px;
    left: 0;
    background: #000;
    z-index: 999;
    opacity: 0;
    filter:alpha(opacity=0);
}

.ele4phtips{
    position: absolute;
    top:3px;
    left:27px;
    color:graytext;
}

.sidebar .weidian-qrcode{
}
.sidebar .weidian-qrcode-tit{
    color: #666;
    font-size: 14px;
    text-align: center;
}
.sidebar .weidian-qrcode-img img{
    margin: 0 auto 10px auto;
    display: block;
    width: 80%;
}

/*服务项目列表*/
.service-item-list{height:auto;zoom:1;}
.service-item-list li{ border-bottom: 1px solid #E8E6DF;padding: 12px 0px 10px 10px;overflow:auto;zoom:1;_height:82px;_overflow:hidden; }
.service-item-list li:after {clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.service-item-list .serleft-cont{width:640px;float:left;}
.service-item-list .serright-cont{width:80px;float:left;text-align:center;}
.service-item-list .pic-item{width:70px;border:solid 1px #DEDEE0;height:70px;float:left;margin-right:15px;}
.service-item-list .pic-item img{width:70px;height:70px;}
.service-item-list .pic-cont{width:540px;float:left;padding-top:3px;}
.service-item-list .product-name{font-size:13px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.service-item-list .pic-cont p{color:#999999;line-height:180%;width:420px;}
.service-item-list .pic-cont b{font-weight:bold;}
.service-item-list .price-box{width:110px; float: right;white-space: nowrap;}
.service-item-list .pic-price{font:16px/1.5 "微软雅黑";color:#999;margin-right:5px;}
.service-item-list .pic-price em{color:#ff6600;font-weight:bold;}
.service-item-list .pic-price cite{color:#ff6600;font-weight:normal; display: none;}
.service-item-list .ft-color1{color:#ff6600;}
.service-item-list .mar-r10{margin-right:8px;}
.inlinemodel{display:inline-block;*display:inline;*zoom:1;vertical-align:text-bottom;}
.ico-smwx{width:20px;height:18px;background:url(https://p.ssl.qhimg.com/t01b940a75003f7ac42.png) no-repeat;_background:url(https://p.ssl.qhimg.com/t014641e2f8395f7287.png) no-repeat}
.ico-smwx-disable{width:20px;height:18px;background:url(https://p.ssl.qhimg.com/t01143c0ed5a48088fb.png) no-repeat;}
.service-item-list .btn-view{background:url(https://p.ssl.qhimg.com/t0137e47817b890de3f.png) no-repeat 0 -46px;width:78px;height:28px;display:block;margin-top:5px;}
.service-item-list .btn-view:hover{background-position:-78px -46px;}
.service-item-list .btn-view:active{background-position:-156px -46px;}
.service-item-list .btn-view.disabled{background-position:-234px -46px;}
.service-item-list .btn-buy{background:url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat;width:96px;height:31px;display:block; color: #fff; font-size: 14px; line-height: 31px; font-weight: bold;}
.service-item-list .btn-buy:hover{background-position:0 -31px; text-decoration: none;}
.service-item-list .btn-buy:active{background-position:0px -62px;}
.service-item-list .btn-buy.disabled{background-position:-234px 0px;}
.service-item-list .link-desc-more{
    zoom:1;
    margin-left: 1em;
    padding-right: 1em;
    background: url(https://p.ssl.qhimg.com/t01ebc35f5eb4c26a06.png) no-repeat 2.1em -16px;
    white-space: nowrap;
}
.service-item-list .link-desc-mini{
    zoom:1;
    margin-left: 1em;
    padding-right: 1em;
    background: url(https://p.ssl.qhimg.com/t01ebc35f5eb4c26a06.png) no-repeat 2.1em 4px;
    white-space: nowrap;
}

.top-hd-solagn{
    top:-18px;
}

.btn-send2phone{background:url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat;width:96px;height:31px;display:block; color: #fff; font-size: 14px; line-height: 31px; font-weight: bold; border: 0; margin-left: 0;  cursor: pointer; margin-left: 20px;}
.btn-send2phone:hover{background-position:0 -31px; text-decoration: none;}
.btn-send2phone:active{background-position:0px -62px;}

/* 下单保障提醒 */
.co-info .xd-baozhang{
    display: none;
    position: absolute;
    z-index: 30;
    left: 210px;
    top:60px;
    width: 190px;
    height: 75px;
    background: url(https://p.ssl.qhimg.com/t01cb8578bbbf307db5.png) no-repeat center;
}
.co-info .xdbz-close{
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
/*下单抽奖获wifi*/
.co-info .xd-wifi{
    width:180px;
    height:60px;
    background:url(https://p.ssl.qhimg.com/t01b92204d935686c26.png);
    position:absolute;
    z-index: 30;
    left: 0px;
    top:185px;
}

/* 详情页推广 */
.co-info .detail-wifi{
    left:auto;
    top:0;
    right:10px;
}

/*搜索结果提示*/
.service-item-list .search-rs-tip,
.service-item-list .dianpu-rs-tip{
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-top: 10px;
}

.service-item-list .search-rs-tip{
    
    background:#FFF6D9;
    border: 1px solid #F8E5A9;

}

.service-item-list .search-rs-tip .red{
    color: #f00;
}
/*默认提示*/
.service-item-list .dianpu-rs-tip{
    background:#ECFFD1;
    border: 1px solid #CAE0AA;
}

/* 举报 */
.co-info .jubao{}
.co-info .jubao span{
    display: block;
    width: 340px;
    padding: 5px;
    background: #FFFCE8;
    border: solid 1px #F8EDB2;
}
.co-info .jubao span a{
    text-decoration: underline;
}
#JuBaoPanel .hd,
#JuBaoPanel2 .hd{
    display: none;
}
#JuBaoPanel .ft,
#JuBaoPanel2 .ft{
    display: none;
}
#JuBaoPanel .panel-content{width: 577px;}
#JuBaoPanel2 .panel-content{width: 268px;}
#JuBaoPanel .close,
#JuBaoPanel2 .close{right: 18px;top: 20px;}
.jubao-panel{
    width: 537px;
    height: 342px;
    padding: 45px 20px 5px;
    background: url(https://p.ssl.qhimg.com/t019b6917996cba0e0e.png) no-repeat;
}
.jubao-panel table{
    margin: 10px 0 0 5px;
}
.jubao-panel td{
    padding: 5px 0 10px;
    color: #333333;
}
.jubao-panel .unactived{
    color: #cdcdcd;
}
.jubao-panel .tit{
    vertical-align: text-top;
    text-align: right;
    padding: 10px 5px 5px;
    color: #909090;
}
.jubao-panel .tit span{vertical-align: inherit;}
.jubao-panel .tit .color1{color: #FF0055;}
.jubao-panel ul li{
    line-height: 28px;
}
.jubao-panel ul li label{margin-right: 15px;}
.jubao-panel ul li [type="radio"]{
    margin: 0 3px 0 0;
}
.jubao-panel textarea{
    width: 386px;
    height: 101px;
    padding: 5px 8px;
    border: none;
    background: url(https://p.ssl.qhimg.com/t0191323ac91275f0fd.png) no-repeat;
}
.jubao-panel .link_phone{
    width: 186px;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    margin: 0 5px 0 0;
    border: none;
    background: url(https://p.ssl.qhimg.com/t01546853d9fb7eac21.png) no-repeat;
}
.jubao-panel .link_phone_tip{
    color: #909090;
}
.jubao-panel .sub_jubao{
    width: 78px;
    height: 28px;
    background: url(https://p.ssl.qhimg.com/t0194b2668bf7247fc2.png) no-repeat;
}
.jubao-panel2{
    width: 228px;
    height: 62px;
    padding: 90px 0 0 40px;
    background: url(https://p.ssl.qhimg.com/t019b29cf97d317074c.png) no-repeat;
}
.jubao-panel2 .tips{color: #474747;}


/*im聊天提示*/
.talk-on-im{
    display: none;
    background: url(https://p.ssl.qhimg.com/t012df9194f332a44d4.png) no-repeat 0 0;
    width: 200px;
    height: 132px;
    position: fixed;    
    z-index: 9999;

    right: 2px;
    bottom: 30px;

    _position: absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight -32 + "px");

}

.talk-on-im .ti-content{
    margin-top: 20px;
    padding: 15px;
}
.talk-on-im .ti-content b{
    color: #239bf8;
}

.talk-on-im .ti-close{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.talk-on-im .ti-talk{
    position: absolute;
    width: 70px;
    height: 30px;
    bottom:16px;
    right: 12px;
    cursor: pointer;

    border: 0;
    background: transparent;
}

.right-subscribe-service{display: none}

/*.tab-2{
    height: auto;
}*/

.tab-2 li{
    white-space: nowrap;
    word-break: keep-all;
    margin: 0 5px;
}

/*页面内嵌到客户端中的效果*/
.page-client .client-body{
    overflow: hidden;
    height: auto;
}
.page-client #doc-topbar,
.page-client #doc-menubar,
.page-client #doc-footer,
.page-client .doc-bd .col-2,
.page-client .doc-bd .crumb,
.page-client .qim-go-talk,
.page-client .co-info .price,
.page-client .co-info .cert,
.page-client .co-info .agreement a,
.page-client .md .hd .tit,
.page-client .md .hd .search{
    display: none;
}
.page-client .md .hd{
    height: 0;
    overflow: hidden;
    border: 0;
    border-top: 1px solid #E8E8E8;
}
.page-client .u-comments .hd{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #DFDFE1;
    background: #F7F7F7;
    font-size: 14px;
    font-weight: bold;
    padding-left: 16px;
    color: #444444;
    border-top: 0;
}
.page-client .u-comments .hd .tit{
    display: block;
}
.page-client .tab-2{
    background: #fff;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    position: relative;
    padding-right: 40px;
}
.page-client .co-info{
    margin-bottom: 16px;
}

.page-client .co-info .agreement .bao{
    position: absolute;
    right: 10px;
    bottom: 40px;
    background: url(https://p.ssl.qhimg.com/t019e8ce1ec24a22c0e.png) no-repeat 0 3px;
    padding: 5px 0 5px 22px;
    color: #068521;
}
.page-client .co-info p{
    padding: 5px 0 4px 0;
}
.page-client .co-info .agreement{
    padding: 0;
}
.page-client .co-info .xd-baozhang{
    top:0;
    padding: 0;
}
.page-client .doc-bd{
    width: 720px;
    padding-bottom: 0; 
}
.page-client .doc-bd .grid-2c1{
    width: 710px;
    padding-left: 10px;
    padding-top: 0;
    overflow-y: scroll;
    height: 407px;
    position: relative;
}

.page-client .doc-bd .hasarea{
    height: 380px;
}

.page-client .doc-bd{   
    
}

.page-client .co-info .pic,
.page-client .co-info .pic img{
    width: 126px;
    height: 126px;
}


/*商家页隐藏搜索*/
.page-client .dianpu-list-top{
    display: none;
}

.page-client .c-shop-info{
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ccc;
}
.page-client .c-shop-info .pic{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #BCBCBC;
}

.page-client .c-shop-info .cont{
    float: right;
    width: 610px;
}

.page-client .c-shop-info .cont-top{
    
}

.page-client .c-shop-info p,
.page-client .c-shop-info .rating-box{
    margin: 10px 0;
    color: #666666;
}

.page-client .c-shop-info .cont-left{
    width: 380px;
    float: left;
    
}

.page-client .c-shop-info .cont-right{
    width: 200px;
    float: right;
}

.page-client .c-shop-info h3{
    font:bold 14px "Microsoft Yahei";
    width: 360px;
    float: left;
    position: relative;
    z-index: 10;
}

.page-client .c-shop-info .func{
    width: 220px;
    float: right;
    text-align: right;
}
.page-client .c-shop-info .func-item{
    margin-right: 10px;
    white-space: nowrap;
    word-break: keep-all;
}
.page-client .c-shop-info .func a{
    color: #666666;
}
.page-client .c-shop-info .func a:hover{
    color: #FF0000;
}

.page-client .c-shop-info .rating-unit{
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: middle;
}

.page-client .c-shop-info .rating,
.page-client .c-shop-info .grade{
    float: left;
    color: #FF9000;
}

.rating, 
.rating span{
    width: 80px;
    height: 16px;
    position: relative;
    background: url(https://p.ssl.qhimg.com/t010813d9ce48a42705.png) no-repeat -110px -20px;
    float: left;
    margin-right: 5px;
}
.rating span{
    background-position: -110px -40px;
}

.rating{
    margin-top: 1px;
}

.page-client .c-shop-info .blue-n{
    color: #2E74D3;
    cursor: pointer;
}

.icon-tel,
.icon-jubao,
.icon-phone,
.icon-share{
    background: url(https://p.ssl.qhimg.com/t010813d9ce48a42705.png) no-repeat -200px -167px;
    width: 16px;
    height: 16px;
}

.icon-jubao{
    background-position: -232px -168px;    
}

.icon-phone{
    background-position: -258px -168px;    
}
.icon-share{
    background-position: -285px -168px;    
}

.page-client .c-shop-info .rz-360{
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.page-client .c-shop-info .cert{
    display: none;
    position: absolute;
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    left: -10px;
    top: -3px;    
    width: 410px;
    height: 74px;
    /*padding-left: 10px;*/
    background: url(https://p.ssl.qhimg.com/t012ef2b2e43bc5edaf.png) no-repeat 0 0;
    z-index: 999;   
    /*padding-top: 4px; */
    /**padding-top: 7px; */
}

.page-client .c-shop-info .cert-top{
    display: block;
    height: 26px;
    line-height: 26px;
    *height: 23px; 
    width: 66px;
    padding-left: 10px;
    padding-top: 4px; 
    *padding-top: 7px; 
}

.page-client .c-shop-info .cert-list{
    display: block;
    height: 16px;
    line-height: 16px;
    padding: 12px 0 12px 10px;
}

.page-client .shop-section .baozhang-w{
    margin: 4px;
}

/*.page-client .c-shop-info .show-cert{
    top:-4px;
}
.page-client .c-shop-info .show-cert .cert{
    display: block;
}
*/
.more-fenlei{
    position: absolute;
    right: 0;
    top:0;
    outline: none;
    display: block;
    line-height: 1;
    display: none;
}

.more-fenlei .icon{
    margin-top: 10px;
    background: url("https://p.ssl.qhimg.com/t010813d9ce48a42705.png") no-repeat scroll -92px -64px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.page-client .service-item-list li{
    padding-left: 0;
}

.page-client .service-item-list .serleft-cont{
    width: 590px;
}
.page-client .md .bd{
    background: #fafafa;
}

.page-client .product-title{    
    font-size: 14px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight: bold;
}
.page-client .product-title .tag-item{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.page-client .service-item-list .product-name{
    display: inline;
}
.page-client .service-item-list .pic-cont{
    width: 480px;
}
.page-client .service-item-list .pic-cont p{
    width: 360px;
}
.page-client .serleft-cont .tag-item{
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
/**** 用户评论 */
#userComment .figure-h{
    padding: 8px 0;
}
#userComment .figure-h .pic{
    height: 85px;
    width: 110px;
    margin: 6px 0 0 0;
    border: none;
    text-align: center;
}
#userComment .figure-h .pic div{
    margin: 0 0 7px 0;
}
#userComment .figure-h .pic a{
    color: #999;
}
#userComment .figure-h .pic a:hover{
    color: #2E74D3;
}
#userComment .hd-unit .rating{
    margin-left: 0;
}
#userComment .hd-unit .no{
    float: right;
}
#userComment .figure-h .cont{margin-right: 5px;}
#userComment .figure-h .comment-content{font-size: 14px; margin-bottom:7px;}
#userComment .figure-h .comment-baseinfo{color:#999;}
#userComment .figure-h .comment-baseinfo img{width: 30px;height: 30px;}
#userComment .figure-h .comment-baseinfo a{color: #999;margin-right: 5px;}
#userComment .figure-h .comment-baseinfo a:hover{color: #2E74D3;}
#userComment .figure-h .comment-baseinfo span{margin-right: 5px;}
#userComment .figure-h .comment-content .comment-content-more{
    zoom:1;
    margin-left: 1em;
    padding-right: 1em;
    background: url(https://p.ssl.qhimg.com/t01ebc35f5eb4c26a06.png) no-repeat 2.1em -16px;
    white-space: nowrap;
}

#userComment .sub-cmt{
    margin-left: 110px;
    margin-right: 20px;
}
#userComment .sub-cmt .top-arrow{
    height: 7px;
    line-height: 7px;
    font-size: 0;
    background: url(https://p.ssl.qhimg.com/t0133e02263d9dc5123.jpg) no-repeat 40px 0;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
}

#userComment .sub-cmt .sub-cmt-content{
    padding: 10px;
    border: 1px solid #EBEBEB;
    color: #666666;
}

#userComment .cmt-reply,
#userComment .subcmt-reply{
    background: #FAFAFA;
    color: #B66318;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}
#userComment .cmt-time{
    font-weight: bold;
}

/*右侧不显示app二维码*/
.right-phoneapp-tip{
    display: none;
}


/******在线技师********/
.online-jishi{
    display: none;
}

.online-jishi h3{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
}

.online-jishi table{
    width: 100%;
}

.online-jishi td{
    width: 33%;
}

.online-jishi .js-tx{
    width: 74px;
    padding: 10px 10px 10px 0;
    float: left;
}

.online-jishi .js-tx img{
    border: 1px solid #DBDBDC;
    padding: 1px;
    width: 70px;
}

.online-jishi .js-info{
    float: left;
    width: 138px;
    padding: 4px 0;
    color: #788185;
    line-height: 1.8;
}

.online-jishi .js-name{
    font-size: 13px;
    font-weight: bold;
    color: #666;
    display: block;
    font-family: "微软雅黑";
}
.online-jishi .js-name:hover{
    text-decoration: none;
    color: #000;
}

.online-jishi .js-online{
    background: #6EC40F;
    color: #fff;    
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

.online-jishi .js-services{
    background: #ECECEC;
    color: #666666;    
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
}













/* ====================================鲁大师内嵌页面调整======================================= */
/* 页面尺寸800x500 */
.C-LDS .doc-bd{
    width: 800px;
}

.C-LDS .doc-bd .grid-2c1{
    width: 790px;
    height: 337px;
}

.C-LDS .doc-bd .hasarea{
    height: 310px;
}

.C-LDS .grid-2c1 .col-1{
    width: 770px;
}

.C-LDS .service-item-list .serright-cont{
    width: 170px;
}
