
/**import from `/resource/css/page/front.comservice.css` **/
body{background:#F6F7F5;}
.service-main{}
.doc-hd{background:#fff;}
.service-main a:hover{color:#f00;}
.service-main .yh{font-family:"微软雅黑";}
.service-main .f14{font-size:14px}
.service-main .f16{font-size:16px}
.service-main .f27{font-size:27px}
.service-main .f31{font-size:31px}
.service-main .c333{color:#333333;}
.service-main .c666{color:#666666;}
.service-main .c999{color:#999;}
.service-main .icon-info-green{width:16px;height:16px;background:url(https://p.ssl.qhimg.com/t0180b461b0ff6b5640.png) no-repeat center;}
.service-main .green{color:#337d39;}
.service-main .b{font-weight:bold;}
.service-main .pl-10{padding-left:10px;}
.service-main .bread{height:30px;line-height:30px;color:#333333;padding-bottom:6px;}
.service-main .com-service-pic{height:170px;background:url(https://p.ssl.qhimg.com/t0186178a16f99ba8f1.jpg) no-repeat center;}
.service-main .area-wrap{margin:10px 0 20px 0;border:1px solid #E8E8E8;padding:10px 20px;}
.service-main .area-wrap .area-left{width:70px;float:left;padding-top:8px;}
.service-main .area-list .item{margin-right:8px;}
.service-main .area-wrap .area-right{width:840px;float:left;}
.service-main .body-left{width:710px;float:left;position:relative;}
.service-main .body-right{width:240px;float:right;}
.service-main .com-h1{font-size:14px;color:#333333;font-weight:bold;line-height:30px;}
.service-main .total-s-times{font-size:12px;font-weight:normal;color:#999999;}
.service-main .total-s-num{color:#ff9900;}
.service-main .extra{color:#666666}
.service-main .prices{color:#FFFFFF;background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -490px -210px;width:200px;height:62px;padding-left:13px;position:relative;left:-7px;}
.service-main .prices strong{font:28px/56px "微软雅黑";}
.service-main .prices span{font:12px/56px "微软雅黑";margin-left:10px;}
.service-main .prices del{font-size:14px;}
.service-main .prices .f1{font-size:21px;}
.service-main .prices .f2{font-size:24px;}
.service-main .buy-btn{background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -201px -300px;display:block;width:124px;height:46px;margin:15px auto 10px;text-indent:-9999px;outline:none;}
.service-main .buy-btn:hover{text-decoration:none;background-position:-201px -346px;}
.service-main .buy-btn:active{background-position:-201px -392px;}
.service-main .tuan-info .promise{background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -340px -300px;width:192px;height:59px;margin-left:15px;margin-bottom:20px;margin-top:20px;}
.service-main .tuan-info .left-time{display:none;height:40px;border:1px solid #EFEFEF;border-width:1px 0;margin:0 10px;color:#666666;font:14px/40px "微软雅黑";text-align:center;}
.service-main .tuan-info .buy-num{font:18px/1.2 "微软雅黑";color:#333333;text-align:center;margin-top:10px;}
.service-main .buy-num .num{color:#ff6c00;}
.service-main .tuan-detail{background:#fff;position:relative;border:1px solid #E8E8E8;padding-top:40px;border-width:0 1px;}
.service-main .tuan-nav{position:absolute;top:0;width:708px;height:36px;line-height:36px;font:14px/36px "微软雅黑";color:#333333;border-top:2px solid #DDDDDD;border-bottom:1px solid #DDDDDD;background:#fff;z-index:99999;zoom:1;}
.service-main .tuan-nav li{float:left;width:96px;padding-right:4px;text-align:center;cursor:pointer;border-left:1px solid #FFF;}
.service-main .tuan-nav li.on{background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -250px -450px;position:relative;top:-2px;line-height:40px;height:39px;color:#128422;border-left:1px solid #DDDDDD;}
.service-main .tuan-nav li.first{border-left:1px solid #FFF;}
.service-main .tuan-nav .buy-mini-box{float:left;width:84px;}
.service-main .tuan-nav .buy-mini{background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -360px -450px;display:block;width:84px;height:28px;text-indent:-9999px;position:absolute;right:30px;top:3px;outline:none;}
.service-main .tuan-nav .buy-mini:hover{text-decoration:none;background-position:-444px -450px;}
.service-main .tuan-nav .buy-mini:active{background-position:-528px -450px;}
.service-main .tuan-detail h3{height:36px;background:#F5F5F5 url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -580px -275px;text-indent:-9999px;margin:20px 10px 25px 10px;}
.service-main .tuan-detail h3.tit2{background-position:-580px -320px;}
.service-main .tuan-detail h3.tit3{background-position:-580px -370px;}
.service-main .tuan-detail h3.tit4{background-position:-580px -410px;}
.service-main .tuan-detail .cnt{padding:0 20px;line-height:1.8;}
.service-main .promise-intro{border:1px solid #ECECEC;background:#fff;padding:10px;margin-bottom:10px;}
.service-main .promise-intro dl{margin-bottom:10px;}
.service-main .promise-intro dt{width:38px;float:left;}
.service-main .promise-intro dd{width:170px;float:right;}
.service-main .promise-intro h3{font-size:14px;color:#128422;font-weight:bold;line-height:1.6;}
.service-main .promise-intro p{color:#666666;}
.service-main .icon-s-bz,.service-main .icon-s-rz,.service-main .icon-s-sh{width:35px;height:40px;background:url(https://p.ssl.qhimg.com/t0154e108c3ac20384b.jpg) no-repeat 0 0;}
.service-main .icon-s-rz{background-position:0 -66px;}
.service-main .icon-s-sh{background-position:0 -142px;width:80px;}
.service-main .pr-cnt1,.service-main .pr-cnt2{width:206px;height:40px;background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -483px 0;margin:0 auto;padding:20px 10px 10px 10px;color:#666666;}
.service-main .pr-cnt2{background-position:-483px -110px;}
.service-main .huodong-list .qinghui,.service-main .huodong-list .luyouqi{display:block;width:240px;height:132px;background:url(https://p.ssl.qhimg.com/t01350bde0f189252a4.jpg) no-repeat 0 -328px;margin-top:10px;text-indent:-9999px;outline:none;}
.service-main .huodong-list .luyouqi{background-position:0 -468px;}
.service-main .tuan-detail .list1 li{padding-left:18px;background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -696px -450px;}
.service-main .tuan-detail .ser-pic{width:686px;height:220px;background:url(https://p.ssl.qhimg.com/t01350bde0f189252a4.jpg) no-repeat 0 0;margin-left:-10px;margin-top:14px;}
.service-main .tuan-detail .yellow-box{background:#FFF2D3;border:1px solid #E2D9C5;padding:10px;margin:10px;border-radius:2px;}
.service-main .tuan-detail .yellow-box li{padding-left:20px;background:url(https://p.ssl.qhimg.com/t01037ca425456a1c91.png) no-repeat -696px -474px;}
.service-main .tuan-detail .kf-tel{line-height:2;padding:0px 20px 20px 20px;}
.service-main .online-kefu{background:url(https://p.ssl.qhimg.com/t01d7f5dbe4d93c0afe.png) no-repeat 0 -510px;height:23px;line-height:23px;width:74px;display:inline-block;_zoom:1;text-indent:-9999px;vertical-align:middle;outline:none;}
.service-main .buttom-buy{background:url(https://p.ssl.qhimg.com/t01350bde0f189252a4.jpg) no-repeat 0 -230px;width:710px;height:91px;margin-bottom:440px;}
.service-main .buttom-buy table{width:100%;}
.service-main .buttom-buy td{height:90px;text-align:center;vertical-align:middle;line-height:1.8;}
.service-main .rednum{color:#ff6e03;font-size:36px;}
.service-main .dp-list table{table-layout:fixed;}
.service-main .dp-list th{font-weight:bold;color:#95989c;background:#EFF5FC;height:28px;line-height:28px;border-bottom:3px solid #CBD6E4;border-right:2px solid #FFFFFF;padding:0 10px;}
.service-main .dp-list td{color:#999999;border-bottom:1px solid #CBD6E4;height:34px;vertical-align:middle;padding:0 10px;}
.service-main .dp-list-box{/*max-height: 520px;
	_height:520px;
	overflow-y: auto;
	overflow-x: hidden;*/}
.service-main .icon-kxunion{background:url(https://p.ssl.qhimg.com/t01883bcbcb794fdb5c.png) no-repeat 0 0;width:33px;height:18px;margin-left:4px;}
.service-main .nowrap{white-space:nowrap;}
.service-main .wx-liucheng{background:url(https://p.ssl.qhimg.com/t01de302d74995e4d67.jpg) no-repeat 0 0;width:707px;height:90px;margin:13px 0;}
.service-main .title1{height:40px;line-height:40px;padding:0 10px;border:1px solid #E8E8E8;background:#F5F5F5;color:#010101;font-size:14px;font-family:"微软雅黑";border-bottom:0;}
.service-main .com-res-list{}
.service-main .title2{height:30px;line-height:30px;font-family:"微软雅黑";color:#010101;font-size:14px;border-bottom:1px solid #E8E8E8;padding-left:10px;}
.service-main .fangan-rec{background:#fff;border:1px solid #E8E8E8;border-top:0;}
.service-main .go-shangjia{display:block;margin:20px auto;width:123px;height:45px;line-height:45px;background:url(https://p.ssl.qhimg.com/t019f7593594bbc8387.png) no-repeat 0 0;text-indent:-9999px;}
.service-main .rel-case{margin-bottom:16px;padding:10px 10px 10px 30px;background:#fff;border:1px solid #E8E8E8;border-top:0;}
.service-main .rel-case li{list-style:disc;height:30px;line-height:30px;white-space:nowrap;word-break:keep-all;color:#666666;}
.service-main .rel-case li a{color:#666666;}
.service-main .dp-list-box{border:1px solid #E8E8E8;border-top:0;margin-bottom:16px;padding:10px;}
.service-main .dp-list{}
.service-main .dp-list .dp-item{padding:10px 0;border-bottom:1px solid #eaeaea;}
.service-main .dp-item .dp-pic{width:70px;height:70px;border:1px solid #DFDFE1;float:left;}
.service-main .dp-item h4{font-size:14px;width:350px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:20px;margin-bottom:4px;margin-top:2px;}
.service-main .dp-item h4 a{display:inline-block;vertical-align:middle;_zoom:1;font-size:14px;max-width:300px;_width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.service-main .dp-item .info{line-height:1.8;}
.service-main .dp-item .info-p-name{color:#333;}
.service-main .dp-item .dp-info-box{margin-left:80px;position:relative;}
.service-main .dp-item .dp-info{width:350px;float:left;}
.service-main .dp-item .dp-info .info{width:350px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:1.8;margin-bottom:2px;}
.service-main .dp-item .dp-info2{width:120px;float:left;padding-top:28px;margin-left:20px;}
.service-main .dp-item .dp-info3{width:96px;float:right;padding-top:22px;padding-right:10px;}
.service-main .go-yuyue-buy{background:url(https://p.ssl.qhimg.com/t01fd30fb25c0c2dbc1.png) no-repeat;width:96px;height:31px;display:block;color:#fff;font-size:14px;line-height:31px;font-weight:bold;text-align:center;}
.service-main .go-yuyue-buy:hover{background-position:0 -31px;text-decoration:none;color:#fff;}
.service-main .go-yuyue-buy:active{background-position:0px -62px;}
.service-main .overtxt{white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}

/**import from `/resource/css/lib/comservice_yuyue.css` **/
.ui-comservice-yuyue{padding:0 30px;}
.ui-comservice-yuyue .icon-xq,.ui-comservice-yuyue .icon-poi,.ui-comservice-yuyue .icon-tel{background:url(https://p.ssl.qhimg.com/t01c14e5048e806c065.png) no-repeat 0 0;width:16px;height:16px;}
.ui-comservice-yuyue .icon-xq{background-position:2px -70px;}
.ui-comservice-yuyue .icon-poi{background-position:-14px -70px;}
.ui-comservice-yuyue .icon-tel{background-position:-29px -70px;}
.ui-comservice-yuyue .cnt-box{background:#fff;}
.ui-comservice-yuyue .require,.ui-comservice-yuyue .addr,.ui-comservice-yuyue .tel{border:1px solid #DEDEDE;padding:0 10px;line-height:30px;height:30px;width:240px;}
.ui-comservice-yuyue .require{width:516px;height:56px;line-height:24px;}
.ui-comservice-yuyue dl{margin:10px 0;}
.ui-comservice-yuyue .relative{display:inline;position:relative;}
.ui-comservice-yuyue .bottom-submit{text-align:center;margin-top:30px;}
.ui-comservice-yuyue .bottom-submit .orgen{color:#ff5500;font-weight:bold;line-height:2;margin-top:10px;}
.ui-comservice-yuyue .ele4phtips{position:absolute;top:3px;left:10px;color:#aaa;line-height:30px;}
.ui-comservice-yuyue h2{font:34px/70px "微软雅黑";text-align:center;}
.ui-comservice-yuyue h3{font:12px/30px "宋体";font-weight:bold;}
.ui-comservice-yuyue h3 .green{font-weight:normal;color:#27a827;}
.ui-comservice-yuyue .process{background:url(https://p.ssl.qhimg.com/t01c14e5048e806c065.png) no-repeat 0 0;width:537px;height:30px;}
.ui-comservice-yuyue .yuyue-step-1 .process{background-position:0 0;}
.ui-comservice-yuyue .yuyue-step-2 .process{background-position:0 -30px;}
.ui-comservice-yuyue .btn-submit{background:url(https://p.ssl.qhimg.com/t01c14e5048e806c065.png) no-repeat -156px -60px;width:127px;height:39px;text-indent:-9999px;border:0;cursor:pointer;display:block;margin:0 auto;}
.ui-comservice-yuyue .btn-submit:hover{background-position:-283px -60px;}
.ui-comservice-yuyue .btn-submit:active{background-position:-410px -60px;}
/*预约单成功*/.ui-comservice-yuyue .order-done{padding:30px 0 20px 90px;}
.ui-comservice-yuyue .user-certify{padding-left:90px;}
.ui-comservice-yuyue .icon-ok{background:url(https://p.ssl.qhimg.com/t01c14e5048e806c065.png) no-repeat -110px -60px;width:40px;height:40px;float:left;margin-right:10px;}
.ui-comservice-yuyue .ok-tip{font:16px/24px "微软雅黑";color:#337d39;}
.ui-comservice-yuyue .ok-tip2{font:12px/2 "宋体";color:#ff5500;}
.ui-comservice-yuyue .user-cer-tab{width:360px;font-size:14px;height:40px;line-height:40px;border-bottom:2px solid #CCCCCC;}
.ui-comservice-yuyue .user-cer-tab li{width:50%;float:left;text-align:center;cursor:pointer;}
.ui-comservice-yuyue .user-cer-tab .on{border-bottom:2px solid #27A827;position:relative;margin-bottom:-2px;z-index:10;color:#27A827;font-weight:bold;cursor:default;}
/*重新登陆框的样式*/.ui-comservice-yuyue .reg-new-account{display:none;}
.ui-comservice-yuyue .mod-qiuser-pop .tips-msg{left:0;}
.ui-comservice-yuyue .mod-qiuser-pop .reg-wrap dd{height:56px;}
.ui-comservice-yuyue .mod-qiuser-pop .btn-register,.ui-comservice-yuyue .mod-qiuser-pop .btn-register:hover,.ui-comservice-yuyue .mod-qiuser-pop .btn-register:active,.ui-comservice-yuyue .mod-qiuser-pop .btn-register-loading{width:113px;height:38px;background:url(https://p.ssl.qhimg.com/t01c14e5048e806c065.png) no-repeat 0 -100px;}
.ui-comservice-yuyue .mod-qiuser-pop .btn-register:hover{background-position:-113px -100px;}
.ui-comservice-yuyue .mod-qiuser-pop .btn-register:active{background-position:-226px -100px;}
.ui-comservice-yuyue .reg-wrap .submit{width:180px;float:left;}
.ui-comservice-yuyue .reg-wrap .rules{float:left;line-height:56px;}
.ui-comservice-yuyue .reg-wrap .rules label{width:120px;}
.ui-comservice-yuyue .mod-qiuser-pop .reg-tips-wrong{}
.ui-comservice-yuyue .reg-wrap .clk-quc-login{visibility:hidden;}
/*城市选择*/.ui-comservice-yuyue .select-type{height:24px;padding:5px 0;display:inline-block;vertical-align:middle;_display:inline;_zoom:1;float:left;}
.ui-comservice-yuyue .area-sel{background:url(https://p.ssl.qhimg.com/t010d71e7b045cd4e73.png) repeat-x scroll 0 2px;border:1px solid #D8D8D8;color:#666;cursor:pointer;float:left;height:22px;line-height:22px;padding-left:4px;position:relative;z-index:101;}
.ui-comservice-yuyue .mr-10{margin-right:4px;}
.ui-comservice-yuyue .icon-arrow{background:url(https://p.ssl.qhimg.com/t010d71e7b045cd4e73.png) no-repeat scroll  5px -30px;height:22px;width:20px;}
.ui-comservice-yuyue .select-pannel{display:none;position:absolute;width:340px;background:#FBFBFB;border:solid 1px #CFCFCF;left:-1px;top:28px;padding:8px 0;z-index:10001;}
.ui-comservice-yuyue .select-pannel h3{font-weight:normal;height:20px;line-height:20px;padding:0 10px;position:relative;}
.ui-comservice-yuyue .select-pannel h3 .close{background:url(https://p.ssl.qhimg.com/t011be77565f0a2f8e8.png) no-repeat 0 -7px;cursor:pointer;display:block;height:20px;line-height:100px;overflow:hidden;position:absolute;right:10px;top:0;width:55px;}
.ui-comservice-yuyue .select-pannel .select-list{background:#FFFFFF;border:solid 1px #E8E8E8;margin:12px 12px 3px;padding:12px 12px 0;}
.ui-comservice-yuyue .select-pannel .select-list a{color:#000000;display:inline-block;height:18px;line-height:18px;margin:0 18px 5px 0;}
