
/**import from `/resource/css/page/shiyong/common.css` **/
.topbar .in,.doc-hd .in,.doc-bd,.container24,.doc-ft .footer-nav{width:1200px;}
.pay-countdown{display:block;text-align:center;font-size:0;padding:5px 0;}
.pay-countdown span{font-size:16px;color:#ff0011;}
.pay-countdown .d-num,.pay-countdown .d-txt,.pay-countdown .h-num,.pay-countdown .h-txt{display:none;}
.pay-countdown .desc-txt-before{padding-right:4px;}
.pay-countdown .desc-txt-behind{padding-left:4px;}
/* 箭头 */.arrow-up,.arrow-down,.arrow-left,.arrow-right,.arrow-inner{position:relative;display:inline-block;*display:inline;*zoom:1;width:0;height:0;border:10px solid transparent;vertical-align:middle;}
.arrow-inner{position:absolute;}
.arrow-up{border-bottom-color:#ddd;}
.arrow-down{border-top-color:#ddd;}
.arrow-right{border-left-color:#ddd;}
.arrow-left{border-right-color:#ddd;}
.arrow-up .arrow-inner{top:-8px;left:-10px;border-bottom-color:#fff;}
.arrow-down .arrow-inner{top:-12px;left:-10px;border-top-color:#fff;}
.arrow-right .arrow-inner{top:-10px;left:-12px;border-left-color:#fff;}
.arrow-left .arrow-inner{top:-10px;left:-8px;border-right-color:#fff;}
/* END箭头 *//*试用通用css*/.page-shiyong{background:#fff;font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
.page-shiyong .main{}
.page-shiyong .inner-1200{width:1200px;margin:0 auto;}
.page-shiyong .inner-1000{width:1000px;margin:0 auto;}
.page-shiyong .left-880{width:880px;float:left;}
.page-shiyong .left-1200{width:1200px;float:left;}
.page-shiyong .right-300{width:300px;float:right;}
.page-shiyong .c1{color:#FC6621;}
.page-shiyong .c2{color:#FF2626;}
.page-shiyong .tcenter{text-align:center;}
.page-shiyong .inpt{padding:4px;font-size:12px;line-height:normal;border:1px solid #DADADA;border-radius:2px;color:#333;}
.page-shiyong .w70{width:70px;}
.page-shiyong .w200{width:200px;}
.page-shiyong .w280{width:280px;}
.page-shiyong .mr8{margin-right:8px;}
.page-shiyong .mr12{margin-right:12px;}
.page-shiyong .mb10{margin-bottom:10px;}
.page-shiyong .mb12{margin-bottom:12px;}
.page-shiyong .mt20{margin-top:20px;}
.page-shiyong .mt50{margin-top:50px;}
.page-shiyong .lh32{line-height:32px;}
.page-shiyong .errorblink{border:1px solid #FF7A0E!important;}
.page-shiyong .block{display:block;}
.page-shiyong .inlineblock{display:inline-block;*display:inline;*zoom:1;}
.page-shiyong .fr{float:right;}
.page-shiyong .relative{position:relative;}
/*row*/.page-shiyong .row,.page-shiyong .col-left-fixed,.page-shiyong .col-left,.page-shiyong .col-right,.page-shiyong .col-right-fixed,.page-shiyong .col-2-1{display:block;}
.page-shiyong .row:after{display:block;clear:both;visibility:hidden;height:0;content:'\20';}
.page-shiyong .row{zoom:1;clear:both;}
.page-shiyong .col-left-fixed,.page-shiyong .col-2-1{float:left;}
.page-shiyong .col-2-1{width:50%;}
.page-shiyong .col-right-fixed{float:right;}
/*END row*/.page-shiyong .btn-submit,.page-shiyong .btn-yellow,.page-shiyong .btn-disabled{width:196px;height:42px;line-height:42px;font-size:20px;color:#fff;background:#FC6621;border:0;text-align:center;cursor:pointer;text-decoration:none;}
.page-shiyong .btn-disabled{color:#fff;background:#ddd;}
.page-shiyong .btn-submit:hover,.page-shiyong .btn-yellow:hover,.page-shiyong .btn-disabled:hover{text-decoration:none;}
/* 翻页 */.page-shiyong .pagination{font-size:13px;margin-bottom:20px;}
.page-shiyong .pagination a{border:1px solid #DDD;background:#fff;color:#666;border-radius:0;padding:8px 14px;}
.page-shiyong .pagination a:hover{background:#FF6600;color:#fff;}
.page-shiyong .pagination span{background:#FF6600;color:#fff;padding:9px 15px;}
.page-shiyong .topbar{height:34px;line-height:34px;background:#F8F8F8;border-bottom:1px solid #d1d1d1;}
.page-shiyong .topbar .u-info .last .item{padding-right:0;}
/* 头部 */.page-shiyong .p-header{/*margin-bottom: 8px;*/background:#fff;/*border-bottom: 2px solid #185;*/height:70px;}
.page-shiyong .p-header-left{float:left;}
.page-shiyong .p-header-middle{width:480px;float:left;}
.page-shiyong .p-header-right{position:relative;float:right;}
.page-shiyong .p-header-left .logo{display:block;width:224px;height:70px;background:url(https://p.ssl.qhimg.com/t0123f6ca3c6302e432.png) no-repeat center;}
.page-shiyong .p-header-left .col-right{margin:0 40px 0 215px;width:342px;}
.page-shiyong .p-header-right .user-center-menu{position:absolute;top:18px;right:10px;z-index:9999;width:100px;height:34px;line-height:34px;text-align:center;border:1px solid #DFDFDF;overflow:hidden;background:#fff url(https://p.ssl.qhimg.com/t011fa5b265900493e2.png) no-repeat 10px 1px;}
.page-shiyong .p-header-right .user-center-menu a{padding-left:30px;display:block;color:#444;text-decoration:none;}
.page-shiyong .p-header-right .user-center-menu a:hover{text-decoration:none;}

/**import from `/resource/css/page/shiyong/index/index.css` **/
.page-shiyong-index{}
.page-shiyong-index .block{}
.page-shiyong-index .block-inner{margin:0 auto;width:1200px;}
.page-shiyong-index .block0{position:absolute;width:100%;z-index:99;/*background: url("https://p.ssl.qhimg.com/t01d4878944004177c3.png") no-repeat center;*//*background: url("https://p.ssl.qhimg.com/t016a4cfa26ce505bc9.jpg") no-repeat center;*/background:url("https://p.ssl.qhimg.com/t01a581f5103d99dd1f.png") no-repeat center;}
.page-shiyong-index .block0 .block-inner{/*height: 590px;*/height:437px;/*background: url("https://p.ssl.qhimg.com/t01d4878944004177c3.png") no-repeat center;*//*background: url("https://p.ssl.qhimg.com/t016a4cfa26ce505bc9.jpg") no-repeat center;*/background:url("https://p.ssl.qhimg.com/t01a581f5103d99dd1f.png") no-repeat center;position:relative;}
.page-shiyong-index .block1,.page-shiyong-index .block1 .block-inner{height:430px;position:relative;}
.page-shiyong-index .liji-qiangzu{/*position:absolute;*//*top: 310px;*//*width: 178px;*//*height: 42px;*//*line-height: 42px;*//*border-radius: 9999px;*//*text-align: center;*//*font-size: 16px;*/position:absolute;top:310px;width:134px;height:40px;line-height:40px;border-radius:4px;text-align:center;font-size:16px;}
.page-shiyong-index .liji-qiangzu:hover{text-decoration:none;}
.page-shiyong-index .liji-qiangzu.liji-qiangzu-disabled{background:#e3e3e3;color:#fff;}
/*.page-shiyong-index .liji-qiangzu-6s{*//*left: 62px;*//*left: 907px;*//*top: 347px;*//*}*//*.page-shiyong-index .liji-qiangzu-6sp{*//*right: 156px;*//*left: 907px;*//*top: 197px;*//*}*/.page-shiyong-index .liji-qiangzu-6{left:907px;top:347px;}
.page-shiyong-index .liji-qiangzu-6p{left:907px;top:197px;}
.page-shiyong-index .liji-qiangzu-7{left:122px;top:301px;}
.page-shiyong-index .block2,.page-shiyong-index .block2 .block-inner{height:160px;background:url("https://p.ssl.qhimg.com/t01689f34cf3fc55642.png") no-repeat center 5px;/*height: 160px;*//*background: url("https://p.ssl.qhimg.com/t01942c81cb6088c64e.png") no-repeat center 5px;*/}
.page-shiyong-index .block3,.page-shiyong-index .block3 .block-inner{height:171px;background:url("https://p.ssl.qhimg.com/t0134e931213092d978.jpg") no-repeat center;}
.page-shiyong-index .mobile-experience-qa{margin:0 auto;padding:10px 0 60px 0;width:890px;line-height:1.6;text-align:center;}
.page-shiyong-index .mobile-experience-qa h3{font-size:30px;color:#333;height:80px;line-height:80px;}
.page-shiyong-index .mobile-experience-qa dl{margin:0;text-align:left;font-size:18px;}
.page-shiyong-index .mobile-experience-qa dl dt{margin:0;padding:2px 0 18px 54px;color:#333;background:url("https://p4.ssl.qhmsg.com/t019c5b9481e11dd751.png") no-repeat 0 0;}
.page-shiyong-index .mobile-experience-qa dl dd{margin:0;padding:0px 0 22px 54px;color:#999;background:url("https://p0.ssl.qhmsg.com/t017e60b498891aa274.png") no-repeat 0 0px;}

/**import from `/resource/css/page/shiyong/index/product_info.css` **/
.shiyong-product-nav{padding:14px 0 4px 10px;font-size:0;}
.shiyong-product-nav .item-name{display:inline-block;*display:inline;*zoom:1;font-size:18px;color:#333;vertical-align:middle;}
.shiyong-product-nav .item-split{display:inline-block;*display:inline;*zoom:1;padding:0 0 0 10px;}
.shiyong-product-nav .item-split .arrow-right{vertical-align:middle;border-width:8px;border-left-color:#333;}
.shiyong-product-nav .item-split .arrow-right .arrow-inner{top:-8px;left:-10px;border-width:8px;}
.shiyong-product-nav .btn-go-back-model{margin-left:20px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:12px;}
.shiyong-product-info{/*margin-bottom: 20px;*/background:#fff;}
/* 商品图片 */.shiyong-product-info .product-pics{position:relative;float:left;padding:20px 50px 20px 40px;width:352px;z-index:10;}
.shiyong-product-info .product-infos{float:left;padding:20px 0;width:750px;}
.shiyong-product-info .p-pic-shower{position:relative;/*border: 1px solid #EAEAEA;*/border:1px solid #FFF;width:350px;height:350px;line-height:350px;font-size:0;text-align:center;overflow:hidden;}
.shiyong-product-info .product-pics .label-new{position:absolute;top:1px;left:1px;width:45px;height:44px;background:url(https://p.ssl.qhimg.com/t016437928690bcac90.png) no-repeat 0 0;}
.shiyong-product-info .p-pic-shower img{/*height: 240px;*/width:350px;height:350px;/*-moz-transition:width .5s ease-out, height .5s ease-out;*//*-webkit-transition:width .5s ease-out, height .5s ease-out;*//*-o-transition:width .5s ease-out, height .5s ease-out;*//*-ms-transition:width .5s ease-out, height .5s ease-out;*//*transition:width .5s ease-out, height .5s ease-out;*/}
.shiyong-product-info .p-pic-item{float:left;margin:10px 10px 0 0;padding:3px;width:54px;height:54px;line-height:54px;font-size:0;text-align:center;border:1px solid #EAEAEA;cursor:pointer;overflow:hidden;}
.shiyong-product-info .p-pic-curr{border-color:#fa0;}
.shiyong-product-info .p-pic-last{margin-right:0;}
.shiyong-product-info .p-pic-item img{width:54px;height:54px;cursor:pointer;/*-moz-transition:width .5s ease-out, height .5s ease-out;*//*-webkit-transition:width .5s ease-out, height .5s ease-out;*//*-o-transition:width .5s ease-out, height .5s ease-out;*//*-ms-transition:width .5s ease-out, height .5s ease-out;*//*transition:width .5s ease-out, height .5s ease-out;*/}
/* 商品详细信息 */.shiyong-product-info .product-infos .tit{padding:5px 0;font-size:24px;color:#333333;font-weight:normal;text-align:left;}
.shiyong-product-info .product-infos .desc{color:#666666;}
.shiyong-product-info .prd-choices .prd-c-line{padding:5px 0;}
.shiyong-product-info .prd-choices .prd-c-tit{/*width: 70px;*/width:60px;float:left;line-height:32px;color:#444;}
.shiyong-product-info .prd-choices .prd-c-cnt{/*width: 710px;*/float:left;}
.shiyong-product-info .prd-choices .p-c-item{float:left;height:24px;line-height:24px;padding:0 10px;border:1px solid #ccc;color:#333;margin:3px 10px 3px 0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shiyong-product-info .prd-choices .p-c-curr{border-color:#FF7B10;color:#FF7B10;}
.shiyong-product-info .prd-choices .p-c-disabled{border:1px dashed #e0e0e0;color:#aaa;background:#fff;/*cursor: not-allowed;*/cursor:pointer;}
.shiyong-product-info .prd-choices .p-c-disabled-hover{border:1px dashed #aaa;}
.shiyong-product-info .prd-choices .prd-buy{display:inline-block;_zoom:1;width:186px;height:40px;line-height:40px;background:#FC6621;font-size:18px;color:#fff;text-align:center;text-decoration:none;border-radius:2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shiyong-product-info .prd-choices .prd-buy:hover{background:#f70;}
.shiyong-product-info .prd-choices .prd-buy:active{background:#f60;}
.shiyong-product-info .prd-choices .prd-buy-huanxin{padding:0 30px;width:auto;height:60px;line-height:60px;font-size:24px;}
.shiyong-product-info .prd-choices .prd-buy-huanxin-real{margin-left:10px;padding:0 20px;display:inline-block;*display:inline;*zoom:1;vertical-align:top;height:58px;line-height:58px;/*color: #999;*/color:#666;/*text-decoration: underline;*/text-decoration:none;font-size:16px;border:1px solid #999;}
.shiyong-product-info .prd-choices .prd-buy-huanxin-real:hover{text-decoration:none;color:#f70;border:1px solid #f70;}
.shiyong-product-info .prd-choices .prd-buy-huanxin-real:active{color:#f60;border:1px solid #f60;}
.shiyong-product-info .prd-choices .prd-buy-disabled{display:inline-block;_zoom:1;width:186px;height:40px;line-height:40px;background:#D8D3D0;font-size:18px;color:#fff;text-align:center;text-decoration:none;border-radius:2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shiyong-product-info .prd-choices .prd-buy-disabled:hover{background:#D8D3D0;}
.shiyong-product-info .prd-choices .prd-buy-disabled:active{background:#D8D3D0;}
.shiyong-product-info .prd-choices .treaty-fee{font-size:24px;color:#f50;}
.shiyong-product-info .prd-choices .treaty-fee-per-day{font-size:18px;}
/*租期选择*/.shiyong-product-info .prd-choices .prd-treaty-day .prd-c-cnt{position:relative;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-item{position:relative;padding:0;width:110px;text-align:center;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-item .arrow-down{position:absolute;top:9px;right:2px;border-width:6px;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-item .arrow-down .arrow-inner{left:-6px;top:-8px;border-width:6px;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-item .arrow-up{position:absolute;top:3px;right:2px;border-width:6px;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-item .arrow-up .arrow-inner{left:-6px;top:-4px;border-width:6px;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-curr .arrow-down{border-top-color:#FF7B10;}
.shiyong-product-info .prd-choices .prd-treaty-day .p-c-curr .arrow-up{border-bottom-color:#FF7B10;}
.shiyong-product-info .prd-choices .prd-treaty-day-completely{position:absolute;left:-11px;top:42px;padding:10px 0 10px 10px;width:488px;border:1px solid #ddd;background:#fff;}
.shiyong-product-info .prd-choices .prd-treaty-day-completely .arrow-up{position:absolute;top:-20px;right:55px;}

/**import from `/resource/css/page/shiyong/order.css` **/
/* =================下单页面================== */.page-shiyong-order{}
.page-shiyong-order .p-header{border-bottom:0;}
.page-shiyong-order .step-block{padding:20px 0 0 35px;font-size:14px;}
.page-shiyong-order .step-block .h3-tit{margin:5px 0 15px 0;padding:5px 0 5px 15px;height:28px;line-height:28px;font-size:22px;border:0;border-left:4px solid #185;}
.page-shiyong-order .logo-360-danbao{position:absolute;right:0px;top:16px;}
.page-shiyong-order .step-block .cnt{padding:0 0 0 20px;}
.page-shiyong-order .step-block .product-info-cnt{background:#ecf6f2;padding:32px 25px;}
.page-shiyong-order .step-block .product-info-cnt .col-left-fixed{width:100px;height:100px;border:1px solid #dbdbdb;}
.page-shiyong-order .step-block .p-info-item{margin-left:145px;*margin-left:45px;line-height:1.8;}
.page-shiyong-order .get-mobile-order-secode{padding:0;display:inline-block;*display:inline;*zoom:1;width:108px;height:26px;line-height:26px;color:#fff;background:red;vertical-align:middle;text-align:center;}
.page-shiyong-order .get-mobile-order-secode:hover{background:#ff3434;text-decoration:none;}
.page-shiyong-order .get-mobile-order-secode-disabled,.page-shiyong-order .get-mobile-order-secode-disabled:hover{background:#ccc;}
.page-shiyong-order .vcode-img{width:108px;height:26px;}
.page-shiyong-order .single-line .row{padding-bottom:10px;}
.page-shiyong-order .single-line .row-last{padding-bottom:0;}
.page-shiyong-order .single-line .col-left-fixed{padding-right:5px;width:96px;text-align:right;}
.page-shiyong-order .addrinfo-block{/*padding-bottom : 30px;*//*border-bottom: 1px dashed #DEDEDE;*/}
.page-shiyong-order .service-note{color:#4e4e4e;line-height:2;}
.page-shiyong-order .service-note li{padding-left:20px;text-indent:-20px;}
.page-shiyong-order .step-sub{margin-bottom:50px;}
.page-shiyong-order .step-sub .agreement-row{padding:10px 0 10px 20px;font-size:0;}
.page-shiyong-order .step-sub .agreement-row a{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:12px;color:#333;}
.page-shiyong-order .step-sub .btn-submit{margin-left:20px;display:inline-block;*display:inline;*zoom:1;}
.page-shiyong-order .mobile-experience-agreement-wrap .dialog-inner{padding:30px;}
.page-shiyong-order .mobile-experience-agreement{width:700px;height:420px;overflow-x:hidden;overflow-y:scroll;}
.page-shiyong-order .block-confirm-btn-line{padding:10px 0 0 0;}
.page-shiyong-order .block-confirm-btn-line .btn{display:block;width:auto;}
.page-shiyong-order .block-confirm-btn-line .btn-prd-buy-cancel{margin-right:10px;}
.page-shiyong-order .block-confirm-btn-line .btn-prd-buy-confirm{margin-left:10px;}
/*试用协议*/.mobile-experience-agreement{line-height:1.6;}
.mobile-experience-agreement h3{padding-bottom:10px;font-size:16px;text-align:center;color:#222;}
.mobile-experience-agreement dl{margin:10px 0 0 0;}
.mobile-experience-agreement dl > dt{margin:0 0 4px 0;color:#222;}
.mobile-experience-agreement dl > dd{margin:0 0 10px 10px;color:#555;}
.mobile-experience-agreement ul{}
.mobile-experience-agreement ul > li{margin-bottom:6px;}
.mobile-experience-agreement .ul-sub,.mobile-experience-agreement .ul-sub2{padding-left:16px;}
.mobile-experience-agreement .ul-sub > li{list-style-type:disc;}
.mobile-experience-agreement .ul-sub2 > li{list-style-type:none;}

/**import from `/resource/css/page/shiyong/order_pay/order_pay.css` **/
/* 订单支付页 */.page-order-pay .head-right-cashier,.page-order-pay .cashier-icon,.page-order-pay .ca-price-mod .ca-opt-info i,.page-order-pay .cashier-method li i,.page-order-pay .ca-pay-save .pay-mod-guide,.page-order-pay .period-button .period-icon i,.page-order-pay .ca-pay-description .alipay,.page-order-pay .ca-pay-description .weixin,.page-order-pay .ca-pay-description .hdfk,.page-order-pay .ca-pay-line,.page-order-pay .ca-pay-save .pay-mod-tv,.page-order-pay .pay-period-list i,.page-order-pay .pay-period-list .active b{background:url("https://p.ssl.qhimg.com/t01a1a0d2363fd90215.png") no-repeat;}
.page-order-pay .head-right-cashier{width:225px;height:50px;background-position:0 0;float:right;margin-right:-20px;margin-top:15px;}
.page-order-pay .lp-cashier{padding:0 5px 12px 80px;border:solid 1px #eaeaea;background-color:#fff;overflow:hidden;_zoom:1;}
.page-order-pay .cashier-icon{float:left;width:54px;height:55px;margin:12px 32px 0 0;_display:inline;}
.page-order-pay .lp-cashier .success{background-position:-3px -53px;}
.page-order-pay .lp-cashier .fail{background-position:-64px -593px;}
.page-order-pay .lp-cashier .continue{background-position:0 -593px;}
.page-order-pay .cashier-box{float:left;padding-top:15px;width:1020px;_display:inline;}
.page-order-pay .cashier-hd{width:100%;overflow:hidden;}
.page-order-pay .ca-status-mod{float:left;}
.page-order-pay .ca-status-mod h5{font-size:20px;color:#333;}
.page-order-pay .ca-status-mod p{font-size:14px;color:#666;}
.page-order-pay .ca-status-mod p cite{color:#f50;}
.page-order-pay .ca-price-mod{float:right;}
.page-order-pay .ca-price-mod p{font-size:12px;color:#999;margin-bottom:14px;}
.page-order-pay .ca-price-mod .ca-opt-info{font-size:14px;color:#2e74d3;vertical-align:middle;text-align:right;cursor:pointer;}
.page-order-pay .ca-price-mod .ca-opt-info:hover{color:#f50;}
.page-order-pay .ca-price-mod .ca-opt-info i{display:inline-block;width:12px;height:8px;background-position:-179px -87px;margin-left:6px;}
.page-order-pay .lp-cashier-category{overflow:hidden;}
.page-order-pay .lp-cashier-category h4{font-size:18px;color:#666;padding:26px 0 6px 35px;}
/* 支付方式 */.page-order-pay .cashier-method{border:solid 1px #e5e5e5;background-color:#fff;margin-bottom:10px;overflow:hidden;}
.page-order-pay .cashier-method .cashier-tab{background-color:#f6f6f6;height:46px;overflow:hidden;}
.page-order-pay .cashier-method .cashier-tab li{width:175px;height:45px;line-height:45px;border-right:solid 1px #e5e5e5;border-bottom:solid 1px #e5e5e5;background-color:#f6f6f6;float:left;font-size:16px;color:#666;text-align:center;vertical-align:middle;cursor:pointer;}
.page-order-pay .cashier-method .cashier-tab li:hover{color:#f50;}
.page-order-pay .cashier-method .cashier-tab li.active{background-color:#fff;color:#f50;border-top:solid 2px #ff4600;border-bottom:0;height:44px;line-height:41px;}
.page-order-pay .cashier-method .cashier-tab li i{display:inline-block;width:47px;height:18px;background-position:-123px -81px;margin-left:3px;position:relative;top:2px;_margin-top:12px;}
.page-order-pay .cashier-mod{background:#fff;padding:30px;overflow:hidden;margin-bottom:20px;_zoom:1;}
.page-order-pay .ca-pay-description{width:210px;float:left;margin-left:146px;margin-top:50px;_display:inline;overflow:hidden;}
.page-order-pay .ca-pay-description .ca-pay-icon{float:left;width:50px;height:50px;margin-right:10px;_display:inline;}
.page-order-pay .ca-pay-description .alipay{background-position:0 -112px;}
.page-order-pay .ca-pay-description .weixin{background-position:-56px -112px;}
.page-order-pay .ca-pay-description .hdfk{background-position:-113px -112px;}
.page-order-pay .ca-pay-info{margin-top:-6px;}
.page-order-pay .ca-pay-info strong{font-size:24px;color:#000;}
.page-order-pay .ca-pay-info p{font-size:14px;color:#999;}
.page-order-pay .ca-pay-line{float:left;width:33px;height:191px;background-position:-217px -144px;}
.page-order-pay .ca-pay-save{float:left;width:252px;margin-left:32px;_display:inline;position:relative;}
.page-order-pay .ca-pay-save .pay-mod-tv{width:242px;height:154px;background-position:-20px -430px;margin-top:12px;}
.page-order-pay .ca-pay-save .money-mod{text-align:center;font-size:16px;color:#333;margin-bottom:10px;}
.page-order-pay .ca-pay-save .money-mod b{font-size:26px;color:#f40;margin:0 3px;}
.page-order-pay .ca-pay-save .error{color:#f50;text-align:center;font-size:14px;margin-top:10px;}
.page-order-pay .ca-pay-save .pay-button{display:block;width:235px;height:50px;line-height:50px;background-color:#f40;text-align:center;font-size:20px;color:#fff;cursor:pointer;}
.page-order-pay .ca-pay-save .pay-button:hover{background-color:#e30;}
.page-order-pay .ca-pay-save .pay-button-wx{display:block;margin:0 auto;width:123px;height:28px;line-height:28px;text-align:center;font-size:14px;color:#333;border:solid 1px #eaeaea;cursor:pointer;}
.page-order-pay .pay-mod-scan{text-align:center;}
.page-order-pay .ca-pay-save .pay-button.disabled{background-color:#999;}
.page-order-pay .ca-pay-save .pay-button-wx.disabled{color:#ccc;}
.page-order-pay .ca-pay-save .pay-mod-guide{width:197px;height:170px;background-position:0 -165px;position:absolute;right:-170px;top:-10px;}
.page-order-pay .pay-mod-scan img{width:161px;height:161px;border:solid 1px #e2e2e2;padding:2px;}
.page-order-pay .delivery-txt{font-size:20px;color:#333;margin-bottom:6px;}
.page-order-pay .delivery-txt-other{font-size:14px;color:#999;}
.page-order-pay .delivery-txt-other cite{color:#f50;}
.page-order-pay .ca-pay-delivery{width:480px;}
.page-order-pay .ca-pay-delivery .money-mod{text-align:left;}
.page-order-pay .ca-pay-delivery .money-mod strong{font-size:18px;color:#000;}
.page-order-pay .pay-mod-delivery{padding:60px 0 30px 0;}
.page-order-pay .hbfq-block{padding:0;margin-bottom:10px;}
.page-order-pay .cashier-bd{border-top:solid 1px #ededed;padding:12px 0 4px 0;margin-top:12px;}
.page-order-pay .cashier-bd p{font-size:12px;color:#999;margin:3px 0 4px 0;}
.page-order-pay .pay-period-help.cashier-box .hidden{display:none;}
.page-order-pay .period-pannel{padding:45px 150px 10px 150px;}
.page-order-pay .pay-period-list{padding-left:22px;overflow:hidden;}
.page-order-pay .pay-period-list li{width:244px;height:70px;padding:8px 12px;border:solid 1px #999;margin-right:10px;_display:inline;float:left;position:relative;cursor:pointer;}
.page-order-pay .pay-period-list .active{border:solid 2px #f40;padding:7px 11px;}
.page-order-pay .pay-period-list .active b{width:37px;height:36px;display:block;background-position:-68px -63px;position:absolute;right:0;bottom:0;_bottom:-1px;}
.page-order-pay .pay-period-list i{display:block;width:71px;height:71px;float:left;}
.page-order-pay .pay-period-list .icon-three{background-position:-3px -345px;}
.page-order-pay .pay-period-list .icon-six{background-position:-85px -345px;}
.page-order-pay .pay-period-list .icon-twelve{background-position:-171px -345px;}
.page-order-pay .pay-period-list .period-view{float:left;margin-left:20px;margin-top:2px;_display:inline;}
.page-order-pay .pay-period-list .period-view span{display:block;}
.page-order-pay .pay-period-list .period-view span.price{color:#000;font-size:30px;}
.page-order-pay .pay-period-list .period-view span.commission{color:#b8b8b8;}
.page-order-pay .pay-period-help{width:740px;margin:10px 0 0 170px;}
.page-order-pay .pay-period-help li{color:#999;line-height:24px;font-size:14px;margin-top:4px;}
.page-order-pay .period-button{border-top:solid 1px #eaeaea;padding:10px 0;overflow:hidden;}
.page-order-pay .period-button .period-icon{float:right;margin-right:30px;margin-top:10px;font-size:18px;color:#333;_display:inline;}
.page-order-pay .period-button .period-icon i{display:inline-block;width:33px;height:33px;background-position:-174px -125px;vertical-align:middle;margin-right:12px;}
.page-order-pay .period-pay-block{padding:20px 0 20px 80px;overflow:hidden;_zoom:1;}
.page-order-pay .period-pay-block .btn-btn-money{float:left;width:220px;font-size:14px;_display:inline;}
.page-order-pay .period-pay-block .btn-btn-money p{color:#999;vertical-align:middle;}
.page-order-pay .period-pay-block .btn-btn-money p b{margin-left:6px;display:inline-block;}
.page-order-pay .period-pay-block .period-num{color:#333;}
.page-order-pay .period-pay-block .period-num b{font-size:28px;color:#f40;}
.page-order-pay .period-pay-block .btn-once-pay{float:left;width:235px;height:50px;line-height:50px;margin-left:20px;text-align:center;font-size:20px;color:#fff;background-color:#f40;margin-top:10px;cursor:pointer;_display:inline;}
.page-order-pay .ca-status-mod .desc-txt,.page-order-pay .ca-status-mod .d-num,.page-order-pay .ca-status-mod .d-txt,.page-order-pay .ca-status-mod .h-num,.page-order-pay .ca-status-mod .h-txt,.page-order-pay .ca-status-mod .desc-txt-behind{display:none;}
.page-order-pay .cashier-method .hidden{display:none;}
.page-order-pay .period-pay-block .btn-once-pay:hover{background-color:#e30;}
.page-order-pay .period-pay-block .btn-once-pay.disabled{background-color:#999;}
/*订单支付确认panel*/.common-payment-confirm-panel-wrap{border:0;}
.common-payment-confirm-panel-wrap .dialog-inner{padding:0;}
.common-payment-confirm-panel{width:524px;border:solid 1px #c1c1c1;}
.common-payment-confirm-panel .payment-hd{margin:0 15px;height:72px;line-height:72px;font-size:24px;border-bottom:1px solid #cbcbcb;text-align:center;}
.common-payment-confirm-panel .payment-hd .close{float:right;width:41px;height:41px;margin-top:15px;background:url("https://p.ssl.qhimg.com/t011ccfaa5874f58a59.jpg") no-repeat;cursor:pointer;}
.common-payment-confirm-panel .payment-bd{margin:30px auto 15px auto;width:440px;}
.payment-confirm-btn span{display:inline-block;width:200px;height:47px;line-height:47px;border:solid 1px #eaeaea;text-align:center;color:#666;font-size:16px;margin-left:12px;cursor:pointer;}
.payment-bd p{padding-left:12px;padding-top:14px;font-size:14px;color:#666;}
.payment-bd .error{color:#f50;}
.bg-payment{background-color:#f5f5f5;padding-top:5px;}

/**import from `/resource/css/page/shiyong/order_success.css` **/
/* =================下单成功页面================== */.page-shiyong-order-success{}
.page-shiyong-order-success .order-close-info{margin:0 auto;padding:30px 0 40px 0;width:800px;text-align:center;color:#333;}
.page-shiyong-order-success .order-close-info .p-tit{padding-left:42px;padding-bottom:12px;display:inline-block;*display:inline;*zoom:1;color:#185;font-size:28px;line-height:50px;background:url("https://p.ssl.qhimg.com/t01e4e4bf0126ebfac6.jpg") no-repeat 0 6px;}
.page-shiyong-order-success .order-success-info{margin:0 auto;padding:30px 0 40px 0;width:800px;text-align:center;color:#333;}
.page-shiyong-order-success .order-success-info .p-tit{padding-left:42px;padding-bottom:12px;display:inline-block;*display:inline;*zoom:1;color:#185;font-size:28px;line-height:50px;background:url("https://p.ssl.qhimg.com/t01e4e4bf0126ebfac6.jpg") no-repeat 0 6px;}
.page-shiyong-order-success .order-success-info .p-cnt{font-size:14px;}
.page-shiyong-order-success .order-success-info .p-cnt p{padding-bottom:8px;}
.page-shiyong-order-success .order-success-info .p-cnt .qrcode{height:247px;}
.page-shiyong-order-success .btn-pay-success{padding:6px 20px;background:#64BA12;color:#fff;vertical-align:text-bottom;}
.page-shiyong-order-success .btn-pay-success:hover{background:#64BA12;}
.page-shiyong-order-success .countdown{display:inline-block;*display:inline;*zoom:1;}
.page-shiyong-order-success .countdown span{display:none;}
.page-shiyong-order-success .countdown .m-num,.page-shiyong-order-success .countdown .m-txt,.page-shiyong-order-success .countdown .s-num,.page-shiyong-order-success .countdown .s-txt{display:inline;}
.page-shiyong-order-success .doc-ft{display:none;}

/**import from `/resource/css/page/shiyong/pay_success.css` **/
/* =================支付成功页面================== */.page-shiyong-pay-success{}
.page-shiyong-pay-success .pay-success-info{margin:0 auto;padding:30px 0 40px 0;width:800px;text-align:center;color:#333;}
.page-shiyong-pay-success .pay-success-info .p-tit{padding-left:42px;padding-bottom:12px;display:inline-block;*display:inline;*zoom:1;color:#185;font-size:28px;line-height:50px;background:url("https://p.ssl.qhimg.com/t01e4e4bf0126ebfac6.jpg") no-repeat 0 6px;}
.page-shiyong-pay-success .pay-success-info .p-cnt{margin-left:128px;font-size:14px;text-align:left;}
.page-shiyong-pay-success .pay-success-info .p-cnt p{padding-bottom:8px;}
.page-shiyong-pay-success .qrcode-line{padding:40px 0 50px 0;border-top:1px dashed #ccc;text-align:center;}

/**import from `/resource/css/page/shiyong/rent_phone/index.css` **/
.page-rent-index{background-color:#f5f5f5;}
.page-rent-index .block{}
.page-rent-index .block-inner{margin:0 auto;width:980px;}
.page-rent-index .block0{background:url("https://p3.ssl.qhmsg.com/t01967d818c7cc8f6b1.png") no-repeat center;}
.page-rent-index .block0 .block-inner{height:393px;background:url("https://p3.ssl.qhmsg.com/t01967d818c7cc8f6b1.png") no-repeat center;position:relative;}
.page-rent-index .block1,.page-rent-index .block1 .block-inner{position:relative;margin-top:-90px;background:url("https://p1.ssl.qhmsg.com/t01768a520acee7a68a.png") no-repeat center;}
.page-rent-index .block2,.page-rent-index .block2 .block-inner{position:relative;height:210px;background:url("https://p1.ssl.qhmsg.com/t01768a520acee7a68a.png") no-repeat center;}
.page-rent-index .block3,.page-rent-index .block3 .block-inner{margin-top:25px;}
.page-rent-index .block3 .product-item{cursor:pointer;width:400px;padding:30px;margin-right:30px;margin-bottom:30px;background-color:#fff;float:left;text-align:center;transition:all .3s ease;}
.page-rent-index .block3 .product-item:hover{transform:translate(2px,2px);box-shadow:2px 2px 5px rgba(0,0,0,.2);}
.page-rent-index .block3 .product-item:nth-of-type(2n){margin-right:0;}
.page-rent-index .block3 .product-item .product-img{width:300px;height:300px;margin:0 auto;}
.page-rent-index .block3 .product-item .product-img img{width:100%;height:100%;}
.page-rent-index .block3 .product-item .product-name{font-size:24px;}
.page-rent-index .block3 .product-item .product-price{font-size:16px;color:#ff3300;}
.page-rent-index .block3 .product-item .product-price .num{font-size:30px;}
.page-rent-index .block3 .product-item .btn-zu{width:130px;height:35px;line-height:35px;background-color:#ff3300;margin:10px auto 0px;color:#fff;border-radius:50px;font-size:16px;cursor:pointer;}
.page-rent-index .block3 .product-item .btn-zu.disabled{background-color:#ddd;}
.page-rent-index .mobile-experience-qa{margin:0 auto;padding:10px 0 60px 0;width:890px;line-height:1.6;text-align:center;}
.page-rent-index .mobile-experience-qa h3{font-size:30px;color:#333;height:80px;line-height:80px;}
.page-rent-index .mobile-experience-qa dl{margin:0;text-align:left;font-size:18px;}
.page-rent-index .mobile-experience-qa dl dt{margin:0;padding:2px 0 18px 54px;color:#333;background:url("https://p4.ssl.qhmsg.com/t019c5b9481e11dd751.png") no-repeat 0 0;}
.page-rent-index .mobile-experience-qa dl dd{margin:0;padding:0px 0 22px 54px;color:#999;background:url("https://p0.ssl.qhmsg.com/t017e60b498891aa274.png") no-repeat 0 0px;}
