/*电子保修卡*/
.page-youpin-special-guarantee-card a,
.page-youpin-special-guarantee-card a:hover,
.page-youpin-special-guarantee-card a:active,
.page-youpin-special-guarantee-card a:visited{
    text-decoration: none;
}
.page-youpin-special-guarantee-card .mainbody-inner {
    margin: 0 auto;
    padding-bottom: .6rem;
    min-width: 320px;
    max-width: 720px;
    min-height: 100vh;
    background-color: #fff;
}

.page-youpin-special-guarantee-card .block-tit{
    padding: .08rem .1rem .05rem;
    font-size: .12rem;
}
.page-youpin-special-guarantee-card .block-cont{
    padding: 0 .1rem;
}
.page-youpin-special-guarantee-card .card-item{
    height: 0.8234666666666667rem;
    border-radius: .04rem;
    background-color: #eee;
    position: relative;
}
.page-youpin-special-guarantee-card .card-add{
    display: block;
}
.page-youpin-special-guarantee-card .icon-add{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-0.1664rem,-0.1664rem);
    width: 0.3328rem;
    height: 0.3328rem;
    background: url(https://p2.ssl.qhimg.com/t01763c0814da4d38be.png) no-repeat center;
    background-size: cover;
}
.page-youpin-special-guarantee-card .card-list .card-item{
    margin-bottom: .06rem;
    line-height: 1.4;
    overflow: hidden;
}
.page-youpin-special-guarantee-card .card-list .card-none{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-youpin-special-guarantee-card .card-list .card-under-guarantee,
.page-youpin-special-guarantee-card .card-list .card-expired{
    padding: 0.1rem 0 0 0.2816rem;
}
.page-youpin-special-guarantee-card .card-list .card-under-guarantee{
    background-color: #04dcc0;
    color: #fff;
}
.page-youpin-special-guarantee-card .card-list .card-expired{
    color: #333;
}
.page-youpin-special-guarantee-card .card-list .icon-under-guarantee,
.page-youpin-special-guarantee-card .card-list .icon-expired{
    position: absolute;
    right: .1rem;
    top: -.1rem;
    width: 0.6272rem;
    height: 0.6272rem;
}
.page-youpin-special-guarantee-card .card-list .icon-under-guarantee{
    background: url(https://p2.ssl.qhimg.com/t018d9cd0096bad87bf.png) no-repeat center;
    background-size: cover;
}
.page-youpin-special-guarantee-card .card-list .icon-expired{
    background: url(https://p2.ssl.qhimg.com/t01f62618561a4b093a.png) no-repeat center;
    background-size: cover;
}

/*输入IMEI*/
.page-youpin-special-guarantee-card .swipe-section .swipe-section-close{
    display: none;
}
.page-youpin-special-guarantee-card .swipe-section .swipe-section-inner{
    padding: .1rem;
}
.page-youpin-special-guarantee-card .swipe-section .block-add-card{
    padding-bottom: .2rem;
}
.page-youpin-special-guarantee-card .swipe-section .row-input{
    display: flex;
}
.page-youpin-special-guarantee-card .swipe-section .row-input .icon-back4{
    color: #999;
    font-size: .2rem;
    flex-shrink: 0;
    width: .25rem;
}
.page-youpin-special-guarantee-card .swipe-section .row-input input{
    height: .34rem;
    border-radius: .02rem;
    border: 0;
    padding: 0 .08rem;
}
.page-youpin-special-guarantee-card .swipe-section .row-input .col-text{
    width: 100%;
    border: 1px solid #ededed;
}
.page-youpin-special-guarantee-card .swipe-section .row-input .col-submit{
    flex-shrink: 0;
    width: .55rem;
    background-color: #04dcc0;
    color: #fff;
    margin-left: .04rem;
}
.page-youpin-special-guarantee-card .swipe-section .block-desc{
    height: 4.1216rem;
    background: url("https://p0.ssl.qhimg.com/t013cac13676cd01bc7.jpg") no-repeat center 0;
    background-size: cover;
}


