.page-xxg-xunjie-allowance {
}

.page-xxg-xunjie-allowance .body-tips {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ff9846;
    color: #fff;
    text-align: center;
}

.page-xxg-xunjie-allowance .mainbody-inner {
    padding: .2rem .1rem;
}

/*补贴收款账号表单*/
.page-xxg-xunjie-allowance .block-form-submit {

}

.page-xxg-xunjie-allowance .block-form-submit .title {
    padding: .1rem 0;
    text-align: center;
    font-size: .28rem;
}

.page-xxg-xunjie-allowance .block-form-submit .tips {
    padding: .1rem 0;
    text-align: center;
    color: #f00;
}

.page-xxg-xunjie-allowance .block-form-submit .input {
    margin-bottom: .1rem;
    padding: 1px;
}

.page-xxg-xunjie-allowance .block-form-submit .btn-submit {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    border-radius: .04rem;
}

.page-xxg-xunjie-allowance .block-form-submit .tab-nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-size: 0;
}
.page-xxg-xunjie-allowance .block-form-submit .tab-nav .tab-item {
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}
.page-xxg-xunjie-allowance .block-form-submit .tab-nav .tab-item .item-txt {
    display: inline-block;
    padding: .1rem;
    font-size: .16rem;
    color: #aaa;
    border-bottom: 2px solid transparent;
}
.page-xxg-xunjie-allowance .block-form-submit .tab-nav .tab-item.active .item-txt {
    color: #4a7;
    border-bottom: 2px solid #4a7;
}
.page-xxg-xunjie-allowance .block-form-submit .tab-nav .tab-item i {
    position: absolute;
    top: .04rem;
    right: 0;
    display: inline-block;
    width: .01rem;
    height: .3rem;
    background-color: #ddd;
}

/*补贴收款账号信息*/
.page-xxg-xunjie-allowance .block-allowance-account-info .page-top {
    text-align: center;
    padding: .4rem .2rem;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .page-top .icon-success {
    font-size: .5rem;
    color: #4a7;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .page-top .top-tips {
    font-size: .24rem;
    color: #333;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .page-top .text {
    font-size: .14rem;
    color: #999;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .payment-info {
    margin-top: .2rem;
    font-size: .14rem;
    padding: 0 .3rem;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .payment-info .item {
    display: flex;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .payment-info .item span.title {
    width: 1rem;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .row-button {
    padding: .2rem 0;
}

.page-xxg-xunjie-allowance .block-allowance-account-info .btn-yellow {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    border-radius: .04rem;
}

