.page-hd-pintuan-submit,
.page-hd-pintuan-submit a {
    color: #666;
    text-decoration: none;
}

.page-hd-pintuan-submit .dialog-wrap {
    position: fixed;
    background-color: #fff;
}

.page-hd-pintuan-submit .dialog-wrap.dialog-agree-protocol {
    margin: 0 auto;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-width: 720px;
    border: 0;
    border-radius: 0 !important;
}

.page-hd-pintuan-submit .dialog-wrap.dialog-error {
    margin: 0 auto;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-width: 720px;
    border: 0;
    border-radius: 0 !important;
}

.page-hd-pintuan-submit .dialog-wrap.dialog-error .btn-go-home,
.page-hd-pintuan-submit .dialog-wrap.dialog-agree-protocol .close-btn {
    display: block;
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
    border-radius: .04rem;
    text-align: center;
    color: #fff;
    background: #ffa300;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ff9700), to(#ffae00), color-stop(0.75, #ffa300));
}

.page-hd-pintuan-submit .border-top {
    border-top: thin solid #e6e6e6;
}

.page-hd-pintuan-submit .border-bottom {
    border-bottom: thin solid #e6e6e6;
}

.page-hd-pintuan-submit .the-warn {
    color: #f01;
}

.page-hd-pintuan-submit .mainbody-inner {
    margin: 0 auto;
    padding-bottom: .7rem;
    max-width: 720px;
}

.page-hd-pintuan-submit .mainbody-inner > .block {
    margin: .1rem .1rem 0;
}

.page-hd-pintuan-submit .line-thick-vertical {
    margin-right: .06rem;
    width: .03rem !important;
    height: .14rem;
    background-color: #ff4e54;
    border-radius: .04rem;
}

.page-hd-pintuan-submit .the-block-title {
    padding-bottom: .1rem;
    font-weight: bolder;
}

/*基础信息*/
.page-hd-pintuan-submit .block-base-info {
    padding: .12rem .2rem;
    background: transparent url(https://p3.ssl.qhimg.com/t01691c4374cf3ecc66.png) no-repeat center;
    background-size: cover;
    border-radius: .06rem;
    color: #fff;
}

.page-hd-pintuan-submit .block-base-info .line-thick-vertical {
    background-color: #fff;
}

.page-hd-pintuan-submit .block-base-info .grid-price .price {
    font-size: .2rem;
}

.page-hd-pintuan-submit .block-base-info .orig-price-title {
    font-size: .1rem;
}

/*邮寄方式*/
.page-hd-pintuan-submit .block-youji-type {

}

.page-hd-pintuan-submit .block-youji-type .type-item {
    padding: .06rem 0;
    border: thin solid #ddd;
    border-radius: .04rem;
}

.page-hd-pintuan-submit .block-youji-type .type-item.selected {
    border-color: #fd474a;
}

.page-hd-pintuan-submit .block-youji-type .type-item .iconfont {
    width: .44rem;
    text-align: center;
    color: #c82d2b;
}

.page-hd-pintuan-submit .block-youji-type .type-item .type-name {
    color: #000;
}

.page-hd-pintuan-submit .block-youji-type .type-item .type-desc {
    font-size: .1rem;
}

/*邮寄表单*/
.page-hd-pintuan-submit .block-youji-form {

}

.page-hd-pintuan-submit .block-youji-form .form-control {
    /*box-sizing: content-box;*/
    /*font-size: 0;*/
}

.page-hd-pintuan-submit .block-youji-form .form-control > .col {
    height: .36rem;
    line-height: .36rem;
}

.page-hd-pintuan-submit .block-youji-form .form-control > .col:first-child {
    width: .32rem;
    text-align: left;
}

.page-hd-pintuan-submit .block-youji-form .form-control input {
    float: left;
    padding: 0;
    width: 100%;
    height: .36rem;
    line-height: normal;
    font-size: .12rem;
    border: 0;
}

.page-hd-pintuan-submit .block-youji-form .form-control a {
    /*display: block;*/
}

.page-hd-pintuan-submit .block-youji-form .form-control a.placeholder {
    color: #888585;
}

.page-hd-pintuan-submit .block-youji-form .address-province-city {
    padding-right: .06rem;
    border-right: thin solid #e6e6e6;
    color: #000;
}

.page-hd-pintuan-submit .block-youji-form .address-area {
    padding-left: .06rem;
}

.page-hd-pintuan-submit .block-youji-form .vcode-img {
    height: 90%;
}

.page-hd-pintuan-submit .block-youji-form .vcode-img img {
    float: left;
    height: 100%;
    width: 1rem;
}

.page-hd-pintuan-submit .block-youji-form .btn-get-sms-code {
    /*width: .79rem;*/
    width: 1rem;
    height: 90%;
    justify-content: center;
    border: thin solid #fd474a;
    color: #fd474a;
}

.page-hd-pintuan-submit .block-youji-form .btn-get-sms-code.btn-get-sms-code-disabled {
    border-color: #ddd;
    color: #ddd;
}

/*邮寄地址*/
.page-hd-pintuan-submit .block-shipping-address {
    padding: .24rem .12rem;
    font-size: .11rem;
    background-color: #fff6f6;
}

.page-hd-pintuan-submit .block-shipping-address .col-left-fixed {
    width: .55rem;
}

.page-hd-pintuan-submit .block-shipping-address .col-right {
    margin-left: .55rem;
}

/*收款微信账号*/
.page-hd-pintuan-submit .block-pay-info-wechat-desc {
    margin: .1rem 0 0;
    text-align: center;
}

.page-hd-pintuan-submit .block-pay-info-wechat-desc .wechat-nickname {
    color: #f01;
}

/*旧机回收条款*/
.page-hd-pintuan-submit .block-protocol {
    margin: .1rem 0 0;
}

.page-hd-pintuan-submit .block-protocol .view-agree-protocol {
    color: #02a3f6;
}

/*警示信息*/
.page-hd-pintuan-submit .block-notice-info {

}

.page-hd-pintuan-submit .block-notice-info .iconfont {
    width: .2rem;
    line-height: 1.4;
    color: #ff5155;
}

.page-hd-pintuan-submit .block-notice-info .col-right {
    margin-left: .2rem;
}

/*底部按钮*/
.page-hd-pintuan-submit .block-bottom-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    padding: .1rem .2rem;
    max-width: 720px;
    min-width: 220px;
    background-color: #fff;
}

.page-hd-pintuan-submit .block-bottom-btn .btn-confirm-submit {
    display: block;
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
    border-radius: .04rem;
    text-align: center;
    color: #fff;
    background: #ffa300;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ff9700), to(#ffae00), color-stop(0.75, #ffa300));
}

.page-hd-pintuan-submit .block-bottom-btn .icon-caidan {
    position: absolute;
    top: 0;
    right: .25rem;
    width: 0.6144rem;
    height: 0.24746666666666667rem;
    background: url("https://p4.ssl.qhimg.com/t01cee7fab0c87ec52e.png") no-repeat center 0;
    background-size: cover;
}

