.bang-ui-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    font-size: .12rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.bang-ui-dialog .dialog-content {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    min-height: .6rem;
    max-height: 5.2rem;
    background: #fff;
    background-clip: padding-box;
    border-radius: .04rem;
    padding: .20rem;
    color: #666;
    line-height: 1.8;
}

.bang-ui-dialog .close:before {
    font-size: .16rem;
}

.bang-ui-dialog .close {
    position: absolute;
    /*top: -.10rem;*/
    /*right: -.10rem;*/
    top: .04rem;
    right: .04rem;
    width: .20rem;
    height: .20rem;
    line-height: .20rem;
    border-radius: 50%;
    /*border: 1px solid #ccc;*/
    background: #fff;
    background-clip: padding-box;
    /*font-size: .16rem;*/
    font-size: 0;
    text-align: center;
    font-family: arial;
    color: #999;
}

.bang-ui-dialog .dialog-txt {

}

.bang-ui-dialog .btn-box {
    padding-top: .16rem;
    text-align: center;
}

.bang-ui-dialog .btn-box-alert .ui-btn {
    width: 60%;
    height: .36rem;
    background: #0b7;
    background-clip: padding-box;
    border: 0;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: .04rem;
    color: #fff;
    font-size: .12rem;
}

.bang-ui-dialog .btn-box-confirm .ui-btn {
    width: 48%;
    height: .36rem;
    background: #f6f6f6;
    background-clip: padding-box;
    border: 0;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: .04rem;
    color: #333;
    font-size: .12rem;
}

.bang-ui-dialog .btn-box-confirm .ui-btn:first-child {
    margin-right: 3%;
}

.bang-ui-dialog .btn-box-confirm .ui-btn.ui-btn-succ {
    background-color: #0b7;
    color: #fff;
}

.bang-ui-dialog .btn-box-confirm .ui-btn.ui-btn-fail {
}

.bang-ui-dialog .btn-box-prompt .ui-btn {
    width: 48%;
    height: .36rem;
    background: #f6f6f6;
    background-clip: padding-box;
    border: 0;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: .04rem;
    color: #333;
    font-size: .12rem;
}

.bang-ui-dialog .btn-box-prompt .ui-btn:first-child {
    margin-right: 3%;
}

.bang-ui-dialog .btn-box-prompt .ui-txt-input input {
    width: 98%;
    height: .12rem;
    line-height: 12rem;
    padding: .12rem 1%;
    font-size: .12rem;
    border: 1px solid #d0d0d0;
}

.bang-ui-dialog .btn-box-prompt .ui-btn.ui-btn-succ {
    background-color: #0b7;
    color: #fff;
}

.bang-ui-dialog-toast {
    position: fixed;
    z-index: 65535;
    bottom: 15%;
    width: 100%;
    text-align: center;
}

.bang-ui-dialog-toast span {
    margin: 0 .1rem;
    padding: .10rem .20rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .03rem;
    box-shadow: 1px 1px 2px #666;
    font-size: .12rem;
}

.bang-ui-dialog-popup {
    position: fixed;
    left: .1rem;
    right: .1rem;
    bottom: .1rem;
    z-index: 10001;
    padding: .1rem;
    min-height: .4rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .04rem;
    font-size: .12rem;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
