.ui-datetime {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9000;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
    background: #f8f8f8;
    box-shadow: 0 -.02rem .25rem #ccc;
}

.ui-datetime .dt-table {
    display: table;
    width: 100%;
}

.ui-datetime .date-box {
    width: 60%;
    display: table-cell
}

.ui-datetime .time-box {
    width: 40%;
    display: table-cell
}

.ui-datetime .date-item, .ui-datetime .time-item {
    display: block;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    margin: 0 5%;
    font-size: .12rem;
    height: .40rem;
    line-height: .40rem;
    color: #666;
}

.ui-datetime .date-curr, .ui-datetime .time-curr {
    color: #0b7;
    font-size: .14rem;
}

.ui-datetime .date-disabled {
    display: none;
}

.ui-datetime .time-disabled {
    display: none;
    background: #eee;
    color: #ccc;
    cursor: not-allowed;
}

.ui-datetime .date-tit, .ui-datetime .time-tit {
    font-size: .12rem;
    line-height: .36rem;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid rgba(149, 192, 172, 0.3);
    color: #333;
}

.ui-datetime .icon-date {
    margin-right: .02rem;
    display: inline-block;
    vertical-align: middle;
    width: .24rem;
    height: .24rem;
    background: url(https://p.ssl.qhimg.com/t01fa50437b3f1ab3aa.jpg) no-repeat 0 -.03rem;
    background-size: .24rem;
}

.ui-datetime .icon-time {
    margin-right: .02rem;
    display: inline-block;
    vertical-align: middle;
    width: .24rem;
    height: .24rem;
    background: url(https://p.ssl.qhimg.com/t01fa50437b3f1ab3aa.jpg) no-repeat 0 -.32rem;
    background-size: .24rem;
}

.ui-datetime .item-select {
    height: 1.20rem;
    overflow: hidden;
    position: relative;
}

.ui-datetime .item-window {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("https://p.ssl.qhimg.com/t013ee84c60181f2d26.png") repeat-x 0 center;
    background-size: auto 100%;
    z-index: 10;
}

.ui-datetime .item-list {
    margin: .40rem 0;
}

.ui-datetime .i-w-line {
    display: block;
    height: 33%;
    margin: 0 .10rem;
    border-bottom: 1px solid rgba(208, 208, 208, 0.3);
}

.ui-datetime .ctrl-box {
    border-top: 1px solid rgba(208, 208, 208, 0.3);
    background: #fff
}

.ui-datetime .ctrl-item {
    display: inline-block;
    width: 50%;
    line-height: .4rem;
    font-size: .12rem;
    text-align: center;
    color: #778c82;
}

.ui-datetime .ctrl-item.ctrl-ok {
    color: #0b7;
}

.ui-datetime .ctrl-item:active {
    background-color: #f8f8f8;
}

.ui-datetime .ctrl-item:first-child {
    box-shadow: -1px 0 0 rgba(208, 208, 208, 0.3) inset;
}
