/*仿ios picker选择器*/
.ui-component-picker {
    position   : fixed;
    left       : 0;
    top        : 100%;
    z-index    : 9999;
    width      : 100%;
    background : #f8f8f8;
    box-shadow : 0 0 1px #ccc;
}

.ui-component-picker .dt-table {
    margin    : 0 auto;
    display   : table;
    width     : 100%;
    max-width: 1080px;
}

.ui-component-picker .dt-table .col {
    float   : left;
    display : table-cell;
}

.ui-component-picker .dt-table-3-col .col {
    width : 33.33333333333333333%;
}

.ui-component-picker .dt-table-2-col .col {
    width : 50%;
}

.ui-component-picker .dt-table-1-col .col {
    width : 100%;
}

/*.ui-component-picker .col-3-1 {*/
/*width : 33.33333333333333333%;*/
/*}*/

.ui-component-picker .i-item {
    display     : block;
    text-align  : center;
    white-space : nowrap;
    word-break  : keep-all;
    cursor      : pointer;
    margin      : 0 5%;
    font-size   : .12rem;
    height      : .4rem;
    line-height : .4rem;
    color       : #666;
}

.ui-component-picker .i-item.selected {
    color       : #0b7;
    font-weight : bold;
    font-size   : .13rem;
}

.ui-component-picker .i-item.disabled {
    display: none;
}

.ui-component-picker .item-title {
    line-height: 2;
    text-align: center;
}

.ui-component-picker .item-filter {
    padding: .06rem;
}

.ui-component-picker .item-select {
    height   : 1.2rem;
    overflow : hidden;
    position : relative;
}

.ui-component-picker .item-window {
    position        : absolute;
    left            : 0;
    top             : 0;
    right           : 0;
    bottom          : 0;
    background      : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAEsCAYAAAD+RfIfAAAAf0lEQVRo3u2XQQ6AIAwEUfj/jxF5gZ6sHRgSbpPZpoc2bWO+8vDa/AHARYhAGDJECIQBfY8augaOwSLtg612gKxtcDULBAOI6wBhyBDxChQBAQEBAQEBFHB8D5yECIQhQ4RAGFD3qKFq4Bgs0lbbBwfI2gZXs0AwgLgOEIa/I27P0oCs/+NGNQAAAABJRU5ErkJggg==") repeat-x 0 center;
    background-size : auto 100%;
    z-index         : 10;
}

.ui-component-picker .item-list {
    margin : .4rem 0;
}

.ui-component-picker .i-w-line {
    display       : block;
    height        : 33%;
    margin        : 0 .08rem;
    /*border-bottom : 1px solid #d0d0d0;*/
    border-bottom : 1px solid rgba(208, 208, 208, 0.3);
}

.ui-component-picker .ctrl-box {
    margin     : 0 auto;
    /*max-width: 720px;*/
    max-width: 1080px;
    border-top : 1px solid rgba(208, 208, 208, 0.3);
    background : #fff
}

.ui-component-picker .ctrl-item {
    display     : inline-block;
    width       : 50%;
    line-height : .4rem;
    font-size   : .12rem;
    text-align  : center;
    color       : #778c82;
}

.ui-component-picker .ctrl-item:active {
    background-color : #f8f8f8;
}

.ui-component-picker .ctrl-item:first-child {
    box-shadow : -1px 0 0 rgba(208, 208, 208, 0.3) inset;
}
