/* 抽奖 type 1 4x3*/
.block-lottery {
    position: relative;
    /*margin: 0 auto;*/
    margin: 0 0 0 .08rem;
    padding: .05rem 0;
    width: 3rem;
    height: 1.66rem;
    background: transparent;
    border-radius: .06rem;
}

.block-lottery .lottery-cell-list,
.block-lottery .lottery-cell-list-placeholder{
    margin: 0 auto;
    /*width: 2.89rem;*/
    width: 2.913rem;
    height: 1.56rem;
    font-size: 0;
}

.block-lottery .lottery-cell-list .cell,
.block-lottery .lottery-cell-list-placeholder .cell{
    /*margin-right: .03rem;*/
    margin-right: .035rem;
    margin-bottom: .03rem;
    display: inline-block;
    /*width: 0.7rem;*/
    width: 0.702rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: .04rem;
}
.block-lottery .lottery-cell-list .cell:nth-child(4n),
.block-lottery .lottery-cell-list-placeholder .cell:nth-child(4n){
    margin-right: 0;
}
/*.block-lottery .lottery-cell-list .cell.cur,*/
/*.block-lottery .lottery-cell-list-placeholder .cell.cur{*/
/*background-color: rgba(255,193,80,0.5);*/
/*}*/

.block-lottery .lottery-cell-list{
    position: absolute;
    top: .05rem;
    left: 0;
    right: 0;
}
.block-lottery .lottery-cell-list .cell{
    background-color: transparent;
    pointer-events:none;
}
.block-lottery .lottery-cell-list .cell.cur{
    background-color: rgba(255,193,80,0.5);
}

.block-lottery .canvas-lottery-bonus{
    position: absolute;
    top: .05rem;
    left: .05rem;
    display: block;
    width: 2.89rem;
    height: 1.56rem;
}

.block-lottery .btn-get-my-luck{
    position: absolute;
    top: .58rem;
    left: .78rem;
    right: .78rem;
    bottom: .58rem;
    display: block;
    background: url(https://p2.ssl.qhmsg.com/t01a848b199e99af01d.jpg) no-repeat center;
    background-size: 1.44rem .5rem;
    border-radius: .06rem;
    font-size: 0;
    text-align: center;
    line-height: .5rem;
    box-shadow: 0 0 0.2rem 0.02rem #0943fb;
}
.block-lottery .btn-get-my-luck:hover{
    text-decoration: none;
}
.block-lottery .btn-get-my-luck .txt{
    margin-right: .06rem;
    display: inline-block;
    font-size: .18rem;
    color: #fff;
    vertical-align: middle;
}

.block-lottery .btn-get-my-luck .sim-shadow {
    display: inline-block;
    width: .36rem;
    height: .36rem;
    font-size: 0;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 999px;
    vertical-align: middle;
}

.block-lottery .btn-get-my-luck .sim{
    display: inline-block;
    width: .36rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .16rem;
    vertical-align: middle;
    color: #108ffc;
    background: #fff;
    /*color: #cf1e24;*/
    border-radius: 999px;
    /*-webkit-transform: translate3d(0, -.03rem, 0);*/
    /*transform: translate3d(0, -.03rem, 0);*/
    -webkit-animation: button-clicking .8s ease 1s infinite;
    -moz-animation: button-clicking .8s ease 1s infinite;
    animation: button-clicking .8s ease 1s infinite;
}
.block-lottery .btn-get-my-luck .sim-inner{
    margin: .02rem;
    display: block;
    width: .32rem;
    height: .32rem;
    line-height: .28rem;
    /*border: #cf1e24 .02rem solid;*/
    border: #108ffc .02rem solid;
    border-radius: 999px;
}

.block-lottery .btn-get-my-luck.disabled{
    background-color: #eee;
}

.block-lottery .btn-get-my-luck.disabled .sim{
    background-color: #ddd;
    color: #d0d0d0;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
    -webkit-animation: button-clicking-stop .8s ease 1;
    -moz-animation: button-clicking-stop .8s ease 1;
    animation: button-clicking-stop .8s ease 1;
}

.block-lottery .btn-get-my-luck.disabled .sim-inner{
    border-color: #d0d0d0;
}
/* 抽奖 type 1 END */

/* 抽奖 type 2 3x3*/
.block-lottery-2 {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 2.551111111111111rem;
    height: 2.1422222222222222rem;
    background: transparent;
    border-radius: .06rem;
}

.block-lottery-2 .lottery-cell-list,
.block-lottery-2 .lottery-cell-list-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.block-lottery-2 .lottery-cell-list .cell,
.block-lottery-2 .lottery-cell-list-placeholder .cell{
    margin: 0 .035rem .03rem 0;
    display: inline-block;
    width: 0.8044444444444444rem;
    height: 0.6844444444444444rem;
    background-color: #faec8a;
    border-radius: .04rem;
    border: 0;
    border-bottom: 3px solid #2d5fa1;
}
.block-lottery-2 .lottery-cell-list .cell:nth-child(3n),
.block-lottery-2 .lottery-cell-list-placeholder .cell:nth-child(3n){
    margin-right: 0;
}
.block-lottery-2 .lottery-cell-list .cell.cur{
    background-color: #fff;
}

.block-lottery-2 .canvas-lottery-bonus{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
/* 抽奖 type 2 END */