/* 分享 */
.m-fenxiang-intro-wrap{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.m-fenxiang-intro-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.m-fenxiang-intro-inner a,
.m-fenxiang-intro-inner a:hover{
    padding-bottom: 40px;
    display: block;
    text-decoration: none;
}
.m-fenxiang-intro-bg,
.m-fenxiang-intro-bg:hover{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.m-fenxiang-intro-inner a .txt{
    margin-top: 20px;
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
    font-weight: normal;
}
.m-fenxiang-intro-inner .huichang-desc{
    color: #fff;
    font-size: 14px;
}
/* END 分享 */