/****** 图片展示、滑动、显示大图 *******/
.show-bigger-img-mask {
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    background : #000;
    opacity    : .8;
    z-index    : 9997;
}

.show-bigger-img-close {
    display       : block;
    position      : fixed;
    top           : .05rem;
    right         : .05rem;
    width         : .28rem;
    height        : .28rem;
    line-height   : .28rem;
    text-align    : center;
    font-size     : .24rem;
    border-radius : 9999px;
    color         : #fff;
    background    : #666;
    z-index       : 9999;
}

.show-bigger-img-wrap {
    display        : table;
    position       : fixed;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    z-index        : 9998;
    width          : 100%;
    height         : 100%;
    text-align     : center;
    vertical-align : middle;
}

.show-bigger-img-wrap .show-bigger-img-wrap-inner {
    position       : relative;
    display        : table-cell;
    min-height     : 300px;
    vertical-align : middle;
}

.show-bigger-img-wrap .big-img-shower {
    position : relative;
    overflow : hidden;
}

.show-bigger-img-wrap .s-item {
    position   : relative;
    top        : 0;
    left       : 0;
    float      : left;
    width      : 100%;
    text-align : center;
    background : transparent;
}

.show-bigger-img-wrap .s-item-hide {
    position : absolute;
    z-index  : -1;
}

.show-bigger-img-wrap img {
    max-width      : 100%;
    /*max-height: 100%;*/
    vertical-align : middle;
}

/****** 图片展示、滑动、显示大图END *******/