/****** 图片展示、滑动 *******/
.slide-shower-wrap {
    position : relative;
    margin   : 0 auto;
    width    : 100%;
    overflow : hidden;
}

.slide-shower-wrap .slide-shower {
    position : relative;
    overflow : hidden;
}

.slide-shower-wrap .s-item {
    position   : relative;
    top        : 0;
    left       : 0;
    float      : left;
    width      : 100%;
    text-align : center;
    background : transparent;
}

.slide-shower-wrap .s-item-hide {
    position : absolute;
    z-index  : -1;
}

.slide-shower-wrap .s-item img {
    max-width : 100%;
}

.slide-shower-wrap .slide-nav {
    padding     : .04rem;
    height      : auto;
    line-height : 0;
    text-align  : center;
    background  : transparent;
}

.slide-shower-wrap .slide-nav span {
    margin        : 0 .04rem;
    display       : inline-block;
    width         : .1rem;
    height        : .1rem;
    border-radius : 9999px;
    background    : #fda87e;
    opacity       : .8;
    border        : 0;
}

.slide-shower-wrap .slide-nav .cur {
    opacity    : 1;
    background : #fd5400;
    border     : 0;
}

.slide-shower-wrap .desc {
    display    : none;
    font-size  : .1rem;
    color      : #999;
    text-align : center;
}

.slide-shower-wrap .desc .iconfont {
    font-size : .12rem;
}

/****** 图片展示、滑动END *******/