/*使用优惠码*/
.use-promo-wrap .promo-selector{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 42px;
    width: 120px;
    border:1px solid #ddd;
    border-radius: 4px;
    background-clip: padding-box;
    overflow: hidden;
    background: #f4f4f4;
}
.use-promo-wrap .promo-code{
    position: absolute;
    left: 0;
    top:0;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 10px;
    height: 42px;
    width: 90px;
    line-height: normal;
    border: 0;
    border-right: 1px solid #ddd;
    font-size: 14px;
}
.use-promo-wrap .promo-sel-list{
    position: absolute;
    z-index: 4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 120px;
    line-height: 42px;
    padding-right: 30px;
    border: 0;
    background: transparent;
}
.use-promo-wrap .promoYZ{
    color: #666;
}
.use-promo-wrap .promo-box{font-size: 12px;}
.use-promo-wrap .use-promo{font-size: 14px;}
.use-promo-wrap .promo-succ{ color: #090; }
.use-promo-wrap .promo-fail{ color: #f00; }
/*END使用优惠码*/
