.lpmer-inner-page-brand-model-info {
}

.lpmer-inner-page-brand-model-info .grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

.lpmer-inner-page-brand-model-info .grid .checkbox {
    margin-top: 0;
    margin-bottom: 5px;
}

.lpmer-inner-page-brand-model-info .grid .checkbox label {
    width: 100%;
}

.lpmer-inner-page-brand-model-info .grid .checkbox label:hover {
    background-color: #f5f5f5;
}

.lpmer-inner-page-brand-model-info .grid.grid-upload-img {
    margin: 0 -10px;
}

.lpmer-inner-page-brand-model-info .grid.grid-upload-img .img {
    width: 100px;
    height: 100px;
    text-align: center;
    color: #999;
    border: 1px solid #ddd;
    background-color: #eee;
}

.lpmer-inner-page-brand-model-info .grid.grid-upload-img .btn-del-img {
    margin: 10px auto;
    display: block;
}

.lpmer-inner-page-brand-model-info .grid.grid-upload-img .col {
    margin: 0 10px 10px 10px;
    width: 100px;
}
