/*** 公用样式start ***/
a,a:hover{
    text-decoration: none;
}
.mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
    min-height: 100vh;
    background: #f5f5f5;
    font-size: .12rem;
    color: #666;
    padding-bottom: 1px;
}
.block {
    width: 100%;
}
.swipe-section{
    position: fixed;
}
/*顶部logo*/
.block-logo{
    height: .524rem;
    background: url(https://p0.ssl.qhmsg.com/t01573d9ca3aadddcf2.jpg) no-repeat center;
    background-size: cover;
}
/*标题们*/
.block-title {
    text-align: center;
    padding: .1rem 0;
    line-height: 1.4;
}
.block-title .tit{
    color: #f30;
    font-weight: bold;
    font-size: .2rem;
}
.block-title .tit-sub{
    color: #f30;
    font-size: .16rem;
    padding-top: .05rem;
}
.block-title .tit-desc{
    color: #666;
    font-size: .14rem;
    padding-top: .05rem;
}
/*显示图片的容器*/
.block-pic{
    width: 2.1777777777777776rem;
    height: 2.888888888888889rem;
    box-shadow: 0 2px 10px 0px #d0d0d0;
    border-radius: .05rem;
    margin: 0 auto;
    padding: 0.03rem;
    background-color: #fff;
    box-sizing: content-box;
}
.block-pic-inner{
    width: 100%;
    height: 100%;
    background:#000 no-repeat center;
    background-size: contain;
    position: relative;
    font-size: .1rem;
}
.block-pic .tcb-logo{
    width: .8rem;
    height: .26rem;
    margin: .1rem auto 0;
    background: url(https://p0.ssl.qhmsg.com/t0143d44a42a8efe5d6.png) no-repeat center;
    background-size: cover;
}
.block-pic .user-comment{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: .06rem .1rem;
}
/*视频*/
.block-video{

}
.block-video .trigger-play-video{
    display: block;
    height: 1.2rem;
    background: url(https://p2.ssl.qhmsg.com/t01c4bc41cc697eeccf.png) no-repeat center;
    background-size: contain;
}
/*返回按钮*/
.go-back{
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: .1rem;
    left: .1rem;
    background: url("https://p1.ssl.qhmsg.com/t01d40008605718e867.png") no-repeat center;
    text-decoration: none;
    border-radius: 999px;
    background-size: cover;
    z-index: 9;
}
/*按钮*/
.btn{
    display: block;
    height: .4rem;
    margin: .2rem .25rem .1rem;
    background-color: #ff3300;
    color: #fff;
    line-height: .4rem;
    text-align: center;
    font-size: .16rem;
    border-radius: .05rem;
    position: relative;
}
.btn:active{
    opacity: .7;
}
.btn .icon-gengduo{
    font-size: .24rem;
    color: #fff;
    position: absolute;
    right: .15rem;
    top: 0rem;
}
/*链接*/
.block-link{
    text-align: center;
    padding: .1rem 0;
}
.block-link a{
    text-decoration: underline;
    color: #0066ff;
}
/*助力人数*/
.block-help-num{
    text-align: center;
}
.block-help-num .num{
    color: #f30;
    font-size: .14rem;
}
/*** 公用样式end ***/


/*首页*/
.page-hd-brand-promotion-index .slide-shower-wrap{
    height: 4.0311111111111115rem;
}
/*活动说明页*/
.page-hd-brand-promotion-intro{}
.page-hd-brand-promotion-intro .block1{
    padding: 0 .1rem;
}
.page-hd-brand-promotion-intro .block1 .desc1{
    border-bottom: 1px solid #c1c1c1;
    padding: .05rem .1rem .15rem;
}
.page-hd-brand-promotion-intro .block1 .desc1 .cont-l{
    font-size: .28rem;
    line-height: 1.3;
}
.page-hd-brand-promotion-intro .block1 .desc1 .cont-r{
    font-size: .14rem;
}
.page-hd-brand-promotion-intro .block1 .desc2{
    padding: .1rem .1rem 0;
}
.page-hd-brand-promotion-intro .block2 .block-title{
    padding-bottom: 0;
}
.page-hd-brand-promotion-intro .prize-list .item{
    padding: .08rem 0 0 .08rem;
}
.page-hd-brand-promotion-intro .prize-list .item:nth-child(3n){
    padding-right: .08rem;
}
.page-hd-brand-promotion-intro .prize-list .item-inner{
    background-color: #fff;
    padding: .15rem 0 .08rem;
    border-radius: .05rem;
    text-align: center;
}
.page-hd-brand-promotion-intro .prize-list .item .pic{
    height: .68rem;
}
.page-hd-brand-promotion-intro .prize-list .item img{
    height: 100%;
}
.page-hd-brand-promotion-intro .prize-list .prize-name{
    padding-top: .05rem;
}
.page-hd-brand-promotion-intro .prize-list .prize-grade{
    color: #ff3300;
    font-size: .14rem;
    font-weight: bold;
}
.page-hd-brand-promotion-intro .block-intro {
    height         : 100vh;
    padding-bottom : .4rem;
    overflow-x     : hidden;
    overflow-y     : auto;
}
.page-hd-brand-promotion-intro .block3 .block-title{
    border-bottom: 1px solid #f30;
    background-color: #fff;
}
.page-hd-brand-promotion-intro .block-ranking{
    color: #f30;
    line-height: 2;
    background-color: #fff;
    text-align: center;
}
.page-hd-brand-promotion-intro .block-ranking .tit{
    font-size: .14rem;
}
.page-hd-brand-promotion-intro .block-ranking .ranking-list .row:nth-child(odd){
    background-color: #f5f5f5;
}
.page-hd-brand-promotion-intro .block4 .block-title{
    border-bottom: 1px solid #f30;
    background-color: #fff;
}
/*人气作品轮播图*/
.page-hd-brand-promotion-intro .slide-shower-wrap{
    padding: .15rem 0;
}
.page-hd-brand-promotion-intro .slide-shower-wrap .slide-shower{
    height: 2.8444444444444446rem;
}
.page-hd-brand-promotion-intro .slide-shower-wrap .s-item{

    text-align: center;
}
.page-hd-brand-promotion-intro .slide-shower-wrap .slide-item-pic{
    width: 2.1333333333333333rem;
    height: 2.8444444444444446rem;
    margin: 0 auto;
    background: #000 no-repeat center;
    background-size: contain;
}
.page-hd-brand-promotion-intro .btn-switch{
    position: absolute;
    top:50%;
    margin-top: -.2rem;
    width: .4rem;
    height: .4rem;
    /*display: none;*/
    z-index: 999;
    cursor: pointer;
}
.page-hd-brand-promotion-intro .slide-go-left{
    left: .05rem;
    background: url("https://p3.ssl.qhmsg.com/t01b9314a50a464d2ba.png") no-repeat center;
    background-size: contain;
}
.page-hd-brand-promotion-intro .slide-go-right{
    right: .05rem;
    background: url("https://p4.ssl.qhmsg.com/t01d935a460068f95c7.png") no-repeat center;
    background-size: contain;
}
.page-hd-brand-promotion-intro .block5{
    background-color: #fff;
}
/*更多小伙伴说*/
.page-hd-brand-promotion-intro .comments-list {
    position: relative;
    width: 3rem;
    height: .9rem;
    margin: 0rem auto .1rem;
    overflow: hidden;
}
.page-hd-brand-promotion-intro .comments-list-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.page-hd-brand-promotion-intro .comments-list .comments-item{
    color: #666;
    font-size: .12rem;
    height: .3rem;
    line-height: .3rem;
}
.page-hd-brand-promotion-intro .comments-list .comments-item-inner{
    padding-left: .13rem;
    position: relative;
}
.page-hd-brand-promotion-intro .comments-list .comments-item i{
    width: .08rem;
    height: .08rem;
    position: absolute;
    left: 0;
    top: .1rem;
    border-radius: 999px;
    background: #fa967d;
}

/*活动细则*/
.page-hd-brand-promotion-intro .block-desc{
    padding: .1rem .15rem .2rem;
    color: #666;
}
.page-hd-brand-promotion-intro .block-desc h3{
    font-size: .2rem;
    color: #f30;
    text-align: center;
}
.page-hd-brand-promotion-intro .block-desc-cont div{
    font-size: .14rem;
    padding-top: .08rem;
}
.page-hd-brand-promotion-intro .block-desc-cont p{
    font-size: .12rem;
    padding: .06rem 0;
}
/*我的排名页*/
.page-hd-brand-promotion-my-ranking .block-title{
    padding: 0;
}
.page-hd-brand-promotion-my-ranking .my-ranking{
    text-align: center;
    color: #f30;
    font-size: .16rem;
}
.page-hd-brand-promotion-my-ranking .huodong-time{
    text-align: center;
}
/*分享成功页*/
.page-hd-brand-promotion-share-succ .block-qrcode{
    height: 1.3333333333333333rem;
    background: url(https://p3.ssl.qhmsg.com/t016feb6faa58a93a51.jpg) no-repeat center bottom;
    background-size: cover;
    text-align: center;
}
.page-hd-brand-promotion-share-succ .block-qrcode img{
    width: 1.2rem;
    height: 1.2rem;
}

/*制作内容页*/
.page-hd-brand-promotion-create{}
.page-hd-brand-promotion-create .block-create{
    padding: .1rem;
}
.page-hd-brand-promotion-create .block-create .create-step{
    padding-bottom: .16rem;
}
.page-hd-brand-promotion-create .block-create .create-step-title{
    padding: .08rem 0;
    font-size: .16rem;
    color: #ff3300;
}
.page-hd-brand-promotion-create .block-create .create-step-title span{
    display: inline-block;
    vertical-align: middle;
}
.page-hd-brand-promotion-create .block-create .create-step-title .num{
    margin-right: .04rem;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    color: #fff;
    background-color: #ff3300;
    border-radius: 9999px;
}
.page-hd-brand-promotion-create .block-create .textarea-radius{
    position: relative;
}
.page-hd-brand-promotion-create .block-create .textarea-radius textarea{
    border: 1px solid transparent;
}
.page-hd-brand-promotion-create .block-create .textarea-radius .counter-tip{
    position: absolute;
    right: .05rem;
    bottom: .02rem;
    color: #999;
}

.page-hd-brand-promotion-create .block-create .block-poster-img{
    margin-bottom: .05rem;
    padding-bottom: .2rem;
    width: 100%;
    height: 1.2rem;
    overflow: hidden;
}
.page-hd-brand-promotion-create .block-create .poster-img-inner{
    height: 100%;
    font-size: 0;
}
.page-hd-brand-promotion-create .block-create .poster-img-item{
    position: relative;
    margin-right: 4%;
    display: inline-block;
    width: 22%;
    height: 100%;
    border-radius: .04rem;
    border: 1px solid transparent;
}
.page-hd-brand-promotion-create .block-create .poster-img-item:last-child{
    margin-right: 0!important;
}
.page-hd-brand-promotion-create .block-create .poster-img-item.selected{
    padding: .02rem;
    border: 2px solid #ff3300;
}
.page-hd-brand-promotion-create .block-create .poster-img-item.iconfont:before{
    position: absolute;
    bottom: -.08rem;
    left: 50%;
    margin-left: -.08rem;
    width: .16rem;
    height: .16rem;
    background: #fff;
    line-height: .16rem;
    border-radius: 9999px;
    color: #ff3300;
}
.page-hd-brand-promotion-create .block-create .poster-img-item-inner{
    width: 100%;
    height: 100%;
    background: transparent no-repeat center;
    background-size: cover;
    transition: all 0.5s ease-out;
    border-radius: .04rem;
}


.page-hd-brand-promotion-create .create-preview-poster{

}
.page-hd-brand-promotion-create .create-preview-poster .icon-close{
    display: none;
}
.page-hd-brand-promotion-create .create-preview-poster .preview-title{
    padding: .12rem;
    font-size: .16rem;
    text-align: center;
}
.page-hd-brand-promotion-create .create-preview-poster .preview-btn-line{
    padding: .25rem 0;
}
.page-hd-brand-promotion-create .create-preview-poster .preview-btn-line .btn{
    margin: 0;
    border-radius: 0;
}
.page-hd-brand-promotion-create .create-preview-poster .preview-btn-line .btn-cancel,
.page-hd-brand-promotion-create .create-preview-poster .preview-btn-line .btn-disabled{
    background: #eee;
    color: #666;
}
.page-hd-brand-promotion-create .create-preview-poster .preview-btn-line .tips{
    padding: .06rem;
    color: #666;
    text-align: center;
}

/* 弹层 */
.erhuojie-panel{
    left: 0!important;
    right: 0!important;
    padding-bottom: .25rem;
    border: 0;
}
.erhuojie-panel .erhuojie-panel-bottom{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    background: url(https://p.ssl.qhimg.com/t01b3587e89cd3fc400.png) no-repeat center bottom;
    background-size: contain;
    background-position-y: -.05rem;
}
.erhuojie-panel .dialog-inner{
    margin: 0 .2rem;
    padding: 0 .14rem .3rem .14rem;
    display: block;
    background-color: #f62a4d;
    border-radius: .06rem;
    color: #fff;
    font-size: .12rem;
}
.erhuojie-panel .dialog-close,
.erhuojie-panel .dialog-close:hover{
    top: -0.18rem;
    right: 0.04rem;
    width: .4rem;
    height: .4rem;
    background-image: url(https://p.ssl.qhimg.com/t01deb9471fcdd55a10.png);
    background-size: .4rem;
}

/* 登录弹层 */
.erhuojie-login-panel{ }
.erhuojie-login-panel .dialog-inner{
    text-align: center;
}
.erhuojie-login-panel .tit{
    padding: .1rem 0;
    color: #fff;
    font-size: .24rem;
}

.erhuojie-login-panel .row{
    padding-bottom: .08rem;
}
.erhuojie-login-panel .btn{
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background-color: #f9b44f;
    border-radius: 999px;
    /*color: #770408;*/
    color: #fff;
    font-size: .18rem;
    margin: 0;
}
.erhuojie-login-panel .vcode-img{
    width: 100%;
    height: .36rem;
}
.erhuojie-login-panel .btn-get-sms-code{
    font-size: .12rem;
    border-radius: .06rem;
}
.erhuojie-login-panel .btn-get-sms-code-disabled{
    color: #999;
    background: #f2f2f2;
}
.erhuojie-login-panel .desc{
    padding-top: .05rem;
    padding-bottom: .1rem;
    line-height: 2;
}
