.page-liangpin .block-partner{
    padding-bottom: 15px;
}
.page-liangpin .block-partner .item{
    width: 199px;
    height: 90px;
    float: left;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.page-liangpin .block-partner .item-last{
    border-right: none;
}
.page-liangpin .block-partner .item img{
    width: 100%;
}