/*热销机型*/
.block-recommend-model{}
.block-recommend-model .recommend-model-cont-inner{
    min-height: 302px;
}
.block-recommend-model .p-item .p-price{
    padding-left: 0;
    text-align: center;
    color: #f50;
}
.block-recommend-model .p-item .p-price .p-price-num{
    font-size: 30px;
}
.block-recommend-model .p-item .p-desc{
    color: #f50;
}
.block-recommend-model .p-item .p-desc-extension{
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    display: block;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    background: #f50;
    padding:8px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.block-recommend-model .p-item.p-item-hover .p-desc-extension{
    height: 40px;
    opacity: 1;
    filter: alpha(opacity=100)\9;
}
.block-recommend-model .p-item .p-desc-extension p{
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break:break-all;
}