.h10{
    height: 10px;
}
.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

/* button */
.btn{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
.btn:hover{
    text-decoration: none;
}

/*边框*/
.border{border: 1px solid #E3E3E3;}
.b-top{border-top: 1px solid #E3E3E3;}
.b-right{border-right: 1px solid #E3E3E3;}
.b-bottom{border-bottom: 1px solid #E3E3E3;}
.b-left{border-left: 1px solid #E3E3E3;}
.border-dashed{border: 1px dashed #E3E3E3;}
.b-dashed-top{border-top: 1px dashed #E3E3E3;}
.b-dashed-right{border-right: 1px dashed #E3E3E3;}
.b-dashed-bottom{border-bottom: 1px dashed #E3E3E3;}
.b-dashed-left{border-left: 1px dashed #E3E3E3;}
.b-none{border: 0;}

/*=== 行的基本模式 ===*/
.row,
.row .col-1-1,
.row .col-2-1,
.row .col-4-1,
.row .col-4-3,
.row .col-left-fixed, .row .col-left,
.row .col-right, .row .col-right-fixed{
    display: block;
}
.row{
    zoom: 1;
    clear: both;
}
.row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.row .col-left-fixed,
.row .col-2-1,
.row .col-4-1,
.row .col-4-3{
    float: left;
}
.row .col-right-fixed{
    float: right;
}
.row .col-2-1{width: 50%;}
.row .col-4-1{width: 25%;}
.row .col-4-3{width: 75%;}
/*=== END行的基本模式 ===*/


/*页面公共样式*/
.page-shangmen{}

.page-shangmen .float-card-fixed-wrap2 .float-card-fixed-inner{
    width: 960px;
}
.page-shangmen-shouji .float-card-fixed-wrap2 .float-card-fixed-inner,
.page-shangmen-diannao .float-card-fixed-wrap2 .float-card-fixed-inner{
    width: 1200px;
}
.page-shangmen .block-promoting-lp-flash-product-list .tg-small{
    margin: 0 auto;
}
.page-shangmen .promo-618-banner,
.page-shangmen .promo-618-banner a{
    height: 80px;
    background: #fff url(https://p1.ssl.qhmsg.com/t01c9d69801529028f9.png) no-repeat center;
}
.page-shangmen .promo-618-banner a,
.page-shangmen .promo-618-banner a:hover{
    margin: 0 auto;
    display: block;
    width: 1200px;
}
