.page-shangmen-order-succ{
    background: #f1f1f1;
    /*height: 100%;*/
}
.page-shangmen-order-succ .order-succ-cont{
    padding:30px 0 40px;
    /*margin: 25px 0 170px;*/
    height: 500px;
    background: #fff;
}
.page-shangmen-order-succ .order-succ-cont-inner{
    width: 960px;
    margin: 0 auto;
}
.page-shangmen-order-succ .order-succ-tit{
    width: 118px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    padding-left: 54px;
    background: url("https://p.ssl.qhimg.com/t0181a906f742b276ec.png") no-repeat 0 0;
    color: #666;
    font-size: 28px;
}
.page-shangmen-order-succ .order-succ-tips{
    padding: 16px 0 0;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.page-shangmen-order-succ .col-orange{
    color: #ff4e00;
}
.page-shangmen-order-succ .pay-mode{
    padding-top: 46px;
    width: 358px;
    margin: 0 auto;
}
.page-shangmen-order-succ .pay-mode a{
    width: 171px;
    height: 47px;
}
.page-shangmen-order-succ .pay-zhifubao{
    float: left;
    background: url("https://p.ssl.qhimg.com/t0177d9fa71705f5cac.jpg") no-repeat 0 0;
}
.page-shangmen-order-succ .pay-weixin{
    float: right;
    background: url("https://p.ssl.qhimg.com/t014348bb58746d3c6e.jpg") no-repeat 0 0;
}

/*微信支付浮层*/
.page-shangmen-order-succ .panel-pay-weixin{
    width: 350px;
    left: 50% !important;
    top:15% !important;
    margin-left: -170px;
}
.page-shangmen-order-succ .panel-pay-weixin .ft{
    display: none;
}
.page-shangmen-order-succ .panel-pay-weixin .con{
    padding: 0 45px;
    color: #333;
    text-align: center;
}
.page-shangmen-order-succ .panel-pay-weixin .tit{
    padding: 20px 0 25px;
    font-size: 18px;
    font-weight: bold;
}
.page-shangmen-order-succ .panel-pay-weixin .ewm-pic{
    width: 200px;
    height: 200px;
}
.page-shangmen-order-succ .panel-pay-weixin p{
    padding: 35px 0 55px;
    font-size: 14px;
}
.page-shangmen-order-succ .panel-pay-weixin .btn-pay-succ{
    margin-left: 10px;
    padding: 6px 20px;
    background: #64BA12;
    color: #fff;
}
.page-shangmen-order-succ .countdown{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.page-shangmen-order-succ .countdown span{
    display: none;
}
.page-shangmen-order-succ .countdown .d-num,
.page-shangmen-order-succ .countdown .d-txt,
.page-shangmen-order-succ .countdown .h-num,
.page-shangmen-order-succ .countdown .h-txt,
.page-shangmen-order-succ .countdown .m-num,
.page-shangmen-order-succ .countdown .m-txt,
.page-shangmen-order-succ .countdown .s-num,
.page-shangmen-order-succ .countdown .s-txt{
    display: inline;
}