/*手机维修*/
.page-shangmen-shouji{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.page-shangmen-shouji .topbar .in{
    width: 1200px;
}
.page-shangmen-shouji .top-banner{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 392px;
    /*overflow: hidden;*/
    /*overflow-y: hidden;*/
    /*overflow-x: visible;*/
}
.page-shangmen-shouji .top-banner .item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 392px;
    background: url(https://p.ssl.qhimg.com/t0155395105daaea95f.jpg) no-repeat center 0;
}
.page-shangmen-shouji .top-banner .item-0{
    z-index: 1;
}
.page-shangmen-shouji .top-banner .item-inner{
    margin: 0 auto;
    width: 1200px;
    height: 392px;
    background: url(https://p.ssl.qhimg.com/t0155395105daaea95f.jpg) no-repeat center 0;
}

.page-shangmen-shouji .type-tab{
    margin: 40px auto;
    width: 1200px;
}
.page-shangmen-shouji .type-tab a{
    display: block;
    float: left;
    width: 598px;
    height: 62px;
    line-height: 62px;
    border: 1px solid #E4E4E4;
    background: #fff;
    text-align: center;
    font-size: 28px;
    color: #000;
}
.page-shangmen-shouji .type-tab a:hover{
    text-decoration: none;
}
.page-shangmen-shouji .type-tab .tab-selected{
    border-color: #08A1EB;
    background: #08A1EB;
    color: #fff;
}

.page-shangmen-shouji .slide-box2{
    position: relative;
    overflow: hidden;
    padding-top: 30px;
}
.page-shangmen-shouji .slide-list{
}
.page-shangmen-shouji .slide-item{
    float: left;
    width: 100%;
}
.page-shangmen-shouji .slide-item-hide{
    display: none;
}
.page-shangmen-shouji .fault-list{
    margin-bottom: 20px;
    font-size: 16px;
}
.page-shangmen-shouji .fault-list-inner{
    margin: 0 auto;
    width: 1200px;
}
.page-shangmen-shouji .fault-list-inner .sub-fault-box{
    padding: 40px 0;
}

.page-shangmen-shouji .fault-list .item{
    float: left;
    width: 20%;
    /*width: 25%;*/
    text-align: center;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}
.page-shangmen-shouji .fault-list .item:hover{
    color: #20AAED;
    text-decoration: none;
}
.page-shangmen-shouji .fault-list .icon{
    display: inline-block;
    background: url("https://p.ssl.qhimg.com/t01e3e5917da35fb786.png") no-repeat;
    width: 68px;
    height: 68px;
}
.page-shangmen-shouji .fault-list .icon-44{
    background-position: 16px 0;
}
.page-shangmen-shouji .fault-list .icon-10{
    background-position: 16px 0;
}
.page-shangmen-shouji .fault-list .icon-12{
    background-position: -188px -4px;
}
.page-shangmen-shouji .fault-list .icon-20{
    /*background-position: -586px -3px;*/
    background-position: -786px -3px;
}
.page-shangmen-shouji .fault-list .icon-42{
    background-position: -586px -4px;
}
.page-shangmen-shouji .fault-list .icon-16{
    width: 100px;
    background-position: -1182px -4px;
}

.page-shangmen-shouji .fault-list .icon-more{
    display: none;
    background-position: -985px -2px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-44{
    background-position: 16px -79px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-10{
    background-position: 16px -79px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-12{
    background-position: -188px -83px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-20{
    /*background-position: -586px -82px;*/
    background-position: -786px -82px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-42{
    background-position: -586px -83px;
}
.page-shangmen-shouji .fault-list .item:hover .icon-16{
    background-position: -1182px -83px;
}

.page-shangmen-shouji .fault-list .item:hover .icon-more{
    background-position: -985px -81px;
}

.page-shangmen-shouji .anim-box{
    overflow: hidden;
}
.page-shangmen-shouji .fault-more-list{
    /*display: none;*/
    /*margin-bottom: 20px;*/
    margin-bottom: 0;
    border: 1px solid #E3E3E3;
    background: #F5F5F5;
}
.page-shangmen-shouji .fault-more-list-inner{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.page-shangmen-shouji .fault-more-list-block{
    padding: 15px 0;
}
.page-shangmen-shouji .fault-more-list .arrow{
    display: none;
    position:absolute;
    top:-16px;
    right: 112px;
    z-index: 1;
}
.page-shangmen-shouji .fault-more-list .item{
    float: left;
    width: 222px;
    margin: 8px;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E0E0E0;
    text-align: center;
    background: #fff;
    font-size: 16px;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
}
.page-shangmen-shouji .fault-more-list .item:hover{
    /*color: #20AAED;*/
    border-color: #20AAED;
    text-decoration: none;
}


.page-shangmen-shouji .wx-img-show{
    /*background: #F1F1F1;*/
    background: #F6F6F6;
    border-bottom: 1px solid #E3E3E3;
}
.page-shangmen-shouji .wx-img-show .tit{
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    color: #000;
}
.page-shangmen-shouji .wx-img-show .slide-wrap{
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 40px;
    width: 1100px;
    height: 275px;
    position: relative;
    background: transparent;
}
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-left,
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-right{
    width: 80px;
    height: 275px;
    line-height: 275px;
    position: absolute;
    top:12px;
    font-size: 48px;
    color: #ccc;
    text-align: center;
    font-family: "宋体";
    cursor: pointer;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-left:hover,
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-right:hover{
    background: #fff;
}
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-left{
    left: 0;
}
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-go-right{
    right: 0;
}

.page-shangmen-shouji .wx-img-show .slide-wrap .slide-inner{
    width: 940px;
    height: 285px;
    overflow: hidden;
    position: absolute;
    left: 80px;
}
.page-shangmen-shouji .wx-img-show .slide-wrap .slide-item{
    width: 235px;
    height: 275px;
    float: left;
    text-align: center;
}
.page-shangmen-shouji .wx-img-show img{
    box-shadow: 0px 0px 25px 1px #ccc;
    margin-top: 5px;
}


.page-shangmen-shouji .intro{
    margin: 0 auto;
    width: 1200px;
    height: 218px;
    background: url(https://p.ssl.qhimg.com/t01456022d6df313c6c.png) no-repeat center 0;
}
.page-shangmen-shouji .expert{
    background-color: #08A1EB;
}
.page-shangmen-shouji .expert-inner{
    margin: 0 auto;
    width: 1200px;
}
.page-shangmen-shouji .doc-ft{
    padding-bottom: 0;
    background: #494E51;
    border: 0;
}
.page-shangmen-shouji .doc-ft .icon{
    background-image: url(https://p.ssl.qhimg.com/t0187eed48e2466bf92.png);
}
.page-shangmen-shouji .doc-ft .icon-buy{
    background-position: 0 0;
}
.page-shangmen-shouji .doc-ft .icon-pay{
    background-position: 0 -43px;
}
.page-shangmen-shouji .doc-ft .icon-service{
    background-position: 0 -86px;
}
.page-shangmen-shouji .doc-ft .icon-protect{
    background-position: 0 -129px;
}
.page-shangmen-shouji .doc-ft .icon-company{
    background-position: 0 -172px;
}
.page-shangmen-shouji .doc-ft a{
    color: #fff;
}
.page-shangmen-shouji .doc-ft .footer-nav{
    border: 0;
}
.page-shangmen-shouji .doc-ft .f-nav-box h3{
    color: #fff;
}
.page-shangmen-shouji .doc-ft .copyright-info{
    padding: 10px 0 60px 0;
    background: #242C31;
}

/*维修故障分两级*/
.page-shangmen-shouji .fault-tit{
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.page-shangmen-shouji .main-fault-list{
    margin-bottom: 0;
}
.page-shangmen-shouji .main-fault-list .item{
    width: 133.3333333333333px;
}
.page-shangmen-shouji .main-fault-list .tit {
    font-size: 18px;
    color: #666;
    padding: 16px 0 5px;
    height: 50px;
}
.page-shangmen-shouji .main-fault-list .icon img{
    width: 100%;
}
.page-shangmen-shouji .main-fault-list .icon-arrow{
    display: none;
}
.page-shangmen-shouji .main-fault-list .item-cur .icon-arrow{
    display: block;
}
.page-shangmen-shouji .sub-fault-list{
    /*padding: 40px 0;*/
    background: #f4f4f4;
}
.page-shangmen-shouji .sub-fault-box{
    display: none;
}
.page-shangmen-shouji .sub-fault-box-cur{
    display: block;
}
.page-shangmen-shouji .sub-fault-list .sub-tab{
    float: left;
    width: 218px;
    margin: 8px;
    display: block;
    height: 48px;
    line-height: 48px;
    border: 1px solid #E0E0E0;
    text-align: center;
    background: #fff;
    font-size: 16px;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
}
.page-shangmen-shouji .sub-fault-list .sub-tab:hover{
    /*color: #20AAED;*/
    border-color: #20AAED;
    text-decoration: none;
}