/* body css名 */
.page-hd-vivo-nex-activity {
    width: 100%;
    max-width: 3.2rem;
    margin: 0 auto;
}

/* 顶部包含公司logo部分 */
.page-hd-vivo-nex-activity .top-title {
    width: 3.2rem;
    height: 1.28rem;
    background: url(https://p2.ssl.qhmsg.com/t0191bf6cd01656c1c3.png) no-repeat;
    background-size: contain;
    position: relative;
}

/* 图片部分的内容标题,单独用h标签书写,不在页面显示,用于 seo 搜索 */
.page-hd-vivo-nex-activity .title {
    position: absolute;
    left: -100vw;
    top: 0;
}

/* 机器图片 */
.page-hd-vivo-nex-activity .phone-pic {
    width: 3.2rem;
    height: 4.4373rem;
    background: url(https://p0.ssl.qhmsg.com/t012b5d4c987e217211.png) no-repeat;
    background-size: contain;
    position: relative;
}

/* 评估旧机,领取1000元补贴 按钮 */
.page-hd-vivo-nex-activity .pinggu-btn {
    text-indent: -99999px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    bottom: .512rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.1504rem;
    height: .4011rem;
    background: url(https://p2.ssl.qhmsg.com/t01e52b42e0320e6b01.png) no-repeat;
    background-size: contain;
}

/* 苏宁补贴 */
.page-hd-vivo-nex-activity .suningbutie {
    width: 3.2rem;
    height: 1.681rem;
    background: url(https://p3.ssl.qhmsg.com/t011ea275daed96fd1c.png) no-repeat;
    background-size: contain;
    position: relative;
}

/* 以旧换新流程 */
.page-hd-vivo-nex-activity .huanxin-liucheng {
    width: 3.2rem;
    height: 3.652rem;
    background: url(https://p1.ssl.qhmsg.com/t017cfe4f899ffbcbed.png) no-repeat;
    background-size: contain;
    position: relative;
}

/* 活动说明 */
.page-hd-vivo-nex-activity .huodong-shuoming {
    width: 3.2rem;
    height: 2.2528rem;
    background: url(https://p0.ssl.qhmsg.com/t0114af84f1e60d52ee.png) no-repeat;
    background-size: contain;
    position: relative;
}

