.block-service-remote-check .block-order-remote-check-success-perfect {
    padding: 0 .1rem;
    background-color: #fff;
    color: #666;
}

.block-service-remote-check .block-order-remote-check-success-perfect .title {
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
}

.block-service-remote-check .block-order-remote-check-success-perfect .title .icon-zhifuchenggong {
    color: #16a654;
}

.block-service-remote-check .block-order-remote-check-success-perfect .row {
    line-height: .3rem;
}

.block-service-remote-check .block-order-remote-check-success-perfect .row-title {
    text-align: center;
    color: #333;
}

.block-service-remote-check .block-order-remote-check-success-perfect .col-12-7 {
    padding-left: .1rem;
}

.block-service-remote-check .block-order-remote-check-success-perfect .col-12-7 i {
    color: #f84;
}

.block-service-remote-check .block-order-remote-check-success-perfect .iconfont {
    margin-right: .04rem;
}

.block-service-remote-check .block-order-remote-check-success-perfect .err {
    color: #f84;
}

.block-service-remote-check .block-order-remote-check-success-perfect .ok {
    color: #16a654;
}

.block-service-remote-check .block-order-remote-check-success-perfect .tips {
    padding: .08rem 0;
}
