.page-zhimacredit-order-list {
}

.page-zhimacredit-order-list .block-order-item {
    margin-bottom: .1rem;
    padding: .04rem .1rem;
    display: block;
    color: #444;
    background-color: #fff;
    text-decoration: none;
}
.page-zhimacredit-order-list .block-order-item:hover {
    text-decoration: none;
}

.page-zhimacredit-order-list .block-order-item > .row {
    padding-top: .06rem;
    padding-bottom: .06rem;
    line-height: 1.4;
}

.page-zhimacredit-order-list .block-order-item .col-left-fixed {
    width: .6rem;
    text-align-last: justify;
}

.page-zhimacredit-order-list .block-order-item .col-right {
    margin-left: .6rem;
}

.page-zhimacredit-order-list .block-order-item .order-create-time {
    color: #999;
}

.page-zhimacredit-order-list .block-order-item .order-status {
    text-align: right;
    color: #4088cb;
}

.page-zhimacredit-order-list .block-order-item .row-product {
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.page-zhimacredit-order-list .block-order-item .row-product .col-left-fixed {
    margin-right: .1rem;
    width: .55rem;
    height: .55rem;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-zhimacredit-order-list .block-order-item .row-product .col-right {
    margin-left: .65rem;
}

.page-zhimacredit-order-list .block-order-item .row-product .product-assess-price,
.page-zhimacredit-order-list .block-order-item .row-product .product-final-price {
    padding-top: .04rem;
}

.page-zhimacredit-order-list .block-order-item .row-product .product-assess-price b,
.page-zhimacredit-order-list .block-order-item .row-product .product-final-price b {
    color: #f50;
}

.page-zhimacredit-order-list .block-order-item .row-order-basic-info {
    padding-bottom: .02rem;
    line-height: .28rem;
    color: #999;
}

.page-zhimacredit-order-list .block-order-item .row-order-basic-info .col-12-4 {
    text-align: right;
}

.page-zhimacredit-order-list .block-order-item .row-order-basic-info .btn {
    padding: 0 .1rem;
    display: inline-block;
    height: .28rem;
    line-height: .28rem;
    font-size: .12rem;
    color: #999;
    text-align: center;
}

.page-zhimacredit-order-list .no-order {
    padding: 1rem 0;
    text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .page-zhimacredit-order-list .block-order-item .row-order-basic-info .btn:before {
        border-color: #666;
    }
}
