*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    /*height: 100%;*/
    height: auto;
    min-height: 100%;
}
body{
    margin: 0 auto;
    max-width: 720px;
    min-width: 320px;
    /*height: 100%;*/
    height: auto;
    min-height: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-overflow-scrolling : touch;
}
.mainbody{
    /*height: 100%;*/
    min-height: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}
.mainbody-inner{
    min-height: 100%;
}
.block{
    display: block;
    border: 0;
}
.blur{
    -webkit-filter: blur(10px);
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.h40{height: 40px;}
.f12{font-size: 12px;}
.w100{width: 100%;}
.hide{display: none;}
.ohidden{
    overflow: hidden;
}
.relative{position: relative;}
/*行的基本模式*/
.block,.row,
.col-2-1,
.col-4-1,
.col-left-fixed, .col-left,
.col-right,.col-right-fixed{
    display: block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.row{
    zoom: 1;
    clear: both;
}
.col-2-1,
.col-4-1,
.col-left-fixed{
    float: left;
}
.col-2-1{
    width: 50%;
}
.col-4-1{
    width: 25%;
}
.col-right-fixed{
    float: right;
}
/*END行的基本模式*/
/* 箭头 */
.arrow-down,
.arrow-right{
    position: relative;
}
.arrow-right:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-down:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/* END箭头 */

/*dialog层基本样式*/
.dialog-mask{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    background: #000;
    opacity: .6;
}
.dialog-wrap{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    /*bottom: 10px;*/
    z-index: 9998;
    margin: 0 auto;
    max-width: 700px;
    border: 1px solid #B2B2B2;
    background: #fff;
    /*background: #F3F6FB;*/
    border-radius: 8px;
}
.dialog-wrap .dialog-close,
.dialog-wrap .dialog-close:hover{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 36px;
    height: 36px;
    z-index: 9999;
    background-size: 36px;
    text-decoration: none;
    cursor: pointer;
}
.dialog-wrap .dialog-inner{
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #202020;
}
/*END dialog层基本样式*/

/*滑动块基本样式*/
.slide-shower-wrap{
    position: relative;
    overflow: hidden;
}
.slide-shower-wrap .slide-shower{
    position: relative;
}
.slide-shower-wrap .s-item{
    position: relative;
    float: left;
}
.slide-shower-wrap .slide-nav{
    padding: .12rem 0 .16rem 0;
    font-size: 0;
    text-align: center;
}
.slide-shower-wrap .slide-nav span{
    margin-right: .05rem;
    display: inline-block;
    width: .14rem;
    height: .14rem;
    background: #C5C5C5;
    border: 1px solid #C5C5C5;
    border-radius: 999px;
}
.slide-shower-wrap .slide-nav .cur{
    background: #fff;
}
/*END 滑动块基本样式*/


.page-hd-color-iphone .block1{
    height: 5.04rem;
    overflow: hidden;
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: .55rem;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav span{
    width: 0.2222222222222222rem;
    height: 0.2222222222222222rem;
    border: 0;
    background: url(https://p.ssl.qhimg.com/t019ab405dd4e61862b.png) no-repeat 0 0;
    background-size: 2.533333333333333rem auto;
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .cur{
    background: url(https://p.ssl.qhimg.com/t018ffd70f1c17a7423.png) no-repeat 0 0;
    background-size: 2.533333333333333rem auto;
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-0{
    background-position: 0 0;/*蓝*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-1{
    background-position: -0.29333333333333333rem 0;/*黑*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-2{
    background-position: -0.5777777777777777rem 0;/*红*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-3{
    background-position: -0.8666666666666667rem 0;/*绿*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-4{
    background-position: -1.1555555555555554rem 0;/*紫*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-5{
    background-position: -1.44rem 0;/*粉*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-6{
    background-position: -1.7333333333333334rem 0;/*灰*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-7{
    background-position: -2.017777777777778rem 0;/*银*/
}
.page-hd-color-iphone .block1 .slide-shower-wrap .slide-nav .nav-8{
    background-position: -2.3066666666666666rem 0;/*金*/
}
.page-hd-color-iphone .block1 .slide-shower-cover{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1.45rem;
    background: url(https://p.ssl.qhimg.com/t019e9b326c9c8a80f9.png) no-repeat center .2rem;
    background-size: 2.7066666666666666rem auto;
}
.page-hd-color-iphone .block1 .btn-go{
    position: absolute;
    top: 4.435rem;
    left: .27rem;
    display: block;
    width: 2.8rem;
    height: .52rem;
    background: url(https://p.ssl.qhimg.com/t019e9b326c9c8a80f9.png) no-repeat center -4.19rem;
    background-size: 2.7066666666666666rem auto;
}

.page-hd-color-iphone .block2{}
.page-hd-color-iphone .com-question{
    padding: .2rem .1rem;
    margin: 0 auto;
}
.page-hd-color-iphone .com-question h3{
    text-align: center;
    font-size: .16rem;
    color: #333;
    padding-bottom: .1rem;
    font-weight: normal;
}
.page-hd-color-iphone .com-question-con h4{
    font-size: .14rem;
    color: #333;
    padding: .05rem 0 .16rem .4rem;
    background: url("https://p.ssl.qhimg.com/t01cffe8b0bece76afc.png") no-repeat 0 .04rem;
    background-size: .28rem;
}
.page-hd-color-iphone .com-question-con p{
    line-height: .2rem;
    font-size: .12rem;
    color: #666;
    padding: 2px 0 .16rem .4rem;
    background: url("https://p.ssl.qhimg.com/t0184dfd24d0ba61ca9.png") no-repeat 0 0;
    background-size: .28rem;
}

.page-hd-color-iphone .block5{
    height: 5.017777777777778rem;
    background: url("https://p.ssl.qhimg.com/t0132f89548a04fc981.png") no-repeat 0 0;
    background-size: 100%;
}
.page-hd-color-iphone .block5 a{
    height: 1.088888888888889rem;
    display: block;
}
.page-hd-color-iphone .bg-cover{
     background-size: cover;
}

.page-hd-color-iphone .block6{
    background: #F1F1F1;
}







.page-hd-color-iphone .slide-shower-wrap .img-process-intro .tit{
    padding: .08rem 0 0 0;
    font-size: .2rem;
    line-height: 2;
    text-align: center;
}
.page-hd-color-iphone .slide-shower-wrap .img-process-intro .col-2-1{
    padding: .1rem;
}
.page-hd-color-iphone .slide-shower-wrap .img-process-intro img{
    width: 100%;
}
