* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

*:before,
*:after {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

html {
    /*height: 100%;*/
    height     : auto;
    min-height : 100%;
}

body {
    margin                     : 0 auto;
    max-width                  : 720px;
    min-width                  : 320px;
    /*height: 100%;*/
    height                     : auto;
    min-height                 : 100%;
    font-family                : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-overflow-scrolling : touch;
}

.mainbody {
    /*height: 100%;*/
    min-height : 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.mainbody-inner {
    min-height : 100%;
}

html, body {
    background  : #fff;
    font-family : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.relative {
    position : relative;
}

a {
    text-decoration : none;
}

.clearfix:after {
    display : block;
    content : '';
    clear   : both;
}

.clearfix {
    zoom : 1;
}

.w100 {
    width : 100%;
}

.fl {
    float : left;
}

.fr {
    float : right;
}

/*滑动块基本样式*/
.slide-shower-wrap {
    position : relative;
    overflow : hidden;
}

.slide-shower-wrap .slide-shower {
    position : relative;
}

.slide-shower-wrap .s-item {
    position : relative;
    float    : left;
}

.slide-shower-wrap .slide-nav {
    padding    : .12rem 0 .16rem 0;
    font-size  : 0;
    text-align : center;
}

.slide-shower-wrap .slide-nav span {
    margin-right  : .05rem;
    display       : inline-block;
    width         : .1rem;
    height        : .1rem;
    background    : #c5c5c5;
    border        : 1px solid #c5c5c5;
    border-radius : 999px;
}

.slide-shower-wrap .slide-nav .cur {
    background : #fff;
}

/*END 滑动块基本样式*/

.page-hd-dell .slide-shower-wrap .slide-nav {
    position : absolute;
    bottom   : 0;
    right    : 0;
    left     : 0;
    margin   : 0 auto;
    padding  : .12rem 0 0.08rem 0;
    width    : 1rem;
}

.page-hd-dell .slide-shower-wrap .slide-nav span {
    border     : 1px solid #fff;
    background : rgba(90, 90, 90, 0.70);
}

.page-hd-dell .slide-shower-wrap .slide-nav .cur {
    background : rgba(255, 255, 255, 0.90);
}

.page-hd-dell .block1 {
    /*height:1.9555555555555555rem;*/
    height   : 1.52rem;
    overflow : hidden;
    /*background: url("https://p.ssl.qhimg.com/t018cf6fcc4effd60a7.jpg") no-repeat center 0;*/
}

.page-hd-dell .btn-fanxinji-desc {
    font-size       : .1rem;
    position        : absolute;
    right           : .08rem;
    top             : .43rem;
    color           : #e2fdff;
    text-decoration : underline;
}

.page-hd-dell .fanxinji-desc-box {
    background  : #fff;
    font-size   : .12rem;
    padding     : .18rem .15rem;
    line-height : .22rem;
}

.page-hd-dell .block2 {

}

/*.page-hd-dell .product-list {*/
    /*padding-top : 10px;*/
/*}*/

/*.page-hd-dell .product-list .item {*/
    /*position           : relative;*/
    /*float              : left;*/
    /*margin             : 0 .05rem .1rem;*/
    /*width              : 1.5rem;*/
    /*!*min-height: 285px;*!*/
    /*background         : #fff;*/
    /*text-align         : center;*/

    /*-webkit-transition : height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);*/
    /*-moz-transition    : height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);*/
    /*-ms-transition     : height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);*/
    /*-o-transition      : height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);*/
    /*transition         : height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);*/
/*}*/

/*.page-hd-dell .product-list .item a {*/
    /*display   : block;*/
    /*padding   : 10px 4%;*/
    /*font-size : .14rem;*/
    /*color     : #000;*/
/*}*/

/*.page-hd-dell .product-list .item a:hover {*/
    /*text-decoration : none;*/
/*}*/

/*.page-hd-dell .product-list .p-img {*/
    /*margin : 0 auto;*/
    /*width  : 100%;*/
/*}*/

/*.page-hd-dell .product-list .p-img img {*/
    /*width : 100%;*/
/*}*/

/*.page-hd-dell .product-list .p-tit {*/
    /*font-size     : .12rem;*/
    /*padding       : .15rem 0 .04rem;*/
    /*color         : #333;*/
    /*border-bottom : 2px solid #e9e9e9;*/
/*}*/

/*.page-hd-dell .product-list .p-tit2 {*/
    /*font-size : .12rem;*/
    /*padding   : .1rem 0 .06rem;*/
    /*color     : #08c;*/
/*}*/

/*.page-hd-dell .product-list .p-price {*/
    /*color : #999;*/
/*}*/

/*.page-hd-dell .product-list .p-price .price-tit {*/
    /*font-size : .10rem;*/
/*}*/

/*.page-hd-dell .product-list .p-price .price-cnt {*/
    /*font-size       : .12rem;*/
    /*text-decoration : line-through;*/
/*}*/

/*.page-hd-dell .product-list .p-price-new {*/
    /*font-size : .14rem;*/
    /*color     : #f50;*/
/*}*/

/*.page-hd-dell .product-list .btn-qiang {*/
    /*margin      : .05rem auto 0;*/
    /*display     : block;*/
    /*width       : 1.2rem;*/
    /*height      : .3rem;*/
    /*line-height : .3rem;*/
    /*background  : #f50;*/
    /*font-size   : .12rem;*/
    /*color       : #fff;*/
    /*text-align  : center;*/
/*}*/

/* 活动说明 */
.page-hd-dell .block3 {
    border-top : 2px solid #e9e9e9;
    padding    : .2rem .06rem .1rem;
}

.page-hd-dell .hd-desc {
    color : #333;
}

.page-hd-dell .hd-desc-tit {
    font-size   : .2rem;
    font-weight : normal;
    padding     : 0 0 .08rem .14rem;
}

.page-hd-dell .hd-desc-cont {
    font-size   : .12rem;
    line-height : .2rem;
}

.page-hd-dell .ewm {
    text-align : center;
    padding    : .1rem 0 .2rem;
}

.page-hd-dell .ewm-tips {
    font-size : .12rem;
    padding   : .03rem 0;
}

.page-hd-dell .p-item-wrap-nomore {
    text-align : center;
    color      : #fff;
}

.page-hd-dell .bg-cover {
    background-size : cover;
}

/********** 新改版样式 ***********/
/********** 新改版样式 ***********/
.page-hd-dell {
    background : #2230ad;
}

.page-hd-dell .block {
    border : 0;
}

.page-hd-dell .block4 {
    height          : 2.617777777777778rem;
    background      : url(https://p.ssl.qhimg.com/t01ced930f6c34d3177.jpg) no-repeat center 0;
    background-size : cover;
}

.page-hd-dell .nav-tab {
    font-size : 0;
}

.page-hd-dell .nav-tab a {
    padding: .1rem 0 0;
    display: inline-block;
    width: 25%;
    height: 1rem;
    text-align: center;
    background: #3c9dfd;
    color: #fff;
    font-size: .1rem;
    border-right: 1px solid #1f39b2;
    vertical-align: top;
    position: relative;
}
.page-hd-dell .nav-tab a:last-child{
    border-right: 0;
}
.page-hd-dell .nav-tab a:hover {
    text-decoration : none;
}

.page-hd-dell .nav-tab h3 {
    line-height: 2;
    font-size : .16rem;
}

.page-hd-dell .nav-tab .desc {
    font-size : .1rem;
}

.page-hd-dell .nav-tab a.cur {
    background : #fff002;
}

.page-hd-dell .nav-tab a.cur h3 {
    color : #ff7301;
}

.page-hd-dell .nav-tab a.cur .desc {
    color : #000;
}
.page-hd-dell .nav-tab-placeholder {
    display : none;
    height  : 1.36rem;
}
.page-hd-dell .nav-tab-desc li{
    position: relative;
    padding: 0 0 0 .2rem;
    height: .36rem;
    line-height: .36rem;
    color: #fff;
    display: none;
}
.page-hd-dell .nav-tab-desc .cur{
    display: block;
}
.page-hd-dell .nav-tab .arrow,
.page-hd-dell .nav-tab .arrow-inner{
    position: absolute;
    left: .32rem;
    bottom: -.06rem;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-color: #2230ad #2230ad transparent transparent;
    border-style: solid solid dashed dashed;
    border-width: .06rem .06rem .06rem .06rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}
.page-hd-dell .nav-tab .arrow-inner{
    bottom: -.06rem;
    border-color: #2230ad #2230ad transparent transparent;
}
.page-hd-dell .nav-tab .cur .arrow,
.page-hd-dell .nav-tab .cur .arrow-inner{
    display: block;
}

.page-hd-dell .extend-promo-enter {

}

.page-hd-dell .extend-promo-enter a {
    margin  : 0 auto .1rem auto;
    display : block;
    width   : 3.071111111111111rem;
    height  : 0.6rem;
}

.page-hd-dell .extend-promo-enter a:hover {
    text-decoration : none;
    opacity         : .8;
}

.page-hd-dell .extend-promise-intro {
    margin        : 0 auto .1rem auto;
    width         : 3.0844444444444443rem;
    height        : 1.7644444444444445rem;
    background    : #3c9dfd;
    border-radius : .03rem;
}

.page-hd-dell .extend-special-intro {
    margin        : 0 auto .1rem auto;
    width         : 3.0844444444444443rem;
    background    : #3c9dfd;
    border-radius : .03rem;
    color         : #fff;
    font-size     : .12rem;
}

.page-hd-dell .extend-special-intro-tit {
    padding   : .1rem .22rem;
    font-size : .16rem;
}

.page-hd-dell .extend-special-intro-cont {
    padding : 0 .1rem .1rem .1rem;
}

.page-hd-dell .extend-special-intro-cont p {
    padding     : 0 0 .1rem .12rem;
    text-indent : -.12rem;
}

.page-hd-dell .extend-partner {
    margin     : 0 auto .1rem auto;
    width      : 3.0844444444444443rem;
    background : transparent;
    color      : #fff;
}

.page-hd-dell .extend-partner-tit {
    padding   : .1rem .22rem;
    font-size : .16rem;
}

.page-hd-dell .extend-partner-cont {
    margin : 0 auto .4rem auto;
    width  : 2.44rem;
    height : 0.8311111111111111rem;
}

.page-hd-dell .tit{
    height: .3rem;
    width: 1rem;
    margin: 0 auto .1rem;
}
.page-hd-dell h4{
    text-align:center;
    color: #fff;
    padding:5px 0 12px 0;
}
.page-hd-dell .tit1{
     background: url("https://p.ssl.qhimg.com/t01d63de094810dd2da.png") center 0 no-repeat;
     background-size: cover;
}
.page-hd-dell .tit2{
    background: url("https://p.ssl.qhimg.com/t01caf8fb2be44e8f69.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-dell .tit3{
    background: url("https://p.ssl.qhimg.com/t01ea477f025442ac9d.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-dell .tit4{
    background: url("https://p.ssl.qhimg.com/t01c321a612561576c0.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-dell .tit5{
    background: url("https://p.ssl.qhimg.com/t018f9c0a64506452d8.png") center 0 no-repeat;
    background-size: cover;
    width: 1.18rem;
}
.page-hd-dell .product-list{
    margin-bottom: .2rem;
}
.page-hd-dell .product-tit-pic{
    float: left;
}
.page-hd-dell .product-list .item{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 .1rem .12rem;
    background: #fff;
}
.page-hd-dell .item{
    border: 1px solid #D2D2D2;
    border-top: 1px solid transparent;
}
.page-hd-dell .item:nth-child(even){
    border-left: 1px solid transparent;
}
.page-hd-dell .product-list .item a{
    display: block;
}
.page-hd-dell .product-list .item a:hover{
    text-decoration: none;
}
.page-hd-dell .product-list .p-img{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 auto;
}
.page-hd-dell .product-list .p-img img{
    width: 100%;
}
.page-hd-dell .product-list .p-tit{
    font-size: .12rem;
    padding-top: .05rem;
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.page-hd-dell .product-list .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: .1rem;
    padding-top: .08rem;
}
.page-hd-dell .product-list .p-price-new .price-tit{
}
.page-hd-dell .product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.page-hd-dell .product-list .p-price{
    line-height: 100%;
    padding-top: .05rem;
    font-size: .12rem;
    color: #ff3300;
}
.page-hd-dell .product-list .p-price .price-cnt{
    font-size: .15rem;
}

.page-hd-dell .product-list .btn-qiang{
    margin: .1rem auto 0;
    display: block;
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    background: #fe4d4e;
    font-size: .14rem;
    color: #fff;
    text-align: center;
}
.page-hd-dell .product-list .btn-disabled{
    background-color: #ddd;
}
.page-hd-dell .block6 .product-list{
    margin-bottom: 0;
}
.page-hd-dell .more{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
}
.page-hd-dell .more a{
    color: #fff;
}
.page-hd-dell .for-more a{
    float: left;
    margin-bottom: 16px;
}
.pos1{margin-top:.2rem;}