* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

*:before,
*:after {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

html {
    /*height: 100%;*/
    height     : auto;
    min-height : 100%;
}

body {
    margin                     : 0 auto;
    max-width                  : 720px;
    min-width                  : 320px;
    /*height: 100%;*/
    height                     : auto;
    min-height                 : 100%;
    font-family                : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-overflow-scrolling : touch;
}

.mainbody {
    /*height: 100%;*/
    min-height : 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.mainbody-inner {
    min-height : 100%;
}

html, body {
    background  : #fff;
    font-family : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 100%;
}

.relative {
    position : relative;
}

a {
    text-decoration : none;
}

.clearfix:after {
    display : block;
    content : '';
    clear   : both;
}

.clearfix {
    zoom : 1;
}

.w100 {
    width : 100%;
}

.fl {
    float : left;
}

.fr {
    float : right;
}
/*块、行的基本模式*/
.row {
    zoom: 1;
    clear: both;
}

.row:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}

.row,
.row .col-1-1,
.row .col-2-1,
.row .col-3-1,
.row .col-3-2,
.row .col-3-3,
.row .col-4-1,
.row .col-4-2,
.row .col-4-3,
.row .col-4-4,
.row .col-12-1,
.row .col-12-2,
.row .col-12-3,
.row .col-12-4,
.row .col-12-5,
.row .col-12-6,
.row .col-12-7,
.row .col-12-8,
.row .col-12-9,
.row .col-12-10,
.row .col-12-11,
.row .col-12-12,
.row .col-left-fixed, .row .col-left,
.row .col-right, .row .col-right-fixed,
.row .col-left-float {
    display: block;
    float: left;
}

.row,
.row .col-left,
.row .col-right {
    float: none;
}

.row .col-right-float,
.row .col-right-fixed {
    float: right;
}

.row .col-12-1 {
    width: 8.3333333333333333%;
}

.row .col-12-2 {
    width: 16.6666666666666666%;
}

.row .col-4-1,
.row .col-12-3 {
    width: 25%;
}

.row .col-3-1,
.row .col-12-4 {
    width: 33.3333333333333333%;
}

.row .col-12-5 {
    width: 41.6666666666666666%;
}

.row .col-2-1,
.row .col-4-2,
.row .col-12-6 {
    width: 50%;
}

.row .col-12-7 {
    width: 58.3333333333333333%;
}

.row .col-3-2,
.row .col-12-8 {
    width: 66.6666666666666666%;
}

.row .col-4-3,
.row .col-12-9 {
    width: 75%;
}

.row .col-12-10 {
    width: 83.3333333333333333%;
}

.row .col-12-11 {
    width: 91.6666666666666666%;
}

.row .col-1-1,
.row .col-3-3,
.row .col-4-4,
.row .col-12-12 {
    width: 100%;
}

/*END行的基本模式*/

/*滑动块基本样式*/
.slide-shower-wrap {
    position : relative;
    overflow : hidden;
    width: 100%;
}

.slide-shower-wrap .slide-shower {
    position : relative;
}

.slide-shower-wrap .s-item {
    position : relative;
    float    : left;
}

.slide-shower-wrap .slide-nav {
    padding    : .12rem 0;
    font-size  : 0;
    text-align : center;
}

.slide-shower-wrap .slide-nav span {
    margin-right  : .05rem;
    display       : inline-block;
    width         : .1rem;
    height        : .1rem;
    background    : #c5c5c5;
    border        : 1px solid #c5c5c5;
    border-radius : 999px;
}

.slide-shower-wrap .slide-nav .cur {
    background : #ff7b00;
}

/*END 滑动块基本样式*/

.page-hd-erhuojie_jinqiu {
    background : #ffb600;
}

.page-hd-erhuojie_jinqiu .block {
    border : 0;
    position: relative;
}

.page-hd-erhuojie_jinqiu .block1 {
    height          : 1.3111111111111111rem;
    background      : url(https://p.ssl.qhimg.com/t01a9c23757c725538a.jpg) no-repeat center 0;
    background-size : cover;
}

.page-hd-erhuojie_jinqiu .tab-list {
    width: 3.2rem;
    position: absolute;
    left: 0;
    top:3.1rem;
    z-index: 5;
}
.page-hd-erhuojie_jinqiu .fixed{
    position: fixed;
    left: 0;
    top:0;
}
.page-hd-erhuojie_jinqiu .nav-tab-placeholder{
    position: absolute;
    left: 0;
    top:2rem;
}
.page-hd-erhuojie_jinqiu .tab-list li {
    float: left;
    width: 25%;
    height: 0.4711111111111111rem;
    line-height: 0.4711111111111111rem;
    /*background: url("https://p.ssl.qhimg.com/t011a33b30c1fad4e95.jpg") 0 0 no-repeat;*/
    /*background-size: cover;*/
    font-size: .14rem;
    font-weight: 600;
    text-align: center;
    color: #fff002;
    background: #fc9900;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}
.page-hd-erhuojie_jinqiu .tab-list li:last-child{
    border: 0;
}
.page-hd-erhuojie_jinqiu .tab-list .cur{
    background: #fff002;
    color: #f83f61;
}
.page-hd-erhuojie_jinqiu .tab-list .arrow{
    width: 0px;
    height: 0px;
    border: .1rem solid transparent;
    border-bottom: .1rem solid #ffb600;
    position: absolute;
    left: 50%;
    margin-left: -.1rem;
    bottom: 0;
    display: none;
}
.page-hd-erhuojie_jinqiu .cur .arrow{
    display: block;
}

/*.page-hd-erhuojie_jinqiu .tab-list [data-pos="2"],*/
/*.page-hd-erhuojie_jinqiu .tab-list .cur[data-pos="2"]*/
/*{*/
    /*background-position: 0px 0px;*/
/*}*/
/*.page-hd-erhuojie_jinqiu .tab-list [data-pos="3"],*/
/*.page-hd-erhuojie_jinqiu .tab-list .cur[data-pos="3"]{*/
    /*background-position: 33.3333% 0px;*/
/*}*/
/*.page-hd-erhuojie_jinqiu .tab-list [data-pos="4"],*/
/*.page-hd-erhuojie_jinqiu .tab-list .cur[data-pos="4"]{*/
    /*background-position: 66.6666% 0px;*/
/*}*/
/*.page-hd-erhuojie_jinqiu .tab-list [data-pos="5"],*/
/*.page-hd-erhuojie_jinqiu .tab-list .cur[data-pos="5"]{*/
    /*background-position: 99.9999% 0px;*/
/*}*/
/*.page-hd-erhuojie_jinqiu .tab-list .cur{*/
    /*background: url("https://p.ssl.qhimg.com/t01c9cca9fc35f06408.jpg") 0 0 no-repeat;*/
    /*background-size: cover;*/
/*}*/


.page-hd-erhuojie_jinqiu .tit{
    height: 0.5244444444444445rem;
}
.page-hd-erhuojie_jinqiu .tit1{
    background: url("https://p.ssl.qhimg.com/t015ad36e8b245e425d.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-erhuojie_jinqiu .tit2{
    background: url("https://p.ssl.qhimg.com/t018fb58b66f48f1b07.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-erhuojie_jinqiu .tit3{
    background: url("https://p.ssl.qhimg.com/t01ef2dd8608ee4aaaa.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-erhuojie_jinqiu .tit4{
    background: url("https://p.ssl.qhimg.com/t0163482d68d345c549.png") center 0 no-repeat;
    background-size: cover;
}
.page-hd-erhuojie_jinqiu .block2{
    padding-top: .6rem;
}
.page-hd-erhuojie_jinqiu .block3 .product-list{

}
.page-hd-erhuojie_jinqiu .p-item{
    width: 50%;
    height: 50%;
    float: left;
}

.page-hd-erhuojie_jinqiu .product-list .item{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 .1rem .12rem;
    background: #fff;
}
.page-hd-erhuojie_jinqiu .item{
    border: 1px solid #f1f1f1;
    border-top: 1px solid transparent;
}
.page-hd-erhuojie_jinqiu .item:nth-child(even){
    border-left: 1px solid transparent;
}
.page-hd-erhuojie_jinqiu .product-list .item a{
    display: block;
}
.page-hd-erhuojie_jinqiu .product-list .item a:hover{
    text-decoration: none;
}
.page-hd-erhuojie_jinqiu .product-list .p-img{
    width: 1.2rem;
    height: 1.3rem;
    margin: 0.03rem auto;
}
.page-hd-erhuojie_jinqiu .product-list .p-img img{
    width: 100%;
}
.page-hd-erhuojie_jinqiu .product-list .p-tit{
    height: .32rem;
    font-size: .12rem;
    /*padding-top: .05rem;*/
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: .16rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.page-hd-erhuojie_jinqiu .product-list .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: .1rem;
    padding-top: .08rem;
}
.page-hd-erhuojie_jinqiu .product-list .p-price-new .price-tit{
}
.page-hd-erhuojie_jinqiu .product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.page-hd-erhuojie_jinqiu .product-list .p-price{
    line-height: 100%;
    padding-top: .05rem;
    font-size: .12rem;
    color: #ff3300;
}
.page-hd-erhuojie_jinqiu .product-list .p-price .price-cnt{
    font-size: .15rem;
}

.page-hd-erhuojie_jinqiu .product-list .btn-qiang{
    margin: .1rem auto 0;
    display: block;
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    background: #fe4d4e;
    font-size: .14rem;
    color: #fff;
    text-align: center;
}
.page-hd-erhuojie_jinqiu .product-list .btn-disabled{
    background-color: #ddd;
}
.page-hd-erhuojie_jinqiu .product-list .p-label{
    position: absolute;
    top: 0;
    left: 4px;
    width: .35rem;
}
.page-hd-erhuojie_jinqiu .product-list .offset-label{
    position: absolute;
    top: 0;
    left: .04rem;
    padding: .08rem 0;
    width: .4rem;
    /*height: .6rem;*/
    text-align: center;
    font-size: .1rem;
    line-height: 1.4;
    color: #fff;
    background: #f53b3c;
}
.page-hd-erhuojie_jinqiu .more{
    width: 1.13rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .14rem;
    border: 1px solid #fff;
    border-radius: 999px;
    margin: 0.1rem auto .15rem;
}
.page-hd-erhuojie_jinqiu .more a{
    color: #fff;
}

/* 底部关注同城帮微信*/
.page-hd-erhuojie_jinqiu .block-ewm-bottom{
    background: #3c9dfd;
    border-radius: 8px;
    text-align: center;
    margin: .1rem .1rem .2rem;
}
.page-hd-erhuojie_jinqiu .block-ewm-bottom h3{
    font-size: .14rem;
    font-weight: normal;
    padding: .15rem 0 .1rem;
    color: #f9ed03;
}
.page-hd-erhuojie_jinqiu .block-ewm-bottom p{
    font-size: .12rem;
    color: #fff;
    padding-bottom: .15rem;
}
.page-hd-erhuojie_jinqiu .block-ewm-bottom img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    margin-bottom: .1rem;
}

/*今日秒杀*/
.page-hd-erhuojie_jinqiu .block-miaosha{
    background: #fff;
}
.page-hd-erhuojie_jinqiu .block-miaosha .row-countdown{
    height: .4rem;
    line-height: .4rem;
    font-size: .1rem;
}
.page-hd-erhuojie_jinqiu .block-miaosha .countdown-logo{
    padding: 0 .05rem;
}
.page-hd-erhuojie_jinqiu .block-miaosha .desc{
    color: #ff395f;
    font-weight: bold;
}
/*今日秒杀倒计时*/
.page-hd-erhuojie_jinqiu .block-miaosha .countdown span{
    font-size: .14rem;
    color: #ff395f;
    display: none;
}
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .desc-txt,
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .h-txt,
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .m-txt{
    font-size: .1rem;
    color: #333;
    display: inline;
}
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .h-num,
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .m-num,
.page-hd-erhuojie_jinqiu .block-miaosha .countdown .s-num{
    display: inline;
}
/*今日秒杀倒计时end*/
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product{
    height: 1.3rem;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .item{
    padding:0 .1rem;
    border: none;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .p-img{
    float: left;
    width: .9rem;
    height: .9rem;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .p-info{
    float: left;
    width: 2rem;
    padding-left: .2rem;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .p-tit{
    height: .32rem;
    font-size: .12rem;
    /*padding-top: .05rem;*/
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: .16rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-weight: normal;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: .1rem;
    padding-top: .08rem;
    text-decoration: line-through;
}
.page-hd-erhuojie_jinqiu .block-miaosha .miaosha-product .p-price{
    color: #ff395f;
    line-height: 100%;
    padding-top: .05rem;
    font-size: .22rem;
}