*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    /*height: 100%;*/
    height: auto;
    min-height: 100%;
}
body{
    margin: 0 auto;
    max-width: 720px;
    min-width: 320px;
    /*height: 100%;*/
    height: auto;
    min-height: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-overflow-scrolling : touch;
}
.mainbody{
    /*height: 100%;*/
    min-height: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}
.mainbody-inner{
    min-height: 100%;
}
.block{
    display: block;
    border: 0;
}
.blur{
    -webkit-filter: blur(10px);
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.h40{height: 40px;}
.f12{font-size: 12px;}
.w100{width: 100%;}
.hide{display: none;}
.ohidden{
    overflow: hidden;
}
.relative{position: relative;}
/*行的基本模式*/
.block,.row,
.col-2-1,
.col-4-1,
.col-left-fixed, .col-left,
.col-right,.col-right-fixed{
    display: block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.row{
    zoom: 1;
    clear: both;
}
.col-2-1,
.col-4-1,
.col-left-fixed{
    float: left;
}
.col-2-1{
    width: 50%;
}
.col-4-1{
    width: 25%;
}
.col-right-fixed{
    float: right;
}
/*END行的基本模式*/
/* 箭头 */
.arrow-down,
.arrow-right{
    position: relative;
}
.arrow-right:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-down:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/* END箭头 */

/*dialog层基本样式*/
.dialog-mask{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    background: #000;
    opacity: .6;
}
.dialog-wrap{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    /*bottom: 10px;*/
    z-index: 9998;
    margin: 0 auto;
    max-width: 700px;
    border: 1px solid #B2B2B2;
    background: #fff;
    /*background: #F3F6FB;*/
    border-radius: 8px;
}
.dialog-wrap .dialog-close,
.dialog-wrap .dialog-close:hover{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 36px;
    height: 36px;
    z-index: 9999;
    /*background: url(../../../img/huodong/rose/x.png) no-repeat center;*/
    background-size: 36px;
    text-decoration: none;
    cursor: pointer;
}
.dialog-wrap .dialog-inner{
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #202020;
}
/*END dialog层基本样式*/

.m-fenxiang-intro-wrap{
    position: absolute;
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.m-fenxiang-intro-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.m-fenxiang-intro-inner a,
.m-fenxiang-intro-inner a:hover{
    padding-bottom: 40px;
    display: block;
    text-decoration: none;
}
.m-fenxiang-intro-bg,
.m-fenxiang-intro-bg:hover{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.m-fenxiang-intro-inner a .txt{
    margin-top: 20px;
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
    font-weight: normal;
}
.m-fenxiang-intro-inner .huichang-desc{
    color: #fff;
    font-size: 14px;
}

.share-cont{
    color: #fff;
    text-align: center;
}
.share-cont .tit{
    font-size: .24rem;
    line-height: .26rem;
    text-indent: -0.1rem;
}
.share-cont .num{
    font-size: .14rem;
    margin-top: 1rem;
}
html,body{
    background: #ffe6ab;
}
.block .block-inner{
    margin: 0 2%;
}
.block .tit{
    height: 0.3111111111111111rem;
}
/*分享成功优惠券*/
.coupon-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999;
}
.coupon-wrap .coupon-inner{
    padding:0 0.35rem;
}
.coupon-wrap .code-list{
    position: absolute;
    top: 1.85rem;
    left: 1.3rem;
    font-size: .14rem;
}
.coupon-wrap .code-list li{
    width: .53rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    color: #ca1d43;
    margin-bottom: .6rem;
}
.coupon-wrap .btn-lijishiyong{
    position: absolute;
    top: 3.9rem;
    left: .83rem;
    width: 1.58rem;
    height: .275rem;
    text-decoration: none;
}
.coupon-wrap .btn-lijishiyong:hover{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.block1{
    height: 2.7644444444444445rem;
    background: url(https://p.ssl.qhimg.com/t01da386a897cb0ca0f.jpg) no-repeat center 0;
    background-size: cover;
}
.block1 .coupon-date{
    position: absolute;
    width: 0.8rem;
    height: 0.20rem;
    right: 0.08rem;
    bottom: 0.36rem;
    line-height: .12rem;
    font-size: .10rem;
    color: #fff;
    text-align: center;
}
.block1 .btn-get-coupon{
    position: absolute;
    width: 0.72rem;
    height: 0.24rem;
    right: 0.12rem;
    bottom: 0.06rem;
    line-height: 0.24rem;
    font-size: .12rem;
    font-weight: bold;
    background: #ffee84;
    color: #ff3b58;
    border-radius: 18px;
    text-align: center;
}
.block1 .btn-got-coupon{
    position: absolute;
    width: 0.72rem;
    height: 0.24rem;
    right: 0.12rem;
    bottom: 0.06rem;
    line-height: 0.24rem;
    font-size: .12rem;
    font-weight: bold;
    border-radius: 18px;
    text-align: center;
    background: #dbdbdb;
    color: #999;
}
.block1 .coupon-list{
    width: 2.4rem;
    height: .2rem;
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
}
.block1 .coupon-list li{
    color: #ff3b58;
    width: .76rem;
    height: .2rem;
    text-align: center;
    float: left;
}
.block2{
    padding-top: 40%;
    background: url(https://p.ssl.qhimg.com/t01b597ea0559694c11.png) no-repeat center 0;
    background-size: cover;
}
.block3{
    position: relative;
    padding-top: 20%;
    background: url(https://p.ssl.qhimg.com/t01253d51d524f2523d.jpg) no-repeat center 0;
    background-size: cover;
}
.block4{
    position: relative;
    padding-top: 16.666666666666666666%;
    background: url(https://p.ssl.qhimg.com/t017cc54aea006ce40a.png) no-repeat center 0;
    background-size: cover;
}
.block4 .btn-get-coupon,
.block4 .shower-coupon{
    position: absolute;
    top: -26.5%;
    left: 2%;
    right: 2%;
    width: 96%;
    height: 110%;
    background: url(https://p.ssl.qhimg.com/t0137e7b4f66da7dc0e.png) no-repeat 96% center;
    background-size: 34%;
}
.block4 .btn-get-coupon:hover{
    opacity: .9;
}
.block4 .shower-coupon{
    background: transparent;
}
.block4 .shower-coupon-cnt{
    margin-left: 60%;
    display: table;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
}
.block4 .shower-coupon-cnt-inner{
    display: table-cell;
    font-size: .14rem;
    line-height: 1.4;
    color: #CD1E24;
    vertical-align: middle;
}
.block4 .shower-coupon-cnt-inner .txt{
    font-size: .1rem;
}

.block5{
    background: url("https://p.ssl.qhimg.com/t010ac64b69995847a6.png") no-repeat center -38px;
    background-size: cover;
}
.block5 .tit{
    background: url(https://p.ssl.qhimg.com/t015658b2d14227ef8d.png) no-repeat center;
    background-size: cover;
}

.block6{
    background: url(https://p.ssl.qhimg.com/t013ae7c5883684e0d7.png) no-repeat center -175px;
    background-size: cover;
}
.block6 .tit{
    background: url(https://p.ssl.qhimg.com/t013892795d538e7461.png) no-repeat center;
    background-size: cover;
}

.block6-1{
    background: url(https://p.ssl.qhimg.com/t013ae7c5883684e0d7.png) no-repeat center -275px;
    background-size: cover;
}
.block6-1 .tit{
   
    background: url(https://p.ssl.qhimg.com/t01a017f5bf8b76647c.png) no-repeat center;
    background-size: cover;
}

.block6-2{
    /*background: #2296ff;*/
}
.block6-2 .tit{
    background: url(https://p.ssl.qhimg.com/t01fc918609f3a09b9f.png) no-repeat center;
    background-size: cover;
}

.block6-3{
    /*background: #fe9601;*/
}
.block6-3 .tit{
    background: url(https://p.ssl.qhimg.com/t01023df0888836bf0a.png) no-repeat center;
    background-size: cover;
}

.block6-4{
    /*background: #9858a8;*/
}
.block6-4 .tit{
    background: url(https://p.ssl.qhimg.com/t01691938da03b1bab4.png) no-repeat center;
    background-size: cover;
}

.block7{
    /*background: #88c838;*/
}
.block7 .tit{
    background: url(https://p.ssl.qhimg.com/t0177058d5db9f96974.png) no-repeat center;
    background-size: cover;
}

.block8{
    /*background: #6e309f;*/
}
.block8 .block-inner{
    padding-top: 3.5%;
    padding-bottom: 1px;
}

/*二货节活动*/
.page-hd-1225{
    overflow-x: hidden;
}
.product-list{
    /*margin-bottom: 10px;*/
}
.product-list .item{
    position: relative;
    float: left;
    margin-left: 2%;
    margin-bottom: 10px;
    width: 47%;
    /*min-height: 285px;*/
    background: #fff;

    -webkit-transition: height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -moz-transition: height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -ms-transition: height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -o-transition: height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition: height .8s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.product-list .item a{
    display: block;
    padding: 10px 4%;
    font-size: 14px;
    color: #000;
}
.product-list .item a:hover{
    text-decoration: none;
}
.product-list .p-img{
    margin: 0 auto;
    width: 100%;
    height: 1.4rem;
}
.product-list .p-img img{
    width: 100%;
}
.product-list .p-tit{
    font-size: .12rem;
    height: .36rem;
    /*height: 1.6rem;*/
    line-height: 1.6;
    /*white-space:nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break:break-all;
}
.product-list .p-price-new{
    margin: .04rem 0 0 0;
    font-size: .1rem;
    color: #666;
}
.product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.product-list .p-price{
    color: #ff3300;
    font-size: .11rem;
}
.product-list .p-price .price-cnt{
    font-size: .12rem;
}
.product-list .p-miao-label{
    position: absolute;
    top: 0;
    left: 0;
    width: 31.3%;
}
.product-list .btn-qiang{
    margin-top: .04rem;
    display: block;
    width: 100%;
    height: .28rem;
    line-height: .28rem;
    background: #FF3638;
    font-size: .12rem;
    color: #fff;
    text-align: center;
}
.product-list .btn-disabled{
    background-color: #ddd;
}
.product-list .countdown{
    margin:4% 0 0;
    font-size: 0;
    color: #666;
    text-align: center;
    vertical-align: middle;
}
.product-list .countdown span{
    display:inline-block;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    font-size: .1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.product-list .countdown .desc-txt{
    width: auto;
}
.product-list .countdown .h-num,
.product-list .countdown .m-num,
.product-list .countdown .s-num{
    border:1px solid #FF3638;
    border-radius: 20%;
}
.product-list .countdown .h-txt,
.product-list .countdown .m-txt{
    width: .1rem;
}
.product-list .countdown .d-num,
.product-list .countdown .d-txt,
.product-list .countdown .s-txt,
.product-list .countdown .desc-txt-behind{
    display: none;
}
.product-list .countdown-start-prev{

}
.product-list .countdown-start-prev .h-num,
.product-list .countdown-start-prev .m-num,
.product-list .countdown-start-prev .s-num{
    border:1px solid #ddd;
    border-radius: 20%;
}
.product-list .countdown-end-next{
    font-size: .1rem;
    line-height: .2rem;
    border: 1px solid #fff;
}

.page-hd-1225 .product-list-htcjd .item{
    padding: 0;
    background: #fff;
    min-height: inherit;
    border: 0;
}
.page-hd-1225 .product-list-htcjd .item a,
.page-hd-1225 .product-list-htcjd .item a:hover{
    padding: 0;
    border: 0;
}

.more{
    padding-bottom: 10px;
    text-align: center;
}
.more a{
    font-size: 14px;
    color: #ca1d43;
}

.extend-promote,
.extend-desc,
.extend-qrcode{
    margin-bottom: 3%;
    display: block;
}
.extend-promote:hover{
    opacity: .9;
}
.extend-qrcode{
    margin-bottom: 10%;
}

/*分享成功*/
.m-share-success-wrap{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.m-share-success-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.m-share-success-block1{
    padding-top: 25%;
    background: url(https://p.ssl.qhimg.com/t012f984a529fcda60d.png) no-repeat center;
    background-size: contain;
}
.m-share-success-block2{
    position: relative;
    padding-top: 80%;
    background: url(https://p.ssl.qhimg.com/t01c0b7610a275d32d1.png) no-repeat center;
    background-size: contain;
}
.m-share-success-coupon-code{
    position: absolute;
    bottom: 56%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #6523FF;
    font-size: 14px;
}
.btn-share-success-usecode{
    position: absolute;
    top: 74%;
    left: 31.5%;
    width: 38%;
    height: 9%;
}
.btn-share-success-usecode:hover{
    background: rgba(0, 0, 0, 0.1);
}
.m-share-success-bg{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}


.page-hd-erhuojie_160322 .date-tab{
    margin: 0 2% 10px 2%;
    border: 0;
    background: #fff;
    border-radius: 6px;
    font-size: 0;
}
.page-hd-erhuojie_160322 .date-tab li{
    display: inline-block;
    width: 20%;
    border-right: 1px solid #D5D5D5;
    text-align: center;
}
.page-hd-erhuojie_160322 .date-tab li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 14px;
    border-bottom: 4px solid #fff;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -moz-transition:-moz-transform .5s cubic-bezier(0.26, 0.76, 0.82, 0.15);
    -webkit-transition:-webkit-transform .5s cubic-bezier(0.26, 0.76, 0.82, 0.15);
    -o-transition:transform .5s cubic-bezier(0.26, 0.76, 0.82, 0.15);
    -ms-transition:-ms-transform .5s cubic-bezier(0.26, 0.76, 0.82, 0.15);
    transition:transform .5s cubic-bezier(0.26, 0.76, 0.82, 0.15);
}
.page-hd-erhuojie_160322 .date-tab li a:active{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.page-hd-erhuojie_160322 .date-tab .cur a{
    color: #F7000E;
    border-color: #F40004;
}
.page-hd-erhuojie_160322 .date-tab li:last-child{
    border-right: 0;
}