html{
    height: auto;
    background: #fff;
}
.errorblink{
    border: 1px solid #fb0909 !important;
}
.hide{display: none;}
.w100{width: 100%;}
.f12{font-size: 12px;}
/*行的基本模式*/
.block,.row,
.col-2-1,
.col-4-1,
.col-left-fixed, .col-left,
.col-right,.col-right-fixed{
    display: block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.row:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: '\20';
}
.row{
    zoom: 1;
    clear: both;
}
.col-2-1,
.col-4-1,
.col-left-fixed{
    float: left;
}
.col-2-1{
    width: 50%;
}
.col-4-1{
    width: 25%;
}
.col-right-fixed{
    float: right;
}
/*END行的基本模式*/
/* 箭头 */
.arrow-down,
.arrow-right{
    position: relative;
}
.arrow-right:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-down:after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/* END箭头 */


/*htc以旧换新*/
.page-hd-htc{
    background: #fff;
}
.page-hd-huanxin .mainbody{
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}
.page-hd-htc .block{
    position: relative;
    border: 0;
}
.page-hd-htc .block1{
    padding-top: 68.88%;
    background: url(https://p.ssl.qhimg.com/t0116cab6dbe3ddf8f8.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-htc .block2{
    padding-top: 133.75%;
    background: url(https://p.ssl.qhimg.com/t0165723963ef38b98a.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-htc .block4{
    padding-top: 94.3%;
    background: url(https://p.ssl.qhimg.com/t01f4f22128e471f0ee.jpg) no-repeat center 0;
    background-size: contain;
}
.page-hd-htc .btn-liji-huanxin,
.page-hd-htc .btn-liji-huanxin:hover{
    position: absolute;
    top: 62%;
    left: 4%;
    width: 42%;
    height: 17%;
    background: transparent;
    text-decoration: none;
}
.page-hd-htc .btn-chakan-detail{
    position: absolute;
    top: 88%;
    left: 33%;
    width: 37%;
    height: 6%;
    background: transparent;
}

.page-hd-htc .block2 .br{
    position: absolute;
    top: 19.7%;
    left: 4.4%;
    display: block;
    width: 30.1%;
    height: 9.91%;
    background: transparent;
    /*box-shadow: 0 0 6px #497fcc;*/
}
.page-hd-htc .block2 .br:hover{
    text-decoration: none;
}
.page-hd-htc .block2 .br:active{
    box-shadow: 0 0 6px #497fcc;
}

.page-hd-htc .block2 .apple{}
.page-hd-htc .block2 .samsung{
    left: 34.6%;
}
.page-hd-htc .block2 .honor{
    left: 64.8%;
}

.page-hd-htc .block2 .htc{
    left: 4.4%;
    top: 29.95%;
}
.page-hd-htc .block2 .blackberry{
    left: 34.6%;
    top: 29.95%;
}
.page-hd-htc .block2 .lg{
    left: 64.8%;
    top: 29.95%;
}

.page-hd-htc .block2 .meizu{
    left: 4.4%;
    top: 40.4%;
}
.page-hd-htc .block2 .xiaomi{
    left: 34.6%;
    top: 40.4%;
}
.page-hd-htc .block2 .vivo{
    left: 64.8%;
    top: 40.4%;
}

.page-hd-htc .block2 .nokia{
    left: 4.4%;
    top: 50.74%;
}
.page-hd-htc .block2 .letv{
    left: 34.6%;
    top: 50.74%;
}
.page-hd-htc .block2 .motorola{
    left: 64.8%;
    top: 50.74%;
}

.page-hd-htc .block2 .yijia{
    left: 4.4%;
    top: 61.18%;
}
.page-hd-htc .block2 .oppo{
    left: 34.6%;
    top: 61.18%;
}
.page-hd-htc .block2 .chuizi{
    left: 64.8%;
    top: 61.18%;
}

.page-hd-htc .block2 .lenovo{
    left: 4.4%;
    top: 71.9%;
}
.page-hd-htc .block2 .sony{
    left: 34.6%;
    top: 71.9%;
}
.page-hd-htc .block2 .other{
    left: 64.8%;
    top: 71.9%;
}

.page-hd-htc .block2 .btn-kankan-jiuji{
    position: absolute;
    top: 88.5%;
    left: 5%;
    width: 89%;
    height: 12%;
    background: transparent;
}

.page-hd-htc .block4 .gohtc-btn1{
    position: absolute;
    top: 87%;
    left: 4%;
    width: 44.5%;
    height: 13%;
    background: transparent;
}
.page-hd-htc .block4 .gohtc-btn2{
    position: absolute;
    top: 87%;
    left: 51%;
    width: 44.5%;
    height: 13%;
    background: transparent;
}
.page-hd-htc .block4 .gohtc-btn1:hover,
.page-hd-htc .block4 .gohtc-btn2:hover{
    text-decoration: none;
}
