* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

*:before,
*:after {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

html {
    /*height: 100%;*/
    height     : auto;
    min-height : 100%;
}

body {
    margin                     : 0 auto;
    max-width                  : 720px;
    min-width                  : 320px;
    /*height: 100%;*/
    height                     : auto;
    min-height                 : 100%;
    font-family                : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-overflow-scrolling : touch;
}

.mainbody {
    /*height: 100%;*/
    min-height : 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.mainbody-inner {
    min-height : 100%;
}

html, body {
    background  : #fff;
    font-family : "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 100%;
}

.relative {
    position : relative;
}

a {
    text-decoration : none;
}

.clearfix:after {
    display : block;
    content : '';
    clear   : both;
}

.clearfix {
    zoom : 1;
}

.w100 {
    width : 100%;
}

.fl {
    float : left;
}

.fr {
    float : right;
}

/*滑动块基本样式*/
.slide-shower-wrap {
    position : relative;
    overflow : hidden;
}

.slide-shower-wrap .slide-shower {
    position : relative;
}

.slide-shower-wrap .s-item {
    position : relative;
    float    : left;
}

.slide-shower-wrap .slide-nav {
    padding    : .12rem 0 .16rem 0;
    font-size  : 0;
    text-align : center;
}

.slide-shower-wrap .slide-nav span {
    margin-right  : .05rem;
    display       : inline-block;
    width         : .1rem;
    height        : .1rem;
    background    : #c5c5c5;
    border        : 1px solid #c5c5c5;
    border-radius : 999px;
}

.slide-shower-wrap .slide-nav .cur {
    background : #fff;
}

/*END 滑动块基本样式*/

.page-hd-qixi {
    background : #6c41ac;
}

.page-hd-qixi .block {
    border : 0;
    position: relative;
}

.page-hd-qixi .block1 {
    height          : 2.471111111111111rem;
    background      : url(https://p.ssl.qhimg.com/t01fb4f0af12e7238ae.jpg) no-repeat center 0;
    background-size : cover;
    margin-bottom: .1rem;
}

.page-hd-qixi .tab-list {
    position: absolute;
    left: 0;
    top:2rem;
    z-index: 5;
}
.page-hd-qixi .fixed{
    position: fixed;
    left: 0;
    top:0;
}
.page-hd-qixi .nav-tab-placeholder{
    position: absolute;
    left: 0;
    top:2rem;
}
.page-hd-qixi .tab-list li {
    float: left;
    width: .8rem;
    height: 0.4711111111111111rem;
    text-align: center;
    background: #bf5aff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.page-hd-qixi .tab-list li:last-child{
    margin-right: 0;
    border-right: none;
}
.page-hd-qixi .tab-list h3 {
    font-size : .14rem;
    color: #fff003;
    padding: .11rem 0 .035rem;
}

.page-hd-qixi .tab-list p{
    font-size : .1rem;
    color: #fff;
}

.page-hd-qixi .tab-list .cur{
    background : #fff002;
}

.page-hd-qixi .tab-list .cur h3 {
    color: #6d2faf;
}

.page-hd-qixi .tab-list .cur p{
    color : #333;
}
.page-hd-qixi .tab-list-placeholder {
    display : none;
    height  : 1.36rem;
}


.page-hd-qixi .tit{
    height: 0.6577777777777778rem;
    /*margin: 0 auto .1rem;*/
}
.page-hd-qixi .tit1{
    background: url("https://p.ssl.qhimg.com/t0162582562a31b37a4.jpg") center 0 no-repeat;
    background-size: cover;
}
.page-hd-qixi .tit2{
    background: url("https://p.ssl.qhimg.com/t01cadaf2c894e160c4.jpg") center 0 no-repeat;
    background-size: cover;
}
.page-hd-qixi .tit3{
    background: url("https://p.ssl.qhimg.com/t013e2a0ae25a80ca23.jpg") center 0 no-repeat;
    background-size: cover;
}
.page-hd-qixi .tit4{
    background: url("https://p.ssl.qhimg.com/t01c8f7ea9e1470c420.jpg") center 0 no-repeat;
    background-size: cover;
}
.page-hd-qixi .tit5{
    background: url("https://p.ssl.qhimg.com/t018f9c0a64506452d8.png") center 0 no-repeat;
    background-size: cover;
}

.page-hd-qixi .block3 .product-list{
    height : 4.475555555555555rem;
    background : url(https://p.ssl.qhimg.com/t01023945c18e38a1c9.jpg) no-repeat center 0;
    background-size : cover;
}
.page-hd-qixi .p-item{
    width: 50%;
    height: 50%;
    float: left;
}

.page-hd-qixi .block5 .product-list{
    height : 1.8266666666666667rem;
    background : url(https://p.ssl.qhimg.com/t01b3ebd10c4e8f31ca.jpg) no-repeat center 0;
    background-size : cover;
}
.page-hd-qixi .product-list{
    /*margin-bottom: .2rem;*/
}
.page-hd-qixi .product-tit-pic{
    float: left;
}
.page-hd-qixi .product-list .item{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 .1rem .12rem;
    background: #fff;
}
.page-hd-qixi .item{
    border: 1px solid #D2D2D2;
    border-top: 1px solid transparent;
}
.page-hd-qixi .item:nth-child(even){
    border-left: 1px solid transparent;
}
.page-hd-qixi .product-list .item a{
    display: block;
}
.page-hd-qixi .product-list .item a:hover{
    text-decoration: none;
}
.page-hd-qixi .product-list .p-img{
    width: 1.2rem;
    height: 1.3rem;
    margin: 0.03rem auto;
}
.page-hd-qixi .product-list .p-img img{
    width: 100%;
}
.page-hd-qixi .product-list .p-tit{
    height: .32rem;
    font-size: .12rem;
    /*padding-top: .05rem;*/
    color: #333;
    vertical-align: middle;
    text-align: left;
    line-height: .16rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.page-hd-qixi .product-list .p-price-new{
    line-height: 100%;
    color: #999;
    font-size: .1rem;
    padding-top: .08rem;
}
.page-hd-qixi .product-list .p-price-new .price-tit{
}
.page-hd-qixi .product-list .p-price-new .price-cnt{
    text-decoration: line-through;
}
.page-hd-qixi .product-list .p-price{
    line-height: 100%;
    padding-top: .05rem;
    font-size: .12rem;
    color: #ff3300;
}
.page-hd-qixi .product-list .p-price .price-cnt{
    font-size: .15rem;
}

.page-hd-qixi .product-list .btn-qiang{
    margin: .1rem auto 0;
    display: block;
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    background: #fe4d4e;
    font-size: .14rem;
    color: #fff;
    text-align: center;
}
.page-hd-qixi .product-list .btn-disabled{
    background-color: #ddd;
}
.page-hd-qixi .more{
    text-align: center;
    font-size: .14rem;
    line-height: .4rem;
    height: .5rem;
    text-decoration: underline;
}
.page-hd-qixi .more a{
    color: #fff;
}
/*推荐商品*/
.page-hd-qixi .extend-promo-enter {

}

.page-hd-qixi .extend-promo-enter a {
    margin  : .08rem;
    display : block;
    /*width   : 3.071111111111111rem;*/
    height  : 0.6rem;
}

.page-hd-qixi .extend-promo-enter a:hover {
    text-decoration : none;
    opacity         : .8;
}

/*活动说明*/
.page-hd-qixi .extend-special-intro {
    margin        : .08rem;
    background    : #3c9dfd;
    border-radius : .03rem;
    color         : #fff;
    font-size     : .12rem;
}

.page-hd-qixi .extend-special-intro-tit {
    padding   : .2rem .22rem .1rem;
    font-size : .16rem;
}

.page-hd-qixi .extend-special-intro-cont {
    padding : 0 .1rem;
    line-height: .16rem;
}

.page-hd-qixi .extend-special-intro-cont p {
    padding     : 0 0 .1rem .12rem;
    text-indent : -.12rem;
}
/*合作商*/
.page-hd-qixi .extend-partner {
    margin     : 0 auto .2rem;
    width      : 3.0844444444444443rem;
    background : transparent;
    color      : #fff;
}

.page-hd-qixi .extend-partner-tit {
    padding   : .1rem .22rem;
    font-size : .16rem;
}

.page-hd-qixi .extend-partner-cont {
    margin : 0 auto .2rem;
    width  : 2.44rem;
}

.page-hd-qixi .bg-cover {
    background-size : cover;
}

/*品牌选择*/
.page-hd-qixi .huishou-list{
    height : 2.7066666666666666rem;
    background : url(https://p.ssl.qhimg.com/t0126c4665ced02a73c.png) no-repeat center 0;
    background-size : cover;
    position: relative;
    margin: .1rem 0;
}
.page-hd-qixi .huishou-list .br{
    position: absolute;
    top: 0;
    left: .16rem;
    display: block;
    width: 0.96rem;
    height: 0.44rem;
    background: transparent;
    /*box-shadow: 0 0 6px #497fcc;*/
}
.page-hd-qixi .huishou-list .br:hover{
    text-decoration: none;
}
.page-hd-qixi .huishou-list .br:active{
    background: #D8A44B;
    opacity: .1;
    /*box-shadow: 0 0 6px #497fcc;*/
}
.page-hd-qixi .huishou-list .apple{}
.page-hd-qixi .huishou-list .samsung{
    left: 1.128rem;
}
.page-hd-qixi .huishou-list .honor{
    left: 2.09rem;
}

.page-hd-qixi .huishou-list .lenovo{
    left: .16rem;
    top: .45rem;
}
.page-hd-qixi .huishou-list .blackberry{
    left: 1.128rem;
    top: .45rem;
}
.page-hd-qixi .huishou-list .lg{
    left: 2.09rem;
    top: .45rem;
}

.page-hd-qixi .huishou-list .meizu{
    left: .16rem;
    top: .89rem;
}
.page-hd-qixi .huishou-list .xiaomi{
    left: 1.128rem;
    top: .89rem;
}
.page-hd-qixi .huishou-list .vivo{
    left: 2.09rem;
    top: .89rem;
}

.page-hd-qixi .huishou-list .nokia{
    left: .16rem;
    top: 1.33rem;
}
.page-hd-qixi .huishou-list .letv{
    left: 1.128rem;
    top: 1.33rem;
}
.page-hd-qixi .huishou-list .motorola{
    left: 2.09rem;
    top: 1.33rem;
}

.page-hd-qixi .huishou-list .yijia{
    left: .16rem;
    top: 1.78rem;
}
.page-hd-qixi .huishou-list .oppo{
    left: 1.128rem;
    top: 1.78rem;
}
.page-hd-qixi .huishou-list .chuizi{
    left: 2.09rem;
    top: 1.78rem;
}

.page-hd-qixi .huishou-list .htc{
    left: .16rem;
    top: 2.23rem;
}
.page-hd-qixi .huishou-list .sony{
    left: 1.128rem;
    top: 2.23rem;
}
.page-hd-qixi .huishou-list .other{
    left: 2.09rem;
    top: 2.23rem;
}