
a,a:hover{
    text-decoration: none;
}

.page-hd-dashu {
    background: #3e20d8;
    font-size: .12rem;
}

.page-hd-dashu .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-dashu .block {
    width: 100%;
}

/*公用的block-title样式start*/
.page-hd-dashu .block-tit {
    text-align: center;
    height: 0.6088888888888889rem;
    line-height: 0.6088888888888889rem;
    background:url(https://p1.ssl.qhmsg.com/t01b8d91a5900d820a4.jpg)  no-repeat center 0;
    background-size: cover;
    /*text-indent: -99999px;*/
    color: #fff;
    font-size: .24rem;
    font-weight: bold;
}
/*公用的block-title样式end*/

.page-hd-dashu .block-top{
    height: 1.9955555555555555rem;
    background: url(https://p3.ssl.qhmsg.com/t0120facc8fa5381c6a.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
}
.page-hd-dashu .block-top .back{
    width: .28rem;
    height: .28rem;
    position: absolute;
    top: .06rem;
    left: .06rem;
    background: url("https://p0.ssl.qhmsg.com/t010ba0d91557ebd726.png") no-repeat center;
    text-decoration: none;
    border-radius: 999px;
    background-size: cover;
}

/*优惠券*/
.page-hd-dashu .block-sub{
    height: 1.2rem;
    background:url(https://p4.ssl.qhmsg.com/t011187fcc7f00a25b3.jpg) no-repeat center 0;
    background-size: contain;
}
.block-coupon{
    padding: .53rem .08rem 0;;
    color: #fff;
    font-size: 0;
}

.block-coupon .coupon-item{
    padding-top: .02rem;
    display: inline-block;
    width: 25%;
    height: .52rem;
    font-size: .12rem;
    text-align: center;
    line-height: 1;
    vertical-align: top;
}
.block-coupon .coupon-item .money-num{
    font-size: .28rem;
}
.block-coupon .coupon-item .coupon-item-desc{
    padding-top: .07rem;
    font-size: .1rem;
}

/* 更多 */
.page-hd-dashu .more {
    padding: .1rem 0;
    text-align: center;
}
.page-hd-dashu .more a,
.page-hd-dashu .more a:hover {
    margin: 0 auto;
    display: block;
    width: 1.1rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .12rem;
    color: #aa242f;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    background: #fbd743;
}
/* END 更多 */

.page-hd-dashu .ui-sp-product-list-1{
    min-height: 2.6rem;
}

/*服务介绍*/
.block-service-intro{
    height: 2.031111111111111rem;
    background: url(https://p2.ssl.qhmsg.com/t0170f3beff7096a5d3.png) no-repeat center 0;
    background-size: cover;
    margin-top: .1rem;
}
/*.block-service-intro{*/
    /*margin: .1rem;*/
    /*padding: .1rem 0;*/
    /*background-color: #69cfff;*/
    /*border-radius: .06rem;*/
/*}*/
.block-service-intro .tit{
    margin: 0 auto;
    width: 1.635rem;
}
.block-service-intro .tit-under{
    margin: 0 auto;
    width: 1.56rem;
    height: .24rem;
    background: #aa242f;
    border-radius: 999px;
}
.block-service-intro .tit-inner{
    margin-top: -.29rem;
    margin-left: -.06rem;
    width: 1.635rem;
    height: 0.34555772rem;
    background: url(https://p0.ssl.qhmsg.com/t0166374946eb81bd5a.png) no-repeat center;
    background-size: contain;
}
.block-service-intro .cnt{
    padding: .1rem 0;
    font-size: 0;
}
.block-service-intro .cnt .service-keyword{
    margin: .08rem .04rem .08rem .08rem;
    display: inline-block;
    height: .3rem;
    width: .3rem;
    line-height: .3rem;
    font-size: .2rem;
    border-radius: 999px;
    text-align: center;
    color: #fff;
    background-color: #aa242f;
    vertical-align: middle;
}
.block-service-intro .cnt .col-2-1:nth-child(2n) .service-keyword{
    margin-left: 0;
}
.block-service-intro .cnt .service-desc{
    display: inline-block;
    font-size: .1rem;
    color: #aa242f;
    vertical-align: middle;
    line-height: 1.2;
}
.block-service-intro .cnt .service-desc em{
    font-size: .14rem;
    color:#aa242f ;
}
.page-hd-dashu  .block-intro{
    padding-top: 0.2rem ;
}
/* 二维码扫一扫 */
.block-qrcode-info{
    margin: .1rem .1rem .3rem;
    padding: .2rem 0;
    background-color: #3f39e2;
    border-radius: .06rem;
    font-size: .12rem;
    text-align: center;
    color: #fff;
}
.block-qrcode-info .tit{
    font-size: .14rem;
}
.block-qrcode-info .desc{
    margin: 0 auto;
    width: 2.1rem;
    color: #fff;
}
.block-qrcode-info .qrcode{
    margin: .1rem auto;
    padding: .06rem;
    width: 50%;
    background-color: #fff;
    border-radius: .06rem;
    /*border: 1px solid #0e803b;*/
}
.block-qrcode-info .qrcode img{
    width: 100%;
    border-radius: .06rem;
}

/*活动说明*/
.page-hd-dashu .block-desc{
    color: #fff;
    padding: 0 .15rem .3rem;
}
.page-hd-dashu .block-desc .block-desc-cont{
    color: #fff;
    padding: 0 0 0.1rem;
}
.page-hd-dashu .block-desc .block-desc-cont h3{
    font-weight: bold;
    font-size: .16rem;
}
.page-hd-dashu .block-desc .block-desc-cont p{
    font-size: .12rem;
}
/*视频*/
.page-hd-dashu .block-video{
    
}
.page-hd-dashu .block-video .trigger-play-video{
    display: block;
    height: 1.48rem;
    background: url(https://p.ssl.qhimg.com/t01851d63db42511e76.jpg) no-repeat center;
    background-size: cover;
}

