/* =================下载苏宁app================== */
.blur{
    -webkit-filter: blur(10px);
}
.page-down-sn-app {
    font-family:"华文细黑","微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #2d92f4,#1ea4ee);
}

.page-down-sn-app  .block{
    width: 3.2rem;
    background-color: transparent;
    margin-bottom: .2rem;
}
.page-down-sn-app  .block img{
    width: 100%;
}
.page-down-sn-app  .block .block-inner {
    width: 3rem;
    margin: 0 auto;
}
.page-down-sn-app  .block1 img{

}
.page-down-sn-app  .block0 {
    margin-top: -0.7rem;
}
.page-down-sn-app .bottom-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .1rem 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 0.15rem rgba(0,0,0,.3);
}
.page-down-sn-app .bottom-btn a {
    display: inline-block;
    width: 2.0888889rem;
    height: .3777777778rem;
    line-height: .3777777778rem;
    background-color: #febf12;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    font-size: .16rem;
}
.page-down-sn-app .m-fenxiang-intro-wrap{
    position: fixed;
}
.page-down-sn-app  .m-fenxiang-intro {
    text-align: right;
}
.page-down-sn-app  .m-fenxiang-intro img{
    width: 2.08rem;
}