/* =================订单确认================== */
dl,dd,dt {
    margin: 0;
    padding:0;
}
.page-order-confirm .bold{
    font-weight: bold;
}
.page-order-confirm{
    overflow: hidden;
}
.page-order-confirm #mainbody{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.page-order-confirm .color-darkgrey{
    color: #333333;
}
.page-order-confirm .color-lightgrey {
    color: #666666;
}
.page-order-confirm{
    background-color: #eee;
    font-size: .12rem;
}
.page-order-confirm .blo-title {
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    font-size: .16rem;
}
.page-order-confirm .blo-product{
    display: flex;
    padding: .2rem .1rem;
    background-color: #fff;
}
.page-order-confirm .blo-product .pro-img {
    height: .7rem;
}
.page-order-confirm .blo-product .pro-img img {
    height: 100%;
}
.page-order-confirm .blo-product .pro-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .2rem
}
.page-order-confirm .blo-product .pro-info .pro-name {
    margin-bottom: .1rem;
}
.page-order-confirm .blo-product .pro-info .pro-info-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: .1rem;
}
.page-order-confirm .blo-product .pro-info .new-price{
    color: #aaa;
    text-decoration: line-through;
}
.page-order-confirm .blo-rent-info {
    margin-top: .1rem;
    background-color: #fff;
    padding: 0 .1rem;
}
.page-order-confirm .blo-rent-info .rent-info-item {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: .44rem;
    border-bottom: .01rem solid #eee;
}
.page-order-confirm .blo-rent-info .rent-info-item span {
    line-height: .44rem;
}
.page-order-confirm .blo-rent-info .rent-info-item-sub{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: .3rem;
    line-height: .3rem;
}
.page-order-confirm .blo-rent-info .rent-info-item .info-content .img{
    display: inline-block;
    height:.16rem;
}
.page-order-confirm  .pay-methods .tit{
    padding: .05rem 0;
}
.page-order-confirm  .pay-methods .method-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: .1rem;
}
.page-order-confirm  .pay-methods .method-content .method-item{
    width:1rem;
    padding: .07rem 0;
    border:.01rem solid #999999;
    text-align: center;
    margin-right: .1rem;
    text-decoration: none;
    color: #222;
}
.page-order-confirm  .pay-methods .method-content .method-item.active{
    border:.01rem solid #ff3300;
    position: relative;
}
.page-order-confirm  .pay-methods .method-content .method-item.active:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: .2rem;
    height: .2rem;
    background: url("https://p1.ssl.qhmsg.com/t01e67296b52df8445e.png") no-repeat center center/100% 100%;
}
.page-order-confirm  .pay-methods .desc{
    padding-bottom: .1rem;
}

.page-order-confirm .service-agree {
    display: flex;
    height: .44rem;
    align-items: center;
    border-bottom: .01rem solid #eee;
    color: #333333;
}
.page-order-confirm .service-agree .ico{
    width: .16rem;
    height: .16rem;
    border: .01rem solid #aaa;
    border-radius: 1rem;
    margin-right: .1rem;
    color: #f00;
}
.page-order-confirm .service-agree .ico.checked{
    border:0;
}
.page-order-confirm .service-agree .ico.checked:before{
    content : "\e601";
    font-size: .16rem;
    color: #f00;
}


.page-order-confirm  .blo-over-time{
    display: flex;
    padding: .1rem ;
    justify-content: space-around;
    margin-bottom: .435rem;
}
.page-order-confirm  .blo-over-time .handle-method {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-order-confirm  .blo-over-time .handle-method .method-name {
    font-size: .16rem;
    padding-bottom: .1rem;
}
.page-order-confirm  .blo-over-time .handle-method .method-content{
    font-size: .14rem;
    color: #aaa;
}
.page-order-confirm  .blo-foot {
    position: fixed;
    left: 0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 .1rem rgba(0,0,0,.3);
}
.page-order-confirm  .blo-foot .fee-per-day{
    padding: .1rem;
    font-size: .2rem;
    color: #f00;
}
.page-order-confirm  .blo-foot .btn-confirm{
    display: inline-block;
    width: 2.3rem;
    padding: .1rem 0;
    background-color: #ff3300;
    color: #fff;
    font-size: .15rem;
    text-align: center;
}
.page-order-confirm  .blo-foot .btn-confirm.btn-disabled{
    background-color: #aaa;
}
.page-order-confirm  .blo-foot  .txt-per{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3300;
    font-size: .16rem;
    background-color: #fff;
}


.page-order-confirm  .mobile-experience-agreement{
    padding-bottom: .44rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.page-order-confirm  .block-confirm-btn-line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: .05rem 0;
    max-width: 720px;
}
.page-order-confirm  .block-confirm-btn-line .btn{
    margin: 0 .05rem 0 .1rem;
    display: block;
    line-height: .44rem;
}
.page-order-confirm  .block-confirm-btn-line .btn-yellow{
    margin: 0 .1rem 0 .05rem;
}


