/* =================订单信息================== */
.color-org{
    color: #ff3300;
}
.color-gray{
    color: #666666;
}
.page-order-info{
    font-family:"华文细黑","微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}
.page-order-info .product-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: .1rem 0 .1rem .3rem;
    margin-bottom: .1rem;
    border-top: .01rem solid #ddd;
}
.page-order-info .product-info .pro-item{
    padding-bottom: .03rem;
}
.page-order-info .product-info .img-block{
    height: .7rem;
}
.page-order-info .product-info .img-block img{
    height: 100%;
}
.page-order-info .product-info .right-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: .2rem;
}

.page-order-info .product-operate{}
.page-order-info .product-operate {
    background-color: #fff;
    padding: .1rem 0;
    border-bottom:.2rem;
}
.page-order-info .product-operate .operate-item{
    padding: 0 .1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: .2rem;
}
.page-order-info .product-operate .operate-item .item{
    width:1.4666666666666666rem;
    padding: .07rem 0;
    border:.01rem solid #999999;
    text-align: center;
}
.page-order-info .product-operate .operate-item .item .name{
    font-size: .14rem;
}
.page-order-info .product-operate .operate-item .item .sub-name{
    color: #999999;
}
.page-order-info .product-operate .operate-item .item.active{
    border:.01rem solid #ff3300;
    position: relative;
}
.page-order-info .product-operate .operate-item .item.active:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: .2rem;
    height: .2rem;
    background: url("https://p1.ssl.qhmsg.com/t01e67296b52df8445e.png") no-repeat center center/100% 100%;
}
.page-order-info  .operate-desc{
    padding: 0 .1rem;
    margin-bottom: .1rem;
}
.page-order-info  .operate-desc .item {
    background-color: #f7f7f7;
    display: none;
    padding: .1rem 0;
    position: relative;
    border-radius: .05rem;
}
.page-order-info  .operate-desc .item.active{
    display: block;
}
.page-order-info  .operate-desc .restore-phone{
    text-align: center;
}
.page-order-info  .operate-desc .back-phone{
    padding:0 .1rem;
}
.page-order-info  .operate-desc .back-phone .t-block{
    padding:.1rem 0;
    border-bottom: .01rem solid #ddd;
    font-size: .14rem;
}
.page-order-info  .operate-desc .back-phone .m-block{
    padding:.1rem 0;
}
.page-order-info  .operate-desc .restore-phone:before,
.page-order-info  .operate-desc .back-phone:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -.2rem;
    border: .1rem solid transparent;
    border-bottom:.1rem solid #f7f7f7;
}
.page-order-info  .operate-desc .restore-phone:before{
    left: .6rem;
}
.page-order-info  .operate-desc .back-phone:before{
    right: .6rem;
}
.page-order-info  .confirm-btn{
    background-color: #f9f9f9;
    padding: .1rem 0;
    text-align: center;
}
.page-order-info  .confirm-btn a {
    display: inline-block;
    width: 2.89rem;
    height: .426667rem;
    line-height: .426667rem;
    text-align: center;
    font-size: .16rem;
    color: #fff;
    border-radius: .05rem;
    background-color: #ff3300;
}

.page-order-info .order-info{
    background-color: #fff;
    padding: 0 .1rem;
}
.page-order-info .line-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.1rem 0;
    border-bottom: .01rem solid #ddd;
}
.page-order-info .desc-line{
    padding: .15rem 0;
}
.page-order-info .desc-line .tit {
    font-size: .14rem;
    color: #000;
    padding-bottom: .05rem;
}
.page-order-info .hk-row{
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.1rem 0;
}