/* =================用户填写信息页面================== */
input{
    border-style: none;
}

.page-order-user-info-lbf{}
.page-order-user-info-lbf #mainbody {
    width: 3.2rem;
    overflow: hidden;
    position: relative;
}

.page-order-user-info-lbf #mainbody  {
    z-index: 100;
    background-color: #EDEDED;
    min-height: 100%;
}

.page-order-user-info-lbf .blo-top-info{
    width: 100%;
    height: 1rem;
    overflow: hidden;
}

.page-order-user-info-lbf .blo-user-info{
    background-color: #fff;
    margin-top: .1rem;
    padding: 0 .1rem;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: center;
}
.page-order-user-info-lbf .blo-user-info .user-info-item {
    display: flex;
    align-items: center;
    height: .44rem;
    border-bottom: .01rem solid #ccc;
}
.page-order-user-info-lbf .blo-user-info .user-info-item input {
    padding: .1rem;
    border-radius: .05rem;
}
.page-order-user-info-lbf .blo-user-info .user-info-item select{
    padding: .07rem;
    flex: 1;
    border: none;
    margin-right: .3rem;
}
.page-order-user-info-lbf .blo-user-info .user-info-item .item-name {
    display: flex;
    margin-right: .15rem;
}
.page-order-user-info-lbf .blo-user-info .vcode-item,
.page-order-user-info-lbf .blo-user-info .pcode-item{
    justify-content: space-around;
}
.page-order-user-info-lbf .blo-user-info .user-address{
    cursor: pointer;
    width: 70%;
    height: 80%;
    line-height: .38rem;
    color: #666;
    border-radius: .05rem;
}
.page-order-user-info-lbf .blo-user-info .vcode-item .vcode-wrap{
    padding: .03rem 0;
}
.page-order-user-info-lbf .blo-user-info .vcode-item .vcode-wrap img {
    height: 100%;
}
.page-order-user-info-lbf .blo-user-info .pcode-item .btn-get-pcode{
    align-self: center;
    padding: .07rem .1rem;
    color: #fff;
    border-radius: .05rem;
    background-color: #3f97fb;
}

.page-order-user-info-lbf .blo-user-info .extend-info{
    display: flex;
    padding: .15rem 0;
    color: #aaa;
}
.page-order-user-info-lbf .blo-user-info .extend-info-detail{
    margin-left: .1rem;
}
.page-order-user-info-lbf .step-img{
    width: 100%;
    height: 1.09rem;
    margin-top: .1rem;
    background: url("https://p0.ssl.qhmsg.com/t018650663945dd7fb6.jpg") no-repeat center/100%;
}
.page-order-user-info-lbf .next-step{
    display: block;
    width: 80%;
    height: .44rem;
    line-height: .44rem;
    margin: .25rem  auto ;
    text-align: center;
    font-size: .16rem;
    background-color: #FF3300;
    color: #fff;
    border-radius: .05rem;
}
.page-order-user-info-lbf .hk-desc{
    padding: .1rem;
    text-align: center;
}
.page-order-user-info-lbf .next-step.disabled{
    background-color: #aaa;
}

