.page-liangpin-product .prd-choices .prd-c-line {
    padding: 5px 0;
}

.page-liangpin-product .prd-choices .prd-c-tit {
    width: 74px;
    float: left;
    line-height: 32px;
    padding-left: 16px;
    color: #666;
}

.page-liangpin-product .prd-choices .prd-c-cnt {
    width: 490px;
    float: left;
}

.page-liangpin-product .prd-choices .p-c-item {
    float: left;
    margin: 2px 10px 2px 0;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-liangpin-product .prd-choices .p-c-item strong{
    font-weight: bold;
    font-family: tahoma,arial,"Microsoft YaHei", "宋体";
}

.page-liangpin-product .prd-choices .p-c-curr {
    border-color: #f30;
    color: #f30;
}

.page-liangpin-product .prd-choices .p-c-disabled {
    border: 1px dashed #e0e0e0;
    color: #aaa;
    background: #fff;
    /*cursor: not-allowed;*/
    cursor: pointer;
}

.page-liangpin-product .prd-choices .p-c-disabled-hover {
    border: 1px dashed #aaa;
}

.page-liangpin-product .prd-choices .prd-buy {
    margin-top: 20px;
    margin-left: 16px;
    display: inline-block;
    _zoom: 1;
    width: 186px;
    height: 40px;
    line-height: 40px;
    background: #fe831f;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-liangpin-product .prd-choices .prd-buy:hover {
    background: #f70;
}

.page-liangpin-product .prd-choices .prd-buy:active {
    background: #f60;
}

.page-liangpin-product .prd-choices .prd-buy-disabled {
    margin-left: 16px;
    display: inline-block;
    _zoom: 1;
    width: 186px;
    height: 40px;
    line-height: 40px;
    background: #d8d3d0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-liangpin-product .prd-choices .prd-buy-disabled:hover {
    background: #d8d3d0;
}

.page-liangpin-product .prd-choices .prd-buy-disabled:active {
    background: #d8d3d0;
}

.page-liangpin-product .prd-choices .prd-buy-disabled-desc {
    padding-left: 25px;
    color: #666;
}

.page-liangpin-product .prd-choices .prd-buy-locked-desc {
    padding-left: 25px;
    color: #f01;
}

.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
}

.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown span {
    display: none;
    font-size: 12px;
}

.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown .m-num,
.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown .m-txt,
.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown .s-num,
.page-liangpin-product .prd-choices .prd-buy-locked-desc .countdown .s-txt {
    display: inline;
    font-size: 12px;
}

.page-liangpin-product .prd-choices .prd-buy-huabei{
    background-color: #f50;
}

.page-liangpin-product .prd-choices .block-tingfu-notice{
    display: inline-block;
}

