/*统一分级标准*/
.p-detail-cnt-standard-level {
    margin-bottom: 30px;
    display: none;
}

.p-detail-cnt-standard-level .cnt-inner {
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 800px;
}

.p-detail-cnt-standard-level .row {
    margin: 0 30px 10px 30px;
}

.p-detail-cnt-standard-level .col-left-fixed {

}

.p-detail-cnt-standard-level .col-right {
    margin-left: 350px;
    _margin-left: 50px;
}

.p-detail-cnt-standard-level .l-tit {
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: 0;
    border-bottom: 1px dashed #808080;
    color: #4a7;
}

.p-detail-cnt-standard-level .l-tit span {
    width: 100px;
    font-size: 22px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.p-detail-cnt-standard-level .l-tit .l-tit-sub {
    width: 287px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: right;
}

.p-detail-cnt-standard-level .l-desc {
    font-size: 16px;
    color: #808080;
    line-height: 1.8;
}

.p-detail-cnt-standard-level .l-img {
    width: 298px;
    height: 128px;
    background: url(https://p.ssl.qhimg.com/t0153bdb65f50ff3a80.jpg) no-repeat 0 0;
}

.p-detail-cnt-standard-level .l-99-img {
    background-position: 0 0;
}

.p-detail-cnt-standard-level .l-95-img {
    background-position: 0 -138px;
}

.p-detail-cnt-standard-level .l-9-img {
    background-position: 0 -280px;
}

.p-detail-cnt-standard-level .l-8-img {
    background-position: 0 -422px;
}

/*END统一分级标准*/
