.page-liangpin-product .brand-product .product-pics {
    position: relative;
    float: left;
    margin: 35px 40px 35px 35px;
    width: 435px;
    z-index: 10;
}

.page-liangpin-product .brand-product .product-pics .img-zoom-bigger {
    position: absolute;
    top: 0;
    right: -435px;
    display: block;
    width: 435px;
    height: 435px;
    border: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.page-liangpin-product .brand-product .product-infos {
    width: 640px;
    float: left;
    padding: 35px 0 20px;
}

.page-liangpin-product .brand-product .product-shop {
    width: 240px;
    float: right;
}

.page-liangpin-product .brand-product .p-pic-shower {
    position: relative;
    /*border: 1px solid #EAEAEA;*/
    /*width: 350px;*/
    /*height: 350px;*/
    /*line-height: 350px;*/
    width: 435px;
    height: 435px;
    line-height: 435px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
}

.page-liangpin-product .p-pic-shower img {
    width: 435px;
    height: 435px;

    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
    -ms-transition: width .5s ease-out, height .5s ease-out;
    transition: width .5s ease-out, height .5s ease-out;
}

.img-zoom-cover {
    background: #fa0;
    opacity: .4;
    cursor: move;
    -ms-filter: alpha(opacity:40);
    filter: alpha(opacity:40);
}

.page-liangpin-product .p-pic-item {
    float: left;
    margin: 10px 12px 0 0;
    padding: 3px;
    width: 54px;
    height: 54px;
    line-height: 54px;
    font-size: 0;
    text-align: center;
    border: 1px solid #eaeaea;
    cursor: pointer;
    overflow: hidden;
}

.page-liangpin-product .p-pic-curr {
    border-color: #fa0;
}

.page-liangpin-product .p-pic-last {
    margin-right: 0;
}

.page-liangpin-product .p-pic-item img {
    width: 54px;
    height: 54px;

    cursor: pointer;

    -moz-transition: width .5s ease-out, height .5s ease-out;
    -webkit-transition: width .5s ease-out, height .5s ease-out;
    -o-transition: width .5s ease-out, height .5s ease-out;
    -ms-transition: width .5s ease-out, height .5s ease-out;
    transition: width .5s ease-out, height .5s ease-out;
}