.p-detail-cnt-quality-report {
    margin-bottom: 30px;
}

.p-detail-cnt-quality {
    padding-bottom: 40px;
}

.p-detail-cnt-quality .cnt-inner {
    position: relative;
    padding: 0 30px 20px 30px;
    background: #f8f8f8 url(https://p.ssl.qhimg.com/t019a54cec16000ce11.jpg) repeat-y center 0;;
}

.p-detail-cnt-quality .cnt-inner .stamp-good {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 167px;
    height: 167px;
    background: url(https://p.ssl.qhimg.com/t0107be1e806eb7e0c3.png) no-repeat center;
}

.p-detail-cnt-quality .cnt-inner .tt {
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
}

.p-detail-cnt-quality .cnt-inner .tb1 {
    width: 100%;
}

.p-detail-cnt-quality .cnt-inner .tb1 td {
    border: 1px solid #cfcfcf;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.p-detail-cnt-quality .cnt-inner .tb1 .td-tt {
    width: 150px;
}

.p-detail-cnt-quality .cnt-inner .tb2 {
    width: 100%;
}

.p-detail-cnt-quality .cnt-inner .tb2 td {
    padding: 5px 0;
    border: 0;
    border-bottom: 1px dashed #bebebe;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.p-detail-cnt-quality .cnt-inner .tb2 .td-tt {
    width: 200px;
}

.p-detail-cnt-quality .cnt-inner .tb2 .m {
    width: 40px;
    border: 0;
}

.p-detail-cnt-quality .cnt-inner .tb2 .td-last {
    padding: 15px 0;
    background: transparent;
    border: 0;
}

.main-p-detail-cnt .icon-option {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 31px;
    height: 31px;
    vertical-align: middle;
}

.main-p-detail-cnt .icon-option-ok {
    background: url(https://p.ssl.qhimg.com/t01cd388f6ead4e44c2.png) no-repeat center;
    background-size: 22px;
}

.main-p-detail-cnt .icon-option-none {
    background: url(https://p.ssl.qhimg.com/t01e6062420b8fa769b.png) no-repeat center;
    background-size: 22px;
}

.main-p-detail-cnt .icon-option-warn {
    background: url(https://p.ssl.qhimg.com/t01780b4d19521a9ca0.png) no-repeat center;
    background-size: 22px;
}

.p-detail-cnt-quality .cnt-inner .td-last div {
    margin-right: 20px;
    padding-left: 35px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 31px;
    line-height: 31px;
}

.p-detail-cnt-quality .cnt-inner .p-option-ok {
    background: url(https://p.ssl.qhimg.com/t01cd388f6ead4e44c2.png) no-repeat 0 0;
}

.p-detail-cnt-quality .cnt-inner .p-option-none {
    background: url(https://p.ssl.qhimg.com/t01e6062420b8fa769b.png) no-repeat 0 0;
}

.p-detail-cnt-quality .cnt-inner .p-option-warn {
    background: url(https://p.ssl.qhimg.com/t01780b4d19521a9ca0.png) no-repeat 0 0;
}

.p-detail-cnt-quality-procedure {
    margin-bottom: 20px;
}

.p-detail-cnt-quality-procedure .cnt-inner {
    padding: 20px 0;
    font-size: 0;
    text-align: center;
}

.p-detail-cnt-quality-procedure .cnt-inner .quality-procedure-step {
    padding-right: 30px;
    /*width: 135px;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    /*text-align: left;*/
}

.p-detail-cnt-quality-procedure .cnt-inner .quality-procedure-step img {
    display: block;
}

.p-detail-cnt-quality-procedure .cnt-inner .quality-procedure-step6 {
    padding: 0;
}

/*质检报告头部*/
.p-detail-cnt-quality-tit {
    padding: 20px 0 40px 0;
}

.p-detail-cnt-quality-tit .col-right {
    margin-left: 220px;
    font-size: 0;
}

.p-detail-cnt-quality-tit .tit-txt {
    margin-right: 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 54px;
    line-height: 54px;
    font-size: 0;
    color: #185;
    vertical-align: middle;
}

.p-detail-cnt-quality-tit .tit-txt .icon-option-ok {
    padding-right: 5px;
    vertical-align: middle;
    line-height: 54px;
    font-size: 34px;
}

.p-detail-cnt-quality-tit .tit-txt .txt {
    font-size: 30px;
    line-height: 54px;
    vertical-align: middle;
}

.p-detail-cnt-quality-tit .tit-cnt {
    margin-top: 10px;
    background: #f5f5f5;
    border-radius: 6px;
    font-size: 0;
}

.p-detail-cnt-quality-tit .tit-cnt .tit-cnt-left {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 160px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    color: #bcbcbc;
    vertical-align: middle;
}

.p-detail-cnt-quality-tit .tit-cnt .tit-cnt-right {
    padding: 15px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 410px;
    font-size: 16px;
    color: #333;
    vertical-align: middle;
}

.p-detail-cnt-quality-tit .tit-cnt .tit-cnt-right-inner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    vertical-align: middle;
}

.p-detail-cnt-quality-tit .tit-cnt .tit-cnt-right-tips {
    color: #f00;
    font-size: 14px;
}

/*END质检报告头部*/

/*质检报告头部*/

.p-detail-cnt-quality-tit2 {
    padding: 20px 0 20px 60px;
}

.p-detail-cnt-quality-tit2 .col-right {
    margin-left: 220px;
    padding-top: 30px;
    font-size: 0;
}

.p-detail-cnt-quality-tit2 .quality-promise-icon {
    margin-left: 30px;
    width: 408px;
    height: 58px;
    background: url(https://p.ssl.qhimg.com/t010af0dd195b281271.png) no-repeat center;
}

.p-detail-cnt-quality-tit2 .quality-promise-text {
    padding-top: 8px;
    width: 472px;
    font-size: 0;
    text-align: center;
    color: #808080;
}

.p-detail-cnt-quality-tit2 .quality-promise-text li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 25%;
    font-size: 14px;
}

/*END质检报告头部*/

/*质检报告主体*/
.p-detail-cnt-quality2 {
    margin: 0 auto;
    padding: 18px;
    width: 764px;
    background: #fff3da;
}

.p-detail-cnt-quality2 .cnt-inner {
    position: relative;
    margin: 0 !important;
    padding: 30px 40px 20px 40px;
    border: 2px solid #edd9b0;
    background: #fbfaf9 url(https://p0.ssl.qhmsg.com/t0166c2ef06d61b9ec5.png) repeat-y center 0;
}

.p-detail-cnt-quality2 .quality-report-b-top {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 725px;
    height: 26px;
    background: url(https://p.ssl.qhimg.com/t011019d7d5384c6800.png) no-repeat center 0;;
}

.p-detail-cnt-quality2 .quality-report-b-left {
    position: absolute;
    left: 14px;
    top: 35px;
    bottom: 20px;
    width: 10px;
    background: url(https://p.ssl.qhimg.com/t0100afeb290ec6c673.png) repeat-y center 0;;
}

.p-detail-cnt-quality2 .quality-report-b-right {
    position: absolute;
    right: 14px;
    top: 23px;
    bottom: 34px;
    width: 10px;
    background: url(https://p.ssl.qhimg.com/t0144b572c602ec6474.png) repeat-y center 0;;
}

.p-detail-cnt-quality2 .quality-report-b-bottom {
    position: absolute;
    bottom: 14px;
    right: 14px;
    width: 725px;
    height: 26px;
    background: url(https://p.ssl.qhimg.com/t0180e2af2f96e968f3.png) no-repeat center 0;;
}

.p-detail-cnt-quality2 .stamp-good {
    position: absolute;
    top: 34px;
    right: 40px;
    width: 167px;
    height: 167px;
    background: url(https://p4.ssl.qhmsg.com/t01c31a81903c421c62.png) no-repeat center;
}

/*报告人信息*/
.p-detail-cnt-quality2 .reporter-info {
    padding: 50px 10px 0;
    font-size: 0;
}

.p-detail-cnt-quality2 .reporter-info .reporter-avatar {
    width: 100px;
    height: 100px;
    /*border: 1px solid #d0d0d0;*/
    overflow: hidden;
}

.p-detail-cnt-quality2 .reporter-info .reporter-avatar img {
    width: 98px;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail {
    margin-left: 120px;
    _margin-left: 20px;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail .r-name {
    margin-top: 2px;
    margin-bottom: 16px;
    line-height: 1;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail .r-name span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 28px;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail .r-name .r-name-title {
    margin-left: 8px;
    padding: 2px 5px 4px 5px;
    font-size: 12px;
    color: #fff;
    background-color: #4a7;
    border-radius: 3px;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail .r-report-tit {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 110px;
    color: #999;
    font-size: 22px;
}

.p-detail-cnt-quality2 .reporter-info .reporter-detail .r-report-detail {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 300px;
    color: #555;
    font-size: 14px;
    line-height: 1.8;
}

/*END报告人信息*/

.p-detail-cnt-quality2 .quality-basic,
.p-detail-cnt-quality2 .quality-exterior,
.p-detail-cnt-quality2 .quality-demolished {
    padding: 0 10px;
}

.p-detail-cnt-quality2 .cnt-inner .tt {
    padding-top: 30px;
    font-size: 26px;
    text-align: center;
    line-height: 54px;
    color: #333;
}

.p-detail-cnt-quality2 .cnt-inner .tb1,
.p-detail-cnt-quality2 .cnt-inner .tb2 {
    width: 100%;
    color: #9c9c9c;
}

.p-detail-cnt-quality2 .cnt-inner .tb1 tr:nth-child(2n+1) {
    background-color: rgba(51, 51, 51, 0.05);
}

.p-detail-cnt-quality2 .cnt-inner .tb1 td {
    border: 1px solid #cfcfcf;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.p-detail-cnt-quality2 .cnt-inner .tb1 .td-tt {
    width: 150px;
}

.p-detail-cnt-quality2 .cnt-inner .tb2 td {
    padding: 5px 0;
    border: 0;
    border-bottom: 1px dashed #bebebe;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.p-detail-cnt-quality2 .cnt-inner .tb2 .td-tt {
    width: 200px;
}

.p-detail-cnt-quality2 .cnt-inner .tb2 .m {
    width: 40px;
    border: 0;
}

.p-detail-cnt-quality2 .cnt-inner .tb2 .td-last {
    padding: 15px 0;
    background: transparent;
    border: 0;
}

.p-detail-cnt-quality2 .cnt-inner .td-last div {
    margin-right: 20px;
    padding-left: 35px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 31px;
    line-height: 31px;
}

.p-detail-cnt-quality2 .icon-option {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 31px;
    height: 31px;
    vertical-align: middle;
}

.p-detail-cnt-quality2 .icon-option-ok {
    background: url(https://p.ssl.qhimg.com/t01cd388f6ead4e44c2.png) no-repeat center;
    background-size: 22px;
}

.p-detail-cnt-quality2 .icon-option-none {
    background: url(https://p.ssl.qhimg.com/t01e6062420b8fa769b.png) no-repeat center;
    background-size: 22px;
}

.p-detail-cnt-quality2 .icon-option-warn {
    background: url(https://p.ssl.qhimg.com/t01780b4d19521a9ca0.png) no-repeat center;
    background-size: 22px;
}

.p-detail-cnt-quality2 .cnt-inner .p-option-ok {
    background: url(https://p.ssl.qhimg.com/t01cd388f6ead4e44c2.png) no-repeat 0 0;
}

.p-detail-cnt-quality2 .cnt-inner .p-option-none {
    background: url(https://p.ssl.qhimg.com/t01e6062420b8fa769b.png) no-repeat 0 0;
}

.p-detail-cnt-quality2 .cnt-inner .p-option-warn {
    background: url(https://p.ssl.qhimg.com/t01780b4d19521a9ca0.png) no-repeat 0 0;
}

/*END质检报告主体*/
