.prd-c-line-promise .prd-c-cnt {
    line-height: 32px;
    margin-top: 10px;
}

.promise-icon {
    /*margin-left: 15px;*/
    margin-right: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 96px;
    height: 16px;
    border: 0;
    background: url(https://p.ssl.qhimg.com/t0196671129e6127068.png) no-repeat;
}
.promise-icon:first-child{
    margin-left:0;
}

.promise-icon-24_hours {
    background-position: -5px -5px;
}

.promise-icon-48_hours {
    background-position: -5px -26px;
}

.promise-icon-7_days {
    background-position: -5px -47px;
    width: 65px;
}

.promise-icon-1_years {
    background-position: -5px -68px;
    width: 65px;
}

.promise-icon-fapiao {
    background-position: -5px -89px;
    width: 70px;
}

.promise-icon-ycbz {
    background-position: -5px -110px;
    width: 70px;
}

.promise-icon-zjsp {
    background-position: -5px -131px;
    width: 70px;
}

.promise-icon-ycgfbx {
    background-position: -5px -152px;
    width: 84px;
}
