.page-union-fenqiPage{
    font-size: .14rem;
    padding: 0 .2rem;
}
.page-union-fenqiPage .top-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem .2rem .1rem;
    border-bottom: .01rem solid #cfcfcf;
}
.page-union-fenqiPage .top-info .pro-img{
    height: .9rem;
}
.page-union-fenqiPage .top-info .pro-group{
    flex: 1;
    text-align: center;
}
.page-union-fenqiPage .top-info .pro-name{
    font-size: .18rem;
}
.page-union-fenqiPage .price-set-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: .62rem;
}
.page-union-fenqiPage  .price-input{
    height: .25rem;
    width: 1.3rem;
    border: .01rem solid #cfcfcf;
    border-radius: .03rem;
    padding: 0 .1rem;
    font-size: .14rem;
    color: #1bdfdf;
    text-decoration: none;
}
.page-union-fenqiPage  .price-btn{
    display: inline-block;
    margin-left: .1rem;
    border-radius: .05rem;
    background-color: #1bdfdf;
    color: #fff;
    padding: .02rem .1rem;
}
.page-union-fenqiPage .fenqi-detail{
    margin-top: .1rem;
}
.page-union-fenqiPage .fenqi-detail .fenqi-row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    border: .01rem solid #999;
}
.page-union-fenqiPage .fenqi-detail .fenqi-row:last-child{
    border-top: none;
}
.page-union-fenqiPage .fenqi-detail .fenqi-col{
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: .6rem;
    border-right: .01rem solid #999;
}
.page-union-fenqiPage .fenqi-detail .fenqi-col:last-child{
    border-right: none;
}
.page-union-fenqiPage .line-info{
    text-align: center;
    margin-top: .2rem;
}
.page-union-fenqiPage .ewm-btn{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 2.5rem;
    height: .38rem;
    line-height: .38rem;
    font-size: .16rem;
    margin: .3rem auto .15rem;
    color: #fff;
    background-color: #1bdfdf;
    border-radius: 1rem;
}
.page-union-fenqiPage .qrcode img{
    width: 1.28rem;
    margin: .5rem auto 0;
}
