.page-order-list {  }

.page-order-list .block-tab {
}

.page-order-list .block-tab .tab-item,
.page-order-list .block-tab .tab-item:hover {
    line-height: .44rem;
    font-size: .14rem;
    background-color: #e2e0e0;
    color: #3b3b3b;
    text-align: center;
    text-decoration: none;
}

.page-order-list .block-tab .tab-item.selected {
    background-color: #cacaca;
}

.page-order-list .block-search {
    padding: .06rem .1rem;
}
.page-order-list .block-search .col-12-8,
.page-order-list .block-search .col-12-4{
}
.page-order-list .block-search form{
    position: relative;
    font-size: 0;
}
.page-order-list .block-search input{
    padding: 0 .06rem;
    display: inline-block;
    width: 80%;
    height: .32rem;
    font-size: .12rem;
    vertical-align: top;
    border: 0;
    border-radius: 0;
    /*border-radius: .04rem 0 0 .04rem;*/
}
.page-order-list .block-search button{
    display: inline-block;
    width: 20%;
    height: .32rem;
    font-size: .24rem;
    vertical-align: top;
    border: 0;
    /*border-radius: 0 .04rem .04rem 0;*/
    border-radius: 0;
    background-color: #e2e0e0;
    color: #fff;
}
.page-order-list .block-search .btn-trigger-offline-replacement-order{
    float: right;
    padding: 0 .2rem;
    line-height: .32rem;
    color: #0b7;
    font-size: .12rem;
}
.page-order-list .block-search .icon-circle-solid-error,
.page-order-list .block-search .icon-circle-solid-error:hover{
    display: none;
    position: absolute;
    top: 0;
    right: .6rem;
    width: .32rem;
    line-height: .32rem;
    font-size: .14rem;
    text-align: center;
    color: #ccc;
    text-decoration: none;
}

.page-order-list .block-order-list {
    padding: .1rem .1rem;
    color: #343338;
}

.page-order-list .block-order-list .order-item {
    margin-bottom: .1rem;
}
.page-order-list .block-order-list .order-item>.row{
    padding: .02rem 0;
}
.page-order-list .block-order-list .order-item>.row:first-child{
    color: #777777;
}

.page-order-list .block-order-list .order-p-img {
    height: 1rem;
    background: transparent no-repeat center;
    background-size: contain;
}
.page-order-list .block-order-list .order-create-at {
    text-align: right;
}
.page-order-list .block-order-list .order-p-name {
    font-size: .24rem;
}
.page-order-list .block-order-list .order-p-sku {
    text-align: center;
}
.page-order-list .block-order-list .order-p-price {
    color: #0b7;
}
.page-order-list .block-order-list .order-status {
    display: flex;
    height: 1rem;
    align-items: center;
}
.page-order-list .block-order-list .order-status span {
    display: block;
    width: 100%;
    text-align: right;
    color: #df1b1b;
}
.page-order-list .block-order-list .order-rent-info {
    line-height: .28rem;
}
.page-order-list .block-order-list .btn-trigger-confirm {
    float: right;
    padding: 0 .2rem;
    line-height: .28rem;
    color: #0b7;
    font-size: .12rem;
}


.page-order-list .dialog-order-confirm-ship{
    border: 0;
    background-color: #fff;
}
.page-order-list .dialog-order-confirm-ship .dialog-inner{
    padding: .24rem .1rem;
}
.page-order-list .dialog-order-confirm-ship .row{
    margin-bottom: .06rem;
}
.page-order-list .dialog-order-confirm-ship .col-12-4{
    line-height: .36rem;
    text-align: right;
}
.page-order-list .dialog-order-confirm-ship .col-12-8{
    padding-left: .06rem;
}
.page-order-list .dialog-order-confirm-ship .btn-submit{
    margin: 0 auto;
    display: block;
    width: 1.4rem;
    height: .36rem;
    border: 0;
    border-radius: 0;
    background-color: #0b7;
    color: #fff;
}
