.page-union-rentPage{
    font-size: .14rem;
    padding: 0 .2rem;
}
.page-union-rentPage .top-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem .2rem .1rem;
    border-bottom: .01rem solid #cfcfcf;
}
.page-union-rentPage .top-info .pro-img{
    height: .9rem;
}
.page-union-rentPage .top-info .pro-group{
    flex: 1;
    text-align: center;
}
.page-union-rentPage .top-info .pro-name{
    font-size: .18rem;
}
.page-union-rentPage .price-set-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: .62rem;
}
.page-union-rentPage  .price-input{
    height: .25rem;
    width: 1.3rem;
    border: .01rem solid #cfcfcf;
    border-radius: .03rem;
    padding: 0 .1rem;
    font-size: .14rem;
    color: #1bdfdf;
    text-decoration: none;
}

.page-union-rentPage .doc_input{
    height: .25rem;
    width: 1.3rem;
    border: .01rem solid #cfcfcf;
    border-radius: .03rem;
    padding: 0 .1rem;
    font-size: .14rem;
    color: #1bdfdf;
    text-decoration: none;
}

.page-union-rentPage  .price-btn{
    display: inline-block;
    margin-left: .1rem;
    border-radius: .05rem;
    background-color: #1bdfdf;
    color: #fff;
    padding: .02rem .1rem;
}
.page-union-rentPage  .line-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem .15rem;
    line-height: 1.5;
}
.page-union-rentPage .ewm-btn{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 2.5rem;
    height: .38rem;
    line-height: .38rem;
    font-size: .16rem;
    margin: .3rem auto .15rem;
    color: #fff;
    background-color: #1bdfdf;
    border-radius: 1rem;
}
.page-union-rentPage .qrcode-wrap{
    display: none;
   text-align: center;
    padding: .1rem;
    color: #1bdfdf;
    font-size: .2rem;
}
.page-union-rentPage .qrcode img{
    width: 1.28rem;
    margin:.2rem auto 0;
}
