.page-xxg-order-detail .block-order-suning-one-stop-order {
    border-radius: 0 0 .08rem .08rem;
    background-color: #fff;
    color: #666;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .c-black {
    color: #000;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .c-orange {
    color: #f84;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .ext-tips {
    margin-top: -.04rem;
    margin-bottom: .02rem;
    line-height: 1.2;
    font-size: .09rem;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .row {
    padding: 0 .1rem;
    line-height: .28rem;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .row .col-12-8 {
    text-align: right;
}

.page-xxg-order-detail .block-order-suning-one-stop-order .btn {
    padding: 0 .06rem;
    display: inline-block;
    vertical-align: middle;
    line-height: .22rem;
    font-size: .12rem;
    border-radius: .06rem;
    color: #fff;
    background-color: #ff8844;
    text-align: center;
}

/* 差异款大于冻结款 */
.page-xxg-order-detail .dialog-suning-one-stop-order-too-much-than-locked-content .title {
    text-align: center;
    font-size: .16rem;
    line-height: 2;
}

.page-xxg-order-detail .dialog-suning-one-stop-order-too-much-than-locked-content .desc {
    margin: .1rem auto;
}

.page-xxg-order-detail .dialog-suning-one-stop-order-too-much-than-locked-content .desc-tips {
    font-size: .1rem;
}

/* END 差异款大于冻结款 */

/* 确认进去补差价 */
.page-xxg-order-detail .dialog-suning-one-stop-order-confirm-content .title {
    text-align: center;
    font-size: .16rem;
    line-height: 2;
}

.page-xxg-order-detail .dialog-suning-one-stop-order-confirm-content .desc {
    margin: .1rem auto;
}

.page-xxg-order-detail .dialog-suning-one-stop-order-confirm-content .btn {
    border-radius: 0;
}

.page-xxg-order-detail .dialog-suning-one-stop-order-confirm-content .btn.btn-cancel {
    background-color: #999;
}

/* END 确认进去补差价 */
