.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1000px;
}
a:hover{
    text-decoration: none;
}

.page-hd-word-cup {
    background:#172047;
    min-width: 1000px;
}
.page-hd-word-cup .topbar .in{
    width: 1000px;
}

/*右下固定二维码*/
.page-hd-word-cup .block-ewm{
    height: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
.page-hd-word-cup .block-ewm .ewm-right-fixed{
    position: absolute;
    right: -170px;
    bottom: 20px;
    text-align: center;
    padding: 10px;
    background: #ff272a;
    border-radius: 6px;
}
.page-hd-word-cup .block-ewm .ewm-right-fixed img{
    width: 126px;
    height: 126px;
}
.page-hd-word-cup .block-ewm .ewm-right-fixed .desc{
    font-size: 14px;
    color: #fff;
}
/*右下固定二维码 end*/

/*头图*/
.page-hd-word-cup .block-top,
.page-hd-word-cup .block-top .block-inner{
    height: 374px;
    background: url(https://p4.ssl.qhmsg.com/t018c9d5fe8eb7d2092.jpg) no-repeat center 0;
}
/*头图end*/

/*倒计时*/
.page-hd-word-cup .block-countdown,
.page-hd-word-cup .block-countdown .block-inner{
    height: 69px;
    background: url(https://p0.ssl.qhmsg.com/t01a591521afb77c887.jpg) no-repeat center 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 69px;
}
.page-hd-word-cup .block-countdown .countdown{
    font-size: 0;
}
.page-hd-word-cup .block-countdown .countdown span{
    font-size: 20px;
    vertical-align: middle;
    margin: 0 2px;
}
.page-hd-word-cup .block-countdown .d-num,
.page-hd-word-cup .block-countdown .d-txt{
    display: none;
}
.page-hd-word-cup .block-countdown .h-num,
.page-hd-word-cup .block-countdown .m-num,
.page-hd-word-cup .block-countdown .s-num{
    background: #ff2326;
    padding: 2px 3px;
    border-radius: 3px;
}
/*倒计时 end*/

/*竞猜*/
.page-hd-word-cup .block-guess{
    text-align: center;
}
.page-hd-word-cup .block-guess-champion,
.page-hd-word-cup .block-guess-champion .block-inner{
    height: 239px;
    background: url(https://p0.ssl.qhmsg.com/t0152eba01abed11aea.jpg) no-repeat center 0;
}
.page-hd-word-cup .block-guess-third,
.page-hd-word-cup .block-guess-third .block-inner{
    height: 363px;
    background: url(https://p3.ssl.qhmsg.com/t015ad3be94e7abcebe.jpg) no-repeat center 0;
}
.page-hd-word-cup .block-guess .guess-item{
    position: absolute;
    width: 210px;
    height: 62px;
    border: 2px solid #0064cd;
    border-radius: 999px;
    text-align: left;
    font-size: 20px;
    color: #0064cd;
    line-height: 62px;
}
.page-hd-word-cup .block-guess .guess-item.cur{
    color: #fff;
    background: #0074db;
    background: -moz-linear-gradient(top, #0074db 0%, #004fb9 100%);
    background: -webkit-linear-gradient(top, #0074db 0%,#004fb9 100%);
    background: linear-gradient(to bottom, #0074db 0%,#004fb9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074db', endColorstr='#004fb9',GradientType=0 );
}
.page-hd-word-cup .block-guess .guess-item1{
    left: 245px;
}
.page-hd-word-cup .block-guess .guess-item2{
    right: 226px;
}
.page-hd-word-cup .block-guess-champion .guess-item{
    bottom: 32px;
}
.page-hd-word-cup .block-guess-third .guess-item{
    top: 110px;
}
.page-hd-word-cup .block-guess .label-checked{
    display: none;
    position: absolute;
    right: -3px;
    top: -15px;
    width: 46px;
    height: 46px;
    background: url(https://p1.ssl.qhmsg.com/t0130560e63f5d5ba38.png) no-repeat center 0;
}
.page-hd-word-cup .block-guess .guess-item.cur .label-checked{
    display: block;
}
.page-hd-word-cup .block-guess .guess-item .team-flag{
    position: absolute;
    left: 2px;
    top:2px;
    width: 56px;
    height: 56px;
    border-radius: 999px;
    border: 1px solid #013cb0;
}
.page-hd-word-cup .block-guess .guess-item .team-name{
    padding-left: 70px;
}
.page-hd-word-cup .block-guess .btn-submit{
    display: inline-block;
    margin-top: 200px;
    padding: 12px 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    background: #0074db;
    background: -moz-linear-gradient(top, #0074db 0%, #004fb9 100%);
    background: -webkit-linear-gradient(top, #0074db 0%,#004fb9 100%);
    background: linear-gradient(to bottom, #0074db 0%,#004fb9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074db', endColorstr='#004fb9',GradientType=0 );
}
.page-hd-word-cup .block-guess .btn-submit.btn-disabled{
    background: #ddd;
}
.page-hd-word-cup .block-guess .guess-tips{
    color: #666;
    font-size: 14px;
    padding-top: 20px;
}
/*竞猜 end*/

/*回收送优酷会员*/
.page-hd-word-cup .block-middle-banner,
.page-hd-word-cup .block-middle-banner .block-inner{
    height: 198px;
    background: url(https://p3.ssl.qhmsg.com/t01b75218589da87a1b.gif) no-repeat center 0;
}
.page-hd-word-cup .block-middle-banner a{
    display: block;
    width: 910px;
    height: 150px;
    padding-top: 46px;
    margin: 0 auto;
}
/*回收送优酷会员 end*/

/*活动规则*/
.page-hd-word-cup .block-desc{
    color: #fff;
    padding: 30px 0 60px;
    line-height: 1.68;
    font-size: 14px;
}
.page-hd-word-cup .block-desc .desc-tit{
    font-size: 18px;
    font-weight: bold;
}
/*活动规则 end*/

/*优惠券*/
.page-hd-word-cup .block-coupon,
.page-hd-word-cup .block-coupon .block-inner{
    height: 429px;
    background: url(https://p0.ssl.qhmsg.com/t01863b234515e66df7.jpg) no-repeat center 0;
}
.page-hd-word-cup .block-coupon .btn-coupon{
    position: absolute;
    top: 295px;
    width: 100px;
    height: 32px;
    background: url("https://p1.ssl.qhmsg.com/t01c266138fd703bb8b.png") no-repeat center;
}
.page-hd-word-cup .block-coupon .btn-coupon1{
    left: 578px;
}
.page-hd-word-cup .block-coupon .btn-coupon2{
    left: 1016px;
}
.page-hd-word-cup .block-coupon .btn-coupon.btn-disabled{
    background-image: url("https://p0.ssl.qhmsg.com/t01101cc28a1075134a.png");
    cursor: default;
}
/*优惠券 end*/

/*弹窗*/
.page-hd-word-cup .dialog-wrap.submit-panel{
    width: 540px;
    text-align: center;
    border: none;
    border-radius: 15px;
}
.page-hd-word-cup .submit-panel .dialog-close{
    display: none;
}
.page-hd-word-cup .submit-panel.submit-fail-panel .dialog-close{
    display: block;
}
.page-hd-word-cup .submit-panel .dialog-inner{
    background: #fff;
    border-radius: 15px;
    padding: 30px 0;
}
.page-hd-word-cup .submit-panel .panel-logo{
    position: absolute;
    left: -270px;
    top: -55px;
    width: 341px;
    height: 110px;
    background: url(https://p1.ssl.qhmsg.com/t0131b5a27ab63358e9.png) no-repeat center 0;
}
.page-hd-word-cup .submit-panel .panel-tit{
    font-size: 20px;
    color: #333;
}
.page-hd-word-cup .submit-panel .panel-desc{
    color: #666;
    font-size: 16px;
    padding-top: 6px;
}
.page-hd-word-cup .submit-panel .panel-btn{
    font-size: 14px;
    width: 230px;
    margin: 25px auto 0;
}
.page-hd-word-cup .submit-panel .panel-btn a{
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}
.page-hd-word-cup .submit-panel .panel-btn .btn-close{
    height: 38px;
    color: #666;
    border:1px solid #c8c8c8;
}
.page-hd-word-cup .submit-panel .panel-btn .btn-ok{
    color: #fff;
    background: #0074db;
    background: -moz-linear-gradient(top, #0074db 0%, #004fb9 100%);
    background: -webkit-linear-gradient(top, #0074db 0%,#004fb9 100%);
    background: linear-gradient(to bottom, #0074db 0%,#004fb9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074db', endColorstr='#004fb9',GradientType=0 );
}
/*弹窗 end*/















