.page-zhimacredit-order-submit {

}

.page-zhimacredit-order-submit #Main .main-inner {
    margin-bottom: .44rem;
    padding-bottom: .1rem;
}

.page-zhimacredit-order-submit ::placeholder,
.page-zhimacredit-order-submit ::-webkit-input-placeholder {
    color: #999;
}

.row-zhimacredit-shangmen-area{
    padding: 0 .1rem;
    line-height: 3.5;
    background-color: #fff;
}
.row-zhimacredit-shangmen-area .col-12-8{
    text-align: right;
}

/*回收方式切换导航*/
.block-zhimacredit-service-type-nav {
    text-align: center;
    background-color: #fff;
}

.block-zhimacredit-service-type-nav a,
.block-zhimacredit-service-type-nav a:hover {
    line-height: 3;
    color: #333;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.block-zhimacredit-service-type-nav a.selected {
    border-bottom: 2px solid #ff4500;
    font-weight: 600;
}

/*回收服务方式*/
.block-zhimacredit-service {
}

/*信用回收预付款信息*/
.block-zhimacredit-prepay {
    text-align: center;
    background-color: #fff8cc;
}

.block-zhimacredit-prepay .content-overview {
    padding: .1rem 0;
    line-height: 1.68;
    color: #ff4500;
}

.block-zhimacredit-prepay .content-detail {
    padding: .16rem .1rem;
    font-size: .12rem;
    border-top: 1px solid #ffef88;
}

.block-zhimacredit-prepay .content-detail .row-desc {
    color: #999;
}

.block-zhimacredit-prepay .content-detail .col-12-4 {
    width: 33%;
}

.block-zhimacredit-prepay .content-detail .col-12-1 {
    width: 6%;
}

.block-zhimacredit-prepay .content-detail .col-12-2 {
    width: 22%;
}

.block-zhimacredit-prepay .content-detail b {
    font-size: .18rem;
}
.block-zhimacredit-prepay .content-detail .final-price {
    color: #ff4500;
}

/*信用回收取件信息*/
.block-zhimacredit-pickup-info{
    margin-top: .1rem;
    position: relative;
    padding: .16rem .1rem;
    background-color: #fff;
}
.block-zhimacredit-pickup-info .pickup-contact,
.block-zhimacredit-pickup-info .pickup-address{
    line-height: 2;
    color: #666;
}
.block-zhimacredit-pickup-info .pickup-contact .c-name{
    padding-right: .2rem;
    color: #000;
}
.block-zhimacredit-pickup-info .btn-modify-pickup-info{
    position: absolute;
    top: .16rem;
    right: .2rem;
    color: #0077cc;
}

/*信用回收其他信息*/
.block-zhimacredit-other-info{
    margin-top: .1rem;
    padding: 0 .1rem;
    line-height: 3.5;
    background-color: #fff;
}
.block-zhimacredit-other-info .col-12-3{
    text-align: left;
}
.block-zhimacredit-other-info .col-12-9{
    padding-right: .1rem;
    text-align: right;
    color: #333;
}
.block-zhimacredit-other-info .col-12-9.arrow-right:after{
    right: 0;
    margin-top: -5px;
}
.block-zhimacredit-other-info .row.use-promo-wrap .col-12-3{
    width: 33.3333333333333333%;
}
.block-zhimacredit-other-info .row.use-promo-wrap .col-12-9{
    width: 66.6666666666666666%
}
.block-zhimacredit-other-info input{
    /*padding-right: .1rem;*/
    display: inline-block;
    width: 100%;
    height: .4rem;
    line-height: normal;
    vertical-align: top;
    text-align: right;
    border: 0;
}

/*提交订单按钮区*/
.block-order-submit-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
}
.block-order-submit-btn .col-12-8{
    padding-top: .06rem;
    padding-left: .1rem;
    height: .44rem;
    line-height: 1.4;
    background-color: #303030;
    color: #fff;
}
.block-order-submit-btn .hs-price {
    padding-left: .1rem;
    color: #ff4500;
}
.block-order-submit-btn .hs-added-price{
    color: #ff4500;
}
.block-order-submit-btn .btn-show-zhimacredit-hs-protocol{
    padding-left: .04rem;
    color: #ff4500;
    text-decoration: underline;
}
.block-order-submit-btn .btn-order-submit{
    display: block;
    height: .44rem;
    line-height: .44rem;
    background-color: #ff4500;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.block-order-submit-btn .btn-order-submit:hover{
    text-decoration: none;
    background-color: rgba(255, 69, 0, 0.70);
}

/*进入下单页面的提示*/
.block-zhimacredit-cover-tip{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    /*display: flex;*/
    display:flex;
    align-items:center;
    justify-content:center;
    max-width: 1080px;
    min-width: 320px;
    background-color: rgba(0, 0, 0, 0.8);
}
.block-zhimacredit-cover-main{
    width:2.8rem;
    /*height:200px;*/
    /*background-color:#333;*/

    /*margin: 0 .2rem;*/
    background-color: #fff;
}
.block-zhimacredit-cover-main-head{
    padding: .16rem 0;
    text-align: center;
    color: #fff;
    background-color: #ffbc42;
    font-size: .14rem;
    line-height: 1.68;
}
.block-zhimacredit-cover-main-head b{
    font-size: .36rem;
}

.block-zhimacredit-cover-main-body{
    padding: .3rem .2rem;
}
.block-zhimacredit-cover-main-body ul{
    padding: 0 0 0 .2rem;
    list-style: disc;
}
.block-zhimacredit-cover-main-body .btn-zhimacredit-cover-go{
    margin-top: .2rem;
    display: block;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    color: #fff;
    background-color: #ffbc42;
}