/*优品支付*/
.page-liangpin .liangpin-head {
    margin-bottom: 5px;
}

.head-right-cashier,
.cashier-icon,
.ca-price-mod .ca-opt-info i,
.cashier-method li i,
.ca-pay-save .pay-mod-guide,
.period-button .period-icon i,
.ca-pay-description .alipay,
.ca-pay-description .weixin,
.ca-pay-description .jd,
.ca-pay-description .hdfk,
.ca-pay-description .suning,
.ca-pay-description .hbfq,
.ca-pay-line,
.ca-pay-save .pay-mod-tv,
.pay-period-list i,
.pay-period-list .active b,
.combine-pay-step-1 .ca-pay-save-pay-success-icon {
    background: url("https://p.ssl.qhimg.com/t019e02a213c9826a9e.png") no-repeat; /*background:url("https://p.ssl.qhimg.com/t01a1a0d2363fd90215.png") no-repeat;*/
}

.head-right-cashier {
    width: 225px;
    height: 50px;
    background-position: 0 0;
    float: right;
    margin-right: -20px;
    margin-top: 15px;
}

.lp-cashier {
    padding: 0 5px 12px 80px;
    border: solid 1px #eaeaea;
    background-color: #fff;
    overflow: hidden;
    _zoom: 1;
}

.cashier-icon {
    float: left;
    width: 54px;
    height: 55px;
    margin: 12px 32px 0 0;
    _display: inline;
}

.lp-cashier .success {
    background-position: -3px -53px;
}

.lp-cashier .fail {
    background-position: -64px -593px;
}

.lp-cashier .continue {
    background-position: 0 -593px;
}

.cashier-box {
    float: left;
    padding-top: 15px;
    width: 1020px;
    _display: inline;
}

.cashier-hd {
    width: 100%;
    overflow: hidden;
}

.ca-status-mod {
    float: left;
}

.ca-status-mod h5 {
    font-size: 20px;
    color: #333;
}

.ca-status-mod p {
    font-size: 14px;
    color: #666;
}

.ca-status-mod p cite {
    color: #f50;
}

.ca-price-mod {
    float: right;
}

.ca-price-mod p {
    font-size: 12px;
    color: #999;
    margin-bottom: 14px;
}

.ca-price-mod .ca-opt-info {
    font-size: 14px;
    color: #2e74d3;
    vertical-align: middle;
    text-align: right;
    cursor: pointer;
}

.ca-price-mod .ca-opt-info:hover {
    color: #f50;
}

.ca-price-mod .ca-opt-info i {
    display: inline-block;
    width: 12px;
    height: 8px;
    background-position: -179px -87px;
    margin-left: 6px;
}

.lp-cashier-category {
    overflow: hidden;
}

.lp-cashier-category h4 {
    font-size: 18px;
    color: #666;
    padding: 26px 0 6px 35px;
}

.cashier-method {
    border: solid 1px #e5e5e5;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.cashier-method .cashier-tab {
    background-color: #f6f6f6;
    height: 46px;
    overflow: hidden;
}

.cashier-method .cashier-tab li {
    width: 175px;
    height: 45px;
    line-height: 45px;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    background-color: #f6f6f6;
    float: left;
    font-size: 16px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.cashier-method .cashier-tab li:hover {
    color: #f50;
}

.cashier-method .cashier-tab li.active {
    background-color: #fff;
    color: #f50;
    border-top: solid 2px #ff4600;
    border-bottom: 0;
    height: 44px;
    line-height: 41px;
}

.cashier-method .cashier-tab li.disabled {
    opacity: .5;
}

.cashier-method .cashier-tab li.disabled:hover {
    color: #666;
}

.cashier-method .cashier-tab li i {
    display: inline-block;
    width: 47px;
    height: 18px;
    background-position: -123px -81px;
    margin-left: 3px;
    position: relative;
    top: 2px;
    _margin-top: 12px;
}

.cashier-mod {
    background: #fff;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    _zoom: 1;
}

.ca-pay-description {
    width: 210px;
    float: left;
    margin-left: 146px;
    margin-top: 50px;
    _display: inline;
    overflow: hidden;
}

.ca-pay-description {
    overflow: hidden;
}

.ca-pay-description .ca-pay-icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    _display: inline;
}

.ca-pay-description .alipay {
    background-position: 0 -112px;
}

.ca-pay-description .weixin {
    background-position: -56px -112px;
}

.ca-pay-description .hdfk {
    background-position: -113px -112px;
}

.ca-pay-description .jd {
    background-position: 0 -655px;
}

.ca-pay-description .suning {
    background-position: -56px -655px;
}

.ca-pay-description .hbfq {
    width: 33px;
    height: 33px;
    background-position: -174px -125px;
}

.ca-pay-info {
    margin-top: -6px;
}

.ca-pay-info strong {
    font-size: 24px;
    color: #000;
}

.ca-pay-info p {
    margin-left: 60px;
    *margin-left: 0;
    font-size: 14px;
    color: #999;
}

.ca-pay-line {
    float: left;
    width: 33px;
    height: 191px;
    background-position: -217px -144px;
}

.ca-pay-save {
    float: left;
    width: 252px;
    margin-left: 32px;
    _display: inline;
    position: relative;
}

.ca-pay-save .pay-mod-tv {
    width: 242px;
    height: 154px;
    background-position: -20px -430px;
    margin-top: 12px;
}

.ca-pay-save .money-mod {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.ca-pay-save .money-mod b {
    font-size: 26px;
    color: #f40;
    margin: 0 3px;
}

.ca-pay-save .error {
    color: #f50;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.ca-pay-save .pay-button {
    display: block;
    width: 235px;
    height: 50px;
    line-height: 50px;
    background-color: #f40;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.ca-pay-save .pay-button:hover {
    background-color: #e30;
}

.ca-pay-save .pay-button-wx {
    display: block;
    margin: 0 auto;
    width: 123px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border: solid 1px #eaeaea;
    cursor: pointer;
}

.pay-mod-scan {
    text-align: center;
}

.ca-pay-save .pay-button.disabled {
    background-color: #999;
}

.ca-pay-save .pay-button-wx.disabled {
    color: #ccc;
}

.ca-pay-save .pay-mod-guide {
    width: 197px;
    height: 170px;
    background-position: 0 -165px;
    position: absolute;
    right: -170px;
    top: -10px;
}

.pay-mod-scan img {
    width: 161px;
    height: 161px;
    border: solid 1px #e2e2e2;
    padding: 2px;
}

.delivery-txt {
    font-size: 20px;
    color: #333;
    margin-bottom: 6px;
}

.delivery-txt-other {
    font-size: 14px;
    color: #999;
}

.delivery-txt-other cite {
    color: #f50;
}

.ca-pay-delivery {
    width: 480px;
}

.ca-pay-delivery .money-mod {
    text-align: left;
}

.ca-pay-delivery .money-mod strong {
    font-size: 18px;
    color: #000;
}

.pay-mod-delivery {
    padding: 60px 0 30px 0;
}

.hbfq-block {
    padding: 0;
    margin-bottom: 10px;
}

.cashier-bd {
    border-top: solid 1px #ededed;
    padding: 12px 0 4px 0;
    margin-top: 12px;
}

.cashier-bd p {
    font-size: 12px;
    color: #999;
    margin: 3px 0 4px 0;
}

.pay-period-help.cashier-box .hidden {
    display: none;
}

.period-pannel {
    padding: 45px 0px 10px 0px;
}

.pay-period-list {
    padding-left: 22px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pay-period-list li {

    /*width: 244px;*/
    min-width: 220px;
    height: 75px;
    padding: 8px 12px;
    border: solid 1px #999;
    margin-right: 10px;
    _display: inline;
    float: left;
    position: relative;
    cursor: pointer;
}

.pay-period-list .active {
    border: solid 2px #f40;
    padding: 7px 11px;
}

.pay-period-list .active b {
    width: 37px;
    height: 36px;
    display: block;
    background-position: -68px -63px;
    position: absolute;
    right: 0;
    bottom: 0;
    _bottom: -1px;
}

.pay-period-list i {
    display: block;
    width: 71px;
    height: 71px;
    float: left;
}

.pay-period-list .icon-three {
    background-position: -3px -345px;
}

.pay-period-list .icon-six {
    background-position: -85px -345px;
}

.pay-period-list .icon-twelve {
    background-position: -171px -345px;
}
.pay-period-list .icon-twenty-four {
    /*background-position: -171px -345px;*/
    background: url("https://p2.ssl.qhimg.com/t01755d9049b9e63b7e.png") no-repeat;
}

.pay-period-list .period-view {
    float: left;
    margin-left: 20px;
    margin-top: 2px;
    _display: inline;
}

.pay-period-list .period-view span {
    display: block;
}

.pay-period-list .period-view span.price {
    color: #000;
    font-size: 30px;
}

.pay-period-list .period-view span.commission {
    color: #b8b8b8;
}

.pay-period-help {
    width: 740px;
    margin: 10px 0 10px 170px;
}

.pay-period-help li {
    color: #999;
    line-height: 24px;
    font-size: 14px;
    margin-top: 4px;
}

.period-button {
    border-top: solid 1px #eaeaea;
    padding: 10px 0;
    overflow: hidden;
}

.period-button .period-icon {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    _display: inline;
}

.period-button .period-icon i {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-position: -174px -125px;
    vertical-align: middle;
    margin-right: 12px;
}

.period-button .link-huabei-help {
    margin-left: 170px;
    font-size: 14px;
}

.period-pay-block {
    padding: 20px 0 20px 0px;
    overflow: hidden;
    _zoom: 1;
    display: flex;
    justify-content: center;
}

.period-pay-block .btn-btn-money {
    float: left;
    width: 222px;
    font-size: 14px;
    _display: inline;
}

.period-pay-block .btn-btn-money p {
    color: #999;
    vertical-align: middle;
}

.period-pay-block .btn-btn-money p b {
    margin-left: 6px;
    display: inline-block;
}

.period-pay-block .period-num {
    height: 42px;
    color: #333;
}

.period-pay-block .period-num b {
    font-size: 28px;
    color: #f40;
}

.period-pay-block .btn-once-pay {
    float: left;
    width: 235px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #f40;
    margin-top: 10px;
    cursor: pointer;
    _display: inline;
}

.ca-status-mod .desc-txt, .ca-status-mod .d-num, .ca-status-mod .d-txt, .ca-status-mod .h-num, .ca-status-mod .h-txt, .ca-status-mod .desc-txt-behind {
    display: none;
}

.cashier-method .hidden {
    display: none;
}

.period-pay-block .btn-once-pay:hover {
    background-color: #e30;
}

.period-pay-block .btn-once-pay.disabled {
    background-color: #999;
}

/*订单支付确认panel*/
.liangpin-payment-confirm-panel {
    width: 524px;
    border: solid 1px #c1c1c1;
}

.liangpin-payment-confirm-panel .payment-hd {
    margin: 0 15px;
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    border-bottom: 1px solid #cbcbcb;
    text-align: center;
}

.liangpin-payment-confirm-panel .payment-hd .close {
    float: right;
    width: 41px;
    height: 41px;
    margin-top: 15px;
    background: url("https://p.ssl.qhimg.com/t011ccfaa5874f58a59.jpg") no-repeat;
    cursor: pointer;
}

.liangpin-payment-confirm-panel .payment-bd {
    margin: 30px auto 15px auto;
    width: 440px;
}

.payment-confirm-btn span {
    display: inline-block;
    width: 200px;
    height: 47px;
    line-height: 47px;
    border: solid 1px #eaeaea;
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-left: 12px;
    cursor: pointer;
}

.payment-bd p {
    padding-left: 12px;
    padding-top: 14px;
    font-size: 14px;
    color: #666;
}

.payment-bd .error {
    color: #f50;
}

.bg-payment {
    background-color: #f5f5f5;
    padding-top: 5px;
}

/* 组合支付 */
.combine-pay-block {
}

.combine-pay-block .title {
    line-height: 1;
    font-size: 28px;
}

.combine-pay-step-1.step-1-finished {
    opacity: .5;
}

.combine-pay-step-1 .col-left-fixed {
    width: 235px;
}

.combine-pay-step-1 .col-right {
    padding-top: 38px;
}

.combine-pay-step-1 .ca-pay-description {
    margin-top: 25px;
    margin-left: 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.combine-pay-step-1 .ca-pay-description.checked {
    border-color: #f50;
}

.combine-pay-step-1 .ca-pay-description-alipay {
    margin-top: 20px;
}

.combine-pay-step-1 .ca-pay-save {
    margin-left: 6px;
    /*width: 230px;*/
    width: 190px;
}

.combine-pay-step-1 .ca-pay-save-enter-amount {
    padding-top: 44px;
    text-align: center;
}

.combine-pay-step-1 .ca-pay-save-enter-amount .inpt {
    width: 140px;
    height: 28px;
    line-height: normal;
    text-align: center;
}

.combine-pay-step-1 .ca-pay-save-enter-amount button {
    margin-top: 0;
    width: 150px;
    height: 36px;
    line-height: normal;
    text-align: center;
    font-size: 14px;
    background-color: #f50;
    color: #fff;
    border: 0;
}

.combine-pay-step-1 .ca-pay-save-enter-amount .enter-amount-error-tips {
    height: 24px;
    line-height: 18px;
    font-size: 12px;
    color: #f00;
    visibility: hidden;
}

.combine-pay-step-1 .ca-pay-save-after-enter-amount.ca-pay-save-after-enter-amount-for-alipay {
    padding-top: 60px;
}

.combine-pay-step-1 .row-btn {
    text-align: center;
}

.combine-pay-step-1 .row-btn .btn {
    margin: 10px 10px 0;
    display: inline-block;
    width: 68px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #444;
    border: 1px solid #ccc;
    background: none;
}

.combine-pay-step-1 .row-btn .btn.pay-button-combine-pay-confirm {
    color: #fff;
    border-color: #f50;
    background-color: #f50;
}

.combine-pay-step-1 .ca-pay-save-pay-success {
    padding: 20px 40px 0 0;
    text-align: center;
}

.combine-pay-step-1 .ca-pay-save-pay-success .desc {
    line-height: 1;
    font-size: 24px;
}

.combine-pay-step-1 .ca-pay-save-pay-success-icon {
    margin: 0;
    display: inline-block;
    width: 54px;
    height: 55px;
    background-position: -3px -53px;
}

.combine-pay-step-2 .ca-pay-description {
    margin-top: 25px;
    margin-left: 0;
}

.combine-pay-step-2 .ca-pay-description-hbfq {
    margin-top: 83px;
}

.combine-pay-step-2 .ca-pay-info {
    margin-top: -2px;
}

.combine-pay-step-2 .block-combine-pay-hbfq {
    padding: 45px 0 0;
}

.combine-pay-step-2 .block-combine-pay-hbfq .pay-period-list {
    float: left;
    padding-left: 0;
    width: 250px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .pay-period-list li {
    margin-top: 10px;
    width: 212px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .pay-period-list .period-view {
    margin-left: 10px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .period-pay-block {
    float: left;
    padding: 168px 0 0 10px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .period-pay-block .btn-btn-money {
    float: none;
    width: 190px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .period-pay-block .period-num b {
    font-size: 26px;
}

.combine-pay-step-2 .block-combine-pay-hbfq .period-pay-block .btn-once-pay {
    width: 160px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}

/* END 组合支付 */
