/* ===============首页================ */

.page-liangpin-index .tg-small {
    /*width: 1198px;*/
    width: 1200px;
    /*height: 148px;*/
    height: 150px;
    /*border: 1px solid #eaeaea;*/
    position: relative;
    background: #fff;
    margin-top:5px;
}

.page-liangpin-index .tg-small .slide-go-left,
.page-liangpin-index .tg-small .slide-go-right {
    position: absolute;
    top: 54px;
    z-index: 3;
    width: 45px;
    height: 45px;
    font-size: 0;
    cursor: pointer;
    background: transparent url(https://p.ssl.qhimg.com/t01d491ca6bcf8347f1.png) no-repeat 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-liangpin-index .tg-small .slide-go-left {
    left: -22px;
    background-position: 0 0;
}
.page-liangpin-index .tg-small .slide-go-right {
    right: -22px;
    background-position: -48px 0;
}
.page-liangpin-index .tg-small .slide-go-left.disabled,
.page-liangpin-index .tg-small .slide-go-left.disabled:hover{
    background-position: 0 -97px;
}
.page-liangpin-index .tg-small .slide-go-right.disabled,
.page-liangpin-index .tg-small .slide-go-right.disabled:hover{
    background-position: -48px -97px;
}
.page-liangpin-index .tg-small .slide-go-left:hover{
    text-decoration: none;
    background-position: 0 -50px;
}
.page-liangpin-index .tg-small .slide-go-right:hover {
    text-decoration: none;
    background-position: -48px -50px;
}

.page-liangpin-index .tg-small .slide-inner {
    position: absolute;
    top: -10px;
    left: -1px;
    z-index: 2;
    width: 1200px;
    height: 168px;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-liangpin-index .tg-small .slide-item {
    width: 299px;
    height: 148px;
    float: left;
    cursor: pointer;
    border-right:solid 1px #ececec;
}

/* 精选/秒杀商品 jx-selling：精选 xsq-selling：秒杀*/
.page-liangpin-index .hot-product-list {
    padding-top: 10px;
    color: #333;
}

.page-liangpin-index .hot-product-list .slide-img {
    float: left;
    width: 110px;
    height: 148px;
    line-height: 148px;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.page-liangpin-index .hot-product-list .slide-img a {
    width: 110px;
    height: 148px;
    overflow: hidden;
}

.page-liangpin-index .hot-product-list .slide-img a:hover {
    text-decoration: none;
}

.page-liangpin-index .hot-product-list .slide-img img {
    height: 80px;
}
.page-liangpin-index .hot-product-list .slide-txt {
    position: relative;
    float: left;
    padding-top:10px;
    height: 138px;
    width:179px;
}

.page-liangpin-index .hot-product-list .p-tit {
    line-height: 1;
    font-size: 14px;
    color: #333;
}

.page-liangpin-index .hot-product-list .p-tit-sub{
    color: #999;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    word-break: break-all;
}

.page-liangpin-index .hot-product-list .p-price {
    line-height: 1;
    font-size: 16px;
    color: #f50;
}

.page-liangpin-index .hot-product-list .p-price-orig{
    position: relative;
    height: 18px;
    font-size: 12px;
    color: #999;
    padding-top: 8px;
}

.page-liangpin-index .hot-product-list .p-price-off {
    position: absolute;
    top: 0px;
    left: 44px;
    padding-left: 7px;
    width: 34px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: url(https://p.ssl.qhimg.com/t01e7d33b82039e5dab.png) no-repeat 0 0;
}

.page-liangpin-index .hot-product-list .p-price-num {
    font-size: 30px;
}
.page-liangpin-index .hot-product-list .p-buy {
    position: absolute;
    bottom: 4px;
    display: block;
    width: 102px;
    height: 36px;
    line-height: 36px;
    background: #f50;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.page-liangpin-index .hot-product-list .p-buy:hover {
    background: #fc6621;
}

.page-liangpin-index .hot-product-list .p-buy-disabled,
.page-liangpin-index .hot-product-list .p-buy-disabled:hover {
    color: #fff;
    background: #d8d3d0;
}

.page-liangpin-index .hot-product-list .lab-jx {
    position: absolute;
    top:0;
    left: -110px;
    display: block;
    width: 40px;
    height: 20px;
    background: #f50;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

.page-liangpin-index .hot-product-list .lab-xsq {
    position: absolute;
    top: 11px;
    left : -120px;
    display: block;
    width: 46px;
    height: 20px;
    background: #f50;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

.page-liangpin-index .hot-product-list .xsq-selling .p-buy {
    display: none;
}

.page-liangpin-index .hot-product-list .xsq-selling .p-buy-disabled {
    display: block;
}

.page-liangpin-index .hot-product-list .xsq-selling .p-buy-not-start {
    display: none;
}

.page-liangpin-index .hot-product-list .seckill{
    position:absolute;
    left:0;
    bottom:8px;
    color: #f50;
    font-size:14px;
    width:30px;
}
.page-liangpin-index .hot-product-list .xsq-selling .countdown {
    position: absolute;
    bottom: 3px;
    left:30px;
    text-align: center;
    font-size: 0;
}

.page-liangpin-index .hot-product-list .xsq-selling .countdown span {
    margin-right: 4px;
    font-size: 14px;
    line-height: 2.2;
}

.page-liangpin-index .hot-product-list .xsq-selling .countdown .d-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown .h-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown .m-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown .s-num {
    padding: 0 1px;
    color: #f50;
}

.page-liangpin-index .hot-product-list .xsq-selling .countdown .d-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown .d-txt {
    display: none;
}

.page-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev,
.page-liangpin-index .hot-product-list .xsq-selling .countdown-end-next {
    color: #999;
}

.page-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .d-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .h-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .m-num,
.page-liangpin-index .hot-product-list .xsq-selling .countdown-start-prev .s-num {
    color: #999;
}

.page-liangpin-index .hot-product-list .slide-item-hover {
    position: relative;
    z-index: 9;
    box-shadow: 0 0 35px -10px #333;
}

.page-liangpin-index .hot-product-list .slide-item-hover .p-buy {
    display: block;
}

.page-liangpin-index .hot-product-list .slide-item-hover .countdown {
    display: none;
}
.page-liangpin-index .hot-product-list .slide-item-hover .seckill{
    display: none;
}

/*首页专区标题*/
.page-liangpin-index .index-title{
    padding: 25px 0 6px 15px;
    font-size: 18px;
    color: #333;
}
.page-liangpin-index .block-info .block-info-m{
    margin: 0 15px;
}

.page-liangpin-index .video-player-panel{
}
.page-liangpin-index .video-player-panel .bd{
    width: 800px;
    height: 460px;
    font-size: 0;
}
.page-liangpin-index .video-player-panel .bd video,
.page-liangpin-index .video-player-panel .bd object,
.page-liangpin-index .video-player-panel .bd embed{
    width: 100%;
    height: 100%;
}
.page-liangpin-index .video-player-panel .ft{
    display: none;
}

/*回到顶部更改图标，隐藏掉之前图标*/
.page-liangpin-index .returnToTop{
    display: none;
}
