/* ==================品牌=============== */
/* 型号信息 */
.page-liangpin-model .brand-model {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
}

.page-liangpin-model .brand-model .model-pic {
    width: 370px;
    height: 300px;
    float: left;
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 35px 0;
    overflow: hidden;
}

.page-liangpin-model .brand-model .model-pic img {
    height: 300px;
}

.page-liangpin-model .brand-model .model-info {
    width: 770px;
    float: right;

}

.page-liangpin-model .model-info .tit {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.page-liangpin-model .model-info .desc {
    color: #666;
}

.page-liangpin-model .brand-model .model-price {
    line-height: 28px;
    height: 28px;
    border: 1px solid #eaeaea;
    margin: 20px 0;
    padding: 16px;
    color: #666;
}

.page-liangpin-model .model-price .m-money {
    font-size: 18px;
    color: #fc6621;
}

.page-liangpin-model .model-price .m-money-num {
    font-size: 28px;
}

.page-liangpin-model .brand-model .model-i-list {
    color: #999;
}

.page-liangpin-model .model-i-list .model-i-item {
    line-height: 24px;
    white-space: nowrap;
    word-break: keep-all;
    width: 33%;
    margin-right: 0.33%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-liangpin-model .main-content {
    margin-bottom: 40px;
}
