/* =================订单列表====================== */
.page-liangpin-ordlist .ordlist-main{background: #fff; padding: 10px; }
.page-liangpin-ordlist .orderlist-nav{
    border-bottom: 1px solid #EAEAEA;
    background: #fff;
    margin-bottom: 10px;
    padding: 0 20px;
}
.page-liangpin-ordlist .o-l-t-item{
    width: 100px;
    margin-right: 20px;
    line-height: 36px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    color: #666;
    float: left;
    text-decoration: none;
}
.page-liangpin-ordlist .o-l-t-curr{
    font-weight: bold;
    border-bottom: 4px solid #185;
    height: 36px;
    line-height: 36px;
    color: #333;
}

.page-liangpin-ordlist .orderlist-list{
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
}
.page-liangpin-ordlist .my-tips-msg{
    background: #fffced;
    border: solid 1px #ffc000;
    color: #333;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 20px;
    margin-bottom: 10px;
}
.page-liangpin-ordlist .my-tips-msg a{margin-right: 8px;}
.page-liangpin-ordlist .my-tips-msg .cur{color: #444;}

.page-liangpin-ordlist .orderlist-list th{
    height: 40px;
    vertical-align: middle;
    text-align: center;
    background: #ededed;
}

.page-liangpin-ordlist .orderlist-list td{
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E0E0E0;
}
.page-liangpin-ordlist .orderlist-list .prd-pic{
    width: 70px;
    height: 70px;
    margin: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.page-liangpin-ordlist .orderlist-list .prd-pic img{
    height: 70px;
}
.page-liangpin-ordlist .orderlist-list .prd-name{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 250px;
    vertical-align: middle;
}
.page-liangpin-ordlist .orderlist-list .money{
    color: #f60;
    font-size: 14px;
}
.page-liangpin-ordlist .orderlist-list .tdcolspan{
    text-align: left;
    padding-left: 40px;
    height: 40px;
    color: #666;
    border-bottom: 1px dashed #E4E4E4;
    border-right: 0;
    background: #fff;
}

.page-liangpin-ordlist .orderlist-list .tdleft{
    text-align: left;
    padding-left: 40px;
}

.page-liangpin-ordlist .orderlist-list .tdright{
    border-right: 0;
}

.page-liangpin-ordlist .am-tit{
    font-size: 14px;
    line-height: 36px;
    font-weight: bold;
    color: #666;
}

.page-liangpin-ordlist .add-newaddress{
    font-size: 14px;
}