/*放假通知page-liangpin-rest*/
.page-liangpin-rest{
    background: #fff;
}
.page-liangpin-rest .tit{
    margin: 0 auto;
    width: 1200px;
}
.page-liangpin-rest .cnt{
    margin: 0 auto;
    width: 960px;
}
.page-liangpin-rest .tit img,
.page-liangpin-rest .cnt img{
    width: 100%;
}
