/* ===============搜索=============== */
.page-liangpin-search .search-filter {
    border-top-color : #eaeaea;
}

.page-liangpin-search .tg-r-4 {
    margin-bottom : 20px;
}

.page-liangpin-search .filter-selected-line {
    margin : 0;
}

.page-liangpin-search .search-filter .filter-selected-line .filter-tit {
    width : 90px;
}

.page-liangpin-search .search-filter .filter-tit {
    font-size   : 16px;
    color       : #369;
    float       : left;
    width       : 80px;
    line-height : 30px;
    padding     : 7px 0 7px 20px;
}

.page-liangpin-search .search-filter .filter-choice {
    margin-left : 80px;
    margin-right: 20px;
    padding     : 7px 0;
    word-wrap: break-word;
    word-break: normal;
}

.page-liangpin-search .returnToTop {
    display: none;
}