/*page-liangpin-soft*/
.page-liangpin-soft{

}
.page-liangpin-soft .panel-tom01 .hd{
    background: #118E5A;
}
.page-liangpin-soft .panel-tom01 .hd h3{
    height: 44px;
    line-height: 44px;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}
.page-liangpin-soft .panel-tom01 .close{
    top: 16px;
}
.page-liangpin-soft .liangpin-main h3{
    padding: 0 0 0 28px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    color: #2E3532;
    background: url(https://p.ssl.qhimg.com/t018fa06a2fd5fe2571.png) no-repeat 10px 20px;
}
.page-liangpin-soft .liangpin-main h3 span{
    margin-left: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #74BB9E;
}
.page-liangpin-soft .liangpin-main h4{
    margin: 20px 0 10px 20px;
    width: 90px;
    font-size: 18px;
    color: #333;
    border-bottom: 3px solid #59AF8A;
    text-align: center;
}
.page-liangpin-soft .soft-download{
    margin-bottom: 20px;
}
.page-liangpin-soft .soft-download-main{
    position: relative;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 18px;
    background: #fff;
}
.page-liangpin-soft .soft-download-main .soft-top-nav-wrap{
    padding: 0 0 0 128px;
    height: 52px;
    /*font-size: 18px;*/
    text-align: center;
    border: 1px solid #E0E0E0;
    border-right: 0;
    border-bottom: 0;
    overflow: hidden;
}
.page-liangpin-soft .soft-download-main .soft-top-nav-more{
    display: none;
    position: absolute;
    top: 54px;
    z-index: 1;
}
.page-liangpin-soft .soft-download-main .soft-top-nav{
    /*padding: 0 0 0 128px;*/
    height: 52px;
    /*font-size: 18px;*/
    /*text-align: center;*/
    /*border: 1px solid #E0E0E0;*/
    /*border-right: 0;*/
    /*border-bottom: 0;*/
}
.page-liangpin-soft .soft-download-main .soft-top-nav-more li,
.page-liangpin-soft .soft-download-main .soft-top-nav li{
    padding: 0 18px;
    float: left;
    border-top: 0;
    border-right: 0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 3px solid #fff;
    line-height: 49px;
    cursor: pointer;
    font-size: 16px;
}
.page-liangpin-soft .soft-download-main .soft-top-nav-more li{
    display: block;
    float: none;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
    line-height: 52px;
}
.page-liangpin-soft .soft-download-main .soft-top-nav .cur{
    border-bottom: 3px solid #185;
    color: #185;
}
.page-liangpin-soft .soft-download-main .soft-top-nav .last{
    border-right: 1px solid #E0E0E0;
}
.page-liangpin-soft .soft-download-main .soft-left-nav{
    float: left;
    width: 130px;
}
.page-liangpin-soft .soft-download-main .soft-left-nav li{
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #E0E0E0;
    border-bottom: 0;
    text-align: right;
    color: #666;
    cursor: pointer;
}
.page-liangpin-soft .soft-download-main .soft-left-nav .cur{
    border: 1px solid #6CBB82;
    border-bottom: 0;
    color: #fff;
    background: #6CBB82;
    cursor: default;
}
.page-liangpin-soft .soft-download-main .soft-left-nav .last{
    height: 425px;
    line-height: normal;
    border-top: 0;
    cursor: default;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt{
    margin-left: 130px;
    border-top: 1px solid #E0E0E0;
    color: #5C6477;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .col{
    padding: 25px 0 5px 0;
    float: left;
    width: 12.5%;
    text-align: center;
    font-size: 12px;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .no-result{
    float: left;
    width: 100%;
    line-height: 150px;
    text-align: center;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt img{
    width: 72px;
    height: 72px;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .tit{
    line-height: 2.6;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .btn-anzhuang{
    padding: 0 6px;
    display: inline-block;
    line-height: 1.6;
    border: 1px solid #BCBCBC;
    color: #68747D;
    text-decoration: none;
    border-radius: 3px;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .btn-anzhuang:hover{
    text-decoration: none;
    background: #E0E0E0;
    color: #185;
}
.page-liangpin-soft .soft-download-main .soft-download-main-cnt .pagination{
    margin-top: 466px;
    margin-bottom: 0;
}
.page-liangpin-soft .soft-download-panel{

}
.page-liangpin-soft .soft-download-panel .bd-row{
    padding-top: 30px;
}
.page-liangpin-soft .soft-download-panel .bd-row .col-right-fixed{
    width: 140px;
    padding-right: 50px;
    text-align: center;
    color: #666;
}
.page-liangpin-soft .soft-download-panel .bd-row .col-left{
    margin-right: 190px;
    padding-left: 30px;
}
.page-liangpin-soft .soft-download-panel .qrcode{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
}
.page-liangpin-soft .soft-download-panel .ico{
    vertical-align: top;
}
.page-liangpin-soft .soft-download-panel .ico img{
    width: 72px;
    height: 72px;
}
.page-liangpin-soft .soft-download-panel .baseinfo{
    margin-left: 12px;
    height: 115px;
    font-size: 12px;
    line-height: 1.8;
    color: #666;
    vertical-align: top;
}
.page-liangpin-soft .soft-download-panel .baseinfo h3{
    color: #333;
    font-size: 16px;
}
.page-liangpin-soft .soft-download-panel .btn-line{
    line-height: 34px;
}
.page-liangpin-soft .soft-download-panel .btn-setup{
    width: 145px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #118E5A;
}
.page-liangpin-soft .soft-download-panel .btn-download{
    margin-left: 10px;
    vertical-align: top;
}
.page-liangpin-soft .soft-download-panel .btn-line-apple .btn-download{
    margin: 0;
    width: 145px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #118E5A;
}
.page-liangpin-soft .soft-download-panel .btn-line-apple .btn-download:hover{
    text-decoration: none;
}

.page-liangpin-soft .shuaji-service{
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border: 1px solid #E0E0E0;
    font-size: 14px;
}
.page-liangpin-soft .shuaji-service h3{
    border-bottom: 1px solid #E0E0E0;
    background: #EDF2F4 url(https://p.ssl.qhimg.com/t018fa06a2fd5fe2571.png) no-repeat 10px 20px;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter .row{
    margin: 5px 20px;
    padding: 5px 0px;
    line-height: 2;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter .first{
    border-bottom: 1px solid #E0E0E0;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter .col-left-fixed{
    float: left;
    width: 100px;
    color: #666;
    text-align: right;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter .col-right{
    margin-left: 100px;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter a{
    margin: 0px 10px 6px 0;
    padding: 0 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none;
}
.page-liangpin-soft .shuaji-service-main .shuaji-filter a:hover,
.page-liangpin-soft .shuaji-service-main .shuaji-filter .cur{
    background: #59AF8A;
    color: #fff;
    text-decoration: none;
}

.page-liangpin-soft .shuaji-service-main .shuaji-list{
    margin-left: 60px;
    margin-right: 20px;
}
.page-liangpin-soft .shuaji-service-main .col-4 .col{
    float: left;
    width: 25%;
    text-align: left;
    /*font-size: 12px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-liangpin-soft .shuaji-service-main .shuaji-list a{
    line-height: 2.4;
    color: #2C82F3;
}
.page-liangpin-soft .service-download-panel{
    color: #666;
}
.page-liangpin-soft .service-download-panel .btn-line{
    margin: 34px 0 0 0;
    line-height: 34px;
    text-align: center;
}
.page-liangpin-soft .service-download-panel .btn{
    width: 155px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.page-liangpin-soft .service-download-panel .btn-download{
    background: #118E5A;
}
.page-liangpin-soft .service-download-panel .btn-jiaocheng{
    margin-left: 15px;
    background: #797979;
}
.page-liangpin-soft .service-download-panel .desc-line{
    /*margin: 10px 0 0 40px;*/
    margin: 10px 0 0 0;
    text-align: center;
}
.page-liangpin-soft .service-download-panel .desc-line span{
    margin-right: 30px;
}
.page-liangpin-soft .service-download-panel .desc-line .last{
    margin-right: 0;
}
.page-liangpin-soft .service-download-panel .tip{
    margin: 20px auto 0 auto;
    text-align: center;
}
.page-liangpin-soft .service-download-panel .tip a{
    margin-left: 10px;
}

.page-liangpin-soft .risk-tips{
    margin-bottom: 20px;
    padding: 20px;
    color: #AC4900;
    border: 1px solid #E8D79C;
    background: #FFF8DE;
    font-size: 16px;
}
.page-liangpin-soft .risk-tips .col-left-fixed{
    width: 100px;
    text-align: right;
}
.page-liangpin-soft .risk-tips .col-right{
    margin-left: 100px;
}

/*刷机教程page-liangpin-softcourse*/
.page-liangpin-softcourse{}
.page-liangpin-softcourse .breadcrumb-nav{
    font-size: 14px;
    color: #666;
}
.page-liangpin-softcourse .content-wrap{
    margin: 10px 0 0 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #666;
    border: 1px solid #E0E0E0;
    background: #fff;
}
.page-liangpin-softcourse .content-wrap h3{
    font-size: 24px;
    line-height: 3;
}
.page-liangpin-softcourse .content-wrap .content-main{}
.page-liangpin-softcourse .content-wrap .content-main h3{
    font-size: 18px;
    line-height: 2.4;
    border-bottom: 2px solid #59AF8A;
}
.page-liangpin-softcourse .content-wrap .content-main p{
    margin-bottom: 20px;
}