.bg-gradient{
    background-image: linear-gradient(to right,#CD272C, #DF3638 20%,#DF3638 80%, #CD272C 100%);
}
.c-golden{
    color: #ffdea9;
}
.w100 {
    width: 100%;
}
.color-orange {
    color: #FF5500;
}
.font-15rem{
    font-size: .15rem;
}
.font-17rem{
    font-size: .17rem;
}
.font-20rem{
    font-size: .20rem;
}
.page-redpack-v2-login .main-body{
    min-height: 100vh;
}
.page-redpack-v2-login .block{
    border: none;
}
.page-redpack-v2-login .top-banner{
    height: 1.61rem;
}
.page-redpack-v2-login .top-banner img{
    height: 100%;
    width: 100%;
}
.page-redpack-v2-login .tip{
    text-align: center;
    margin: .1rem 0 .2rem;
}
.page-redpack-v2-login .tip .text {
    padding: 0 .1rem;
}
.page-redpack-v2-login .tip .pre,
.page-redpack-v2-login .tip .after{
    position: relative;
    display: inline-block;
    width:.5rem;
    height:.02rem;
    background-color: #FDDBAB;
    vertical-align: middle;
}
.page-redpack-v2-login .tip .pre:after,
.page-redpack-v2-login .tip .after:after{
    content: '';
    position: absolute;
    top: -.01rem;
    display: inline-block;
    width: .04rem;
    height: .04rem;
    border-radius: 1rem;
    background-color: #FDDBAB;
}
.page-redpack-v2-login .tip .pre:after{
    right: 0;
}
.page-redpack-v2-login .tip .after:after{
    left:0;
}

.page-redpack-v2-login .login-wrap{
    text-align: center;
    width: 2.5rem;
    margin: 0 auto;
}
.page-redpack-v2-login .login-from .input-wrap{
    background-color: #fff;
}
.page-redpack-v2-login .login-from .input-radius:before{
    border:none;
}
.page-redpack-v2-login .login-from input{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 .2rem;
}

.page-redpack-v2-login .row{
    margin-bottom: .08rem;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
}
.page-redpack-v2-login .row>div {
    float: left;
}
.page-redpack-v2-login .row{
    font-size: 0;
}
.page-redpack-v2-login .row .input-wrap{
    width: 60%;
}
.page-redpack-v2-login .row .right-block{
    width: 39%;
    float: right;
}
.page-redpack-v2-login .btn{
    display: block;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background-color: #F4E56B;
    border-radius: 999px;
    color:#743e15;
    font-size: .18rem;
    font-weight: 700;
}
.page-redpack-v2-login .vcode-img{
    width: .8rem;
    height: .36rem;
}
.page-redpack-v2-login .btn-get-sms-code{
    font-size: .12rem;
    border-radius: 1rem;
    /*width: 1rem;*/
    box-sizing: border-box;
    background-color: #ffdea9;
    color: #d93435;
}
.page-redpack-v2-login .btn-get-sms-code-disabled{
    color: #999;
    background: #f2f2f2;
}
.page-redpack-v2-login .desc{
    padding-top: .05rem;
    padding-bottom: .1rem;
    line-height: 2;
}
.page-redpack-v2-login .btn-order-confirm-submit{
    display: inline-block;
    width: 1.8rem;
    border: none;
    color: #9b6022;
    background: url("https://p3.ssl.qhmsg.com/t01d4681e2df7cbf9f9.png") no-repeat center;
    background-size: 100% 100%;
}
.page-redpack-v2-login .active-intro{
    padding: .3rem .2rem;
    font-size: .13rem;
}
.page-redpack-v2-login .active-intro .title,
.page-redpack-v2-login .active-intro p {
    padding-bottom: .06rem;
}
.page-redpack-v2-login .worldcup-bonus{
    margin: 0 auto .1rem;
    width: 90%;
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem;
    background-color: #0000ef;
    color: #fff;
    border-radius: .04rem;
}
