.blur{
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
.bg-gradient {
    background-image: linear-gradient(to right, #cc262b, #da3236 20%, #da3236 80%, #cc262b 100%);
}

.c-golden {
    color: #ffdea9;
}

.w100 {
    width: 100%;
}

.color-orange {
    color: #f50;
}

.font-15rem {
    font-size: .15rem;
}

.font-17rem {
    font-size: .17rem;
}

.font-20rem {
    font-size: .20rem;
}

.page-redpack-v2-main .main-body {
    min-height: 100vh;
    padding-bottom: .3rem;
}

.page-redpack-v2-main .block {
    border: none;
}

.page-redpack-v2-main .top-banner {
    height: .94rem;
}

.page-redpack-v2-main .top-banner img {
    height: 100%;
    width: 100%;
}

.page-redpack-v2-main .main-content {
    text-align: center;
    color: #ffdea9;
    font-weight: 300;
    font-size: .17rem;
    margin-top: .2rem;
}

.page-redpack-v2-main .main-content .tip {
    text-align: center;
    margin: .1rem 0 0rem;
    font-size: .3rem;
}

.page-redpack-v2-main .main-content .tip .text {
    padding: 0 .1rem;
}

.page-redpack-v2-main .main-content .tip .pre,
.page-redpack-v2-main .main-content .tip .after {
    position: relative;
    display: inline-block;
    width: .5rem;
    height: .02rem;
    background-color: #fddbab;
    vertical-align: middle;
}

.page-redpack-v2-main .main-content .tip .pre:after,
.page-redpack-v2-main .main-content .tip .after:after {
    content: '';
    position: absolute;
    top: -.03rem;
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-radius: 1rem;
    background-color: #fddbab;
}

.page-redpack-v2-main .main-content .tip .pre:after {
    right: 0;
}

.page-redpack-v2-main .main-content .tip .after:after {
    left: 0;
}

.page-redpack-v2-main .bottom-block {
    height: 1.42rem;
}

.page-redpack-v2-main .bottom-block img {
    height: 100%;
    width: 100%;
}

.page-redpack-v2-main .redpack-popup-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-redpack-v2-main .redpack-popup-panel-inner {
    position: relative;
    width: 2.49rem;
    height: 4.155rem;
    /*height: 4.455rem;*/
    background: transparent url(https://p3.ssl.qhimg.com/t01d3cf67703e4a998a.png) no-repeat center;
    /*background: #d93435 url(https://p3.ssl.qhimg.com/t01c78073ffd53c6e0a.png) no-repeat center 0;*/
    background-size: contain;
    border-radius: .12rem;
}

.page-redpack-v2-main .redpack-popup-panel .redpack-info{
    position: absolute;
    top: 1.7rem;
    /*top: 1.65rem;*/
    left: .3rem;
    right: .3rem;
    text-align: center;
    font-size: .2rem;
    color: #743e15;
}

.page-redpack-v2-main .redpack-popup-panel .row-amount {
    padding: .06rem 0;
    font-size: 0;
    line-height: 1;
}
.page-redpack-v2-main .redpack-popup-panel .amount-pre {
    display: inline-block;
    vertical-align: baseline;
    /*font-size: .16rem;*/
    font-size: .11rem;
}
.page-redpack-v2-main .redpack-popup-panel .amount {
    padding-left: .02rem;
    display: inline-block;
    vertical-align: baseline;
    /*font-size: .48rem;*/
    font-size: .36rem;
    font-weight: 300;
}
.page-redpack-v2-main .redpack-popup-panel .row-mobile {
    font-size: .12rem;
}
.page-redpack-v2-main .redpack-popup-panel .row-tips {
    position: absolute;
    top: 2.65rem;
    /*top: 2.95rem;*/
    width: 100%;
    font-size: 0.2rem;
    text-align: center;
    color: #fff;
}
.page-redpack-v2-main .redpack-popup-panel .redpack-intro {
    position: absolute;
    top: 2.94rem;
    /*top: 3.24rem;*/
    width: 100%;
    padding: .1rem;
    color: rgba(255, 222, 169, 0.66);
}
.page-redpack-v2-main .redpack-popup-panel .row-amount {

}
.page-redpack-v2-main .worldcup-bonus{
    margin: 0 auto;
    /*width: 90%;*/
    height: .22rem;
    line-height: .22rem;
    font-size: .11rem;
    background-color: #0000ef;
    color: #fff;
    border-radius: .04rem;
}
