.page-zhimacredit-shopHs-index{
    background: url(https://p1.ssl.qhmsg.com/t0175138e4e14ea4342.png) no-repeat;
    background-size: contain;
    background-color: #7c7bed;
}
.page-zhimacredit-shopHs-index .block-top{
    position: relative;
    height: 2.3155555555555556rem;
}

.page-zhimacredit-shopHs-index #Main {
    background: none;
}

/* 地址定位 */
.page-zhimacredit-shopHs-index .block-shop-address-location {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.11rem;
    margin: 0 auto;
    padding: .1rem 0;
    width: 3rem;
    background-color: #fff;
}
.page-zhimacredit-shopHs-index .block-shop-address-location .shop-address-location{
    position: absolute;
    top: -.17rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    background-color: #fff;
}
.page-zhimacredit-shopHs-index .block-shop-address-location .icon-city{
    font-size: .2rem;
    color: #ff4500;
}
.page-zhimacredit-shopHs-index .block-shop-address-location .shop-address-inner{
    margin: .14rem auto .06rem auto;
    width: 2.4rem;
    height: .34rem;
    line-height: .34rem;
    color: #04c9b3;
    text-align: center;
}
/* END 地址定位 */


/*回收介绍*/
.page-zhimacredit-shopHs-index .block-intro{
    position: relative;
    margin: 2.2rem auto 0 auto;
    padding: .1rem 0;
    width: 3rem;
    background-color: #fff;
}

.page-zhimacredit-shopHs-index .block-intro .intro-process{
    margin: 0 auto;
    width: 2.76rem;
    height: 0.44rem;
    background: url(https://p4.ssl.qhmsg.com/t0135d57bbfd43c8b93.jpg) no-repeat center;
    background-size: cover;
}

/* 购买新机 */
.page-zhimacredit-shopHs-index .block-buy-new-product{
    margin: .1rem auto;
    padding: .266rem .2rem;
    width: 3rem;
    background-color: #fff;
}
/*.page-zhimacredit-shopHs-index .block-buy-new-product h3{*/
    /*line-height: 2;*/
    /*font-size: .16rem;*/
    /*text-align: center;*/
/*}*/
/*.page-zhimacredit-shopHs-index .block-buy-new-product .input{*/
    /*margin: 0 .2rem .2rem .2rem;*/
/*}*/
/*.page-zhimacredit-shopHs-index .block-buy-new-product .input input{*/
    /*text-align: center;*/
/*}*/

/* 先拿钱 图 */
.page-zhimacredit-shopHs-index .block-buy-new-product .block-buy-new-pic {
    width: 2.684rem;
    height: .888rem;
    background: url(https://p0.ssl.qhmsg.com/t01b9dbc8c42de0cdff.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.page-zhimacredit-shopHs-index .block-buy-new-product .btn-go-to-assess{
    display: block;
    margin: .133rem auto 0;
    width: 2.4rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .16rem;
    color: #ff4500;
    background-color: #ffde00;
}
