a,a:hover{
    text-decoration: none;
}

.page-hd-zhima-dell {
    background:#000103;
    font-size: .12rem;
}

.page-hd-zhima-dell .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-zhima-dell .block {
    margin: 0 auto;
}

.page-hd-zhima-dell .block-top{
    height: 1.9541333333333333rem;
    background: url("https://p2.ssl.qhmsg.com/t0176091a811669cab6.jpg") no-repeat center 0;
    background-size: cover;
}
.page-hd-zhima-dell .block-dell{
    height: 1.4634666666666667rem;
    background: no-repeat center 0/cover;
    margin-bottom: .08rem;
}
.page-hd-zhima-dell .block-dell a{
    display: block;
    height: 100%;
}
.page-hd-zhima-dell .block1{
    background-image: url("https://p1.ssl.qhmsg.com/t019775041aac2855b1.jpg");
}
.page-hd-zhima-dell .block2{
    background-image: url("https://p0.ssl.qhmsg.com/t016926f0b2205540fd.jpg");
}
.page-hd-zhima-dell .block3{
    background-image: url("https://p3.ssl.qhmsg.com/t019a897c10c849f25d.jpg");
}
.page-hd-zhima-dell .block4{
    background-image: url("https://p2.ssl.qhmsg.com/t01675ef901d9492b7d.jpg");
}
.page-hd-zhima-dell .block5{
    background-image: url("https://p4.ssl.qhmsg.com/t015daaa1ea593adf1d.jpg");
}
.page-hd-zhima-dell .block6{
    background-image: url("https://p2.ssl.qhmsg.com/t010185cc6a0207d73f.jpg");
}
.page-hd-zhima-dell .block7{
    background-image: url("https://p4.ssl.qhmsg.com/t01eaba9b9641534966.jpg");
}
.page-hd-zhima-dell .block8{
    background-image: url("https://p2.ssl.qhmsg.com/t01fe6b87347aa42502.jpg");
}
.page-hd-zhima-dell .block9{
    background-image: url("https://p3.ssl.qhmsg.com/t01df58c55a82f4515b.jpg");
}
.page-hd-zhima-dell .block10{
    background-image: url("https://p1.ssl.qhmsg.com/t017b3a95712179ebc7.jpg");
    margin-bottom: 0;
}
.page-hd-zhima-dell .block-btn{
    height: 0.9258666666666666rem;
    background: url("https://p0.ssl.qhmsg.com/t019a1e13e1b746ab03.jpg") no-repeat center 0;
    background-size: cover;
    position: relative;
}
.page-hd-zhima-dell .block-btn a{
    position: absolute;
    left: .6rem;
    right: .6rem;
    top: .15rem;
    height: .47rem;
}





