a,a:hover{
    text-decoration: none;
}

.page-hd-black-friday {
    background:#131210 url("https://p4.ssl.qhmsg.com/t01fd7c681b7d1f6b8e.jpg") repeat-y center -0.5rem;
    background-size: 200%;
    font-size: .12rem;
}

.page-hd-black-friday .mainbody {
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
}

.page-hd-black-friday .block {
    margin: 0 auto;
}

/*公用的block-title样式start*/
.page-hd-black-friday .block-tit{
    height: .48rem;
    background: url(https://p2.ssl.qhmsg.com/t0177bfe71cb35f1514.png) no-repeat center 0;
    background-size: contain;
}
.page-hd-black-friday .block-tit .tit-cont{
    font-weight: bold;
    font-size: .18rem;
    color: #f3df7a;
    text-align: center;
    /*text-indent: -999px;*/
    padding-top: .15rem;
    /*text-shadow: 0 5px 10px #f4e5ad;*/
    background-image: -webkit-linear-gradient(top, #f4e5ad 50%, #a37529 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    text-fill-color: #f3df7a;
    -webkit-text-fill-color: transparent;
}
/*公用的block-title样式end*/

/*头图*/
.page-hd-black-friday .block-top{
    height: 2.4789333333333334rem;
    background: url(https://p1.ssl.qhmsg.com/t0120e6f94e3e4a64e5.jpg) no-repeat center 0;
    background-size: cover;
}
/*头图 end*/
/*banner*/
.page-hd-black-friday .block-sub{
    height: 2.048rem;
    background: url(https://p3.ssl.qhmsg.com/t01d679882516f26740.jpg) no-repeat center 0;
    background-size: cover;
}
/*banner end*/

/* 更多 */
.page-hd-black-friday .more,
.page-hd-black-friday .more :hover {
    margin: 0.05rem auto;
    display: block;
    width: 1.1rem;
    height: .28rem;
    line-height: .28rem;
    text-decoration: none;
    text-align: center;
    font-size: .14rem;
    background-color: #201d1d;
    border:1px solid #fedd91;
    border-radius: 999px;
    color: #fdee9a;
    background-image: -webkit-linear-gradient(top, #f4e5ad 30%, #a37529 100%);
    background-clip: content-box;
    -webkit-background-clip: text!important;
    text-fill-color: #f3df7a;
    -webkit-text-fill-color: transparent;
}
/* END 更多 */

/*黑五秒杀*/
.page-hd-black-friday .block-miaosha{
}
.page-hd-black-friday .block-miaosha .block-tab{
    padding: .03rem;
    margin: .03rem;
    border-radius: .03rem;
    background: #ffde92;
    background: -moz-linear-gradient(left, #ffde92 0%, #a37529 33%, #ffde92 66%, #a37529 100%);
    background: -webkit-linear-gradient(left, #ffde92 0%,#a37529 33%,#ffde92 66%,#a37529 100%);
    background: linear-gradient(to right, #ffde92 0%,#a37529 33%,#ffde92 66%,#a37529 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde92', endColorstr='#a37529',GradientType=1 );
}
.page-hd-black-friday .block-miaosha .block-tab .tab-list{}
.page-hd-black-friday .block-miaosha .block-tab .tab-item{
    height: .53rem;
    background-color: #967741;
    color: #e7bf79;
    font-size: .12rem;
    text-align: center;
    line-height: 1.3;
    padding-top: .1rem;
}
.page-hd-black-friday .block-miaosha .block-tab .tab-item.cur{
    background-color: #e7bf79;
    color: #967741;
}
.page-hd-black-friday .block-miaosha .block-tab .tab-cont{
    background-color: #37312c;
    padding: .05rem;
    text-align: center;
}
.page-hd-black-friday .block-miaosha .block-tab .tab-cont a{
    display: inline-block;
}
.page-hd-black-friday .block-miaosha .block-tab .tab-cont img{
    width: 100%;
}
/*黑五秒杀 end*/

/*租手机*/
.page-hd-black-friday .block-rent .p-price-orig{
    font-size: .14rem;
    padding-top: .1rem;
}
.page-hd-black-friday .block-rent .p-price-daily {
    color: red;
    font-size: .14rem;
}
/*租手机 end*/

/*活动商品列表样式*/
.page-hd-black-friday .ui-sp-product-list-1 {
    /*margin: 0 .03rem;*/
    min-height: 2.6rem;
    background-color: #fff;
}

.page-hd-black-friday .ui-sp-product-list-1 .p-item .p-desc {
    font-size: .1rem;
}
.page-hd-black-friday .ui-sp-product-list-1 .p-item .p-sold-out {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://p0.ssl.qhmsg.com/t01659da13a41c7d3e5.png) no-repeat center;
    background-size: cover;
}
.page-hd-black-friday .block-mianxi .p-item,
.page-hd-black-friday .block-tiemo .p-item{
    height: 2.4rem;
}
.page-hd-black-friday .ui-sp-product-list-1 .p-item .p-price-orig {
    width: auto;
}

/*活动商品列表样式 end*/


/*服务介绍*/
.block-service-intro,
.block-qrcode-info{
    margin: .1rem;
}
/* 合作商 */
.block-partner{
    margin: .1rem .1rem .3rem;
}
.block-service-intro img,
.block-qrcode-info img,
.block-partner img{
    width: 100%;
    border-radius: .06rem;
}




