/*邮寄回收自助解锁*/

/***公用部分***/
a,a:hover{
    text-decoration: none;
}
.page-hs-unlock {
    color: #666;
    padding-bottom: .44rem;
}
.block{
    display: none;
}
.input-radius.focus:before,
.textarea-radius.focus:before{
    border-color: #abdcc1;
}
.row{
    padding: 0 .15rem;
}
.block-common-tips{
    text-align: center;
    font-size: .1rem;
    padding: .25rem 0 .1rem;
}
.block-common-tips a,
.block-common-tips span{
    color: #009444;
}
.block-common-tips a{
    text-decoration: underline;
}

.block-confirm-tips{
    font-size: .12rem;
    text-align: center;
    color: #f00;
    padding-top: .05rem;
}

.block-btn{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color: #fff;
    background: #dbdbdb;
    font-size: .14rem;
}
.block-btn.ok{
    background: #009444;
}

input[name=screen_pwd_num],
input[name=screen_pwd_point]{
    text-align: center;
}

/*头部logo、返回按钮*/
.page-hs-unlock .block-head{
    height: .8rem;
}
.page-hs-unlock .block-head .head-left{
    position: absolute;
    left: 0;
    top: 0;
    width: .48rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #666;
    font-size: .24rem;
    border-right: 1px solid #dbdbdb;
    margin: .04rem 0 0;
}
.page-hs-unlock .block-head .head-middle{
    margin:0 .48rem;
    padding: .15rem 0 0;
}
.page-hs-unlock .block-head .head-middle .head-logo{
    width: 1.885rem;
    height: 0.285rem;
    background: url("https://p0.ssl.qhmsg.com/t012f6041e4e1520afd.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
}
.page-hs-unlock .block-head .head-middle .head-desc{
    color: #009444;
    text-align: center;
}
/*头部logo、返回按钮 end*/

/*机型*/
.page-hs-unlock .block-model{
    text-align: center;
}
.page-hs-unlock .block-model .model-name{
    color: #333;
    font-size: .24rem;
    padding: 0 .1rem;
    line-height: 1.1;
}
/*机型 end*/

/*通用标题*/
.page-hs-unlock .block-title{
    color: #009444;
    font-size: .2rem;
    text-align: center;
    padding: .15rem 0 0;
}
.page-hs-unlock .block-title-tips{
    text-align: center;
    font-size: .1rem;
    padding-top: .1rem;
    padding-bottom: .05rem;
}
/*通用标题 end*/
/***公用部分 end***/

/*首页*/
.page-hs-unlock .block-lock-type{
    padding:0.1rem .2rem;
}
.page-hs-unlock .block-lock-type .lock-type-list{
    padding-top: .1rem;
}
.page-hs-unlock .block-lock-type a{
    float: left;
    width: 1.3rem;
    text-align: center;
    color: #009444;
    border: 1px solid #b2dfc7;
    box-shadow: 0 0 0.02rem 0.03rem #dff2e8;
    border-radius: .05rem;
    padding-bottom: .15rem;
}
.page-hs-unlock .block-lock-type a:nth-child(2){
    float: right;
}
.page-hs-unlock .block-lock-type a:hover,
.page-hs-unlock .block-lock-type a:active{
    background-color: #e5f4ec;
    border: 2px solid #abdcc1;
    box-shadow: none;
}
.page-hs-unlock .block-lock-type h3{
    padding: .15rem 0 .1rem;
}
.page-hs-unlock .block-lock-type img{
    width: 0.86rem;
    height: .86rem;
}
.page-hs-unlock .block-page-index .block-bottom{
    width: 1.14rem;
    height: 0.165rem;
    background: url("https://p4.ssl.qhmsg.com/t012b4c4ad3d6f59e50.png") no-repeat center;
    background-size: cover;
    margin: .6rem auto 0;
}
/*首页 end*/

/*解锁密码-键盘*/
.page-hs-unlock .block-page-password-keyboard .block-common-tips{
    padding-top: .6rem;
}
/*解锁密码-键盘 end*/

/*解锁密码-手势*/
.page-hs-unlock .block-page-password-gesture .block-cont{
    text-align: center;
}
.page-hs-unlock .block-page-password-gesture .block-cont .block-title,
.page-hs-unlock .block-page-password-gesture .block-cont .block-title-tips{
    display: inline-block;
}
.page-hs-unlock .block-page-password-gesture .gesture-examples{
    width: 2.14rem;
    height: 1.79rem;
    background: url("https://p2.ssl.qhmsg.com/t012c5defc451c75eec.jpg") no-repeat center;
    background-size: cover;
    margin: .1rem auto 0;
}
/*解锁密码-手势 end*/

/*补充说明*/
.page-hs-unlock .block-page-memo .block-cont{
    padding-bottom: .2rem;
}
/*补充说明 end*/

/*完成页*/
.page-hs-unlock .block-page-complete .block-cont{
    width: 1.9rem;
    height: 2.485rem;
    background: url("https://p1.ssl.qhmsg.com/t0160e550a5e7e0134d.jpg") no-repeat center;
    background-size: cover;
    margin: .1rem auto .4rem;
}
/*完成页 end*/

/*错误页*/
.page-hs-unlock .block-page-error .block-cont{
    width: 1.9rem;
    height: 2.485rem;
    background: url("https://p3.ssl.qhmsg.com/t01f4fc4ae23c68cd85.jpg") no-repeat center;
    background-size: cover;
    margin: .1rem auto .4rem;
    padding-top: .86rem;
}
.page-hs-unlock .block-page-error .block-cont .txt{
    position: relative;
    height: 100%;
}
.page-hs-unlock .block-page-error .block-cont .txt-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #009444;
}
/*错误页 end*/
