.page-in-zjyd-app-xxg.page-xxg-index {
}

.page-in-zjyd-app-xxg.page-xxg-index .block-bottom {
    bottom: .48rem;
}

.page-in-zjyd-app-xxg.page-m-xxg footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
    text-align: center;
    background-color: #fff;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab {
    padding: .04rem 0;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab a {
    padding-top: .2rem;
    display: block;
    width: 100%;
    color: #556270;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab a.cur {
    color: #0b7;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab a:hover {
    text-decoration: none;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab .icon-xxg-home {
    background: transparent url(https://p1.ssl.qhimg.com/t016ca7248eb0adcb23.png) no-repeat center 0;
    background-size: .2rem .2rem;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab .icon-xxg-user-center {
    background: transparent url(https://p2.ssl.qhimg.com/t01de009b8fd4984c0f.png) no-repeat center 0;
    background-size: .2rem .2rem;
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab .icon-xxg-home.cur {
    background-image: url(https://p3.ssl.qhimg.com/t016107cbcf3617329d.png);
}

.page-in-zjyd-app-xxg.page-m-xxg .bottom-tab .icon-xxg-user-center.cur {
    background-image: url(https://p4.ssl.qhimg.com/t01f3a43626381b3a8d.png);
}
