/*修修哥创建订单入口页*/
.page-xxg-order-create-dispatcher{
    background: #fff;
    text-align: center;
}
.page-xxg-order-create-dispatcher .dispatcher-method{
    display: block;
    text-decoration: none;
    margin-top: .5rem;
    color: #666;
}
.page-xxg-order-create-dispatcher .dispatcher-method img{
    width: .8rem;
}
.page-xxg-order-create-dispatcher .dispatcher-method p{
    font-size: .12rem;
}
/*苏宁红包弹窗*/
.page-xxg-order-create-dispatcher .dialog-hs-redpack{
    border:none;
    text-align: center;
}
.page-xxg-order-create-dispatcher .dialog-hs-redpack img{
    width: 1.5rem;
}
.page-xxg-order-create-dispatcher .dialog-hs-redpack .redpack-tit{
    color: #fff;
    font-size: .16rem;
}

.page-xxg-order-create-dispatcher .dialog-hs-redpack .icon-redpack{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    margin-right: .05rem;
    background: url(https://p0.ssl.qhmsg.com/t0113854e2a0e7814bc.png) no-repeat center/100% 100%;
    vertical-align: middle;
}
