/*修修哥订单审核*/
.page-hs-xxg-order-check {
    background-color: #fff;
}

.page-hs-xxg-order-check a,
.page-hs-xxg-order-check a:hover {
    text-decoration: none;
}

.page-hs-xxg-order-check .text-right {
    text-align: right;
}

.page-hs-xxg-order-check .block-tab-list {
    padding: .1rem;
}

.page-hs-xxg-order-check .block-tab-list .item {
    height: .36rem;
    line-height: .36rem;
    color: #666;
    font-size: .14rem;
    text-align: center;
    width: 48%;
    margin: 0 1%;
    border: 1px solid #eee;
    border-radius: 999px;
}

.page-hs-xxg-order-check .block-tab-list .item.cur {
    background: #f84;
    color: #fff;
}

.page-hs-xxg-order-check .block-check-list {
}

.page-hs-xxg-order-check .block-check-list .item {
    display: block;
    padding: .12rem;
    /*height: 1.36rem;*/
    font-size: .12rem;
    color: #666;
    line-height: 2;
    opacity: 1;
    overflow: hidden;
    transition: height .5s, padding .5s, opacity .5s;
}

.page-hs-xxg-order-check .block-check-list .price {
    color: #f50;
}

.page-hs-xxg-order-check .block-check-list .check-status {
    text-align: right;
}

.page-hs-xxg-order-check .block-check-list .btn {
    color: #666;
    border: 1px solid #ccc;
    border-radius: .03rem;
    font-size: .14rem;
    width: 49%;
    margin: .1rem 2% 0 0;
}

.page-hs-xxg-order-check .block-check-list .btn:last-child {
    margin-right: 0;
}

.page-hs-xxg-order-check .block-check-list .btn.btn-order-check-assess-detail {
    margin: 0;
    padding: 0 .2rem;
    width: auto;
    color: #f50;
    border-color: #f50;
    border-radius: 999px;
    font-size: .12rem;
}

.page-hs-xxg-order-check .block-check-list .checked-label {
    background: #eee;
    text-align: center;
}

/* .dialog-order-check-shop-manager-audit-info */
.page-hs-xxg-order-check .dialog-wrap.dialog-order-check-shop-manager-audit-info {
    margin-bottom: 20px;
    padding: .15rem .1rem;
}

.page-hs-xxg-order-check .dialog-wrap.dialog-order-check-shop-manager-audit-info .row {
    line-height: 1.48;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-img .col-2-1 {
    padding: 0 .06rem;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-img .tit {
    padding-bottom: .04rem;
    line-height: 1.68;
    text-align: left;
    font-size: .12rem;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-img .img {
    display: block;
    padding-top: 100%;
    border: 1px solid rgba(204, 204, 204, 0.6);
    background: transparent no-repeat center;
    background-size: contain;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-assess {
    padding: .1rem 0;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-assess .row {
    display: flex;
    align-items: center;
    margin-bottom: .1rem;
    text-align: left;
}

.page-hs-xxg-order-check .dialog-order-check-shop-manager-audit-info .block-audit-info-assess .tit {
    padding-bottom: 0;
    text-align: left;
    font-size: .12rem;
    color: #666;
}

.page-hs-xxg-order-check .img-viewer-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.page-hs-xxg-order-check .img-viewer-wrap .img-viewer-content {
    padding-top: 100%;
    width: 100%;
    background: transparent no-repeat center;
    background-size: contain;
}


/*弹窗*/
.page-hs-xxg-order-check .dialog-mask {
    position: fixed;
}

.page-hs-xxg-order-check .bang-ui-dialog .dialog-txt {
    text-align: center;
    font-size: .16rem;
}

.page-hs-xxg-order-check .dialog-wrap {
    background-color: #fff;
    padding: .15rem .25rem;
}

.page-hs-xxg-order-check .dialog-wrap .tit {
    padding-bottom: .1rem;
    font-size: .18rem;
    color: #666;
    text-align: center;
}

.page-hs-xxg-order-check .dialog-wrap .row {
    text-align: center;
    line-height: .36rem;
}

.page-hs-xxg-order-check .dialog-wrap .btn {
    height: .36rem;
    width: 90%;
    background-color: #f84;
    font-size: .14rem;
}

.page-hs-xxg-order-check .dialog-wrap.xxg-edit-job-status-panel .col-2-1:nth-child(2) .btn {
    background: #18a653;
}

/*添加店员*/
.page-hs-xxg-order-check .dialog-wrap.xxg-add-staff-panel .row {
    padding: .03rem 0;
}

.page-hs-xxg-order-check .dialog-wrap.xxg-add-staff-panel .col-left-fixed {
    width: .5rem;
    line-height: .36rem;
    color: #666;
}

.page-hs-xxg-order-check .dialog-wrap.xxg-add-staff-panel .col-right {
    margin-left: .5rem;
}

.page-hs-xxg-order-check .dialog-wrap.xxg-add-staff-panel .btn-confirm {
    width: 100%;
    margin-top: .15rem;
}

