/*修修哥创建订单入口页*/
.page-xxg-order-create{
    text-align: center;
    background-color: #fff;
}
.page-xxg-order-create .mainbody-inner{
    padding-bottom: .5rem;
}
.page-xxg-order-create a:hover,
.page-xxg-order-create a:active,
.page-xxg-order-create a:visited{
    text-decoration: none;
}

/*切换tab*/
.page-xxg-order-create .block-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: .4rem;
    background-color: #16a654;
}
.page-xxg-order-create .block-tab .tab-item{
    height: 100%;
    width: 100%;
    line-height: .4rem;
    text-align: center;
    font-size: .14rem;
    color: #fff;
}
.page-xxg-order-create .block-tab .tab-item.cur{
    color: #ffe400;
}
.page-xxg-order-create .block-tab .tab-item.cur span{
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid #ffe400;
}

/*二维码*/
.page-xxg-order-create .block-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.1888rem;
    background: #fff url("https://p3.ssl.qhimg.com/t01fe15a809be3327a0.png") no-repeat center 0;
    background-size: contain;
    flex-direction: column;
    padding: 0 .15rem;
}
.page-xxg-order-create .block-cont .qrcode-item{
    width: 1.8304rem;
    height: 1.92rem;
    border-radius: .06rem;
    box-shadow: 0 2px 18px 0px #aaa;
    background-color: #fff;
}
.page-xxg-order-create .block-cont .qrcode-item .qrcode-tit{
    color: #333;
    font-size: .16rem;
    padding: .12rem 0 .08rem;
}
.page-xxg-order-create .block-cont .qrcode-item .qrcode-pic{
    width: 1.26rem;
    height: 1.26rem;
}
.page-xxg-order-create .block-cont .shalou-tips{
    padding: 0.05rem 0 0;
    font-size: 0.14rem;
    line-height: .17rem;
    color: red;
    font-weight: bold;
    background-color: #fff;
    border-radius: 7px;
}

/* 按钮行 */
.page-xxg-order-create .block-btn{
    padding: 0;
    margin: 0;
}
.page-xxg-order-create .block-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1.8304rem;
    height: 0.384rem;
    line-height: 0.384rem;
    background: #16a654;
    color: #fff;
    font-size: .15rem;
    border-radius: 999px;
    box-shadow: 0 4px 12px 0 #b6dcbf;
    position: relative;
}
.page-xxg-order-create .block-btn .icon-sao{
    margin-right: .06rem;
    width: 0.2176rem;
    height: 0.2048rem;
    background: url("https://p5.ssl.qhimg.com/t013ebb752a7c3154ac.png") no-repeat center;
    background-size: cover;
}

.page-xxg-order-create .block-other{
    display: flex;
    flex-wrap: wrap;
    padding: .128rem;
}
.page-xxg-order-create .block-other .item{
    width: 50%;
    height: 0.92rem;
    color: #666;
    border-bottom: 1px solid #e3e3e3;
}
.page-xxg-order-create .block-other .item:nth-child(odd){
    border-right: 1px solid #e3e3e3;
}
.page-xxg-order-create .block-other .item.item-no-bottom{
    border-bottom: 0;
}
.page-xxg-order-create .block-other .item img{
    height: .34rem;
    margin: .1rem 0 .05rem;
}

.page-xxg-order-create .xxg-unscannable-reason-panel{
    background: #fff;
    border:0;
    width: 2.42rem;
}
.page-xxg-order-create .xxg-unscannable-reason-panel .dialog-inner{
    padding: .15rem;
}
.page-xxg-order-create .xxg-unscannable-reason-panel .tit{
    color: #41a454;
    font-size: .16rem;
    padding-bottom: .15rem;
}
.page-xxg-order-create .xxg-unscannable-reason-panel .btn{
    margin: 0 auto;
    display: block;
    height: .34rem;
    line-height: .34rem;
    border: 1px solid #41a454;
    color: #41a454;
    font-size: .14rem;
    margin-bottom: .1rem;
}


