/*修修哥创建订单入口页*/
.page-xxg-order-create-middle{
    color: #333;
    text-align: center;
    background-color: #fff;
}
.page-xxg-order-create-middle .mainbody-inner{
    padding-bottom: .5rem;
}

/*切换tab*/
.page-xxg-order-create-middle .row-fragment-tab{
    height: .4rem;
}
.page-xxg-order-create-middle .row-fragment-tab a{
    line-height: .4rem;
    text-align: center;
    color: #999;
}
.page-xxg-order-create-middle .row-fragment-tab a:hover{
    text-decoration: none;
}
.page-xxg-order-create-middle .row-fragment-tab .btn-selected{
    color: #333;
}
.page-xxg-order-create-middle .row-fragment-tab .btn-selected span{
    padding: 0 .04rem;
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid #16a654;
}

.page-xxg-order-create-middle .block-fragment{
    padding: .1rem 0 1.05rem 0;
}

.page-xxg-order-create-middle .block-title{
    font-size: .16rem;
    padding: .1rem 0 0;
}
.page-xxg-order-create-middle .block-ewm img{
    width: .8rem;
    height: .8rem;
    margin-top: .06rem;
}
.page-xxg-order-create-middle .block-ewm a{
    color: #333;
    text-decoration: underline;
}
.page-xxg-order-create-middle .block-ewm h3{
    font-size: .14rem;
}

/* 按钮行 */
.page-xxg-order-create-middle .block-btn{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: .05rem auto 0 auto;
    padding:0 0 .05rem 0;
    max-width: 1080px;
    min-width: 320px;
    background-color: transparent;
}
.page-xxg-order-create-middle .block-btn a{
    position: relative;
    display: inline-block;
    width: 2.86rem;
    height: .44rem;
    line-height: .44rem;
    background: #16a654;
    color: #fff;
    font-size: .14rem;
    border-radius: 6px;
}
.page-xxg-order-create-middle .block-btn a:hover{
    text-decoration: none;
}
.page-xxg-order-create-middle .block-btn .icon-saoyisao{
    position: absolute;
    right: .34rem;
    top:-.01rem;
    font-size: .22rem;
}
.page-xxg-order-create-middle .block-btn .btn-create-order{
    margin-top: .12rem;
    background: #ef7e3e;
}
