/* 下单成功页 */

/*.page-order-succ #Header.header {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
/*}*/

/*.page-order-succ #HeaderPlaceholder {*/
    /*display: block;*/
/*}*/

/* 此处使用图片icon，干掉iconfont */
.page-order-succ .icon-ok:before {
    display: none;
}

.page-order-succ a,
.page-order-succ a:hover {
    text-decoration: none;
    color: #227be5;
}

.page-order-succ .c-blue {
    color: #227be5;
}

.page-order-succ  .success-title {
    padding: .3rem 0;
    color: #0b7;
    font-size: .12rem;
    line-height: 2;
    text-align: center;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.page-order-succ .success-title .icon-circle-tick {
    display: block;
    width: .42rem;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    font-size: .4rem;
}

.page-order-succ .order-ok {
    margin: 0 .1rem .1rem;
    padding: .1rem .1rem .2rem .1rem;
    background-color: #fff;
    border-radius: .08rem;
}

.page-order-succ .ok-msg {
    line-height: 1.8;
}

.page-order-succ .yy-kuaidi-line {
    text-align: center;
}

.page-order-succ .yy-kuaidi-line .btn-yy-kuaidi {
    display: inline-block;
    padding: .03rem .05rem;
    background-color: #ff851d;
    color: #fff;
    border-radius: .05rem;
    text-decoration: none;
}

/*红包情况start*/
.page-order-succ .red-package {
    margin-bottom: .15rem;
    padding: 0 .2rem;
}

.page-order-succ .red-package .block-left {
    width: 1.86rem;
}

.page-order-succ .red-package .block-left .success-title {
    text-align: center;
    padding-bottom: 0;
}

.page-order-succ .red-package .block-left .text {
    /*margin-left: .2rem;*/
}

.page-order-succ .red-package .block-left .text span {
    display: block;
    color: #8c8686;
}

.page-order-succ .red-package .block-left .text .top {
    font-size: .15rem;
    color: #000;
}

.page-order-succ .red-package .block-right {
    width: .9rem;
    height: 1.15rem;
    background: url(https://p1.ssl.qhmsg.com/t0145ab9273686600bc.png) no-repeat;
    background-size: 100% 100%;
    margin-top: .2rem;
}

.page-order-succ .red-package .block-right .money {
    margin-top: .45rem;
    font-size: 0;
    text-align: center;
}

.page-order-succ .red-package .block-right .money span {
    font-size: .12rem;
    color: #e7cc85;
}

.page-order-succ .red-package .block-right .money .font-20 {
    font-size: .20rem;
}

.page-order-succ .red-package .block-right .btn {
    width: 80%;
    margin-left: .1rem;
    background-color: #e7cc85;
    color: #e03a37;
    font-weight: 700;
    border-radius: .05rem;
    font-size: .14rem;
}


/*红包情况end*/

/* 下单成功扫一扫 */
.page-order-succ .wechat-saoyisao {
    height: .9rem;
    border: 0;
}

.page-order-succ .wechat-saoyisao .col-left-fixed {
    padding: 1%;
    width: 32%;
}

.page-order-succ .wechat-saoyisao .col-right {
    position: absolute;
    top: 50%;
    margin: -.27rem 0 0 34%;
    height: .54rem;
}

.page-order-succ .wechat-saoyisao .col-right .tit {
    margin-bottom: .04rem;
    font-size: .16rem;
}

.page-order-succ .wechat-saoyisao .col-right .cnt {
    font-size: .12rem;
    line-height: 1.8;
}

.page-order-succ .success-cont {
    padding: 0;
    color: #333;
    font-size: .12rem;
    line-height: 1.6;
}

.page-order-succ .success-cont p {
    margin: 0 0 .08rem 0;
}

/* 联络信息 */
.page-order-succ .contact-info {
    margin: 0 0 .08rem 0;
    /*padding: .1rem;*/
    /*border: 1px solid #e1d2a4;*/
    /*border-radius: .06rem;*/
    /*background: #fffae8;*/
}

.page-order-succ .contact-info dt {
    margin: 0;
    padding: 0;
    color: #666;
    font-weight: bold;
}

.page-order-succ .contact-info dd {
    padding: .05rem 0;
}

.page-order-succ .contact-info .tit {
    font-size: .14rem;
    font-weight: 700;
}

.page-order-succ .contact-info .info-item {
    display: flex;
}

.page-order-succ .contact-info .info-item .fix-left {
    width: .6rem;
    flex-shrink: 0;
}

.page-order-succ .contact-info .info-item .fix-right,
.page-order-succ .contact-info .info-item .fix-right a {
    color: #999;
}

.page-order-succ .contact-info .yuyue-btn-wrap {
    margin-bottom: .1rem;
    text-align: right;
}

.page-order-succ .contact-info .btn-style {
    display: inline-block;
    padding: .05rem .1rem;
    color: #fff;
    background-color: #0b7;
    border-radius: .04rem;
}

.page-order-succ .contact-info .blcok-unlock-info {
}

.page-order-succ .contact-info .blcok-unlock-info .unlock-tips {
    padding: .1rem 0;
    font-size: .12rem;
}

.page-order-succ .contact-info .text-right {
    text-align: right;
}

/*下单成功解锁教程*/
.page-order-succ .course-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .3rem .3rem 2rem .3rem;
    display: block;
    z-index: 99;
}

.page-order-succ .course-wrap .course-mask {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.page-order-succ .course-wrap .course-inner {
    background-color: #fff;
    padding: .1rem
}

.page-order-succ .course-wrap .course-inner .img-wrap {
    height: 5rem;
}

.page-order-succ .course-wrap .course-inner img {
    width: 100%;
    height: 100%;
}

.page-order-succ .view-agree-protocol {
    float: right;
}

/*感兴趣的服务*/
.page-order-succ .interest-promo-service {
    margin-top: -.1rem;
    padding-bottom: .1rem;
}

.page-order-succ .interest-promo-service .cnt-block {
    background-color: #fff;
}
