.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.block-inner {
    margin: 0 auto;
    width: 1200px;
    background-color:#00061c;
}
a:hover{
    text-decoration: none;
}

.page-hd-freezing-price {
    background:#00061c;
}
.page-hd-freezing-price .topbar .in{
    width: 1000px;
}

.page-hd-freezing-price .block-tit{
    height: 118px;
    line-height: 118px;
    /*background: url(https://p2.ssl.qhmsg.com/t01263502b4a2acbafc.jpg) no-repeat center 10px;*/
    background:  no-repeat center 0;
    text-indent: -99999px;
}
.page-hd-freezing-price .block-tit .tit-cont{
    font-weight: bold;
    font-size: 36px;
    color: #fff;
}
.page-hd-freezing-price .block-freezing-huawei .block-tit{
    height: 290px;
}
.page-hd-freezing-price .block-tit .more{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #aa242f;
    background: #fbd743;
    border-radius: 999px;
    text-indent: 0;
}

.page-hd-freezing-price .block-top,
.page-hd-freezing-price .block-top .block-inner{
    height: 444px;
    background: url(https://p4.ssl.qhmsg.com/t0141b24108b81c693a.jpg) no-repeat center;
}
.page-hd-freezing-price .block-sub,
.page-hd-freezing-price .block-sub .block-inner{
    height: 224px;
    background: url(https://p0.ssl.qhmsg.com/t01884b0e425699953f.jpg) no-repeat center;
}
.page-hd-freezing-price .block-freezing-huawei,
.page-hd-freezing-price .block-freezing-huawei .block-inner{
    background: url(https://p2.ssl.qhmsg.com/t019068cf8e8c316e0b.jpg) no-repeat center 0;
}

/*活动商品列表样式*/
.page-hd-freezing-price .ui-sp-product-list-1{
    min-height: 350px;
}
.page-hd-freezing-price .block-freezing-huawei .ui-sp-product-list-1{
    margin-top: -172px;
}
.page-hd-freezing-price .ui-sp-product-list-1 .p-item{
    /*margin: 5px;*/
    width: 298px;
    height: 350px;
}
.page-hd-freezing-price .ui-sp-product-list-1 .p-item .p-tit{
    font-size: 14px;
}
.page-hd-freezing-price .ui-sp-product-list-1 .p-item .p-pic{
    height: 150px;
    padding-top: 50px;
}
.page-hd-freezing-price .ui-sp-product-list-1 .p-item .p-pic img {
    height: 115px;
}
/*活动商品列表样式 end*/

/*服务介绍*/
.page-hd-freezing-price .block-service-intro,
.page-hd-freezing-price .block-service-intro .block-inner {
    background: url(https://p0.ssl.qhmsg.com/t01414979c8b0ce3e99.jpg) no-repeat center;
}
.page-hd-freezing-price .block-service-intro .block-inner{
    height: 266px;
    padding: 20px 0;
}
/*二维码扫一扫*/
.page-hd-freezing-price .block-qrcode-info .block-inner {
    height: 266px;
    background:url(https://p1.ssl.qhmsg.com/t0139603d910ddc5bf9.jpg) no-repeat center 0;
    padding: 20px 0;
}

/*活动说明*/
.page-hd-freezing-price .block-desc{
    color: #aa242f;
}
.page-hd-freezing-price .block-desc .block-inner{
    padding: 20px 0 80px 0;
}
.page-hd-freezing-price .block-desc .block-desc-cont{
    color: #aa242f;
    /*padding: 15px 0 0;*/
    background-color: #fbd743;
    /*text-align: center;*/
    /*border-radius: 5px;*/
    padding: 10px 20px 20px;
}
.page-hd-freezing-price .block-desc .block-desc-cont h3{
    font-weight: bold;
    font-size: 22px;
}
.page-hd-freezing-price .block-desc .block-desc-cont p{
    font-size: 16px;
}
