.page-zhimacredit-shopHs-order-OMS-submit {
    width: 100%;
    max-width: 3.2rem;
    margin: 0 auto;
    position: relative;
}

/* 页面主体部分 */
.page-zhimacredit-shopHs-order-OMS-submit #Main.main {
    min-height: 100vh;
    background-color: #fff;
}

.page-zhimacredit-shopHs-order-OMS-submit input {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0 none;
}

/* 页面顶部logo区域 */
.page-zhimacredit-shopHs-order-OMS-submit .oms-top-logo {
    height: 2.261rem;
    background: url(https://p0.ssl.qhmsg.com/t0146a2d3c48181db7e.png) no-repeat;
    background-size: contain;
    position: relative;
    padding-top: .5802rem;
    overflow: hidden;
}

/* 顶部 logo 区域,logo文字 */
.page-zhimacredit-shopHs-order-OMS-submit .oms-top-logo .title {
    position: absolute;
    left: -100vw;
    top: 0;
}

/* 成功获取 */
.page-zhimacredit-shopHs-order-OMS-submit .oms-top-logo .tips {
    text-align: center;
    font-size: .256rem;
    font-weight: bold;
    height: .256rem;
    line-height: .256rem;
    color: #fede92;
}

/* oms 单号提交 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit {
    position: relative;
    height: 2rem;
}

/* 补贴主体 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit-container {
    width: 2.7733rem;
    height: 2.9013rem;
    background: url(https://p2.ssl.qhmsg.com/t01dfe4aa34020aa208.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: -1.2288rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: .0384rem .0682rem .0768rem rgba(0,0,0,.1);
    border-radius: .0426rem;
    overflow: hidden;
}

/* 购机补贴 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit .gouji-butie {
    padding-top: .3242rem;
    color: #b68d3f;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: .9301rem;
    position: relative;
}
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit .gouji-butie .goujibutie-title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .3242rem;
    line-height: .3242rem;
    font-size: .128rem;
    text-align: center;
    color: #cda75c;
}
/* 购机补贴 标 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit span {
    font-size: .2048rem;
    height: .2048rem;
    line-height: .2048rem;
}

/* 购机补贴 钱数 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit .butie-price {
    font-size: .512rem;
    height: .512rem;
    line-height: .512rem;
    /*font-weight: bold;*/
}

/* 凭发票领补贴 说明文字 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit .gouji-tips {
    padding: .0768rem 0;
    text-align: center;
}
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-submit .gouji-tips span {
    line-height: .2048rem;
    font-size: .128rem;
    color: #9f7634;
}

/* oms 单号输入 */
.page-zhimacredit-shopHs-order-OMS-submit #omsSubmitForm .oms-number {
    width: 2.432rem;
    height: .384rem;
    line-height: .384rem;
    margin: 0 auto;
}

.page-zhimacredit-shopHs-order-OMS-submit .oms-number input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: .128rem;
    border: .008533rem solid #b2862a;
}

/* oms 提交 领取补贴 */
.page-zhimacredit-shopHs-order-OMS-submit #omsSubmitForm .oms-submit-btn {
    margin: .1194rem auto 0;
    width: 1.8944rem;
    height: .3584rem;
    font-size: .1536rem;
    line-height: .3584rem;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: #b08326;
}

/* oms 提交页面底部发票提示 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-bottom-tips {
    height: .1536rem;
    line-height: .1536rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2048rem;
    color: #926100;
}

/* 问号 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-bottom-tips .oms-icon {
    width: .1536rem;
    font-size: .128rem;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #eac570;
    margin-right: .0426rem;
}

/* 咨询店员 文字 */
.page-zhimacredit-shopHs-order-OMS-submit .block-oms-bottom-tips .oms-text {
    font-size: .1024rem;
}

/* 查看身边的苏宁门店 */
.page-zhimacredit-shopHs-order-OMS-submit .nearby-shop .shop-link .to-link {
    width: 1.92rem;
    height: .384rem;
    line-height: .384rem;
    text-align: center;
    border: .01rem solid #e1d3b6;
    border-radius: 100px;
    color: #9f7634;
    margin: 0 auto;
    font-size: .1536rem;
    font-weight: bold;
}
.page-zhimacredit-shopHs-order-OMS-submit .nearby-shop .shop-link {
    margin-bottom: .2rem;
}

/* 查看周边门店,提示文字 */
.page-zhimacredit-shopHs-order-OMS-submit .nearby-shop .shop-tips {
    padding: 0 .170rem;
    text-align: center;
    color: #9f7634;
    font-size: .1024rem;
    line-height: .1536rem;
}

